{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Inactive Vendors",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Project Inactive Vendors",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/vendors/inactive": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Inactive Vendors",
    "description": "Return a list of all Inactive Vendors associated with a Project.",
    "tags": [
     "Project Inactive Vendors"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "The normal view provides what is shown below.\nThe extended view is the same as the normal view but includes children_count, legal_name, parent, and bidding.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of project Inactive Vendors",
         "items": {
          "allOf": [
           {
            "type": "object",
            "title": "normal view",
            "properties": {
             "id": {
              "type": "integer",
              "example": 161072
             },
             "name": {
              "type": "string",
              "example": "SID Architecture"
             },
             "abbreviated_name": {
              "description": "Abbreviated name",
              "example": "PE",
              "nullable": true,
              "type": "string"
             },
             "address": {
              "description": "Address",
              "example": "846 Dogglesworth Drive",
              "nullable": true,
              "type": "string"
             },
             "attachments": {
              "type": "array",
              "description": "Attachments",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 5324
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "name": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             },
             "authorized_bidder": {
              "type": "boolean",
              "description": "Authorized bidder status",
              "example": true
             },
             "business_id": {
              "description": "Business id",
              "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
              "nullable": true,
              "type": "string"
             },
             "business_phone": {
              "description": "Business phone",
              "example": "(812) 989-9810",
              "nullable": true,
              "type": "string"
             },
             "business_register": {
              "description": "business register",
              "properties": {
               "id": {
                "type": "integer",
                "example": 321
               },
               "type": {
                "type": "string",
                "description": "business register type (ABN, EIN)",
                "example": "abn"
               },
               "identifier": {
                "type": "string",
                "description": "Identification code",
                "example": "51824753556"
               },
               "verified_at": {
                "format": "date-time",
                "description": "Verified at",
                "example": "2018-06-11T15:56:25Z",
                "nullable": true,
                "type": "string"
               },
               "verification_status": {
                "description": "Verification status (active, cancelled, does_not_exist)",
                "example": "active",
                "enum": [
                 "active",
                 "cancelled",
                 "does_not_exist",
                 null
                ],
                "nullable": true,
                "type": "string"
               }
              },
              "example": {
               "id": 321,
               "type": "abn",
               "identifier": "51824753556",
               "verified_at": "2018-06-11T15:56:25Z",
               "verification_status": "active"
              },
              "nullable": true,
              "type": "object"
             },
             "city": {
              "description": "City",
              "example": "Jeffersonville",
              "nullable": true,
              "type": "string"
             },
             "company": {
              "description": "Company",
              "example": "Stock Construction",
              "nullable": true,
              "type": "string"
             },
             "company_vendor": {
              "type": "boolean",
              "description": "Denotes whether this is the Company's Vendor",
              "example": false
             },
             "contact_count": {
              "type": "integer",
              "description": "Count of active Contacts associated with the vendor record",
              "example": 5
             },
             "country_code": {
              "description": "Country code (ISO-3166 Alpha-2 format)",
              "example": "US",
              "nullable": true,
              "type": "string"
             },
             "created_at": {
              "format": "date-time",
              "description": "Created at",
              "example": "2016-10-23T21:39:40Z",
              "nullable": true,
              "type": "string"
             },
             "email_address": {
              "format": "email",
              "description": "Email address",
              "example": "jane.doe@example.com",
              "nullable": true,
              "type": "string"
             },
             "fax_number": {
              "description": "Fax number",
              "example": "(812) 989-9810",
              "nullable": true,
              "type": "string"
             },
             "is_active": {
              "type": "boolean",
              "description": "Active status",
              "example": true
             },
             "is_connected": {
              "type": "boolean",
              "description": "Connected status",
              "example": true
             },
             "labor_union": {
              "description": "Labor union",
              "example": "IWW 872",
              "nullable": true,
              "type": "string"
             },
             "license_number": {
              "description": "License number",
              "example": "1901XYZ",
              "nullable": true,
              "type": "string"
             },
             "logo": {
              "description": "Logo url",
              "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
              "nullable": true,
              "type": "string"
             },
             "mobile_phone": {
              "description": "Mobile phone",
              "example": "(812) 989-9810",
              "nullable": true,
              "type": "string"
             },
             "non_union_prevailing_wage": {
              "type": "boolean",
              "description": "Non union prevailing wage status",
              "example": false
             },
             "notes": {
              "description": "Notes",
              "example": "owned by a dog",
              "nullable": true,
              "type": "string"
             },
             "origin_code": {
              "description": "Origin Code",
              "example": "foobar",
              "nullable": true,
              "type": "string"
             },
             "origin_data": {
              "description": "Origin data",
              "example": "OD-2398273424",
              "nullable": true,
              "type": "string"
             },
             "origin_id": {
              "description": "Origin ID",
              "example": "foobar",
              "nullable": true,
              "type": "string"
             },
             "prequalified": {
              "type": "boolean",
              "description": "Prequalified status",
              "example": false
             },
             "primary_contact": {
              "description": "Primary contact",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1306796
               },
               "first_name": {
                "type": "string",
                "description": "First name",
                "example": "John"
               },
               "last_name": {
                "type": "string",
                "description": "Last name",
                "example": "Doe"
               },
               "business_phone": {
                "description": "Business phone",
                "nullable": true,
                "type": "string"
               },
               "business_phone_extension": {
                "description": "Business phone extension",
                "nullable": true,
                "type": "integer"
               },
               "fax_number": {
                "description": "Fax number",
                "nullable": true,
                "type": "string"
               },
               "mobile_phone": {
                "description": "Mobile phone",
                "nullable": true,
                "type": "string"
               },
               "email_address": {
                "type": "string",
                "format": "email",
                "description": "Email",
                "example": "john.doe@example.com"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created at",
                "example": "2016-10-23T21:39:40Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Updated at",
                "example": "2016-10-23T21:39:40Z"
               }
              },
              "example": {
               "id": 1306796,
               "first_name": "John",
               "last_name": "Doe",
               "business_phone": "5555555555",
               "business_phone_extension": 123,
               "fax_number": "5555555555",
               "mobile_phone": "5555555555",
               "email_address": "john.doe@example.com",
               "created_at": "2016-10-23T21:39:40Z",
               "updated_at": "2016-10-23T21:39:40Z"
              },
              "nullable": true,
              "type": "object"
             },
             "state_code": {
              "description": "State code (ISO-3166 Alpha-2 format)",
              "example": "IN",
              "nullable": true,
              "type": "string"
             },
             "synced_to_erp": {
              "type": "boolean",
              "description": "Synced to ERP",
              "example": false
             },
             "trade_name": {
              "type": "string",
              "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
              "example": "Woofer Electric"
             },
             "union_member": {
              "type": "boolean",
              "description": "Union member status",
              "example": false
             },
             "updated_at": {
              "format": "date-time",
              "description": "Updated at",
              "example": "2016-10-23T21:39:40Z",
              "nullable": true,
              "type": "string"
             },
             "vendor_group": {
              "required": [
               "name"
              ],
              "properties": {
               "id": {
                "type": "integer",
                "example": 1
               },
               "name": {
                "type": "string",
                "maxLength": 255,
                "example": "Otis Elevators"
               }
              },
              "example": {
               "id": 1,
               "name": "Otis Elevators"
              },
              "nullable": true,
              "type": "object"
             },
             "website": {
              "description": "Website url",
              "example": "http://poodleparade.com",
              "nullable": true,
              "type": "string"
             },
             "zip": {
              "description": "Zip code",
              "example": "47130",
              "nullable": true,
              "type": "string"
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "_links": {
              "type": "object",
              "description": "API Links",
              "properties": {
               "reactivate": {
                "type": "string",
                "description": "Link to reactivate vendor",
                "example": "https://api.procore.com/rest/v1.0/companies/1/vendors/inactive/1"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/vendors/inactive',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/vendors/inactive?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/vendors/inactive?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/vendors/inactive?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Connected Status for List project inactive vendors",
      "description": "Added `is_connected` to payload response body.",
      "endpoint": "GET /projects/{project_id}/vendors/inactive",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-03-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inactive-vendors?version=1.0#list-project-inactive-vendors"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/vendors/inactive/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "view",
     "in": "query",
     "description": "The normal view provides what is shown below.\nThe extended view is the same as the normal view but includes children_count, legal_name, parent, and bidding.\nThe default view is normal.",
     "schema": {
      "type": "string",
      "enum": [
       "normal",
       "extended"
      ]
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the vendor",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Reactivate project vendor",
    "description": "Reactivate a specified Project Vendor.",
    "tags": [
     "Project Inactive Vendors"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "normal view",
         "properties": {
          "id": {
           "type": "integer",
           "example": 161072
          },
          "name": {
           "type": "string",
           "example": "SID Architecture"
          },
          "abbreviated_name": {
           "description": "Abbreviated name",
           "example": "PE",
           "nullable": true,
           "type": "string"
          },
          "address": {
           "description": "Address",
           "example": "846 Dogglesworth Drive",
           "nullable": true,
           "type": "string"
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "name": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "authorized_bidder": {
           "type": "boolean",
           "description": "Authorized bidder status",
           "example": true
          },
          "business_id": {
           "description": "Business id",
           "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
           "nullable": true,
           "type": "string"
          },
          "business_phone": {
           "description": "Business phone",
           "example": "(812) 989-9810",
           "nullable": true,
           "type": "string"
          },
          "business_register": {
           "description": "business register",
           "properties": {
            "id": {
             "type": "integer",
             "example": 321
            },
            "type": {
             "type": "string",
             "description": "business register type (ABN, EIN)",
             "example": "abn"
            },
            "identifier": {
             "type": "string",
             "description": "Identification code",
             "example": "51824753556"
            },
            "verified_at": {
             "format": "date-time",
             "description": "Verified at",
             "example": "2018-06-11T15:56:25Z",
             "nullable": true,
             "type": "string"
            },
            "verification_status": {
             "description": "Verification status (active, cancelled, does_not_exist)",
             "example": "active",
             "enum": [
              "active",
              "cancelled",
              "does_not_exist",
              null
             ],
             "nullable": true,
             "type": "string"
            }
           },
           "example": {
            "id": 321,
            "type": "abn",
            "identifier": "51824753556",
            "verified_at": "2018-06-11T15:56:25Z",
            "verification_status": "active"
           },
           "nullable": true,
           "type": "object"
          },
          "city": {
           "description": "City",
           "example": "Jeffersonville",
           "nullable": true,
           "type": "string"
          },
          "company": {
           "description": "Company",
           "example": "Stock Construction",
           "nullable": true,
           "type": "string"
          },
          "company_vendor": {
           "type": "boolean",
           "description": "Denotes whether this is the Company's Vendor",
           "example": false
          },
          "contact_count": {
           "type": "integer",
           "description": "Count of active Contacts associated with the vendor record",
           "example": 5
          },
          "country_code": {
           "description": "Country code (ISO-3166 Alpha-2 format)",
           "example": "US",
           "nullable": true,
           "type": "string"
          },
          "created_at": {
           "format": "date-time",
           "description": "Created at",
           "example": "2016-10-23T21:39:40Z",
           "nullable": true,
           "type": "string"
          },
          "email_address": {
           "format": "email",
           "description": "Email address",
           "example": "jane.doe@example.com",
           "nullable": true,
           "type": "string"
          },
          "fax_number": {
           "description": "Fax number",
           "example": "(812) 989-9810",
           "nullable": true,
           "type": "string"
          },
          "is_active": {
           "type": "boolean",
           "description": "Active status",
           "example": true
          },
          "is_connected": {
           "type": "boolean",
           "description": "Connected status",
           "example": true
          },
          "labor_union": {
           "description": "Labor union",
           "example": "IWW 872",
           "nullable": true,
           "type": "string"
          },
          "license_number": {
           "description": "License number",
           "example": "1901XYZ",
           "nullable": true,
           "type": "string"
          },
          "logo": {
           "description": "Logo url",
           "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
           "nullable": true,
           "type": "string"
          },
          "mobile_phone": {
           "description": "Mobile phone",
           "example": "(812) 989-9810",
           "nullable": true,
           "type": "string"
          },
          "non_union_prevailing_wage": {
           "type": "boolean",
           "description": "Non union prevailing wage status",
           "example": false
          },
          "notes": {
           "description": "Notes",
           "example": "owned by a dog",
           "nullable": true,
           "type": "string"
          },
          "origin_code": {
           "description": "Origin Code",
           "example": "foobar",
           "nullable": true,
           "type": "string"
          },
          "origin_data": {
           "description": "Origin data",
           "example": "OD-2398273424",
           "nullable": true,
           "type": "string"
          },
          "origin_id": {
           "description": "Origin ID",
           "example": "foobar",
           "nullable": true,
           "type": "string"
          },
          "prequalified": {
           "type": "boolean",
           "description": "Prequalified status",
           "example": false
          },
          "primary_contact": {
           "description": "Primary contact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1306796
            },
            "first_name": {
             "type": "string",
             "description": "First name",
             "example": "John"
            },
            "last_name": {
             "type": "string",
             "description": "Last name",
             "example": "Doe"
            },
            "business_phone": {
             "description": "Business phone",
             "nullable": true,
             "type": "string"
            },
            "business_phone_extension": {
             "description": "Business phone extension",
             "nullable": true,
             "type": "integer"
            },
            "fax_number": {
             "description": "Fax number",
             "nullable": true,
             "type": "string"
            },
            "mobile_phone": {
             "description": "Mobile phone",
             "nullable": true,
             "type": "string"
            },
            "email_address": {
             "type": "string",
             "format": "email",
             "description": "Email",
             "example": "john.doe@example.com"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2016-10-23T21:39:40Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated at",
             "example": "2016-10-23T21:39:40Z"
            }
           },
           "example": {
            "id": 1306796,
            "first_name": "John",
            "last_name": "Doe",
            "business_phone": "5555555555",
            "business_phone_extension": 123,
            "fax_number": "5555555555",
            "mobile_phone": "5555555555",
            "email_address": "john.doe@example.com",
            "created_at": "2016-10-23T21:39:40Z",
            "updated_at": "2016-10-23T21:39:40Z"
           },
           "nullable": true,
           "type": "object"
          },
          "state_code": {
           "description": "State code (ISO-3166 Alpha-2 format)",
           "example": "IN",
           "nullable": true,
           "type": "string"
          },
          "synced_to_erp": {
           "type": "boolean",
           "description": "Synced to ERP",
           "example": false
          },
          "trade_name": {
           "type": "string",
           "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
           "example": "Woofer Electric"
          },
          "union_member": {
           "type": "boolean",
           "description": "Union member status",
           "example": false
          },
          "updated_at": {
           "format": "date-time",
           "description": "Updated at",
           "example": "2016-10-23T21:39:40Z",
           "nullable": true,
           "type": "string"
          },
          "vendor_group": {
           "required": [
            "name"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "example": 1
            },
            "name": {
             "type": "string",
             "maxLength": 255,
             "example": "Otis Elevators"
            }
           },
           "example": {
            "id": 1,
            "name": "Otis Elevators"
           },
           "nullable": true,
           "type": "object"
          },
          "website": {
           "description": "Website url",
           "example": "http://poodleparade.com",
           "nullable": true,
           "type": "string"
          },
          "zip": {
           "description": "Zip code",
           "example": "47130",
           "nullable": true,
           "type": "string"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/vendors/inactive/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/vendors/inactive/%7Bid%7D?view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/vendors/inactive/%7Bid%7D?view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/vendors/inactive/%7Bid%7D?view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Publically Release Reactivate Project Vendor",
      "description": "Release endpoint that allows reactivating an Inactive Project Vendor",
      "endpoint": "PATCH /projects/{project_id}/vendors/inactive/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-11-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inactive-vendors?version=1.0#reactivate-project-vendor"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}