{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Action Plan Template References",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Project Action Plan Template References",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_template_references": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Action Plan Template References",
    "description": "List of all Project Action Plan Template References available to a Project",
    "tags": [
     "Project Action Plan Template References"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[plan_template_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Project Action Plan Template Reference (Index)",
         "items": {
          "type": "object",
          "description": "Project Action Plan Template Reference (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the template reference.",
            "example": 12
           },
           "plan_template_item_id": {
            "type": "integer",
            "description": "Unique identifier of the template item this reference belongs to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Contains type-specific attributes. Which fields are present depends on the type value.",
            "properties": {
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             },
             "drawing_id": {
              "type": "integer",
              "description": "Identifier of the drawing the drawing revision belongs to. Present when type is 'drawing'."
             },
             "drawing_revision_id": {
              "type": "integer",
              "description": "Identifier of the latest drawing revision. Present when type is 'drawing'."
             },
             "file_version_id": {
              "type": "integer",
              "description": "Identifier of the latest file version of the folder file. Present when type is 'document'."
             },
             "folder_id": {
              "type": "integer",
              "description": "Identifier of the folder the file version belongs to. Present when type is 'document'."
             },
             "specification_section_id": {
              "type": "integer",
              "description": "Identifier of the specification section. Present when type is 'specification_section'.",
              "example": 55
             },
             "specification_section_current_revision_id": {
              "type": "integer",
              "description": "Identifier of the current revision of the specification section. Null if no revision exists.",
              "example": 42,
              "nullable": true
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "Identifier of the generic tool item (correspondence). Present when type is 'generic_tool_item'."
             },
             "form_id": {
              "type": "integer",
              "description": "Identifier of the form. Present when type is 'form'."
             },
             "image_id": {
              "type": "integer",
              "description": "Identifier of the image. Present when type is 'image'."
             },
             "meeting_id": {
              "type": "integer",
              "description": "Identifier of the meeting. Present when type is 'meeting'."
             },
             "observation_item_id": {
              "type": "integer",
              "description": "Identifier of the observation item. Present when type is 'observation_item'."
             },
             "document_management_document_reference": {
              "type": "object",
              "description": "Product Document Management (PDM) document reference details. Present when type is 'document_management_document_reference'.",
              "properties": {
               "collection_id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier of the document collection.",
                "example": "123e4567-e89b-12d3-a456-426614174000"
               },
               "container_id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier of the document container.",
                "example": "123e4567-e89b-12d3-a456-426614174001"
               },
               "document_revision_id": {
                "type": "string",
                "format": "uuid",
                "description": "Identifier of the document revision. Null for templates; always shows latest for plans.",
                "example": "123e4567-e89b-12d3-a456-426614174002",
                "nullable": true
               },
               "document_name": {
                "type": "string",
                "description": "Display name of the document.",
                "example": "contract.pdf"
               },
               "viewer_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to view the document in the browser.",
                "example": "https://app.procore.com/..."
               }
              }
             }
            }
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 985
           },
           "type": {
            "type": "string",
            "description": "Categorization of the reference. Determines which payload fields are populated.",
            "enum": [
             "attachment",
             "drawing",
             "document",
             "document_management_document_reference",
             "specification_section",
             "generic_tool_item",
             "form",
             "image",
             "meeting",
             "observation_item"
            ],
            "example": "attachment"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[plan_template_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project scoped Company Action Plan Template Reference list endpoint",
      "description": "Get a list of Company Action Plan Template References available to a given project.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_template_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-references?version=1.0#list-project-action-plan-template-references"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Project Action Plan Template Reference",
    "description": "Create a Project Action Plan Template Reference",
    "tags": [
     "Project Action Plan Template References"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_reference"
        ],
        "properties": {
         "plan_template_reference": {
          "type": "object",
          "required": [
           "payload",
           "plan_template_item_id",
           "type"
          ],
          "properties": {
           "plan_template_item_id": {
            "type": "integer",
            "description": "Project Action Plan Template Item ID",
            "example": 54
           },
           "type": {
            "type": "string",
            "description": "Action Plan Reference Type",
            "enum": [
             "attachment",
             "drawing",
             "document",
             "document_management_document_reference",
             "specification_section",
             "generic_tool_item",
             "form",
             "image",
             "meeting",
             "observation_item"
            ],
            "example": "specification_section"
           },
           "payload": {
            "type": "object",
            "description": "One of attachment, drawing_revision_id, file_version_id, document_management_document_reference, specification_section_id, generic_tool_item_id, form_id, image_id, meeting_id, or observation_item_id is accepted depending on the type provided",
            "properties": {
             "drawing_revision_id": {
              "type": "integer",
              "description": "Drawing Revision ID",
              "example": 53
             },
             "file_version_id": {
              "type": "integer",
              "description": "File Version ID",
              "example": 54
             },
             "document_management_document_reference": {
              "type": "object",
              "description": "PDM (Product Document Management) document reference",
              "properties": {
               "collection_id": {
                "type": "string",
                "format": "uuid",
                "description": "Document collection ID",
                "example": "123e4567-e89b-12d3-a456-426614174000"
               },
               "container_id": {
                "type": "string",
                "format": "uuid",
                "description": "Document container ID",
                "example": "123e4567-e89b-12d3-a456-426614174001"
               }
              }
             },
             "specification_section_id": {
              "type": "integer",
              "description": "Specification Section ID",
              "example": 55
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "Generic Tool Item (Correspondence) ID",
              "example": 56
             },
             "form_id": {
              "type": "integer",
              "description": "Form ID",
              "example": 57
             },
             "image_id": {
              "type": "integer",
              "description": "Image ID",
              "example": 60
             },
             "meeting_id": {
              "type": "integer",
              "description": "Meeting ID",
              "example": 58
             },
             "observation_item_id": {
              "type": "integer",
              "description": "Observation Item ID",
              "example": 59
             }
            }
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_reference"
        ],
        "properties": {
         "plan_template_reference": {
          "type": "object",
          "required": [
           "payload",
           "plan_template_item_id",
           "type"
          ],
          "properties": {
           "plan_template_item_id": {
            "type": "integer",
            "description": "Project Action Plan Template Item ID",
            "example": 54
           },
           "type": {
            "type": "string",
            "description": "Action Plan Reference Type",
            "enum": [
             "attachment",
             "drawing",
             "document",
             "document_management_document_reference",
             "specification_section",
             "generic_tool_item",
             "form",
             "image",
             "meeting",
             "observation_item"
            ],
            "example": "attachment"
           },
           "payload": {
            "type": "object",
            "description": "One of attachment, drawing_revision_id, file_version_id, specification_section_id, generic_tool_item_id, form_id, image_id, meeting_id, or observation_item_id is accepted depending on the type provided",
            "properties": {
             "drawing_revision_id": {
              "type": "integer",
              "description": "Drawing Revision ID",
              "example": 53
             },
             "file_version_id": {
              "type": "integer",
              "description": "File Version ID",
              "example": 54
             },
             "document_management_document_reference": {
              "type": "object",
              "description": "PDM (Product Document Management) document reference",
              "properties": {
               "collection_id": {
                "type": "string",
                "format": "uuid",
                "description": "Document collection ID",
                "example": "123e4567-e89b-12d3-a456-426614174000"
               },
               "container_id": {
                "type": "string",
                "format": "uuid",
                "description": "Document container ID",
                "example": "123e4567-e89b-12d3-a456-426614174001"
               }
              }
             },
             "specification_section_id": {
              "type": "integer",
              "description": "Specification Section ID",
              "example": 55
             },
             "attachment": {
              "type": "string",
              "format": "binary",
              "description": "Reference Attachment.\nTo upload an attachment you must upload the entire payload as `multipart/form-data` content-type\nwith the `attachment` file."
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "Generic Tool Item (Correspondence) ID",
              "example": 56
             },
             "form_id": {
              "type": "integer",
              "description": "Form ID",
              "example": 57
             },
             "image_id": {
              "type": "integer",
              "description": "Image ID",
              "example": 60
             },
             "meeting_id": {
              "type": "integer",
              "description": "Meeting ID",
              "example": 58
             },
             "observation_item_id": {
              "type": "integer",
              "description": "Observation Item ID",
              "example": 59
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Project Action Plan Template Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template reference.",
           "example": 12
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this reference belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains type-specific attributes. Which fields are present depends on the type value.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            },
            "drawing_id": {
             "type": "integer",
             "description": "Identifier of the drawing the drawing revision belongs to. Present when type is 'drawing'."
            },
            "drawing_revision_id": {
             "type": "integer",
             "description": "Identifier of the latest drawing revision. Present when type is 'drawing'."
            },
            "file_version_id": {
             "type": "integer",
             "description": "Identifier of the latest file version of the folder file. Present when type is 'document'."
            },
            "folder_id": {
             "type": "integer",
             "description": "Identifier of the folder the file version belongs to. Present when type is 'document'."
            },
            "specification_section_id": {
             "type": "integer",
             "description": "Identifier of the specification section. Present when type is 'specification_section'.",
             "example": 55
            },
            "specification_section_current_revision_id": {
             "type": "integer",
             "description": "Identifier of the current revision of the specification section. Null if no revision exists.",
             "example": 42,
             "nullable": true
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "Identifier of the generic tool item (correspondence). Present when type is 'generic_tool_item'."
            },
            "form_id": {
             "type": "integer",
             "description": "Identifier of the form. Present when type is 'form'."
            },
            "image_id": {
             "type": "integer",
             "description": "Identifier of the image. Present when type is 'image'."
            },
            "meeting_id": {
             "type": "integer",
             "description": "Identifier of the meeting. Present when type is 'meeting'."
            },
            "observation_item_id": {
             "type": "integer",
             "description": "Identifier of the observation item. Present when type is 'observation_item'."
            },
            "document_management_document_reference": {
             "type": "object",
             "description": "Product Document Management (PDM) document reference details. Present when type is 'document_management_document_reference'.",
             "properties": {
              "collection_id": {
               "type": "string",
               "format": "uuid",
               "description": "Unique identifier of the document collection.",
               "example": "123e4567-e89b-12d3-a456-426614174000"
              },
              "container_id": {
               "type": "string",
               "format": "uuid",
               "description": "Unique identifier of the document container.",
               "example": "123e4567-e89b-12d3-a456-426614174001"
              },
              "document_revision_id": {
               "type": "string",
               "format": "uuid",
               "description": "Identifier of the document revision. Null for templates; always shows latest for plans.",
               "example": "123e4567-e89b-12d3-a456-426614174002",
               "nullable": true
              },
              "document_name": {
               "type": "string",
               "description": "Display name of the document.",
               "example": "contract.pdf"
              },
              "viewer_url": {
               "type": "string",
               "format": "uri",
               "description": "URL to view the document in the browser.",
               "example": "https://app.procore.com/..."
              }
             }
            }
           }
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Categorization of the reference. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "drawing",
            "document",
            "document_management_document_reference",
            "specification_section",
            "generic_tool_item",
            "form",
            "image",
            "meeting",
            "observation_item"
           ],
           "example": "attachment"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_reference: {\n      plan_template_item_id: 54,\n      type: 'specification_section',\n      payload: {\n        drawing_revision_id: 53,\n        file_version_id: 54,\n        document_management_document_reference: {\n          collection_id: '123e4567-e89b-12d3-a456-426614174000',\n          container_id: '123e4567-e89b-12d3-a456-426614174001'\n        },\n        specification_section_id: 55,\n        generic_tool_item_id: 56,\n        form_id: 57,\n        image_id: 60,\n        meeting_id: 58,\n        observation_item_id: 59\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_reference\\\":{\\\"plan_template_item_id\\\":54,\\\"type\\\":\\\"specification_section\\\",\\\"payload\\\":{\\\"drawing_revision_id\\\":53,\\\"file_version_id\\\":54,\\\"document_management_document_reference\\\":{\\\"collection_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"container_id\\\":\\\"123e4567-e89b-12d3-a456-426614174001\\\"},\\\"specification_section_id\\\":55,\\\"generic_tool_item_id\\\":56,\\\"form_id\\\":57,\\\"image_id\\\":60,\\\"meeting_id\\\":58,\\\"observation_item_id\\\":59}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_reference\":{\"plan_template_item_id\":54,\"type\":\"specification_section\",\"payload\":{\"drawing_revision_id\":53,\"file_version_id\":54,\"document_management_document_reference\":{\"collection_id\":\"123e4567-e89b-12d3-a456-426614174000\",\"container_id\":\"123e4567-e89b-12d3-a456-426614174001\"},\"specification_section_id\":55,\"generic_tool_item_id\":56,\"form_id\":57,\"image_id\":60,\"meeting_id\":58,\"observation_item_id\":59}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references\"),\n    Content = new StringContent(\"{\\\"plan_template_reference\\\":{\\\"plan_template_item_id\\\":54,\\\"type\\\":\\\"specification_section\\\",\\\"payload\\\":{\\\"drawing_revision_id\\\":53,\\\"file_version_id\\\":54,\\\"document_management_document_reference\\\":{\\\"collection_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"container_id\\\":\\\"123e4567-e89b-12d3-a456-426614174001\\\"},\\\"specification_section_id\\\":55,\\\"generic_tool_item_id\\\":56,\\\"form_id\\\":57,\\\"image_id\\\":60,\\\"meeting_id\\\":58,\\\"observation_item_id\\\":59}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    plan_template_reference: '{\"plan_template_item_id\":54,\"type\":\"attachment\",\"payload\":{\"drawing_revision_id\":53,\"file_version_id\":54,\"document_management_document_reference\":{\"collection_id\":\"123e4567-e89b-12d3-a456-426614174000\",\"container_id\":\"123e4567-e89b-12d3-a456-426614174001\"},\"specification_section_id\":55,\"attachment\":\"string\",\"generic_tool_item_id\":56,\"form_id\":57,\"image_id\":60,\"meeting_id\":58,\"observation_item_id\":59}}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"plan_template_reference\\\"\\r\\n\\r\\n{\\\"plan_template_item_id\\\":54,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"drawing_revision_id\\\":53,\\\"file_version_id\\\":54,\\\"document_management_document_reference\\\":{\\\"collection_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"container_id\\\":\\\"123e4567-e89b-12d3-a456-426614174001\\\"},\\\"specification_section_id\\\":55,\\\"attachment\\\":\\\"string\\\",\\\"generic_tool_item_id\\\":56,\\\"form_id\\\":57,\\\"image_id\\\":60,\\\"meeting_id\\\":58,\\\"observation_item_id\\\":59}}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'plan_template_reference={\"plan_template_item_id\":54,\"type\":\"attachment\",\"payload\":{\"drawing_revision_id\":53,\"file_version_id\":54,\"document_management_document_reference\":{\"collection_id\":\"123e4567-e89b-12d3-a456-426614174000\",\"container_id\":\"123e4567-e89b-12d3-a456-426614174001\"},\"specification_section_id\":55,\"attachment\":\"string\",\"generic_tool_item_id\":56,\"form_id\":57,\"image_id\":60,\"meeting_id\":58,\"observation_item_id\":59}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"plan_template_item_id\\\":54,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"drawing_revision_id\\\":53,\\\"file_version_id\\\":54,\\\"document_management_document_reference\\\":{\\\"collection_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"container_id\\\":\\\"123e4567-e89b-12d3-a456-426614174001\\\"},\\\"specification_section_id\\\":55,\\\"attachment\\\":\\\"string\\\",\\\"generic_tool_item_id\\\":56,\\\"form_id\\\":57,\\\"image_id\\\":60,\\\"meeting_id\\\":58,\\\"observation_item_id\\\":59}}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"plan_template_reference\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Action Plan Template Reference create endpoint",
      "description": "Create a Project Action Plan Template Reference for a given project.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_template_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-references?version=1.0#create-project-action-plan-template-reference"
     },
     {
      "summary": "Updated Project Action Plan Template Reference create endpoint request",
      "description": "Added `image` reference type Project Action Plan Template Reference create request.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_template_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-references?version=1.0#create-project-action-plan-template-reference"
     },
     {
      "summary": "Added PDM (Product Document Management) document reference support",
      "description": "Added `document_management_document_reference` reference type to create endpoint for Project Action Plan Template References. This allows attaching PDM documents to template items.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_template_references",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-references?version=1.0#create-project-action-plan-template-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_template_references/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Project Action Plan Template Reference ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Project Action Plan Template Reference",
    "description": "View the details of a Project Action Plan Template Reference from a given Project",
    "tags": [
     "Project Action Plan Template References"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Project Action Plan Template Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template reference.",
           "example": 12
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this reference belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains type-specific attributes. Which fields are present depends on the type value.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            },
            "drawing_id": {
             "type": "integer",
             "description": "Identifier of the drawing the drawing revision belongs to. Present when type is 'drawing'."
            },
            "drawing_revision_id": {
             "type": "integer",
             "description": "Identifier of the latest drawing revision. Present when type is 'drawing'."
            },
            "file_version_id": {
             "type": "integer",
             "description": "Identifier of the latest file version of the folder file. Present when type is 'document'."
            },
            "folder_id": {
             "type": "integer",
             "description": "Identifier of the folder the file version belongs to. Present when type is 'document'."
            },
            "specification_section_id": {
             "type": "integer",
             "description": "Identifier of the specification section. Present when type is 'specification_section'.",
             "example": 55
            },
            "specification_section_current_revision_id": {
             "type": "integer",
             "description": "Identifier of the current revision of the specification section. Null if no revision exists.",
             "example": 42,
             "nullable": true
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "Identifier of the generic tool item (correspondence). Present when type is 'generic_tool_item'."
            },
            "form_id": {
             "type": "integer",
             "description": "Identifier of the form. Present when type is 'form'."
            },
            "image_id": {
             "type": "integer",
             "description": "Identifier of the image. Present when type is 'image'."
            },
            "meeting_id": {
             "type": "integer",
             "description": "Identifier of the meeting. Present when type is 'meeting'."
            },
            "observation_item_id": {
             "type": "integer",
             "description": "Identifier of the observation item. Present when type is 'observation_item'."
            },
            "document_management_document_reference": {
             "type": "object",
             "description": "Product Document Management (PDM) document reference details. Present when type is 'document_management_document_reference'.",
             "properties": {
              "collection_id": {
               "type": "string",
               "format": "uuid",
               "description": "Unique identifier of the document collection.",
               "example": "123e4567-e89b-12d3-a456-426614174000"
              },
              "container_id": {
               "type": "string",
               "format": "uuid",
               "description": "Unique identifier of the document container.",
               "example": "123e4567-e89b-12d3-a456-426614174001"
              },
              "document_revision_id": {
               "type": "string",
               "format": "uuid",
               "description": "Identifier of the document revision. Null for templates; always shows latest for plans.",
               "example": "123e4567-e89b-12d3-a456-426614174002",
               "nullable": true
              },
              "document_name": {
               "type": "string",
               "description": "Display name of the document.",
               "example": "contract.pdf"
              },
              "viewer_url": {
               "type": "string",
               "format": "uri",
               "description": "URL to view the document in the browser.",
               "example": "https://app.procore.com/..."
              }
             }
            }
           }
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Categorization of the reference. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "drawing",
            "document",
            "document_management_document_reference",
            "specification_section",
            "generic_tool_item",
            "form",
            "image",
            "meeting",
            "observation_item"
           ],
           "example": "attachment"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Action Plan Template Reference show endpoint",
      "description": "Get a single Project Action Plan Template Reference available to a given project.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_template_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-references?version=1.0#show-project-action-plan-template-reference"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Project Action Plan Template Reference",
    "description": "Deletes a Project Action Plan Template Reference",
    "tags": [
     "Project Action Plan Template Reference"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Action Plan Template Reference destroy endpoint",
      "description": "Delete a Project Action Plan Template Reference for a given project.",
      "endpoint": "DELETE /projects/{project_id}/action_plans/plan_template_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-references?version=1.0#delete-project-action-plan-template-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_template_references": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Project Action Plan Template References",
    "description": "List of all Recycled Project Action Plan Template References",
    "tags": [
     "Project Action Plan Template References"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[plan_template_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Recycled Project Action Plan Template Reference (Index)",
         "items": {
          "type": "object",
          "description": "Recycled Project Action Plan Template Reference (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the deleted template reference.",
            "example": 12
           },
           "plan_template_item_id": {
            "type": "integer",
            "description": "Unique identifier of the template item this reference belongs to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was moved to the recycle bin. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Contains type-specific attributes. Which fields are present depends on the type value.",
            "properties": {
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             },
             "drawing_id": {
              "type": "integer",
              "description": "Identifier of the drawing the drawing revision belongs to. Present when type is 'drawing'."
             },
             "drawing_revision_id": {
              "type": "integer",
              "description": "Identifier of the latest drawing revision. Present when type is 'drawing'."
             },
             "file_version_id": {
              "type": "integer",
              "description": "Identifier of the latest file version of the folder file. Present when type is 'document'."
             },
             "folder_id": {
              "type": "integer",
              "description": "Identifier of the folder the file version belongs to. Present when type is 'document'."
             },
             "specification_section_id": {
              "type": "integer",
              "description": "Identifier of the specification section. Present when type is 'specification_section'.",
              "example": 55
             },
             "specification_section_current_revision_id": {
              "type": "integer",
              "description": "Identifier of the current revision of the specification section. Null if no revision exists.",
              "example": 42,
              "nullable": true
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "Identifier of the generic tool item (correspondence). Present when type is 'generic_tool_item'."
             },
             "form_id": {
              "type": "integer",
              "description": "Identifier of the form. Present when type is 'form'."
             },
             "image_id": {
              "type": "integer",
              "description": "Identifier of the image. Present when type is 'image'."
             },
             "meeting_id": {
              "type": "integer",
              "description": "Identifier of the meeting. Present when type is 'meeting'."
             },
             "observation_item_id": {
              "type": "integer",
              "description": "Identifier of the observation item. Present when type is 'observation_item'."
             },
             "document_management_document_reference": {
              "type": "object",
              "description": "Product Document Management (PDM) document reference details. Present when type is 'document_management_document_reference'.",
              "properties": {
               "collection_id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier of the document collection.",
                "example": "123e4567-e89b-12d3-a456-426614174000"
               },
               "container_id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier of the document container.",
                "example": "123e4567-e89b-12d3-a456-426614174001"
               },
               "document_revision_id": {
                "type": "string",
                "format": "uuid",
                "description": "Identifier of the document revision. Null for templates; always shows latest for plans.",
                "example": "123e4567-e89b-12d3-a456-426614174002",
                "nullable": true
               },
               "document_name": {
                "type": "string",
                "description": "Display name of the document.",
                "example": "contract.pdf"
               },
               "viewer_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to view the document in the browser.",
                "example": "https://app.procore.com/..."
               }
              }
             }
            }
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 985
           },
           "type": {
            "type": "string",
            "description": "Categorization of the reference. Determines which payload fields are populated.",
            "enum": [
             "attachment",
             "drawing",
             "document",
             "document_management_document_reference",
             "specification_section",
             "generic_tool_item",
             "form",
             "image",
             "meeting",
             "observation_item"
            ],
            "example": "attachment"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_template_references',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[plan_template_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Project Action Plan Template Reference index endpoint",
      "description": "Get a list of Recycled Project Action Plan Template References for a given project id.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_template_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-11-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-references?version=1.0#list-recycled-project-action-plan-template-references"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_template_references/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Template Reference ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Project Action Plan Template Reference",
    "description": "Returns a Recycled Project Action Plan Template Reference",
    "tags": [
     "Project Action Plan Template References"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Recycled Project Action Plan Template Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the deleted template reference.",
           "example": 12
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this reference belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was moved to the recycle bin. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains type-specific attributes. Which fields are present depends on the type value.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            },
            "drawing_id": {
             "type": "integer",
             "description": "Identifier of the drawing the drawing revision belongs to. Present when type is 'drawing'."
            },
            "drawing_revision_id": {
             "type": "integer",
             "description": "Identifier of the latest drawing revision. Present when type is 'drawing'."
            },
            "file_version_id": {
             "type": "integer",
             "description": "Identifier of the latest file version of the folder file. Present when type is 'document'."
            },
            "folder_id": {
             "type": "integer",
             "description": "Identifier of the folder the file version belongs to. Present when type is 'document'."
            },
            "specification_section_id": {
             "type": "integer",
             "description": "Identifier of the specification section. Present when type is 'specification_section'.",
             "example": 55
            },
            "specification_section_current_revision_id": {
             "type": "integer",
             "description": "Identifier of the current revision of the specification section. Null if no revision exists.",
             "example": 42,
             "nullable": true
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "Identifier of the generic tool item (correspondence). Present when type is 'generic_tool_item'."
            },
            "form_id": {
             "type": "integer",
             "description": "Identifier of the form. Present when type is 'form'."
            },
            "image_id": {
             "type": "integer",
             "description": "Identifier of the image. Present when type is 'image'."
            },
            "meeting_id": {
             "type": "integer",
             "description": "Identifier of the meeting. Present when type is 'meeting'."
            },
            "observation_item_id": {
             "type": "integer",
             "description": "Identifier of the observation item. Present when type is 'observation_item'."
            },
            "document_management_document_reference": {
             "type": "object",
             "description": "Product Document Management (PDM) document reference details. Present when type is 'document_management_document_reference'.",
             "properties": {
              "collection_id": {
               "type": "string",
               "format": "uuid",
               "description": "Unique identifier of the document collection.",
               "example": "123e4567-e89b-12d3-a456-426614174000"
              },
              "container_id": {
               "type": "string",
               "format": "uuid",
               "description": "Unique identifier of the document container.",
               "example": "123e4567-e89b-12d3-a456-426614174001"
              },
              "document_revision_id": {
               "type": "string",
               "format": "uuid",
               "description": "Identifier of the document revision. Null for templates; always shows latest for plans.",
               "example": "123e4567-e89b-12d3-a456-426614174002",
               "nullable": true
              },
              "document_name": {
               "type": "string",
               "description": "Display name of the document.",
               "example": "contract.pdf"
              },
              "viewer_url": {
               "type": "string",
               "format": "uri",
               "description": "URL to view the document in the browser.",
               "example": "https://app.procore.com/..."
              }
             }
            }
           }
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Categorization of the reference. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "drawing",
            "document",
            "document_management_document_reference",
            "specification_section",
            "generic_tool_item",
            "form",
            "image",
            "meeting",
            "observation_item"
           ],
           "example": "attachment"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_template_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_template_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_template_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_template_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Project Action Plan Template Reference show endpoint",
      "description": "Get a single Recycled Project Action Plan Template Reference for a given project id.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_template_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-11-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-references?version=1.0#show-recycled-project-action-plan-template-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_template_references/bulk_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk Create Action Plan Template References",
    "description": "Creates multiple Action Plan Template References",
    "tags": [
     "Action Plan Template References"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Whether to update what can be or nothing if one can not be updated. Defaults to \"all_or_nothing\"",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_references"
        ],
        "properties": {
         "plan_template_references": {
          "title": "Action Plan Template References",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "plan_template_item_id",
            "type",
            "payload"
           ],
           "properties": {
            "plan_template_item_id": {
             "type": "integer",
             "description": "Action Plan Template Item ID",
             "example": 54
            },
            "type": {
             "type": "string",
             "description": "Action Plan Reference Type",
             "enum": [
              "attachment",
              "drawing",
              "document",
              "document_management_document_reference",
              "specification_section",
              "submittal_log",
              "generic_tool_item",
              "form",
              "image",
              "meeting",
              "observation_item"
             ],
             "example": "specification_section"
            },
            "payload": {
             "type": "object",
             "description": "One of attachment, drawing_revision_id, file_version_id, document_management_document_reference, specification_section_id, submittal_log_id, generic_tool_item_id, form_id, image_id, meeting_id, or observation_item_id is accepted depending on the type provided",
             "properties": {
              "drawing_revision_id": {
               "type": "integer",
               "description": "Drawing Revision ID",
               "example": 53
              },
              "file_version_id": {
               "type": "integer",
               "description": "File Version ID",
               "example": 54
              },
              "document_management_document_reference": {
               "type": "object",
               "description": "PDM (Product Document Management) document reference",
               "properties": {
[...]
