{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Assignable Users",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Project Assignable Users",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/assignable_users": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Assignable Users",
    "description": "Return a list of assignable users for a given project",
    "tags": [
     "Project Assignable Users"
    ],
    "parameters": [
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Search query",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of assignable users",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "User ID",
            "example": 381006
           },
           "first_name": {
            "description": "User first name",
            "example": "Jane",
            "nullable": true,
            "type": "string"
           },
           "last_name": {
            "type": "string",
            "description": "User last name",
            "example": "Doe"
           },
           "name": {
            "type": "string",
            "description": "User full name",
            "example": "Jane Doe"
           },
           "job_title": {
            "description": "User job title",
            "example": "QA Manager",
            "nullable": true,
            "type": "string"
           },
           "vendor": {
            "properties": {
             "id": {
              "type": "integer",
              "example": 161072
             },
             "name": {
              "type": "string",
              "example": "SID Architecture"
             },
             "doing_business_as": {
              "type": "string",
              "example": "SID Architecture"
             }
            },
            "type": "object",
            "nullable": true
           },
           "project_permission_template_id": {
            "type": "integer",
            "description": "ID of the Permission Template",
            "example": 356,
            "nullable": true
           },
           "project_role_ids": {
            "type": "array",
            "description": "IDs of the user's roles on the project",
            "items": {
             "type": "integer"
            },
            "nullable": true
           },
           "assigned_to_project": {
            "type": "boolean",
            "description": "Denotes whether user is on the given project",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/assignable_users',\n  qs: {'filters[search]': 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/assignable_users?filters%5Bsearch%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/assignable_users?filters%5Bsearch%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/assignable_users?filters%5Bsearch%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Assignable Users endpoint",
      "description": "List assignable users for a given project",
      "endpoint": "GET /projects/{project_id}/assignable_users",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-12-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-assignable-users?version=1.0#list-assignable-users"
     }
    ]
   },
   "x-compliance-level": "partial"
  }
 }
}