{
 "openapi": "3.0.0",
 "info": {
  "title": "Project People",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Project People",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/people": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project People",
    "description": "Return a list of People associated with a Project. Includes users in the directory and reference users.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Project Users"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). Users without read permissions to Directory are limited to the normal and extended views. If a valid view is not provided, it will default to normal.",
      "schema": {
       "type": "string",
       "enum": [
        "extended",
        "normal",
        "web"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[is_employee]",
      "in": "query",
      "description": "If true, returns item(s) where `is_employee` value is true.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[reference_users_only]",
      "in": "query",
      "required": false,
      "description": "If true, returns only people who are reference users.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[without_reference_users]",
      "in": "query",
      "required": false,
      "description": "If true, returns only people who are not reference users.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[include_company_people]",
      "in": "query",
      "required": false,
      "description": "If true, returns people in the Company not just the Project. This option only works if the user has permission to create people in the project directory or permission to read from the company directory.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns People where the search string matches the Person's name (first, last, or full), email address, mobile phone, business phone, fax number, or job title.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[connected]",
      "in": "query",
      "description": "If true, returns only people who are connected users. If false, returns only people who are not connected users.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[job_title]",
      "in": "query",
      "description": "Returns only people who have the specified job title.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[country_code]",
      "in": "query",
      "description": "Returns only people who have the specified country code.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[state_code]",
      "in": "query",
      "description": "Returns only people who have the specified state code.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[trade_id]",
      "in": "query",
      "description": "Array of Trade IDs. Returns item(s) with the specified Trade IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[permission_template_id]",
      "in": "query",
      "description": "Array of Permission Template IDs. Returns item(s) with the specified Permission Template IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name",
        "vendor_name",
        "job_title",
        "permission_template"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of project People",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "title": "Normal",
            "description": "Project Person",
            "properties": {
             "contact": {
              "type": "object",
              "description": "The Contact associated with the Project Person",
              "properties": {
               "is_active": {
                "type": "boolean",
                "description": "The active status of the Contact associated with the Project Person"
               },
               "email": {
                "type": "string",
                "description": "The email address of the contact.",
                "example": "paul@example.com"
               }
              }
             },
             "contact_id": {
              "type": "integer",
              "description": "Contact ID for the Project Person",
              "example": 38965
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID for the Project Person",
              "example": "123456789",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "Project Person first name",
              "example": "Leah"
             },
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Project Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "Employee status for the Project Person",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "Project Person last name",
              "example": "Russell"
             },
             "name": {
              "type": "string",
              "description": "Project Person full name",
              "example": "Leah Russell"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "user_uuid": {
              "type": "integer",
              "description": "The user UUID for if this Company Person represents a user. This value is set to NULL for a Reference User.",
              "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
              "nullable": true
             },
             "work_classification_id": {
              "type": "integer",
              "description": "Work Classification ID for the Project Person",
              "example": 398438,
              "nullable": true
             },
             "origin_id": {
              "type": "integer",
              "description": "The ID of the External Data associated with the Project Person",
              "example": 398438,
              "nullable": true
             },
             "job_title": {
              "type": "string",
              "description": "The job title of the Project Person",
              "example": "Developer"
             }
            }
           },
           {
            "type": "object",
            "title": "extended view",
            "description": "Project Person",
            "properties": {
             "contact": {
              "type": "object",
              "description": "The Contact associated with the Project Person",
              "properties": {
               "is_active": {
                "type": "boolean",
                "description": "The active status of the Contact associated with the Project Person"
               },
               "email": {
                "type": "string",
                "description": "The email address of the contact.",
                "example": "paul@example.com"
               }
              }
             },
             "contact_id": {
              "type": "integer",
              "description": "Contact ID for the Project Person",
              "example": 38965
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID for the Project Person",
              "example": "123456789",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "Project Person first name",
              "example": "Leah"
             },
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Project Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "Employee status for the Project Person",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "Project Person last name",
              "example": "Russell"
             },
             "name": {
              "type": "string",
              "description": "Project Person full name",
              "example": "Leah Russell"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "user_uuid": {
              "type": "integer",
              "description": "The user UUID for if this Company Person represents a user. This value is set to NULL for a Reference User.",
              "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
              "nullable": true
             },
             "work_classification_id": {
              "type": "integer",
              "description": "Work Classification ID for the Project Person",
              "example": 398438,
              "nullable": true
             },
             "origin_id": {
              "type": "integer",
              "description": "The ID of the External Data associated with the Project Person",
              "example": 398438,
              "nullable": true
             },
             "job_title": {
              "type": "string",
              "description": "The job title of the Project Person",
              "example": "Developer"
             },
             "work_classification": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 57869
               },
               "name": {
                "type": "string",
                "description": "The name of the classification",
                "example": "Driver"
               }
              }
             },
             "vendor": {
              "type": "object",
              "title": "Compact",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique integer identifier for this vendor/company.",
                "example": 161072
               },
               "name": {
                "type": "string",
                "description": "Display name of the vendor or contractor company.",
                "example": "SID Architecture"
               }
              }
             }
            }
           },
           {
            "type": "object",
            "title": "web view",
            "description": "Project Person",
            "properties": {
             "first_name": {
              "type": "string",
              "description": "Project Person first name",
              "example": "Leah"
             },
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Project Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "Employee status for the Project Person",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "Project Person last name",
              "example": "Russell"
             },
             "name": {
              "type": "string",
              "description": "Project Person full name",
              "example": "Leah Russell"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "origin_id": {
              "type": "integer",
              "description": "The ID of the External Data associated with the Project Person",
              "example": 398438,
              "nullable": true
             },
             "work_classification_id": {
              "type": "integer",
              "description": "Work Classification ID for the Project Person",
              "example": 398438,
              "nullable": true
             },
             "work_classification": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 57869
               },
               "name": {
                "type": "string",
                "description": "The name of the classification",
                "example": "Driver"
               }
              }
             },
             "vendor": {
              "type": "object",
              "title": "Vendor Project Person Web",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               },
               "company_vendor": {
                "type": "boolean",
                "example": true
               },
               "is_connected": {
                "type": "boolean",
                "example": true
               },
               "origin_id": {
                "type": "string",
                "example": "ABC-123",
                "nullable": true
               },
               "origin_code": {
                "type": "string",
                "example": "DEF-456",
                "nullable": true
               },
               "business_register": {
                "type": "object",
                "properties": {
                 "type": {
                  "type": "string",
                  "example": "abn"
                 },
                 "identifier": {
                  "type": "string",
                  "example": 12345678901
                 },
                 "verification_status": {
                  "type": "string",
                  "example": "does_not_exist"
                 },
                 "verified_at": {
                  "type": "string",
                  "example": "2024-05-29T17:00:00Z"
                 },
                 "id": {
                  "type": "integer",
                  "example": 1
                 }
                }
               }
              }
             },
             "contact": {
              "type": "object",
              "description": "The Contact associated with the Project Person",
              "properties": {
               "is_active": {
                "type": "boolean",
                "description": "The active status of the Contact associated with the Project Person"
               },
               "email": {
                "type": "string",
                "description": "The email address of the contact.",
                "example": "paul@example.com"
               }
              }
             },
             "contact_id": {
              "type": "integer",
              "description": "The ID of the Contact associated with the Project Person",
              "example": 398438
             },
             "employee_id": {
              "type": "string",
              "description": "The employee ID of the Project Person",
              "example": 12345,
              "nullable": true
             },
             "initials": {
              "type": "string",
              "description": "Initials of the Project Person",
              "example": "LR"
             },
             "avatar": {
              "type": "string",
              "description": "URL to the avatar of the Project Person",
              "example": "https://example.com/avatar.jpg"
             },
             "reference_user": {
              "type": "boolean",
              "description": "Whether the Project Person is a Reference User",
              "example": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date and time the Project Person was created",
              "example": "2021-01-01T00:00:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date and time the Project Person was last updated",
              "example": "2021-01-01T00:00:00Z"
             },
             "email": {
              "type": "string",
              "description": "The email address of the Project Person",
              "example": "email!example.com"
             },
             "mobile_phone": {
              "type": "string",
              "description": "The mobile phone number of the Project Person",
              "example": "123-456-7890"
             },
             "business_phone": {
              "type": "string",
              "description": "The business phone number of the Project Person",
              "example": "123-456-7890"
             },
             "job_title": {
              "type": "string",
              "description": "The job title of the Project Person",
              "example": "Developer"
             },
             "fax_number": {
              "type": "string",
              "description": "The fax number of the Project Person",
              "example": "123-456-7890"
             },
             "address": {
              "type": "string",
              "description": "The address of the Project Person",
              "example": "123 Main St"
             },
             "city": {
              "type": "string",
              "description": "The city of the Project Person",
              "example": "Anytown"
             },
             "country_code": {
              "type": "string",
              "description": "The country code of the Project Person",
              "example": "US"
             },
             "state_code": {
              "type": "string",
              "description": "The state code of the Project Person",
              "example": "CA"
             },
             "zip": {
              "type": "string",
              "description": "The zip code of the Project Person",
              "example": 12345
             },
             "connected": {
              "type": "boolean",
              "description": "Whether the Project Person is connected to the user",
              "example": true
             },
             "last_login_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date and time the Project Person last logged in",
              "example": "2021-01-01T00:00:00Z"
             },
             "welcome_email_sent_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date and time the welcome email was sent to the Project Person",
              "example": "2021-01-01T00:00:00Z"
             },
             "erp_integrated_accountant": {
              "type": "boolean",
              "description": "Whether the Project Person is an ERP Integrated Accountant",
              "example": true
             },
             "permission_template": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "The ID of the Permission Template",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "The name of the Permission Template",
                "example": "General Contractor"
               },
               "category": {
                "type": "string",
                "nullable": true,
                "description": "The category of the Permission Template",
                "enum": [
                 "internal",
                 "external"
                ],
                "example": "internal"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[is_employee]': 'SOME_BOOLEAN_VALUE',\n    'filters[reference_users_only]': 'SOME_BOOLEAN_VALUE',\n    'filters[without_reference_users]': 'SOME_BOOLEAN_VALUE',\n    'filters[include_company_people]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[connected]': 'SOME_BOOLEAN_VALUE',\n    'filters[vendor_id]': 'SOME_ARRAY_VALUE',\n    'filters[job_title]': 'SOME_STRING_VALUE',\n    'filters[country_code]': 'SOME_STRING_VALUE',\n    'filters[state_code]': 'SOME_STRING_VALUE',\n    'filters[trade_id]': 'SOME_ARRAY_VALUE',\n    'filters[permission_template_id]': 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/people?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Binclude_company_people%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bcountry_code%5D=SOME_STRING_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE&filters%5Bpermission_template_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Binclude_company_people%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bcountry_code%5D=SOME_STRING_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE&filters%5Bpermission_template_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Binclude_company_people%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bcountry_code%5D=SOME_STRING_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE&filters%5Bpermission_template_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add sort by name to Project People list endpoint",
      "description": "Project People list endpoint now supports sorting by name.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Filter by connected users",
      "description": "Project People list endpoint now supports the option to filter by connected users.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Documented filter by non-reference users",
      "description": "Added missing documentation for the option to filter by non-reference users on the Project People list endpoint.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Filter by Vendor ID",
      "description": "Project People list endpoint now supports the option to filter by Vendor ID.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Add sort by vendor name to Project People list endpoint",
      "description": "Project People list endpoint now supports sorting by vendor name.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Filter by job title",
      "description": "Project People list endpoint now supports the option to filter by job title.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Filter by country code",
      "description": "Project People list endpoint now supports the option to filter by country code.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Filter by state code",
      "description": "Project People list endpoint now supports the option to filter by state code.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Filter by Trade ID",
      "description": "Project People list endpoint now supports the option to filter by Trade ID.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-09-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Filter by Permission Template ID",
      "description": "Project People list endpoint now supports the option to filter by Permission Template ID.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-09-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Add sort by job title to Project People list endpoint",
      "description": "Project People list endpoint now supports sorting by job title.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-09-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Add 'web' view to Project People list endpoint",
      "description": "Project People list endpoint now supports a new view, `web`.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-09-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Add sort by permission template to Project People list endpoint",
      "description": "Project People list endpoint now supports sorting by permission template.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-09-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Add attributes to 'web' view of Project People list endpoint",
      "description": "Added `contact`, `contact_id`, and `vendor` attributes to the 'web' view",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Add attributes to 'web' view of Project People list endpoint",
      "description": "Added `employee_id` attribute to the 'web' view",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-02-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Add attributes to 'web' view of Project People list endpoint",
      "description": "Added `origin_code`, `business_register`, and associated `business_register` attributes to the 'web' view",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-02-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     },
     {
      "summary": "Added `job_title` attribute to response",
      "description": "job_title attribute is now available in the response for all views of the Project People list endpoint.",
      "endpoint": "GET /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#list-project-people"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create project Person",
    "description": "Create a new Person in the specified Project.\n\nThis endpoint can currently only create reference users. It cannot create a user who can login.",
    "tags": [
     "Project People"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). Users without read permissions to Directory are limited to the normal and extended views. If a valid view is not provided, it will default to normal.",
      "schema": {
       "type": "string",
       "enum": [
        "extended",
        "normal",
        "web"
       ]
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Project Person Body",
        "type": "object",
        "required": [
         "person"
        ],
        "properties": {
         "person": {
          "title": "Project Person",
          "type": "object",
          "required": [
           "last_name"
          ],
          "properties": {
           "first_name": {
            "type": "string",
            "description": "The First Name of the Project Person"
           },
           "last_name": {
            "type": "string",
            "description": "The Last Name of the Project Person"
           },
           "is_employee": {
            "type": "boolean",
            "description": "The Employee status of the Project Person",
            "default": false
           },
           "employee_id": {
            "type": "string",
            "description": "The Employee ID of the Project Person"
           },
           "origin_id": {
            "type": "string",
            "description": "The ID of the External Data associated with the Project Person"
           },
           "job_title": {
            "type": "string",
            "description": "The Job Title of the Project Person",
            "example": "Developer"
           },
           "work_classification_id": {
            "type": "integer",
            "description": "The unique identifier for the work classification of the Project Person.",
            "example": 398438
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "title": "Normal",
           "description": "Project Person",
           "properties": {
            "contact": {
             "type": "object",
             "description": "The Contact associated with the Project Person",
             "properties": {
              "is_active": {
               "type": "boolean",
               "description": "The active status of the Contact associated with the Project Person"
              },
              "email": {
               "type": "string",
               "description": "The email address of the contact.",
               "example": "paul@example.com"
              }
             }
            },
            "contact_id": {
             "type": "integer",
             "description": "Contact ID for the Project Person",
             "example": 38965
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Project Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Project Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Project Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Project Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Project Person last name",
             "example": "Russell"
            },
            "name": {
             "type": "string",
             "description": "Project Person full name",
             "example": "Leah Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "user_uuid": {
             "type": "integer",
             "description": "The user UUID for if this Company Person represents a user. This value is set to NULL for a Reference User.",
             "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
             "nullable": true
            },
            "work_classification_id": {
             "type": "integer",
             "description": "Work Classification ID for the Project Person",
             "example": 398438,
             "nullable": true
            },
            "origin_id": {
             "type": "integer",
             "description": "The ID of the External Data associated with the Project Person",
             "example": 398438,
             "nullable": true
            },
            "job_title": {
             "type": "string",
             "description": "The job title of the Project Person",
             "example": "Developer"
            }
           }
          },
          {
           "type": "object",
           "title": "extended view",
           "description": "Project Person",
           "properties": {
            "contact": {
             "type": "object",
             "description": "The Contact associated with the Project Person",
             "properties": {
              "is_active": {
               "type": "boolean",
               "description": "The active status of the Contact associated with the Project Person"
              },
              "email": {
               "type": "string",
               "description": "The email address of the contact.",
               "example": "paul@example.com"
              }
             }
            },
            "contact_id": {
             "type": "integer",
             "description": "Contact ID for the Project Person",
             "example": 38965
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Project Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Project Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Project Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Project Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Project Person last name",
             "example": "Russell"
            },
            "name": {
             "type": "string",
             "description": "Project Person full name",
             "example": "Leah Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "user_uuid": {
             "type": "integer",
             "description": "The user UUID for if this Company Person represents a user. This value is set to NULL for a Reference User.",
             "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
             "nullable": true
            },
            "work_classification_id": {
             "type": "integer",
             "description": "Work Classification ID for the Project Person",
             "example": 398438,
             "nullable": true
            },
            "origin_id": {
             "type": "integer",
             "description": "The ID of the External Data associated with the Project Person",
             "example": 398438,
             "nullable": true
            },
            "job_title": {
             "type": "string",
             "description": "The job title of the Project Person",
             "example": "Developer"
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            },
            "vendor": {
             "type": "object",
             "title": "Compact",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique integer identifier for this vendor/company.",
               "example": 161072
              },
              "name": {
               "type": "string",
               "description": "Display name of the vendor or contractor company.",
               "example": "SID Architecture"
              }
             }
            }
           }
          },
          {
           "type": "object",
           "title": "web view",
           "description": "Project Person",
           "properties": {
            "first_name": {
             "type": "string",
             "description": "Project Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Project Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Project Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Project Person last name",
             "example": "Russell"
            },
            "name": {
             "type": "string",
             "description": "Project Person full name",
             "example": "Leah Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "origin_id": {
             "type": "integer",
             "description": "The ID of the External Data associated with the Project Person",
             "example": 398438,
             "nullable": true
            },
            "work_classification_id": {
             "type": "integer",
             "description": "Work Classification ID for the Project Person",
             "example": 398438,
             "nullable": true
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            },
            "vendor": {
             "type": "object",
             "title": "Vendor Project Person Web",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              },
              "company_vendor": {
               "type": "boolean",
               "example": true
              },
              "is_connected": {
               "type": "boolean",
               "example": true
              },
              "origin_id": {
               "type": "string",
               "example": "ABC-123",
               "nullable": true
              },
              "origin_code": {
               "type": "string",
               "example": "DEF-456",
               "nullable": true
              },
              "business_register": {
               "type": "object",
               "properties": {
                "type": {
                 "type": "string",
                 "example": "abn"
                },
                "identifier": {
                 "type": "string",
                 "example": 12345678901
                },
                "verification_status": {
                 "type": "string",
                 "example": "does_not_exist"
                },
                "verified_at": {
                 "type": "string",
                 "example": "2024-05-29T17:00:00Z"
                },
                "id": {
                 "type": "integer",
                 "example": 1
                }
               }
              }
             }
            },
            "contact": {
             "type": "object",
             "description": "The Contact associated with the Project Person",
             "properties": {
              "is_active": {
               "type": "boolean",
               "description": "The active status of the Contact associated with the Project Person"
              },
              "email": {
               "type": "string",
               "description": "The email address of the contact.",
               "example": "paul@example.com"
              }
             }
            },
            "contact_id": {
             "type": "integer",
             "description": "The ID of the Contact associated with the Project Person",
             "example": 398438
            },
            "employee_id": {
             "type": "string",
             "description": "The employee ID of the Project Person",
             "example": 12345,
             "nullable": true
            },
            "initials": {
             "type": "string",
             "description": "Initials of the Project Person",
             "example": "LR"
            },
            "avatar": {
             "type": "string",
             "description": "URL to the avatar of the Project Person",
             "example": "https://example.com/avatar.jpg"
            },
            "reference_user": {
             "type": "boolean",
             "description": "Whether the Project Person is a Reference User",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date and time the Project Person was created",
             "example": "2021-01-01T00:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date and time the Project Person was last updated",
             "example": "2021-01-01T00:00:00Z"
            },
            "email": {
             "type": "string",
             "description": "The email address of the Project Person",
             "example": "email!example.com"
            },
            "mobile_phone": {
             "type": "string",
             "description": "The mobile phone number of the Project Person",
             "example": "123-456-7890"
            },
            "business_phone": {
             "type": "string",
             "description": "The business phone number of the Project Person",
             "example": "123-456-7890"
            },
            "job_title": {
             "type": "string",
             "description": "The job title of the Project Person",
             "example": "Developer"
            },
            "fax_number": {
             "type": "string",
             "description": "The fax number of the Project Person",
             "example": "123-456-7890"
            },
            "address": {
             "type": "string",
             "description": "The address of the Project Person",
             "example": "123 Main St"
            },
            "city": {
             "type": "string",
             "description": "The city of the Project Person",
             "example": "Anytown"
            },
            "country_code": {
             "type": "string",
             "description": "The country code of the Project Person",
             "example": "US"
            },
            "state_code": {
             "type": "string",
             "description": "The state code of the Project Person",
             "example": "CA"
            },
            "zip": {
             "type": "string",
             "description": "The zip code of the Project Person",
             "example": 12345
            },
            "connected": {
             "type": "boolean",
             "description": "Whether the Project Person is connected to the user",
             "example": true
            },
            "last_login_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date and time the Project Person last logged in",
             "example": "2021-01-01T00:00:00Z"
            },
            "welcome_email_sent_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date and time the welcome email was sent to the Project Person",
             "example": "2021-01-01T00:00:00Z"
            },
            "erp_integrated_accountant": {
             "type": "boolean",
             "description": "Whether the Project Person is an ERP Integrated Accountant",
             "example": true
            },
            "permission_template": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Permission Template",
               "example": 1
              },
              "name": {
               "type": "string",
               "description": "The name of the Permission Template",
               "example": "General Contractor"
              },
              "category": {
               "type": "string",
               "nullable": true,
               "description": "The category of the Permission Template",
               "enum": [
                "internal",
                "external"
               ],
               "example": "internal"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    person: {\n      first_name: 'string',\n      last_name: 'string',\n      is_employee: false,\n      employee_id: 'string',\n      origin_id: 'string',\n      job_title: 'Developer',\n      work_classification_id: 398438\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"person\\\":{\\\"first_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_employee\\\":false,\\\"employee_id\\\":\\\"string\\\",\\\"origin_id\\\":\\\"string\\\",\\\"job_title\\\":\\\"Developer\\\",\\\"work_classification_id\\\":398438}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/people?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people?view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"person\":{\"first_name\":\"string\",\"last_name\":\"string\",\"is_employee\":false,\"employee_id\":\"string\",\"origin_id\":\"string\",\"job_title\":\"Developer\",\"work_classification_id\":398438}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people?view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"person\\\":{\\\"first_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_employee\\\":false,\\\"employee_id\\\":\\\"string\\\",\\\"origin_id\\\":\\\"string\\\",\\\"job_title\\\":\\\"Developer\\\",\\\"work_classification_id\\\":398438}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added `job_title` to list of allowed attributes for create",
      "description": "job_title attribute is now allowed to be set on creation and is displayed in the response.",
      "endpoint": "POST /projects/{project_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#create-project-person"
     },
     {
      "summary": "Removed internal directory-create-person-spi feature flag from create endpoint",
      "description": "Removed the dormant directory-create-person-spi feature flag from the create endpoint and collapsed to the existing flag-off implementation. No change to request parameters, response, or behavior.",
      "endpoint": "POST /projects/{project_id}/people",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#create-project-person"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/people/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "description": "ID of the project",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the person",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update project person",
    "description": "Update the specified Project User.",
    "tags": [
     "Project People"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). Users without read permissions to Directory are limited to the normal and extended views. If a valid view is not provided, it will default to normal.",
      "schema": {
       "type": "string",
       "enum": [
        "extended",
        "normal",
        "web"
       ]
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Project Person Body",
        "type": "object",
        "required": [
         "person"
        ],
        "properties": {
         "person": {
          "title": "Project Person",
          "type": "object",
          "required": [
           "last_name"
          ],
          "properties": {
           "first_name": {
            "type": "string",
            "description": "The First Name of the Project Person"
           },
           "last_name": {
            "type": "string",
            "description": "The Last Name of the Project Person"
           },
           "is_employee": {
            "type": "boolean",
            "description": "The Employee status of the Project Person",
            "default": false
           },
           "employee_id": {
            "type": "string",
            "description": "The Employee ID of the Project Person"
           },
           "origin_id": {
            "type": "string",
            "description": "The ID of the External Data associated with the Project Person"
           },
           "job_title": {
            "type": "string",
            "description": "The Job Title of the Project Person",
            "example": "Developer"
           },
           "work_classification_id": {
            "type": "integer",
            "description": "The unique identifier for the work classification of the Project Person.",
            "example": 398438
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "title": "Normal",
           "description": "Project Person",
           "properties": {
            "contact": {
             "type": "object",
             "description": "The Contact associated with the Project Person",
             "properties": {
              "is_active": {
               "type": "boolean",
               "description": "The active status of the Contact associated with the Project Person"
              },
              "email": {
               "type": "string",
               "description": "The email address of the contact.",
               "example": "paul@example.com"
              }
             }
            },
            "contact_id": {
             "type": "integer",
             "description": "Contact ID for the Project Person",
             "example": 38965
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Project Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Project Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Project Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Project Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Project Person last name",
             "example": "Russell"
            },
            "name": {
             "type": "string",
             "description": "Project Person full name",
             "example": "Leah Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "user_uuid": {
             "type": "integer",
             "description": "The user UUID for if this Company Person represents a user. This value is set to NULL for a Reference User.",
             "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
             "nullable": true
            },
            "work_classification_id": {
             "type": "integer",
             "description": "Work Classification ID for the Project Person",
             "example": 398438,
             "nullable": true
            },
            "origin_id": {
             "type": "integer",
             "description": "The ID of the External Data associated with the Project Person",
             "example": 398438,
             "nullable": true
            },
            "job_title": {
             "type": "string",
             "description": "The job title of the Project Person",
             "example": "Developer"
            }
           }
          },
          {
           "type": "object",
           "title": "extended view",
           "description": "Project Person",
           "properties": {
            "contact": {
             "type": "object",
             "description": "The Contact associated with the Project Person",
             "properties": {
              "is_active": {
               "type": "boolean",
               "description": "The active status of the Contact associated with the Project Person"
              },
              "email": {
               "type": "string",
               "description": "The email address of the contact.",
               "example": "paul@example.com"
              }
             }
            },
            "contact_id": {
             "type": "integer",
             "description": "Contact ID for the Project Person",
             "example": 38965
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Project Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Project Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Project Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Project Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Project Person last name",
             "example": "Russell"
            },
            "name": {
             "type": "string",
             "description": "Project Person full name",
             "example": "Leah Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "user_uuid": {
             "type": "integer",
             "description": "The user UUID for if this Company Person represents a user. This value is set to NULL for a Reference User.",
             "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
             "nullable": true
            },
            "work_classification_id": {
             "type": "integer",
             "description": "Work Classification ID for the Project Person",
             "example": 398438,
             "nullable": true
            },
            "origin_id": {
             "type": "integer",
             "description": "The ID of the External Data associated with the Project Person",
             "example": 398438,
             "nullable": true
            },
            "job_title": {
             "type": "string",
             "description": "The job title of the Project Person",
             "example": "Developer"
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            },
            "vendor": {
             "type": "object",
             "title": "Compact",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique integer identifier for this vendor/company.",
               "example": 161072
              },
              "name": {
               "type": "string",
               "description": "Display name of the vendor or contractor company.",
               "example": "SID Architecture"
              }
             }
            }
           }
          },
          {
           "type": "object",
           "title": "web view",
           "description": "Project Person",
           "properties": {
            "first_name": {
             "type": "string",
             "description": "Project Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Project Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Project Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Project Person last name",
             "example": "Russell"
            },
            "name": {
             "type": "string",
             "description": "Project Person full name",
             "example": "Leah Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Project Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "origin_id": {
             "type": "integer",
             "description": "The ID of the External Data associated with the Project Person",
             "example": 398438,
             "nullable": true
            },
            "work_classification_id": {
             "type": "integer",
             "description": "Work Classification ID for the Project Person",
             "example": 398438,
             "nullable": true
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            },
            "vendor": {
             "type": "object",
             "title": "Vendor Project Person Web",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              },
              "company_vendor": {
               "type": "boolean",
               "example": true
              },
              "is_connected": {
               "type": "boolean",
               "example": true
              },
              "origin_id": {
               "type": "string",
               "example": "ABC-123",
               "nullable": true
              },
              "origin_code": {
               "type": "string",
               "example": "DEF-456",
               "nullable": true
              },
              "business_register": {
               "type": "object",
               "properties": {
                "type": {
                 "type": "string",
                 "example": "abn"
                },
                "identifier": {
                 "type": "string",
                 "example": 12345678901
                },
                "verification_status": {
                 "type": "string",
                 "example": "does_not_exist"
                },
                "verified_at": {
                 "type": "string",
                 "example": "2024-05-29T17:00:00Z"
                },
                "id": {
                 "type": "integer",
                 "example": 1
                }
               }
              }
             }
            },
            "contact": {
             "type": "object",
             "description": "The Contact associated with the Project Person",
             "properties": {
              "is_active": {
               "type": "boolean",
               "description": "The active status of the Contact associated with the Project Person"
              },
              "email": {
               "type": "string",
               "description": "The email address of the contact.",
               "example": "paul@example.com"
              }
             }
            },
            "contact_id": {
             "type": "integer",
             "description": "The ID of the Contact associated with the Project Person",
             "example": 398438
            },
            "employee_id": {
             "type": "string",
             "description": "The employee ID of the Project Person",
             "example": 12345,
             "nullable": true
            },
            "initials": {
             "type": "string",
             "description": "Initials of the Project Person",
             "example": "LR"
            },
            "avatar": {
             "type": "string",
             "description": "URL to the avatar of the Project Person",
             "example": "https://example.com/avatar.jpg"
            },
            "reference_user": {
             "type": "boolean",
             "description": "Whether the Project Person is a Reference User",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date and time the Project Person was created",
             "example": "2021-01-01T00:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date and time the Project Person was last updated",
             "example": "2021-01-01T00:00:00Z"
            },
            "email": {
             "type": "string",
             "description": "The email address of the Project Person",
             "example": "email!example.com"
            },
            "mobile_phone": {
             "type": "string",
             "description": "The mobile phone number of the Project Person",
             "example": "123-456-7890"
            },
            "business_phone": {
             "type": "string",
             "description": "The business phone number of the Project Person",
             "example": "123-456-7890"
            },
            "job_title": {
             "type": "string",
             "description": "The job title of the Project Person",
             "example": "Developer"
            },
            "fax_number": {
             "type": "string",
             "description": "The fax number of the Project Person",
             "example": "123-456-7890"
            },
            "address": {
             "type": "string",
             "description": "The address of the Project Person",
             "example": "123 Main St"
            },
            "city": {
             "type": "string",
             "description": "The city of the Project Person",
             "example": "Anytown"
            },
            "country_code": {
             "type": "string",
             "description": "The country code of the Project Person",
             "example": "US"
            },
            "state_code": {
             "type": "string",
             "description": "The state code of the Project Person",
             "example": "CA"
            },
            "zip": {
             "type": "string",
             "description": "The zip code of the Project Person",
             "example": 12345
            },
            "connected": {
             "type": "boolean",
             "description": "Whether the Project Person is connected to the user",
             "example": true
            },
            "last_login_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date and time the Project Person last logged in",
             "example": "2021-01-01T00:00:00Z"
            },
            "welcome_email_sent_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date and time the welcome email was sent to the Project Person",
             "example": "2021-01-01T00:00:00Z"
            },
            "erp_integrated_accountant": {
             "type": "boolean",
             "description": "Whether the Project Person is an ERP Integrated Accountant",
             "example": true
            },
            "permission_template": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Permission Template",
               "example": 1
              },
              "name": {
               "type": "string",
               "description": "The name of the Permission Template",
               "example": "General Contractor"
              },
              "category": {
               "type": "string",
               "nullable": true,
               "description": "The category of the Permission Template",
               "enum": [
                "internal",
                "external"
               ],
               "example": "internal"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    person: {\n      first_name: 'string',\n      last_name: 'string',\n      is_employee: false,\n      employee_id: 'string',\n      origin_id: 'string',\n      job_title: 'Developer',\n      work_classification_id: 398438\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"person\\\":{\\\"first_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_employee\\\":false,\\\"employee_id\\\":\\\"string\\\",\\\"origin_id\\\":\\\"string\\\",\\\"job_title\\\":\\\"Developer\\\",\\\"work_classification_id\\\":398438}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/people/%7Bid%7D?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people/%7Bid%7D?view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"person\":{\"first_name\":\"string\",\"last_name\":\"string\",\"is_employee\":false,\"employee_id\":\"string\",\"origin_id\":\"string\",\"job_title\":\"Developer\",\"work_classification_id\":398438}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/people/%7Bid%7D?view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"person\\\":{\\\"first_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_employee\\\":false,\\\"employee_id\\\":\\\"string\\\",\\\"origin_id\\\":\\\"string\\\",\\\"job_title\\\":\\\"Developer\\\",\\\"work_classification_id\\\":398438}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added `job_title` to list of allowed attributes for update",
      "description": "job_title attribute is now allowed to be updated on Users and Contacts and is displayed in the response.",
      "endpoint": "PATCH /projects/{project_id}/people/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-people?version=1.0#update-project-person"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}