{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Inactive Users",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Project Inactive Users",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/users/inactive": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project inactive users",
    "description": "Return a list of all Inactive Users associated with a Project.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Project Inactive Users"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of project inactive users",
         "items": {
          "title": "Inactive User",
          "description": "Inactive User",
          "allOf": [
           {
            "type": "object",
            "title": "User",
            "description": "The Company User object",
            "properties": {
             "address": {
              "type": "string",
              "description": "The address of the user.",
              "example": "6305 Carpinteria Ave",
              "nullable": true
             },
             "avatar": {
              "type": "string",
              "description": "The URL pointing to the user avatar.",
              "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MGHNNJSGNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
              "nullable": true
             },
             "business_id": {
              "description": "Business id",
              "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
              "nullable": true,
              "type": "string"
             },
             "business_phone": {
              "type": "string",
              "description": "The business phone number of the user.",
              "example": "1-800-555-1234",
              "nullable": true
             },
             "business_phone_extension": {
              "type": "integer",
              "description": "The business phone extension of the user.",
              "example": "21",
              "nullable": true
             },
             "city": {
              "type": "string",
              "description": "The city that applies to the user.",
              "example": "Carpinteria",
              "nullable": true
             },
             "country_code": {
              "type": "string",
              "description": "The country code that applies to the user, must be in ISO-3166 Alpha-2 format.",
              "example": "US",
              "nullable": true
             },
             "email_address": {
              "type": "string",
              "format": "email",
              "description": "The email address of the user.",
              "example": "user-company@example.com",
              "nullable": true
             },
             "email_signature": {
              "type": "string",
              "description": "The email signature of the user.",
              "example": "<p>Sent from Example Company.</p>",
              "nullable": true
             },
             "employee_id": {
              "type": "string",
              "description": "The unique employee identifier of the user.",
              "example": "123456789",
              "nullable": true
             },
             "erp_integrated_accountant": {
              "type": "boolean",
              "description": "If this property is set to true, the user is an ERP-integrated accountant, if this property is set to false, the user is not an ERP-integrated accountant.",
              "example": true
             },
             "fax_number": {
              "type": "string",
              "description": "The fax number of the user.",
              "example": "1-800-555-5678",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "The first name of the user.",
              "example": "Leah",
              "nullable": true
             },
             "id": {
              "type": "integer",
              "description": "The unique idenfier of the user.",
              "example": 381006
             },
             "initials": {
              "type": "string",
              "description": "The initials of the user.",
              "example": "LR",
              "nullable": true
             },
             "is_active": {
              "type": "boolean",
              "description": "If this property is set to true, the user status is active. If this property is set to false, the user status is inactive.",
              "example": true,
              "nullable": true
             },
             "is_employee": {
              "type": "boolean",
              "description": "If this property is set to true, the user is an employee. If this property is set to false, the user is not an employee.",
              "example": false,
              "nullable": true
             },
             "job_title": {
              "type": "string",
              "description": "The job title of the user.",
              "example": "QA Manager",
              "nullable": true
             },
             "last_login_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the user logged in last.",
              "example": "2016-06-30T20:41:58Z",
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "The last name of the user.",
              "example": "Russell"
             },
             "mobile_phone": {
              "type": "string",
              "description": "The mobile phone number of the user.",
              "example": "1-800-555-1234",
              "nullable": true
             },
             "name": {
              "type": "string",
              "description": "The full name of the user.",
              "example": "Leah Russell"
             },
             "notes": {
              "type": "string",
              "description": "The user notes.",
              "example": "notes",
              "nullable": true
             },
             "state_code": {
              "type": "string",
              "description": "The state code that applies to the user. Must be in ISO-3166 Alpha-2 format.",
              "example": "CA",
              "nullable": true
             },
             "welcome_email_sent_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the welcome email was sent to the user.",
              "example": "2013-05-30T20:41:58Z"
             },
             "zip": {
              "type": "string",
              "description": "The ZIP code of the user.",
              "example": "93013",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "example": "foobar",
              "description": "The unique idenfitier for the user origin."
             },
             "origin_data": {
              "type": "string",
              "description": "User origin data.",
              "example": "OD-2398273424"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the user was created in the system.",
              "example": "2016-10-23T21:39:40Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the user was updated in the system.",
              "example": "2020-10-23T21:39:40Z"
             },
             "vendor": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               }
              }
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "_links": {
              "type": "object",
              "description": "API Links",
              "properties": {
               "reactivate": {
                "type": "string",
                "description": "Link to reactivate user",
                "example": "https://api.procore.com/rest/v1.0/companies/1/users/inactive/1"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/users/inactive',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/users/inactive?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/users/inactive?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/users/inactive?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/users/inactive/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the user",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Reactivate project user.",
    "description": "Reactivate the specified User.\n#### OK Response\nFor null values, the key won't be returned  \n",
    "tags": [
     "Project Inactive Users"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "User",
         "description": "Company User",
         "properties": {
          "address": {
           "type": "string",
           "description": "User address",
           "example": "6305 Carpinteria Ave"
          },
          "avatar": {
           "type": "string",
           "description": "User avatar url",
           "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
          },
          "business_id": {
           "description": "Business id",
           "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
           "nullable": true,
           "type": "string"
          },
          "business_phone": {
           "type": "string",
           "description": "User business phone",
           "example": "1-555-555-1234"
          },
          "business_phone_extension": {
           "type": "integer",
           "description": "User business phone extension",
           "example": 123
          },
          "city": {
           "type": "string",
           "description": "User city",
           "example": "Carpinteria"
          },
          "country_code": {
           "type": "string",
           "description": "User country code (ISO-3166 Alpha-2 format)",
           "example": "US"
          },
          "email_address": {
           "type": "string",
           "format": "email",
           "description": "User email",
           "example": "jane.doe@example.com"
          },
          "email_signature": {
           "type": "string",
           "description": "User email signature",
           "example": "<p>Sent from Procore.</p>"
          },
          "employee_id": {
           "type": "string",
           "description": "User employee id",
           "example": "123456789"
          },
          "fax_number": {
           "type": "string",
           "description": "User fax number",
           "example": "1-555-555-1234"
          },
          "first_name": {
           "type": "string",
           "description": "User first name",
           "example": "Jane"
          },
          "name": {
           "type": "string",
           "description": "User full name",
           "example": "Jane Doe"
          },
          "id": {
           "type": "integer",
           "description": "User id",
           "example": 381006
          },
          "initials": {
           "type": "string",
           "description": "User initials",
           "example": "JD"
          },
          "is_active": {
           "type": "boolean",
           "description": "User active status",
           "example": true
          },
          "is_employee": {
           "type": "boolean",
           "description": "User employee status",
           "example": false
          },
          "is_insurance_manager": {
           "type": "boolean",
           "description": "Is user an insurance manager",
           "example": false
          },
          "job_title": {
           "type": "string",
           "description": "User job title",
           "example": "QA Manager"
          },
          "last_login_at": {
           "type": "string",
           "format": "date-time",
           "description": "User last login at",
           "example": "2016-06-30T20:41:58Z"
          },
          "last_name": {
           "type": "string",
           "description": "User last name",
           "example": "Doe"
          },
          "mobile_phone": {
           "type": "string",
           "description": "User mobile phone",
           "example": "1-555-555-1234"
          },
          "notes": {
           "type": "string",
           "description": "User notes",
           "example": "notes"
          },
          "state_code": {
           "type": "string",
           "description": "User state code (ISO-3166 Alpha-2 format)",
           "example": "CA"
          },
          "zip": {
           "type": "string",
           "description": "User zip code",
           "example": "93013"
          },
          "default_permission_template_id": {
           "type": "integer",
           "description": "User default permission template id",
           "example": 27
          },
          "company_permission_template_id": {
           "type": "integer",
           "description": "User Company Permission Template id",
           "example": 28
          },
          "origin_id": {
           "type": "string",
           "example": "foobar",
           "description": "User origin id"
          },
          "origin_data": {
           "type": "string",
           "description": "User origin data",
           "example": "OD-2398273424"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "User created at",
           "example": "2016-10-23T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "User updated at",
           "example": "2016-10-23T21:39:40Z"
          },
          "work_classification_id": {
           "type": "integer",
           "description": "Work classification id",
           "example": 13
          },
          "vendor": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "example": "SID Architecture"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/users/inactive/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/users/inactive/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/users/inactive/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/users/inactive/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Corrected docs to match the actually returned response body",
      "description": "Corrected docs to match the actually returned response body",
      "endpoint": "PATCH /projects/{project_id}/users/inactive/{id}",
      "type": "fix",
      "breaking": false,
      "datestamp": "2023-06-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inactive-users?version=1.0#reactivate-project-user"
     },
     {
      "summary": "Publically Release Reactivate Project User",
      "description": "Release endpoint that allows reactivating an Inactive Project User",
      "endpoint": "PATCH /projects/{project_id}/users/inactive/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-11-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inactive-users?version=1.0#reactivate-project-user"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}