{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Distribution Groups",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Project Distribution Groups",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/distribution_groups": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Distribution Groups",
    "description": "Return a list of all Distribution Groups associated with a Project.",
    "tags": [
     "Project Distribution Groups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name"
       ]
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Parameter affecting what level of detail will be returned from the endpoint. 'extended' will include the users included in each distribution group.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "extended"
       ]
      }
     },
     {
      "name": "include_ancestors",
      "in": "query",
      "description": "Parameter affecting what groups will be returned from this endpoint. When 'true', this endpoint will only return distribution groups with users that match the provided (or default) `domain_id` and `min_ual` / `ual`.  Company level distribution groups will be returned as well if they have users matching the provided (or default) permissions.  If `extended` view is requested, only the users with matching permissions will be returned in the response. \nWhen `include_ancestors` is false or absent, only Project level groups will be returned.",
      "required": false,
      "schema": {
       "type": "boolean",
       "example": true
      }
     },
     {
      "name": "domain_id",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups, by default it is the Domain ID of the Submittals Tool. Will return only Distributions Groups who users that have access to the Tool specified by the domain_id. Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 9
      }
     },
     {
      "name": "min_ual",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups, by default it is the 'read' user access level. Will return only Distributions Groups who users that have the min ual specified by the 'min_ual'. Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 2
      }
     },
     {
      "name": "ual",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups.  Will return only Distributions Groups who users that have the exact ual specified by the 'ual'. If provided, this will take precendence over min_ual.  Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 2
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Distribution Groups",
         "items": {
          "oneOf": [
           {
            "description": "Distribution Group",
            "type": "object",
            "title": "Normal View",
            "properties": {
             "id": {
              "type": "integer",
              "example": 1
             },
             "description": {
              "type": "string",
              "example": "Internal stakeholders to notify of any major events"
             },
             "name": {
              "type": "string",
              "example": "Internal Stakeholders"
             }
            }
           },
           {
            "description": "Distribution Group",
            "type": "object",
            "title": "Extended View",
            "properties": {
             "id": {
              "type": "integer",
              "example": 1
             },
             "description": {
              "type": "string",
              "example": "Internal stakeholders to notify of any major events"
             },
             "name": {
              "type": "string",
              "example": "Internal Stakeholders"
             },
             "users": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID of the User",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "description": "Name of the User",
                 "example": "Carl the Contractor"
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name for the User",
                 "example": "Brickworks"
                },
                "login": {
                 "type": "string",
                 "description": "Email of the User",
                 "example": "carl.contractor@example.com"
                },
                "imageUrl": {
                 "type": "string",
                 "description": "User Avatar URL",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
                },
                "initials": {
                 "type": "string",
                 "description": "Initials of the User",
                 "example": "BS"
                },
                "job_title": {
                 "type": "string",
                 "description": "Job Title of the User",
                 "example": "General Contractor"
                }
               }
              }
             }
            }
           },
           {
            "description": "Distribution Group",
            "type": "object",
            "title": "Extended View with Domain User IDs",
            "properties": {
             "id": {
              "type": "integer",
              "example": 1
             },
             "description": {
              "type": "string",
              "example": "Internal stakeholders to notify of any major events"
             },
             "name": {
              "type": "string",
              "example": "Internal Stakeholders"
             },
             "users": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID of the User",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "description": "Name of the User",
                 "example": "Carl the Contractor"
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name for the User",
                 "example": "Brickworks"
                },
                "login": {
                 "type": "string",
                 "description": "Email of the User",
                 "example": "carl.contractor@example.com"
                },
                "imageUrl": {
                 "type": "string",
                 "description": "User Avatar URL",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
                },
                "initials": {
                 "type": "string",
                 "description": "Initials of the User",
                 "example": "BS"
                },
                "job_title": {
                 "type": "string",
                 "description": "Job Title of the User",
                 "example": "General Contractor"
                }
               }
              }
             },
             "domain_user_ids": {
              "type": "array",
              "description": "List of user IDs that have permissions to view specified domain. Only included if the 'extended' view is supported and 'with_domain_users' param is sent.",
              "items": {
               "type": "integer",
               "example": 161072
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE',\n    include_ancestors: 'true',\n    domain_id: '9',\n    min_ual: '2',\n    ual: '2'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&include_ancestors=true&domain_id=9&min_ual=2&ual=2\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&include_ancestors=true&domain_id=9&min_ual=2&ual=2'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&include_ancestors=true&domain_id=9&min_ual=2&ual=2\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added new request parameter that will query groups based on the user access level.",
      "description": "Added 'min_ual' query parameter to filter users and groups by the specified parameter. Default to 'read'.",
      "endpoint": "GET /projects/{project_id}/distribution_groups",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-07-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#list-project-distribution-groups"
     },
     {
      "summary": "Correct Response Body Documentation",
      "description": "Documentation now correctly shows the `login` key inside of items in the `users` array in the example response body.",
      "endpoint": "GET /projects/{project_id}/distribution_groups",
      "type": "fix",
      "breaking": false,
      "datestamp": "2024-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#list-project-distribution-groups"
     },
     {
      "summary": "Added Initials and Image URL to Extended View Response",
      "description": "User initials and avatar URL are now included in the response for the extended view",
      "endpoint": "GET /projects/{project_id}/distribution_groups",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-05-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#list-project-distribution-groups"
     },
     {
      "summary": "Include Company Name and Job Title in projects distribution endpoint",
      "description": "Added company_name and job_title to the response body for the projects distribution endpoint",
      "endpoint": "GET /projects/{project_id}/distribution_groups",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-10-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#list-project-distribution-groups"
     },
     {
      "summary": "Correct `include_ancestors` Documentation for List endpoint",
      "description": "Documentation now also shows the `ual` parameter option that works with `include_ancestors`. This works similar to `min_ual`, except returns only distribution groups with users with an exact match. Also updated the description of `include_ancestors` to clarify that it will always filter the returned distribution groups to those with users matching certain permissions - it cannot be used to just include Company level distribution groups.",
      "endpoint": "GET /projects/{project_id}/distribution_groups",
      "type": "fix",
      "breaking": false,
      "datestamp": "2025-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#list-project-distribution-groups"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Project Distribution Group",
    "description": "Create a new Distribution Group associated with the given Project.",
    "tags": [
     "Project Distribution Groups"
    ],
    "parameters": [
     {
      "name": "Idempotency-Token",
      "in": "header",
      "description": "Unique idempotent token",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Create Distribution Group Body",
        "type": "object",
        "required": [
         "distribution_group"
        ],
        "properties": {
         "distribution_group": {
          "title": "Distribution Group",
          "type": "object",
          "required": [
           "name"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Distribution Group",
            "example": "Internal Stakeholders"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Internal stakeholders to notify of any major events"
           },
           "user_ids": {
            "type": "array",
            "description": "User IDs to associate with the Distribution Group",
            "items": {
             "type": "integer",
             "example": 66005
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK (Duplicate Idempotency-token header)",
      "content": {
       "application/json": {
        "schema": {
         "description": "Distribution Group",
         "type": "object",
         "title": "Extended View",
         "properties": {
          "id": {
           "type": "integer",
           "example": 1
          },
          "description": {
           "type": "string",
           "example": "Internal stakeholders to notify of any major events"
          },
          "name": {
           "type": "string",
           "example": "Internal Stakeholders"
          },
          "users": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID of the User",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Name of the User",
              "example": "Carl the Contractor"
             },
             "company_name": {
              "type": "string",
              "description": "Company Name for the User",
              "example": "Brickworks"
             },
             "login": {
              "type": "string",
              "description": "Email of the User",
              "example": "carl.contractor@example.com"
             },
             "imageUrl": {
              "type": "string",
              "description": "User Avatar URL",
              "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
             },
             "initials": {
              "type": "string",
              "description": "Initials of the User",
              "example": "BS"
             },
             "job_title": {
              "type": "string",
              "description": "Job Title of the User",
              "example": "General Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "description": "Distribution Group",
         "type": "object",
         "title": "Extended View",
         "properties": {
          "id": {
           "type": "integer",
           "example": 1
          },
          "description": {
           "type": "string",
           "example": "Internal stakeholders to notify of any major events"
          },
          "name": {
           "type": "string",
           "example": "Internal Stakeholders"
          },
          "users": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID of the User",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Name of the User",
              "example": "Carl the Contractor"
             },
             "company_name": {
              "type": "string",
              "description": "Company Name for the User",
              "example": "Brickworks"
             },
             "login": {
              "type": "string",
              "description": "Email of the User",
              "example": "carl.contractor@example.com"
             },
             "imageUrl": {
              "type": "string",
              "description": "User Avatar URL",
              "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
             },
             "initials": {
              "type": "string",
              "description": "Initials of the User",
              "example": "BS"
             },
             "job_title": {
              "type": "string",
              "description": "Job Title of the User",
              "example": "General Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups',\n  headers: {'Idempotency-Token': 'SOME_STRING_VALUE', 'content-type': 'application/json'},\n  body: {\n    distribution_group: {\n      name: 'Internal Stakeholders',\n      description: 'Internal stakeholders to notify of any major events',\n      user_ids: [66005]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"distribution_group\\\":{\\\"name\\\":\\\"Internal Stakeholders\\\",\\\"description\\\":\\\"Internal stakeholders to notify of any major events\\\",\\\"user_ids\\\":[66005]}}\"\n\nheaders = {\n    'Idempotency-Token': \"SOME_STRING_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups \\\n  --header 'Idempotency-Token: SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"distribution_group\":{\"name\":\"Internal Stakeholders\",\"description\":\"Internal stakeholders to notify of any major events\",\"user_ids\":[66005]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups\"),\n    Headers =\n    {\n        { \"Idempotency-Token\", \"SOME_STRING_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"distribution_group\\\":{\\\"name\\\":\\\"Internal Stakeholders\\\",\\\"description\\\":\\\"Internal stakeholders to notify of any major events\\\",\\\"user_ids\\\":[66005]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Project Distribution Groups Create v1.0 endpoint",
      "description": "Added missing create Distribution Group endpoint",
      "endpoint": "POST /projects/{project_id}/distribution_groups",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#create-project-distribution-group"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/distribution_groups/{distribution_group_id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Project Distribution Group",
    "description": "Show detail on a specified Project Distribution Group",
    "tags": [
     "Project Distribution Groups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "distribution_group_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the distribution group.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Parameter affecting what level of detail will be returned from the endpoint. 'extended' will include the users in the distribution group.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "extended"
       ]
      }
     },
     {
      "name": "include_ancestors",
      "in": "query",
      "description": "Parameter affecting what groups can be returned from this endpoint. When 'true', this endpoint will only return distribution groups with users that match the provided (or default) `domain_id` and `min_ual` / `ual`. Company level distribution groups can be viewed as well if they have users matching the provided (or default) permissions.  If `extended` view is requested, only the users with matching permissions will be returned in the response. \nWhen `include_ancestors` is false or absent, only Project level groups can be viewed.",
      "required": false,
      "schema": {
       "type": "boolean",
       "example": true
      }
     },
     {
      "name": "domain_id",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups, by default it is the Domain ID of the Submittals Tool. Will return only Distributions Groups who users that have access to the Tool specified by the domain_id. Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 9
      }
     },
     {
      "name": "min_ual",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups, by default it is the 'read' user access level. Will return only Distributions Groups who users that have the min ual specified by the 'min_ual'. Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 2
      }
     },
     {
      "name": "ual",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups.  Will return only Distributions Groups who users that have the exact ual specified by the 'ual'. If provided, this will take precendence over min_ual.  Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 2
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "description": "Distribution Group",
           "type": "object",
           "title": "Normal View",
           "properties": {
            "id": {
             "type": "integer",
             "example": 1
            },
            "description": {
             "type": "string",
             "example": "Internal stakeholders to notify of any major events"
            },
            "name": {
             "type": "string",
             "example": "Internal Stakeholders"
            }
           }
          },
          {
           "description": "Distribution Group",
           "type": "object",
           "title": "Extended View",
           "properties": {
            "id": {
             "type": "integer",
             "example": 1
            },
            "description": {
             "type": "string",
             "example": "Internal stakeholders to notify of any major events"
            },
            "name": {
             "type": "string",
             "example": "Internal Stakeholders"
            },
            "users": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID of the User",
                "example": 161072
               },
               "name": {
                "type": "string",
                "description": "Name of the User",
                "example": "Carl the Contractor"
               },
               "company_name": {
                "type": "string",
                "description": "Company Name for the User",
                "example": "Brickworks"
               },
               "login": {
                "type": "string",
                "description": "Email of the User",
                "example": "carl.contractor@example.com"
               },
               "imageUrl": {
                "type": "string",
                "description": "User Avatar URL",
                "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
               },
               "initials": {
                "type": "string",
                "description": "Initials of the User",
                "example": "BS"
               },
               "job_title": {
                "type": "string",
                "description": "Job Title of the User",
                "example": "General Contractor"
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    include_ancestors: 'true',\n    domain_id: '9',\n    min_ual: '2',\n    ual: '2'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D?view=SOME_STRING_VALUE&include_ancestors=true&domain_id=9&min_ual=2&ual=2\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D?view=SOME_STRING_VALUE&include_ancestors=true&domain_id=9&min_ual=2&ual=2'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D?view=SOME_STRING_VALUE&include_ancestors=true&domain_id=9&min_ual=2&ual=2\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Project Distribution Groups Show v1.0 endpoint",
      "description": "Added missing show Distribution Group endpoint",
      "endpoint": "GET /projects/{project_id}/distribution_groups/{distribution_group_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-01-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#show-project-distribution-group"
     },
     {
      "summary": "Add `include_ancestors` Support to Show endpoint",
      "description": "The Show endpoint now supports providing `include_ancestors` and the associated `domain_id`, `ual`, and/or `min_ual` parameters available on the List endpoint. This allows for viewing Company Level Distribution Groups with users that have permissions to a given project level domain.  It also supports returning only the distribution group members with specified permissions when `extended` view is also requested.",
      "endpoint": "GET /projects/{project_id}/distribution_groups/{distribution_group_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#show-project-distribution-group"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Project Distribution Group",
    "description": "Delete a Distribution Group associated with the given Project.",
    "tags": [
     "Project Distribution Groups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "distribution_group_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the distribution group.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Project Distribution Groups Delete v1.0 endpoint",
      "description": "Added missing delete Distribution Group endpoint",
      "endpoint": "DELETE /projects/{project_id}/distribution_groups/{distribution_group_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-05-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#delete-project-distribution-group"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Project Distribution Group",
    "description": "Update a Distribution Group associated with the given Project.",
    "tags": [
     "Project Distribution Groups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "distribution_group_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the distribution group.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "Idempotency-Token",
      "in": "header",
      "description": "Unique idempotent token",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Update Distribution Group Body",
        "type": "object",
        "required": [
         "distribution_group"
        ],
        "properties": {
         "distribution_group": {
          "title": "Distribution Group",
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Distribution Group",
            "example": "Internal Stakeholders"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Internal stakeholders to notify of any major events"
           },
           "user_ids": {
            "type": "array",
            "description": "User IDs to associate with the Distribution Group",
            "items": {
             "type": "integer",
             "example": 66005
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "description": "Distribution Group",
         "type": "object",
         "title": "Extended View",
         "properties": {
          "id": {
           "type": "integer",
           "example": 1
          },
          "description": {
           "type": "string",
           "example": "Internal stakeholders to notify of any major events"
          },
          "name": {
           "type": "string",
           "example": "Internal Stakeholders"
          },
          "users": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID of the User",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Name of the User",
              "example": "Carl the Contractor"
             },
             "company_name": {
              "type": "string",
              "description": "Company Name for the User",
              "example": "Brickworks"
             },
             "login": {
              "type": "string",
              "description": "Email of the User",
              "example": "carl.contractor@example.com"
             },
             "imageUrl": {
              "type": "string",
              "description": "User Avatar URL",
              "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
             },
             "initials": {
              "type": "string",
              "description": "Initials of the User",
              "example": "BS"
             },
             "job_title": {
              "type": "string",
              "description": "Job Title of the User",
              "example": "General Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D',\n  headers: {'Idempotency-Token': 'SOME_STRING_VALUE', 'content-type': 'application/json'},\n  body: {\n    distribution_group: {\n      name: 'Internal Stakeholders',\n      description: 'Internal stakeholders to notify of any major events',\n      user_ids: [66005]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"distribution_group\\\":{\\\"name\\\":\\\"Internal Stakeholders\\\",\\\"description\\\":\\\"Internal stakeholders to notify of any major events\\\",\\\"user_ids\\\":[66005]}}\"\n\nheaders = {\n    'Idempotency-Token': \"SOME_STRING_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D \\\n  --header 'Idempotency-Token: SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"distribution_group\":{\"name\":\"Internal Stakeholders\",\"description\":\"Internal stakeholders to notify of any major events\",\"user_ids\":[66005]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups/%7Bdistribution_group_id%7D\"),\n    Headers =\n    {\n        { \"Idempotency-Token\", \"SOME_STRING_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"distribution_group\\\":{\\\"name\\\":\\\"Internal Stakeholders\\\",\\\"description\\\":\\\"Internal stakeholders to notify of any major events\\\",\\\"user_ids\\\":[66005]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Project Distribution Groups Update v1.0 endpoint",
      "description": "Added missing update Distribution Group endpoint",
      "endpoint": "PATCH /projects/{project_id}/distribution_groups/{distribution_group_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-06-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-distribution-groups?version=1.0#update-project-distribution-group"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/distribution_groups_with_ancestors": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Distribution Groups",
    "description": "Return a list of all Distribution Groups associated with a Project.",
    "tags": [
     "Project Distribution Groups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name"
       ]
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Parameter affecting what level of detail will be returned from the endpoint. 'extended' will include the users included in each distribution group.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "extended"
       ]
      }
     },
     {
      "name": "domain_id",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups, by default it is the Domain ID of the Submittals Tool. Will return only Distributions Groups who users that have access to the Tool specified by the domain_id. Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 9
      }
     },
     {
      "name": "min_ual",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups, by default it is the 'read' user access level. Will return only Distributions Groups who users that have the min ual specified by the 'min_ual'. Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 2
      }
     },
     {
      "name": "ual",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups.  Will return only Distributions Groups who users that have the exact ual specified by the 'ual'. If provided, this will take precendence over min_ual.  Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 2
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Distribution Groups",
         "items": {
          "oneOf": [
           {
            "description": "Distribution Group",
            "type": "object",
            "title": "Normal View",
            "properties": {
             "id": {
              "type": "integer",
              "example": 1
             },
             "description": {
              "type": "string",
              "example": "Internal stakeholders to notify of any major events"
             },
             "name": {
              "type": "string",
              "example": "Internal Stakeholders"
             }
            }
           },
           {
            "description": "Distribution Group",
            "type": "object",
            "title": "Extended View",
            "properties": {
             "id": {
              "type": "integer",
              "example": 1
             },
             "description": {
              "type": "string",
              "example": "Internal stakeholders to notify of any major events"
             },
             "name": {
              "type": "string",
              "example": "Internal Stakeholders"
             },
             "users": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID of the User",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "description": "Name of the User",
                 "example": "Carl the Contractor"
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name for the User",
                 "example": "Brickworks"
                },
                "login": {
                 "type": "string",
                 "description": "Email of the User",
                 "example": "carl.contractor@example.com"
                },
                "imageUrl": {
                 "type": "string",
                 "description": "User Avatar URL",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
                },
                "initials": {
                 "type": "string",
                 "description": "Initials of the User",
                 "example": "BS"
                },
                "job_title": {
                 "type": "string",
                 "description": "Job Title of the User",
                 "example": "General Contractor"
                }
               }
              }
             }
            }
           },
           {
            "description": "Distribution Group",
            "type": "object",
            "title": "Extended View with Domain User IDs",
            "properties": {
             "id": {
              "type": "integer",
              "example": 1
             },
             "description": {
              "type": "string",
              "example": "Internal stakeholders to notify of any major events"
             },
             "name": {
              "type": "string",
              "example": "Internal Stakeholders"
             },
             "users": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID of the User",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "description": "Name of the User",
                 "example": "Carl the Contractor"
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name for the User",
                 "example": "Brickworks"
                },
                "login": {
                 "type": "string",
                 "description": "Email of the User",
                 "example": "carl.contractor@example.com"
                },
                "imageUrl": {
                 "type": "string",
                 "description": "User Avatar URL",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
                },
                "initials": {
                 "type": "string",
                 "description": "Initials of the User",
                 "example": "BS"
                },
                "job_title": {
                 "type": "string",
                 "description": "Job Title of the User",
                 "example": "General Contractor"
                }
               }
              }
             },
             "domain_user_ids": {
              "type": "array",
              "description": "List of user IDs that have permissions to view specified domain. Only included if the 'extended' view is supported and 'with_domain_users' param is sent.",
              "items": {
               "type": "integer",
               "example": 161072
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups_with_ancestors',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE',\n    domain_id: '9',\n    min_ual: '2',\n    ual: '2'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups_with_ancestors?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&domain_id=9&min_ual=2&ual=2\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups_with_ancestors?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&domain_id=9&min_ual=2&ual=2'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups_with_ancestors?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&domain_id=9&min_ual=2&ual=2\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/distribution_groups_with_ancestors/{distribution_group_id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Project Distribution Group",
    "description": "Show detail on a specified Project Distribution Group",
    "tags": [
     "Project Distribution Groups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "distribution_group_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the distribution group.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Parameter affecting what level of detail will be returned from the endpoint. 'extended' will include the users in the distribution group.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "extended"
       ]
      }
     },
     {
      "name": "domain_id",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups, by default it is the Domain ID of the Submittals Tool. Will return only Distributions Groups who users that have access to the Tool specified by the domain_id. Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 9
      }
     },
     {
      "name": "min_ual",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups, by default it is the 'read' user access level. Will return only Distributions Groups who users that have the min ual specified by the 'min_ual'. Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 2
      }
     },
     {
      "name": "ual",
      "in": "query",
      "description": "Parameter affecting the scope for the Distribution Groups.  Will return only Distributions Groups who users that have the exact ual specified by the 'ual'. If provided, this will take precendence over min_ual.  Only applies to requests that also have include_ancestors set to 'true'.",
      "required": false,
      "schema": {
       "type": "integer",
       "example": 2
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "description": "Distribution Group",
           "type": "object",
           "title": "Normal View",
           "properties": {
            "id": {
             "type": "integer",
             "example": 1
            },
            "description": {
             "type": "string",
             "example": "Internal stakeholders to notify of any major events"
            },
            "name": {
             "type": "string",
             "example": "Internal Stakeholders"
            }
           }
          },
          {
           "description": "Distribution Group",
           "type": "object",
           "title": "Extended View",
           "properties": {
            "id": {
             "type": "integer",
             "example": 1
            },
            "description": {
             "type": "string",
             "example": "Internal stakeholders to notify of any major events"
            },
            "name": {
             "type": "string",
             "example": "Internal Stakeholders"
            },
            "users": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID of the User",
                "example": 161072
               },
               "name": {
                "type": "string",
                "description": "Name of the User",
                "example": "Carl the Contractor"
               },
               "company_name": {
                "type": "string",
                "description": "Company Name for the User",
                "example": "Brickworks"
               },
               "login": {
                "type": "string",
                "description": "Email of the User",
                "example": "carl.contractor@example.com"
               },
               "imageUrl": {
                "type": "string",
                "description": "User Avatar URL",
                "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D"
               },
               "initials": {
                "type": "string",
                "description": "Initials of the User",
                "example": "BS"
               },
               "job_title": {
                "type": "string",
                "description": "Job Title of the User",
                "example": "General Contractor"
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups_with_ancestors/%7Bdistribution_group_id%7D',\n  qs: {view: 'SOME_STRING_VALUE', domain_id: '9', min_ual: '2', ual: '2'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups_with_ancestors/%7Bdistribution_group_id%7D?view=SOME_STRING_VALUE&domain_id=9&min_ual=2&ual=2\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups_with_ancestors/%7Bdistribution_group_id%7D?view=SOME_STRING_VALUE&domain_id=9&min_ual=2&ual=2'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/distribution_groups_with_ancestors/%7Bdistribution_group_id%7D?view=SOME_STRING_VALUE&domain_id=9&min_ual=2&ual=2\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}