{
 "openapi": "3.0.0",
 "info": {
  "title": "Projects",
  "x-product-category": "Core",
  "x-tool-category": "Portfolio",
  "x-resource-name": "Projects",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-skip-snippet-generation": true,
    "summary": "List projects",
    "description": "Return a list of active Projects.\n\nIf the authenticated user has full company admin permissions the request will return all of the projects in the company. If the user does not have full company admin permissions, the request will only return the projects that the user has been added to.\nThe default pagination is 100 projects per page. The max page size is 300 projects due to the size of the data in the response.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[by_status]",
      "in": "query",
      "description": "Filters on project status. Must be one of Active, Inactive, or All.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "All",
        "Active",
        "Inactive"
       ]
      }
     },
     {
      "name": "filters[name]",
      "in": "query",
      "description": "Filters projects to those matching the given string.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[project_number]",
      "in": "query",
      "description": "Filters on project number.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[synced]",
      "in": "query",
      "required": false,
      "description": "If true, returns only item(s) with a `synced` status.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[is_demo]",
      "in": "query",
      "description": "Filters on project is_demo attribute, which indicates whether project is\nfor demonstration purposes.\n",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[custom_fields]",
      "in": "query",
      "description": "JSON object returns project with matching custom_field_values",
      "required": false,
      "schema": {
       "type": "object",
       "description": "json object where key = custom_field_id",
       "example": "{\"1\": true, \"5\": [4,3] }"
      }
     },
     {
      "name": "filters[template]",
      "in": "query",
      "description": "Filters on project template attribute, which indicates whether project is\na template\n",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[by_owner_type]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified project owner type ID(s).",
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "array",
         "items": {
          "type": "integer"
         }
        }
       ]
      }
     },
     {
      "name": "filters[by_department]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified department ID(s).",
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "array",
         "items": {
          "type": "integer"
         }
        }
       ]
      }
     },
     {
      "name": "filters[by_region]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified project region ID(s).",
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "array",
         "items": {
          "type": "integer"
         }
        }
       ]
      }
     },
     {
      "name": "filters[by_office]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified office ID(s).",
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "array",
         "items": {
          "type": "integer"
         }
        }
       ]
      }
     },
     {
      "name": "filters[by_program]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified project program ID(s).",
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "array",
         "items": {
          "type": "integer"
         }
        }
       ]
      }
     },
     {
      "name": "filters[by_stage]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified project stage ID(s).",
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "array",
         "items": {
          "type": "integer"
         }
        }
       ]
      }
     },
     {
      "name": "filters[by_type]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified project type ID(s).",
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "array",
         "items": {
          "type": "integer"
         }
        }
       ]
      }
     },
     {
      "name": "filters[by_bid_type]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified project bid type ID(s).",
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "array",
         "items": {
          "type": "integer"
         }
        }
       ]
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The view determines which fields are returned. 'ids' return only id as an Integer (it additionally influences 'per_page' value to be strictly 200000), 'compact' returns only id and name, 'normal' returns more fields, while 'extended' returns all the project information",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ids",
        "compact",
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name",
        "display_name"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of projects",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "title": "normal",
            "properties": {
             "id": {
              "description": "Unique identifier for the project.",
              "example": 12738,
              "type": "integer"
             },
             "accounting_project_number": {
              "description": "The accounting project number for the Project",
              "example": 3456,
              "type": "string"
             },
             "active": {
              "description": "The active status for the Project",
              "example": true,
              "type": "boolean"
             },
             "actual_start_date": {
              "description": "Project actual start date",
              "example": "2015-05-15",
              "format": "date",
              "type": "string"
             },
             "address": {
              "description": "The street address for the Project",
              "example": "123 First St.",
              "type": "string"
             },
             "city": {
              "description": "The city in which the Project is located",
              "example": "Carpinteria",
              "type": "string"
             },
             "company": {
              "properties": {
               "id": {
                "description": "Unique identifier for the company.",
                "example": 1234,
                "type": "integer"
               },
               "name": {
                "description": "The Company name",
                "example": "CA Construction",
                "type": "string"
               }
              },
              "title": "ProjectCompany",
              "type": "object"
             },
             "completion_date": {
              "description": "The completion date for the project",
              "example": "2020-10-31",
              "format": "date",
              "type": "string"
             },
             "country_code": {
              "description": "The country code for the Project (ISO-3166 Alpha-2 format)",
              "example": "US",
              "type": "string"
             },
             "county": {
              "description": "The county in which the Project is located",
              "example": "Santa Barbara County",
              "type": "string"
             },
             "created_at": {
              "description": "The date and time the Project was created",
              "example": "2014-12-29T21:53:56Z",
              "format": "date-time",
              "type": "string"
             },
             "created_by": {
              "type": "object",
              "description": "Login Information",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User email",
                "example": "johndoe@example.com"
               }
              }
             },
             "custom_fields": {
              "properties": {
               "custom_field_%{custom_field_boolean_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean",
                  "type": "string"
                 },
                 "value": {
                  "description": "The value of the custom field.",
                  "example": true,
                  "type": "boolean"
                 }
                },
                "type": "object"
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal",
                  "type": "string"
                 },
                 "value": {
                  "description": "The value of the custom field.",
                  "example": 2.2,
                  "type": "number"
                 }
                },
                "type": "object"
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries",
                  "type": "string"
                 },
                 "value": {
                  "items": {
                   "properties": {
                    "id": {
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": 2,
                     "type": "integer"
                    },
                    "label": {
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open",
                     "type": "string"
                    }
                   },
                   "type": "object"
                  },
                  "type": "array"
                 }
                },
                "type": "object"
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry",
                  "type": "string"
                 },
                 "value": {
                  "properties": {
                   "id": {
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 1,
                    "type": "integer"
                   },
                   "label": {
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open",
                    "type": "string"
                   }
                  },
                  "type": "object"
                 }
                },
                "type": "object"
               },
               "custom_field_%{custom_field_string_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string",
                  "type": "string"
                 },
                 "value": {
                  "description": "The value of the custom field.",
                  "example": "custom field value",
                  "type": "string"
                 }
                },
                "type": "object"
               }
              },
              "type": "object"
             },
             "delivery_method": {
              "title": "Delivery Method",
              "type": "string",
              "description": "The delivery method of a project.",
              "nullable": true,
              "enum": [
               "construction_management_at_risk_cmar",
               "construction_manager_as_agent_owners_rep",
               "design_bid_build_dbb",
               "design_build_db",
               "indefinite_delivery_indefinite_quantity_idiq",
               "integrated_project_delivery",
               "multi_prime",
               "public_private_partnership_p3",
               "other",
               null
              ]
             },
             "description": {
              "type": "string",
              "description": "Project description",
              "example": "Very cool project.",
              "nullable": true
             },
             "designated_market_area": {
              "description": "The designated market area the Project is located in",
              "example": "Southeast",
              "type": "string"
             },
             "display_name": {
              "description": "The display name for the Project",
              "example": "12 - Lakeside Mixed Use",
              "type": "string"
             },
             "estimated_value": {
              "description": "The Estimated Value of the project. Note: this field is now deprecated and will mirror the value of total_value until it is no longer supported.",
              "example": "10000.0",
              "format": "float",
              "type": "string"
             },
             "is_demo": {
              "description": "Indicates whether this is a test project or not",
              "example": false,
              "type": "boolean"
             },
             "latitude": {
              "description": "The geographic coordinate that specifies the north\u2013south position of the Project on the Earth's surface.",
              "example": 34.3850464855729,
              "format": "float",
              "type": "number"
             },
             "longitude": {
              "description": "The geographic coordinate that specifies the east\u2013west position of the Project on the Earth's surface.",
              "example": -119.490849121334,
              "format": "float",
              "type": "number"
             },
             "name": {
              "description": "The name of the Project",
              "example": "Lakeside Mixed Use",
              "type": "string"
             },
             "origin_code": {
              "description": "An external third-party code associated with the Project",
              "example": "Code 123",
              "nullable": true,
              "type": "string"
             },
             "origin_data": {
              "description": "An external third-party data string associated with the Project",
              "example": "459247544",
              "nullable": true,
              "type": "string"
             },
             "origin_id": {
              "description": "An external third-party identifier for the Project",
              "example": "OD-2398273424",
              "nullable": true,
              "type": "string"
             },
             "owners_project_id": {
              "description": "A linked identifier for the Owner's Project",
              "example": 1234,
              "nullable": true,
              "type": "integer"
             },
             "parent_job_id": {
              "description": "Identifier for the parent job",
              "example": 123456,
              "nullable": true,
              "type": "integer"
             },
             "phone": {
              "description": "The telephone number for the Project",
              "example": "480-800-5555",
              "type": "string"
             },
             "photo_id": {
              "description": "The unique identifier for the Project Photo",
              "example": 1,
              "nullable": true,
              "type": "integer"
             },
             "project_bid_type_id": {
              "description": "The Bid Type identifier for the Project",
              "example": 1,
              "nullable": true,
              "type": "integer"
             },
             "project_number": {
              "description": "The Project number",
              "example": "12",
              "type": "string"
             },
             "project_owner_type_id": {
              "description": "The Owner Type identifier for the Project",
              "example": 1,
              "nullable": true,
              "type": "integer"
             },
             "project_region_id": {
              "description": "The region identifier for the Project",
              "example": 1,
              "nullable": true,
              "type": "integer"
             },
             "project_stage": {
              "title": "ProjectStage",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "The identifier for the Project Stage",
                "example": 3
               },
               "name": {
                "type": "string",
                "description": "The name for the Project Stage",
                "example": "Course of Construction"
               }
              }
             },
             "project_template": {
              "title": "ProjectTemplate",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "The identifier for the Project template",
                "example": 3
               },
               "name": {
                "type": "string",
                "description": "The name of the Project template",
                "example": "Fairview Apartments"
               }
              }
             },
             "project_type": {
              "title": "ProjectType",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "The type of the project",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "The name of the project type",
                "example": "Commercial"
               }
              }
             },
             "projected_finish_date": {
              "description": "Project finish date",
              "example": "2015-05-31",
              "format": "date",
              "nullable": true,
              "type": "string"
             },
             "sector": {
              "title": "Project Sector",
              "type": "string",
              "description": "The sector of a project.",
              "nullable": true,
              "enum": [
               "agriculture",
               "airport",
               "alcohol_establishment",
               "amusement_park",
               "animal_health_veterinary",
               "animal_lodging",
               "assembly",
               "auto_parts_store",
               "auto_service",
               "auto_vehicle_terminal",
               "automobile_retail",
               "aviation",
               "bank",
               "bar_tavern",
               "battery_energy_storage",
               "behavioral_health",
               "big_box_store",
               "bowling_alley",
               "brewery",
               "bridges",
               "business_park",
               "campground",
               "car_wash",
               "casino",
               "casino_hotel",
               "cemetery",
               "city_hall_operations",
               "civil_infrastructure",
               "college_university",
               "commercial",
               "convenience_store",
               "convention_center",
               "courthouse",
               "cultural",
               "dam",
               "data_center",
               "daycare_pre_k",
               "dealership",
               "death",
               "dental",
               "department_store",
               "distillery",
               "distribution_warehouse",
               "district_operations",
               "drug_store",
               "dry_storage",
               "educational",
               "electrical_substation",
               "elementary_school",
               "energy",
               "energy_distribution",
               "energy_production",
               "energy_storage",
               "entertainment",
               "entertainment_production",
               "environmentally_controlled",
               "event_space",
               "fast_food_restaurant",
               "fire_station",
               "funeral_home",
               "gas_station",
               "golf",
               "government",
               "government_buildings",
               "grocery_store",
               "gym_athletic_studio",
               "hangar",
               "hazardous_storage",
               "health_care",
               "high_school",
               "hospital",
               "hospitality",
               "hotel",
               "hydro_power",
               "individual_space",
               "indoor",
               "industrial",
               "institutional",
               "jail_prison",
               "k_12",
               "library",
               "liquor_store",
               "lodging",
               "manufacturing",
               "medical_center",
               "medical_office_building_mob",
               "middle_school",
               "military_naval",
               "miscellaneous_pavement",
               "mixed_use",
               "movie_theater",
               "multifamily",
               "museum",
               "nuclear_power_plant",
               "office",
               "office_retail",
               "oil_gas_mining",
               "outdoor",
               "outpatient_care",
               "park",
               "parking_garage",
               "parking_lot",
               "performing_arts",
               "personal_service",
               "pipe_line",
               "playground",
               "police_station",
               "pool_swim_facility",
               "post_office",
               "production",
               "psychiatric_hospital",
               "public_safety",
               "race_track",
               "railway_terminal",
               "railways",
               "recreation",
               "rehab_facility",
               "religious_institution",
               "research_development",
               "reservoir",
               "residential",
               "residential_office_retail",
               "residential_retail",
               "restaurant",
               "retail",
               "roads_highways",
               "runway_taxiway",
               "rv_park",
               "self_storage",
               "senior_housing",
               "sewer_systems",
               "shopping_center_mall",
               "sidewalk_walkways",
               "single_family",
               "solar_power",
               "specialist_office",
               "specialty_store",
               "sports_courts",
               "sports_fields",
               "stadium_arena",
               "storage",
               "street_lights",
               "student_housing",
               "telecommunication",
               "telecommunication_lines",
               "terminal",
               "trailer_park",
               "transportation",
               "transportation_terminals",
               "tunnel",
               "urgent_care",
               "waste_collection",
               "waste_infrastructure",
               "waste_processing",
               "waste_water",
               "water_distribution",
               "water_infrastructure",
               "water_retention",
               "water_treatment_plant_wwtp",
               "wind_power",
               "winery",
               "winter_sports",
               "zoo_aquarium",
               null
              ]
             },
             "square_feet": {
              "type": "integer",
              "description": "The total square footage for the Project",
              "example": 5000,
              "nullable": true
             },
             "start_date": {
              "description": "The start date for the project",
              "example": "2019-10-31",
              "format": "date",
              "type": "string"
             },
             "state_code": {
              "description": "The state code for the Project (ISO-3166 Alpha-2 format)",
              "example": "CA",
              "type": "string"
             },
             "store_number": {
              "description": "The store number for the Project",
              "example": 3,
              "type": "string"
             },
             "time_zone": {
              "description": "The timezone the Project is located in",
              "example": "US/Pacific",
              "type": "string"
             },
             "total_value": {
              "description": "The total amount of construction work performed, planned, or put in place during the project. Note: this field is a replacement to estimated_value and will mirror its value.",
              "example": "10000.0",
              "format": "float",
              "type": "string"
             },
             "updated_at": {
              "description": "The date and time the Project was last updated",
              "example": "2015-04-20T18:09:33Z",
              "format": "date-time",
              "type": "string"
             },
             "work_scope": {
              "title": "Work Scope",
              "type": "string",
              "description": "The work scope of a project.",
              "nullable": true,
              "enum": [
               "new_construction",
               "renovation_alteration",
               "maintenance_service",
               null
              ]
             },
             "zip": {
              "description": "The postal code for the Project",
              "example": "93103",
              "type": "string"
             }
            }
           },
           {
            "type": "object",
            "title": "compact",
            "properties": {
             "id": {
              "description": "Unique identifier for the project.",
              "example": 12738,
              "type": "integer"
             },
             "name": {
              "description": "The name of the Project",
              "example": "Lakeside Mixed Use",
              "type": "string"
             }
            }
           },
           {
            "type": "object",
            "title": "extended",
            "properties": {
             "id": {
              "description": "Unique identifier for the project.",
              "example": 89025,
              "type": "integer"
             },
             "accounting_project_number": {
              "description": "Accounting Project Number of the Project",
              "example": 3456,
              "nullable": true,
              "type": "string"
             },
             "active": {
              "description": "Project active status",
              "example": true,
              "type": "boolean"
             },
             "actual_start_date": {
              "description": "Project actual start date",
              "example": "2015-05-15",
              "format": "date",
              "type": "string"
             },
             "address": {
              "description": "Project address",
              "example": "500 Construction Way",
              "nullable": true,
              "type": "string"
             },
             "city": {
              "description": "Project city",
              "example": "Carpinteria",
              "nullable": true,
              "type": "string"
             },
             "company": {
              "properties": {
               "id": {
                "description": "Company ID",
                "example": 1234,
                "type": "integer"
               },
               "name": {
                "description": "Company name",
                "example": "CA Construction",
                "type": "string"
               }
              },
              "title": "ProjectCompany",
              "type": "object"
             },
             "completion_date": {
              "description": "The date that all parties agree the project meets or must meet \u201csubstantial completion\u201d. Note: this field is a replacement to estimated_completion_date and will mirror its value.",
              "example": "2015-05-15",
              "format": "date",
              "nullable": true,
              "type": "string"
             },
             "country_code": {
              "description": "Project country code (ISO-3166 Alpha-2 format)",
              "example": "US",
              "nullable": true,
              "type": "string"
             },
             "county": {
              "description": "Project county",
              "example": "Santa Barbara County",
              "nullable": true,
              "type": "string"
             },
             "created_at": {
              "description": "Project created at",
              "example": "2014-12-29T21:53:56Z",
              "format": "date-time",
              "type": "string"
             },
             "custom_fields": {
              "properties": {
               "custom_field_%{custom_field_boolean_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean",
                  "type": "string"
                 },
                 "value": {
                  "description": "The value of the custom field.",
                  "example": true,
                  "type": "boolean"
                 }
                },
                "type": "object"
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal",
                  "type": "string"
                 },
                 "value": {
                  "description": "The value of the custom field.",
                  "example": 2.2,
                  "type": "number"
                 }
                },
                "type": "object"
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries",
                  "type": "string"
                 },
                 "value": {
                  "items": {
                   "properties": {
                    "id": {
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": 2,
                     "type": "integer"
                    },
                    "label": {
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open",
                     "type": "string"
                    }
                   },
                   "type": "object"
                  },
                  "type": "array"
                 }
                },
                "type": "object"
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry",
                  "type": "string"
                 },
                 "value": {
                  "properties": {
                   "id": {
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 1,
                    "type": "integer"
                   },
                   "label": {
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open",
                    "type": "string"
                   }
                  },
                  "type": "object"
                 }
                },
                "type": "object"
               },
               "custom_field_%{custom_field_string_definition_id}": {
                "properties": {
                 "data_type": {
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string",
                  "type": "string"
                 },
                 "value": {
                  "description": "The value of the custom field.",
                  "example": "custom field value",
                  "type": "string"
                 }
                },
                "type": "object"
               }
              },
              "type": "object"
             },
             "departments": {
              "description": "Array of project departments",
              "items": {
               "properties": {
                "id": {
                 "description": "Department ID",
                 "example": 2,
                 "type": "integer"
                },
                "name": {
                 "description": "Department name",
                 "example": "Residential",
                 "type": "string"
                }
               },
               "title": "ProjectDepartment",
               "type": "object"
              },
              "type": "array"
             },
             "description": {
              "description": "Project description",
              "example": "Very cool project.",
              "nullable": true,
              "type": "string"
             },
             "designated_market_area": {
              "description": "Designated Market Area of the Project",
              "example": "Southeast",
              "nullable": true,
              "type": "string"
             },
             "dictionary_type": {
              "description": "Dictionary Type",
              "example": "general-contractor",
              "type": "string"
             },
             "display_name": {
              "description": "Project display name",
              "example": "A-1 Casa de Casper",
              "type": "string"
             },
             "estimated_completion_date": {
              "description": "The Estimated Completion Date of the Project. Note: this field is now deprecated and will mirror the value of completion_date until it is no longer supported.",
              "example": "2015-05-31",
              "format": "date",
              "nullable": true,
              "type": "string"
             },
             "estimated_start_date": {
              "description": "The Estimated Start Date of the Project. Note: this field is now deprecated and will mirror the value of start_date until it is no longer supported.",
              "example": "2015-05-15",
              "format": "date",
              "nullable": true,
              "type": "string"
             },
             "estimated_value": {
              "description": "The Estimated Value of the Project. Note: this field is now deprecated and will mirror the value of total_value until it is no longer supported.",
              "example": "10000.0",
              "format": "float",
              "nullable": true,
              "type": "string"
             },
             "flag": {
              "description": "Project flag",
              "enum": [
               "Red",
               "Yellow",
               "Green",
               null
              ],
              "example": "Yellow",
              "nullable": true,
              "type": "string"
             },
             "inbound_email": {
              "description": "The inbound email address username suffix for the project.",
              "example": "inbound-casa-de-casper",
              "type": "string"
             },
             "latitude": {
              "description": "Project latitude",
              "example": 34.3850464855729,
              "format": "float",
              "nullable": true,
              "type": "number"
             },
             "logo_url": {
              "description": "Project logo url",
              "example": "https://s3.amazonaws.com/pro-core.com/prostore/20150904220156_production_105341655.png?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2091808024&Signature=qELZAktHou5QICU747PbcEcN0AY%3D",
              "type": "string"
             },
             "longitude": {
              "description": "Project longitude",
              "example": -119.490849121334,
              "format": "float",
              "nullable": true,
              "type": "number"
             },
             "name": {
              "description": "Project name",
              "example": "Casa de Casper",
              "type": "string"
             },
             "office": {
              "properties": {
               "id": {
                "description": "Office ID",
                "example": 3610,
                "type": "integer"
               },
               "name": {
                "description": "Office name",
                "example": "Carpinteria",
                "type": "string"
               }
              },
              "title": "ProjectOffice",
              "type": "object"
             },
             "origin_code": {
              "description": "Project third party code",
              "example": "Code 123",
              "nullable": true,
              "type": "string"
             },
             "origin_data": {
              "description": "Project third party data",
              "example": "459247544",
              "nullable": true,
              "type": "string"
             },
             "origin_id": {
              "description": "Project third party id",
              "example": "OD-2398273424",
              "nullable": true,
              "type": "string"
             },
             "owners_project_id": {
              "description": "Linked Owner's unique identifier for the Project",
              "example": 1234,
              "nullable": true,
              "type": "integer"
             },
             "parent_job_id": {
              "description": "Parent Job ID",
              "example": 3,
              "nullable": true,
              "title": "ParentJob",
              "type": "integer"
             },
             "persistent_message": {
              "properties": {
               "message": {
                "description": "Project persistent message",
                "example": "Provide and install HVAC systems.",
                "nullable": true,
                "type": "string"
               },
               "title": {
                "description": "Project persistent message title",
                "example": "General Scope of Work",
                "nullable": true,
                "type": "string"
               }
              },
              "title": "ProjectPersistentMessage",
              "type": "object"
             },
             "phone": {
              "description": "Project phone",
              "example": "707-555-9866",
              "nullable": true,
              "type": "string"
             },
             "photo_id": {
              "description": "Project Photo Id",
              "example": 1,
              "nullable": true,
              "type": "integer"
             },
             "program": {
              "properties": {
               "id": {
                "description": "Program ID",
                "example": 4,
                "type": "integer"
               },
               "name": {
                "description": "Program name",
                "example": "Design Bid",
                "type": "string"
               }
              },
              "title": "ProjectProgram",
              "type": "object"
             },
             "project_bid_type": {
              "properties": {
               "id": {
                "description": "Project Bid Type ID",
                "example": 1,
                "type": "integer"
               },
               "name": {
                "description": "Project Bid Type name",
                "example": "Competitive Bid",
                "type": "string"
               }
              },
              "title": "ProjectBidType",
              "type": "object"
             },
             "project_number": {
              "description": "Project number",
              "example": "A-1",
              "nullable": true,
              "type": "string"
             },
             "project_owner_type": {
              "properties": {
               "id": {
                "description": "Project Owner Type ID",
                "example": 1,
                "type": "integer"
               },
               "name": {
                "description": "Project Owner Type name",
                "example": "Project Owner Type A",
                "type": "string"
               }
              },
              "title": "ProjectOwnerType",
              "type": "object"
             },
             "project_owner_type_id": {
              "description": "The Owner Type for the Project",
              "example": 1,
              "nullable": true,
              "type": "integer"
             },
             "project_region": {
              "properties": {
               "id": {
                "description": "Project Region ID",
                "example": 1,
                "type": "integer"
               },
               "name": {
                "description": "Project Region name",
                "example": "West",
                "type": "string"
               }
              },
              "title": "ProjectRegion",
              "type": "object"
             },
             "project_region_id": {
              "description": "The Region identifier for the Project",
              "example": 1,
              "nullable": true,
              "type": "integer"
             },
             "project_stage": {
              "properties": {
               "id": {
                "description": "Stage ID",
                "example": 3,
                "type": "integer"
               },
               "name": {
                "description": "Stage name",
                "example": "Course of Construction",
                "type": "string"
               }
              },
              "title": "ProjectStage",
              "type": "object"
             },
             "project_type": {
              "properties": {
               "id": {
                "description": "Project Type ID",
                "example": 1,
                "type": "integer"
               },
               "name": {
                "description": "Project Type name",
                "example": "Project Type A",
                "type": "string"
               }
              },
              "title": "ProjectType",
              "type": "object"
             },
             "projected_finish_date": {
              "description": "Project finish date",
              "example": "2015-05-31",
              "format": "date",
              "nullable": true,
              "type": "string"
             },
             "public_notes": {
              "description": "Project public notes",
              "example": "We're building a large private residence.",
              "nullable": true,
              "type": "string"
             },
             "square_feet": {
              "description": "Project square feet",
              "example": 5000,
              "nullable": true,
              "type": "integer"
             },
             "standard_cost_code_list_id": {
              "description": "The Standard Cost Code List identifier for the Project",
              "example": 1,
              "nullable": true,
              "type": "integer"
             },
             "start_date": {
              "description": "The date that the contract for the project is signed. Note: this field is a replacement to estimated_start_date and will mirror its value.",
              "example": "2015-05-15",
              "format": "date",
              "nullable": true,
              "type": "string"
             },
             "state_code": {
              "description": "Project state code (ISO-3166 Alpha-2 format)",
              "example": "CA",
              "nullable": true,
              "type": "string"
             },
             "store_number": {
              "description": "Store Number of the Project",
              "example": 3,
              "nullable": true,
              "type": "string"
             },
             "time_zone": {
              "description": "The Timezone of the Project",
              "example": "US/Pacific",
              "type": "string"
             },
             "total_value": {
              "description": "The total amount of construction work performed, planned, or put in place during the project. Note: this field is a replacement to estimated_value and will mirror its value.",
              "example": "10000.0",
              "format": "float",
              "nullable": true,
              "type": "string"
             },
             "tz_name": {
              "description": "The tz-database version of the Timezone of the Project",
              "example": "America/Los_Angeles",
              "type": "string"
             },
             "updated_at": {
              "description": "Project updated at",
              "example": "2016-03-14T16:52:22Z",
              "format": "date-time",
              "type": "string"
             },
             "warranty_end_date": {
              "description": "Project warranty end date",
              "example": "2015-05-31",
              "format": "date",
              "nullable": true,
              "type": "string"
             },
             "warranty_start_date": {
              "description": "Project warranty start date",
              "example": "2015-05-15",
              "format": "date",
              "nullable": true,
              "type": "string"
             },
             "zip": {
              "description": "Project zip code",
              "example": "93110",
              "nullable": true,
              "type": "string"
             },
             "project_sector_id": {
              "type": "integer",
              "description": "Id of the project sector associated with the project.",
              "example": 1
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Fix is_demo filter to include projects with null values",
      "description": "Fixed an issue where the filters[is_demo]=false parameter on GET /projects endpoint \nreturned incomplete results. The filter now correctly includes projects where is_demo \nis either false or null, ensuring consistency with the API response behavior.",
      "endpoint": "GET /projects",
      "type": "fix",
      "breaking": false,
      "datestamp": "2026-04-07",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.1#list-projects"
     },
     {
      "summary": "Add additional project information to list with extended view",
      "description": "Add all project fields to list endpoint with extended view. Default pagination is 100. Max pagination is 300",
      "endpoint": "GET /projects",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-03-14",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.1#list-projects"
     },
     {
      "summary": "Add project template to list view",
      "description": "The list endpoint now returns information about the project template. In the v1.1 version, the project template is only available in the `extended` view.",
      "endpoint": "GET /projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-03-28",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     },
     {
      "summary": "Add filters[custom_fields] query param",
      "description": "adds custom_fields query param to filter results",
      "endpoint": "GET /projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-04-15",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     },
     {
      "summary": "Add filters[project_number] query param",
      "description": "adds project_number query param to filter results",
      "endpoint": "GET /projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-10-24",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     },
     {
      "summary": "Add new filtering options to the List Projects API",
      "description": "Add the following filtering options to the List Projects API:\n- template\n- by_owner_type\n- by_department\n- by_region\n- by_office\n- by_program\n- by_stage\n- by_type\n- by_bid_type\n",
      "endpoint": "GET /projects",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-19",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.1#list-projects"
     },
     {
      "summary": "Add sort[display_name] query param",
      "description": "Sort results by display_name",
      "endpoint": "GET /projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-09-13",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     },
     {
      "summary": "Add filters[name] query param",
      "description": "Filter results to those matching the search string",
      "endpoint": "GET /projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-09-13",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     },
     {
      "summary": "Add sector, work_scope, and delivery_method fields to Projects",
      "description": "Add sector, work_scope, and delivery_method fields to Projects",
      "endpoint": "GET /projects",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-25",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     },
     {
      "summary": "Add description, square_feet, actual_start_date, projected_finish_date, project_type fields to List projects",
      "description": "Add description, square_feet, actual_start_date, projected_finish_date, project_type fields to List projects.\n",
      "endpoint": "GET /projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-10-28",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.1#list-projects"
     },
     {
      "summary": "Add ids view",
      "description": "Add ids view. When used all ids of company projects will be returned (static limit of 200000 per page).\n",
      "endpoint": "GET /projects",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.1#list-projects"
     },
     {
      "summary": "Add created_by attribute to List Projects",
      "description": "Add created_by attribute to show who created a project",
      "endpoint": "GET /projects",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-18",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     },
     {
      "summary": "Add name attribute to project_type object",
      "description": "Add name attribute to project_type object",
      "endpoint": "GET /projects",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-02-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.1#list-projects"
     },
     {
      "summary": "Add estimated_budget and priority fields to Projects",
      "description": "Add estimated_budget (numeric) and priority (enum: low, medium, high) fields to Projects.\n",
      "endpoint": "GET /projects",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-13",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     },
     {
      "summary": "Add project sector id to projects",
      "description": "Add project sector id to projects",
      "endpoint": "GET /projects",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-29",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "projects?version=1.0#list-projects"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create project",
    "description": "Create a new Project in a Procore account. The new project is active by default.\n\n#### Country and State codes\nThe `country_code` and `state_code` parameter values must conform to the ISO-3166 Alpha-2 specification.\nSee [Working with Country Codes](/documentation/country-codes) for additional information.\n#### Recommendation\nFor accounts creating a significant number of projects (more than 300),  schedule these operations during non-business hours (5 P.M PST - 7 A.M PST) to optimize efficiency. Coordinate the timing with your solution architect for insights into system load and effective resource utilization.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "project"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "The company identifier the project is associated with.",
          "example": 3461
         },
         "project": {
          "title": "Project",
          "type": "object",
          "required": [
           "name"
          ],
          "properties": {
           "active": {
            "type": "boolean",
            "description": "The project active status.",
            "default": true,
            "example": true
           },
           "address": {
            "type": "string",
            "description": "The street address of the project.",
            "example": "500 Construction Way"
           },
           "city": {
            "type": "string",
            "description": "The city where the project is located.",
            "example": "Carpinteria"
           },
           "code": {
            "type": "string",
            "description": "The project code.",
            "example": "ABC"
           },
           "country_code": {
            "type": "string",
            "description": "The country code (ISO-3166 Alpha-2 format) where the project is located.",
            "example": "US"
           },
           "description": {
            "type": "string",
            "description": "The project description.",
            "example": "A description of the project"
           },
           "start_date": {
            "type": "string",
            "format": "date",
            "description": "The date that the contract for the project is signed. Note: This field replaces estimated_start_date and will mirror its value.",
            "example": "2015-05-15"
           },
           "completion_date": {
            "type": "string",
            "format": "date",
            "description": "The date that all parties agree the project meets or must meet \u201csubstantial completion\u201d. Note: This field replaces estimated_completion_date and will mirror its value.",
            "example": "2015-05-15"
           },
           "total_value": {
            "type": "number",
            "format": "float",
            "description": "The total amount of construction work performed, planned, or put in place during the project. Note: This field is a replacement of estimated_value and will mirror its value.",
            "example": 10000
           },
           "warranty_start_date": {
            "type": "string",
            "format": "date",
            "description": "The project warranty start date.",
            "example": "2015-05-16"
           },
           "warranty_end_date": {
            "type": "string",
            "format": "date",
            "description": "The project warranty end date.",
            "example": "2016-06-10"
           },
           "flag": {
            "type": "string",
            "enum": [
             "Red",
             "Yellow",
             "Green"
            ],
            "description": "The project flag.",
            "example": "Yellow"
           },
           "image_id": {
            "type": "integer",
            "description": "The project image identifier.",
            "example": 10
           },
           "locale": {
            "type": "string",
            "description": "The locale for the Project. (Note that your account may not have access to all locales.)",
            "enum": [
             "de-DE",
             "en",
             "en-AE",
             "en-AU",
             "en-CA",
             "en-GB",
             "en-SG",
             "en-US-x-owner",
             "en-US-x-sc",
             "en-budget",
             "en-owner",
             "es",
             "es-419",
             "es-ES",
             "fr-CA",
             "fr-FR",
             "ja-JP",
             "ko",
             "pl-PL",
             "pseudo",
             "pt-BR",
             "th-TH",
             "zh-SG"
            ]
           },
           "name": {
            "type": "string",
            "description": "The project name.",
            "example": "Project F"
           },
           "office_id": {
            "type": "integer",
            "description": "The project office identifier.",
            "example": 3610
           },
           "phone": {
            "type": "string",
            "description": "The project telephone number.",
            "example": "310-555-5555"
           },
           "project_number": {
            "type": "string",
            "maxLength": 255,
            "description": "The project number.",
            "example": "A-2"
           },
           "public_notes": {
            "type": "string",
            "description": "The public notes for the project.",
            "example": "Notes"
           },
           "project_stage_id": {
            "type": "integer",
            "description": "The project stage identifier.",
            "example": 1
           },
           "square_feet": {
            "type": "integer",
            "description": "The total square footage of the project.",
            "example": 5000
           },
           "state_code": {
            "type": "string",
            "description": "The state code (ISO-3166 Alpha-2 format) where the project is located.",
            "example": "CA"
           },
           "time_zone": {
            "type": "string",
            "description": "The timezone where the project is located.",
            "example": "US/Pacific"
           },
           "zip": {
            "type": "string",
            "description": "The project postal code.",
            "example": "93110"
           },
           "parent_job_id": {
            "type": "integer",
            "description": "The project's parent job identifier.",
            "example": 2
           },
           "program_id": {
            "type": "integer",
            "description": "The project program identifier.",
            "example": 5
           },
           "portfolio_program_uuid": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Public UUID of the Portfolio Program this project is placed under. Null or omitted means Unassigned. Ignored when the company does not have Portfolio Programs. Distinct from program_id (legacy grouping).",
            "example": "018f7c9a-8b2e-7c3d-9e4f-5a6b7c8d9e0f"
           },
           "project_bid_type_id": {
            "type": "integer",
            "description": "The project bid type identifier.",
            "example": 2
           },
           "project_type_id": {
            "type": "integer",
            "description": "The project type identifier.",
            "example": 5
           },
           "project_owner_type_id": {
            "type": "integer",
            "description": "The project owner type identifier.",
            "example": 8
           },
           "project_region_id": {
            "type": "integer",
            "description": "The project region id of the project.",
            "example": 22
           },
           "project_template_id": {
            "type": "integer",
            "description": "The project template identifier as designated by another project on this company.\nIt must be a project that is a template defined by `template: true`.",
            "example": 99
           },
           "origin_id": {
            "type": "string",
            "nullable": true,
            "description": "External third-party identifier for the project.",
            "example": "657"
           },
           "origin_data": {
            "type": "string",
            "nullable": true,
            "description": "External third-party data string associated with the project.",
            "example": "AC-1234"
           },
           "origin_code": {
            "type": "string",
            "nullable": true,
            "description": "External third-party code associated with the project.",
            "example": "Code 123"
           },
           "override_start_date": {
            "type": "string",
            "format": "date",
            "description": "This is the date that the project started and will be displayed on the portfolio page.",
            "example": "2015-05-15"
           },
           "override_start_date_check": {
            "type": "boolean",
            "description": "This is the property that enables the use of the override_start_date as the Actual Start Date.",
            "example": true
           },
           "override_end_date": {
            "type": "string",
            "format": "date",
            "description": "This is the date that the project will be finished and will be displayed on the portfolio page.",
            "example": "2015-05-31"
           },
           "override_end_date_check": {
            "type": "boolean",
            "description": "This is the property that enables the use of the override_end_date as the Projected Finish Date.",
            "example": true
           },
           "department_ids": {
            "type": "array",
            "example": [
             3128,
             3127
            ],
            "description": "The department ids the project is associated with.\nThe array should represent all departments, so if the current value is `[1, 2, 3]` and want to remove department `2`, then send `[1, 3]`.",
            "items": {
             "type": "integer"
            }
           },
           "estimated_value": {
            "type": "number",
            "format": "float",
            "description": "The estimated value of the project. Note: This field is now deprecated and will mirror the value of total_value until it is no longer supported.",
            "example": 10000
           },
           "estimated_start_date": {
            "type": "string",
            "format": "date",
            "description": "The estimated start date of the project. Note: This field is now deprecated and will mirror the value of start_date until it is no longer supported.",
            "example": "2015-05-15"
           },
           "estimated_completion_date": {
            "type": "string",
            "format": "date",
            "description": "The estimated completion date of the project. Note: This field is now deprecated and will mirror the value of completion_date until it is no longer supported.",
            "example": "2015-05-31"
           },
           "store_number": {
            "type": "string",
            "description": "The project store number.",
            "example": "3"
           },
           "accounting_project_number": {
            "type": "string",
            "description": "The project accounting project number.",
            "example": "3456"
           },
           "designated_market_area": {
            "type": "string",
            "description": "The project designated market area.",
            "example": "Southeast"
           },
           "erp_integrated": {
            "type": "boolean",
            "description": "The project will be ERP integrated.",
            "default": false,
            "example": true
           },
           "latitude": {
            "type": "number",
            "format": "float",
            "description": "Project latitude",
            "example": 34.3850464855729
           },
           "longitude": {
            "type": "number",
            "format": "float",
            "description": "Project longitude",
            "example": -119.490849121334
           },
           "enable_copy_of_standard_cost_codes": {
            "type": "boolean",
            "description": "This property enables the user to copy default standard cost codes during new project creation when it is set to true. However, this flag does not have any impact when using project template, and the company's configuration is set to copy project template cost codes.",
            "example": true,
            "default": false
           },
           "sector": {
            "title": "Project Sector",
            "type": "string",
            "description": "The sector of a project.",
            "nullable": true,
            "enum": [
             "agriculture",
             "airport",
             "alcohol_establishment",
             "amusement_park",
             "animal_health_veterinary",
             "animal_lodging",
             "assembly",
             "auto_parts_store",
             "auto_service",
             "auto_vehicle_terminal",
             "automobile_retail",
             "aviation",
             "bank",
             "bar_tavern",
             "battery_energy_storage",
             "behavioral_health",
             "big_box_store",
             "bowling_alley",
             "brewery",
             "bridges",
             "business_park",
             "campground",
             "car_wash",
             "casino",
             "casino_hotel",
             "cemetery",
             "city_hall_operations",
             "civil_infrastructure",
             "college_university",
             "commercial",
             "convenience_store",
             "convention_center",
             "courthouse",
             "cultural",
             "dam",
             "data_center",
             "daycare_pre_k",
             "dealership",
             "death",
             "dental",
             "department_store",
             "distillery",
             "distribution_warehouse",
             "district_operations",
             "drug_store",
             "dry_storage",
             "educational",
             "electrical_substation",
             "elementary_school",
             "energy",
             "energy_distribution",
             "energy_production",
             "energy_storage",
             "entertainment",
             "entertainment_production",
             "environmentally_controlled",
             "event_space",
             "fast_food_restaurant",
             "fire_station",
             "funeral_home",
             "gas_station",
             "golf",
             "government",
             "government_buildings",
             "grocery_store",
             "gym_athletic_studio",
             "hangar",
             "hazardous_storage",
             "health_care",
             "high_school",
             "hospital",
             "hospitality",
             "hotel",
             "hydro_power",
             "individual_space",
             "indoor",
             "industrial",
             "institutional",
             "jail_prison",
             "k_12",
             "library",
             "liquor_store",
             "lodging",
             "manufacturing",
             "medical_center",
             "medical_office_building_mob",
             "middle_school",
             "military_naval",
             "miscellaneous_pavement",
             "mixed_use",
             "movie_theater",
             "multifamily",
             "museum",
             "nuclear_power_plant",
             "office",
             "office_retail",
             "oil_gas_mining",
             "outdoor",
             "outpatient_care",
             "park",
             "parking_garage",
             "parking_lot",
             "performing_arts",
             "personal_service",
             "pipe_line",
             "playground",
             "police_station",
             "pool_swim_facility",
             "post_office",
             "production",
             "psychiatric_hospital",
             "public_safety",
             "race_track",
             "railway_terminal",
             "railways",
             "recreation",
             "rehab_facility",
             "religious_institution",
             "research_development",
             "reservoir",
             "residential",
             "residential_office_retail",
             "residential_retail",
             "restaurant",
             "retail",
             "roads_highways",
             "runway_taxiway",
             "rv_park",
             "self_storage",
             "senior_housing",
             "sewer_systems",
             "shopping_center_mall",
             "sidewalk_walkways",
             "single_family",
             "solar_power",
             "specialist_office",
             "specialty_store",
             "sports_courts",
             "sports_fields",
             "stadium_arena",
             "storage",
             "street_lights",
             "student_housing",
             "telecommunication",
             "telecommunication_lines",
             "terminal",
             "trailer_park",
             "transportation",
             "transportation_terminals",
             "tunnel",
             "urgent_care",
             "waste_collection",
             "waste_infrastructure",
             "waste_processing",
             "waste_water",
             "water_distribution",
             "water_infrastructure",
             "water_retention",
             "water_treatment_plant_wwtp",
             "wind_power",
             "winery",
             "winter_sports",
             "zoo_aquarium",
             null
            ]
           },
           "work_scope": {
            "title": "Work Scope",
            "type": "string",
            "description": "The work scope of a project.",
            "nullable": true,
            "enum": [
             "new_construction",
             "renovation_alteration",
             "maintenance_service",
             null
            ]
           },
           "delivery_method": {
            "title": "Delivery Method",
            "type": "string",
            "description": "The delivery method of a project.",
            "nullable": true,
            "enum": [
             "construction_management_at_risk_cmar",
             "construction_manager_as_agent_owners_rep",
             "design_bid_build_dbb",
             "design_build_db",
             "indefinite_delivery_indefinite_quantity_idiq",
             "integrated_project_delivery",
             "multi_prime",
             "public_private_partnership_p3",
             "other",
             null
            ]
           },
           "estimated_budget": {
            "type": "number",
            "format": "decimal",
            "description": "The estimated budget for the project",
            "example": 1500000
           },
           "priority": {
            "type": "string",
            "enum": [
             "low",
             "medium",
             "high"
            ],
            "description": "The priority level for the project",
            "example": "high"
           },
           "currency_configuration": {
            "title": "Project Initial currency configuration",
            "description": "This object will initialize the project currency configuration",
            "type": "object",
            "nullable": true,
            "required": [
             "currency_iso_code"
            ],
            "properties": {
             "currency_iso_code": {
              "type": "string",
              "description": "The currency iso code for the new project, must be available in the company exchange rates list",
              "pattern": "^[A-Z]{3}$",
              "example": "USD"
             },
             "exchange_rate_override": {
              "type": "number",
              "format": "float",
              "nullable": true,
              "description": "-> This optional parameter is used to populate a fixed initial project to company exchange rate, company exchange rate for the project currency iso code will be used instead if this parameter is missing",
              "example": 1.724
             }
            }
           },
           "project_sector_id": {
            "type": "integer",
            "description": "Id of the project sector associated with the project.",
            "example": 1
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "Project",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 89025
          },
          "logo_id": {
           "type": "integer",
           "description": "Unique identifier for the Project logo",
           "example": 1,
           "nullable": true
          },
          "logo_url": {
           "type": "string",
           "description": "The URL for the Project logo",
           "example": "https://s3.amazonaws.com/pro-core.com/prostore/20150904220156_production_105341655.png?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2091808024&Signature=qELZAktHou5QICU747PbcEcN0AY%3D"
          },
          "name": {
           "type": "string",
           "description": "The name for the Project",
           "example": "Casa de Casper"
          },
          "is_demo": {
           "type": "boolean",
           "description": "Indicates if the project is a test project",
           "example": true,
           "nullable": true
          },
          "template": {
           "type": "boolean",
           "description": "Indicates if the project is a template project",
           "example": true
          },
          "display_name": {
           "type": "string",
           "description": "The display name for the Project",
           "example": "A-1 Casa de Casper"
          },
          "project_number": {
           "type": "string",
           "description": "The Project number",
           "example": "A-1",
           "nullable": true
          },
          "address": {
           "type": "string",
           "description": "The street address for the Project",
           "example": "500 Construction Way",
           "nullable": true
          },
          "city": {
           "type": "string",
           "description": "The city in which the Project is located",
           "example": "Carpinteria",
           "nullable": true
          },
          "state_code": {
           "type": "string",
           "description": "The state code for the Project (ISO-3166 Alpha-2 format)",
           "example": "CA",
           "nullable": true
          },
          "country_code": {
           "type": "string",
           "description": "The country code for the Project (ISO-3166 Alpha-2 format)",
           "example": "US",
           "nullable": true
          },
          "zip": {
           "type": "string",
           "description": "The postal code for the Project",
           "example": "93110",
           "nullable": true
          },
          "time_zone": {
           "type": "string",
           "description": "The timezone in which the Project is located",
           "example": "US/Pacific"
          },
          "tz_name": {
           "type": "string",
           "description": "The tz-database version of the timezone for the Project",
           "example": "America/Los_Angeles"
          },
          "latitude": {
           "type": "number",
           "format": "float",
           "description": "The geographic coordinate that specifies the north\u2013south position of the Project on the Earth's surface.",
           "example": 34.3850464855729,
           "nullable": true
          },
          "longitude": {
           "type": "number",
           "format": "float",
           "description": "The geographic coordinate that specifies the east\u2013west position of the Project on the Earth's surface.",
           "example": -119.490849121334,
           "nullable": true
          },
          "county": {
           "type": "string",
           "description": "The county in which the Project is located",
           "example": "Santa Barbara County",
           "nullable": true
          },
          "parent_job_id": {
           "title": "ParentJob",
           "type": "integer",
           "description": "Unique identifier for the Parent Job",
           "example": 3,
           "nullable": true
          },
          "parent_job": {
           "title": "ParentJob",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The identifier for the parent project/job",
             "example": 312345
            },
            "name": {
             "type": "string",
             "description": "The name for the parent project/job",
             "example": "Project Alpha"
            }
           }
          },
          "from_project_template_id": {
           "title": "fromProjectTemplateId",
           "type": "integer",
           "description": "Unique identifier for the Project Template used to create this project",
           "example": 3,
           "nullable": true
          },
          "description": {
           "type": "string",
           "description": "Project description",
           "example": "Very cool project.",
           "nullable": true
          },
          "square_feet": {
           "type": "integer",
           "description": "The total square footage for the Project",
           "example": 5000,
           "nullable": true
          },
          "start_date": {
           "type": "string",
           "format": "date",
           "description": "The date that the contract for the project is signed. Note: this field is a replacement to estimated_start_date and will mirror its value.",
           "example": "2015-05-15",
           "nullable": true
          },
          "completion_date": {
           "type": "string",
           "format": "date",
           "description": "The date that all parties agree the project meets or must meet \u201csubstantial completion\u201d. Note: this field is a replacement to estimated_completion_date and will mirror its value.",
           "example": "2015-05-15",
           "nullable": true
          },
          "total_value": {
           "type": "string",
           "format": "float",
           "description": "The total amount of construction work performed, planned, or put in place during the project. Note: this field is a replacement to estimated_value and will mirror its value.",
           "example": "10000.0",
           "nullable": true
          },
          "store_number": {
           "type": "string",
           "description": "The store number for the Project",
           "example": 3,
           "nullable": true
          },
          "accounting_project_number": {
           "type": "string",
           "description": "The accounting project number for the Project",
           "example": 3456,
           "nullable": true
          },
          "designated_market_area": {
           "type": "string",
           "description": "The designated market area the Project is located in",
           "example": "Southeast",
           "nullable": true
          },
          "warranty_start_date": {
           "type": "string",
           "format": "date",
           "description": "The start date for the Project Warranty",
           "example": "2015-05-15",
           "nullable": true
          },
          "warranty_end_date": {
           "type": "string",
           "format": "date",
           "description": "The end date for the Project Warranty",
           "example": "2015-05-31",
           "nullable": true
          },
          "active": {
           "type": "boolean",
           "description": "The active status for the Project",
           "example": true
          },
          "flag": {
           "type": "string",
           "nullable": true,
           "enum": [
            "Red",
            "Yellow",
            "Green",
            null
           ],
           "description": "The Project flag (Red, Yellow, or Green)",
           "example": "Yellow"
          },
          "locale": {
           "nullable": true,
           "allOf": [
            {
             "type": "string",
             "description": "The locale for the Project. (Note that your account may not have access to all locales.)",
             "enum": [
              "de-DE",
              "en",
              "en-AE",
              "en-AU",
              "en-CA",
              "en-GB",
              "en-SG",
              "en-US-x-owner",
              "en-US-x-sc",
              "en-budget",
              "en-owner",
              "es",
              "es-419",
              "es-ES",
              "fr-CA",
              "fr-FR",
              "ja-JP",
              "ko",
              "pl-PL",
              "pseudo",
              "pt-BR",
              "th-TH",
              "zh-SG"
             ]
            }
           ]
          },
          "phone": {
           "type": "string",
           "description": "The telephone number for the Project",
           "example": "707-555-9866",
           "nullable": true
          },
          "public_notes": {
           "type": "string",
           "description": "Public notes on the Project",
           "example": "We're building a large private residence.",
           "nullable": true
          },
          "actual_start_date": {
           "type": "string",
           "format": "date",
           "description": "The actual start date for the Project",
           "example": "2015-05-15"
          },
          "projected_finish_date": {
           "type": "string",
           "format": "date",
           "description": "The projected finish date for the Project",
           "example": "2015-05-31",
           "nullable": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "The date and time the Project was created",
           "example": "2014-12-29T21:53:56Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "The date and time the Project was last updated",
           "example": "2016-03-14T16:52:22Z"
          },
          "origin_id": {
           "type": "string",
           "description": "An external third-party identifier for the Project",
           "example": "OD-2398273424",
           "nullable": true
          },
          "origin_data": {
           "type": "string",
           "description": "An external third-party data string associated with the Project",
           "example": "459247544",
           "nullable": true
          },
          "origin_code": {
           "type": "string",
           "description": "An external third-party code associated with the Project",
           "example": "Code 123",
           "nullable": true
          },
          "standard_cost_code_list_id": {
           "type": "integer",
           "example": 98,
           "nullable": true
          },
          "is_erp_integrated": {
           "type": "boolean",
           "description": "True if project is ERP integrated",
           "example": false
          },
          "owners_project_id": {
           "type": "integer",
           "description": "A linked identifier for the Owner's Project",
           "example": 1234,
           "nullable": true
          },
          "photo_id": {
           "type": "integer",
           "description": "The unique identifier for the Project Photo",
           "example": 1,
           "nullable": true
          },
          "photo_url": {
           "type": "string",
           "description": "The URL for the Project photo",
           "nullable": true,
           "example": "https://s3.amazonaws.com/pro-core.com/prostore/20150904220156_production_105341655.png?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2091808024&Signature=qELZAktHou5QICU747PbcEcN0AY%3D"
          },
          "inbound_email": {
           "type": "string",
           "description": "The inbound email address username suffix for the project.",
           "example": "user",
           "nullable": true
          },
          "inbound_email_address": {
           "type": "string",
           "format": "email",
           "description": "The inbound email address for the project.",
           "example": "user@example.com",
           "nullable": true
          },
          "estimated_start_date": {
           "type": "string",
           "format": "date",
           "description": "The Estimated Start Date of the Project Note: this field is now deprecated and will mirror the value of start_date until it is no longer supported.",
           "example": "2015-05-15",
           "nullable": true
          },
          "estimated_completion_date": {
           "type": "string",
           "format": "date",
           "description": "The Estimated Completion Date of the Project. Note: this field is now deprecated and will mirror the value of completion_date until it is no longer supported.",
           "example": "2015-05-31",
           "nullable": true
          },
          "estimated_value": {
           "type": "string",
           "format": "float",
           "description": "The Estimated Value of the project. Note: this field is now deprecated and will mirror the value of total_value until it is no longer supported.",
           "example": "10000.0",
           "nullable": true
          },
          "code": {
           "type": "string",
           "description": "The Code of the project.",
           "example": "PCOR",
           "nullable": true
          },
          "sector": {
           "title": "Project Sector",
           "type": "string",
           "description": "The sector of a project.",
           "nullable": true,
           "enum": [
            "agriculture",
            "airport",
            "alcohol_establishment",
            "amusement_park",
            "animal_health_veterinary",
            "animal_lodging",
            "assembly",
            "auto_parts_store",
            "auto_service",
            "auto_vehicle_terminal",
            "automobile_retail",
            "aviation",
            "bank",
            "bar_tavern",
            "battery_energy_storage",
            "behavioral_health",
            "big_box_store",
            "bowling_alley",
            "brewery",
            "bridges",
            "business_park",
            "campground",
            "car_wash",
            "casino",
            "casino_hotel",
            "cemetery",
            "city_hall_operations",
            "civil_infrastructure",
            "college_university",
            "commercial",
            "convenience_store",
            "convention_center",
            "courthouse",
            "cultural",
            "dam",
            "data_center",
            "daycare_pre_k",
            "dealership",
            "death",
            "dental",
            "department_store",
            "distillery",
[...]
