{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Punch Item Templates",
  "x-product-category": "Project Management",
  "x-tool-category": "Punch List",
  "x-resource-name": "Project Punch Item Templates",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/punch_item_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "filters[id]",
     "in": "query",
     "description": "Return item(s) with the specified IDs.",
     "required": false,
     "style": "form",
     "explode": false,
     "schema": {
      "type": "array",
      "items": {
       "type": "integer"
      }
     }
    },
    {
     "name": "filters[active]",
     "in": "query",
     "description": "If true, returns item(s) with a status of 'active'.",
     "schema": {
      "type": "boolean"
     }
    },
    {
     "name": "filters[updated_at]",
     "in": "query",
     "description": "Return item(s) within a specific updated at iso8601 datetime range",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Punch Item Templates",
    "description": "Return a list of all Project Punch Item Templates associated with a Project.",
    "tags": [
     "Project Punch Item Templates"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Project Punch Item Templates",
         "items": {
          "type": "object",
          "title": "Project Punch Item Templates",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Project Punch Item Template ID",
            "example": 1738
           },
           "active": {
            "type": "boolean",
            "description": "Flag that denotes if the Punch Item Template is available for use"
           },
           "company_punch_item_template_id": {
            "type": "integer",
            "description": "Parent Punch Item Template ID",
            "example": 4325
           },
           "name": {
            "type": "string",
            "description": "Name of the Punch Item Template"
           },
           "project_id": {
            "type": "integer",
            "description": "Project ID",
            "example": 33
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2012-10-24T21:39:40Z"
           },
           "punch_item_manager": {
            "type": "object",
            "description": "Login Information",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "login": {
              "type": "string",
              "description": "User email",
              "example": "johndoe@example.com"
             }
            }
           },
           "final_approver": {
            "type": "object",
            "description": "Login Information",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "login": {
              "type": "string",
              "description": "User email",
              "example": "johndoe@example.com"
             }
            }
           },
           "template_category": {
            "type": "object",
            "title": "Template Category",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Template Category ID",
              "example": 967
             },
             "name": {
              "type": "string",
              "description": "Template Category name",
              "example": "03 - Concrete"
             }
            }
           },
           "assignee": {
            "type": "object",
            "description": "Login Information",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "login": {
              "type": "string",
              "description": "User email",
              "example": "johndoe@example.com"
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/punch_item_templates',\n  qs: {\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[active]': 'SOME_BOOLEAN_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/punch_item_templates?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bactive%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/punch_item_templates?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bactive%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/punch_item_templates?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bactive%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Punch Item Templates list endpoint",
      "description": "Get a list of Project Punch Item Templates for a given project.",
      "endpoint": "GET /projects/{project_id}/punch_item_templates",
      "type": "new",
      "breaking": false,
      "datestamp": "2020-07-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-punch-item-templates?version=1.0#list-project-punch-item-templates"
     },
     {
      "summary": "Return I18n localized template name",
      "description": "The index endpoint is now able to leverage the `Accept-Language` header to return its closest language match for `name` in the response.\nTo localize, using header `HTTP_ACCEPT_LANGUAGE='fr'`, `HTTP_ACCEPT_LANGUAGE='fr-ca'`, `HTTP_ACCEPT_LANGUAGE='fr-CA'`.",
      "endpoint": "GET /projects/{project_id}/punch_item_templates",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-12-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-punch-item-templates?version=1.0#list-project-punch-item-templates"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}