{
 "openapi": "3.1.0",
 "info": {
  "title": "Project Fields",
  "version": "2.0",
  "x-resource-name": "Project Fields",
  "x-product-category": "Project Management",
  "x-tool-category": "Document Management"
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/document_management/fields": {
   "get": {
    "description": "Returns the Fields for a Project",
    "operationId": "ProjectFieldsV2Controller_getProjectFieldListV2_0",
    "parameters": [
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Company ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Project ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters",
      "required": false,
      "in": "query",
      "description": "Object with whitelisted Field ids as keys and their corresponding MetadataValue id, MetadataValue ids array, or primitive string value as values.\nValid filterable fields are:\nactive,\ncan_affect_permissions",
      "schema": {
       "type": "object",
       "properties": {
        "active": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "can_affect_permissions": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        }
       }
      }
     },
     {
      "name": "page",
      "required": false,
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "per_page",
      "required": false,
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "locale",
      "required": false,
      "in": "query",
      "description": "Language for the response to be translated into",
      "schema": {
       "type": "string",
       "enum": [
        "de-DE",
        "en-AE",
        "en-AU",
        "en-CA",
        "en-GB",
        "en-SG",
        "en",
        "es-ES",
        "es",
        "fr-CA",
        "fr-FR",
        "is-IS",
        "ja-JP",
        "pl-PL",
        "pseudo",
        "pt-BR",
        "th-TH",
        "zh-SG",
        "zh-TW",
        "nb-NO",
        "pt-PT",
        "it-IT"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Returns Project Fields",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "number"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "number"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "01G3F39BRDKDK04FV9BARK6YTS"
             },
             "name": {
              "type": "string",
              "example": "status",
              "enum": [
               "original_filename",
               "format",
               "type",
               "name",
               "description",
               "revision",
               "status",
               "classification",
               "project_stage",
               "project",
               "originator",
               "volume",
               "location",
               "discipline",
               "number",
               "created_at",
               "created_by",
               "date_authored",
               "authored_by",
               "updated_at",
               "updated_by",
               "uploaded_at",
               "uploaded_by",
               "file_size",
               "project_new",
               "assigned_workflow",
               "assigned_workflow_template",
               "workflow_assignees",
               "workflow_current_step_assignees",
               "workflow_current_step",
               "workflow_step_due_date",
               "workflow_manager",
               "workflow_status",
               "workflow_template_version",
               "workflow_pending_assignees",
               "workflow_current_step_roles",
               "version",
               "in_active_workflow",
               "workflow_completion_date",
               "submitted_into_drawings",
               "custom_field_id",
               "submitted_into_drawings_by",
               "submitted_into_drawings_at",
               "cf_lov_entries",
               "recycled_by",
               "recycled_at",
               "recycled_reason",
               "action_required",
               "document_stage",
               "item_content",
               "placeholder_assignee",
               "placeholder_due_date",
               "placeholder_created_by",
               "package"
              ]
             },
             "label": {
              "type": "string",
              "example": "ISO 96850 Status"
             },
             "description": {
              "type": "string",
              "example": "ISO 96850 Status"
             },
             "position": {
              "type": "string",
              "example": "a"
             },
             "active": {
              "type": "boolean",
              "example": true
             },
             "visible": {
              "type": "boolean",
              "example": true
             },
             "readonly": {
              "type": "boolean",
              "example": true
             },
             "can_affect_permissions": {
              "type": "boolean",
              "example": true
             },
             "type": {
              "type": "string",
              "enum": [
               "string",
               "reference",
               "lov_entry",
               "lov_entries",
               "rich_text",
               "timestamp",
               "numeric"
              ]
             },
             "variant": {
              "type": "string",
              "enum": [
               "procore_project",
               "procore_project_stage",
               "procore_location",
               "procore_company",
               "procore_user",
               "procore_vendor",
               "procore_workflow_template",
               "procore_workflow_template_preset",
               "procore_workflow_status",
               "procore_workflow_template_version",
               "with_code",
               "procore_users",
               "procore_tool_user",
               "multi_select",
               "package"
              ]
             },
             "custom_field_definition_id": {
              "type": "string",
              "example": "456"
             }
            },
            "required": [
             "id",
             "name",
             "label",
             "description",
             "position",
             "active",
             "visible",
             "readonly",
             "can_affect_permissions",
             "type"
            ]
           }
          }
         },
         "required": [
          "data"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request\n\nPossible reason codes:\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized\n\nPossible reason codes:\n- INVALID_TOKEN",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden\n\nPossible reason codes:\n- ACCESS_DENIED",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     }
    },
    "summary": "List Project Fields",
    "tags": [
     "Fields"
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/fields',\n  qs: {\n    filters: 'SOME_OBJECT_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    locale: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/fields?filters=SOME_OBJECT_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/fields?filters=SOME_OBJECT_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/fields?filters=SOME_OBJECT_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}