{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Inspection Template Item References",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Project Inspection Template Item References",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/inspection_templates/{inspection_template_id}/item_references": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "inspection_template_id",
     "in": "path",
     "required": true,
     "description": "The ID of the Project Inspection Template",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Project Inspection Template Item Reference",
    "description": "Creates a Project Inspection Template Item Reference for a specified Checklist Template Item.",
    "tags": [
     "Checklists (Inspections)",
     "Project Inspection Template Item References"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "multipart/form-data": {
       "schema": {
        "title": "Project Inspection Template Item Reference Create Body",
        "type": "object",
        "required": [
         "item_template_reference"
        ],
        "properties": {
         "item_template_reference": {
          "type": "object",
          "required": [
           "payload",
           "item_id",
           "type"
          ],
          "properties": {
           "item_id": {
            "type": "integer",
            "description": "ID of the associated Project Inspection Template Item",
            "example": 54
           },
           "type": {
            "type": "string",
            "description": "Project Inspection Template Item Reference Type",
            "enum": [
             "attachment",
             "document",
             "document_management_document_revision",
             "drawing",
             "form",
             "image"
            ],
            "example": "attachment"
           },
           "payload": {
            "type": "object",
            "description": "To upload an attachment you must upload the entire payload as `multipart/form-data` content-type",
            "properties": {
             "attachment": {
              "type": "string",
              "format": "binary",
              "description": "Reference Attachment.\nTo upload an attachment you must upload the entire payload as `multipart/form-data` content-type\nwith the `attachment` file."
             },
             "image_id": {
              "type": "integer",
              "description": "The identifier for the project image"
             },
             "form_id": {
              "type": "integer",
              "description": "The identifier for the project form"
             },
             "folder_id": {
              "type": "integer",
              "description": "ID of the Folder File the File Version belongs to"
             },
             "file_version_id": {
              "type": "integer",
              "description": "ID of the Folder File the File Version belongs to"
             },
             "drawing_revision_id": {
              "type": "integer",
              "description": "ID of the latest Drawing Revision of the Drawing"
             },
             "document_management_document_revision_id": {
              "type": "integer",
              "description": "ID of the Document Management Document Revision"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Project Inspection Template Item Reference",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 12
          },
          "template_id": {
           "type": "integer",
           "description": "ID of the associated Project Inspection Template",
           "example": 54
          },
          "item_id": {
           "type": "integer",
           "description": "ID of the associated Project Inspection Template Item",
           "example": 54
          },
          "payload": {
           "type": "object",
           "description": "Contains specific attributes depending on the type of Reference",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            }
           }
          },
          "type": {
           "type": "string",
           "description": "Project Inspection Template Item Reference Type",
           "enum": [
            "attachment"
           ],
           "example": "attachment"
          },
          "created_at": {
           "type": "string",
           "description": "Time the Project Inspection Template Item Reference was created",
           "example": "2018-09-20T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "description": "Time the Project Inspection Template Item Reference was updated",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'multipart/form-data; boundary=---011000010111000001101001'\n  },\n  formData: {\n    item_template_reference: '{\"item_id\":54,\"type\":\"attachment\",\"payload\":{\"attachment\":\"string\",\"image_id\":0,\"form_id\":0,\"folder_id\":0,\"file_version_id\":0,\"drawing_revision_id\":0,\"document_management_document_revision_id\":0}}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"item_template_reference\\\"\\r\\n\\r\\n{\\\"item_id\\\":54,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"attachment\\\":\\\"string\\\",\\\"image_id\\\":0,\\\"form_id\\\":0,\\\"folder_id\\\":0,\\\"file_version_id\\\":0,\\\"drawing_revision_id\\\":0,\\\"document_management_document_revision_id\\\":0}}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"multipart/form-data; boundary=---011000010111000001101001\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'item_template_reference={\"item_id\":54,\"type\":\"attachment\",\"payload\":{\"attachment\":\"string\",\"image_id\":0,\"form_id\":0,\"folder_id\":0,\"file_version_id\":0,\"drawing_revision_id\":0,\"document_management_document_revision_id\":0}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"item_id\\\":54,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"attachment\\\":\\\"string\\\",\\\"image_id\\\":0,\\\"form_id\\\":0,\\\"folder_id\\\":0,\\\"file_version_id\\\":0,\\\"drawing_revision_id\\\":0,\\\"document_management_document_revision_id\\\":0}}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"item_template_reference\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "POST /projects/{project_id}/inspection_templates/{inspection_template_id}/item_references",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inspection-template-item-references?version=1.0#create-project-inspection-template-item-reference"
     }
    ]
   },
   "get": {
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return References with the specified IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[item_id]",
      "in": "query",
      "description": "Return Reference(s) with the specified Item IDs and Synced Company Template Item References",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort item(s) by the chosen param; check below for a list of options. The direction of sorting is ascending by default; for descending sort, insert the - symbol before the param.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Inspection Template Item Reference",
    "description": "Returns a collection of References for a specified Project Inspection Template.",
    "tags": [
     "Checklists (Inspections)",
     "Project Inspection Template Item References"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of references retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of references to be retrieved",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Project Inspection Template Item References",
         "items": {
          "type": "object",
          "description": "Project Inspection Template Item Reference",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 12
           },
           "template_id": {
            "type": "integer",
            "description": "ID of the associated Project Inspection Template",
            "example": 54
           },
           "item_id": {
            "type": "integer",
            "description": "ID of the associated Project Inspection Template Item",
            "example": 54
           },
           "payload": {
            "type": "object",
            "description": "Contains specific attributes depending on the type of Reference",
            "properties": {
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             }
            }
           },
           "type": {
            "type": "string",
            "description": "Project Inspection Template Item Reference Type",
            "enum": [
             "attachment"
            ],
            "example": "attachment"
           },
           "created_at": {
            "type": "string",
            "description": "Time the Project Inspection Template Item Reference was created",
            "example": "2018-09-20T21:39:40Z"
           },
           "updated_at": {
            "type": "string",
            "description": "Time the Project Inspection Template Item Reference was updated",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bitem_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bitem_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bitem_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Inspection Template Item References list endpoint",
      "description": "Get a list of Project Inspection Template Item References for a given Project Inspection Template.",
      "endpoint": "GET /projects/{project_id}/inspection_templates/{inspection_template_id}/item_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-01-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inspection-template-item-references?version=1.0#list-project-inspection-template-item-reference"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "GET /projects/{project_id}/inspection_templates/{inspection_template_id}/item_references",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inspection-template-item-references?version=1.0#list-project-inspection-template-item-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/inspection_templates/{inspection_template_id}/item_references/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "inspection_template_id",
     "in": "path",
     "required": true,
     "description": "The ID of the Project Inspection Template",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "The ID of the Project Inspection Template Item Reference",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Project Inspection Template Item Reference",
    "description": "Deletes a Project Inspection Template Item Reference",
    "tags": [
     "Checklists (Inspections)",
     "Project Inspection Template Item References"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "DELETE /projects/{project_id}/inspection_templates/{inspection_template_id}/item_references/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inspection-template-item-references?version=1.0#delete-project-inspection-template-item-reference"
     }
    ]
   },
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Project Inspection Template Item Reference",
    "description": "Shows a Project Inspection Template Item Reference",
    "tags": [
     "Project Inspection Template Item References",
     "Checklists (Inspections)"
    ],
    "responses": {
     "200": {
      "description": "Ok",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Project Inspection Template Item Reference",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 12
          },
          "template_id": {
           "type": "integer",
           "description": "ID of the associated Project Inspection Template",
           "example": 54
          },
          "item_id": {
           "type": "integer",
           "description": "ID of the associated Project Inspection Template Item",
           "example": 54
          },
          "payload": {
           "type": "object",
           "description": "Contains specific attributes depending on the type of Reference",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            }
           }
          },
          "type": {
           "type": "string",
           "description": "Project Inspection Template Item Reference Type",
           "enum": [
            "attachment"
           ],
           "example": "attachment"
          },
          "created_at": {
           "type": "string",
           "description": "Time the Project Inspection Template Item Reference was created",
           "example": "2018-09-20T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "description": "Time the Project Inspection Template Item Reference was updated",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspection_templates/%7Binspection_template_id%7D/item_references/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "GET /projects/{project_id}/inspection_templates/{inspection_template_id}/item_references/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-inspection-template-item-references?version=1.0#show-project-inspection-template-item-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}