{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Currency Configurations",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Currency Configurations",
  "x-resource-name": "Project Currency Configurations",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/currency_configuration": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Integer ID of the Procore company that owns the project. Obtainable from GET /rest/v1.0/companies.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "description": "Integer ID of the Procore project. Obtainable from GET /rest/v1.0/companies/{company_id}/projects. Identifies which project's currency configuration to act on.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Project Currency Configuration",
    "description": "Returns the currency configuration for the specified project. When no configuration has been created yet, currency-related fields are returned as null while company eligibility and toggle defaults are still populated, so consumers can detect the unconfigured state without a 404.",
    "tags": [
     "Currency Configuration"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Project Currency Configuration GET Response",
         "description": "Currency configuration for a Procore project. When no configuration has been created yet, currency-related fields are returned as null while company-eligibility and toggle defaults are still populated, so consumers can detect the unconfigured state without a 404.",
         "type": "object",
         "properties": {
          "company_id": {
           "type": "integer",
           "description": "Procore company ID that owns this project. Matches the {company_id} path parameter.",
           "example": 43
          },
          "project_id": {
           "type": "integer",
           "description": "Procore project ID this configuration belongs to. Matches the {project_id} path parameter and is the foreign key to use for all project-scoped multicurrency requests.",
           "example": 56
          },
          "currency_iso_code": {
           "type": "string",
           "description": "ISO 4217 three-letter currency code for the project's currency (e.g., 'USD', 'EUR'). May differ from the company base currency when company-level multicurrency is enabled. Null when no project currency configuration has been created.",
           "example": "USD",
           "nullable": true
          },
          "currency_display": {
           "type": "string",
           "description": "How currency amounts should be rendered for this project. 'symbol' renders with the locale currency glyph (e.g., $); 'code' renders with the ISO code (e.g., USD). Null when no project currency configuration has been created.",
           "enum": [
            "symbol",
            "code"
           ],
           "example": "code",
           "nullable": true
          },
          "company_currency_exchange_rate_override": {
           "type": "string",
           "description": "Decimal override (sent as a string for precision) that supersedes the company-level exchange rate when converting between the project currency and the company base currency. Null to use the company exchange rate.",
           "example": "1.2",
           "nullable": true
          },
          "currency_iso_code_eligible_for_update": {
           "type": "boolean",
           "description": "Whether the project's `currency_iso_code` can still be changed. Currently always returns true; will reflect exchange-rate / multicurrency-record presence once project exchange-rate APIs are GA.",
           "example": true
          },
          "multicurrency_enabled": {
           "type": "boolean",
           "description": "Whether multicurrency settings apply to this project's financial objects. Defaults to false. When true, financial objects can use a different currency from the company base. Requires the parent company to also have multicurrency enabled.",
           "example": true
          },
          "eligible_for_financial_objs_multicurrency": {
           "type": "boolean",
           "description": "Whether the parent company satisfies the prerequisites (e.g., ERP integration compatibility) to apply project-level multicurrency to financial objects. When false, attempts to enable `multicurrency_enabled` on the project will be rejected. Conditionally present \u2014 absent from the response for companies that do not have project-level financial-object multicurrency rolled out.",
           "example": true,
           "nullable": true
          },
          "multicurrency_phase_two_flag_enabled": {
           "type": "boolean",
           "description": "Inherited from the parent company. Indicates whether the project has access to the extended multicurrency capabilities (separate base/quote currency tracking and per-record exchange rate fields used by multicurrency-aware downstream resources). When false, the project is limited to baseline multicurrency behavior and attempts to set `multicurrency_enabled=true` on the project are rejected.",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Get Project Currency Configuration endpoint",
      "description": "Added endpoint to get project currency configuration. Included in the Multi-Currency feature release.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#get-project-currency-configuration"
     },
     {
      "summary": "Add response codes to Project Currency Configuration endpoints",
      "description": "Add 400, 500, 503, and 422 response codes to GET, POST, PATCH, and DELETE endpoints for comprehensive error handling documentation",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "fix",
      "breaking": false,
      "datestamp": "2025-08-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#get-project-currency-configuration"
     },
     {
      "summary": "Add response fields to Project Currency Configuration response",
      "description": "Add \"eligible_for_financial_objs_multicurrency\" boolean field to the GET response body to indicate project eligibility for financial objects multicurrency",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#get-project-currency-configuration"
     },
     {
      "summary": "Remove currency_iso_code_eligible_for_update From Response Body",
      "description": "Remove the \"currency_iso_code_eligible_for_update\" boolean field from the response body",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2024-12-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#get-project-currency-configuration"
     },
     {
      "summary": "Add currency_display field to Read v1.0 endpoint",
      "description": "Adds the \"currency_display\" string field in the response body",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-01-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#get-project-currency-configuration"
     },
     {
      "summary": "Add currency_iso_code_eligible_for_update field to Read v1.0 endpoint",
      "description": "Adds the \"currency_iso_code_eligible_for_update\" boolean field in the response body",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#get-project-currency-configuration"
     },
     {
      "summary": "Add Project Currency Configurations Read v1.0 endpoint",
      "description": "Retrieve a Project Currency Configuration by Company ID and Project ID",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-08-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#get-project-currency-configuration"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Project Currency Configuration",
    "description": "Creates a project currency configuration. Requires the parent company to have multicurrency enabled, otherwise the API returns 400. The project currency may differ from the company base currency. Returns 400 if a configuration already exists for the project.",
    "tags": [
     "Currency Configuration"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Project Currency Configuration Create Body",
        "type": "object",
        "required": [
         "currency_iso_code"
        ],
        "properties": {
         "currency_iso_code": {
          "type": "string",
          "description": "ISO 4217 three-letter code for the project's currency (e.g., 'EUR'). Required.\nMay differ from the company base currency when company-level multicurrency is enabled.\nCheck `currency_iso_code_eligible_for_update` in the GET response before attempting\nto update \u2014 if false, this field is locked and the request returns 400.\n",
          "example": "USD"
         },
         "company_currency_exchange_rate_override": {
          "type": "string",
          "description": "Optional decimal override (sent as a string for precision). When set, overrides the company-level exchange rate when converting between this project's currency and the company base currency. Omit to use the company exchange rate.",
          "example": "1.2"
         },
         "currency_display": {
          "type": "string",
          "description": "Controls how currency amounts are formatted in responses and rendered to end users. 'symbol' uses the locale currency glyph (e.g., $); 'code' uses the ISO code (e.g., USD). Defaults to 'symbol'.",
          "enum": [
           "symbol",
           "code"
          ],
          "default": "symbol",
          "example": "symbol"
         },
         "multicurrency_enabled": {
          "type": "boolean",
          "description": "Whether to apply project-level currency settings to this project's financial objects. Defaults to false. Requires the parent company to also have multicurrency enabled; otherwise the API returns 400.",
          "example": true
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "Project Currency Configuration",
         "description": "Currency configuration for a Procore project. Returned after a successful create, update, or delete; all fields reflect the persisted record.",
         "type": "object",
         "properties": {
          "company_id": {
           "type": "integer",
           "description": "Procore company ID that owns this project. Matches the {company_id} path parameter.",
           "example": 43
          },
          "project_id": {
           "type": "integer",
           "description": "Procore project ID this configuration belongs to. Matches the {project_id} path parameter and is the foreign key to use for all project-scoped multicurrency requests.",
           "example": 56
          },
          "currency_iso_code": {
           "type": "string",
           "description": "ISO 4217 three-letter currency code for the project's currency (e.g., 'USD', 'EUR'). May differ from the company base currency when company-level multicurrency is enabled.",
           "example": "USD"
          },
          "currency_display": {
           "type": "string",
           "description": "How currency amounts should be rendered for this project. 'symbol' renders with the locale currency glyph (e.g., $); 'code' renders with the ISO code (e.g., USD).",
           "enum": [
            "symbol",
            "code"
           ],
           "example": "code"
          },
          "company_currency_exchange_rate_override": {
           "type": "string",
           "description": "Decimal override (sent as a string for precision) that supersedes the company-level exchange rate when converting between the project currency and the company base currency. Null to use the company exchange rate.",
           "example": "1.2",
           "nullable": true
          },
          "currency_iso_code_eligible_for_update": {
           "type": "boolean",
           "description": "Whether the project's `currency_iso_code` can still be changed. Currently always returns true; will reflect exchange-rate / multicurrency-record presence once project exchange-rate APIs are GA.",
           "example": true
          },
          "multicurrency_enabled": {
           "type": "boolean",
           "description": "Whether multicurrency settings apply to this project's financial objects. When true, financial objects can use a different currency from the company base. Requires the parent company to also have multicurrency enabled.",
           "example": true
          },
          "eligible_for_financial_objs_multicurrency": {
           "type": "boolean",
           "description": "Whether the parent company satisfies the prerequisites (e.g., ERP integration compatibility) to apply project-level multicurrency to financial objects. When false, attempts to enable `multicurrency_enabled` on the project are rejected. Conditionally present \u2014 absent from the response for companies that do not have project-level financial-object multicurrency rolled out.",
           "example": true,
           "nullable": true
          },
          "multicurrency_phase_two_flag_enabled": {
           "type": "boolean",
           "description": "Inherited from the parent company. Indicates whether the project has access to the extended multicurrency capabilities (separate base/quote currency tracking and per-record exchange rate fields used by multicurrency-aware downstream resources). When false, the project is limited to baseline multicurrency behavior and attempts to set `multicurrency_enabled=true` on the project are rejected.",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration',\n  headers: {'content-type': 'application/json'},\n  body: {\n    currency_iso_code: 'USD',\n    company_currency_exchange_rate_override: '1.2',\n    currency_display: 'symbol',\n    multicurrency_enabled: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"currency_iso_code\\\":\\\"USD\\\",\\\"company_currency_exchange_rate_override\\\":\\\"1.2\\\",\\\"currency_display\\\":\\\"symbol\\\",\\\"multicurrency_enabled\\\":true}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration \\\n  --header 'content-type: application/json' \\\n  --data '{\"currency_iso_code\":\"USD\",\"company_currency_exchange_rate_override\":\"1.2\",\"currency_display\":\"symbol\",\"multicurrency_enabled\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration\"),\n    Content = new StringContent(\"{\\\"currency_iso_code\\\":\\\"USD\\\",\\\"company_currency_exchange_rate_override\\\":\\\"1.2\\\",\\\"currency_display\\\":\\\"symbol\\\",\\\"multicurrency_enabled\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Create Project Currency Configuration endpoint",
      "description": "Added endpoint to create project currency configuration. Included in the Multi-Currency feature release.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#create-project-currency-configuration"
     },
     {
      "summary": "Add response codes to Project Currency Configuration endpoints",
      "description": "Add 422, 500, and 503 response codes to POST and PATCH endpoints for comprehensive error handling documentation",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "fix",
      "breaking": false,
      "datestamp": "2025-08-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#create-project-currency-configuration"
     },
     {
      "summary": "Add currency_display field to Create v1.0 endpoint",
      "description": "Create a project currency configuration with the \"currency_display\" string field in the request body",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-01-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#create-project-currency-configuration"
     },
     {
      "summary": "Add Project Currency Configurations Create v1.0 endpoints",
      "description": "Create a Project Currency Configuration by Company ID and Project ID",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-08-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#create-project-currency-configuration"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Project Currency Configuration",
    "description": "Updates the project's currency configuration. Send only the fields you want to change; omitted fields are left unchanged. `currency_iso_code` can only be updated while `currency_iso_code_eligible_for_update` is true.\n",
    "tags": [
     "Currency Configuration"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Project Currency Configuration Update Body",
        "type": "object",
        "properties": {
         "currency_iso_code": {
          "type": "string",
          "description": "Optional. ISO 4217 three-letter code for the project's currency (e.g., 'EUR').\nOnly updatable while `currency_iso_code_eligible_for_update` is true in the GET\nresponse. Returns 400 if an update is attempted when the field is locked.\n",
          "example": "USD"
         },
         "company_currency_exchange_rate_override": {
          "type": "string",
          "description": "Optional decimal override (sent as a string for precision). When set, supersedes the company-level exchange rate when converting between this project's currency and the company base currency. Send null to clear the override and revert to the company rate.",
          "example": "1.2"
         },
         "currency_display": {
          "type": "string",
          "description": "How currency amounts should be rendered for this project. 'symbol' renders with the locale currency glyph (e.g., $); 'code' renders with the ISO code (e.g., USD). Omit to leave unchanged.",
          "enum": [
           "symbol",
           "code"
          ],
          "default": "symbol",
          "example": "symbol"
         },
         "multicurrency_enabled": {
          "type": "boolean",
          "description": "Whether to apply project-level currency settings to this project's financial objects. Requires the parent company to also have multicurrency enabled; otherwise the API returns 400. Omit to leave the existing value unchanged.",
          "example": true
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Project Currency Configuration",
         "description": "Currency configuration for a Procore project. Returned after a successful create, update, or delete; all fields reflect the persisted record.",
         "type": "object",
         "properties": {
          "company_id": {
           "type": "integer",
           "description": "Procore company ID that owns this project. Matches the {company_id} path parameter.",
           "example": 43
          },
          "project_id": {
           "type": "integer",
           "description": "Procore project ID this configuration belongs to. Matches the {project_id} path parameter and is the foreign key to use for all project-scoped multicurrency requests.",
           "example": 56
          },
          "currency_iso_code": {
           "type": "string",
           "description": "ISO 4217 three-letter currency code for the project's currency (e.g., 'USD', 'EUR'). May differ from the company base currency when company-level multicurrency is enabled.",
           "example": "USD"
          },
          "currency_display": {
           "type": "string",
           "description": "How currency amounts should be rendered for this project. 'symbol' renders with the locale currency glyph (e.g., $); 'code' renders with the ISO code (e.g., USD).",
           "enum": [
            "symbol",
            "code"
           ],
           "example": "code"
          },
          "company_currency_exchange_rate_override": {
           "type": "string",
           "description": "Decimal override (sent as a string for precision) that supersedes the company-level exchange rate when converting between the project currency and the company base currency. Null to use the company exchange rate.",
           "example": "1.2",
           "nullable": true
          },
          "currency_iso_code_eligible_for_update": {
           "type": "boolean",
           "description": "Whether the project's `currency_iso_code` can still be changed. Currently always returns true; will reflect exchange-rate / multicurrency-record presence once project exchange-rate APIs are GA.",
           "example": true
          },
          "multicurrency_enabled": {
           "type": "boolean",
           "description": "Whether multicurrency settings apply to this project's financial objects. When true, financial objects can use a different currency from the company base. Requires the parent company to also have multicurrency enabled.",
           "example": true
          },
          "eligible_for_financial_objs_multicurrency": {
           "type": "boolean",
           "description": "Whether the parent company satisfies the prerequisites (e.g., ERP integration compatibility) to apply project-level multicurrency to financial objects. When false, attempts to enable `multicurrency_enabled` on the project are rejected. Conditionally present \u2014 absent from the response for companies that do not have project-level financial-object multicurrency rolled out.",
           "example": true,
           "nullable": true
          },
          "multicurrency_phase_two_flag_enabled": {
           "type": "boolean",
           "description": "Inherited from the parent company. Indicates whether the project has access to the extended multicurrency capabilities (separate base/quote currency tracking and per-record exchange rate fields used by multicurrency-aware downstream resources). When false, the project is limited to baseline multicurrency behavior and attempts to set `multicurrency_enabled=true` on the project are rejected.",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration',\n  headers: {'content-type': 'application/json'},\n  body: {\n    currency_iso_code: 'USD',\n    company_currency_exchange_rate_override: '1.2',\n    currency_display: 'symbol',\n    multicurrency_enabled: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"currency_iso_code\\\":\\\"USD\\\",\\\"company_currency_exchange_rate_override\\\":\\\"1.2\\\",\\\"currency_display\\\":\\\"symbol\\\",\\\"multicurrency_enabled\\\":true}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration \\\n  --header 'content-type: application/json' \\\n  --data '{\"currency_iso_code\":\"USD\",\"company_currency_exchange_rate_override\":\"1.2\",\"currency_display\":\"symbol\",\"multicurrency_enabled\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration\"),\n    Content = new StringContent(\"{\\\"currency_iso_code\\\":\\\"USD\\\",\\\"company_currency_exchange_rate_override\\\":\\\"1.2\\\",\\\"currency_display\\\":\\\"symbol\\\",\\\"multicurrency_enabled\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Update Project Currency Configuration endpoint",
      "description": "Added endpoint to update project currency configuration. Included in the Multi-Currency feature release.",
      "endpoint": "PATCH /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#update-project-currency-configuration"
     },
     {
      "summary": "Add currency_display field to Update v1.0 endpoint",
      "description": "Update a project currency configuration with the \"currency_display\" string field in the request body",
      "endpoint": "PATCH /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-01-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#update-project-currency-configuration"
     },
     {
      "summary": "Add Project Currency Configurations Update v1.0 endpoints",
      "description": "Update a Project Currency Configuration by Company ID and Project ID",
      "endpoint": "PATCH /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-08-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#update-project-currency-configuration"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Project Currency Configuration",
    "description": "Deletes the project's currency configuration. Returns the deleted configuration in the 200 response body. After deletion, subsequent GETs return null currency fields until a new configuration is created. Returns 404 if no configuration exists.",
    "tags": [
     "Currency Configuration"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Project Currency Configuration",
         "description": "Currency configuration for a Procore project. Returned after a successful create, update, or delete; all fields reflect the persisted record.",
         "type": "object",
         "properties": {
          "company_id": {
           "type": "integer",
           "description": "Procore company ID that owns this project. Matches the {company_id} path parameter.",
           "example": 43
          },
          "project_id": {
           "type": "integer",
           "description": "Procore project ID this configuration belongs to. Matches the {project_id} path parameter and is the foreign key to use for all project-scoped multicurrency requests.",
           "example": 56
          },
          "currency_iso_code": {
           "type": "string",
           "description": "ISO 4217 three-letter currency code for the project's currency (e.g., 'USD', 'EUR'). May differ from the company base currency when company-level multicurrency is enabled.",
           "example": "USD"
          },
          "currency_display": {
           "type": "string",
           "description": "How currency amounts should be rendered for this project. 'symbol' renders with the locale currency glyph (e.g., $); 'code' renders with the ISO code (e.g., USD).",
           "enum": [
            "symbol",
            "code"
           ],
           "example": "code"
          },
          "company_currency_exchange_rate_override": {
           "type": "string",
           "description": "Decimal override (sent as a string for precision) that supersedes the company-level exchange rate when converting between the project currency and the company base currency. Null to use the company exchange rate.",
           "example": "1.2",
           "nullable": true
          },
          "currency_iso_code_eligible_for_update": {
           "type": "boolean",
           "description": "Whether the project's `currency_iso_code` can still be changed. Currently always returns true; will reflect exchange-rate / multicurrency-record presence once project exchange-rate APIs are GA.",
           "example": true
          },
          "multicurrency_enabled": {
           "type": "boolean",
           "description": "Whether multicurrency settings apply to this project's financial objects. When true, financial objects can use a different currency from the company base. Requires the parent company to also have multicurrency enabled.",
           "example": true
          },
          "eligible_for_financial_objs_multicurrency": {
           "type": "boolean",
           "description": "Whether the parent company satisfies the prerequisites (e.g., ERP integration compatibility) to apply project-level multicurrency to financial objects. When false, attempts to enable `multicurrency_enabled` on the project are rejected. Conditionally present \u2014 absent from the response for companies that do not have project-level financial-object multicurrency rolled out.",
           "example": true,
           "nullable": true
          },
          "multicurrency_phase_two_flag_enabled": {
           "type": "boolean",
           "description": "Inherited from the parent company. Indicates whether the project has access to the extended multicurrency capabilities (separate base/quote currency tracking and per-record exchange rate fields used by multicurrency-aware downstream resources). When false, the project is limited to baseline multicurrency behavior and attempts to set `multicurrency_enabled=true` on the project are rejected.",
           "example": false
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/currency_configuration\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Delete Project Currency Configuration endpoint",
      "description": "Added endpoint to delete project currency configuration. Included in the Multi-Currency feature release.",
      "endpoint": "DELETE /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#delete-project-currency-configuration"
     },
     {
      "summary": "Add response codes to Project Currency Configuration endpoints",
      "description": "Add 500 and 503 response codes to DELETE endpoint for comprehensive error handling documentation",
      "endpoint": "DELETE /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "fix",
      "breaking": false,
      "datestamp": "2025-08-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#delete-project-currency-configuration"
     },
     {
      "summary": "Add Project Currency Configurations Delete v1.0 endpoints",
      "description": "Delete a Project Currency Configuration by Company ID and Project ID",
      "endpoint": "DELETE /companies/{company_id}/projects/{project_id}/currency_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-08-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-currency-configurations?version=1.0#delete-project-currency-configuration"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}