{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Stages",
  "x-product-category": "Company Admin",
  "x-tool-category": "Company Settings",
  "x-resource-name": "Project Stages",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/project_stages": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Stages",
    "description": "Return a list of Project Stages.",
    "tags": [
     "Project Stages"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": false,
      "description": "Project ID is required if retrieving a list of project stages for RFI users",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Project Stages",
         "items": {
          "title": "ProjectStage",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Project Stage ID",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Project Stage name",
            "example": "Project Stage A"
           },
           "is_bidding_stage": {
            "type": "boolean",
            "description": "Project Stage is bidding stage status",
            "example": false
           },
           "is_concept_stage": {
            "type": "boolean",
            "description": "Indicates if the stage is a concept stage",
            "example": false
           },
           "category": {
            "type": "string",
            "description": "The Category Type of the Project Stage",
            "nullable": true,
            "example": "course_of_construction"
           },
           "readonly": {
            "type": "boolean",
            "description": "Indicates whether the stage is editable or deletable",
            "example": false
           },
           "default_stage": {
            "type": "boolean",
            "description": "Indicates if the stage was created automatically by Procore and is not editable nor deletable",
            "example": false
           },
           "hideable": {
            "type": "boolean",
            "description": "Indicates if the stage is hideable or not",
            "example": true
           },
           "has_rfi_prefixes": {
            "type": "boolean",
            "description": "Indicates if the stage has RFI prefixes",
            "example": true
           },
           "project_stage_has_children": {
            "type": "boolean",
            "description": "Indicates if the stage has children",
            "example": true
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    project_id: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/project_stages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added is_concept_stage to project stages response",
      "description": "Added is_concept_stage boolean attribute to the project stages response to indicate whether a stage is a concept stage.",
      "endpoint": "GET /companies/{company_id}/project_stages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-03-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-stages?version=1.0#list-project-stages"
     },
     {
      "summary": "Return I18n localized name",
      "description": "The index endpoint is now able to leverage the `Accept-Language` header to return its closest language match for `name` in the response.\nTo localize, using header `HTTP_ACCEPT_LANGUAGE='fr'`, `HTTP_ACCEPT_LANGUAGE='fr-ca'`, `HTTP_ACCEPT_LANGUAGE='fr-CA'`.",
      "endpoint": "GET /companies/{company_id}/project_stages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-02-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-stages?version=1.0#list-project-stages"
     },
     {
      "summary": "Modified GET endpoint for project stages to return default stage",
      "description": "Modified GET endpoint to return default stage of the project stages",
      "endpoint": "GET /companies/{company_id}/project_stages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-stages?version=1.0#list-project-stages"
     },
     {
      "summary": "Modified GET endpoint for project stages to return more fields",
      "description": "Modified GET endpoint to return hideable, has_rfi_prefixes and project_stage_has_children of the project stages",
      "endpoint": "GET /companies/{company_id}/project_stages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-stages?version=1.0#list-project-stages"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create project stage",
    "description": "Create a new Project Stage in the specified Company.",
    "tags": [
     "Project Stages"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_stage"
        ],
        "properties": {
         "project_stage": {
          "title": "ProjectStage",
          "type": "object",
          "properties": {
           "is_bidding_stage": {
            "type": "boolean",
            "description": "The Bidding Stage status of the Project Stage",
            "default": false,
            "example": false
           },
           "name": {
            "type": "string",
            "description": "The Name of the Project Stage",
            "example": "Project Stage A"
           },
           "category": {
            "type": "string",
            "description": "The Category Type of the Project Stage",
            "enum": [
             "pre_construction",
             "course_of_construction",
             "post_construction",
             "completed",
             "not_awarded",
             "canceled"
            ],
            "example": "course_of_construction"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "ProjectStage",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Project Stage ID",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "Project Stage name",
           "example": "Project Stage A"
          },
          "is_bidding_stage": {
           "type": "boolean",
           "description": "Project Stage is bidding stage status",
           "example": false
          },
          "is_concept_stage": {
           "type": "boolean",
           "description": "Indicates if the stage is a concept stage",
           "example": false
          },
          "category": {
           "type": "string",
           "description": "The Category Type of the Project Stage",
           "nullable": true,
           "example": "course_of_construction"
          },
          "readonly": {
           "type": "boolean",
           "description": "Indicates whether the stage is editable or deletable",
           "example": false
          },
          "default_stage": {
           "type": "boolean",
           "description": "Indicates if the stage was created automatically by Procore and is not editable nor deletable",
           "example": false
          },
          "hideable": {
           "type": "boolean",
           "description": "Indicates if the stage is hideable or not",
           "example": true
          },
          "has_rfi_prefixes": {
           "type": "boolean",
           "description": "Indicates if the stage has RFI prefixes",
           "example": true
          },
          "project_stage_has_children": {
           "type": "boolean",
           "description": "Indicates if the stage has children",
           "example": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_stage: {\n      is_bidding_stage: false,\n      name: 'Project Stage A',\n      category: 'course_of_construction'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_stage\\\":{\\\"is_bidding_stage\\\":false,\\\"name\\\":\\\"Project Stage A\\\",\\\"category\\\":\\\"course_of_construction\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/project_stages\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_stage\":{\"is_bidding_stage\":false,\"name\":\"Project Stage A\",\"category\":\"course_of_construction\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages\"),\n    Content = new StringContent(\"{\\\"project_stage\\\":{\\\"is_bidding_stage\\\":false,\\\"name\\\":\\\"Project Stage A\\\",\\\"category\\\":\\\"course_of_construction\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/project_stages/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the project stage",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show project stage",
    "description": "Show detail on a specified Project Stage.",
    "tags": [
     "Project Stages"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "ProjectStage",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Project Stage ID",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "Project Stage name",
           "example": "Project Stage A"
          },
          "is_bidding_stage": {
           "type": "boolean",
           "description": "Project Stage is bidding stage status",
           "example": false
          },
          "is_concept_stage": {
           "type": "boolean",
           "description": "Indicates if the stage is a concept stage",
           "example": false
          },
          "category": {
           "type": "string",
           "description": "The Category Type of the Project Stage",
           "nullable": true,
           "example": "course_of_construction"
          },
          "readonly": {
           "type": "boolean",
           "description": "Indicates whether the stage is editable or deletable",
           "example": false
          },
          "default_stage": {
           "type": "boolean",
           "description": "Indicates if the stage was created automatically by Procore and is not editable nor deletable",
           "example": false
          },
          "hideable": {
           "type": "boolean",
           "description": "Indicates if the stage is hideable or not",
           "example": true
          },
          "has_rfi_prefixes": {
           "type": "boolean",
           "description": "Indicates if the stage has RFI prefixes",
           "example": true
          },
          "project_stage_has_children": {
           "type": "boolean",
           "description": "Indicates if the stage has children",
           "example": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update project stage",
    "description": "Update the specified Project Stage.",
    "tags": [
     "Project Stages"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_stage"
        ],
        "properties": {
         "project_stage": {
          "title": "ProjectStage",
          "type": "object",
          "properties": {
           "is_bidding_stage": {
            "type": "boolean",
            "description": "The Bidding Stage status of the Project Stage",
            "default": false,
            "example": false
           },
           "name": {
            "type": "string",
            "description": "The Name of the Project Stage",
            "example": "Project Stage A"
           },
           "category": {
            "type": "string",
            "description": "The Category Type of the Project Stage",
            "enum": [
             "pre_construction",
             "course_of_construction",
             "post_construction",
             "completed",
             "not_awarded",
             "canceled"
            ],
            "example": "course_of_construction"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "ProjectStage",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Project Stage ID",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "Project Stage name",
           "example": "Project Stage A"
          },
          "is_bidding_stage": {
           "type": "boolean",
           "description": "Project Stage is bidding stage status",
           "example": false
          },
          "is_concept_stage": {
           "type": "boolean",
           "description": "Indicates if the stage is a concept stage",
           "example": false
          },
          "category": {
           "type": "string",
           "description": "The Category Type of the Project Stage",
           "nullable": true,
           "example": "course_of_construction"
          },
          "readonly": {
           "type": "boolean",
           "description": "Indicates whether the stage is editable or deletable",
           "example": false
          },
          "default_stage": {
           "type": "boolean",
           "description": "Indicates if the stage was created automatically by Procore and is not editable nor deletable",
           "example": false
          },
          "hideable": {
           "type": "boolean",
           "description": "Indicates if the stage is hideable or not",
           "example": true
          },
          "has_rfi_prefixes": {
           "type": "boolean",
           "description": "Indicates if the stage has RFI prefixes",
           "example": true
          },
          "project_stage_has_children": {
           "type": "boolean",
           "description": "Indicates if the stage has children",
           "example": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_stage: {\n      is_bidding_stage: false,\n      name: 'Project Stage A',\n      category: 'course_of_construction'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_stage\\\":{\\\"is_bidding_stage\\\":false,\\\"name\\\":\\\"Project Stage A\\\",\\\"category\\\":\\\"course_of_construction\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_stage\":{\"is_bidding_stage\":false,\"name\":\"Project Stage A\",\"category\":\"course_of_construction\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_stage\\\":{\\\"is_bidding_stage\\\":false,\\\"name\\\":\\\"Project Stage A\\\",\\\"category\\\":\\\"course_of_construction\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete project stage",
    "description": "Delete the specified Project Stage.",
    "tags": [
     "Project Stages"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/project_stages/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}