{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Folders and Files",
  "x-product-category": "Core",
  "x-tool-category": "Documents",
  "x-resource-name": "Project Folders and Files",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/file_versions": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create project file version",
    "description": "Upload a new version of a specific file in the Project Documents tool.\n\nSee the Procore Support website articles on [Project Documents](https://support.procore.com/products/online/user-guide/project-level/documents) for additional information.",
    "tags": [
     "Project Folders and Files"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "file_id",
      "in": "query",
      "description": "The id of the File",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "file_version"
        ],
        "properties": {
         "file_version": {
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the file when downloaded",
            "example": "my.pdf"
           },
           "notes": {
            "type": "string",
            "description": "Notes about the File Version",
            "example": "This file version is good"
           },
           "upload_uuid": {
            "type": "string",
            "description": "UUID referencing a previously completed Upload. This is the recommended approach  for file uploads. See Company Uploads or Project Uploads endpoints for instructions  on how to use uploads. You should not use both data and upload_uuid fields in the same request.",
            "example": "1QJ83Q56CVQR4X3C0JG7YV86F8"
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "file_version"
        ],
        "properties": {
         "file_version": {
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the file when downloaded",
            "example": "my.pdf"
           },
           "notes": {
            "type": "string",
            "description": "Notes about the File Version",
            "example": "This file version is good"
           },
           "data": {
            "type": "string",
            "description": "[DEPRECATED] File to use as file data. Please use upload_uuid instead. Note that it's only possible to post a file using a multipart/form-data body (see RFC 2388). Most HTTP libraries will do the right thing when you pass in an open file or IO stream. You should not use both data and upload_uuid fields in the same request."
           },
           "upload_uuid": {
            "type": "string",
            "description": "UUID referencing a previously completed Upload. This is the recommended approach  for file uploads. See Company Uploads or Project Uploads endpoints for instructions  on how to use uploads. You should not use both data and upload_uuid fields in the same request.",
            "example": "1QJ83Q56CVQR4X3C0JG7YV86F8"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "File version id",
             "example": 12
            },
            "notes": {
             "type": "string",
             "description": "File version notes",
             "example": "this is a cool file version"
            },
            "url": {
             "type": "string",
             "description": "File version url",
             "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
            },
            "size": {
             "type": "integer",
             "description": "File version size in bytes",
             "example": 12674
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "File version created at",
             "example": "2017-01-04T21:27:18Z"
            },
            "number": {
             "type": "integer",
             "description": "File version number",
             "example": 1
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "prostore_file": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string",
               "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "file_id": {
             "type": "integer",
             "description": "Parent Files id",
             "example": 14
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/file_versions',\n  qs: {project_id: 'SOME_INTEGER_VALUE', file_id: 'SOME_INTEGER_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    file_version: {\n      name: 'my.pdf',\n      notes: 'This file version is good',\n      upload_uuid: '1QJ83Q56CVQR4X3C0JG7YV86F8'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"file_version\\\":{\\\"name\\\":\\\"my.pdf\\\",\\\"notes\\\":\\\"This file version is good\\\",\\\"upload_uuid\\\":\\\"1QJ83Q56CVQR4X3C0JG7YV86F8\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/file_versions?project_id=SOME_INTEGER_VALUE&file_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/file_versions?project_id=SOME_INTEGER_VALUE&file_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"file_version\":{\"name\":\"my.pdf\",\"notes\":\"This file version is good\",\"upload_uuid\":\"1QJ83Q56CVQR4X3C0JG7YV86F8\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/file_versions?project_id=SOME_INTEGER_VALUE&file_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"file_version\\\":{\\\"name\\\":\\\"my.pdf\\\",\\\"notes\\\":\\\"This file version is good\\\",\\\"upload_uuid\\\":\\\"1QJ83Q56CVQR4X3C0JG7YV86F8\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/file_versions',\n  qs: {project_id: 'SOME_INTEGER_VALUE', file_id: 'SOME_INTEGER_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'multipart/form-data; boundary=---011000010111000001101001'\n  },\n  formData: {\n    file_version: '{\"name\":\"my.pdf\",\"notes\":\"This file version is good\",\"data\":\"string\",\"upload_uuid\":\"1QJ83Q56CVQR4X3C0JG7YV86F8\"}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"file_version\\\"\\r\\n\\r\\n{\\\"name\\\":\\\"my.pdf\\\",\\\"notes\\\":\\\"This file version is good\\\",\\\"data\\\":\\\"string\\\",\\\"upload_uuid\\\":\\\"1QJ83Q56CVQR4X3C0JG7YV86F8\\\"}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"multipart/form-data; boundary=---011000010111000001101001\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/file_versions?project_id=SOME_INTEGER_VALUE&file_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/file_versions?project_id=SOME_INTEGER_VALUE&file_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'file_version={\"name\":\"my.pdf\",\"notes\":\"This file version is good\",\"data\":\"string\",\"upload_uuid\":\"1QJ83Q56CVQR4X3C0JG7YV86F8\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/file_versions?project_id=SOME_INTEGER_VALUE&file_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"name\\\":\\\"my.pdf\\\",\\\"notes\\\":\\\"This file version is good\\\",\\\"data\\\":\\\"string\\\",\\\"upload_uuid\\\":\\\"1QJ83Q56CVQR4X3C0JG7YV86F8\\\"}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"file_version\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Recommend upload_uuid field for file version uploads",
      "description": "The `file_version.upload_uuid` field (available in `application/json` requests) is the recommended approach for file uploads, providing higher performance and reliability. The `file_version.data` property (available in `multipart/form-data` requests) remains supported for backward compatibility but is not recommended for new implementations.",
      "endpoint": "POST /file_versions",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-06-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-folders-and-files?version=1.0#create-project-file-version"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/file_versions/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the file version",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show project file version",
    "description": "Show detailed information about a File Version.",
    "tags": [
     "Project Folders and Files"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "File version id",
             "example": 12
            },
            "notes": {
             "type": "string",
             "description": "File version notes",
             "example": "this is a cool file version"
            },
            "url": {
             "type": "string",
             "description": "File version url",
             "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
            },
            "size": {
             "type": "integer",
             "description": "File version size in bytes",
             "example": 12674
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "File version created at",
             "example": "2017-01-04T21:27:18Z"
            },
            "number": {
             "type": "integer",
             "description": "File version number",
             "example": 1
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "prostore_file": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string",
               "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "file_id": {
             "type": "integer",
             "description": "Parent Files id",
             "example": 14
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/file_versions/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/file_versions/%7Bid%7D?project_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/file_versions/%7Bid%7D?project_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/file_versions/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/files": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create project File",
    "description": "Create a new File in the specified Project.",
    "tags": [
     "Project Folders and Files"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "file"
        ],
        "properties": {
         "file": {
          "type": "object",
          "properties": {
           "parent_id": {
            "type": "integer",
            "description": "The ID of the parent folder to create the file in. If not set the file will be created under the root folder.",
            "example": 12
           },
           "name": {
            "type": "string",
            "description": "The Name of the file",
            "example": "test_file.pdf"
           },
           "is_tracked": {
            "type": "boolean",
            "description": "Status if a file should be tracked (true/false)",
            "default": false,
            "example": false
           },
           "explicit_permissions": {
            "type": "boolean",
            "description": "Set file to private (true/false)",
            "example": false
           },
           "description": {
            "type": "string",
            "description": "A description of the file",
            "example": "This file is good"
           },
           "unique_name": {
            "type": "boolean",
            "description": "Toggles automatic renaming if the file name is already taken in a folder (unique_name = true). Returns a name taken error if a file name is taken in a folder (unique_name = false).",
            "example": true
           },
           "upload_uuid": {
            "type": "string",
            "description": "UUID referencing a previously completed Upload. This is the recommended approach  for file uploads. See Company Uploads or Project Uploads endpoints for instructions  on how to use uploads. You should not use both data and upload_uuid fields in the same request.",
            "example": "1QJ83Q56CVQR4X3C0JG7YV86F8"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "file"
        ],
        "properties": {
         "file": {
          "type": "object",
          "properties": {
           "parent_id": {
            "type": "integer",
            "description": "The ID of the parent folder to create the file in. If not set the file will be created under the root folder.",
            "example": 12
           },
           "name": {
            "type": "string",
            "description": "The Name of the file",
            "example": "test_file.pdf"
           },
           "is_tracked": {
            "type": "boolean",
            "description": "Status if a file should be tracked (true/false)",
            "default": false,
            "example": false
           },
           "explicit_permissions": {
            "type": "boolean",
            "description": "Set file to private (true/false)",
            "example": false
           },
           "description": {
            "type": "string",
            "description": "A description of the file",
            "example": "This file is good"
           },
           "data": {
            "type": "string",
            "description": "[DEPRECATED] File to use as file data. Please use upload_uuid instead. Note that it's only possible to post a file using a multipart/form-data body (see RFC 2388). Most HTTP libraries will do the right thing when you pass in an open file or IO stream. You should not use both data and upload_uuid fields in the same request."
           },
           "unique_name": {
            "type": "boolean",
            "description": "Toggles automatic renaming if the file name is already taken in a folder (unique_name = true). Returns a name taken error if a file name is taken in a folder (unique_name = false).",
            "example": true
           },
           "upload_uuid": {
            "type": "string",
            "description": "UUID referencing a previously completed Upload. This is the recommended approach  for file uploads. See Company Uploads or Project Uploads endpoints for instructions  on how to use uploads. You should not use both data and upload_uuid fields in the same request.",
            "example": "1QJ83Q56CVQR4X3C0JG7YV86F8"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "File id",
           "example": 12
          },
          "name": {
           "type": "string",
           "description": "File name",
           "example": "file.pdf"
          },
          "parent_id": {
           "type": "integer",
           "description": "File parent id",
           "example": 1
          },
          "size": {
           "type": "integer",
           "description": "File size",
           "example": 54332
          },
          "description": {
           "type": "string",
           "description": "File description",
           "example": "this is a cool file"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "File updated at",
           "example": "2017-01-04T21:27:18Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "File created at",
           "example": "2017-01-04T21:27:18Z"
          },
          "checked_out_until": {
           "type": "string",
           "format": "date-time",
           "description": "File checked out until",
           "example": "2017-01-04T21:27:18Z",
           "nullable": true
          },
          "name_with_path": {
           "type": "string",
           "description": "Full file path with filename",
           "example": "Root Folder/file.pdf"
          },
          "private": {
           "type": "boolean",
           "description": "File private status",
           "example": false
          },
          "is_tracked": {
           "type": "boolean",
           "description": "File is tracked status",
           "example": false
          },
          "tracked_folder": {
           "type": "object",
           "description": "Folder watchers",
           "nullable": true
          },
          "checked_out_by": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "file_type": {
           "type": "string",
           "description": "File type",
           "example": "PDF"
          },
          "file_versions": {
           "type": "array",
           "items": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "File version id",
                "example": 12
               },
               "notes": {
                "type": "string",
                "description": "File version notes",
                "example": "this is a cool file version",
                "nullable": true
               },
               "url": {
                "type": "string",
                "description": "File version url",
                "example": "www.file.com"
               },
               "size": {
                "type": "integer",
                "description": "File version size in bytes",
                "example": 12674
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "File version created at",
                "example": "2017-01-04T21:27:18Z"
               },
               "number": {
                "type": "integer",
                "description": "File version number",
                "example": 1
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "prostore_file": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string",
                  "description": "Use :name, :filename to be deprecated"
                 },
                 "url": {
                  "type": "string"
                 },
                 "filename": {
                  "type": "string",
                  "description": ":filename to be deprecated, use :name"
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "file_id": {
                "type": "integer",
                "description": "Parent Files id",
                "example": 14
               }
              }
             }
            ]
           }
          },
          "legacy_id": {
           "type": "integer",
           "description": "Legacy File id",
           "example": 12
          },
          "is_deleted": {
           "type": "boolean",
           "description": "File is in the recycle bin status",
           "example": false
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/files',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    file: {\n      parent_id: 12,\n      name: 'test_file.pdf',\n      is_tracked: false,\n      explicit_permissions: false,\n      description: 'This file is good',\n      unique_name: true,\n      upload_uuid: '1QJ83Q56CVQR4X3C0JG7YV86F8',\n      'custom_field_%{custom_field_definition_id}': 'custom field value'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"file\\\":{\\\"parent_id\\\":12,\\\"name\\\":\\\"test_file.pdf\\\",\\\"is_tracked\\\":false,\\\"explicit_permissions\\\":false,\\\"description\\\":\\\"This file is good\\\",\\\"unique_name\\\":true,\\\"upload_uuid\\\":\\\"1QJ83Q56CVQR4X3C0JG7YV86F8\\\",\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/files?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/files?project_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"file\":{\"parent_id\":12,\"name\":\"test_file.pdf\",\"is_tracked\":false,\"explicit_permissions\":false,\"description\":\"This file is good\",\"unique_name\":true,\"upload_uuid\":\"1QJ83Q56CVQR4X3C0JG7YV86F8\",\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/files?project_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"file\\\":{\\\"parent_id\\\":12,\\\"name\\\":\\\"test_file.pdf\\\",\\\"is_tracked\\\":false,\\\"explicit_permissions\\\":false,\\\"description\\\":\\\"This file is good\\\",\\\"unique_name\\\":true,\\\"upload_uuid\\\":\\\"1QJ83Q56CVQR4X3C0JG7YV86F8\\\",\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/files',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'multipart/form-data; boundary=---011000010111000001101001'\n  },\n  formData: {\n    file: '{\"parent_id\":12,\"name\":\"test_file.pdf\",\"is_tracked\":false,\"explicit_permissions\":false,\"description\":\"This file is good\",\"data\":\"string\",\"unique_name\":true,\"upload_uuid\":\"1QJ83Q56CVQR4X3C0JG7YV86F8\",\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"file\\\"\\r\\n\\r\\n{\\\"parent_id\\\":12,\\\"name\\\":\\\"test_file.pdf\\\",\\\"is_tracked\\\":false,\\\"explicit_permissions\\\":false,\\\"description\\\":\\\"This file is good\\\",\\\"data\\\":\\\"string\\\",\\\"unique_name\\\":true,\\\"upload_uuid\\\":\\\"1QJ83Q56CVQR4X3C0JG7YV86F8\\\",\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"multipart/form-data; boundary=---011000010111000001101001\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/files?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/files?project_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'file={\"parent_id\":12,\"name\":\"test_file.pdf\",\"is_tracked\":false,\"explicit_permissions\":false,\"description\":\"This file is good\",\"data\":\"string\",\"unique_name\":true,\"upload_uuid\":\"1QJ83Q56CVQR4X3C0JG7YV86F8\",\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/files?project_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"parent_id\\\":12,\\\"name\\\":\\\"test_file.pdf\\\",\\\"is_tracked\\\":false,\\\"explicit_permissions\\\":false,\\\"description\\\":\\\"This file is good\\\",\\\"data\\\":\\\"string\\\",\\\"unique_name\\\":true,\\\"upload_uuid\\\":\\\"1QJ83Q56CVQR4X3C0JG7YV86F8\\\",\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"file\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Toggles automatic renaming if the file name is already taken in a folder.",
      "description": "Toggles automatic renaming if the file name is already taken in a folder (unique_name = true). Returns a name taken error if a file name is taken in a folder (unique_name = false).",
      "endpoint": "POST /files",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-08-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-folders-and-files?version=1.0#create-project-file"
     },
     {
      "summary": "Add error message when a file fails to save",
      "description": "A bad request status with an error message will return if a file cannot be saved to Procore.",
      "endpoint": "POST /files",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-06-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-folders-and-files?version=1.0#create-project-file"
     },
     {
      "summary": "Reject file uploads with descriptions if done by standard users and below.",
      "description": "A forbidden status will return.",
      "endpoint": "POST /files",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-01-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-folders-and-files?version=1.0#create-project-file"
     },
     {
      "summary": "Recommend upload_uuid field for file uploads",
      "description": "The `file.upload_uuid` field (available in `application/json` requests) is the recommended approach for file uploads, providing higher performance and reliability. The `file.data` property (available in `multipart/form-data` requests) remains supported for backward compatibility but is not recommended for new implementations.",
      "endpoint": "POST /files",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-06-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-folders-and-files?version=1.0#create-project-file"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/files/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the File",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show project File",
    "description": "Show detailed information about a File.",
    "tags": [
     "Project Folders and Files"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "show_latest_version_only",
      "in": "query",
      "description": "Show only latest File version",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "File id",
           "example": 12
          },
          "name": {
           "type": "string",
           "description": "File name",
           "example": "file.pdf"
          },
          "parent_id": {
           "type": "integer",
           "description": "File parent id",
           "example": 1
          },
          "size": {
           "type": "integer",
           "description": "File size",
           "example": 54332
          },
          "description": {
           "type": "string",
           "description": "File description",
           "example": "this is a cool file"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "File updated at",
           "example": "2017-01-04T21:27:18Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "File created at",
           "example": "2017-01-04T21:27:18Z"
          },
          "checked_out_until": {
           "type": "string",
           "format": "date-time",
           "description": "File checked out until",
           "example": "2017-01-04T21:27:18Z",
           "nullable": true
          },
          "name_with_path": {
           "type": "string",
           "description": "Full file path with filename",
           "example": "Root Folder/file.pdf"
          },
          "private": {
           "type": "boolean",
           "description": "File private status",
           "example": false
          },
          "is_tracked": {
           "type": "boolean",
           "description": "File is tracked status",
           "example": false
          },
          "tracked_folder": {
           "type": "object",
           "description": "Folder watchers",
           "nullable": true
          },
          "checked_out_by": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "file_type": {
           "type": "string",
           "description": "File type",
           "example": "PDF"
          },
          "file_versions": {
           "type": "array",
           "items": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "File version id",
                "example": 12
               },
               "notes": {
                "type": "string",
                "description": "File version notes",
                "example": "this is a cool file version",
                "nullable": true
               },
               "url": {
                "type": "string",
                "description": "File version url",
                "example": "www.file.com"
               },
               "size": {
                "type": "integer",
                "description": "File version size in bytes",
                "example": 12674
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "File version created at",
                "example": "2017-01-04T21:27:18Z"
               },
               "number": {
                "type": "integer",
                "description": "File version number",
                "example": 1
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "prostore_file": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string",
                  "description": "Use :name, :filename to be deprecated"
                 },
                 "url": {
                  "type": "string"
                 },
                 "filename": {
                  "type": "string",
                  "description": ":filename to be deprecated, use :name"
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "file_id": {
                "type": "integer",
                "description": "Parent Files id",
                "example": 14
               }
              }
             }
            ]
           }
          },
          "legacy_id": {
           "type": "integer",
           "description": "Legacy File id",
           "example": 12
          },
          "is_deleted": {
           "type": "boolean",
           "description": "File is in the recycle bin status",
           "example": false
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/files/%7Bid%7D',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    show_latest_version_only: 'SOME_BOOLEAN_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/files/%7Bid%7D?project_id=SOME_INTEGER_VALUE&show_latest_version_only=SOME_BOOLEAN_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/files/%7Bid%7D?project_id=SOME_INTEGER_VALUE&show_latest_version_only=SOME_BOOLEAN_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/files/%7Bid%7D?project_id=SOME_INTEGER_VALUE&show_latest_version_only=SOME_BOOLEAN_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update project File",
    "description": "Update the specified File (creates a new file version).",
    "tags": [
     "Project Folders and Files"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "file"
        ],
        "properties": {
         "file": {
          "type": "object",
          "properties": {
           "parent_id": {
            "type": "integer",
            "description": "The ID of the parent folder to move the file to",
            "example": 12
           },
           "name": {
            "type": "string",
            "description": "The Name of the file",
            "example": "test_folder"
           },
           "checked_out_until": {
            "type": "string",
            "format": "date-time",
            "description": "Check out a file until the specified time. Admins may reset checkout by sending \"null\"",
            "example": "2022-08-12T12:42:34Z",
            "nullable": true
           },
           "is_tracked": {
            "type": "boolean",
            "description": "Status if a file should be tracked (true/false)",
            "default": false,
            "example": false
           },
           "explicit_permissions": {
            "type": "boolean",
            "description": "Set file to private (true/false)",
            "example": false
           },
           "description": {
            "type": "string",
            "description": "A description of the file",
            "example": "This file is good"
           },
           "upload_uuid": {
            "type": "string",
            "description": "UUID referencing a previously completed Upload. This is the recommended approach  for file uploads. See Company Uploads or Project Uploads endpoints for instructions  on how to use uploads. You should not use both data and upload_uuid fields in the same request.",
            "example": "1QJ83Q56CVQR4X3C0JG7YV86F8"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "file"
        ],
        "properties": {
         "file": {
          "type": "object",
          "properties": {
           "parent_id": {
            "type": "integer",
            "description": "The ID of the parent folder to move the file to",
            "example": 12
           },
           "name": {
            "type": "string",
            "description": "The Name of the file",
            "example": "test_folder"
           },
           "checked_out_until": {
            "type": "string",
            "format": "date-time",
            "description": "Check out a file until the specified time. Admins may reset checkout by sending \"null\"",
            "example": "2022-08-12T12:42:34Z",
            "nullable": true
           },
           "is_tracked": {
            "type": "boolean",
            "description": "Status if a file should be tracked (true/false)",
            "default": false,
            "example": false
           },
           "explicit_permissions": {
            "type": "boolean",
            "description": "Set file to private (true/false)",
            "example": false
           },
           "description": {
            "type": "string",
            "description": "A description of the file",
            "example": "This file is good"
           },
           "data": {
            "type": "string",
            "description": "[DEPRECATED] File to use as file data. Please use upload_uuid instead. Note that it's only possible to post a file using a multipart/form-data body (see RFC 2388). Most HTTP libraries will do the right thing when you pass in an open file or IO stream. You should not use both data and upload_uuid fields in the same request."
           },
           "upload_uuid": {
            "type": "string",
            "description": "UUID referencing a previously completed Upload. This is the recommended approach  for file uploads. See Company Uploads or Project Uploads endpoints for instructions  on how to use uploads. You should not use both data and upload_uuid fields in the same request.",
            "example": "1QJ83Q56CVQR4X3C0JG7YV86F8"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "File id",
           "example": 12
          },
          "name": {
           "type": "string",
           "description": "File name",
           "example": "file.pdf"
          },
          "parent_id": {
           "type": "integer",
           "description": "File parent id",
           "example": 1
          },
          "size": {
           "type": "integer",
           "description": "File size",
           "example": 54332
          },
          "description": {
           "type": "string",
           "description": "File description",
           "example": "this is a cool file"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "File updated at",
           "example": "2017-01-04T21:27:18Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "File created at",
           "example": "2017-01-04T21:27:18Z"
          },
          "checked_out_until": {
           "type": "string",
           "format": "date-time",
           "description": "File checked out until",
           "example": "2017-01-04T21:27:18Z",
           "nullable": true
          },
          "name_with_path": {
           "type": "string",
           "description": "Full file path with filename",
           "example": "Root Folder/file.pdf"
          },
          "private": {
           "type": "boolean",
           "description": "File private status",
           "example": false
          },
          "is_tracked": {
           "type": "boolean",
           "description": "File is tracked status",
           "example": false
          },
          "tracked_folder": {
           "type": "object",
           "description": "Folder watchers",
           "nullable": true
          },
          "checked_out_by": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "file_type": {
           "type": "string",
           "description": "File type",
           "example": "PDF"
          },
          "file_versions": {
           "type": "array",
           "items": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "File version id",
                "example": 12
               },
               "notes": {
                "type": "string",
                "description": "File version notes",
                "example": "this is a cool file version",
                "nullable": true
               },
               "url": {
                "type": "string",
                "description": "File version url",
                "example": "www.file.com"
               },
               "size": {
                "type": "integer",
                "description": "File version size in bytes",
                "example": 12674
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "File version created at",
                "example": "2017-01-04T21:27:18Z"
               },
               "number": {
                "type": "integer",
                "description": "File version number",
                "example": 1
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "prostore_file": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string",
                  "description": "Use :name, :filename to be deprecated"
                 },
                 "url": {
                  "type": "string"
                 },
                 "filename": {
                  "type": "string",
                  "description": ":filename to be deprecated, use :name"
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "file_id": {
                "type": "integer",
                "description": "Parent Files id",
                "example": 14
               }
              }
             }
            ]
           }
          },
          "legacy_id": {
           "type": "integer",
           "description": "Legacy File id",
           "example": 12
          },
          "is_deleted": {
           "type": "boolean",
           "description": "File is in the recycle bin status",
           "example": false
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "File Conflict Error",
         "properties": {
          "errors": {
           "type": "object",
           "properties": {
            "base": {
             "type": "array",
             "items": {
              "type": "string",
              "example": "This file is currently checked out by Jane Smith so a new revision cannot be added"
             }
            }
           }
          },
          "error_type": {
           "type": "string",
           "example": "FileIsCheckedOut"
          },
          "file": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "File id",
             "example": 12
            },
            "name": {
             "type": "string",
             "description": "File name",
             "example": "file.pdf"
            },
            "parent_id": {
             "type": "integer",
             "description": "File parent id",
             "example": 1
            },
            "size": {
             "type": "integer",
             "description": "File size",
             "example": 54332
            },
            "description": {
             "type": "string",
             "description": "File description",
             "example": "this is a cool file"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "File updated at",
             "example": "2017-01-04T21:27:18Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "File created at",
             "example": "2017-01-04T21:27:18Z"
            },
            "checked_out_until": {
             "type": "string",
             "format": "date-time",
             "description": "File checked out until",
             "example": "2017-01-04T21:27:18Z"
            },
            "name_with_path": {
             "type": "string",
             "description": "Full file path with filename",
             "example": "Root Folder/file.pdf"
            },
            "private": {
             "type": "boolean",
             "description": "File private status",
             "example": false
            },
            "is_tracked": {
             "type": "boolean",
             "description": "File is tracked status",
             "example": false
            },
            "checked_out_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "file_type": {
             "type": "string",
             "description": "File type",
             "example": "PDF"
            },
            "file_versions": {
             "type": "array",
             "items": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "File version id",
                  "example": 12
                 },
                 "notes": {
                  "type": "string",
                  "description": "File version notes",
                  "example": "this is a cool file version"
                 },
                 "url": {
                  "type": "string",
                  "description": "File version url",
                  "example": "www.file.com"
                 },
                 "size": {
                  "type": "integer",
                  "description": "File version size in bytes",
                  "example": 12674
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "File version created at",
                  "example": "2017-01-04T21:27:18Z"
                 },
                 "number": {
                  "type": "integer",
                  "description": "File version number",
                  "example": 1
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 160586
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 },
                 "prostore_file": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string",
                    "description": "Use :name, :filename to be deprecated"
                   },
                   "url": {
                    "type": "string"
                   },
                   "filename": {
                    "type": "string",
                    "description": ":filename to be deprecated, use :name"
                   }
                  }
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "file_id": {
                  "type": "integer",
                  "description": "Parent Files id",
                  "example": 14
                 }
                }
               }
              ]
             }
            },
            "legacy_id": {
             "type": "integer",
             "description": "Legacy File id",
             "example": 12
            },
            "is_deleted": {
             "type": "boolean",
             "description": "File is in the recycle bin status",
             "example": false
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
[...]
