{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Action Plan Template Item Assignees",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Project Action Plan Template Item Assignees",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_template_item_assignees": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Action Plan Template Item Assignees",
    "description": "List of all Action Plan Template Item Assignees",
    "tags": [
     "Action Plan Template Item Assignees"
    ],
    "parameters": [
     {
      "name": "filters[plan_template_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return section(s) associated with the specified Action Plan Template ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Project Action Plan Template Item Assignees (Index)",
         "items": {
          "type": "object",
          "description": "Project Action Plan Template Item Assignee (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the template item assignee.",
            "example": 43584
           },
           "plan_template_item_id": {
            "type": "integer",
            "description": "Unique identifier of the template item this assignee belongs to.",
            "example": 429
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignee was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "is_holding": {
            "type": "boolean",
            "description": "Whether this assignee's signature is required for a hold point. When true, items after the hold point cannot proceed until this assignee signs.",
            "example": true
           },
           "party": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Party Person ID",
              "example": 23
             },
             "first_name": {
              "type": "string",
              "description": "First name of the Party Person",
              "example": "Paul"
             },
             "last_name": {
              "type": "string",
              "description": "Last name of the Party Person",
              "example": "Admin"
             },
             "name": {
              "type": "string",
              "description": "Full name of the Party Person",
              "example": "Paul Admin"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID of the login account associated with this party person.",
              "example": 453
             },
             "is_employee": {
              "type": "boolean",
              "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
              "example": "12",
              "nullable": true
             },
             "login": {
              "type": "string",
              "description": "Email address (login) of the party person's user account.",
              "example": "login@example.com"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Time the Party Person was updated",
              "example": "2018-09-20T21:39:40Z"
             },
             "vendor": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the vendor company this party person belongs to.",
                "example": 223
               },
               "name": {
                "type": "string",
                "description": "Name of the vendor company this party person belongs to.",
                "example": "Freddie's Excavating"
               }
              }
             }
            }
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 248
           },
           "role": {
            "type": "string",
            "description": "Role of the assignee within the Action Plan workflow.",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "architect"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "verification_method": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Action Plan Verification Method ID",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Flag indicating if Action Plan Verification Method is active",
              "example": true
             },
             "name": {
              "type": "string",
              "description": "Name of the Action Plan Verification Method",
              "example": "Hold Point"
             },
             "source_key": {
              "type": "string",
              "description": "Internal Translation Key",
              "example": "hold_point"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees',\n  qs: {\n    'filters[plan_template_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees?filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees?filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees?filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Action Plan Template Item Assignees list endpoint",
      "description": "Get a list of Project Action Plan Template Item Assignees for a given project.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_template_item_assignees",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-04-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-item-assignees?version=1.0#list-action-plan-template-item-assignees"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_template_item_assignees/bulk_create": {
   "post": {
    "x-support-level": "Beta",
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Action Plan Template Item Assignees",
    "description": "Creates multiple Action Plan Template Assignees",
    "tags": [
     "Action Plan Template Item Assignees"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Whether to update what can be or nothing if one can not be updated. Defaults to \"all_or_nothing\"",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_item_assignees"
        ],
        "properties": {
         "plan_template_item_assignees": {
          "title": "Action Plan Template Item Assignees",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "plan_template_item_id"
           ],
           "properties": {
            "plan_template_item_id": {
             "type": "integer",
             "description": "The ID of the Action Plan Template Item Assignee",
             "example": 123
            },
            "is_holding": {
             "type": "boolean",
             "description": "Indicates whether or not the Assignee's signature is holding",
             "example": true
            },
            "party_id": {
             "type": "integer",
             "description": "Party Person ID of the Action Plan Item Assignee to be set",
             "example": 27
            },
            "role": {
             "type": "string",
             "description": "Role of the Project Action Plan Template Item Assignee to be set",
             "enum": [
              "contractor",
              "specialty_contractor",
              "client",
              "architect",
              "third_party",
              "internal"
             ],
             "example": "architect"
            },
            "verification_method_id": {
             "type": "integer",
             "description": "Verification Method ID of the Project Action Plan Template Item Assignee to be set",
             "example": 1
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "object",
          "properties": {
           "plan_template_item_id": {
            "type": "integer",
            "description": "The ID of the Item",
            "example": 123
           },
           "is_holding": {
            "type": "boolean",
            "description": "status of the update on that Item",
            "example": true
           },
           "errors": {
            "type": "object"
           },
           "role": {
            "type": "string",
            "description": "Role of the Project Action Plan Template Item Assignee to be set",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "architect"
           },
           "verification_method_id": {
            "type": "integer",
            "description": "Verification Method ID of the Project Action Plan Template Item Assignee to be set",
            "example": 1
           },
           "party_id": {
            "type": "integer",
            "description": "Party Person ID of the Action Plan Item Assignee to be set",
            "example": 27
           },
           "status": {
            "type": "string",
            "description": "status of the update on that Item",
            "enum": [
             "success",
             "failure"
            ],
            "example": "success"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees/bulk_create',\n  qs: {completion_mode: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_item_assignees: [\n      {\n        plan_template_item_id: 123,\n        is_holding: true,\n        party_id: 27,\n        role: 'architect',\n        verification_method_id: 1\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_item_assignees\\\":[{\\\"plan_template_item_id\\\":123,\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"role\\\":\\\"architect\\\",\\\"verification_method_id\\\":1}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees/bulk_create?completion_mode=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees/bulk_create?completion_mode=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_item_assignees\":[{\"plan_template_item_id\":123,\"is_holding\":true,\"party_id\":27,\"role\":\"architect\",\"verification_method_id\":1}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees/bulk_create?completion_mode=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"plan_template_item_assignees\\\":[{\\\"plan_template_item_id\\\":123,\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"role\\\":\\\"architect\\\",\\\"verification_method_id\\\":1}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Bulk Creation of assignees for multiple Action Plan Template Items",
      "description": "Create multiple assignees for selected Action Plan Template Items",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_template_item_assignees/bulk_create",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-05-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-item-assignees?version=1.0#bulk-create-action-plan-template-item-assignees"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_template_item_assignees/bulk_update": {
   "patch": {
    "x-support-level": "Beta",
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk update Action Plan Template Item Assignees",
    "description": "Update multiple Action Plan Template Assignees",
    "tags": [
     "Action Plan Template Item Assignees"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Whether to update what can be or nothing if one can not be updated. Defaults to \"all_or_nothing\"",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_item_assignees"
        ],
        "properties": {
         "plan_template_item_assignees": {
          "title": "Action Plan Template Item Assignees",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "id"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Action Plan Template Item Assignee",
             "example": 123
            },
            "is_holding": {
             "type": "boolean",
             "description": "Indicates whether or not the Assignee's signature is holding",
             "example": true
            },
            "party_id": {
             "type": "integer",
             "description": "Party Person ID of the Action Plan Item Assignee to be set",
             "example": 27
            },
            "role": {
             "type": "string",
             "description": "Role of the Project Action Plan Template Item Assignee to be set",
             "enum": [
              "contractor",
              "specialty_contractor",
              "client",
              "architect",
              "third_party",
              "internal"
             ],
             "example": "architect"
            },
            "verification_method_id": {
             "type": "integer",
             "description": "Verification Method ID of the Project Action Plan Template Item Assignee to be set",
             "example": 1
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "The ID of the Item",
            "example": 123
           },
           "is_holding": {
            "type": "boolean",
            "description": "status of the update on that Item",
            "example": true
           },
           "errors": {
            "type": "object"
           },
           "role": {
            "type": "string",
            "description": "Role of the Project Action Plan Template Item Assignee to be set",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "architect"
           },
           "verification_method_id": {
            "type": "integer",
            "description": "Verification Method ID of the Project Action Plan Template Item Assignee to be set",
            "example": 1
           },
           "party_id": {
            "type": "integer",
            "description": "Party Person ID of the Action Plan Item Assignee to be set",
            "example": 27
           },
           "status": {
            "type": "string",
            "description": "status of the update on that Item",
            "enum": [
             "success",
             "failure"
            ],
            "example": "success"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees/bulk_update',\n  qs: {completion_mode: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_item_assignees: [\n      {\n        id: 123,\n        is_holding: true,\n        party_id: 27,\n        role: 'architect',\n        verification_method_id: 1\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_item_assignees\\\":[{\\\"id\\\":123,\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"role\\\":\\\"architect\\\",\\\"verification_method_id\\\":1}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees/bulk_update?completion_mode=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees/bulk_update?completion_mode=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_item_assignees\":[{\"id\":123,\"is_holding\":true,\"party_id\":27,\"role\":\"architect\",\"verification_method_id\":1}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_template_item_assignees/bulk_update?completion_mode=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"plan_template_item_assignees\\\":[{\\\"id\\\":123,\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"role\\\":\\\"architect\\\",\\\"verification_method_id\\\":1}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Action Plan Template Item Assignee bulk update endpoint",
      "description": "Update multiple Project Action Plan Template Item  Multiple Assignee for a given project.",
      "endpoint": "PATCH /projects/{project_id}/action_plans/plan_template_item_assignees/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-07-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-template-item-assignees?version=1.0#bulk-update-action-plan-template-item-assignees"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}