{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Action Plan Templates",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Project Action Plan Templates",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List of Project Action Plan Templates",
    "description": "List of all Project Action Plan Templates",
    "tags": [
     "Project Action Plan Templates"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "plan_type",
        "provider_type",
        "title",
        "updated_at"
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[provider_type]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified Provider Type(s)",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "company",
         "project"
        ]
       }
      }
     },
     {
      "name": "filters[type_id]",
      "in": "query",
      "description": "Return item(s) with a specific Action Plan Type ID or a range of Action Plan Type IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Project Action Plan Templates (Index)",
         "items": {
          "type": "object",
          "description": "Project Action Plan Templates (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Action Plan Template.",
            "example": 43584
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "description": {
            "type": "string",
            "description": "Description of the template in rich text (HTML) form.",
            "example": "<p>Important Safety Project Action Plan Template.</p>"
           },
           "description_plain_text": {
            "type": "string",
            "description": "Description of the template in plain text form.",
            "example": "Important Safety Project Action Plan Template."
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             },
             "code": {
              "type": "string",
              "description": "The unique code for this Location",
              "example": "L1",
              "nullable": true
             }
            }
           },
           "manager": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Party Person ID",
              "example": 23
             },
             "first_name": {
              "type": "string",
              "description": "First name of the Party Person",
              "example": "Paul"
             },
             "last_name": {
              "type": "string",
              "description": "Last name of the Party Person",
              "example": "Admin"
             },
             "name": {
              "type": "string",
              "description": "Full name of the Party Person",
              "example": "Paul Admin"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID of the login account associated with this party person.",
              "example": 453
             },
             "is_employee": {
              "type": "boolean",
              "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
              "example": "12",
              "nullable": true
             },
             "login": {
              "type": "string",
              "description": "Email address (login) of the party person's user account.",
              "example": "login@example.com"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Time the Party Person was updated",
              "example": "2018-09-20T21:39:40Z"
             },
             "vendor": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the vendor company this party person belongs to.",
                "example": 223
               },
               "name": {
                "type": "string",
                "description": "Name of the vendor company this party person belongs to.",
                "example": "Freddie's Excavating"
               }
              }
             }
            }
           },
           "status": {
            "type": "string",
            "description": "Lifecycle state of the template. Templates must be 'published' before plans can be created from them.",
            "enum": [
             "draft",
             "in_revision",
             "published"
            ],
            "example": "draft"
           },
           "private": {
            "type": "boolean",
            "description": "Whether the template is restricted to participants only.",
            "example": false
           },
           "title": {
            "type": "string",
            "description": "Title of the Action Plan Template.",
            "example": "A New Project Action Plan Template"
           },
           "plan_type": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the Action Plan type.",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Whether this type is enabled for use. When false, it is hidden from selection when creating new plans or templates.",
              "example": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the type was created. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "name": {
              "type": "string",
              "description": "Localized display name of the Action Plan type.",
              "example": "Safety"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the type was last modified. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "source_key": {
              "type": "string",
              "description": "System key identifying a built-in type. Null for user-created custom types.",
              "example": "safety",
              "nullable": true
             }
            }
           },
           "provider_type": {
            "type": "string",
            "description": "Scope of the template. 'company' templates are company-wide; 'project' templates are project-specific.",
            "enum": [
             "company",
             "project"
            ],
            "example": "project"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was last modified. ISO 8601 format.",
            "example": "2015-03-19T12:00:00Z"
           },
           "non_closed_plans_count": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "description": "Number of non-closed (draft or in-progress) Action Plans created from this template. Only returned when the template is requested with the `with_plans_count` view.",
            "example": 2
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[provider_type]': 'SOME_ARRAY_VALUE',\n    'filters[type_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bprovider_type%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bprovider_type%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bprovider_type%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Action Plan Templates list endpoint",
      "description": "Get a list of Project Action Plan Templates for a given project id.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_templates",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-01-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-templates?version=1.0#list-of-project-action-plan-templates"
     },
     {
      "summary": "Added assets_enabled and locations_enabled to Action Plans list-templates response",
      "description": "Two new per-template booleans added to the project plan_templates list endpoint (normal and full views): `assets_enabled` indicates whether the template's plan type has the `assets` configurable field visible for the current project, and `locations_enabled` indicates the same for the `location` configurable field. Both are computed against the project's configurable field set so clients can show/hide the corresponding asset/location pickers without a follow-up CFS lookup.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_templates",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-action-plan-templates?version=1.0#list-of-project-action-plan-templates"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}