{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Bid Packages",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Management",
  "x-resource-name": "Project Bid Packages",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/bid_packages": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Bid Packages",
    "description": "Return a list of all Bid Packages for a Project.",
    "tags": [
     "Bid Packages"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "When set to all, both open and closed bid packages will be returned. When set to internal, more keys will be made available for each bid package. When set to use_previous_bidders, a key will be made available that will provide information on whether the bid package has bid forms",
      "schema": {
       "type": "string",
       "enum": [
        "all",
        "internal",
        "use_previous_bidders",
        "use_previous_bid_packages"
       ]
      }
     },
     {
      "name": "filter",
      "in": "query",
      "description": "Filters down list of bid packages for a project.",
      "schema": {
       "type": "string",
       "enum": [
        "open",
        "closed",
        "hidden",
        "has_bid_forms"
       ]
      }
     },
     {
      "name": "with_flags",
      "in": "query",
      "required": false,
      "description": "Filter bid packages by available features (e.g., flexible_response_types_enabled, bid_form_sections_enabled). For accurate results in the CPBP feature, both flags should be passed, not just one.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "flexible_response_types_enabled",
         "bid_form_sections_enabled"
        ]
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter. Only applies when view=internal.",
      "schema": {
       "type": "string",
       "enum": [
        "number",
        "title",
        "bid_due_date",
        "invited_bids_count",
        "bids_will_bid_count",
        "submitted_bids_count",
        "status"
       ]
      }
     },
     {
      "name": "filters[bid_due_date]",
      "in": "query",
      "description": "Return item(s) whose associated bid package has the specified bid due date (ISO 8601 date format)",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter by bid package status. Accepted values are 'open', 'closed', or 'hidden'. When omitted, recycle-bin (hidden) bid packages are excluded by default.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "open",
        "closed",
        "hidden"
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) within a specific created at iso8601 datetime range",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[has_bid_forms]",
      "in": "query",
      "description": "Filter by bid form presence. When true, only bid packages that have bid forms are returned; when false, only bid packages without bid forms are returned. When omitted, no bid form filtering is applied. This filter is independent of the status filter and can be combined with it.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Bid Packages",
         "items": {
          "type": "object",
          "allOf": [
           {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "project_id": {
              "type": "integer",
              "description": "Unique identifier for the project.",
              "example": 2342
             },
             "bid_due_date": {
              "type": "string",
              "format": "date-time",
              "description": "Due date",
              "example": "2016-12-13T03:00:00Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the Bid Package was created",
              "example": "2016-12-01T00:00:00Z"
             },
             "number": {
              "type": "integer",
              "description": "Package Number",
              "example": 42,
              "nullable": true
             },
             "title": {
              "type": "string",
              "description": "Title",
              "example": "Package Bid"
             },
             "submitted_bids_count": {
              "type": "integer",
              "description": "Number bids submitted",
              "example": 2
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    filter: 'SOME_STRING_VALUE',\n    with_flags: 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[bid_due_date]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[has_bid_forms]': 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/bid_packages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filter=SOME_STRING_VALUE&with_flags=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&filters%5Bbid_due_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bhas_bid_forms%5D=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filter=SOME_STRING_VALUE&with_flags=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&filters%5Bbid_due_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bhas_bid_forms%5D=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filter=SOME_STRING_VALUE&with_flags=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&filters%5Bbid_due_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bhas_bid_forms%5D=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added filtering and sorting",
      "description": "There are two new query parameters: `filter` and `sort`.\nThe `filter` query parameter will allow the user to filter by open, closed, or hidden bid packages.\nThe `sort` query parameter accepts the following values:\n  - number\n  - title\n  - bid_due_date\n  - invited_bids_count\n  - bids_will_bid_count\n  - submitted_bids_count\n  - status\n\nThese query parameters will only take affect when view is set to internal.",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-05-13",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     },
     {
      "summary": "Add new filter option",
      "description": "Adds the `has_bid_forms` filter to the bid packages index endpoint. This filter will allow the user to retrieve only bid packages that have bid forms.\n\nThis filter parameter will only take affect when view is set to either internal or use_previous_bidders.",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-02-21",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     },
     {
      "summary": "Sorting by title ignores accents",
      "description": "Sorting by title ignores accents",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-24",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     },
     {
      "summary": "Added with_flags",
      "description": "Filtering bid packages by available features (e.g., flexible_response_types_enabled, bid_form_sections_enabled)",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-02-25",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     },
     {
      "summary": "Added public discovery and PCN classification fields",
      "description": "Added new fields to bid package list responses:\n- `enable_public_discovery`: Boolean flag for public bid package discoverability\n- `primary_slug_with_ids`: Primary public slug with company ID and bid package ID prefix (format: {company_id}_{bid_package_id}_{slug}, auto-generated from title)\n- `pre_bid_meeting_location`: Location for the pre-bid meeting\n- `pre_bid_meeting_date`: Date and time for the pre-bid meeting\n- `pre_bid_meeting_online_link`: Online meeting link for the pre-bid meeting\n- `pre_bid_meeting_notes`: Notes for the pre-bid meeting\n- `public_project_funding_source`: Source of funding for the public project, either 'private' or 'public'\n- `show_location_for_nda_projects`: Whether the location for the NDA project is shown\n- `public_bid_opening_details_date`: Date and time for the public bid opening\n- `public_bid_opening_details_location`: Location for the public bid opening\n- `public_bid_opening_details_online_link`: Online link for the public bid opening\n- `trades_and_services`: Array of PCN trade classifications with trade_level, trade_path, and trade_key\n- `business_classifications`: Array of business classifications with classification_name, classification_abbreviation, and classification_key",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-18",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "private",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#list-bid-packages"
     },
     {
      "summary": "Added has_pdm_documents field in Response",
      "description": "Added `has_pdm_documents` boolean to indicate if a bid package has any PDM documents.",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-01-08",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "private",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#list-bid-packages"
     },
     {
      "summary": "Add created_at filter",
      "description": "Adds support for filtering Bid Packages by \"created_at\" (datetime) query parameter. Supports ISO 8601 date-time format and range syntax (e.g. 2024-01-01T00:00:00Z...2024-12-31T23:59:59Z).",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-19",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     },
     {
      "summary": "Add bid_due_date filter",
      "description": "Adds support for filtering Bid Packages by \"bid_due_date\" (datetime) query parameter. Supports ISO 8601 date-time format and range syntax.",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-19",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     },
     {
      "summary": "Add status filter",
      "description": "Adds support for filtering Bid Packages by status via the \"filters[status]\" query parameter. Accepted values are 'open', 'closed', and 'hidden'. When omitted, recycle-bin (hidden) bid packages are excluded by default.",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     },
     {
      "summary": "Add created_at field to response",
      "description": "The \"created_at\" (date-time) field is now included in the response for each Bid Package when using the internal view (view=internal). This enables consumers such as the Data Extracts UI to display the Date Created column.",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-12",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     },
     {
      "summary": "Add has_bid_forms filter",
      "description": "Adds support for filtering Bid Packages by bid form presence via the \"filters[has_bid_forms]\" boolean query parameter. When true, only bid packages that have bid forms are returned; when false, only bid packages without bid forms are returned. This filter is independent of the status filter and can be combined with it.",
      "endpoint": "GET /projects/{project_id}/bid_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.1#list-bid-packages"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/bid_packages/{bid_package_id}/correspondences": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Correspondences",
    "description": "Return a list of all Correspondences for a Bid Package.",
    "tags": [
     "Correspondences"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Correspondences",
         "items": {
          "allOf": [
           {
            "type": "object",
            "title": "Correspondence",
            "description": "Correspondence",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 94529
             },
             "bid_package_id": {
              "type": "integer",
              "description": "Bid package ID",
              "example": 91011
             },
             "bid_package_title": {
              "type": "string",
              "description": "Bid package title",
              "example": "Ocean Home Bid Package"
             },
             "created_at": {
              "type": "string",
              "description": "Correspondence created-at",
              "example": "Monday, May 14, 2018 at 11:31 am"
             },
             "subject": {
              "type": "string",
              "description": "Subject within Correspondence",
              "example": "Ocean Home 9171"
             }
            }
           },
           {
            "type": "object",
            "title": "Correspondence",
            "description": "Correspondence",
            "properties": {
             "attachments": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "File ID",
                 "example": 1
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "contract.pdf"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com"
                },
                "filename": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "deprecated": true,
                 "example": "contract.pdf"
                },
                "content_type": {
                 "type": "string",
                 "description": "A mime type or a file extension",
                 "example": "application/pdf"
                },
                "share_url": {
                 "type": "string",
                 "description": "Shareable URL(enabled on company level) or file URL",
                 "example": "https://storage.procore.com"
                },
                "viewable_type": {
                 "type": "string",
                 "description": "Document type",
                 "enum": [
                  "document",
                  "document_pending",
                  "image",
                  "mp4",
                  "default"
                 ],
                 "example": "default"
                },
                "viewable_url": {
                 "type": "string",
                 "description": "Viewable document URL",
                 "example": "https://app.procore.com/"
                }
               }
              }
             },
             "message": {
              "type": "string",
              "description": "Body of Correspondence",
              "example": "Please note new revision of Ocean Home 9171"
             },
             "recipients": {
              "type": "array",
              "description": "List of recipient names Correspondence was sent to",
              "example": [
               "Hector Jimenez",
               "Mike Wazny"
              ],
              "items": {
               "type": "string",
               "description": "Recipient name",
               "example": "Jane Doe"
              }
             },
             "from": {
              "type": "object",
              "properties": {
               "first": {
                "type": "string",
                "description": "Recipients first name",
                "example": "John"
               },
               "last": {
                "type": "string",
                "description": "Recipients last name",
                "example": "Doe"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/bid_packages/{bid_package_id}/correspondences/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Correspondence ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Correspondence",
    "description": "Return Correspondence detailed information.",
    "tags": [
     "Correspondences"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "title": "Correspondence",
           "description": "Correspondence",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 94529
            },
            "bid_package_id": {
             "type": "integer",
             "description": "Bid package ID",
             "example": 91011
            },
            "bid_package_title": {
             "type": "string",
             "description": "Bid package title",
             "example": "Ocean Home Bid Package"
            },
            "created_at": {
             "type": "string",
             "description": "Correspondence created-at",
             "example": "Monday, May 14, 2018 at 11:31 am"
            },
            "subject": {
             "type": "string",
             "description": "Subject within Correspondence",
             "example": "Ocean Home 9171"
            }
           }
          },
          {
           "type": "object",
           "title": "Correspondence",
           "description": "Correspondence",
           "properties": {
            "attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "File ID",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "Base name of the file without its path",
                "example": "contract.pdf"
               },
               "url": {
                "type": "string",
                "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                "example": "https://storage.procore.com"
               },
               "filename": {
                "type": "string",
                "description": "Base name of the file without its path",
                "deprecated": true,
                "example": "contract.pdf"
               },
               "content_type": {
                "type": "string",
                "description": "A mime type or a file extension",
                "example": "application/pdf"
               },
               "share_url": {
                "type": "string",
                "description": "Shareable URL(enabled on company level) or file URL",
                "example": "https://storage.procore.com"
               },
               "viewable_type": {
                "type": "string",
                "description": "Document type",
                "enum": [
                 "document",
                 "document_pending",
                 "image",
                 "mp4",
                 "default"
                ],
                "example": "default"
               },
               "viewable_url": {
                "type": "string",
                "description": "Viewable document URL",
                "example": "https://app.procore.com/"
               }
              }
             }
            },
            "message": {
             "type": "string",
             "description": "Body of Correspondence",
             "example": "Please note new revision of Ocean Home 9171"
            },
            "recipients": {
             "type": "array",
             "description": "List of recipient names Correspondence was sent to",
             "example": [
              "Hector Jimenez",
              "Mike Wazny"
             ],
             "items": {
              "type": "string",
              "description": "Recipient name",
              "example": "Jane Doe"
             }
            },
            "from": {
             "type": "object",
             "properties": {
              "first": {
               "type": "string",
               "description": "Recipients first name",
               "example": "John"
              },
              "last": {
               "type": "string",
               "description": "Recipients last name",
               "example": "Doe"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/bid_packages": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Bid Package",
    "description": "Create a Bid Package.",
    "tags": [
     "Bid Packages"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "bid_package"
        ],
        "properties": {
         "bid_package": {
          "type": "object",
          "title": "Bid Package",
          "description": "Bid Package Object",
          "required": [
           "bid_due_date",
           "bid_email_message",
           "bid_web_message",
           "title"
          ],
          "properties": {
           "accept_post_due_submissions": {
            "type": "boolean",
            "description": "Accepts bid post due submissions",
            "example": false
           },
           "bid_due_date": {
            "type": "string",
            "format": "date-time",
            "description": "Due date",
            "example": "2016-12-13T03:00:00Z"
           },
           "bid_email_message": {
            "type": "string",
            "description": "Bid package email information details",
            "example": "Procore would like to invite you to bid on new campus"
           },
           "bid_web_message": {
            "type": "string",
            "description": "Bid package bidding instructions",
            "example": "Please reach out to our help desk if you need assistance with bidding."
           },
           "title": {
            "type": "string",
            "description": "Bid package title",
            "example": "Procore Sky Campus"
           },
           "accounting_method": {
            "type": "string",
            "description": "Bid package accounting method, either 'amount' or 'unit'",
            "example": "unit"
           },
           "bid_submission_confirmation": {
            "type": "string",
            "description": "Bid Package submission confirmation text",
            "example": "Your Bid Has Been Successfully Submitted"
           },
           "anticipated_award_date": {
            "type": "string",
            "format": "date",
            "description": "Anticipated award date",
            "example": "2016-12-13"
           },
           "number": {
            "type": "string",
            "description": "Bid package number",
            "example": "46"
           },
           "distribution_ids": {
            "type": "array",
            "description": "Array of User IDs who will be on the bid package's distribution list",
            "items": {
             "type": "integer",
             "example": 1587816
            }
           },
           "blind_bidding": {
            "type": "boolean",
            "description": "Blind bidding enabled",
            "example": false
           },
           "pre_bid_walk_through_date": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled pre-bid walkthrough date",
            "example": "2016-12-13T03:00:00Z"
           },
           "pre_bid_walk_through_notes": {
            "type": "string",
            "description": "Pre-bid walkthrough notes",
            "example": "So Many Potential Change Orders"
           },
           "enable_prebid_walkthrough": {
            "type": "boolean",
            "description": "Pre-bid walkthrough enabled",
            "example": true
           },
           "manager_id": {
            "type": "integer",
            "description": "Login Information ID for Manager",
            "example": 1587816
           },
           "require_nda": {
            "type": "boolean",
            "description": "Require Non-Disclosure Agreement",
            "example": false
           },
           "display_project_name": {
            "type": "boolean",
            "description": "Display project name",
            "example": true
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Array of Procore File IDs for Non-Disclosure Agreement",
            "items": {
             "type": "integer",
             "example": 12344566
            }
           },
           "enable_public_discovery": {
            "type": "boolean",
            "description": "Whether the bid package is discoverable by the public",
            "example": false
           },
           "pre_bid_meeting_location": {
            "type": "string",
            "description": "Location for the pre-bid meeting",
            "example": "123 Main St, Conference Room A, Austin, TX 78701"
           },
           "pre_bid_meeting_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time for the pre-bid meeting in UTC (ISO 8601 format)",
            "example": "2025-10-20T14:00:00Z"
           },
           "pre_bid_meeting_online_link": {
            "type": "string",
            "description": "Online meeting link for the pre-bid meeting",
            "example": "https://zoom.us/j/1234567890"
           },
           "pre_bid_meeting_notes": {
            "type": "string",
            "description": "Notes for the pre-bid meeting",
            "example": "Please bring safety equipment and hard hats"
           },
           "public_project_funding_source": {
            "type": "string",
            "description": "Source of funding for the public project, either 'private' or 'public'",
            "example": "public"
           },
           "show_location_for_nda_projects": {
            "type": "boolean",
            "description": "Whether the location for the NDA project is shown",
            "example": false
           },
           "public_bid_opening_details_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time for the public bid opening in UTC (ISO 8601 format)",
            "example": "2025-10-20T14:00:00Z"
           },
           "public_bid_opening_details_location": {
            "type": "string",
            "description": "Location for the public bid opening",
            "example": "City Hall, Room 301, Austin, TX 78701"
           },
           "public_bid_opening_details_online_link": {
            "type": "string",
            "format": "uri",
            "description": "Online link for the public bid opening",
            "example": "https://zoom.us/j/9876543210"
           },
           "trades_and_services": {
            "type": "array",
            "description": "Array of trades and services",
            "items": {
             "type": "object",
             "properties": {
              "trade_level": {
               "type": "string",
               "description": "The level of the PCN trade classification",
               "example": "Division"
              },
              "trade_path": {
               "type": "string",
               "description": "The hierarchical path of the PCN trade",
               "example": "03 - Concrete"
              },
              "trade_key": {
               "type": "string",
               "description": "The unique key identifier for the PCN trade",
               "example": "03000"
              }
             }
            }
           },
           "business_classifications": {
            "type": "array",
            "description": "Array of business classifications",
            "items": {
             "type": "object",
             "properties": {
              "classification_name": {
               "type": "string",
               "description": "The full name of the business classification",
               "example": "Small Business"
              },
              "classification_abbreviation": {
               "type": "string",
               "description": "The abbreviated form of the business classification",
               "example": "SBE"
              },
              "classification_key": {
               "type": "string",
               "description": "The unique key identifier for the business classification",
               "example": "SBE"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "accept_post_due_submissions": {
           "type": "boolean",
           "description": "Accepts bid post due submissions",
           "example": false
          },
          "accounting_method": {
           "type": "string",
           "description": "Bid package accounting method, either 'amount' or 'unit'",
           "example": "unit"
          },
          "allow_bidder_sum": {
           "type": "boolean",
           "description": "Allow lump sum bidding",
           "example": false
          },
          "project_currency_iso_code": {
           "type": "string",
           "description": "The ISO code of the project's currency (e.g., 'USD', 'EUR')",
           "example": "USD"
          },
          "project_currency_display": {
           "type": "string",
           "description": "The display format of the project's currency (e.g., '$', '\u20ac')",
           "example": "$"
          },
          "anticipated_award_date": {
           "type": "string",
           "format": "date",
           "description": "Anticipated award date",
           "example": "2016-12-13",
           "nullable": true
          },
          "bidding_countdown_email_days": {
           "type": "integer",
           "description": "Days before sending countdown email",
           "example": 2,
           "nullable": true
          },
          "bid_docs_manifest": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "streaming_url": {
             "type": "string",
             "description": "Link to the bid package zip file",
             "example": "https://<server>/download?uuid=<id>"
            }
           }
          },
          "bid_due_date": {
           "type": "string",
           "description": "Due date",
           "format": "date-time",
           "example": "2016-12-13T03:00:00Z"
          },
          "bid_email_message": {
           "type": "string",
           "description": "Information displayed in emails for Bidders",
           "example": "Procore would like to invite you to bid on new campus."
          },
          "bid_emails_include_link_to_bidding_documents": {
           "type": "boolean",
           "description": "Include link to download zipped bidding documents in the Bid Invitation email",
           "example": false
          },
          "bid_submission_confirmation": {
           "type": "string",
           "description": "Bid Package submission confirmation text",
           "example": "Your Bid Has Been Successfully Submitted",
           "nullable": true
          },
          "bid_web_message": {
           "type": "string",
           "description": "Bid Package instructions for Bidder",
           "example": "Please reach out to our help desk if you need assistance with bidding."
          },
          "blind_bidding": {
           "type": "boolean",
           "description": "Enable blind bidding",
           "example": false
          },
          "created_by": {
           "type": "object",
           "properties": {
            "email": {
             "type": "string",
             "description": "Email",
             "example": "john.doe@example.com"
            },
            "first": {
             "type": "string",
             "description": "First name",
             "example": "John"
            },
            "last": {
             "type": "string",
             "description": "First name",
             "example": "Doe"
            },
            "numbers": {
             "type": "string",
             "description": "Phone numbers",
             "example": "512-555-5555"
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Array of the distribution members",
           "items": {
            "type": "object",
            "properties": {
             "email": {
              "type": "string",
              "description": "Contact email",
              "example": "john.doe@example.com"
             },
             "first": {
              "type": "string",
              "description": "Contact first name",
              "example": "John"
             },
             "last": {
              "type": "string",
              "description": "Contact last name",
              "example": "Doe"
             },
             "numbers": {
              "type": "string",
              "description": "Contact numbers",
              "example": "512-555-5555"
             }
            }
           }
          },
          "display_project_name": {
           "type": "boolean",
           "description": "Display Project Name",
           "example": false
          },
          "bid_form_sections_enabled": {
           "type": "boolean",
           "description": "Bid Form Sections Enabled",
           "example": true
          },
          "flexible_response_types_enabled": {
           "type": "boolean",
           "description": "Flexible Response Types Enabled",
           "example": true
          },
          "distribution_member_ids": {
           "type": "array",
           "description": "Array of distribution member ids",
           "items": {
            "type": "integer",
            "description": "Distribution member id",
            "example": 123
           }
          },
          "enable_countdown_emails": {
           "type": "boolean",
           "description": "Enable countdown emails",
           "example": false
          },
          "enable_prebid_rfi_deadline": {
           "type": "boolean",
           "description": "Enable prebid RFI deadline",
           "example": false
          },
          "enable_prebid_walkthrough": {
           "type": "boolean",
           "description": "Enable prebid walkthrough",
           "example": false
          },
          "has_any_bid_invited": {
           "type": "boolean",
           "description": "Has any Bid been Invited",
           "example": true
          },
          "has_bids_sent_nda": {
           "type": "boolean",
           "description": "Have any Bidders been sent NDA",
           "example": true
          },
          "has_no_nda_activity": {
           "type": "boolean",
           "description": "Has no Non-Disclosure Agreement activity",
           "example": false
          },
          "nda_invited_bids_with_activity_count": {
           "type": "integer",
           "description": "Bids count with Non-Disclosure Agreement activity like viewed, declined or downloaded",
           "example": 2
          },
          "attachments_zip_streaming_url": {
           "type": "string",
           "description": "Streaming URL to download all attachments. It's an optional parameter when the require non-disclosure agreement is on.",
           "example": "http://www.example.com/"
          },
          "hidden": {
           "type": "boolean",
           "description": "Whether or not the bid package has been recycled",
           "example": true
          },
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "links": {
           "type": "object",
           "description": "Links that can be used by Frontend",
           "properties": {
            "add_vendor": {
             "type": "string",
             "example": "/159/project/bid_packages/75/vendors"
            },
            "analyticsEventsPath": {
             "type": "string",
             "example": "/rest/v1.0/analytic_events"
            },
            "attach_documents": {
             "type": "string",
             "example": "/159/project/bid_packages/75/attachments"
            },
            "bid_list": {
             "type": "string",
             "example": "/159/project/bid_packages/75/bidders"
            },
            "bid_packages": {
             "type": "string",
             "example": "/rest/v1.0/projects/159/bid_packages"
            },
            "bid_packages_by_project": {
             "type": "string",
             "example": "/159/project/bid_packages/75/search_for_bidders/filter_options/copy_bid_list_from"
            },
            "bulk_create_bids": {
             "type": "string",
             "example": "/159/project/bid_packages/75/bids/bulk_create"
            },
            "cost_codes": {
             "type": "string",
             "example": "/159/project/bid_packages/75/search_for_bidders/filter_options/standard_cost_codes"
            },
            "overview": {
             "type": "string",
             "example": "/159/project/bid_packages/75/overview"
            },
            "permission_templates": {
             "type": "string",
             "example": "/159/project/bid_packages/permission_templates"
            },
            "submit": {
             "type": "string",
             "example": "/159/project/bidding/bid_packages/75/add_to_bid_list"
            },
            "trades": {
             "type": "string",
             "example": "/159/project/bid_packages/75/search_for_bidders/filter_options/trades"
            },
            "vendors": {
             "type": "string",
             "example": "/159/project/bid_packages/75/vendors"
            }
           }
          },
          "lump_sum_bidding": {
           "type": "boolean",
           "description": "Lump Sum Bidding Enabled",
           "example": true
          },
          "manager": {
           "type": "object",
           "properties": {
            "login_information_id": {
             "type": "integer",
             "description": "Login Information ID",
             "example": 67
            },
            "contact_id": {
             "type": "integer",
             "description": "Contact ID",
             "example": 345
            },
            "name": {
             "type": "string",
             "description": "Manager Name",
             "example": "John Doe"
            },
            "email": {
             "type": "string",
             "description": "Manager Email",
             "example": null
            },
            "job_title": {
             "type": "string",
             "description": "Manager Job Title",
             "example": "Estimator"
            },
            "invited": {
             "type": "boolean",
             "description": "User Invited",
             "example": true
            },
            "vendor": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Vendor ID",
               "example": 123
              },
              "name": {
               "type": "string",
               "description": "Vendor name",
               "example": "Vendor Name"
              }
             }
            }
           }
          },
          "nda_attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID",
              "example": "123"
             },
             "item_type": {
              "type": "string",
              "description": "Item Type",
              "example": "BidPackage"
             },
             "item_id": {
              "type": "string",
              "description": "Item ID",
              "example": "123"
             },
             "prostore_file_id": {
              "type": "string",
              "description": "Prostore File ID",
              "example": "123"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "https://procoretech-qa.com/v2/d/default/prostore-thumbnail-bucket/453550640"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "NDA.pdf"
             }
            }
           }
          },
          "number": {
           "type": "integer",
           "description": "Bid Package Number",
           "example": 46,
           "nullable": true
          },
          "open": {
           "type": "boolean",
           "description": "Whether or not the bid package is active",
           "example": true
          },
          "point_of_contact": {
           "type": "object",
           "properties": {
            "email": {
             "type": "string",
             "description": "A person's email",
             "example": "john.doe@example.com"
            },
            "first": {
             "type": "string",
             "description": "A person's name",
             "example": "John"
            },
            "last": {
             "type": "string",
             "description": "A person's last name",
             "example": "Doe"
            },
            "numbers": {
             "type": "string",
             "description": "A person's phone numbers",
             "example": "5432132345"
            }
           }
          },
          "point_of_contact_login_id": {
           "type": "integer",
           "description": "Point of contact ID",
           "example": 123,
           "nullable": true
          },
          "pre_bid_rfi_deadline_date": {
           "type": "string",
           "format": "date-time",
           "description": "Prebid RFI deadline date",
           "example": "2016-12-13T03:00:00Z",
           "nullable": true
          },
          "pre_bid_walk_through_date": {
           "type": "string",
           "description": "Scheduled pre-bid walkthrough date",
           "format": "date-time",
           "example": "2016-12-13T03:00:00Z",
           "nullable": true
          },
          "pre_bid_walk_through_notes": {
           "type": "string",
           "description": "Pre-bid walkthrough notes",
           "example": "So Many Potential Change Orders",
           "nullable": true
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 2342
          },
          "project_image_url": {
           "type": "string",
           "description": "Link to project image",
           "example": "https://procoretech-qa.com/v2/d/default/prostore-thumbnail-bucket/453550640",
           "nullable": true
          },
          "project_logo_name": {
           "type": "string",
           "description": "Name of the project's logo file",
           "example": "procore-logo.png",
           "nullable": true
          },
          "project_logo_url": {
           "type": "string",
           "description": "Link to project logo image",
           "example": "https://procoretech-qa.com/v2/d/default/prostore-thumbnail-bucket/453550640",
           "nullable": true
          },
          "project_latitude": {
           "type": "string",
           "description": "Latitude of project location",
           "example": -119.490849179262,
           "nullable": true
          },
          "project_location": {
           "type": "string",
           "description": "Address of bid package project",
           "example": "123 Campus Way Carpinteria CA 91303"
          },
          "project_longitude": {
           "type": "string",
           "description": "Longtitude of project location",
           "example": 34.385046412363,
           "nullable": true
          },
          "project_name": {
           "type": "string",
           "description": "Name of bid package project",
           "example": "Procore Campus"
          },
          "require_nda": {
           "type": "boolean",
           "description": "Require Non-Disclosure Agreement",
           "example": false
          },
          "sealed": {
           "type": "boolean",
           "description": "Enabled sealed bidding",
           "example": false
          },
          "show_bid_info": {
           "type": "boolean",
           "description": "Show bid info",
           "example": false
          },
          "submitted_bids_count": {
           "type": "integer",
           "description": "Number bids submitted",
           "example": 2
          },
          "title": {
           "type": "string",
           "description": "Title",
           "example": "Procore Sky Campus"
          },
          "enable_public_discovery": {
           "type": "boolean",
           "description": "Whether the bid package is discoverable by the public",
           "example": false,
           "nullable": true
          },
          "primary_slug_with_ids": {
           "type": "string",
           "description": "Primary public slug for the bid package with company ID and bid package ID prefix \n(format: {company_id}_{bid_package_id}_{slug}). Used in public URLs. \nAuto-generated from title when created or when title is updated.\n\n**Uniqueness:** Guaranteed by the {company_id}_{bid_package_id} prefix, even if \nmultiple bid packages have identical titles. The slug portion may change if the \ntitle is updated.",
           "example": "123_456_procore-sky-campus",
           "nullable": true
          },
          "pre_bid_meeting_location": {
           "type": "string",
           "description": "Location for the pre-bid meeting",
           "example": "123 Main St, Conference Room A, Austin, TX 78701",
           "nullable": true
          },
          "pre_bid_meeting_date": {
           "type": "string",
           "format": "date-time",
           "description": "Date and time for the pre-bid meeting in UTC (ISO 8601 format)",
           "example": "2025-10-20T14:00:00Z",
           "nullable": true
          },
          "pre_bid_meeting_online_link": {
           "type": "string",
           "description": "Online meeting link for the pre-bid meeting",
           "example": "https://example.com",
           "nullable": true
          },
          "pre_bid_meeting_notes": {
           "type": "string",
           "description": "Notes for the pre-bid meeting",
           "example": "Please bring safety equipment and hard hats",
           "nullable": true
          },
          "public_project_funding_source": {
           "type": "string",
           "description": "Source of funding for the public project, either 'private' or 'public'",
           "example": "public",
           "nullable": true
          },
          "show_location_for_nda_projects": {
           "type": "boolean",
           "description": "Whether the location for the NDA project is shown",
           "example": false
          },
          "public_bid_opening_details_date": {
           "type": "string",
           "format": "date-time",
           "description": "Date and time for the public bid opening in UTC (ISO 8601 format)",
           "example": "2025-10-20T14:00:00Z",
           "nullable": true
          },
          "public_bid_opening_details_location": {
           "type": "string",
           "description": "Location for the public bid opening",
           "example": "City Hall, Room 301, Austin, TX 78701",
           "nullable": true
          },
          "public_bid_opening_details_online_link": {
           "type": "string",
           "format": "uri",
           "description": "Online link for the public bid opening",
           "example": "https://example.com",
           "nullable": true
          },
          "trades_and_services": {
           "type": "array",
           "description": "Array of trades and services",
           "items": {
            "type": "object",
            "properties": {
             "trade_level": {
              "type": "string",
              "description": "The level of the PCN trade classification",
              "example": "Division",
              "nullable": true
             },
             "trade_path": {
              "type": "string",
              "description": "The hierarchical path of the PCN trade",
              "example": "03 - Concrete",
              "nullable": true
             },
             "trade_key": {
              "type": "string",
              "description": "The unique key identifier for the PCN trade",
              "example": "03000",
              "nullable": true
             }
            }
           }
          },
          "business_classifications": {
           "type": "array",
           "description": "Array of business classifications",
           "items": {
            "type": "object",
            "properties": {
             "classification_name": {
              "type": "string",
              "description": "The full name of the business classification",
              "example": "Asian American Business",
              "nullable": true
             },
             "classification_abbreviation": {
              "type": "string",
              "description": "The abbreviated form of the business classification",
              "example": "ABE",
              "nullable": true
             },
             "classification_key": {
              "type": "string",
              "description": "The unique key identifier for the business classification",
              "example": "ABE",
              "nullable": true
             }
            }
           }
          },
          "lock_unit_fields_base_bid": {
           "type": "boolean",
           "description": "Lock unit fields for all base bid items (global setting for new bid forms)",
           "example": false,
           "default": false
          },
          "lock_quantity_fields_base_bid": {
           "type": "boolean",
           "description": "Lock quantity fields for all base bid items (global setting for new bid forms)",
           "example": false,
           "default": false
          },
          "lock_unit_fields_alternates": {
           "type": "boolean",
           "description": "Lock unit fields for all alternate items (global setting for new bid forms)",
           "example": false,
           "default": false
          },
          "lock_quantity_fields_alternates": {
           "type": "boolean",
           "description": "Lock quantity fields for all alternate items (global setting for new bid forms)",
           "example": false,
           "default": false
          },
          "has_pdm_documents": {
           "type": "boolean",
           "description": "Whether the bid package has any PDM documents",
           "example": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages',\n  headers: {'content-type': 'application/json'},\n  body: {\n    bid_package: {\n      accept_post_due_submissions: false,\n      bid_due_date: '2016-12-13T03:00:00Z',\n      bid_email_message: 'Procore would like to invite you to bid on new campus',\n      bid_web_message: 'Please reach out to our help desk if you need assistance with bidding.',\n      title: 'Procore Sky Campus',\n      accounting_method: 'unit',\n      bid_submission_confirmation: 'Your Bid Has Been Successfully Submitted',\n      anticipated_award_date: '2016-12-13',\n      number: '46',\n      distribution_ids: [1587816],\n      blind_bidding: false,\n      pre_bid_walk_through_date: '2016-12-13T03:00:00Z',\n      pre_bid_walk_through_notes: 'So Many Potential Change Orders',\n      enable_prebid_walkthrough: true,\n      manager_id: 1587816,\n      require_nda: false,\n      display_project_name: true,\n      prostore_file_ids: [12344566],\n      enable_public_discovery: false,\n      pre_bid_meeting_location: '123 Main St, Conference Room A, Austin, TX 78701',\n      pre_bid_meeting_date: '2025-10-20T14:00:00Z',\n      pre_bid_meeting_online_link: 'https://zoom.us/j/1234567890',\n      pre_bid_meeting_notes: 'Please bring safety equipment and hard hats',\n      public_project_funding_source: 'public',\n      show_location_for_nda_projects: false,\n      public_bid_opening_details_date: '2025-10-20T14:00:00Z',\n      public_bid_opening_details_location: 'City Hall, Room 301, Austin, TX 78701',\n      public_bid_opening_details_online_link: 'https://zoom.us/j/9876543210',\n      trades_and_services: [{trade_level: 'Division', trade_path: '03 - Concrete', trade_key: '03000'}],\n      business_classifications: [\n        {\n          classification_name: 'Small Business',\n          classification_abbreviation: 'SBE',\n          classification_key: 'SBE'\n        }\n      ]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"bid_package\\\":{\\\"accept_post_due_submissions\\\":false,\\\"bid_due_date\\\":\\\"2016-12-13T03:00:00Z\\\",\\\"bid_email_message\\\":\\\"Procore would like to invite you to bid on new campus\\\",\\\"bid_web_message\\\":\\\"Please reach out to our help desk if you need assistance with bidding.\\\",\\\"title\\\":\\\"Procore Sky Campus\\\",\\\"accounting_method\\\":\\\"unit\\\",\\\"bid_submission_confirmation\\\":\\\"Your Bid Has Been Successfully Submitted\\\",\\\"anticipated_award_date\\\":\\\"2016-12-13\\\",\\\"number\\\":\\\"46\\\",\\\"distribution_ids\\\":[1587816],\\\"blind_bidding\\\":false,\\\"pre_bid_walk_through_date\\\":\\\"2016-12-13T03:00:00Z\\\",\\\"pre_bid_walk_through_notes\\\":\\\"So Many Potential Change Orders\\\",\\\"enable_prebid_walkthrough\\\":true,\\\"manager_id\\\":1587816,\\\"require_nda\\\":false,\\\"display_project_name\\\":true,\\\"prostore_file_ids\\\":[12344566],\\\"enable_public_discovery\\\":false,\\\"pre_bid_meeting_location\\\":\\\"123 Main St, Conference Room A, Austin, TX 78701\\\",\\\"pre_bid_meeting_date\\\":\\\"2025-10-20T14:00:00Z\\\",\\\"pre_bid_meeting_online_link\\\":\\\"https://zoom.us/j/1234567890\\\",\\\"pre_bid_meeting_notes\\\":\\\"Please bring safety equipment and hard hats\\\",\\\"public_project_funding_source\\\":\\\"public\\\",\\\"show_location_for_nda_projects\\\":false,\\\"public_bid_opening_details_date\\\":\\\"2025-10-20T14:00:00Z\\\",\\\"public_bid_opening_details_location\\\":\\\"City Hall, Room 301, Austin, TX 78701\\\",\\\"public_bid_opening_details_online_link\\\":\\\"https://zoom.us/j/9876543210\\\",\\\"trades_and_services\\\":[{\\\"trade_level\\\":\\\"Division\\\",\\\"trade_path\\\":\\\"03 - Concrete\\\",\\\"trade_key\\\":\\\"03000\\\"}],\\\"business_classifications\\\":[{\\\"classification_name\\\":\\\"Small Business\\\",\\\"classification_abbreviation\\\":\\\"SBE\\\",\\\"classification_key\\\":\\\"SBE\\\"}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/bid_packages\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages \\\n  --header 'content-type: application/json' \\\n  --data '{\"bid_package\":{\"accept_post_due_submissions\":false,\"bid_due_date\":\"2016-12-13T03:00:00Z\",\"bid_email_message\":\"Procore would like to invite you to bid on new campus\",\"bid_web_message\":\"Please reach out to our help desk if you need assistance with bidding.\",\"title\":\"Procore Sky Campus\",\"accounting_method\":\"unit\",\"bid_submission_confirmation\":\"Your Bid Has Been Successfully Submitted\",\"anticipated_award_date\":\"2016-12-13\",\"number\":\"46\",\"distribution_ids\":[1587816],\"blind_bidding\":false,\"pre_bid_walk_through_date\":\"2016-12-13T03:00:00Z\",\"pre_bid_walk_through_notes\":\"So Many Potential Change Orders\",\"enable_prebid_walkthrough\":true,\"manager_id\":1587816,\"require_nda\":false,\"display_project_name\":true,\"prostore_file_ids\":[12344566],\"enable_public_discovery\":false,\"pre_bid_meeting_location\":\"123 Main St, Conference Room A, Austin, TX 78701\",\"pre_bid_meeting_date\":\"2025-10-20T14:00:00Z\",\"pre_bid_meeting_online_link\":\"https://zoom.us/j/1234567890\",\"pre_bid_meeting_notes\":\"Please bring safety equipment and hard hats\",\"public_project_funding_source\":\"public\",\"show_location_for_nda_projects\":false,\"public_bid_opening_details_date\":\"2025-10-20T14:00:00Z\",\"public_bid_opening_details_location\":\"City Hall, Room 301, Austin, TX 78701\",\"public_bid_opening_details_online_link\":\"https://zoom.us/j/9876543210\",\"trades_and_services\":[{\"trade_level\":\"Division\",\"trade_path\":\"03 - Concrete\",\"trade_key\":\"03000\"}],\"business_classifications\":[{\"classification_name\":\"Small Business\",\"classification_abbreviation\":\"SBE\",\"classification_key\":\"SBE\"}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_packages\"),\n    Content = new StringContent(\"{\\\"bid_package\\\":{\\\"accept_post_due_submissions\\\":false,\\\"bid_due_date\\\":\\\"2016-12-13T03:00:00Z\\\",\\\"bid_email_message\\\":\\\"Procore would like to invite you to bid on new campus\\\",\\\"bid_web_message\\\":\\\"Please reach out to our help desk if you need assistance with bidding.\\\",\\\"title\\\":\\\"Procore Sky Campus\\\",\\\"accounting_method\\\":\\\"unit\\\",\\\"bid_submission_confirmation\\\":\\\"Your Bid Has Been Successfully Submitted\\\",\\\"anticipated_award_date\\\":\\\"2016-12-13\\\",\\\"number\\\":\\\"46\\\",\\\"distribution_ids\\\":[1587816],\\\"blind_bidding\\\":false,\\\"pre_bid_walk_through_date\\\":\\\"2016-12-13T03:00:00Z\\\",\\\"pre_bid_walk_through_notes\\\":\\\"So Many Potential Change Orders\\\",\\\"enable_prebid_walkthrough\\\":true,\\\"manager_id\\\":1587816,\\\"require_nda\\\":false,\\\"display_project_name\\\":true,\\\"prostore_file_ids\\\":[12344566],\\\"enable_public_discovery\\\":false,\\\"pre_bid_meeting_location\\\":\\\"123 Main St, Conference Room A, Austin, TX 78701\\\",\\\"pre_bid_meeting_date\\\":\\\"2025-10-20T14:00:00Z\\\",\\\"pre_bid_meeting_online_link\\\":\\\"https://zoom.us/j/1234567890\\\",\\\"pre_bid_meeting_notes\\\":\\\"Please bring safety equipment and hard hats\\\",\\\"public_project_funding_source\\\":\\\"public\\\",\\\"show_location_for_nda_projects\\\":false,\\\"public_bid_opening_details_date\\\":\\\"2025-10-20T14:00:00Z\\\",\\\"public_bid_opening_details_location\\\":\\\"City Hall, Room 301, Austin, TX 78701\\\",\\\"public_bid_opening_details_online_link\\\":\\\"https://zoom.us/j/9876543210\\\",\\\"trades_and_services\\\":[{\\\"trade_level\\\":\\\"Division\\\",\\\"trade_path\\\":\\\"03 - Concrete\\\",\\\"trade_key\\\":\\\"03000\\\"}],\\\"business_classifications\\\":[{\\\"classification_name\\\":\\\"Small Business\\\",\\\"classification_abbreviation\\\":\\\"SBE\\\",\\\"classification_key\\\":\\\"SBE\\\"}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Non-Disclosure Agreement params",
      "description": "Added Non-Disclosure Agreement require_nda, display_project_name and prostore_file_ids params to the bid package create endpoint",
      "endpoint": "POST /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#create-bid-package"
     },
     {
      "summary": "Added 422 for invalid parameters",
      "description": "Added 422 Unprocessable Entity status code for invalid request objects.",
      "endpoint": "POST /projects/{project_id}/bid_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-05-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#create-bid-package"
     },
     {
      "summary": "Enforced non-empty title field",
      "description": "Updated request validation to reject empty or blank values for the `title` field.",
      "endpoint": "POST /projects/{project_id}/bid_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-05-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#create-bid-package"
     },
     {
      "summary": "Validated manager ID existence",
      "description": "Requests must now reference a valid `manager_id` that exists in the system.",
      "endpoint": "POST /projects/{project_id}/bid_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-05-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#create-bid-package"
     },
     {
      "summary": "Added public discovery and PCN classification fields",
      "description": "Added new fields to request body and response:\n- `enable_public_discovery`: Boolean flag for public bid package discoverability\n- `pre_bid_meeting_location`: Location for the pre-bid meeting\n- `pre_bid_meeting_date`: Date and time for the pre-bid meeting\n- `pre_bid_meeting_online_link`: Online meeting link for the pre-bid meeting\n- `pre_bid_meeting_notes`: Notes for the pre-bid meeting\n- `public_project_funding_source`: Source of funding for the public project, either 'private' or 'public'\n- `show_location_for_nda_projects`: Whether to show location for NDA projects\n- `public_bid_opening_details_date`: Date and time for the public bid opening\n- `public_bid_opening_details_location`: Location for the public bid opening\n- `public_bid_opening_details_online_link`: Online link for the public bid opening\n- `trades_and_services`: Array of PCN trade classifications with trade_level, trade_path, and trade_key\n- `business_classifications`: Array of business classifications with classification_name, classification_abbreviation, and classification_key\n\nAdded to response only:\n- `primary_slug_with_ids`: Primary public slug with company ID and bid package ID prefix (format: {company_id}_{bid_package_id}_{slug}, auto-generated from title)",
      "endpoint": "POST /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#create-bid-package"
     },
     {
      "summary": "Added lock fields for unit and quantity",
      "description": "Added 4 new lock fields to bid packages: lock_unit_fields_base_bid, lock_quantity_fields_base_bid,\nlock_unit_fields_alternates, and lock_quantity_fields_alternates. These fields allow solicitors\nto set global lock settings for unit and quantity fields.",
      "endpoint": "POST /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-12-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#create-bid-package"
     },
     {
      "summary": "Separated Pre-Bid Meeting and Public Bid Opening fields into new feature flag",
      "description": "Pre-Bid Meeting and Public Bid Opening fields are now controlled by a separate feature flag (`bidding-show-pre-bid-and-public-opening-fields`), independent from the `show-public-projects` flag.\n\nFields affected:\n- pre_bid_meeting_date\n- pre_bid_meeting_location\n- pre_bid_meeting_online_link\n- pre_bid_meeting_notes\n- public_bid_opening_details_date\n- public_bid_opening_details_location\n- public_bid_opening_details_online_link\n\nThese fields can now be set and returned independently of other Public Projects functionality.\n\nAffected endpoints:\n- POST /projects/{project_id}/bid_packages\n- PATCH /projects/{project_id}/bid_packages/{id}\n- GET /projects/{project_id}/bid_packages/{id}\n- GET /projects/{project_id}/bid_packages\n- POST /projects/{project_id}/bid_packages/{id}/seal",
      "endpoint": "POST /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-01-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#create-bid-package"
     },
     {
      "summary": "Added project logo fields in Response",
      "description": "Added two new fields to support project logo display:\n- `project_logo_name`: The file name of the project logo (e.g., 'logo.png')\n- `project_logo_url`: The URL to access the project logo (e.g., 'http://www.example.com/logo.png'). This will default to the Procore logo if the project does not have a custom logo.",
      "endpoint": "POST /projects/{project_id}/bid_packages",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-02-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-bid-packages?version=1.0#create-bid-package"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/bid_packages/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Bid Package",
    "description": "Return Bid Package detailed information.",
    "tags": [
     "Bid Packages"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "accept_post_due_submissions": {
           "type": "boolean",
           "description": "Accepts bid post due submissions",
           "example": false
          },
          "accounting_method": {
           "type": "string",
           "description": "Bid package accounting method, either 'amount' or 'unit'",
           "example": "unit"
          },
          "allow_bidder_sum": {
           "type": "boolean",
           "description": "Allow lump sum bidding",
           "example": false
          },
          "project_currency_iso_code": {
           "type": "string",
           "description": "The ISO code of the project's currency (e.g., 'USD', 'EUR')",
           "example": "USD"
          },
          "project_currency_display": {
           "type": "string",
           "description": "The display format of the project's currency (e.g., '$', '\u20ac')",
           "example": "$"
          },
          "anticipated_award_date": {
           "type": "string",
           "format": "date",
           "description": "Anticipated award date",
           "example": "2016-12-13",
           "nullable": true
          },
          "bidding_countdown_email_days": {
           "type": "integer",
           "description": "Days before sending countdown email",
           "example": 2,
           "nullable": true
          },
          "bid_docs_manifest": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "streaming_url": {
             "type": "string",
             "description": "Link to the bid package zip file",
             "example": "https://<server>/download?uuid=<id>"
            }
           }
          },
          "bid_due_date": {
           "type": "string",
           "description": "Due date",
           "format": "date-time",
           "example": "2016-12-13T03:00:00Z"
          },
          "bid_email_message": {
           "type": "string",
           "description": "Information displayed in emails for Bidders",
           "example": "Procore would like to invite you to bid on new campus."
          },
          "bid_emails_include_link_to_bidding_documents": {
           "type": "boolean",
           "description": "Include link to download zipped bidding documents in the Bid Invitation email",
           "example": false
          },
          "bid_submission_confirmation": {
           "type": "string",
           "description": "Bid Package submission confirmation text",
           "example": "Your Bid Has Been Successfully Submitted",
           "nullable": true
          },
          "bid_web_message": {
           "type": "string",
           "description": "Bid Package instructions for Bidder",
           "example": "Please reach out to our help desk if you need assistance with bidding."
          },
          "blind_bidding": {
           "type": "boolean",
           "description": "Enable blind bidding",
           "example": false
          },
          "created_by": {
           "type": "object",
           "properties": {
            "email": {
             "type": "string",
             "description": "Email",
             "example": "john.doe@example.com"
            },
            "first": {
             "type": "string",
             "description": "First name",
             "example": "John"
            },
            "last": {
             "type": "string",
             "description": "First name",
             "example": "Doe"
            },
            "numbers": {
             "type": "string",
             "description": "Phone numbers",
             "example": "512-555-5555"
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Array of the distribution members",
           "items": {
            "type": "object",
            "properties": {
             "email": {
              "type": "string",
              "description": "Contact email",
              "example": "john.doe@example.com"
             },
             "first": {
              "type": "string",
              "description": "Contact first name",
              "example": "John"
             },
             "last": {
              "type": "string",
              "description": "Contact last name",
              "example": "Doe"
             },
             "numbers": {
              "type": "string",
              "description": "Contact numbers",
              "example": "512-555-5555"
             }
            }
           }
          },
          "display_project_name": {
           "type": "boolean",
           "description": "Display Project Name",
           "example": false
          },
          "bid_form_sections_enabled": {
           "type": "boolean",
           "description": "Bid Form Sections Enabled",
           "example": true
          },
          "flexible_response_types_enabled": {
           "type": "boolean",
           "description": "Flexible Response Types Enabled",
           "example": true
          },
          "distribution_member_ids": {
           "type": "array",
           "description": "Array of distribution member ids",
           "items": {
            "type": "integer",
            "description": "Distribution member id",
            "example": 123
           }
          },
          "enable_countdown_emails": {
           "type": "boolean",
           "description": "Enable countdown emails",
           "example": false
          },
          "enable_prebid_rfi_deadline": {
           "type": "boolean",
           "description": "Enable prebid RFI deadline",
           "example": false
          },
          "enable_prebid_walkthrough": {
           "type": "boolean",
           "description": "Enable prebid walkthrough",
           "example": false
          },
          "has_any_bid_invited": {
           "type": "boolean",
           "description": "Has any Bid been Invited",
           "example": true
          },
          "has_bids_sent_nda": {
           "type": "boolean",
[...]
