{
 "openapi": "3.0.0",
 "info": {
  "title": "Property Damages",
  "x-product-category": "Project Management",
  "x-tool-category": "Incidents",
  "x-resource-name": "Property Damages",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/incidents/property_damages": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Property Damages",
    "description": "Returns a paginated list of property damage records for the specified project, optionally scoped to a single incident via incident_id. Each property damage includes description, cost impact, responsible company, managed equipment, work activity, and custom fields. By default sorted by descending full_number (incident.number). Supports filtering by responsible company and full-text search.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "incident_id",
      "in": "query",
      "required": false,
      "description": "Optional incident ID to scope results. When provided, returns only property damage records belonging to the specified incident. Omit to retrieve property damages across all incidents in the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[responsible_company_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "affected_company",
        "created_at",
        "managed_equipment",
        "full_number",
        "number",
        "responsible_company",
        "work_activity"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "properties": {
             "type": {
              "type": "string",
              "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
              "example": "property_damage"
             },
             "estimated_cost_impact": {
              "type": "string",
              "description": "Estimated cost impact of the record",
              "example": "20000.00"
             },
             "responsible_company": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field.",
                  "example": "custom field value"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "number",
                  "description": "The value of the custom field.",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field.",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 1
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": 2
                    },
                    "label": {
                     "type": "string",
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           },
           {
            "title": "IncidentRecordBaseCompact",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Incident Record ID",
              "example": 9
             },
             "number": {
              "type": "integer",
              "description": "The number of the Record",
              "example": 4
             },
             "full_number": {
              "type": "string",
              "description": "The Incident Number combined with the Record Number",
              "example": 16.4
             },
             "incident_id": {
              "type": "integer",
              "description": "The id of the Incident to which the record belongs",
              "example": 16
             },
             "recordable": {
              "type": "boolean",
              "description": "Indicates whether the Incident Record is recordable",
              "example": true
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "incident_title": {
              "type": "string",
              "description": "The title of the Incident to which the record belongs",
              "example": "HAZMAT Spill"
             },
             "incident_private": {
              "type": "boolean",
              "description": "Indicates whether the Incident to which the record belongs is private",
              "example": false
             },
             "summary": {
              "type": "string",
              "description": "Summary combining the affliction type, body part affected, and source of harm.",
              "example": "Sprain to Hand by Ground / Floor. Note: This key has been deprecated."
             },
             "description_plain_text": {
              "type": "string",
              "description": "Description of event",
              "example": "Sprain to Hand by Ground"
             },
             "description": {
              "type": "string",
              "example": "<p>Sprain to <b>Hand</b> by Ground</p>",
              "description": "Description of event in Rich Text format"
             },
             "affected_company": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               }
              }
             },
             "created_at": {
              "type": "string",
              "description": "Timestamp of creation",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "deleted_at": {
              "type": "string",
              "description": "Timestamp of deletion",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z",
              "nullable": true
             },
             "managed_equipment": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Equipment ID",
                "example": 15504
               },
               "name": {
                "type": "string",
                "description": "Equipment name",
                "example": "Jackhammer"
               }
              }
             },
             "incident_created_by": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 }
                }
               }
              ]
             },
             "updated_at": {
              "type": "string",
              "description": "Timestamp of last update",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "work_activity": {
              "type": "object",
              "title": "Work Activity",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Work Activity ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Work Activity Name",
                "example": "Earthwork"
               },
               "active": {
                "type": "boolean",
                "description": "Represents whether a Work Activity is available for use.",
                "example": true
               },
               "global": {
                "type": "boolean",
                "description": "Represents whether a Work Activity has been provided by Procore.",
                "example": true
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp of creation",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the work activity was updated",
                "example": "2015-11-12T21:26:28Z"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages',\n  qs: {\n    incident_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[responsible_company_id]': 'SOME_ARRAY_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bresponsible_company_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bresponsible_company_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bresponsible_company_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Restrict Access for readonly users unless granted a view property damages granular permission.",
      "description": "Users with a readonly role will now be restricted from accessing property damages endpoints unless they have been granted a view property damages granular permission.",
      "endpoint": "GET /projects/{project_id}/incidents/property_damages",
      "type": "feature",
      "breaking": true,
      "datestamp": "2025-11-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "property-damages?version=1.0#list-property-damages"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Property Damage",
    "description": "Creates a new property damage record associated with the specified incident. Requires incident_id. Optionally specify description, estimated cost impact, responsible company, affected company, managed equipment, work activity, and custom fields. The operation is idempotent.",
    "tags": [
     "Incidents"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "property_damage"
        ],
        "properties": {
         "property_damage": {
          "title": "IncidentPropertyDamageCreateParameters",
          "type": "object",
          "required": [
           "incident_id"
          ],
          "properties": {
           "incident_id": {
            "type": "integer",
            "description": "The ID of the Incident"
           },
           "description": {
            "type": "string",
            "description": "Description of event in Rich Text format",
            "example": "<p>Sprain to <b>Hand</b> by Ground</p>"
           },
           "estimated_cost_impact": {
            "type": "number",
            "format": "float",
            "description": "Estimated cost impact of the record",
            "example": 20000
           },
           "affected_company_id": {
            "type": "integer",
            "description": "The ID of the Affected Company"
           },
           "responsible_company_id": {
            "type": "integer",
            "description": "The ID of the Responsible Company"
           },
           "managed_equipment_id": {
            "type": "integer",
            "description": "The ID of the Managed Equipment"
           },
           "work_activity_id": {
            "type": "integer",
            "description": "The ID of the Work Activity"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "type": {
             "type": "string",
             "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
             "example": "property_damage"
            },
            "estimated_cost_impact": {
             "type": "string",
             "description": "Estimated cost impact of the record",
             "example": "20000.00"
            },
            "responsible_company": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "title": "IncidentRecordBaseCompact",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Incident Record ID",
             "example": 9
            },
            "number": {
             "type": "integer",
             "description": "The number of the Record",
             "example": 4
            },
            "full_number": {
             "type": "string",
             "description": "The Incident Number combined with the Record Number",
             "example": 16.4
            },
            "incident_id": {
             "type": "integer",
             "description": "The id of the Incident to which the record belongs",
             "example": 16
            },
            "recordable": {
             "type": "boolean",
             "description": "Indicates whether the Incident Record is recordable",
             "example": true
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "incident_title": {
             "type": "string",
             "description": "The title of the Incident to which the record belongs",
             "example": "HAZMAT Spill"
            },
            "incident_private": {
             "type": "boolean",
             "description": "Indicates whether the Incident to which the record belongs is private",
             "example": false
            },
            "summary": {
             "type": "string",
             "description": "Summary combining the affliction type, body part affected, and source of harm.",
             "example": "Sprain to Hand by Ground / Floor. Note: This key has been deprecated."
            },
            "description_plain_text": {
             "type": "string",
             "description": "Description of event",
             "example": "Sprain to Hand by Ground"
            },
            "description": {
             "type": "string",
             "example": "<p>Sprain to <b>Hand</b> by Ground</p>",
             "description": "Description of event in Rich Text format"
            },
            "affected_company": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            "created_at": {
             "type": "string",
             "description": "Timestamp of creation",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "deleted_at": {
             "type": "string",
             "description": "Timestamp of deletion",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z",
             "nullable": true
            },
            "managed_equipment": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Equipment ID",
               "example": 15504
              },
              "name": {
               "type": "string",
               "description": "Equipment name",
               "example": "Jackhammer"
              }
             }
            },
            "incident_created_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "updated_at": {
             "type": "string",
             "description": "Timestamp of last update",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "work_activity": {
             "type": "object",
             "title": "Work Activity",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Work Activity ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Work Activity Name",
               "example": "Earthwork"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Work Activity is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Work Activity has been provided by Procore.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "description": "Timestamp of creation",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the work activity was updated",
               "example": "2015-11-12T21:26:28Z"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    property_damage: {\n      incident_id: 0,\n      description: '<p>Sprain to <b>Hand</b> by Ground</p>',\n      estimated_cost_impact: 20000,\n      affected_company_id: 0,\n      responsible_company_id: 0,\n      managed_equipment_id: 0,\n      work_activity_id: 0,\n      'custom_field_%{custom_field_definition_id}': 'custom field value'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"property_damage\\\":{\\\"incident_id\\\":0,\\\"description\\\":\\\"<p>Sprain to <b>Hand</b> by Ground</p>\\\",\\\"estimated_cost_impact\\\":20000,\\\"affected_company_id\\\":0,\\\"responsible_company_id\\\":0,\\\"managed_equipment_id\\\":0,\\\"work_activity_id\\\":0,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"property_damage\":{\"incident_id\":0,\"description\":\"<p>Sprain to <b>Hand</b> by Ground</p>\",\"estimated_cost_impact\":20000,\"affected_company_id\":0,\"responsible_company_id\":0,\"managed_equipment_id\":0,\"work_activity_id\":0,\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"property_damage\\\":{\\\"incident_id\\\":0,\\\"description\\\":\\\"<p>Sprain to <b>Hand</b> by Ground</p>\\\",\\\"estimated_cost_impact\\\":20000,\\\"affected_company_id\\\":0,\\\"responsible_company_id\\\":0,\\\"managed_equipment_id\\\":0,\\\"work_activity_id\\\":0,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/incidents/property_damages/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "incident_id",
     "in": "query",
     "required": false,
     "description": "Incident ID",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier of the property damage record. Use the `id` from the List or Create Property Damages response.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Property Damage",
    "description": "Returns the specified property damage record with full details including description, cost impact, responsible company, affected company, managed equipment, work activity, and custom fields.",
    "tags": [
     "Incidents"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "type": {
             "type": "string",
             "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
             "example": "property_damage"
            },
            "estimated_cost_impact": {
             "type": "string",
             "description": "Estimated cost impact of the record",
             "example": "20000.00"
            },
            "responsible_company": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "title": "IncidentRecordBaseCompact",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Incident Record ID",
             "example": 9
            },
            "number": {
             "type": "integer",
             "description": "The number of the Record",
             "example": 4
            },
            "full_number": {
             "type": "string",
             "description": "The Incident Number combined with the Record Number",
             "example": 16.4
            },
            "incident_id": {
             "type": "integer",
             "description": "The id of the Incident to which the record belongs",
             "example": 16
            },
            "recordable": {
             "type": "boolean",
             "description": "Indicates whether the Incident Record is recordable",
             "example": true
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "incident_title": {
             "type": "string",
             "description": "The title of the Incident to which the record belongs",
             "example": "HAZMAT Spill"
            },
            "incident_private": {
             "type": "boolean",
             "description": "Indicates whether the Incident to which the record belongs is private",
             "example": false
            },
            "summary": {
             "type": "string",
             "description": "Summary combining the affliction type, body part affected, and source of harm.",
             "example": "Sprain to Hand by Ground / Floor. Note: This key has been deprecated."
            },
            "description_plain_text": {
             "type": "string",
             "description": "Description of event",
             "example": "Sprain to Hand by Ground"
            },
            "description": {
             "type": "string",
             "example": "<p>Sprain to <b>Hand</b> by Ground</p>",
             "description": "Description of event in Rich Text format"
            },
            "affected_company": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            "created_at": {
             "type": "string",
             "description": "Timestamp of creation",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "deleted_at": {
             "type": "string",
             "description": "Timestamp of deletion",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z",
             "nullable": true
            },
            "managed_equipment": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Equipment ID",
               "example": 15504
              },
              "name": {
               "type": "string",
               "description": "Equipment name",
               "example": "Jackhammer"
              }
             }
            },
            "incident_created_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "updated_at": {
             "type": "string",
             "description": "Timestamp of last update",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "work_activity": {
             "type": "object",
             "title": "Work Activity",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Work Activity ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Work Activity Name",
               "example": "Earthwork"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Work Activity is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Work Activity has been provided by Procore.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "description": "Timestamp of creation",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the work activity was updated",
               "example": "2015-11-12T21:26:28Z"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D',\n  qs: {incident_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Restrict Access for readonly users unless granted a view property damages granular permission.",
      "description": "Users with a readonly role will now be restricted from accessing property damages endpoints unless they have been granted a view property damages granular permission.",
      "endpoint": "GET /projects/{project_id}/incidents/property_damages/{id}",
      "type": "feature",
      "breaking": true,
      "datestamp": "2025-11-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "property-damages?version=1.0#show-property-damage"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Property Damage",
    "description": "Updates the specified property damage record's attributes. All fields are optional. To clear a nullable field, explicitly pass null.",
    "tags": [
     "Incidents"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "property_damage"
        ],
        "properties": {
         "property_damage": {
          "title": "IncidentPropertyDamageUpdateParameters",
          "type": "object",
          "properties": {
           "description": {
            "type": "string",
            "description": "Description of event in Rich Text format",
            "example": "<p>Sprain to <b>Hand</b> by Ground</p>"
           },
           "estimated_cost_impact": {
            "type": "number",
            "format": "float",
            "description": "Estimated cost impact of the record",
            "example": 20000
           },
           "affected_company_id": {
            "type": "integer",
            "description": "The ID of the Affected Company"
           },
           "responsible_company_id": {
            "type": "integer",
            "description": "The ID of the Responsible Company"
           },
           "managed_equipment_id": {
            "type": "integer",
            "description": "The ID of the Managed Equipment"
           },
           "work_activity_id": {
            "type": "integer",
            "description": "The ID of the Work Activity"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "type": {
             "type": "string",
             "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
             "example": "property_damage"
            },
            "estimated_cost_impact": {
             "type": "string",
             "description": "Estimated cost impact of the record",
             "example": "20000.00"
            },
            "responsible_company": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "title": "IncidentRecordBaseCompact",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Incident Record ID",
             "example": 9
            },
            "number": {
             "type": "integer",
             "description": "The number of the Record",
             "example": 4
            },
            "full_number": {
             "type": "string",
             "description": "The Incident Number combined with the Record Number",
             "example": 16.4
            },
            "incident_id": {
             "type": "integer",
             "description": "The id of the Incident to which the record belongs",
             "example": 16
            },
            "recordable": {
             "type": "boolean",
             "description": "Indicates whether the Incident Record is recordable",
             "example": true
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "incident_title": {
             "type": "string",
             "description": "The title of the Incident to which the record belongs",
             "example": "HAZMAT Spill"
            },
            "incident_private": {
             "type": "boolean",
             "description": "Indicates whether the Incident to which the record belongs is private",
             "example": false
            },
            "summary": {
             "type": "string",
             "description": "Summary combining the affliction type, body part affected, and source of harm.",
             "example": "Sprain to Hand by Ground / Floor. Note: This key has been deprecated."
            },
            "description_plain_text": {
             "type": "string",
             "description": "Description of event",
             "example": "Sprain to Hand by Ground"
            },
            "description": {
             "type": "string",
             "example": "<p>Sprain to <b>Hand</b> by Ground</p>",
             "description": "Description of event in Rich Text format"
            },
            "affected_company": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            "created_at": {
             "type": "string",
             "description": "Timestamp of creation",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "deleted_at": {
             "type": "string",
             "description": "Timestamp of deletion",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z",
             "nullable": true
            },
            "managed_equipment": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Equipment ID",
               "example": 15504
              },
              "name": {
               "type": "string",
               "description": "Equipment name",
               "example": "Jackhammer"
              }
             }
            },
            "incident_created_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "updated_at": {
             "type": "string",
             "description": "Timestamp of last update",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "work_activity": {
             "type": "object",
             "title": "Work Activity",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Work Activity ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Work Activity Name",
               "example": "Earthwork"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Work Activity is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Work Activity has been provided by Procore.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "description": "Timestamp of creation",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the work activity was updated",
               "example": "2015-11-12T21:26:28Z"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D',\n  qs: {incident_id: 'SOME_INTEGER_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    property_damage: {\n      description: '<p>Sprain to <b>Hand</b> by Ground</p>',\n      estimated_cost_impact: 20000,\n      affected_company_id: 0,\n      responsible_company_id: 0,\n      managed_equipment_id: 0,\n      work_activity_id: 0,\n      'custom_field_%{custom_field_definition_id}': 'custom field value'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"property_damage\\\":{\\\"description\\\":\\\"<p>Sprain to <b>Hand</b> by Ground</p>\\\",\\\"estimated_cost_impact\\\":20000,\\\"affected_company_id\\\":0,\\\"responsible_company_id\\\":0,\\\"managed_equipment_id\\\":0,\\\"work_activity_id\\\":0,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"property_damage\":{\"description\":\"<p>Sprain to <b>Hand</b> by Ground</p>\",\"estimated_cost_impact\":20000,\"affected_company_id\":0,\"responsible_company_id\":0,\"managed_equipment_id\":0,\"work_activity_id\":0,\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"property_damage\\\":{\\\"description\\\":\\\"<p>Sprain to <b>Hand</b> by Ground</p>\\\",\\\"estimated_cost_impact\\\":20000,\\\"affected_company_id\\\":0,\\\"responsible_company_id\\\":0,\\\"managed_equipment_id\\\":0,\\\"work_activity_id\\\":0,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Destroy Property Damage",
    "description": "Soft-deletes the specified property damage record, moving it to the recycle bin where it remains recoverable. The record can be restored via the recycle bin restore endpoint.",
    "tags": [
     "Incidents"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D',\n  qs: {incident_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/property_damages/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/incidents/property_damages": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Property Damages",
    "description": "Returns a paginated list of soft-deleted property damage records in the project's recycle bin, optionally scoped to a single incident via incident_id. Supports the same filtering and sorting options as the main property damages list. Recycled records can be restored via the restore endpoint.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "incident_id",
      "in": "query",
      "required": false,
      "description": "Incident ID. When provided, the list will be scoped to only the Property Damages for a given Incident.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[responsible_company_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "affected_company",
        "created_at",
        "managed_equipment",
        "full_number",
        "number",
        "work_activity"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "properties": {
             "type": {
              "type": "string",
              "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
              "example": "property_damage"
             },
             "estimated_cost_impact": {
              "type": "string",
              "description": "Estimated cost impact of the record",
              "example": "20000.00"
             },
             "responsible_company": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field.",
                  "example": "custom field value"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "number",
                  "description": "The value of the custom field.",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field.",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 1
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": 2
                    },
                    "label": {
                     "type": "string",
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           },
           {
            "title": "IncidentRecordBaseCompact",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Incident Record ID",
              "example": 9
             },
             "number": {
              "type": "integer",
              "description": "The number of the Record",
              "example": 4
             },
             "full_number": {
              "type": "string",
              "description": "The Incident Number combined with the Record Number",
              "example": 16.4
             },
             "incident_id": {
              "type": "integer",
              "description": "The id of the Incident to which the record belongs",
              "example": 16
             },
             "recordable": {
              "type": "boolean",
              "description": "Indicates whether the Incident Record is recordable",
              "example": true
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "incident_title": {
              "type": "string",
              "description": "The title of the Incident to which the record belongs",
              "example": "HAZMAT Spill"
             },
             "incident_private": {
              "type": "boolean",
              "description": "Indicates whether the Incident to which the record belongs is private",
              "example": false
             },
             "summary": {
              "type": "string",
              "description": "Summary combining the affliction type, body part affected, and source of harm.",
              "example": "Sprain to Hand by Ground / Floor. Note: This key has been deprecated."
             },
             "description_plain_text": {
              "type": "string",
              "description": "Description of event",
              "example": "Sprain to Hand by Ground"
             },
             "description": {
              "type": "string",
              "example": "<p>Sprain to <b>Hand</b> by Ground</p>",
              "description": "Description of event in Rich Text format"
             },
             "affected_company": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               }
              }
             },
             "created_at": {
              "type": "string",
              "description": "Timestamp of creation",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "deleted_at": {
              "type": "string",
              "description": "Timestamp of deletion",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z",
              "nullable": true
             },
             "managed_equipment": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Equipment ID",
                "example": 15504
               },
               "name": {
                "type": "string",
                "description": "Equipment name",
                "example": "Jackhammer"
               }
              }
             },
             "incident_created_by": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 }
                }
               }
              ]
             },
             "updated_at": {
              "type": "string",
              "description": "Timestamp of last update",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "work_activity": {
              "type": "object",
              "title": "Work Activity",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Work Activity ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Work Activity Name",
                "example": "Earthwork"
               },
               "active": {
                "type": "boolean",
                "description": "Represents whether a Work Activity is available for use.",
                "example": true
               },
               "global": {
                "type": "boolean",
                "description": "Represents whether a Work Activity has been provided by Procore.",
                "example": true
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp of creation",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the work activity was updated",
                "example": "2015-11-12T21:26:28Z"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
[...]
