{
 "openapi": "3.0.0",
 "info": {
  "title": "Punch Items",
  "x-product-category": "Project Management",
  "x-tool-category": "Punch List",
  "x-resource-name": "Punch Items",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/punch_items": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Punch Items",
    "description": "Return a list of all Punch Items for a specified Project.\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Punch Items"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Return item(s) with the specified Punch Item Status - 'open' or 'closed'.",
      "schema": {
       "type": "string",
       "enum": [
        "open",
        "closed",
        "pending"
       ]
      }
     },
     {
      "name": "filters[priority]",
      "in": "query",
      "description": "Return item(s) with the specified Punch Item Priority -  'low', 'medium', 'high'",
      "schema": {
       "type": "string",
       "enum": [
        "low",
        "medium",
        "high"
       ]
      }
     },
     {
      "name": "filters[punch_item_type_id]",
      "in": "query",
      "description": "Return item(s) with the specified Punch Item Type ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Location ID. Returns item(s) with the specified Location ID or a range of Location IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 45
       }
      }
     },
     {
      "name": "filters[include_sublocations]",
      "in": "query",
      "description": "Use together with `filters[location_id]`\n",
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[approver_login_information_id]",
      "in": "query",
      "description": "User ID. Returns item(s) where the specified User ID is an approver.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[assignee_response]",
      "in": "query",
      "description": "If true, returns item(s) with the specified assignee response approved status.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[trade_id]",
      "in": "query",
      "description": "Trade ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[category_id]",
      "in": "query",
      "description": "Return item(s) assigned to the specified Punch Item Category ID(s). Pass the literal value 'none' to return uncategorized Punch Items (those with no Category assigned); 'none' may be combined with Category IDs to return both in a single request. Retrieve the available Category IDs from the Punch Item Category filter options endpoint.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       },
       "example": [
        "4211",
        "none"
       ]
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Field to sort the returned Punch Items by. Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter, for example sort=name for A-Z or sort=-created_at for newest first. Sorting by category_name orders by the assigned Category name; uncategorized Punch Items sort together as a single group.",
      "schema": {
       "type": "string",
       "enum": [
        "id",
        "position",
        "name",
        "due",
        "created_at",
        "closed_at",
        "description",
        "priority",
        "workflow_status",
        "location_name",
        "punch_item_type_name",
        "reference",
        "status_text",
        "trade_name",
        "category_name",
        "closed_by",
        "created_by",
        "final_approver",
        "punch_item_manager"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified Punch Item ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of punch items",
         "items": {
          "type": "object",
          "title": "Punch Item",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 83978
           },
           "ball_in_court": {
            "type": "array",
            "description": "Array of Users",
            "items": {
             "type": "object",
             "description": "Login Information",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Login Information ID",
               "example": 1738090
              },
              "name": {
               "type": "string",
               "description": "User name",
               "example": "John Doe"
              },
              "locale": {
               "type": "string",
               "description": "User dictionary",
               "example": "ko"
              }
             }
            }
           },
           "closed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date time Punch Item was closed",
            "example": "2012-10-23T21:39:40Z"
           },
           "cost_impact": {
            "type": "string",
            "description": "Cost impact status",
            "enum": [
             "yes_known",
             "yes_unknown",
             "no_impact",
             "tbd",
             "n_a"
            ],
            "example": "yes_known"
           },
           "cost_impact_amount": {
            "type": "string",
            "description": "Cost impact amount",
            "example": "100.0"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2012-10-23T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deleted at",
            "example": "2017-07-29T21:39:40Z"
           },
           "description": {
            "type": "string",
            "description": "Description"
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "description": "Due date",
            "example": "2013-09-30"
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "test 1 today"
           },
           "reference": {
            "type": "string",
            "description": "Used to create a reference point between a Punch Item within Procore and a corresponding Punch Item outside of Procore",
            "example": "3A"
           },
           "schedule_impact": {
            "type": "string",
            "description": "Schedule impact status",
            "enum": [
             "yes_known",
             "yes_unknown",
             "no_impact",
             "tbd",
             "n_a"
            ],
            "example": "yes_known"
           },
           "schedule_impact_days": {
            "type": "integer",
            "description": "Schedule impact value in days",
            "example": 3
           },
           "schedule_risk": {
            "type": "string",
            "description": "Assessed risk level of on-time completion",
            "enum": [
             "ml_low",
             "ml_medium",
             "ml_high"
            ],
            "example": "ml_high"
           },
           "schedule_risk_reason": {
            "type": "string",
            "description": "Reason for assessed risk level of on-time completion"
           },
           "schedule_risk_confidence": {
            "type": "integer",
            "description": "Confidence of schedule risk assessment",
            "example": 90
           },
           "schedule_risk_probability": {
            "type": "integer",
            "description": "Probability of schedule risk assessment",
            "example": 90
           },
           "position": {
            "type": "integer",
            "description": "Position",
            "example": 1
           },
           "priority": {
            "type": "string",
            "description": "Punch item priority - 'low', 'medium', 'high'"
           },
           "private": {
            "type": "boolean",
            "description": "Privacy status",
            "example": false
           },
           "status": {
            "type": "string",
            "description": "Status",
            "enum": [
             "Open",
             "Closed",
             "Overdue",
             "Pending"
            ],
            "example": "Open"
           },
           "has_resolved_responses": {
            "type": "boolean",
            "description": "At least one Punch Item Assignment has a status of 'resolved",
            "example": true
           },
           "has_unresolved_responses": {
            "type": "boolean",
            "description": "At least one Punch Item Assignment has a status of 'unresolved'",
            "example": true
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2012-10-24T21:39:40Z"
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             },
             "code": {
              "type": "string",
              "description": "The unique code for this Location",
              "example": "L1",
              "nullable": true
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "created_by": {
            "type": "object",
            "nullable": true,
            "description": "Login Information",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "locale": {
              "type": "string",
              "description": "User dictionary",
              "example": "ko"
             },
             "company_name": {
              "type": "string",
              "nullable": true,
              "description": "User Company Name",
              "example": "Brickworks"
             }
            }
           },
           "closed_by": {
            "type": "object",
            "nullable": true,
            "description": "Login Information",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "locale": {
              "type": "string",
              "description": "User dictionary",
              "example": "ko"
             },
             "company_name": {
              "type": "string",
              "nullable": true,
              "description": "User Company Name",
              "example": "Brickworks"
             }
            }
           },
           "punch_item_manager": {
            "type": "object",
            "description": "Login Information",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "locale": {
              "type": "string",
              "description": "User dictionary",
              "example": "ko"
             },
             "company_name": {
              "type": "string",
              "nullable": true,
              "description": "User Company Name",
              "example": "Brickworks"
             }
            }
           },
           "final_approver": {
            "type": "object",
            "description": "Login Information",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "locale": {
              "type": "string",
              "description": "User dictionary",
              "example": "ko"
             },
             "company_name": {
              "type": "string",
              "nullable": true,
              "description": "User Company Name",
              "example": "Brickworks"
             }
            }
           },
           "punch_item_type": {
            "type": "object",
            "title": "Punch Item Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 44165
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Extra Work"
             }
            }
           },
           "category": {
            "type": "object",
            "title": "Punch Item Category",
            "nullable": true,
            "description": "Category the Punch Item is classified under. Null when the Punch Item is uncategorized. Assign or change it by sending punch_item[category_id] on create or update, and filter lists with filters[category_id].",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Category ID. Pass as filters[category_id] on List Punch Items or as punch_item[category_id] when creating or updating a Punch Item.",
              "example": 4211
             },
             "name": {
              "type": "string",
              "description": "Display name of the Category.",
              "example": "Electrical"
             },
             "active": {
              "type": "boolean",
              "description": "False when the Category has been deactivated. Deactivated Categories stay on the Punch Items already using them but are no longer offered for new assignments.",
              "example": true
             }
            }
           },
           "cost_code": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Earthwork"
             }
            }
           },
           "assignments": {
            "type": "array",
            "description": "Array of Punch Item Assignments",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 333675
              },
              "approved": {
               "type": "boolean",
               "description": "Resolution status",
               "example": true
              },
              "comment": {
               "type": "string",
               "description": "Additional comment",
               "example": "Completed"
              },
              "login_information_id": {
               "type": "integer",
               "example": 420
              },
              "login_information_name": {
               "type": "string",
               "example": "Edgar Admin"
              },
              "login_information": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              },
              "attachments": {
               "type": "array",
               "description": "Array of Attachments",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 }
                }
               }
              },
              "vendor": {
               "type": "object",
               "title": "Compact",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique integer identifier for this vendor/company.",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "description": "Display name of the vendor or contractor company.",
                 "example": "SID Architecture"
                }
               }
              },
              "notified_at": {
               "type": "string",
               "format": "date-time",
               "example": "2018-06-25T22:22:42Z",
               "description": "Date Assignee was notified of the Punch Item"
              },
              "responded_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date Assignee responded to the Punch Item",
               "example": "2018-06-25T22:22:42Z"
              },
              "status": {
               "type": "string",
               "description": "Status of Assignment",
               "example": "unresolved"
              },
              "manager_accepted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date Punch Item Manager resolved the Punch Item Assignment",
               "example": "2018-10-26T18:15:26Z"
              },
              "user_name": {
               "type": "string",
               "example": "Edgar Admin"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date Assignment was updated",
               "example": "2018-10-26T18:15:26Z"
              }
             }
            }
           },
           "assignees": {
            "type": "array",
            "description": "Punch Item Assignees",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           },
           "workflow_status": {
            "type": "string",
            "description": "Workflow status of the Punch Item",
            "example": "initiated",
            "enum": [
             "draft",
             "initiated",
             "in_dispute",
             "work_required",
             "ready_for_review",
             "work_not_accepted",
             "ready_to_close",
             "not_accepted_by_creator",
             "closed"
            ]
           },
           "custom_status_id": {
            "type": "integer",
            "description": "ID of the Punch Item's custom status, returned on the flattened representation (view=flatten_v0). Resolved, so a Punch Item that has not been assigned a custom status explicitly reports its company's default status for the item's workflow_status. Null when the Punch Item custom statuses feature is not enabled for the company.",
            "example": 42,
            "nullable": true
           },
           "custom_status": {
            "type": "object",
            "title": "Punch Item Custom Status",
            "nullable": true,
            "description": "The Punch Item's custom status. Resolved, so a Punch Item that has not been assigned a custom status explicitly reports its company's default status for the item's workflow_status. Null when the Punch Item custom statuses feature is not enabled for the company.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Punch Item Custom Status ID",
              "example": 42
             },
             "name": {
              "type": "string",
              "description": "Display name. For a company default status this is the translated label of its legacy_workflow_status; for a company-created status it is the name the company gave it.",
              "example": "On Hold"
             },
             "default": {
              "type": "boolean",
              "description": "Whether this is one of the company's default statuses, which mirror the legacy workflow statuses one-for-one and cannot be renamed or deleted.",
              "example": false
             },
             "is_active": {
              "type": "boolean",
              "description": "Whether the custom status is available for assignment",
              "example": true
             },
             "legacy_workflow_status": {
              "type": "string",
              "description": "The legacy workflow_status a default status corresponds to. Null for company-created statuses.",
              "example": "work_required",
              "nullable": true,
              "enum": [
               "draft",
               "initiated",
               "in_dispute",
               "work_required",
               "ready_for_review",
               "work_not_accepted",
               "ready_to_close",
               "not_accepted_by_creator",
               "closed"
              ]
             },
             "global_status": {
              "type": "object",
              "description": "The global status group the custom status rolls up to",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Global status ID",
                "example": 2
               },
               "name": {
                "type": "string",
                "description": "Global status name",
                "example": "OPEN",
                "enum": [
                 "DRAFT",
                 "OPEN",
                 "CLOSED"
                ]
               }
              }
             }
            }
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field",
                "example": "custom field value"
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                "example": "phone_number"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                "example": "with_code"
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/punch_items',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[priority]': 'SOME_STRING_VALUE',\n    'filters[punch_item_type_id]': 'SOME_INTEGER_VALUE',\n    'filters[location_id]': 'SOME_ARRAY_VALUE',\n    'filters[include_sublocations]': 'SOME_BOOLEAN_VALUE',\n    'filters[approver_login_information_id]': 'SOME_INTEGER_VALUE',\n    'filters[vendor_id]': 'SOME_INTEGER_VALUE',\n    'filters[assignee_response]': 'SOME_BOOLEAN_VALUE',\n    'filters[trade_id]': 'SOME_INTEGER_VALUE',\n    'filters[category_id]': '4211,none',\n    sort: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/punch_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bpriority%5D=SOME_STRING_VALUE&filters%5Bpunch_item_type_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bapprover_login_information_id%5D=SOME_INTEGER_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bassignee_response%5D=SOME_BOOLEAN_VALUE&filters%5Btrade_id%5D=SOME_INTEGER_VALUE&filters%5Bcategory_id%5D=4211%2Cnone&sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/punch_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bpriority%5D=SOME_STRING_VALUE&filters%5Bpunch_item_type_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bapprover_login_information_id%5D=SOME_INTEGER_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bassignee_response%5D=SOME_BOOLEAN_VALUE&filters%5Btrade_id%5D=SOME_INTEGER_VALUE&filters%5Bcategory_id%5D=4211%2Cnone&sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/punch_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bpriority%5D=SOME_STRING_VALUE&filters%5Bpunch_item_type_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bapprover_login_information_id%5D=SOME_INTEGER_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bassignee_response%5D=SOME_BOOLEAN_VALUE&filters%5Btrade_id%5D=SOME_INTEGER_VALUE&filters%5Bcategory_id%5D=4211%2Cnone&sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add filters[view] parameter to List Punch Items",
      "description": "Added support for the filters[view] query parameter on the List Punch Items endpoint. When set to 'my_items', the endpoint returns only punch items associated to the current user (as creator, manager, final approver, or assignee), matching the behavior of the My Items view in the web application.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-12",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Remove Punch GPS information",
      "description": "Remove latitude, longitude, altitude, horizontal_accuracy, vertical_accuracy keys from Punch Item List response.",
      "endpoint": "GET /punch_items",
      "type": "new",
      "breaking": true,
      "datestamp": "2022-01-21",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.1#list-punch-items"
     },
     {
      "summary": "Return extended user information for punch_item_manager, closed_by, final_approver, and created_by in List Punch Items response",
      "description": "The punch_item_manager, closed_by, final_approver, and created_by fields in the List Punch Items response now return extended user information including company_name.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-03-03",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Add custom field filtering support to List Punch Items endpoint",
      "description": "The List Punch Items endpoint now supports filtering by custom fields using the filters[custom_field_{id}] parameter.\nSupports scalar values (boolean, decimal, string) and array values (lov_entries, login_informations) with OR logic.\nExample: filters[custom_field_100]=true or filters[custom_field_200][]=10&filters[custom_field_200][]=20",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-04-05",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Add comprehensive sorting support to List Punch Items endpoint",
      "description": "The List Punch Items endpoint now supports sorting by 18 fields using the sort parameter.\nSupported fields: id, position, name, due, created_at, closed_at, description, priority, workflow_status,\nlocation_name, punch_item_type_name, reference, status_text, trade_name, closed_by, created_by, final_approver, punch_item_manager.\nUse sort=field for ascending or sort=-field for descending order.\nExample: sort=name (A-Z) or sort=-created_at (newest first)",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-04-05",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Add additional attributes to List Punch Items response",
      "description": "The List Punch Items response now includes additional attributes for better frontend support:\nschedule_risk, schedule_risk_reason, due_tomorrow, has_attachments, should_display_risk_flag, and flagged_by association.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-04-05",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Add date range filtering for custom fields",
      "description": "Custom field filters now support date range queries for datetime fields.\nPass a range using the '...' separator (e.g. filters[custom_field_123]=2026-01-01...2026-04-05)\nor as an array of two dates (e.g. filters[custom_field_123][]=2026-01-01&filters[custom_field_123][]=2026-04-05).",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-04-07",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Support date range and multi-value filtering on the Punch Items list endpoint",
      "description": "The Punch Items list endpoint now accepts date range filters supplied as a two-element array\n[start, end] for created_at, closed_at, due_date, and date_notified\n(e.g. filters[created_at][]=2026-01-01&filters[created_at][]=2026-01-31). The approver_login_information_id,\nvendor_id, ball_in_court, assignee_status, and assignee_response filters now also accept arrays of values\nin addition to a single value.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-04",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Filter Punch Items by custom status",
      "description": "The List Punch Items endpoint now supports filtering by punch item custom status using the\nfilters[custom_status_id] parameter, which accepts a single id or an array of ids\n(e.g. filters[custom_status_id][]=10&filters[custom_status_id][]=20). Ids come from the\nPunch Item Custom Status Filter Options endpoint. Filtering by a company default status\nreturns items resolved to that status whether or not the item carries the id explicitly.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-06",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Added custom_status to Punch Item responses",
      "description": "Punch Item responses now carry the item's custom status as a custom_status object with id,\nname, default, is_active, legacy_workflow_status, and the global status it rolls up to as\nglobal_status. The flattened list representation (view=flatten_v0) also carries\ncustom_status_id. The value is resolved, so an item\nthat has not been assigned a custom status explicitly reports its company's default status\nfor the item's workflow_status. Both are null for companies without the Punch Item custom\nstatuses feature enabled. The existing status and workflow_status fields are unchanged.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-13",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Add category object to Punch Item responses",
      "description": "Punch Item responses now include a category object with id, name, and active, describing the\nPunch Item Category the item is classified under. The object is null for uncategorized Punch\nItems. It is returned by the List, Show, Create, Update, Create from Import and\nList Deleted (recycle bin) endpoints.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-13",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Add filters[category_id] to the Punch Items list endpoints",
      "description": "The List Punch Items, List Punch Item IDs, List Deleted Punch Items and Ecrion PDF generation\nendpoints now accept filters[category_id], which returns Punch Items assigned to the given\nPunch Item Category ids. Pass the literal value 'none' to return uncategorized Punch Items;\n'none' can be combined with Category ids in a single request.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-13",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     },
     {
      "summary": "Add category_name to the supported Punch Items sort fields",
      "description": "Supersedes the 2026-04-05 sorting entry. The List Punch Items and List Deleted Punch Items\nendpoints now support sorting by 19 fields using the sort parameter.\nSupported fields: id, position, name, due, created_at, closed_at, description, priority,\nworkflow_status, location_name, punch_item_type_name, reference, status_text, trade_name,\ncategory_name, closed_by, created_by, final_approver, punch_item_manager.\nUse sort=field for ascending or sort=-field for descending order.\nExample: sort=category_name (A-Z by Category name) or sort=-category_name.",
      "endpoint": "GET /punch_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-13",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "punch-items?version=1.0#list-punch-items"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Punch Item",
    "description": "Create a new Punch Item in a Project.\n\n#### Uploading images\nTo upload images you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `punch_item[images][]` as files.",
    "tags": [
     "Punch Items"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Punch Item Body",
        "type": "object",
        "required": [
         "project_id",
         "punch_item"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Project ID to which the Punch Item belongs to"
         },
         "punch_item": {
          "type": "object",
          "title": "Punch Item",
          "required": [
           "name"
          ],
          "properties": {
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Here is my updated description"
           },
           "due": {
            "type": "string",
            "format": "date",
            "description": "Due date",
            "example": "2016-01-01"
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "My Updated Item"
           },
           "schedule_risk": {
            "type": "string",
            "description": "Assessed risk level of on-time completion",
            "enum": [
             "ml_low",
             "ml_medium",
             "ml_high"
            ],
            "example": "ml_high"
           },
           "position": {
            "type": "integer",
            "description": "Position"
           },
           "priority": {
            "type": "string",
            "description": "Punch item priority - 'low', 'medium', 'high'"
           },
           "private": {
            "type": "boolean",
            "description": "Privacy status",
            "example": false
           },
           "status": {
            "type": "string",
            "description": "Status - 'open' or 'closed'",
            "enum": [
             "open",
             "closed"
            ],
            "example": "open"
           },
           "date_initiated": {
            "type": "string",
            "format": "date",
            "description": "Date created"
           },
           "schedule_impact": {
            "type": "string",
            "description": "Schedule impact status - yes_known, yes_unknown, no_impact, tbd, n_a",
            "example": "yes_known"
           },
           "schedule_impact_days": {
            "type": "integer",
            "description": "Schedule impact value in days",
            "example": 43
           },
           "reference": {
            "type": "string",
            "description": "Used to create a reference point between a Punch Item within Procore and a corresponding Punch Item outside of Procore",
            "example": "5rt498"
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the cost code associated with the punch item.",
            "example": 9900
           },
           "cost_impact": {
            "type": "string",
            "description": "Cost impact Status - yes_known, yes_unknown, no_impact, tbd, n_a",
            "example": "yes_known"
           },
           "cost_impact_amount": {
            "type": "integer",
            "description": "Cost impact amount",
            "example": 54
           },
           "trade_id": {
            "type": "integer",
            "description": "Trade IDs",
            "example": 1234
           },
           "category_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the Punch Item Category to classify this Punch Item under. Optional; omit it or send null to leave the Punch Item uncategorized. Only accepted while Punch Item Categories are enabled for the Project and the Category field is visible in the Project's Punch Item field set; otherwise it is ignored.",
            "example": 4211
           },
           "custom_status_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the Punch Item Custom Status to assign to this Punch Item. Only accepted while Punch Item Custom Statuses are enabled for the Company, and only for a status that belongs to the Company, is active, is not one of the nine read-only default statuses, and maps to the DRAFT global status. The Punch Item must also have a Workflow that has not been started. Any other value is rejected with 422; the Punch Item's Custom Status is otherwise derived from its workflow_status.",
            "example": 4288
           },
           "punch_item_type_id": {
            "type": "integer",
            "description": "Punch Item Type ID",
            "example": 5436
           },
           "login_information_ids": {
            "type": "array",
            "description": "Array of the User IDs of the Punch Item Assignments",
            "items": {
             "type": "integer"
            },
            "example": [
             2343,
             45343
            ]
           },
           "distribution_member_ids": {
            "type": "array",
            "description": "Array of the User IDs of the Distribution Members",
            "items": {
             "type": "integer"
            },
            "example": [
             4323,
             86298
            ]
           },
           "punch_item_manager_id": {
            "type": "integer",
            "description": "Punch Item Manager ID",
            "example": 42
           },
           "final_approver_id": {
            "type": "integer",
            "description": "Punch Item Final Approver ID",
            "example": 162
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Punch Item. `location_id` takes precedence over `mt_location`",
            "example": 9823
           },
           "mt_location": {
            "type": "array",
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "items": {
             "type": "string"
            },
            "example": [
             "upstairs",
             "meetingroom"
            ]
           },
           "workflow_status": {
            "type": "string",
            "description": "Workflow status of the Punch Item. These are more granular statuses in the punch item workflow.",
            "example": "initiated",
            "enum": [
             "draft",
             "initiated",
             "in_dispute",
             "work_required",
             "ready_for_review",
             "work_not_accepted",
             "ready_to_close",
             "not_accepted_by_creator",
             "closed"
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore file IDs to attach to the punch item",
            "items": {
             "type": "integer"
            },
            "example": [
             7889253049,
             8981591777
            ]
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "title": "Punch Item Body",
        "type": "object",
        "required": [
         "project_id",
         "punch_item"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Project ID to which the Punch Item belongs to"
         },
         "attachments": {
          "type": "array",
          "description": "Punch Item Assignment attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string"
          },
          "example": [
           "<file.png>"
          ]
         },
         "punch_item": {
          "type": "object",
          "title": "Punch Item",
          "required": [
           "name"
          ],
          "properties": {
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Here is my updated description"
           },
           "due": {
            "type": "string",
            "format": "date",
            "description": "Due date",
            "example": "2016-01-01"
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "My Updated Item"
           },
           "schedule_risk": {
            "type": "string",
            "description": "Assessed risk level of on-time completion",
            "enum": [
             "ml_low",
             "ml_medium",
             "ml_high"
            ],
            "example": "ml_high"
           },
           "position": {
            "type": "integer",
            "description": "Position"
           },
           "priority": {
            "type": "string",
            "description": "Punch item priority - 'low', 'medium', 'high'"
           },
           "private": {
            "type": "boolean",
            "description": "Privacy status",
            "example": false
           },
           "status": {
            "type": "string",
            "description": "Status - 'open' or 'closed'",
            "enum": [
             "open",
             "closed"
            ],
            "example": "open"
           },
           "date_initiated": {
            "type": "string",
            "format": "date",
            "description": "Date created"
           },
           "schedule_impact": {
            "type": "string",
            "description": "Schedule impact status - yes_known, yes_unknown, no_impact, tbd, n_a",
            "example": "yes_known"
           },
           "schedule_impact_days": {
            "type": "integer",
            "description": "Schedule impact value in days",
            "example": 43
           },
           "reference": {
            "type": "string",
            "description": "Used to create a reference point between a Punch Item within Procore and a corresponding Punch Item outside of Procore",
            "example": "5rt498"
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the cost code associated with the punch item.",
            "example": 9900
           },
           "cost_impact": {
            "type": "string",
            "description": "Cost impact Status - yes_known, yes_unknown, no_impact, tbd, n_a",
            "example": "yes_known"
           },
           "cost_impact_amount": {
            "type": "integer",
            "description": "Cost impact amount",
            "example": 54
           },
           "trade_id": {
            "type": "integer",
            "description": "Trade IDs",
            "example": 1234
           },
           "category_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the Punch Item Category to classify this Punch Item under. Optional; omit it or send null to leave the Punch Item uncategorized. Only accepted while Punch Item Categories are enabled for the Project and the Category field is visible in the Project's Punch Item field set; otherwise it is ignored.",
            "example": 4211
           },
           "custom_status_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the Punch Item Custom Status to assign to this Punch Item. Only accepted while Punch Item Custom Statuses are enabled for the Company, and only for a status that belongs to the Company, is active, is not one of the nine read-only default statuses, and maps to the DRAFT global status. The Punch Item must also have a Workflow that has not been started. Any other value is rejected with 422; the Punch Item's Custom Status is otherwise derived from its workflow_status.",
            "example": 4288
           },
           "punch_item_type_id": {
            "type": "integer",
            "description": "Punch Item Type ID",
            "example": 5436
           },
           "login_information_ids": {
            "type": "array",
            "description": "Array of the User IDs of the Punch Item Assignments",
            "items": {
             "type": "integer"
            },
            "example": [
             2343,
             45343
            ]
           },
           "distribution_member_ids": {
            "type": "array",
            "description": "Array of the User IDs of the Distribution Members",
            "items": {
             "type": "integer"
            },
            "example": [
             4323,
             86298
            ]
           },
           "punch_item_manager_id": {
            "type": "integer",
            "description": "Punch Item Manager ID",
            "example": 42
           },
           "final_approver_id": {
            "type": "integer",
            "description": "Punch Item Final Approver ID",
            "example": 162
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Punch Item. `location_id` takes precedence over `mt_location`",
            "example": 9823
           },
           "mt_location": {
            "type": "array",
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "items": {
             "type": "string"
            },
            "example": [
             "upstairs",
             "meetingroom"
            ]
           },
           "images": {
            "type": "array",
            "description": "Punch Item Images. *DEPRECATED. Please use attachments instead\nTo upload images you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `punch_item[images][0]` as files. `punch_item[images][0]` and `punch_item[images][1]`\nand so forth if you want to attach multiple images.",
            "items": {
             "type": "string"
            },
            "example": [
             "<image.jpeg>"
            ]
           },
           "workflow_status": {
            "type": "string",
            "description": "Workflow status of the Punch Item. These are more granular statuses in the punch item workflow.",
            "example": "initiated",
            "enum": [
             "draft",
             "initiated",
             "in_dispute",
             "work_required",
             "ready_for_review",
             "work_not_accepted",
             "ready_to_close",
             "not_accepted_by_creator",
             "closed"
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Punch Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 13151
          },
          "ball_in_court": {
           "type": "array",
           "description": "Array of Users",
           "items": {
            "type": "object",
            "description": "Login Information",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe (Brickworks)"
             },
             "locale": {
              "type": "string",
              "description": "User dictionary",
              "example": "ko"
             }
            }
           }
          },
          "comments": {
           "type": "array",
           "description": "Punch Item Comments",
           "items": {
            "type": "object",
            "title": "Comment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Comment ID",
              "example": 1
             },
             "body": {
              "type": "string",
              "description": "The text of the Comment",
              "example": "This is a photo of a cat"
             },
             "creator": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Image Category created at",
              "example": "2013-11-08T00:00:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Comment update timestamp",
              "example": "2013-11-08T00:00:00Z"
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "closed_at": {
           "type": "string",
           "format": "date-time",
           "description": "Closed at",
           "example": "2012-10-24T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2017-07-29T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Light fixture in the bathroom is broken"
          },
          "due_date": {
           "type": "string",
           "format": "date",
           "description": "Due Date",
           "example": "2013-09-30"
          },
          "name": {
           "type": "string",
           "description": "Name",
           "example": "Fix broken light fixture"
          },
          "schedule_risk": {
           "type": "string",
           "description": "Assessed risk level of on-time completion",
           "example": "ml_low"
          },
          "schedule_risk_reason": {
           "type": "string",
           "description": "Reason for assessed risk level of on-time completion"
          },
          "position": {
           "type": "integer",
           "description": "Position",
           "example": 1
          },
          "priority": {
           "type": "string",
           "description": "Punch item priority - 'low', 'medium', 'high'"
          },
          "private": {
           "type": "boolean",
           "description": "Privacy status",
           "example": false
          },
          "status": {
           "type": "string",
           "description": "Status",
           "enum": [
            "Open",
            "Closed",
            "Overdue",
            "Pending"
           ],
           "example": "Open"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "date_initiated": {
           "type": "string",
           "format": "date",
           "description": "Date created",
           "example": "2013-06-11T01:27:52Z"
          },
          "schedule_impact": {
           "type": "string",
           "description": "Schedule impact status",
           "enum": [
            "yes_known",
            "yes_unknown",
            "no_impact",
            "tbd",
            "n_a"
           ],
           "example": "yes_known"
          },
          "schedule_impact_days": {
           "type": "integer",
           "description": "Schedule impact value in days",
           "example": 3
          },
          "reference": {
           "type": "string",
           "description": "Used to create a reference point between a Punch Item within Procore and a corresponding Punch Item outside of Procore",
           "example": "3A"
          },
          "cost_impact": {
           "type": "string",
           "description": "Cost impact status",
           "enum": [
            "yes_known",
            "yes_unknown",
            "no_impact",
            "tbd",
            "n_a"
           ],
           "example": "yes_known"
          },
          "cost_impact_amount": {
           "type": "integer",
           "description": "Cost impact amount",
           "example": 100
          },
          "can_email": {
           "type": "boolean",
           "description": "Punch Item has Punch Item Assignments or distribution members to email to",
           "example": false
          },
          "drawing_ids": {
           "type": "array",
           "description": "Array of Drawing IDs",
           "items": {
            "type": "integer"
           }
          },
          "current_drawing_revision_ids": {
           "type": "array",
           "description": "Array of Current Drawing Revision IDs",
           "items": {
            "type": "integer"
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Users on the Punch Item distribution list",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             },
             "company_name": {
              "type": "string",
              "description": "User Company Name",
              "example": "Brickworks"
             }
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "trade": {
           "type": "object",
           "title": "Trade",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Trade ID",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Trade name",
             "example": "09 - acoustical panels"
            },
            "active": {
             "type": "boolean",
             "description": "Trade availability",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Trade",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "created_by": {
           "title": "Punch Item Creator",
           "type": "object",
           "description": "User that created the Punch Item",
           "properties": {
            "id": {
             "type": "integer",
             "description": "User ID",
             "example": 47531
            },
            "name": {
             "type": "string",
             "description": "User Name",
             "example": "Jane Doe"
            },
            "login": {
             "type": "string",
             "description": "User Email",
             "example": "jane.doe@example.com"
            },
            "company_name": {
             "type": "string",
             "description": "User Company Name",
             "example": "Brickworks"
            }
           }
          },
          "closed_by": {
           "title": "Closed By",
           "type": "object",
           "description": "User that closed the Punch Item",
           "properties": {
            "id": {
             "type": "integer",
             "description": "User ID",
             "example": 47531
            },
            "name": {
             "type": "string",
             "description": "User Name",
             "example": "Jane Doe"
            },
            "login": {
             "type": "string",
             "description": "User Email",
             "example": "jane.doe@example.com"
            },
            "company_name": {
             "type": "string",
             "description": "User Company Name",
             "example": "Brickworks"
            }
           }
          },
          "punch_item_manager": {
           "title": "Punch Item Manager",
           "type": "object",
           "description": "User that manages the Punch Item",
           "properties": {
            "id": {
             "type": "integer",
             "description": "User ID",
             "example": 55491
            },
            "name": {
             "type": "string",
             "description": "User Name",
             "example": "John Doe"
            },
            "login": {
             "type": "string",
             "description": "User Email",
             "example": "john.doe@example.com"
            },
            "company_name": {
             "type": "string",
             "description": "User Company Name",
             "example": "Brickworks"
            }
           }
          },
          "final_approver": {
           "title": "Punch Item Final Approver",
           "type": "object",
           "description": "User in charge of closing the Punch Item",
           "properties": {
            "id": {
             "type": "integer",
             "description": "User ID",
             "example": 32395
            },
            "name": {
             "type": "string",
             "description": "User Name",
             "example": "Carl Contractor"
            },
            "login": {
             "type": "string",
             "description": "User Email",
             "example": "carl.contractor@example.com"
            },
            "company_name": {
             "type": "string",
             "description": "User Company Name",
             "example": "Brickworks"
            }
           }
          },
          "punch_item_type": {
           "type": "object",
           "title": "Punch Item Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 44165
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Extra Work"
            }
           }
          },
          "category": {
           "type": "object",
           "title": "Punch Item Category",
           "nullable": true,
           "description": "Category the Punch Item is classified under. Null when the Punch Item is uncategorized. Assign or change it by sending punch_item[category_id] on create or update, and filter lists with filters[category_id].",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Category ID. Pass as filters[category_id] on List Punch Items or as punch_item[category_id] when creating or updating a Punch Item.",
             "example": 4211
            },
            "name": {
             "type": "string",
             "description": "Display name of the Category.",
             "example": "Electrical"
            },
            "active": {
             "type": "boolean",
             "description": "False when the Category has been deactivated. Deactivated Categories stay on the Punch Items already using them but are no longer offered for new assignments.",
             "example": true
            }
           }
          },
          "cost_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Earthwork"
            }
           }
          },
          "assignments": {
           "type": "array",
           "description": "Array of Punch Item Assignments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 18655
             },
             "approved": {
              "type": "boolean",
              "description": "Resolution status",
              "example": true
             },
             "comment": {
              "type": "string",
              "description": "Additional comments",
              "example": "Replaced the light fixture. See the attached photo."
             },
             "notified_at": {
              "type": "string",
              "format": "date",
              "description": "Date Assignee was notified",
              "example": "2018-06-25T22:22:42Z"
             },
             "ready_for_review_at": {
              "type": "string",
              "format": "date",
              "description": "Date Assignee was notified",
              "example": "2018-06-25T22:22:42Z"
             },
             "work_not_accepted_at": {
              "type": "string",
              "format": "date",
              "description": "Date Assignee was notified",
              "example": "2018-06-25T22:22:42Z"
             },
             "formatted_status": {
              "type": "string",
              "example": "Work Required"
             },
             "updated_at": {
              "type": "string",
              "format": "date",
              "description": "Date Assignee response was updated on the Punch Item",
              "example": "2018-06-25T22:22:42Z"
             },
             "login_information": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               },
               "active": {
                "type": "boolean",
                "description": "Whether user is active or not",
                "example": true
               }
              }
             },
             "attachments": {
              "type": "array",
              "description": "Array of Attachments",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 5324
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                },
                "viewable": {
                 "type": "boolean",
                 "example": true
                },
                "can_be_viewed": {
                 "type": "boolean",
                 "example": true
                }
               }
              }
             }
            }
           }
          },
          "rich_text_description": {
           "type": "string",
           "description": "Rich Text Description",
           "example": "<p>Light fixture in the bathroom is broken</p>"
          },
          "attachments": {
           "type": "array",
           "description": "Array of Punch Item Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             },
             "viewable_document_id": {
              "type": "integer",
              "description": "Viewable Document ID",
              "example": 492
             },
             "attached_to_item_id": {
              "type": "integer",
              "description": "Attached to item ID",
              "nullable": true,
              "example": 323
             },
             "attached_to_item_type": {
              "type": "string",
              "description": "Attached to item type",
              "nullable": true,
              "example": "Image"
             },
             "viewer_url": {
              "type": "string",
              "description": "Unified viewer link",
              "nullable": true,
              "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/document-viewer/51GW47XAV5N64CQ2F8HTWFW0M4?item_type=PunchItem&item_id=1&parent_id=1&fullscreen"
             }
            }
           }
          },
          "images": {
           "type": "array",
           "description": "Array of Images *DEPRECATED. Please use attachments instead",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "web_images": {
           "type": "array",
           "description": "Array of photo Attachments uploaded from the web application",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "workflow_status": {
           "type": "string",
           "description": "Workflow status of the Punch Item",
           "example": "initiated",
           "enum": [
            "draft",
            "initiated",
            "in_dispute",
            "work_required",
            "ready_for_review",
            "work_not_accepted",
            "ready_to_close",
            "not_accepted_by_creator",
            "closed"
           ]
          },
          "custom_status": {
           "type": "object",
           "title": "Punch Item Custom Status",
           "nullable": true,
           "description": "The Punch Item's custom status. Resolved, so a Punch Item that has not been assigned a custom status explicitly reports its company's default status for the item's workflow_status. Null when the Punch Item custom statuses feature is not enabled for the company.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Punch Item Custom Status ID",
             "example": 42
            },
            "name": {
             "type": "string",
             "description": "Display name. For a company default status this is the translated label of its legacy_workflow_status; for a company-created status it is the name the company gave it.",
             "example": "On Hold"
            },
            "default": {
             "type": "boolean",
             "description": "Whether this is one of the company's default statuses, which mirror the legacy workflow statuses one-for-one and cannot be renamed or deleted.",
             "example": false
            },
            "is_active": {
             "type": "boolean",
             "description": "Whether the custom status is available for assignment",
             "example": true
            },
            "legacy_workflow_status": {
             "type": "string",
             "description": "The legacy workflow_status a default status corresponds to. Null for company-created statuses.",
             "example": "work_required",
             "nullable": true,
             "enum": [
              "draft",
              "initiated",
              "in_dispute",
              "work_required",
              "ready_for_review",
              "work_not_accepted",
              "ready_to_close",
              "not_accepted_by_creator",
              "closed"
             ]
            },
            "global_status": {
             "type": "object",
             "description": "The global status group the custom status rolls up to",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Global status ID",
               "example": 2
              },
              "name": {
               "type": "string",
               "description": "Global status name",
               "example": "OPEN",
               "enum": [
                "DRAFT",
                "OPEN",
                "CLOSED"
               ]
              }
             }
            }
           }
          },
          "download_all_attachments_uuid": {
           "type": "string",
           "description": "UUID for downloading all attachments associated with the Punch Item. This UUID can be used to generate a download link for all attachments in a single archive.",
           "example": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8"
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
[...]
