{
 "openapi": "3.1.0",
 "info": {
  "title": "PurchaseOrders",
  "version": "2.0",
  "x-resource-name": "PurchaseOrders",
  "x-product-category": "Resource Management",
  "x-tool-category": "Materials Management",
  "x-product-lines": [
   "material-management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/purchase_orders/{purchase_order_id}/line_items/{id}": {
   "patch": {
    "tags": [
     "PurchaseOrders"
    ],
    "summary": "Updates a single purchase order line item.",
    "description": "This endpoint allows updating properties (such as date and quantity) for a specific purchase order line item.\r\nThe line item must belong to the specified purchase order.\r\nIf the input is invalid or the line item doesn't exist, a 400 Bad Request response is returned.",
    "operationId": "PurchaseOrders_PatchLineItem",
    "parameters": [
     {
      "name": "purchase_order_id",
      "in": "path",
      "description": "The unique identifier of the purchase order containing the line item.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "The unique identifier of the line item to update.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "A Core.Models.PurchaseOrders.PurchaseOrderLineUpdate object containing the properties to update.",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "line_item_guid": {
          "type": "string",
          "format": "uuid"
         },
         "quantity": {
          "type": "number",
          "format": "double",
          "nullable": true
         },
         "contract_delivery_at": {
          "type": "string",
          "format": "date-time",
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Normal",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "item": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              },
              "description": {
               "type": "string",
               "nullable": true
              },
              "uom": {
               "type": "string",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "external_data": {
             "type": "object",
             "properties": {
              "origin_id": {
               "type": "string",
               "nullable": true
              },
              "origin_data": {
               "type": "string",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "purchase_order": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "status": {
             "type": "string",
             "nullable": true
            },
            "vendor": {
             "type": "string",
             "nullable": true
            },
            "estimated_delivery_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "unit_of_measure": {
             "type": "string",
             "nullable": true
            },
            "line_number": {
             "type": "string",
             "nullable": true
            },
            "quantity_ordered": {
             "type": "number",
             "format": "double",
             "nullable": true
            },
            "quantity_shipped": {
             "type": "number",
             "format": "double",
             "nullable": true
            },
            "quantity_received": {
             "type": "number",
             "format": "double",
             "nullable": true
            },
            "quantity_outstanding": {
             "type": "number",
             "format": "double",
             "nullable": true
            },
            "contract_delivery_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "labels": {
             "type": "array",
             "items": {
              "type": "string"
             },
             "nullable": true
            },
            "properties": {
             "type": "object",
             "additionalProperties": {
              "type": "string"
             },
             "nullable": true
            },
            "order_type": {
             "type": "string",
             "nullable": true
            },
            "shipment": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "format": "uuid"
               },
               "name": {
                "type": "string",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            },
            "receipt": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "format": "uuid"
               },
               "name": {
                "type": "string",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bpurchase_order_id%7D/line_items/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    line_item_guid: '7db65567-bdab-4982-88b1-8e9116e18e4c',\n    quantity: 0.1,\n    contract_delivery_at: '2019-08-24T14:15:22Z'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"line_item_guid\\\":\\\"7db65567-bdab-4982-88b1-8e9116e18e4c\\\",\\\"quantity\\\":0.1,\\\"contract_delivery_at\\\":\\\"2019-08-24T14:15:22Z\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bpurchase_order_id%7D/line_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bpurchase_order_id%7D/line_items/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"line_item_guid\":\"7db65567-bdab-4982-88b1-8e9116e18e4c\",\"quantity\":0.1,\"contract_delivery_at\":\"2019-08-24T14:15:22Z\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bpurchase_order_id%7D/line_items/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"line_item_guid\\\":\\\"7db65567-bdab-4982-88b1-8e9116e18e4c\\\",\\\"quantity\\\":0.1,\\\"contract_delivery_at\\\":\\\"2019-08-24T14:15:22Z\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/purchase_orders/line_items/bulk_update": {
   "patch": {
    "tags": [
     "PurchaseOrders"
    ],
    "summary": "Updates properties on multiple purchase order line items.",
    "description": "Updates properties across multiple purchase order line items in a single request.\r\nEach update in the array must include the line item GUID and the fields to update.",
    "operationId": "PurchaseOrders_PatchLineInBulk",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The purchase order line updates",
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "line_item_guid": {
           "type": "string",
           "format": "uuid"
          },
          "quantity": {
           "type": "number",
           "format": "double",
           "nullable": true
          },
          "contract_delivery_at": {
           "type": "string",
           "format": "date-time",
           "nullable": true
          }
         },
         "additionalProperties": false
        }
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/line_items/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: [\n    {\n      line_item_guid: '7db65567-bdab-4982-88b1-8e9116e18e4c',\n      quantity: 0.1,\n      contract_delivery_at: '2019-08-24T14:15:22Z'\n    }\n  ],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"[{\\\"line_item_guid\\\":\\\"7db65567-bdab-4982-88b1-8e9116e18e4c\\\",\\\"quantity\\\":0.1,\\\"contract_delivery_at\\\":\\\"2019-08-24T14:15:22Z\\\"}]\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/line_items/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/line_items/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '[{\"line_item_guid\":\"7db65567-bdab-4982-88b1-8e9116e18e4c\",\"quantity\":0.1,\"contract_delivery_at\":\"2019-08-24T14:15:22Z\"}]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/line_items/bulk_update\"),\n    Content = new StringContent(\"[{\\\"line_item_guid\\\":\\\"7db65567-bdab-4982-88b1-8e9116e18e4c\\\",\\\"quantity\\\":0.1,\\\"contract_delivery_at\\\":\\\"2019-08-24T14:15:22Z\\\"}]\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/purchase_orders/{id}": {
   "patch": {
    "tags": [
     "PurchaseOrders"
    ],
    "summary": "Update a purchase order",
    "description": "Updates header fields on a purchase order document such as title, delivery date, notes, and status.\r\nUse status transitions to move the purchase order through its workflow states.",
    "operationId": "PurchaseOrders_PatchPO",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Purchase order ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Purchase order update request",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "properties_to_add": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to add to the document header.",
          "nullable": true
         },
         "properties_to_update": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to update in the document header.",
          "nullable": true
         },
         "properties_to_delete": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to delete from the document header.",
          "nullable": true
         },
         "name": {
          "type": "string",
          "description": "Name of the document header.",
          "nullable": true
         },
         "description": {
          "type": "string",
          "description": "Description of the document header.",
          "nullable": true
         },
         "notes": {
          "type": "string",
          "description": "Notes associated with the document header.",
          "nullable": true
         },
         "vendor": {
          "type": "string",
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "No Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Normal",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "description": {
             "type": "string",
             "nullable": true
            },
            "total_line_count": {
             "type": "integer",
             "format": "int32"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "status": {
             "enum": [
              "ORDERED",
              "PARTIALLY_SHIPPED",
              "FULLY_SHIPPED",
              "PARTIALLY_RECEIVED",
              "FULLY_RECEIVED",
              "DELAYED",
              "DEFECTS",
              "OVER_RECEIVED",
              "VOID"
             ],
             "type": "string"
            },
            "vendor": {
             "type": "string",
             "nullable": true
            },
            "state": {
             "enum": [
              "DRAFT",
              "FINAL",
              "CLOSED",
              "READY_FOR_REVIEW"
             ],
             "type": "string"
            },
            "properties": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "key": {
                "type": "string",
                "nullable": true
               },
               "value": {
                "type": "string",
                "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                "nullable": true
               },
               "property_type": {
                "enum": [
                 "BOOLEAN",
                 "DATE",
                 "NUMBER",
                 "LOCATION",
                 "TEXT",
                 "HIDDEN",
                 "PERSON"
                ],
                "type": "string"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            },
            "original_contract_delivery_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "forecasted_delivery_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "order_type": {
             "type": "string",
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    properties_to_add: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_update: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_delete: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    name: 'string',\n    description: 'string',\n    notes: 'string',\n    vendor: 'string'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"vendor\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"properties_to_add\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_update\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_delete\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"name\":\"string\",\"description\":\"string\",\"notes\":\"string\",\"vendor\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"vendor\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "PurchaseOrders"
    ],
    "summary": "Deletes a purchase order and optionally its resources.",
    "description": "This endpoint performs a soft delete of a purchase order. The deletion follows these rules:\r\n1. If deleteResources is false: Only deletes the document if there are no connected documents\r\n2. If deleteResources is true: Deletes both document and resources if there are no connected documents or resources\r\n3. The deletion is performed as a soft delete (sets deleted = true)",
    "operationId": "PurchaseOrders_DeletePurchaseOrder",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The GUID of the purchase order to delete",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "delete_resources",
      "in": "query",
      "description": "Whether to also delete the resources within the document",
      "schema": {
       "type": "boolean",
       "default": false
      },
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D',\n  qs: {delete_resources: 'SOME_BOOLEAN_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D?delete_resources=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D?delete_resources=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D?delete_resources=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "get": {
    "tags": [
     "PurchaseOrders"
    ],
    "summary": "Get purchase order header details",
    "description": "Returns the header information for a purchase order including status, dates, title, notes, and properties.\r\nSupports Normal (default) and Extended view types.",
    "operationId": "PurchaseOrders_GetPurchaseOrderHeaderDetails",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Purchase order ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Response view type",
      "schema": {
       "enum": [
        "Normal",
        "Extended"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "oneOf": [
            {
             "title": "Normal",
             "allOf": [
              {
               "title": "Normal",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "description": {
                 "type": "string",
                 "nullable": true
                },
                "total_line_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time"
                },
                "status": {
                 "enum": [
                  "ORDERED",
                  "PARTIALLY_SHIPPED",
                  "FULLY_SHIPPED",
                  "PARTIALLY_RECEIVED",
                  "FULLY_RECEIVED",
                  "DELAYED",
                  "DEFECTS",
                  "OVER_RECEIVED",
                  "VOID"
                 ],
                 "type": "string"
                },
                "vendor": {
                 "type": "string",
                 "nullable": true
                },
                "state": {
                 "enum": [
                  "DRAFT",
                  "FINAL",
                  "CLOSED",
                  "READY_FOR_REVIEW"
                 ],
                 "type": "string"
                },
                "properties": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "key": {
                    "type": "string",
                    "nullable": true
                   },
                   "value": {
                    "type": "string",
                    "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                    "nullable": true
                   },
                   "property_type": {
                    "enum": [
                     "BOOLEAN",
                     "DATE",
                     "NUMBER",
                     "LOCATION",
                     "TEXT",
                     "HIDDEN",
                     "PERSON"
                    ],
                    "type": "string"
                   }
                  },
                  "additionalProperties": false
                 },
                 "nullable": true
                },
                "original_contract_delivery_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "forecasted_delivery_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "order_type": {
                 "type": "string",
                 "nullable": true
                }
               },
               "additionalProperties": false
              }
             ]
            },
            {
             "title": "Extended",
             "allOf": [
              {
               "title": "Extended",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "description": {
                 "type": "string",
                 "nullable": true
                },
                "total_line_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time"
                },
                "status": {
                 "enum": [
                  "ORDERED",
                  "PARTIALLY_SHIPPED",
                  "FULLY_SHIPPED",
                  "PARTIALLY_RECEIVED",
                  "FULLY_RECEIVED",
                  "DELAYED",
                  "DEFECTS",
                  "OVER_RECEIVED",
                  "VOID"
                 ],
                 "type": "string"
                },
                "vendor": {
                 "type": "string",
                 "nullable": true
                },
                "state": {
                 "enum": [
                  "DRAFT",
                  "FINAL",
                  "CLOSED",
                  "READY_FOR_REVIEW"
                 ],
                 "type": "string"
                },
                "properties": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "key": {
                    "type": "string",
                    "nullable": true
                   },
                   "value": {
                    "type": "string",
                    "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                    "nullable": true
                   },
                   "property_type": {
                    "enum": [
                     "BOOLEAN",
                     "DATE",
                     "NUMBER",
                     "LOCATION",
                     "TEXT",
                     "HIDDEN",
                     "PERSON"
                    ],
                    "type": "string"
                   }
                  },
                  "additionalProperties": false
                 },
                 "nullable": true
                },
                "original_contract_delivery_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "forecasted_delivery_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "order_type": {
                 "type": "string",
                 "nullable": true
                },
                "connected_document_count": {
                 "type": "integer",
                 "format": "int32",
                 "nullable": true
                },
                "attachment_count": {
                 "type": "integer",
                 "format": "int32",
                 "nullable": true
                }
               },
               "additionalProperties": false
              }
             ]
            }
           ],
           "additionalProperties": false,
           "discriminator": {
            "propertyName": "type"
           }
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D?view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D?view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/purchase_orders/%7Bid%7D?view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/purchase_orders/sync": {
   "patch": {
    "tags": [
     "PurchaseOrders"
    ],
    "summary": "Sync Purchase Order headers",
    "description": "Creates or updates Purchase Order headers identified using either ids or origin_ids.\r\nThe maximum number of entities per request is 1000. Exceeding this limit will result in a 413 response.\r\nSee https://developers.procore.com/documentation/using-sync-actions for more information.",
    "operationId": "PurchaseOrders_SyncPurchaseOrderHeaders",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Purchase order headers",
     "content": {
      "application/json": {
       "schema": {
        "maxItems": 1000,
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string",
           "description": "The Procore id of the resource. This should only be set when updating existing resources.",
           "format": "uuid",
           "nullable": true
          },
          "origin_id": {
           "type": "string",
           "description": "The origin id of the resource. If an entry is missing both id and origin_id, then that entry will always be interpreted as an insert.",
           "nullable": true
          },
          "origin_data": {
           "type": "string",
           "description": "The origin data for the resource. Procore does not interpret this value.",
           "nullable": true
          },
          "name": {
           "type": "string",
           "description": "The name of this document header.",
           "nullable": true
          },
          "description": {
           "type": "string",
           "description": "The description of this document header.",
           "nullable": true
          },
          "notes": {
           "type": "string",
           "description": "Additional Notes about this document header.",
           "nullable": true
          },
          "order_type": {
           "enum": [
            "ERP",
            "FIELD_AD_HOC",
            "REQUEST"
           ],
           "type": "string",
           "description": "Type of the purchase order",
           "nullable": true
          },
          "vendor": {
           "type": "string",
           "description": "Vendor associated with the purchase order",
           "nullable": true
          },
          "original_contract_delivery_at": {
           "type": "string",
           "description": "Original contract delivery date for the purchase order",
           "format": "date-time",
           "nullable": true
          }
         },
         "additionalProperties": false
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "entities": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "nullable": true
               },
               "origin_data": {
                "type": "string",
                "nullable": true
               },
               "errors": {
                "type": "object",
                "additionalProperties": {
                 "type": "array",
                 "items": {
                  "type": "string"
                 }
                },
                "nullable": true
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "description": {
                "type": "string",
                "nullable": true
               },
               "notes": {
                "type": "string",
                "nullable": true
               },
               "order_type": {
                "type": "string",
                "nullable": true
               },
               "vendor": {
                "type": "string",
                "nullable": true
               },
               "original_contract_delivery_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "description": "The entities",
             "nullable": true
            },
            "errors": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "nullable": true
               },
               "origin_data": {
                "type": "string",
                "nullable": true
               },
               "errors": {
                "type": "object",
                "additionalProperties": {
                 "type": "array",
                 "items": {
                  "type": "string"
                 }
                },
                "nullable": true
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "description": {
                "type": "string",
                "nullable": true
               },
               "notes": {
                "type": "string",
                "nullable": true
               },
               "order_type": {
                "type": "string",
                "nullable": true
               },
               "vendor": {
                "type": "string",
                "nullable": true
               },
               "original_contract_delivery_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "description": "The errors",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Record representing a sync action response, including the entities and errors."
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
[...]
