{
 "openapi": "3.0.0",
 "info": {
  "title": "Purchase Order Contract Line Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Purchase Order Contract Line Items",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/purchase_order_contracts/{purchase_order_contract_id}/line_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "purchase_order_contract_id",
     "in": "path",
     "description": "Purchase Order Contract ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Purchase Order Contract Line Items",
    "description": "Return a list of all Purchase Order Contract Line Items.\n\nChange Event Line Item information is only returned if a line item is associated to a change event line item and user can view change events.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.\n\nNote: A v2.0 version of this endpoint is available and recommended for new integrations. Use the Commitment Contract Line Items endpoint GET /rest/v2.0/companies/{company_id}/projects/{project_id}/commitment_contracts/{commitment_contract_id}/line_items.",
    "tags": [
     "Commitments"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[cost_code_id]",
      "in": "query",
      "description": "Cost Code ID. Returns item(s) with the specified Cost Code ID or within the specified range of Cost Code IDs.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[line_item_type_id]",
      "in": "query",
      "description": "Line Item Type ID. Returns item(s) with the specified Line Item Type ID or range of Line Item Type IDs.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response. 'default' view\nwill be rendered by default if the parameter is not provided.\nFor the 'ssov_source_lines' view lower permissions are acceptable. It's enough to be added to invoice\ncontacts and contract accessors even if SOV line items are hidden from non-admins.\n",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "ssov_source_lines"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of line items",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "title": "default",
            "description": "Line Item (when the 'default' view is requested)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Line Item id",
              "example": 4896147
             },
             "amount": {
              "type": "string",
              "description": "Line Item amount",
              "example": "1000.0"
             },
             "company": {
              "type": "object",
              "description": "Company",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 163215
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Procore Tech"
               }
              }
             },
             "cost_code": {
              "type": "object",
              "title": "extended",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for this Cost Code record.",
                "example": 12345
               },
               "biller": {
                "type": "string",
                "description": "Display name of the entity (project or sub job) that owns this cost code.",
                "example": "Campus"
               },
               "biller_id": {
                "type": "integer",
                "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                "example": 12345
               },
               "biller_type": {
                "type": "string",
                "enum": [
                 "Project",
                 "SubJob"
                ],
                "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                "example": "Project"
               },
               "biller_origin_id": {
                "type": "string",
                "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                "example": "98765",
                "nullable": true
               },
               "budgeted": {
                "type": "boolean",
                "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                "example": false
               },
               "code": {
                "type": "string",
                "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                "example": "300"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                "example": "2015-05-15T00:00:00Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                "example": "2017-07-29T21:39:40Z"
               },
               "full_code": {
                "type": "string",
                "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                "example": "02-300"
               },
               "name": {
                "type": "string",
                "description": "Display name of the cost code.",
                "example": "Earthwork"
               },
               "origin_data": {
                "type": "string",
                "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                "example": "OD-129947"
               },
               "origin_id": {
                "type": "string",
                "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                "example": "9874484"
               },
               "parent": {
                "type": "object",
                "description": "The immediate parent cost code of this record, if any.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                  "example": 2345
                 }
                }
               },
               "position": {
                "type": "integer",
                "description": "Sort order of this cost code within its parent.",
                "example": 1
               },
               "sortable_code": {
                "type": "string",
                "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                "example": "02-300"
               },
               "standard_cost_code_id": {
                "type": "integer",
                "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                "example": 122334
               },
               "standard_cost_code_list_id": {
                "type": "integer",
                "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                "example": 133445,
                "nullable": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                "example": "2015-05-15T00:00:00Z"
               },
               "line_item_types": {
                "type": "array",
                "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                "items": {
                 "type": "object",
                 "title": "LineItemType",
                 "description": "A line item type assigned to this cost code.",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique identifier for the Line Item Type.",
                   "example": 12345
                  },
                  "name": {
                   "type": "string",
                   "description": "Display name of the Line Item Type.",
                   "example": "Equipment"
                  },
                  "code": {
                   "type": "string",
                   "description": "Short code used for CSV import of this Line Item Type.",
                   "example": "LB"
                  },
                  "base_type": {
                   "type": "string",
                   "enum": [
                    "equipment",
                    "materials",
                    "commitment",
                    "owner_cost",
                    "professional_services",
                    "labor",
                    "other"
                   ],
                   "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                   "example": "materials"
                  },
                  "origin_id": {
                   "type": "string",
                   "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                   "example": "ABC123",
                   "nullable": true
                  }
                 }
                }
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at date and time",
              "example": "2016-08-01T23:33:54Z"
             },
             "description": {
              "type": "string",
              "description": "Line Item description",
              "example": "Cleanup"
             },
             "extended_type": {
              "type": "string",
              "description": "Line Item extended type",
              "enum": [
               "manual",
               "calculated"
              ],
              "example": "calculated"
             },
             "holder": {
              "type": "object",
              "description": "Holder",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 233245
               },
               "holder_type": {
                "type": "string",
                "description": "Holder type",
                "example": "WorkOrderContract"
               }
              }
             },
             "line_item_type": {
              "type": "object",
              "title": "LineItemType",
              "description": "Line Item Type",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the Line Item Type",
                "example": 12345
               },
               "name": {
                "type": "string",
                "description": "Name for the Line Item Type",
                "example": "Equipment"
               },
               "code": {
                "type": "string",
                "description": "Code for the Line Item Type",
                "example": "LB"
               },
               "base_type": {
                "type": "string",
                "enum": [
                 "equipment",
                 "materials",
                 "commitment",
                 "owner_cost",
                 "professional_services",
                 "other"
                ],
                "description": "Base type",
                "example": "materials"
               },
               "origin_data": {
                "type": "string",
                "description": "Origin data",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "Origin ID",
                "example": "ABC123",
                "nullable": true
               }
              }
             },
             "origin_data": {
              "type": "string",
              "description": "Line Item third party data",
              "example": "OD-39823232",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "description": "Line Item third party id",
              "example": 239233,
              "nullable": true
             },
             "position": {
              "type": "integer",
              "description": "Line Item position",
              "example": 1
             },
             "project": {
              "type": "object",
              "description": "Project",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 123456
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Children's Hospital"
               }
              }
             },
             "quantity": {
              "type": "string",
              "format": "float",
              "description": "Line Item quantity",
              "example": "10.0"
             },
             "tax_code_id": {
              "type": "integer",
              "description": "Tax Code ID",
              "example": 1
             },
             "total_amount": {
              "type": "string",
              "format": "float",
              "description": "Line Item total amount",
              "example": "1000.0"
             },
             "extended_amount": {
              "type": "string",
              "format": "float",
              "description": "Line Item extended amount",
              "example": "900.0"
             },
             "unit_cost": {
              "type": "string",
              "format": "float",
              "description": "Line Item unit cost",
              "example": "100.0"
             },
             "uom": {
              "type": "string",
              "description": "Line Item units of measure",
              "example": "Lbs"
             },
             "wbs_code": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Wbs Code ID",
                "example": 999
               },
               "flat_code": {
                "type": "string",
                "description": "Wbs Code",
                "example": "01-011.CT1"
               },
               "description": {
                "type": "string",
                "description": "Wbs Code Description",
                "example": "Project Engineer.Cost Type 1"
               }
              }
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated at date and time",
              "example": "2016-09-01T21:33:54Z"
             },
             "change_event_line_item": {
              "type": "object",
              "description": "Change Event Line Item",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Change Event Line Item ID",
                "example": 5
               },
               "cost_rom": {
                "type": "string",
                "format": "float",
                "description": "Change Event Line Item Cost ROM",
                "example": "100.0"
               },
               "revenue_rom": {
                "type": "string",
                "format": "float",
                "description": "Change Event Line Item Revenue ROM",
                "example": "200.0"
               },
               "event_id": {
                "type": "integer",
                "description": "Change Event ID",
                "example": 6
               },
               "cost_code": {
                "oneOf": [
                 {
                  "title": "compact",
                  "type": "object",
                  "properties": {
                   "id": {
                    "description": "ID",
                    "example": 12345,
                    "nullable": true,
                    "type": "integer"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full Cost code, including parent prefixes",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Earthwork"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "title": "extended",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique identifier for this Cost Code record.",
                    "example": 12345
                   },
                   "biller": {
                    "type": "string",
                    "description": "Display name of the entity (project or sub job) that owns this cost code.",
                    "example": "Campus"
                   },
                   "biller_id": {
                    "type": "integer",
                    "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                    "example": 12345
                   },
                   "biller_type": {
                    "type": "string",
                    "enum": [
                     "Project",
                     "SubJob"
                    ],
                    "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                    "example": "Project"
                   },
                   "biller_origin_id": {
                    "type": "string",
                    "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                    "example": "98765",
                    "nullable": true
                   },
                   "budgeted": {
                    "type": "boolean",
                    "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                    "example": false
                   },
                   "code": {
                    "type": "string",
                    "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                    "example": "300"
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "deleted_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                    "example": "2017-07-29T21:39:40Z"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the cost code.",
                    "example": "Earthwork"
                   },
                   "origin_data": {
                    "type": "string",
                    "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                    "example": "OD-129947"
                   },
                   "origin_id": {
                    "type": "string",
                    "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                    "example": "9874484"
                   },
                   "parent": {
                    "type": "object",
                    "description": "The immediate parent cost code of this record, if any.",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                      "example": 2345
                     }
                    }
                   },
                   "position": {
                    "type": "integer",
                    "description": "Sort order of this cost code within its parent.",
                    "example": 1
                   },
                   "sortable_code": {
                    "type": "string",
                    "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                    "example": "02-300"
                   },
                   "standard_cost_code_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                    "example": 122334
                   },
                   "standard_cost_code_list_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                    "example": 133445,
                    "nullable": true
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "line_item_types": {
                    "type": "array",
                    "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                    "items": {
                     "type": "object",
                     "title": "LineItemType",
                     "description": "A line item type assigned to this cost code.",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "Unique identifier for the Line Item Type.",
                       "example": 12345
                      },
                      "name": {
                       "type": "string",
                       "description": "Display name of the Line Item Type.",
                       "example": "Equipment"
                      },
                      "code": {
                       "type": "string",
                       "description": "Short code used for CSV import of this Line Item Type.",
                       "example": "LB"
                      },
                      "base_type": {
                       "type": "string",
                       "enum": [
                        "equipment",
                        "materials",
                        "commitment",
                        "owner_cost",
                        "professional_services",
                        "labor",
                        "other"
                       ],
                       "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                       "example": "materials"
                      },
                      "origin_id": {
                       "type": "string",
                       "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                       "example": "ABC123",
                       "nullable": true
                      }
                     }
                    }
                   }
                  }
                 }
                ]
               },
               "line_item_type": {
                "type": "object",
                "title": "LineItemType",
                "description": "Line Item Type",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Line Item Type",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Name for the Line Item Type",
                  "example": "Equipment"
                 },
                 "code": {
                  "type": "string",
                  "description": "Code for the Line Item Type",
                  "example": "LB"
                 },
                 "base_type": {
                  "type": "string",
                  "enum": [
                   "equipment",
                   "materials",
                   "commitment",
                   "owner_cost",
                   "professional_services",
                   "other"
                  ],
                  "description": "Base type",
                  "example": "materials"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Origin data",
                  "example": "OD-2398273424"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "Origin ID",
                  "example": "ABC123",
                  "nullable": true
                 }
                }
               },
               "currency_configuration": {
                "type": "object",
                "properties": {
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "USD",
                  "nullable": true
                 }
                }
               }
              }
             },
             "currency_configuration": {
              "type": "object",
              "properties": {
               "currency_iso_code": {
                "type": "string",
                "description": "Currency ISO Code configured for the financial entity",
                "example": "USD",
                "nullable": true
               }
              }
             }
            }
           },
           {
            "type": "object",
            "title": "ssov_source_lines",
            "description": "Line Item (when the 'ssov_source_lines' view is requested)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Line Item id",
              "example": 4896147
             },
             "amount": {
              "type": "string",
              "description": "Line Item amount",
              "example": "1000.0"
             },
             "description": {
              "type": "string",
              "description": "Line Item description",
              "example": "Cleanup"
             },
             "position": {
              "type": "integer",
              "description": "Line Item position",
              "example": 1
             },
             "wbs_code": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Wbs Code ID",
                "example": 999
               },
               "flat_code": {
                "type": "string",
                "description": "Wbs Code",
                "example": "01-011.CT1"
               },
               "description": {
                "type": "string",
                "description": "Wbs Code Description",
                "example": "Project Engineer.Cost Type 1"
               }
              }
             },
             "currency_configuration": {
              "type": "object",
              "properties": {
               "currency_iso_code": {
                "type": "string",
                "description": "Currency ISO Code configured for the financial entity",
                "example": "USD",
                "nullable": true
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/purchase_order_contracts/%7Bpurchase_order_contract_id%7D/line_items',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[cost_code_id]': 'SOME_STRING_VALUE',\n    'filters[line_item_type_id]': 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/purchase_order_contracts/%7Bpurchase_order_contract_id%7D/line_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bcost_code_id%5D=SOME_STRING_VALUE&filters%5Bline_item_type_id%5D=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/purchase_order_contracts/%7Bpurchase_order_contract_id%7D/line_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bcost_code_id%5D=SOME_STRING_VALUE&filters%5Bline_item_type_id%5D=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/purchase_order_contracts/%7Bpurchase_order_contract_id%7D/line_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bcost_code_id%5D=SOME_STRING_VALUE&filters%5Bline_item_type_id%5D=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added a new view to Purchase Order Contract Line Items",
      "description": "A new 'view' parameter allows to get basic line items data with lowered permissions. It's enough to add a non-admin\nuser to invoice contacts and contract accessors in order to get line items attributes.\n",
      "endpoint": "GET /purchase_order_contracts/{purchase_order_contract_id}/line_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-02-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "purchase-order-contract-line-items?version=1.0#list-purchase-order-contract-line-items"
     },
     {
      "summary": "Add currency_configuration field",
      "description": "Adds the \"currency_configuration.currency_iso_code\" string field",
      "endpoint": "GET /purchase_order_contracts/{purchase_order_contract_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "purchase-order-contract-line-items?version=1.0#list-purchase-order-contract-line-items"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Purchase Order Contract Line Item",
    "description": "Create a Purchase Order Contract Line Item.\nNote: A budget line item will automatically be created for Non-budgeted line items for all new projects and for projects enabled with Non-Budgeted line item beta functionality",
    "tags": [
     "Commitments"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "line_item"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 34567
         },
         "line_item": {
          "title": "Line Item",
          "type": "object",
          "description": "The Line Item object",
          "properties": {
           "amount": {
            "type": "string",
            "description": "Amount",
            "example": "1000.0"
           },
           "cost_code_id": {
            "type": "integer",
            "description": "Cost Code ID",
            "example": 77408196
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Cleanup"
           },
           "extended_type": {
            "type": "string",
            "description": "Extended type",
            "enum": [
             "manual",
             "calculated"
            ],
            "example": "calculated"
           },
           "quantity": {
            "type": "string",
            "description": "Quantity",
            "example": "20.0"
           },
           "line_item_type_id": {
            "type": "integer",
            "description": "Line Item Type ID",
            "example": 5085801
           },
           "origin_data": {
            "type": "string",
            "description": "Origin Data",
            "example": "AC-1234"
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": 55555
           },
           "tax_code_id": {
            "type": "integer",
            "description": "Tax Code ID",
            "example": 1
           },
           "unit_cost": {
            "type": "string",
            "description": "Unit cost",
            "example": "50.00"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure",
            "example": "Hours",
            "enum": [
             "Any value present in the Company list of Units of Measure"
            ]
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "WBS code ID",
            "example": 34567
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "default",
         "description": "Line Item (when the 'default' view is requested)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Line Item id",
           "example": 4896147
          },
          "amount": {
           "type": "string",
           "description": "Line Item amount",
           "example": "1000.0"
          },
          "company": {
           "type": "object",
           "description": "Company",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 163215
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Procore Tech"
            }
           }
          },
          "cost_code": {
           "type": "object",
           "title": "extended",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this Cost Code record.",
             "example": 12345
            },
            "biller": {
             "type": "string",
             "description": "Display name of the entity (project or sub job) that owns this cost code.",
             "example": "Campus"
            },
            "biller_id": {
             "type": "integer",
             "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
             "example": 12345
            },
            "biller_type": {
             "type": "string",
             "enum": [
              "Project",
              "SubJob"
             ],
             "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
             "example": "Project"
            },
            "biller_origin_id": {
             "type": "string",
             "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
             "example": "98765",
             "nullable": true
            },
            "budgeted": {
             "type": "boolean",
             "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
             "example": false
            },
            "code": {
             "type": "string",
             "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
             "example": "300"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this cost code was created, in ISO 8601 format.",
             "example": "2015-05-15T00:00:00Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
             "example": "2017-07-29T21:39:40Z"
            },
            "full_code": {
             "type": "string",
             "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
             "example": "02-300"
            },
            "name": {
             "type": "string",
             "description": "Display name of the cost code.",
             "example": "Earthwork"
            },
            "origin_data": {
             "type": "string",
             "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
             "example": "OD-129947"
            },
            "origin_id": {
             "type": "string",
             "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
             "example": "9874484"
            },
            "parent": {
             "type": "object",
             "description": "The immediate parent cost code of this record, if any.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
               "example": 2345
              }
             }
            },
            "position": {
             "type": "integer",
             "description": "Sort order of this cost code within its parent.",
             "example": 1
            },
            "sortable_code": {
             "type": "string",
             "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
             "example": "02-300"
            },
            "standard_cost_code_id": {
             "type": "integer",
             "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
             "example": 122334
            },
            "standard_cost_code_list_id": {
             "type": "integer",
             "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
             "example": 133445,
             "nullable": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
             "example": "2015-05-15T00:00:00Z"
            },
            "line_item_types": {
             "type": "array",
             "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
             "items": {
              "type": "object",
              "title": "LineItemType",
              "description": "A line item type assigned to this cost code.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the Line Item Type.",
                "example": 12345
               },
               "name": {
                "type": "string",
                "description": "Display name of the Line Item Type.",
                "example": "Equipment"
               },
               "code": {
                "type": "string",
                "description": "Short code used for CSV import of this Line Item Type.",
                "example": "LB"
               },
               "base_type": {
                "type": "string",
                "enum": [
                 "equipment",
                 "materials",
                 "commitment",
                 "owner_cost",
                 "professional_services",
                 "labor",
                 "other"
                ],
                "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                "example": "materials"
               },
               "origin_id": {
                "type": "string",
                "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                "example": "ABC123",
                "nullable": true
               }
              }
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at date and time",
           "example": "2016-08-01T23:33:54Z"
          },
          "description": {
           "type": "string",
           "description": "Line Item description",
           "example": "Cleanup"
          },
          "extended_type": {
           "type": "string",
           "description": "Line Item extended type",
           "enum": [
            "manual",
            "calculated"
           ],
           "example": "calculated"
          },
          "holder": {
           "type": "object",
           "description": "Holder",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 233245
            },
            "holder_type": {
             "type": "string",
             "description": "Holder type",
             "example": "WorkOrderContract"
            }
           }
          },
          "line_item_type": {
           "type": "object",
           "title": "LineItemType",
           "description": "Line Item Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Line Item Type",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Name for the Line Item Type",
             "example": "Equipment"
            },
            "code": {
             "type": "string",
             "description": "Code for the Line Item Type",
             "example": "LB"
            },
            "base_type": {
             "type": "string",
             "enum": [
              "equipment",
              "materials",
              "commitment",
              "owner_cost",
              "professional_services",
              "other"
             ],
             "description": "Base type",
             "example": "materials"
            },
            "origin_data": {
             "type": "string",
             "description": "Origin data",
             "example": "OD-2398273424"
            },
            "origin_id": {
             "type": "string",
             "description": "Origin ID",
             "example": "ABC123",
             "nullable": true
            }
           }
          },
          "origin_data": {
           "type": "string",
           "description": "Line Item third party data",
           "example": "OD-39823232",
           "nullable": true
          },
          "origin_id": {
           "type": "string",
           "description": "Line Item third party id",
           "example": 239233,
           "nullable": true
          },
          "position": {
           "type": "integer",
           "description": "Line Item position",
           "example": 1
          },
          "project": {
           "type": "object",
           "description": "Project",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Children's Hospital"
            }
           }
          },
          "quantity": {
           "type": "string",
           "format": "float",
           "description": "Line Item quantity",
           "example": "10.0"
          },
          "tax_code_id": {
           "type": "integer",
           "description": "Tax Code ID",
           "example": 1
          },
          "total_amount": {
           "type": "string",
           "format": "float",
           "description": "Line Item total amount",
           "example": "1000.0"
          },
          "extended_amount": {
           "type": "string",
           "format": "float",
           "description": "Line Item extended amount",
           "example": "900.0"
          },
          "unit_cost": {
           "type": "string",
           "format": "float",
           "description": "Line Item unit cost",
           "example": "100.0"
          },
          "uom": {
           "type": "string",
           "description": "Line Item units of measure",
           "example": "Lbs"
          },
          "wbs_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Wbs Code ID",
             "example": 999
            },
            "flat_code": {
             "type": "string",
             "description": "Wbs Code",
             "example": "01-011.CT1"
            },
            "description": {
             "type": "string",
             "description": "Wbs Code Description",
             "example": "Project Engineer.Cost Type 1"
            }
           }
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at date and time",
           "example": "2016-09-01T21:33:54Z"
          },
          "change_event_line_item": {
           "type": "object",
           "description": "Change Event Line Item",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Change Event Line Item ID",
             "example": 5
            },
            "cost_rom": {
             "type": "string",
             "format": "float",
             "description": "Change Event Line Item Cost ROM",
             "example": "100.0"
            },
            "revenue_rom": {
             "type": "string",
             "format": "float",
             "description": "Change Event Line Item Revenue ROM",
             "example": "200.0"
            },
            "event_id": {
             "type": "integer",
             "description": "Change Event ID",
             "example": 6
            },
            "cost_code": {
             "oneOf": [
              {
               "title": "compact",
               "type": "object",
               "properties": {
                "id": {
                 "description": "ID",
                 "example": 12345,
                 "nullable": true,
                 "type": "integer"
                },
                "full_code": {
                 "type": "string",
                 "description": "Full Cost code, including parent prefixes",
                 "example": "02-300"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Earthwork"
                }
               }
              },
              {
               "type": "object",
               "title": "extended",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier for this Cost Code record.",
                 "example": 12345
                },
                "biller": {
                 "type": "string",
                 "description": "Display name of the entity (project or sub job) that owns this cost code.",
                 "example": "Campus"
                },
                "biller_id": {
                 "type": "integer",
                 "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                 "example": 12345
                },
                "biller_type": {
                 "type": "string",
                 "enum": [
                  "Project",
                  "SubJob"
                 ],
                 "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                 "example": "Project"
                },
                "biller_origin_id": {
                 "type": "string",
                 "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                 "example": "98765",
                 "nullable": true
                },
                "budgeted": {
                 "type": "boolean",
                 "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                 "example": false
                },
                "code": {
                 "type": "string",
                 "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                 "example": "300"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                 "example": "2015-05-15T00:00:00Z"
                },
                "deleted_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                 "example": "2017-07-29T21:39:40Z"
                },
                "full_code": {
                 "type": "string",
                 "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                 "example": "02-300"
                },
                "name": {
                 "type": "string",
                 "description": "Display name of the cost code.",
                 "example": "Earthwork"
                },
                "origin_data": {
                 "type": "string",
                 "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                 "example": "OD-129947"
                },
                "origin_id": {
                 "type": "string",
                 "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                 "example": "9874484"
                },
                "parent": {
                 "type": "object",
                 "description": "The immediate parent cost code of this record, if any.",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                   "example": 2345
                  }
                 }
                },
                "position": {
                 "type": "integer",
                 "description": "Sort order of this cost code within its parent.",
                 "example": 1
                },
                "sortable_code": {
                 "type": "string",
                 "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                 "example": "02-300"
                },
                "standard_cost_code_id": {
                 "type": "integer",
                 "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                 "example": 122334
                },
                "standard_cost_code_list_id": {
                 "type": "integer",
                 "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                 "example": 133445,
                 "nullable": true
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                 "example": "2015-05-15T00:00:00Z"
                },
                "line_item_types": {
                 "type": "array",
                 "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                 "items": {
                  "type": "object",
                  "title": "LineItemType",
                  "description": "A line item type assigned to this cost code.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique identifier for the Line Item Type.",
                    "example": 12345
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the Line Item Type.",
                    "example": "Equipment"
                   },
                   "code": {
                    "type": "string",
                    "description": "Short code used for CSV import of this Line Item Type.",
                    "example": "LB"
                   },
                   "base_type": {
                    "type": "string",
                    "enum": [
                     "equipment",
                     "materials",
                     "commitment",
                     "owner_cost",
                     "professional_services",
                     "labor",
                     "other"
                    ],
                    "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                    "example": "materials"
                   },
                   "origin_id": {
                    "type": "string",
                    "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                    "example": "ABC123",
                    "nullable": true
                   }
                  }
                 }
                }
               }
              }
             ]
            },
            "line_item_type": {
             "type": "object",
             "title": "LineItemType",
             "description": "Line Item Type",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for the Line Item Type",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name for the Line Item Type",
               "example": "Equipment"
              },
              "code": {
               "type": "string",
               "description": "Code for the Line Item Type",
               "example": "LB"
              },
              "base_type": {
               "type": "string",
               "enum": [
                "equipment",
                "materials",
                "commitment",
                "owner_cost",
                "professional_services",
                "other"
               ],
               "description": "Base type",
               "example": "materials"
              },
              "origin_data": {
               "type": "string",
               "description": "Origin data",
               "example": "OD-2398273424"
              },
              "origin_id": {
               "type": "string",
               "description": "Origin ID",
               "example": "ABC123",
               "nullable": true
              }
             }
            },
            "currency_configuration": {
             "type": "object",
             "properties": {
              "currency_iso_code": {
               "type": "string",
               "description": "Currency ISO Code configured for the financial entity",
               "example": "USD",
               "nullable": true
              }
             }
            }
           }
          },
          "currency_configuration": {
           "type": "object",
           "properties": {
            "currency_iso_code": {
             "type": "string",
             "description": "Currency ISO Code configured for the financial entity",
             "example": "USD",
             "nullable": true
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/purchase_order_contracts/%7Bpurchase_order_contract_id%7D/line_items',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    project_id: 34567,\n    line_item: {\n      amount: '1000.0',\n      cost_code_id: 77408196,\n      description: 'Cleanup',\n      extended_type: 'calculated',\n      quantity: '20.0',\n      line_item_type_id: 5085801,\n      origin_data: 'AC-1234',\n      origin_id: 55555,\n      tax_code_id: 1,\n      unit_cost: '50.00',\n      uom: 'Hours',\n      wbs_code_id: 34567\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":34567,\\\"line_item\\\":{\\\"amount\\\":\\\"1000.0\\\",\\\"cost_code_id\\\":77408196,\\\"description\\\":\\\"Cleanup\\\",\\\"extended_type\\\":\\\"calculated\\\",\\\"quantity\\\":\\\"20.0\\\",\\\"line_item_type_id\\\":5085801,\\\"origin_data\\\":\\\"AC-1234\\\",\\\"origin_id\\\":55555,\\\"tax_code_id\\\":1,\\\"unit_cost\\\":\\\"50.00\\\",\\\"uom\\\":\\\"Hours\\\",\\\"wbs_code_id\\\":34567}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/purchase_order_contracts/%7Bpurchase_order_contract_id%7D/line_items\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/purchase_order_contracts/%7Bpurchase_order_contract_id%7D/line_items \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":34567,\"line_item\":{\"amount\":\"1000.0\",\"cost_code_id\":77408196,\"description\":\"Cleanup\",\"extended_type\":\"calculated\",\"quantity\":\"20.0\",\"line_item_type_id\":5085801,\"origin_data\":\"AC-1234\",\"origin_id\":55555,\"tax_code_id\":1,\"unit_cost\":\"50.00\",\"uom\":\"Hours\",\"wbs_code_id\":34567}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/purchase_order_contracts/%7Bpurchase_order_contract_id%7D/line_items\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":34567,\\\"line_item\\\":{\\\"amount\\\":\\\"1000.0\\\",\\\"cost_code_id\\\":77408196,\\\"description\\\":\\\"Cleanup\\\",\\\"extended_type\\\":\\\"calculated\\\",\\\"quantity\\\":\\\"20.0\\\",\\\"line_item_type_id\\\":5085801,\\\"origin_data\\\":\\\"AC-1234\\\",\\\"origin_id\\\":55555,\\\"tax_code_id\\\":1,\\\"unit_cost\\\":\\\"50.00\\\",\\\"uom\\\":\\\"Hours\\\",\\\"wbs_code_id\\\":34567}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add currency_configuration field",
      "description": "Adds the \"currency_configuration.currency_iso_code\" string field",
      "endpoint": "POST /purchase_order_contracts/{purchase_order_contract_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "purchase-order-contract-line-items?version=1.0#create-purchase-order-contract-line-item"
     },
     {
      "summary": "Tax code parameter behavior when tax is disabled",
      "description": "If tax is disabled on the tool or on the project, the tax_code_id parameter will be ignored when creating or updating line items.",
      "endpoint": "POST /purchase_order_contracts/{purchase_order_contract_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "purchase-order-contract-line-items?version=1.0#create-purchase-order-contract-line-item"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/purchase_order_contracts/{purchase_order_contract_id}/line_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "purchase_order_contract_id",
     "in": "path",
     "description": "Purchase Order Contract ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Purchase Order Contract Line Item",
    "description": "Return a Purchase Order Contract Line Item.\n\nChange Event Line Item information is only returned if a line item is associated to a change event line item and user can view change events.\n\nNote: A v2.0 version of this endpoint is available and recommended for new integrations. Use the Commitment Contract Line Items endpoint GET /rest/v2.0/companies/{company_id}/projects/{project_id}/commitment_contracts/{commitment_contract_id}/line_items/{id}.",
    "tags": [
     "Commitments"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response. 'default' view\nwill be rendered by default if the parameter is not provided.\nFor the 'ssov_source_lines' view lower permissions are acceptable. It's enough to be added to invoice\ncontacts and contract accessors even if SOV line items are hidden from non-admins.\n",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "ssov_source_lines"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "title": "default",
           "description": "Line Item (when the 'default' view is requested)",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Line Item id",
             "example": 4896147
            },
            "amount": {
             "type": "string",
             "description": "Line Item amount",
             "example": "1000.0"
            },
            "company": {
             "type": "object",
             "description": "Company",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 163215
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Procore Tech"
              }
             }
            },
            "cost_code": {
             "type": "object",
             "title": "extended",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for this Cost Code record.",
               "example": 12345
              },
              "biller": {
               "type": "string",
               "description": "Display name of the entity (project or sub job) that owns this cost code.",
               "example": "Campus"
              },
              "biller_id": {
               "type": "integer",
               "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
               "example": "Project"
              },
              "biller_origin_id": {
               "type": "string",
               "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
               "example": "98765",
               "nullable": true
              },
              "budgeted": {
               "type": "boolean",
               "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
               "example": false
              },
              "code": {
               "type": "string",
               "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was created, in ISO 8601 format.",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Display name of the cost code.",
               "example": "Earthwork"
              },
              "origin_data": {
               "type": "string",
               "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
               "example": "OD-129947"
              },
              "origin_id": {
               "type": "string",
               "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
               "example": "9874484"
              },
              "parent": {
               "type": "object",
               "description": "The immediate parent cost code of this record, if any.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                 "example": 2345
                }
               }
              },
              "position": {
               "type": "integer",
               "description": "Sort order of this cost code within its parent.",
               "example": 1
              },
              "sortable_code": {
               "type": "string",
               "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
               "example": 122334
              },
              "standard_cost_code_list_id": {
               "type": "integer",
               "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
               "example": 133445,
               "nullable": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
               "example": "2015-05-15T00:00:00Z"
              },
              "line_item_types": {
               "type": "array",
               "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
               "items": {
                "type": "object",
                "title": "LineItemType",
                "description": "A line item type assigned to this cost code.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Line Item Type.",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the Line Item Type.",
                  "example": "Equipment"
                 },
                 "code": {
                  "type": "string",
                  "description": "Short code used for CSV import of this Line Item Type.",
                  "example": "LB"
                 },
                 "base_type": {
                  "type": "string",
                  "enum": [
                   "equipment",
                   "materials",
                   "commitment",
                   "owner_cost",
                   "professional_services",
                   "labor",
                   "other"
                  ],
                  "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                  "example": "materials"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                  "example": "ABC123",
                  "nullable": true
                 }
                }
               }
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at date and time",
             "example": "2016-08-01T23:33:54Z"
            },
            "description": {
             "type": "string",
             "description": "Line Item description",
             "example": "Cleanup"
            },
            "extended_type": {
             "type": "string",
             "description": "Line Item extended type",
             "enum": [
              "manual",
              "calculated"
             ],
             "example": "calculated"
            },
            "holder": {
             "type": "object",
             "description": "Holder",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 233245
              },
              "holder_type": {
               "type": "string",
               "description": "Holder type",
               "example": "WorkOrderContract"
              }
             }
            },
            "line_item_type": {
             "type": "object",
             "title": "LineItemType",
             "description": "Line Item Type",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for the Line Item Type",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name for the Line Item Type",
               "example": "Equipment"
              },
              "code": {
               "type": "string",
               "description": "Code for the Line Item Type",
               "example": "LB"
              },
              "base_type": {
               "type": "string",
               "enum": [
                "equipment",
                "materials",
                "commitment",
                "owner_cost",
                "professional_services",
                "other"
               ],
               "description": "Base type",
               "example": "materials"
              },
              "origin_data": {
               "type": "string",
               "description": "Origin data",
               "example": "OD-2398273424"
              },
              "origin_id": {
               "type": "string",
               "description": "Origin ID",
               "example": "ABC123",
               "nullable": true
              }
             }
            },
            "origin_data": {
             "type": "string",
             "description": "Line Item third party data",
             "example": "OD-39823232",
             "nullable": true
            },
            "origin_id": {
             "type": "string",
             "description": "Line Item third party id",
             "example": 239233,
             "nullable": true
            },
            "position": {
             "type": "integer",
             "description": "Line Item position",
             "example": 1
            },
            "project": {
             "type": "object",
             "description": "Project",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 123456
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Children's Hospital"
              }
             }
            },
            "quantity": {
             "type": "string",
             "format": "float",
             "description": "Line Item quantity",
             "example": "10.0"
            },
            "tax_code_id": {
             "type": "integer",
             "description": "Tax Code ID",
             "example": 1
            },
            "total_amount": {
             "type": "string",
             "format": "float",
             "description": "Line Item total amount",
             "example": "1000.0"
            },
            "extended_amount": {
             "type": "string",
             "format": "float",
             "description": "Line Item extended amount",
             "example": "900.0"
            },
            "unit_cost": {
             "type": "string",
             "format": "float",
             "description": "Line Item unit cost",
             "example": "100.0"
            },
            "uom": {
             "type": "string",
             "description": "Line Item units of measure",
             "example": "Lbs"
            },
            "wbs_code": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Wbs Code ID",
               "example": 999
              },
              "flat_code": {
               "type": "string",
               "description": "Wbs Code",
               "example": "01-011.CT1"
              },
              "description": {
               "type": "string",
               "description": "Wbs Code Description",
               "example": "Project Engineer.Cost Type 1"
              }
             }
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated at date and time",
             "example": "2016-09-01T21:33:54Z"
            },
            "change_event_line_item": {
             "type": "object",
             "description": "Change Event Line Item",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Change Event Line Item ID",
               "example": 5
              },
              "cost_rom": {
               "type": "string",
               "format": "float",
               "description": "Change Event Line Item Cost ROM",
               "example": "100.0"
              },
              "revenue_rom": {
               "type": "string",
               "format": "float",
               "description": "Change Event Line Item Revenue ROM",
               "example": "200.0"
              },
              "event_id": {
               "type": "integer",
               "description": "Change Event ID",
               "example": 6
              },
              "cost_code": {
               "oneOf": [
                {
                 "title": "compact",
                 "type": "object",
                 "properties": {
                  "id": {
                   "description": "ID",
                   "example": 12345,
                   "nullable": true,
                   "type": "integer"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "Full Cost code, including parent prefixes",
                   "example": "02-300"
                  },
                  "name": {
                   "type": "string",
                   "description": "Name",
                   "example": "Earthwork"
                  }
                 }
                },
                {
                 "type": "object",
                 "title": "extended",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique identifier for this Cost Code record.",
                   "example": 12345
                  },
                  "biller": {
                   "type": "string",
                   "description": "Display name of the entity (project or sub job) that owns this cost code.",
                   "example": "Campus"
                  },
                  "biller_id": {
                   "type": "integer",
                   "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                   "example": 12345
                  },
                  "biller_type": {
                   "type": "string",
                   "enum": [
                    "Project",
                    "SubJob"
                   ],
                   "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                   "example": "Project"
                  },
                  "biller_origin_id": {
                   "type": "string",
                   "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                   "example": "98765",
                   "nullable": true
                  },
                  "budgeted": {
                   "type": "boolean",
                   "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                   "example": false
                  },
                  "code": {
                   "type": "string",
                   "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                   "example": "300"
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                   "example": "2015-05-15T00:00:00Z"
                  },
                  "deleted_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                   "example": "2017-07-29T21:39:40Z"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                   "example": "02-300"
                  },
                  "name": {
                   "type": "string",
                   "description": "Display name of the cost code.",
                   "example": "Earthwork"
                  },
                  "origin_data": {
                   "type": "string",
                   "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                   "example": "OD-129947"
                  },
                  "origin_id": {
                   "type": "string",
                   "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                   "example": "9874484"
                  },
                  "parent": {
                   "type": "object",
                   "description": "The immediate parent cost code of this record, if any.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                     "example": 2345
                    }
                   }
                  },
                  "position": {
                   "type": "integer",
                   "description": "Sort order of this cost code within its parent.",
                   "example": 1
                  },
                  "sortable_code": {
                   "type": "string",
                   "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                   "example": "02-300"
                  },
                  "standard_cost_code_id": {
                   "type": "integer",
                   "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                   "example": 122334
                  },
                  "standard_cost_code_list_id": {
                   "type": "integer",
                   "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                   "example": 133445,
                   "nullable": true
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                   "example": "2015-05-15T00:00:00Z"
                  },
                  "line_item_types": {
                   "type": "array",
                   "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                   "items": {
                    "type": "object",
                    "title": "LineItemType",
[...]
