{
 "openapi": "3.1.0",
 "info": {
  "title": "Receipts",
  "version": "2.0",
  "x-resource-name": "Receipts",
  "x-product-category": "Resource Management",
  "x-tool-category": "Materials Management",
  "x-product-lines": [
   "material-management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/receipts/{receipt_id}/line_items/{id}": {
   "patch": {
    "tags": [
     "Receipts"
    ],
    "summary": "Updates a single receipt line item.",
    "description": "This endpoint allows updating properties (such as date, quantity, status, and location) for a specific receipt line item.\r\nThe receipt must not be in a Final state.\r\nIf the input is invalid or the line item doesn't exist, a 400 Bad Request response is returned.",
    "operationId": "Receipts_PatchLineItem",
    "parameters": [
     {
      "name": "receipt_id",
      "in": "path",
      "description": "Receipt id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Line item id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "A Core.Models.Receipts.ReceiptLineUpdate object containing the properties to update.",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "quantity_expected": {
          "type": "number",
          "format": "double",
          "nullable": true
         },
         "quantity_received": {
          "type": "number",
          "format": "double",
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Normal",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "line_number": {
             "type": "string",
             "nullable": true
            },
            "item": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              },
              "description": {
               "type": "string",
               "nullable": true
              },
              "uom": {
               "type": "string",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "receipt": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "received_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "quantity_received": {
             "type": "number",
             "format": "double",
             "nullable": true
            },
            "quantity_expected": {
             "type": "number",
             "format": "double",
             "nullable": true
            },
            "quantity_shipped": {
             "type": "number",
             "format": "double",
             "nullable": true
            },
            "unit_of_measure": {
             "type": "string",
             "nullable": true
            },
            "purchase_order": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "shipment": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "vendor": {
             "type": "string",
             "nullable": true
            },
            "container_received": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "status": {
             "enum": [
              "STARTED",
              "IN_REVIEW",
              "COMPLETE",
              "COMPLETE_HANDOVER",
              "DEFECTS",
              "VOID"
             ],
             "type": "string"
            },
            "line_status": {
             "enum": [
              "RECEIVED",
              "VOID"
             ],
             "type": "string"
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "state": {
             "enum": [
              "DRAFT",
              "FINAL",
              "CLOSED",
              "READY_FOR_REVIEW"
             ],
             "type": "string"
            },
            "conditions": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "quantity": {
                "type": "number",
                "format": "double"
               },
               "condition": {
                "enum": [
                 "ACCEPTABLE",
                 "UNACCEPTABLE",
                 "DAMAGED",
                 "SHORT",
                 "OVERAGE",
                 "ADD",
                 "REMOVE",
                 "RETURNED_TO_STOCK"
                ],
                "type": "string"
               },
               "location_id": {
                "type": "string",
                "nullable": true
               },
               "id": {
                "type": "string",
                "format": "uuid"
               },
               "notes": {
                "type": "string",
                "nullable": true
               },
               "subline_number": {
                "type": "integer",
                "format": "int32"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "labels": {
             "type": "array",
             "items": {
              "type": "string"
             },
             "nullable": true
            },
            "shipment_reference": {
             "type": "string",
             "nullable": true
            },
            "properties": {
             "type": "object",
             "additionalProperties": {
              "type": "string"
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Breceipt_id%7D/line_items/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {quantity_expected: 0.1, quantity_received: 0.1},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"quantity_expected\\\":0.1,\\\"quantity_received\\\":0.1}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Breceipt_id%7D/line_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Breceipt_id%7D/line_items/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"quantity_expected\":0.1,\"quantity_received\":0.1}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Breceipt_id%7D/line_items/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"quantity_expected\\\":0.1,\\\"quantity_received\\\":0.1}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "Receipts"
    ],
    "summary": "Deletes a Receipt Line Item.",
    "description": "This endpoint performs a deletion of a Receipt Line Item. The deletion follows these rules:\r\n1. If locked is false: Only then Deletion can be performed as in that case it is a draft Receipt\r\n2. The hard deletion is performed for the specified receipt line.\r\n3. The hard deletion is performed for the connected shipment and shipment lines only if shipment is system generated.\r\n4. The Shipment will be deleted only if there are no shipment lines connected to it. Otherwise only the related shipment line will be deleted.\r\n5. The refdoc_related_id is marked as null in the receipt if the line being deleted is the only line in the receipt.",
    "operationId": "Receipts_DeleteReceiptLineItem",
    "parameters": [
     {
      "name": "receipt_id",
      "in": "path",
      "description": "Receipt id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Receipt line item id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Breceipt_id%7D/line_items/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Breceipt_id%7D/line_items/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Breceipt_id%7D/line_items/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Breceipt_id%7D/line_items/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/receipts/{id}/comments": {
   "post": {
    "tags": [
     "Receipts"
    ],
    "summary": "Add up to 100 comments to a receipt",
    "description": "Adds one or more comments to a receipt document.\r\nA maximum of 100 comments can be added in a single request.",
    "operationId": "Receipts_AddComment",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Receipt id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Comments",
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "type": "string"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/comments',\n  headers: {'content-type': 'application/json'},\n  body: ['string'],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"[\\\"string\\\"]\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/comments\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/comments \\\n  --header 'content-type: application/json' \\\n  --data '[\"string\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/comments\"),\n    Content = new StringContent(\"[\\\"string\\\"]\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/receipts/{id}/attachments": {
   "post": {
    "tags": [
     "Receipts"
    ],
    "summary": "Adds attachments to a receipt resource.",
    "description": "Either provide a file_id already obtained from the File Access Service (FAS), or omit it to have FAS create a new file record. The response includes the file_id and, when FAS creates the record, an upload URL the client uses to upload the file content.",
    "operationId": "Receipts_AddAttachmentsToResource",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Receipt id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Attachments to add",
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "file_id": {
           "type": "string",
           "nullable": true
          },
          "file_name": {
           "type": "string",
           "nullable": true
          },
          "attach_type": {
           "type": "string",
           "nullable": true
          },
          "description": {
           "type": "string",
           "nullable": true
          }
         },
         "additionalProperties": false
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "nullable": true
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "url": {
                "type": "string",
                "nullable": true
               },
               "type": {
                "type": "string",
                "nullable": true
               },
               "url_expires_at": {
                "type": "integer",
                "format": "int64"
               },
               "status": {
                "type": "string",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/attachments',\n  headers: {'content-type': 'application/json'},\n  body: [\n    {\n      file_id: 'string',\n      file_name: 'string',\n      attach_type: 'string',\n      description: 'string'\n    }\n  ],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"[{\\\"file_id\\\":\\\"string\\\",\\\"file_name\\\":\\\"string\\\",\\\"attach_type\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\"}]\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/attachments\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/attachments \\\n  --header 'content-type: application/json' \\\n  --data '[{\"file_id\":\"string\",\"file_name\":\"string\",\"attach_type\":\"string\",\"description\":\"string\"}]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/attachments\"),\n    Content = new StringContent(\"[{\\\"file_id\\\":\\\"string\\\",\\\"file_name\\\":\\\"string\\\",\\\"attach_type\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\"}]\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "Receipts"
    ],
    "summary": "Deletes attachments from a receipt resource.",
    "description": "Removes one or more attachments from the receipt by their file IDs.\r\nThe attachment records are removed from the database. The system attempts to delete the underlying files from storage; storage deletion failures are not surfaced to the caller.",
    "operationId": "Receipts_DeleteAttachmentsFromResource",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Receipt id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "File ids to delete",
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "type": "string"
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "results": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "file_id": {
                "type": "string",
                "nullable": true
               },
               "deleted": {
                "type": "boolean"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/attachments',\n  headers: {'content-type': 'application/json'},\n  body: ['string'],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"[\\\"string\\\"]\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/attachments\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/attachments \\\n  --header 'content-type: application/json' \\\n  --data '[\"string\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/receipts/%7Bid%7D/attachments\"),\n    Content = new StringContent(\"[\\\"string\\\"]\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "Receipts"
    ],
    "summary": "Updates an attachment for a receipt resource.",
    "description": "Updates the metadata of an existing attachment on a receipt resource, such as its description or name.",
    "operationId": "Receipts_UpdateAttachmentOfResource",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Receipt id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Attachment to update",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "file_id": {
          "type": "string",
          "nullable": true
         },
         "file_name": {
          "type": "string",
          "nullable": true
         },
         "attach_type": {
          "type": "string",
          "nullable": true
         },
         "description": {
          "type": "string",
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "format": "uuid"
             },
             "name": {
              "type": "string",
              "nullable": true
             }
            },
            "additionalProperties": false
           },
           "description": "The data",
           "nullable": true
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
[...]
