{
 "openapi": "3.0.0",
 "info": {
  "title": "Requisition (Subcontractor Invoice) Whole Change Order Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Requisition (Subcontractor Invoice) Whole Change Order Items",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/requisitions/{requisition_id}/whole_change_order_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "requisition_id",
     "in": "path",
     "description": "Requisition (Subcontractor Invoice) ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Whole Change Order Item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Requisition (Subcontractor Invoice) Whole Change Order Item",
    "description": "Update a specific Requisition (Subcontractor Invoice) Whole Change Order Item",
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "requisition_whole_change_order_item"
        ],
        "properties": {
         "requisition_whole_change_order_item": {
          "type": "object",
          "description": "Requisition (Subcontractor Invoice) Whole Change Order Item",
          "properties": {
           "work_completed_this_period": {
            "type": "string",
            "description": "The amount of work completed this period",
            "example": 1000
           },
           "materials_presently_stored": {
            "type": "string",
            "description": "The amount of materials presently stored",
            "example": 500
           },
           "work_completed_retainage_retained_this_period": {
            "type": "string",
            "description": "Work completed retainage amount retained this period",
            "example": 100
           },
           "materials_stored_retainage_currently_retained": {
            "type": "string",
            "description": "Materials stored retainage amount currently retained",
            "example": 50
           },
           "work_completed_retainage_released_this_period": {
            "type": "string",
            "description": "The amount of work completed retainage released this period",
            "example": 0
           },
           "work_completed_this_period_quantity": {
            "type": "string",
            "description": "Work completed this period quantity",
            "example": 10
           },
           "ssr_manual_override": {
            "type": "boolean",
            "description": "SSR manual override",
            "example": false
           },
           "comment": {
            "type": "string",
            "nullable": true,
            "description": "Comment for the Whole Change Order Item",
            "example": "Installation charges"
           },
           "status": {
            "type": "string",
            "description": "Status of the Whole Change Order Item",
            "example": "draft"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Requisition (Subcontractor Invoice) Whole Change Order Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID of the Whole Change Order Item",
           "example": 341256
          },
          "cost_code_id": {
           "type": "integer",
           "description": "Cost Code ID",
           "nullable": true,
           "example": 21585118
          },
          "item_type": {
           "type": "string",
           "description": "Item type",
           "example": "whole_change_order_item"
          },
          "line_item_id": {
           "type": "integer",
           "description": "Line Item ID",
           "example": 3129856
          },
          "description_of_work": {
           "type": "string",
           "nullable": true,
           "description": "Description of work",
           "example": "Install windows"
          },
          "scheduled_value": {
           "type": "string",
           "description": "Scheduled value amount",
           "example": "1.00"
          },
          "work_completed_from_previous_application": {
           "type": "string",
           "description": "Work completed from previous application amount",
           "example": "0.00"
          },
          "work_completed_this_period": {
           "type": "string",
           "description": "Work completed this period amount",
           "example": "0.00"
          },
          "materials_presently_stored": {
           "type": "string",
           "description": "Materials presently stored amount",
           "example": "0.00"
          },
          "total_completed_and_stored_to_date": {
           "type": "string",
           "description": "Total completed and stored to date amount",
           "example": "0.00"
          },
          "total_completed_and_stored_to_date_percent": {
           "type": "string",
           "description": "Total completed and stored to date percent",
           "example": "0.0"
          },
          "work_completed_retainage_from_previous_application": {
           "type": "string",
           "description": "Work completed retainage amount from previous application",
           "example": "0.0"
          },
          "work_completed_retainage_retained_this_period": {
           "type": "string",
           "description": "Work completed retainage amount retained this period",
           "example": "0.0"
          },
          "work_completed_retainage_percent_this_period": {
           "type": "string",
           "description": "Work completed retainage percent this period",
           "example": "10.0"
          },
          "ssr_manual_override": {
           "type": "boolean",
           "description": "SSR manual override",
           "example": false
          },
          "materials_stored_retainage_currently_retained": {
           "type": "string",
           "description": "Materials stored retainage amount currently retained",
           "example": "0.0"
          },
          "materials_stored_retainage_percent_this_period": {
           "type": "string",
           "description": "Materials stored retainage percent this period",
           "example": "10.0"
          },
          "work_completed_retainage_released_this_period": {
           "type": "string",
           "description": "Work completed retainage amount released this period",
           "example": "0.0"
          },
          "materials_stored_retainage_released_this_period": {
           "type": "string",
           "description": "Materials stored retainage amount released this period",
           "example": "0.0"
          },
          "scheduled_quantity": {
           "type": "string",
           "description": "Scheduled quantity",
           "example": "0.0"
          },
          "scheduled_unit_price": {
           "type": "string",
           "description": "Scheduled unit price",
           "example": "0.0"
          },
          "work_completed_this_period_quantity": {
           "type": "string",
           "description": "Work completed this period quantity",
           "example": "0.0"
          },
          "work_completed_from_previous_application_quantity": {
           "type": "string",
           "description": "Work completed from previous application quantity",
           "example": "0.0"
          },
          "change_order_package_id": {
           "type": "integer",
           "description": "ID for Change Order Package",
           "example": 12345
          },
          "subcontractor_claimed_amount": {
           "type": "string",
           "description": "Amount claimed by the subcontractor",
           "example": "0.0"
          },
          "comment": {
           "type": "string",
           "nullable": true,
           "description": "Comment for the Whole Change Order Item",
           "example": "Installation charges"
          },
          "status": {
           "type": "string",
           "description": "Status of the Whole Change Order Item",
           "example": "draft"
          },
          "wbs_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Wbs Code ID",
             "example": 999
            },
            "flat_code": {
             "type": "string",
             "description": "Wbs Code",
             "example": "01-011.CT1"
            },
            "description": {
             "type": "string",
             "description": "Wbs Code Description",
             "example": "Project Engineer.Cost Type 1"
            }
           }
          },
          "position": {
           "type": "integer",
           "description": "Position",
           "example": 1
          },
          "currency_configuration": {
           "type": "object",
           "description": "Currency Configuration",
           "properties": {
            "currency_iso_code": {
             "type": "string",
             "description": "ISO Code for the Currency",
             "example": "USD"
            }
           }
          },
          "materials_moved": {
           "type": "string",
           "description": "Materials automatically moved from previous line item into previous work completed. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
           "example": "0.00"
          },
          "materials_retainage_retained_moved": {
           "type": "string",
           "description": "Retainage on materials automatically moved from previous line item into work completed retainage amount accrued previously. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
           "example": "0.00"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/whole_change_order_items/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    requisition_whole_change_order_item: {\n      work_completed_this_period: 1000,\n      materials_presently_stored: 500,\n      work_completed_retainage_retained_this_period: 100,\n      materials_stored_retainage_currently_retained: 50,\n      work_completed_retainage_released_this_period: 0,\n      work_completed_this_period_quantity: 10,\n      ssr_manual_override: false,\n      comment: 'Installation charges',\n      status: 'draft'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"requisition_whole_change_order_item\\\":{\\\"work_completed_this_period\\\":1000,\\\"materials_presently_stored\\\":500,\\\"work_completed_retainage_retained_this_period\\\":100,\\\"materials_stored_retainage_currently_retained\\\":50,\\\"work_completed_retainage_released_this_period\\\":0,\\\"work_completed_this_period_quantity\\\":10,\\\"ssr_manual_override\\\":false,\\\"comment\\\":\\\"Installation charges\\\",\\\"status\\\":\\\"draft\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/requisitions/%7Brequisition_id%7D/whole_change_order_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/whole_change_order_items/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"requisition_whole_change_order_item\":{\"work_completed_this_period\":1000,\"materials_presently_stored\":500,\"work_completed_retainage_retained_this_period\":100,\"materials_stored_retainage_currently_retained\":50,\"work_completed_retainage_released_this_period\":0,\"work_completed_this_period_quantity\":10,\"ssr_manual_override\":false,\"comment\":\"Installation charges\",\"status\":\"draft\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/whole_change_order_items/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"requisition_whole_change_order_item\\\":{\\\"work_completed_this_period\\\":1000,\\\"materials_presently_stored\\\":500,\\\"work_completed_retainage_retained_this_period\\\":100,\\\"materials_stored_retainage_currently_retained\\\":50,\\\"work_completed_retainage_released_this_period\\\":0,\\\"work_completed_this_period_quantity\\\":10,\\\"ssr_manual_override\\\":false,\\\"comment\\\":\\\"Installation charges\\\",\\\"status\\\":\\\"draft\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added WBS Code info to Requisition Whole Change Order Items update endpoint response",
      "description": "In order to make the effort to support WBS, added wbs code info on the response for this endpoint",
      "endpoint": "PATCH /requisitions/{requisition_id}/whole_change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-10-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-whole-change-order-items?version=1.0#update-requisition-subcontractor-invoice-whole-change-order-item"
     },
     {
      "summary": "Added position info to the response",
      "description": "The item now contains its position",
      "endpoint": "PATCH /requisitions/{requisition_id}/whole_change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-06-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-whole-change-order-items?version=1.0#update-requisition-subcontractor-invoice-whole-change-order-item"
     },
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the item",
      "endpoint": "PATCH /requisitions/{requisition_id}/whole_change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-05-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-whole-change-order-items?version=1.0#update-requisition-subcontractor-invoice-whole-change-order-item"
     },
     {
      "summary": "Added materials moved attributes in line item responses.",
      "description": "Added materials_moved and materials_retainage_retained_moved to line item responses.",
      "endpoint": "PATCH /requisitions/{requisition_id}/whole_change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-whole-change-order-items?version=1.0#update-requisition-subcontractor-invoice-whole-change-order-item"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}