{
 "openapi": "3.0.0",
 "info": {
  "title": "Requisition (Subcontractor Invoice) Change Order Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Requisition (Subcontractor Invoice) Change Order Items",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/requisitions/{requisition_id}/change_order_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "requisition_id",
     "in": "path",
     "description": "Requisition (Subcontractor Invoice) ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Requisition (Subcontractor Invoice) Change Order Items",
    "description": "Return a list of Requisition (Subcontractor Invoice) Change Order Items\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[change_order_id]",
      "in": "query",
      "description": "Return item(s) associated to Change Orders with the specified IDs.",
      "style": "form",
      "explode": false,
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Requisition (Subcontractor Invoice) Change Order Items",
         "items": {
          "type": "object",
          "description": "Requisition (Subcontractor Invoice) Change Order Item",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID for Change Order Item",
            "example": 341256
           },
           "cost_code_id": {
            "description": "Cost Code ID",
            "example": 21585118,
            "nullable": true,
            "type": "integer"
           },
           "line_item_id": {
            "type": "integer",
            "description": "Line Item ID",
            "example": 3129856
           },
           "commitment_line_item_id": {
            "type": "integer",
            "description": "Commitment Line Item ID",
            "example": 3129856
           },
           "commitment_line_item_origin_id": {
            "type": "string",
            "description": "Commitment Line Item Origin ID",
            "example": "abc-123"
           },
           "description_of_work": {
            "description": "Description of work",
            "example": "Install windows",
            "nullable": true,
            "type": "string"
           },
           "scheduled_value": {
            "type": "string",
            "description": "Scheduled value amount",
            "example": "1.00"
           },
           "work_completed_from_previous_application": {
            "type": "string",
            "description": "Work completed from previous application amount",
            "example": "0.00"
           },
           "work_completed_this_period": {
            "type": "string",
            "description": "Work completed this period amount",
            "example": "0.00"
           },
           "materials_presently_stored": {
            "type": "string",
            "description": "Materials presently stored amount. Only present when using amount based accounting.",
            "example": "0.00"
           },
           "total_completed_and_stored_to_date": {
            "type": "string",
            "description": "Total completed and stored to date amount",
            "example": "0.00"
           },
           "total_completed_and_stored_to_date_percent": {
            "type": "string",
            "description": "Total completed and stored to date percent",
            "example": "0.0"
           },
           "work_completed_retainage_from_previous_application": {
            "type": "string",
            "description": "Work completed retainage amount from previous application",
            "example": "0.0"
           },
           "work_completed_retainage_retained_this_period": {
            "type": "string",
            "description": "Work completed retainage amount retained this period",
            "example": "0.0"
           },
           "work_completed_retainage_percent_this_period": {
            "type": "string",
            "description": "Work completed retainage percent this period",
            "example": "10.0"
           },
           "materials_stored_retainage_currently_retained": {
            "type": "string",
            "description": "Materials stored retainage amount currently retained. Only present when using amount based accounting.",
            "example": "0.0"
           },
           "materials_stored_retainage_percent_this_period": {
            "type": "string",
            "description": "Materials stored retainage percent this period. Only present when using amount based accounting.",
            "example": "10.0"
           },
           "work_completed_retainage_released_this_period": {
            "type": "string",
            "description": "Work completed retainage amount released this period",
            "example": "0.0"
           },
           "materials_stored_retainage_released_this_period": {
            "type": "string",
            "description": "Materials stored retainage amount released this period. Only present when using amount based accounting.",
            "example": "0.0"
           },
           "scheduled_quantity": {
            "type": "string",
            "description": "Scheduled quantity. Only present when using unit based accounting.",
            "example": "0.0"
           },
           "scheduled_unit_price": {
            "type": "string",
            "description": "Scheduled unit price. Only present when using unit based accounting.",
            "example": "0.0"
           },
           "work_completed_this_period_quantity": {
            "type": "string",
            "description": "Work completed this period quantity. Only present when using unit based accounting.",
            "example": "0.0"
           },
           "work_completed_from_previous_application_quantity": {
            "type": "string",
            "description": "Work completed from previous application quantity. Only present when using unit based accounting.",
            "example": "0.0"
           },
           "change_order_package_id": {
            "type": "integer",
            "description": "ID for Change Order Package",
            "example": 12345
           },
           "subcontractor_claimed_amount": {
            "type": "string",
            "description": "Amount claimed by the subcontractor",
            "example": "0.0"
           },
           "wbs_code": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Wbs Code ID",
              "example": 999
             },
             "flat_code": {
              "type": "string",
              "description": "Wbs Code",
              "example": "01-011.CT1"
             },
             "description": {
              "type": "string",
              "description": "Wbs Code Description",
              "example": "Project Engineer.Cost Type 1",
              "nullable": false
             }
            }
           },
           "position": {
            "type": "integer",
            "description": "Position",
            "example": 1
           },
           "currency_configuration": {
            "type": "object",
            "description": "Currency Configuration",
            "properties": {
             "currency_iso_code": {
              "type": "string",
              "description": "ISO Code for the Currency",
              "example": "USD"
             }
            }
           },
           "materials_moved": {
            "type": "string",
            "description": "Materials automatically moved from previous line item into previous work completed. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
            "example": "0.00"
           },
           "materials_retainage_retained_moved": {
            "type": "string",
            "description": "Retainage on materials automatically moved from previous line item into work completed retainage amount accrued previously. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
            "example": "0.00"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[change_order_id]': 'SOME_ARRAY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bchange_order_id%5D=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bchange_order_id%5D=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bchange_order_id%5D=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added WBS Code info to Requisition Change Order Items endpoint response",
      "description": "In order to make the effort to support WBS, added wbs code info on the response for this endpoint",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-10-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#list-requisition-subcontractor-invoice-change-order-items"
     },
     {
      "summary": "Added position info to the response",
      "description": "Each item now contains its position",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-06-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#list-requisition-subcontractor-invoice-change-order-items"
     },
     {
      "summary": "Added commitment_line_item_id and commitment_line_item_origin_id to the response",
      "description": "Each item contains a Commitment Line Item ID and Commitment Line Item Origin ID if the Change Order Item is linked to a Commitment Line Item",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-09-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#list-requisition-subcontractor-invoice-change-order-items"
     },
     {
      "summary": "WBS Code description is now populated with a default",
      "description": "WBS Code description now returns a default description when it would've been null",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-01-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#list-requisition-subcontractor-invoice-change-order-items"
     },
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the item",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-05-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#list-requisition-subcontractor-invoice-change-order-items"
     },
     {
      "summary": "Added materials moved attributes in line item responses.",
      "description": "Added materials_moved and materials_retainage_retained_moved to line item responses.",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#list-requisition-subcontractor-invoice-change-order-items"
     },
     {
      "summary": "Added filtering on change order id",
      "description": "Added filtering on change order id",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#list-requisition-subcontractor-invoice-change-order-items"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/requisitions/{requisition_id}/change_order_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "requisition_id",
     "in": "path",
     "description": "Requisition (Subcontractor Invoice) ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Change Order Item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Requisition (Subcontractor Invoice) Change Order Item",
    "description": "Return a Requisition (Subcontractor Invoice) Change Order Item",
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Requisition (Subcontractor Invoice) Change Order Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID for Change Order Item",
           "example": 341256
          },
          "cost_code_id": {
           "description": "Cost Code ID",
           "example": 21585118,
           "nullable": true,
           "type": "integer"
          },
          "line_item_id": {
           "type": "integer",
           "description": "Line Item ID",
           "example": 3129856
          },
          "commitment_line_item_id": {
           "type": "integer",
           "description": "Commitment Line Item ID",
           "example": 3129856
          },
          "commitment_line_item_origin_id": {
           "type": "string",
           "description": "Commitment Line Item Origin ID",
           "example": "abc-123"
          },
          "description_of_work": {
           "description": "Description of work",
           "example": "Install windows",
           "nullable": true,
           "type": "string"
          },
          "scheduled_value": {
           "type": "string",
           "description": "Scheduled value amount",
           "example": "1.00"
          },
          "work_completed_from_previous_application": {
           "type": "string",
           "description": "Work completed from previous application amount",
           "example": "0.00"
          },
          "work_completed_this_period": {
           "type": "string",
           "description": "Work completed this period amount",
           "example": "0.00"
          },
          "materials_presently_stored": {
           "type": "string",
           "description": "Materials presently stored amount. Only present when using amount based accounting.",
           "example": "0.00"
          },
          "total_completed_and_stored_to_date": {
           "type": "string",
           "description": "Total completed and stored to date amount",
           "example": "0.00"
          },
          "total_completed_and_stored_to_date_percent": {
           "type": "string",
           "description": "Total completed and stored to date percent",
           "example": "0.0"
          },
          "work_completed_retainage_from_previous_application": {
           "type": "string",
           "description": "Work completed retainage amount from previous application",
           "example": "0.0"
          },
          "work_completed_retainage_retained_this_period": {
           "type": "string",
           "description": "Work completed retainage amount retained this period",
           "example": "0.0"
          },
          "work_completed_retainage_percent_this_period": {
           "type": "string",
           "description": "Work completed retainage percent this period",
           "example": "10.0"
          },
          "materials_stored_retainage_currently_retained": {
           "type": "string",
           "description": "Materials stored retainage amount currently retained. Only present when using amount based accounting.",
           "example": "0.0"
          },
          "materials_stored_retainage_percent_this_period": {
           "type": "string",
           "description": "Materials stored retainage percent this period. Only present when using amount based accounting.",
           "example": "10.0"
          },
          "work_completed_retainage_released_this_period": {
           "type": "string",
           "description": "Work completed retainage amount released this period",
           "example": "0.0"
          },
          "materials_stored_retainage_released_this_period": {
           "type": "string",
           "description": "Materials stored retainage amount released this period. Only present when using amount based accounting.",
           "example": "0.0"
          },
          "scheduled_quantity": {
           "type": "string",
           "description": "Scheduled quantity. Only present when using unit based accounting.",
           "example": "0.0"
          },
          "scheduled_unit_price": {
           "type": "string",
           "description": "Scheduled unit price. Only present when using unit based accounting.",
           "example": "0.0"
          },
          "work_completed_this_period_quantity": {
           "type": "string",
           "description": "Work completed this period quantity. Only present when using unit based accounting.",
           "example": "0.0"
          },
          "work_completed_from_previous_application_quantity": {
           "type": "string",
           "description": "Work completed from previous application quantity. Only present when using unit based accounting.",
           "example": "0.0"
          },
          "change_order_package_id": {
           "type": "integer",
           "description": "ID for Change Order Package",
           "example": 12345
          },
          "subcontractor_claimed_amount": {
           "type": "string",
           "description": "Amount claimed by the subcontractor",
           "example": "0.0"
          },
          "wbs_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Wbs Code ID",
             "example": 999
            },
            "flat_code": {
             "type": "string",
             "description": "Wbs Code",
             "example": "01-011.CT1"
            },
            "description": {
             "type": "string",
             "description": "Wbs Code Description",
             "example": "Project Engineer.Cost Type 1",
             "nullable": false
            }
           }
          },
          "position": {
           "type": "integer",
           "description": "Position",
           "example": 1
          },
          "currency_configuration": {
           "type": "object",
           "description": "Currency Configuration",
           "properties": {
            "currency_iso_code": {
             "type": "string",
             "description": "ISO Code for the Currency",
             "example": "USD"
            }
           }
          },
          "materials_moved": {
           "type": "string",
           "description": "Materials automatically moved from previous line item into previous work completed. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
           "example": "0.00"
          },
          "materials_retainage_retained_moved": {
           "type": "string",
           "description": "Retainage on materials automatically moved from previous line item into work completed retainage amount accrued previously. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
           "example": "0.00"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added WBS Code info to Requisition Change Order Item endpoint response",
      "description": "In order to make the effort to support WBS, added wbs code info on the response for this endpoint",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-10-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#show-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added position info to the response",
      "description": "The item now contains its position",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-06-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#show-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added commitment_line_item_id and commitment_line_item_origin_id to the response",
      "description": "Each item contains a Commitment Line Item ID and Commitment Line Item Origin ID if the Change Order Item is linked to a Commitment Line Item",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-09-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#show-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "WBS Code description is now populated with a default",
      "description": "WBS Code description now returns a default description when it would've been null",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-01-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#show-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the item",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-05-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#show-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added materials moved attributes in line item responses.",
      "description": "Added materials_moved and materials_retainage_retained_moved to line item responses.",
      "endpoint": "GET /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#show-requisition-subcontractor-invoice-change-order-item"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Requisition (Subcontractor Invoice) Change Order Item",
    "description": "This is a deprecated endpoint, please use [/rest/v1.0/requisitions/{requisition_id}/bulk_item_update](bulk-update-subcontractor-invoice-requisition-items#bulk-update-subcontractor-invoice-requisitions-items)",
    "x-deprecated-at": "2020-02-07",
    "deprecated": true,
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "requisition_change_order_item"
        ],
        "properties": {
         "requisition_change_order_item": {
          "title": "RequisitionChangeOrderItem",
          "type": "object",
          "description": "Requisition (Subcontractor Invoice) Change Order Item",
          "properties": {
           "work_completed_this_period": {
            "type": "string",
            "description": "The amount of work completed this period",
            "example": 1000
           },
           "materials_presently_stored": {
            "type": "string",
            "description": "The amount of materials presently stored (amount accounting only)",
            "example": 500
           },
           "work_completed_retainage_retained_this_period": {
            "type": "string",
            "description": "Work completed retainage amount retained this period (admin user only, work_completed_this_period should be non-zero to hold a retainage)",
            "example": 100
           },
           "materials_stored_retainage_currently_retained": {
            "type": "string",
            "description": "Materials stored retainage amount currently retained (admin user, amount accounting only, materials_presently_stored should be non-zero to hold a retainage)",
            "example": 50
           },
           "work_completed_retainage_released_this_period": {
            "type": "string",
            "description": "The amount of work completed retainage released this period",
            "example": 0
           },
           "work_completed_this_period_quantity": {
            "type": "string",
            "description": "Work completed this period quantity (unit accounting only)",
            "example": 10
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Requisition (Subcontractor Invoice) Change Order Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID for Change Order Item",
           "example": 341256
          },
          "cost_code_id": {
           "description": "Cost Code ID",
           "example": 21585118,
           "nullable": true,
           "type": "integer"
          },
          "line_item_id": {
           "type": "integer",
           "description": "Line Item ID",
           "example": 3129856
          },
          "commitment_line_item_id": {
           "type": "integer",
           "description": "Commitment Line Item ID",
           "example": 3129856
          },
          "commitment_line_item_origin_id": {
           "type": "string",
           "description": "Commitment Line Item Origin ID",
           "example": "abc-123"
          },
          "description_of_work": {
           "description": "Description of work",
           "example": "Install windows",
           "nullable": true,
           "type": "string"
          },
          "scheduled_value": {
           "type": "string",
           "description": "Scheduled value amount",
           "example": "1.00"
          },
          "work_completed_from_previous_application": {
           "type": "string",
           "description": "Work completed from previous application amount",
           "example": "0.00"
          },
          "work_completed_this_period": {
           "type": "string",
           "description": "Work completed this period amount",
           "example": "0.00"
          },
          "materials_presently_stored": {
           "type": "string",
           "description": "Materials presently stored amount. Only present when using amount based accounting.",
           "example": "0.00"
          },
          "total_completed_and_stored_to_date": {
           "type": "string",
           "description": "Total completed and stored to date amount",
           "example": "0.00"
          },
          "total_completed_and_stored_to_date_percent": {
           "type": "string",
           "description": "Total completed and stored to date percent",
           "example": "0.0"
          },
          "work_completed_retainage_from_previous_application": {
           "type": "string",
           "description": "Work completed retainage amount from previous application",
           "example": "0.0"
          },
          "work_completed_retainage_retained_this_period": {
           "type": "string",
           "description": "Work completed retainage amount retained this period",
           "example": "0.0"
          },
          "work_completed_retainage_percent_this_period": {
           "type": "string",
           "description": "Work completed retainage percent this period",
           "example": "10.0"
          },
          "materials_stored_retainage_currently_retained": {
           "type": "string",
           "description": "Materials stored retainage amount currently retained. Only present when using amount based accounting.",
           "example": "0.0"
          },
          "materials_stored_retainage_percent_this_period": {
           "type": "string",
           "description": "Materials stored retainage percent this period. Only present when using amount based accounting.",
           "example": "10.0"
          },
          "work_completed_retainage_released_this_period": {
           "type": "string",
           "description": "Work completed retainage amount released this period",
           "example": "0.0"
          },
          "materials_stored_retainage_released_this_period": {
           "type": "string",
           "description": "Materials stored retainage amount released this period. Only present when using amount based accounting.",
           "example": "0.0"
          },
          "scheduled_quantity": {
           "type": "string",
           "description": "Scheduled quantity. Only present when using unit based accounting.",
           "example": "0.0"
          },
          "scheduled_unit_price": {
           "type": "string",
           "description": "Scheduled unit price. Only present when using unit based accounting.",
           "example": "0.0"
          },
          "work_completed_this_period_quantity": {
           "type": "string",
           "description": "Work completed this period quantity. Only present when using unit based accounting.",
           "example": "0.0"
          },
          "work_completed_from_previous_application_quantity": {
           "type": "string",
           "description": "Work completed from previous application quantity. Only present when using unit based accounting.",
           "example": "0.0"
          },
          "change_order_package_id": {
           "type": "integer",
           "description": "ID for Change Order Package",
           "example": 12345
          },
          "subcontractor_claimed_amount": {
           "type": "string",
           "description": "Amount claimed by the subcontractor",
           "example": "0.0"
          },
          "wbs_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Wbs Code ID",
             "example": 999
            },
            "flat_code": {
             "type": "string",
             "description": "Wbs Code",
             "example": "01-011.CT1"
            },
            "description": {
             "type": "string",
             "description": "Wbs Code Description",
             "example": "Project Engineer.Cost Type 1",
             "nullable": false
            }
           }
          },
          "position": {
           "type": "integer",
           "description": "Position",
           "example": 1
          },
          "currency_configuration": {
           "type": "object",
           "description": "Currency Configuration",
           "properties": {
            "currency_iso_code": {
             "type": "string",
             "description": "ISO Code for the Currency",
             "example": "USD"
            }
           }
          },
          "materials_moved": {
           "type": "string",
           "description": "Materials automatically moved from previous line item into previous work completed. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
           "example": "0.00"
          },
          "materials_retainage_retained_moved": {
           "type": "string",
           "description": "Retainage on materials automatically moved from previous line item into work completed retainage amount accrued previously. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
           "example": "0.00"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    requisition_change_order_item: {\n      work_completed_this_period: 1000,\n      materials_presently_stored: 500,\n      work_completed_retainage_retained_this_period: 100,\n      materials_stored_retainage_currently_retained: 50,\n      work_completed_retainage_released_this_period: 0,\n      work_completed_this_period_quantity: 10\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"requisition_change_order_item\\\":{\\\"work_completed_this_period\\\":1000,\\\"materials_presently_stored\\\":500,\\\"work_completed_retainage_retained_this_period\\\":100,\\\"materials_stored_retainage_currently_retained\\\":50,\\\"work_completed_retainage_released_this_period\\\":0,\\\"work_completed_this_period_quantity\\\":10}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"requisition_change_order_item\":{\"work_completed_this_period\":1000,\"materials_presently_stored\":500,\"work_completed_retainage_retained_this_period\":100,\"materials_stored_retainage_currently_retained\":50,\"work_completed_retainage_released_this_period\":0,\"work_completed_this_period_quantity\":10}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_order_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"requisition_change_order_item\\\":{\\\"work_completed_this_period\\\":1000,\\\"materials_presently_stored\\\":500,\\\"work_completed_retainage_retained_this_period\\\":100,\\\"materials_stored_retainage_currently_retained\\\":50,\\\"work_completed_retainage_released_this_period\\\":0,\\\"work_completed_this_period_quantity\\\":10}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update Requisition (Subcontractor Invoice) Change Order Item is Deprecated",
      "description": "This is a deprecated endpoint, please use [/requisitions/{requisition_id}/bulk_item_update](/reference/rest/v1/bulk-update-subcontractor-invoice-requisition-items#bulk-update-subcontractor-invoice-requisitions-items)",
      "endpoint": "PATCH /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2020-02-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#update-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added WBS Code info to Requisition Change Order Item update endpoint response",
      "description": "In order to make the effort to support WBS, added wbs code info on the response for this endpoint",
      "endpoint": "PATCH /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-10-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#update-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added position info to the response",
      "description": "The item now contains its position",
      "endpoint": "PATCH /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-06-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#update-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added commitment_line_item_id and commitment_line_item_origin_id to the response",
      "description": "Each item contains a Commitment Line Item ID and Commitment Line Item Origin ID if the Change Order Item is linked to a Commitment Line Item",
      "endpoint": "PATCH /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-09-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#update-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the item",
      "endpoint": "PATCH /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-05-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#update-requisition-subcontractor-invoice-change-order-item"
     },
     {
      "summary": "Added materials moved attributes in line item responses.",
      "description": "Added materials_moved and materials_retainage_retained_moved to line item responses.",
      "endpoint": "PATCH /requisitions/{requisition_id}/change_order_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-order-items?version=1.0#update-requisition-subcontractor-invoice-change-order-item"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}