{
 "openapi": "3.0.0",
 "info": {
  "title": "Requisition (Subcontractor Invoice) Single PDF Compilers",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Requisition (Subcontractor Invoice) Single PDF Compilers",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/requisitions/{requisition_id}/single_pdf_compilers": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "requisition_id",
     "in": "path",
     "description": "Requisition (Subcontractor Invoice) ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "polling",
     "in": "query",
     "description": "Determines if the PDF is emailed or a job URL is returned",
     "required": false,
     "schema": {
      "type": "boolean"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Merges one or more PDFs of a requisition into a single PDF",
    "description": "Merges one or more PDFs of a requisition into a single PDF. There are two ways to use this endpoint. First to generate a cover sheet for the requisition.\nIf you would like to receive a polling URL that will follow the job provide the polling option in the query params `polling=true`. If you would like the file emailed to you omit the polling param in the query params.\nYou can use the following request payload as an example\n\n````json\n{\n  \"files\":[\n    {\"type\": \"cover_sheet\", \"id\": \"\"}\n  ]\n}\n````\nIf you would like to include some attachments, you can use the following request payload as an example\n\n````json\n{\n  \"files\": [\n    {\n      \"id\": \"\",\n      \"type\": \"cover_sheet\"\n    },\n    {\n      \"id\": 1234,\n      \"url\": \"http://example.com/file_1.pdf\",\n      \"type\": \"prostore_file\"\n    }\n  ]\n}\n````",
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "files"
        ],
        "properties": {
         "files": {
          "type": "array",
          "items": {
           "type": "object",
           "description": "File associated with the requisition",
           "required": [
            "type",
            "id"
           ],
           "properties": {
            "type": {
             "type": "string",
             "description": "Type of file",
             "example": "prostore_file"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the file.",
             "example": 1234
            },
            "url": {
             "type": "string",
             "description": "Url of the file",
             "example": "https://example.com/foo.pdf"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "oneOf": [
          {
           "type": "object",
           "description": "An Invoicing Async Job URL",
           "properties": {
            "job_url": {
             "type": "string",
             "description": "URL to query for the job status",
             "example": "https://procore.com/rest/v1.0/companies/1/invoices/async_jobs/1234"
            }
           }
          },
          {
           "type": "object",
           "description": "Empty Response"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/single_pdf_compilers',\n  qs: {polling: 'SOME_BOOLEAN_VALUE', project_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {files: [{type: 'prostore_file', id: 1234, url: 'https://example.com/foo.pdf'}]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"files\\\":[{\\\"type\\\":\\\"prostore_file\\\",\\\"id\\\":1234,\\\"url\\\":\\\"https://example.com/foo.pdf\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/requisitions/%7Brequisition_id%7D/single_pdf_compilers?polling=SOME_BOOLEAN_VALUE&project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/single_pdf_compilers?polling=SOME_BOOLEAN_VALUE&project_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"files\":[{\"type\":\"prostore_file\",\"id\":1234,\"url\":\"https://example.com/foo.pdf\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/single_pdf_compilers?polling=SOME_BOOLEAN_VALUE&project_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"files\\\":[{\\\"type\\\":\\\"prostore_file\\\",\\\"id\\\":1234,\\\"url\\\":\\\"https://example.com/foo.pdf\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Merge all PDFs of a requisition into a single PDF",
      "description": "This endpoint merges the selected requisition PDFs file(s) into a single PDF file.",
      "endpoint": "POST /requisitions/{requisition_id}/single_pdf_compilers",
      "type": "feature",
      "breaking": false,
      "datestamp": "2020-07-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-single-pdf-compilers?version=1.0#merges-one-or-more-pdfs-of-a-requisition-into-a-single-pdf"
     },
     {
      "summary": "Add polling option so email isn't sent",
      "description": "Use the polling parameter with the request to access the file via a URL instead of an email",
      "endpoint": "POST /requisitions/{requisition_id}/single_pdf_compilers",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-03-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-single-pdf-compilers?version=1.0#merges-one-or-more-pdfs-of-a-requisition-into-a-single-pdf"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}