{
 "openapi": "3.0.0",
 "info": {
  "title": "Requisitions (Subcontractor Invoices)",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Requisitions (Subcontractor Invoices)",
  "version": "2.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/requisitions/{id}/payment_details": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the Requisition (Subcontractor Invoice)",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update the Due Date for a Requisition (Subcontractor Invoice)",
    "description": "Updates the Due Date for a Requisition (Subcontractor Invoice)",
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Payment Due Date",
        "type": "object",
        "properties": {
         "due_date": {
          "type": "string",
          "description": "Payment Due Date for the Requisition (Subcontractor Invoice)",
          "example": "2024-02-02"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Payment Due Date",
           "type": "object",
           "properties": {
            "due_date": {
             "type": "string",
             "description": "Payment Due Date for the Requisition (Subcontractor Invoice)",
             "example": "2024-02-02"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/requisitions/%7Bid%7D/payment_details',\n  headers: {'content-type': 'application/json'},\n  body: {due_date: '2024-02-02'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"due_date\\\":\\\"2024-02-02\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/requisitions/%7Bid%7D/payment_details\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/requisitions/%7Bid%7D/payment_details \\\n  --header 'content-type: application/json' \\\n  --data '{\"due_date\":\"2024-02-02\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/requisitions/%7Bid%7D/payment_details\"),\n    Content = new StringContent(\"{\\\"due_date\\\":\\\"2024-02-02\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/requisitions": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Requisitions (Subcontractor Invoices) for Project",
    "description": "Return a list of Requisitions (Subcontractor Invoices) on a specified project\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page, default 30",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[commitment_id]",
      "in": "query",
      "description": "Commitment ID(s). Returns item(s) with the specified Commitment ID(s).",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[period_id]",
      "in": "query",
      "description": "Billing Period ID. Returns item(s) with the specified Billing Period ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Return item(s) with the specified Requisition (Subcontractor Invoice) status.",
      "schema": {
       "type": "string",
       "enum": [
        "draft",
        "under_review",
        "revise_and_resubmit",
        "approved",
        "approved_as_noted",
        "pending_owner_approval"
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[is_last]",
      "in": "query",
      "description": "Setting this to true will return only the last item. Setting this to false will return all the items except the last one.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response. The `header_only` view is intended for split header / line-items rendering on the Subcontractor Invoicing UI: it returns the same shape as `action_policy` plus `tax_summary`, `accounting_method`, and `summary_text`, while skipping `items` and `item_packages`.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended",
        "items",
        "action_policy",
        "header_only"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Requisitions (Subcontractor Invoices)",
         "items": {
          "type": "object",
          "description": "Extended Requisition (Subcontractor Invoice)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 58820
           },
           "previous_requisition_id": {
            "type": "integer",
            "description": "ID for the previous requisition before this one on the same contract",
            "example": 58819
           },
           "project_id": {
            "type": "integer",
            "description": "Project ID",
            "example": 789
           },
           "billing_date": {
            "type": "string",
            "format": "date",
            "description": "Billing date",
            "example": "2013-11-20"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date req was created",
            "example": "2013-11-15T12:00:00Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date req was last updated",
            "example": "2013-11-15T12:00:00Z"
           },
           "commitment_id": {
            "type": "integer",
            "description": "commitment ID",
            "example": 701973
           },
           "commitment_type": {
            "type": "string",
            "description": "Commitment Type",
            "example": "WorkOrderContract"
           },
           "contract_name": {
            "type": "string",
            "description": "Contract Name",
            "example": "Contract SC-001"
           },
           "deletable": {
            "type": "boolean",
            "description": "A boolean indicating whether or not the invoice can be deleted.",
            "example": false
           },
           "final": {
            "type": "boolean",
            "description": "true or false value indicating whether or not this is the final invoice",
            "example": true,
            "nullable": true
           },
           "vendor_name": {
            "type": "string",
            "description": "Name of Vendor for Invoice",
            "example": "Ernie's Electrical"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of Vendor for Invoice",
            "example": 8881212
           },
           "invoice_number": {
            "type": "string",
            "description": "Invoice number",
            "example": 123,
            "nullable": true
           },
           "invoice_type": {
            "type": "string",
            "description": "Invoice type (present in all views)",
            "example": "progress_and_retainage_release",
            "enum": [
             "progress",
             "retainage_release",
             "progress_and_retainage_release"
            ],
            "nullable": false
           },
           "contract_invoicing_method": {
            "type": "string",
            "description": "The invoicing method for the contract, either progressive or simplified",
            "example": "progressive",
            "enum": [
             "progressive",
             "simplified"
            ],
            "nullable": false
           },
           "origin_data": {
            "type": "string",
            "description": "Requisition (Subcontractor Invoice) third party data",
            "example": "XYZ-0012",
            "nullable": true
           },
           "origin_id": {
            "type": "string",
            "description": "Requisition (Subcontractor Invoice) third party ID",
            "example": "abc-123",
            "nullable": true
           },
           "payment_date": {
            "type": "string",
            "format": "date",
            "description": "Date requisition was paid",
            "example": "2013-11-15",
            "nullable": true
           },
           "percent_complete": {
            "type": "string",
            "description": "Percent complete",
            "example": 0
           },
           "period_id": {
            "type": "integer",
            "description": "Period ID",
            "example": 4293
           },
           "requisition_start": {
            "type": "string",
            "format": "date",
            "description": "Requisition (Subcontractor Invoice) start date",
            "example": "2013-11-01"
           },
           "requisition_end": {
            "type": "string",
            "format": "date",
            "description": "Requisition (Subcontractor Invoice) end date",
            "example": "2013-11-02"
           },
           "status": {
            "type": "string",
            "enum": [
             "draft",
             "under_review",
             "revise_and_resubmit",
             "approved",
             "approved_as_noted",
             "pending_owner_approval"
            ],
            "description": "Status",
            "example": "approved"
           },
           "erp_status": {
            "type": "string",
            "description": "Current ERP status of Requisition",
            "example": "synced"
           },
           "number": {
            "type": "integer",
            "description": "Requisition (Subcontractor Invoice) number",
            "example": 1
           },
           "submitted_at": {
            "type": "string",
            "format": "date",
            "description": "Date requisition was submitted",
            "example": "2013-11-02",
            "nullable": true
           },
           "total_claimed_amount": {
            "type": "string",
            "description": "Total Claimed Amount for the Invoice",
            "example": "100.00"
           },
           "electronic_signature_id": {
            "type": "integer",
            "description": "Electronic Signature ID",
            "example": 701973
           },
           "move_materials_to_previous_work_completed": {
            "type": "boolean",
            "description": "A boolean indicating if should move materials to previous work completed.",
            "example": false
           },
           "summary_text": {
            "type": "object",
            "description": "Requisition (Subcontractor Invoice) summary text. Included when the view query param is 'extended' or 'header_only' AND the contract's invoicing method is 'progressive'. Omitted for 'simplified' contracts regardless of view.",
            "properties": {
             "project_name": {
              "type": "string",
              "description": "Name of the project",
              "example": "Project"
             },
             "project_number": {
              "type": "string",
              "description": "Number of the project",
              "example": "100"
             },
             "to_general_contractor": {
              "type": "string",
              "description": "Name of the company the requisition is for",
              "example": "Company A"
             },
             "requisition_period_start": {
              "type": "string",
              "format": "date",
              "description": "Requisition period start date",
              "example": "2010-01-01"
             },
             "requisition_period_end": {
              "type": "string",
              "format": "date",
              "description": "Requisition period end date",
              "example": "2010-01-01"
             },
             "subcontractor_name": {
              "type": "string",
              "description": "Name of the company the requisition is from",
              "example": "Company B"
             },
             "subcontractor_street": {
              "type": "string",
              "description": "Street address of the company the requisition is from",
              "example": "101 XYZ Avenue"
             },
             "subcontractor_city": {
              "type": "string",
              "description": "City of the company the requisition is from",
              "example": "New York"
             },
             "subcontractor_state_code": {
              "type": "string",
              "description": "State code of the company the requisition is from",
              "example": "NY"
             },
             "subcontractor_zip": {
              "type": "string",
              "description": "Zip code of the company the requisition is from",
              "example": "10101"
             },
             "subcontractor_country_code": {
              "type": "string",
              "description": "Country code of the company the requisition is from",
              "example": "US"
             },
             "application_number": {
              "type": "string",
              "description": "Invoice number",
              "example": "1"
             },
             "contract_for": {
              "type": "string",
              "description": "The contract title",
              "example": "Ceiling Tiles"
             },
             "contract_date": {
              "type": "string",
              "format": "date",
              "description": "Date the signed contract is received",
              "example": "2010-01-01"
             }
            }
           },
           "summary": {
            "type": "object",
            "description": "Requisition (Subcontractor Invoice) summary",
            "properties": {
             "balance_to_finish_including_retainage": {
              "type": "string",
              "description": "Balance to finish including retainage",
              "example": 1268346.55
             },
             "completed_work_retainage_percent": {
              "type": "string",
              "description": "Completed work retainage percent",
              "example": 10
             },
             "completed_work_retainage_amount": {
              "type": "string",
              "description": "Completed work retainage amount",
              "example": "1201.0"
             },
             "contract_sum_to_date": {
              "type": "string",
              "description": "Contract sum to date",
              "example": 1279159.15
             },
             "current_payment_due": {
              "type": "string",
              "description": "Current payment due",
              "example": 10812.6
             },
             "formatted_period": {
              "type": "string",
              "description": "Formatted billing period",
              "example": "01/06/19 - 30/06/19"
             },
             "less_previous_certificates_for_payment": {
              "type": "string",
              "description": "Less previous certificates for payment",
              "example": 0
             },
             "negative_change_order_item_total": {
              "type": "string",
              "description": "Negative change order item total",
              "example": 0
             },
             "negative_new_change_order_item_total": {
              "type": "string",
              "description": "Negative new change order item total",
              "example": 0
             },
             "negative_previous_change_order_item_total": {
              "type": "string",
              "description": "Negative previous change order item total",
              "example": 0
             },
             "net_change_by_change_orders": {
              "type": "string",
              "description": "Net change by change orders",
              "example": 256706.65
             },
             "original_contract_sum": {
              "type": "string",
              "description": "Original contract sum",
              "example": 1022452.5
             },
             "positive_change_order_item_total": {
              "type": "string",
              "description": "Positive change order item total",
              "example": "0.00"
             },
             "positive_new_change_order_item_total": {
              "type": "string",
              "description": "Positive new change order item total",
              "example": "0.00"
             },
             "positive_previous_change_order_item_total": {
              "type": "string",
              "description": "Positive previous change order item total",
              "example": "0.00"
             },
             "stored_materials_retainage_amount": {
              "type": "string",
              "description": "Stored materials retainage amount",
              "example": 0.4
             },
             "stored_materials_retainage_percent": {
              "type": "string",
              "description": "Stored materials retainage percent",
              "example": 10
             },
             "tax_applicable_to_this_payment": {
              "type": "string",
              "description": "Tax applicable to this payment",
              "example": 0
             },
             "total_completed_and_stored_to_date": {
              "type": "string",
              "description": "Total completed and stored to date",
              "example": 1201.4
             },
             "total_earned_less_retainage": {
              "type": "string",
              "description": "Total earned less retainage",
              "example": 10812.6
             },
             "total_retainage": {
              "type": "string",
              "description": "Total retainage",
              "example": 1201.4
             },
             "new_materials": {
              "type": "string",
              "description": "Amount of new materials added this period",
              "example": "1975.31"
             },
             "new_materials_quantity": {
              "type": "string",
              "description": "Quantity of new materials added this period, only for unit based line items",
              "example": "98.7654"
             },
             "stored_materials": {
              "type": "string",
              "description": "Amount of materials presently stored less the new materials added this period",
              "example": "716.05"
             },
             "stored_materials_quantity": {
              "type": "string",
              "description": "Quantity of materials presently stored less the new materials added this period",
              "example": "35.80249"
             }
            }
           },
           "created_by": {
            "type": "object",
            "description": "Login Information",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "login": {
              "type": "string",
              "description": "User email",
              "example": "johndoe@example.com"
             },
             "company_name": {
              "type": "string",
              "nullable": true,
              "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
              "example": "Builders Inc."
             }
            }
           },
           "subtiers_certified_by": {
            "type": "object",
            "description": "Login Information",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "login": {
              "type": "string",
              "description": "User email",
              "example": "johndoe@example.com"
             },
             "company_name": {
              "type": "string",
              "nullable": true,
              "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
              "example": "Builders Inc."
             }
            }
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field",
                "example": "custom field value"
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                "example": "phone_number"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                "example": "with_code"
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           },
           "currency_configuration": {
            "type": "object",
            "description": "Requisition (Subcontractor Invoice) Currency Configuration",
            "properties": {
             "currency_iso_code": {
              "type": "string",
              "description": "ISO Code for the Currency",
              "example": "USD"
             },
             "currency_exchange_rate": {
              "type": "number",
              "format": "float",
              "description": "The exchange rate between the invoice currency and the project currency",
              "example": 1.8
             },
             "base_currency_iso_code": {
              "type": "string",
              "description": "Project or Company ISO Code",
              "example": "EUR"
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Attachments",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "filename": {
               "type": "string",
               "description": "Filename",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpeg"
              }
             }
            }
           },
           "action_policy": {
            "allOf": [
             {
              "type": "object",
              "description": "Action policy for a Requisition (Subcontractor Invoice). Each key under `controls` is the name of an action (e.g. `update`, `destroy`, `send_to_erp`); each leaf is a `{ allowed: boolean, tooltip: string|null }` pair indicating whether the calling user can perform that action and, if not, why. Action-shaped controls (like `destroy`) nest a single `requisition` key, while field-shaped controls (like `update`) list one key per editable field; field-shaped controls may also nest an `items` object to gate edits on individual line item fields. `remove_billable_change_orders` additionally nests a `change_orders` object keyed by change order id, giving a per-change-order verdict (for example, a change order that was already billed on a previous invoice cannot be removed) alongside the requisition-level verdict.",
              "properties": {
               "controls": {
                "type": "object",
                "description": "Map of action names to their permission descriptors."
               }
              },
              "example": {
               "controls": {
                "destroy": {
                 "requisition": {
                  "allowed": false,
                  "tooltip": "Only the most recently created Invoice is deletable"
                 }
                },
                "send_to_erp": {
                 "requisition": {
                  "allowed": false,
                  "tooltip": "This invoice is not in a status that can be sent to ERP"
                 }
                },
                "remove_billable_change_orders": {
                 "requisition": {
                  "allowed": true,
                  "tooltip": null
                 },
                 "change_orders": {
                  "1": {
                   "allowed": true,
                   "tooltip": null
                  },
                  "2": {
                   "allowed": false,
                   "tooltip": "This change order cannot be deleted because it is included in another invoice."
                  }
                 }
                },
                "update": {
                 "billing_date": {
                  "allowed": true,
                  "tooltip": null
                 },
                 "status": {
                  "allowed": false,
                  "tooltip": "The status of this invoice cannot be changed because there is a workflow enabled for this project."
                 },
                 "items": {
                  "status": {
                   "allowed": true,
                   "tooltip": null
                  },
                  "work_completed_this_period": {
                   "allowed": false,
                   "tooltip": "Only the most recently created Invoice is editable or deletable"
                  }
                 }
                }
               }
              }
             },
             {
              "description": "Object that describes the action policy for the requisition. Included only when the view query param is 'action_policy', 'extended', or 'header_only'."
             }
            ]
           },
           "tax_summary": {
            "type": "array",
            "description": "Aggregated tax summary for the requisition, grouped by tax code. Included only when the view query param is 'extended' or 'header_only'.",
            "items": {
             "type": "object",
             "description": "Line Item Tax Summary",
             "properties": {
              "tax_code_id": {
               "type": "integer",
               "description": "Tax code id",
               "example": 163215
              },
              "tax_code_name": {
               "type": "string",
               "description": "Tax code name",
               "example": "HST"
              },
              "tax_code_rate": {
               "type": "number",
               "description": "Tax code rate",
               "example": 0.15
              },
              "applied_amount": {
               "type": "number",
               "description": "Total applied amount for all line items with this tax code",
               "example": 54321
              }
             }
            }
           },
           "accounting_method": {
            "type": "string",
            "enum": [
             "amount",
             "unit"
            ],
            "description": "Accounting method of the requisition's contract. Included only when the view query param is 'extended' or 'header_only'.",
            "example": "amount"
           },
           "items": {
            "type": "array",
            "description": "Requisition items. Included only when the views query param includes 'extended' or 'items'.",
            "items": {
             "type": "object",
             "description": "Requisition (Subcontractor Invoice) item",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID of the Contract Item or Contract Detail Item or Change Order Item or Whole Change Order Item",
               "example": 341256
              },
              "item_type": {
               "type": "string",
               "description": "Item Type - (contract_item, contract_detail_item, change_order_item, whole_change_order_item)",
               "example": "contract_detail_item"
              },
              "accounting_method": {
               "type": "string",
               "enum": [
                "amount",
                "unit"
               ],
               "description": "Accounting method",
               "example": "amount"
              },
              "cost_code_id": {
               "type": "integer",
               "description": "Cost Code ID",
               "example": 21585118,
               "nullable": true
              },
              "currency_configuration": {
               "type": "object",
               "description": "Requisition (Subcontractor Invoice) Currency Configuration",
               "properties": {
                "currency_iso_code": {
                 "type": "string",
                 "description": "ISO Code for the Currency",
                 "example": "USD"
                },
                "currency_exchange_rate": {
                 "type": "number",
                 "format": "float",
                 "description": "The exchange rate between the invoice currency and the project currency",
                 "example": 1.8
                },
                "base_currency_iso_code": {
                 "type": "string",
                 "description": "Project or Company ISO Code",
                 "example": "EUR"
                }
               }
              },
              "line_item_id": {
               "type": "integer",
               "description": "Line Item ID",
               "example": 3129856
              },
              "description_of_work": {
               "type": "string",
               "example": "Install windows",
               "nullable": true
              },
              "net_amount": {
               "type": "string",
               "description": "Net amount of line item",
               "example": "100.00"
              },
              "gross_amount": {
               "type": "string",
               "description": "Gross amount of line item",
               "example": "200.00"
              },
              "wbs_code": {
               "type": "object",
               "description": "Item's associated Budget Code",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 44
                },
                "flat_code": {
                 "type": "string",
                 "description": "wbs code flat code",
                 "example": "2.E"
                },
                "description": {
                 "type": "string",
                 "description": "wbs code description",
                 "example": "Earthwork.Equipment"
                },
                "segment_items": {
                 "type": "array",
                 "description": "Work breakdown structure segment items",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 55
                   },
                   "code": {
                    "type": "string",
                    "description": "Code",
                    "example": 2
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Earthwork"
                   },
                   "path_ids": {
                    "type": "array",
                    "description": "Path variable IDs",
                    "items": {
                     "type": "integer",
                     "example": [
                      55
                     ]
                    }
                   },
                   "path_codes": {
                    "type": "array",
                    "description": "Path variable codes",
                    "items": {
                     "type": "string",
                     "example": [
                      "2 - Earthwork"
                     ]
                    }
                   },
                   "segment_type": {
                    "type": "string",
                    "description": "Segment Type",
                    "example": "cost_code"
                   },
                   "segment_id": {
                    "type": "integer",
                    "description": "Segment ID"
                   }
                  }
                 }
                }
               }
              },
              "scheduled_value": {
               "type": "string",
               "description": "Scheduled value amount",
               "example": "1.00"
              },
              "work_completed_from_previous_application": {
               "type": "string",
               "description": "Work completed from previous application amount",
               "example": "0.00"
              },
              "work_completed_this_period": {
               "type": "string",
               "description": "Work completed this period amount",
               "example": "0.00"
              },
              "materials_presently_stored": {
               "type": "string",
               "description": "Amount of materials presently stored",
               "example": "2691.36"
              },
              "materials_presently_stored_quantity": {
               "type": "string",
               "description": "Quantity of the Materials presently stored, only for unit based line items",
               "example": "134.56789"
              },
              "materials_presently_stored_from_previous_progress": {
               "type": "string",
               "description": "Materials presently stored from previous progress",
               "example": "0.00"
              },
              "materials_previously_stored_quantity": {
               "type": "string",
               "description": "Quantity of the Materials stored from the previous invoice, only for unit based line items",
               "example": 12.3456
              },
              "materials_moved": {
               "type": "string",
               "description": "Materials automatically moved from previous line item into previous work completed. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
               "example": "0.00"
              },
              "materials_retainage_retained_moved": {
               "type": "string",
               "description": "Retainage on materials automatically moved from previous line item into work completed retainage amount accrued previously. This will be non-zero only if move_materials_to_previous_work_completed is true on the payment application.",
               "example": "0.00"
              },
              "total_completed_and_stored_to_date": {
               "type": "string",
               "description": "Total completed and stored to date amount",
               "example": "0.00"
              },
              "total_completed_and_stored_to_date_percent": {
               "type": "string",
               "description": "Total completed and stored to date percent",
               "example": "0.0"
              },
              "total_completed_and_stored_to_date_from_previous": {
               "type": "string",
               "description": "Total completed and stored to date from previous",
               "example": "100.00"
              },
              "work_completed_retainage_from_previous_application": {
               "type": "string",
               "description": "Work completed retainage amount from previous application",
               "example": "0.0"
              },
              "work_completed_retainage_retained_this_period": {
               "type": "string",
               "description": "Work completed retainage amount retained this period",
               "example": "0.0"
              },
              "work_completed_retainage_percent_this_period": {
               "type": "string",
               "description": "Work completed retainage percent this period",
               "example": "10.0"
              },
              "materials_stored_retainage_currently_retained": {
               "type": "string",
               "description": "Materials stored retainage amount currently retained",
               "example": "0.0"
              },
              "materials_stored_retainage_percent_this_period": {
               "type": "string",
               "description": "Materials stored retainage percent this period, present",
               "example": "10.0"
              },
              "materials_stored_retainage_new_materials": {
               "type": "string",
               "description": "Materials stored retainage from new materials, present",
               "example": "10.0"
              },
              "work_completed_retainage_released_this_period": {
               "type": "string",
               "description": "Work completed retainage amount released this period",
               "example": "0.0"
              },
              "materials_stored_retainage_released_this_period": {
               "type": "string",
               "description": "Materials stored retainage amount released this period",
               "example": "0.0"
              },
              "scheduled_quantity": {
               "type": "string",
               "description": "Scheduled quantity",
               "example": "0.0"
              },
              "scheduled_unit_price": {
               "type": "string",
               "description": "Scheduled unit price",
               "example": "20.0"
              },
              "work_completed_this_period_quantity": {
               "type": "string",
               "description": "Work completed this period quantity",
               "example": "0.0"
              },
              "work_completed_from_previous_application_quantity": {
               "type": "string",
               "description": "Work completed from previous application quantity",
               "example": "0.0"
              },
              "comment": {
               "type": "string",
               "description": "Comment",
               "example": "Installation charges",
               "nullable": true
              },
              "status": {
               "type": "string",
               "description": "Status",
               "example": "no_action"
              },
              "position": {
               "type": "integer",
               "description": "Position of this item",
               "example": 1
              },
              "line_number": {
               "type": "string",
               "description": "Line Number for the item",
               "example": "1.1"
              },
              "ssr_manual_override": {
               "type": "boolean",
               "description": "SSR Manual Override",
               "example": false
              },
              "subcontractor_claimed_amount": {
               "type": "string",
               "description": "Amount claimed by the subcontractor",
               "example": "0.0"
              },
              "previous_progress_id": {
               "type": "integer",
               "description": "ID of the previous progress for the item",
               "example": 55463
              },
              "taxes": {
               "type": "array",
               "description": "Tax code information associated with the item",
               "items": {
                "type": "object",
                "properties": {
                 "tax_code_id": {
                  "type": "integer",
                  "description": "ID of the tax code",
                  "example": 1
                 },
                 "tax_code_name": {
                  "type": "string",
                  "description": "Code of the tax code",
                  "example": "VAT"
                 },
                 "tax_code_rate": {
                  "type": "number",
                  "format": "float",
                  "description": "Rate of the tax code",
                  "example": 0.1
                 }
                }
               }
              },
              "uom": {
               "type": "string",
               "description": "Unit of measure for this line item",
               "example": "m\u00b2"
              }
             }
            }
           },
           "item_packages": {
            "type": "array",
            "description": "Requisition item packages. An item package can have either a contract or change order as its parent entity. Included only when the views query param includes 'extended' or 'items'.",
            "items": {
             "type": "object",
             "description": "Requisition (Subcontractor Invoice) item package",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID of the item package",
               "example": 341256
              },
              "contract_id": {
               "type": "integer",
               "description": "ID of the contract associated with the item package",
               "example": 341256
              },
              "change_order_id": {
               "type": "integer",
               "description": "ID of the change order associated with the item package",
               "nullable": true,
               "example": 341256
              },
              "number": {
               "type": "string",
               "description": "number associated with the item package's parent entity",
               "nullable": true,
               "example": 1
              },
              "title": {
               "type": "string",
               "description": "title associated with the item package's parent entity",
               "nullable": true,
               "example": "Contract Title"
              },
              "status": {
               "type": "string",
               "description": "status associated with the item package's parent entity",
               "example": "Approved"
              },
              "position": {
               "type": "integer",
               "description": "position associated with the item package's parent entity",
               "example": 1
              },
              "change_order_acronym_number": {
               "type": "string",
               "description": "acronym for the change order object associated with the item package. Null if the item package's parent entity is a contract.",
               "example": "PCO #003"
              },
              "change_order_request": {
               "type": "object",
               "description": "The change order request an item package is associated with. Only returned on three tier projects.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the change order request associated with the item package",
                 "nullable": true,
                 "example": 341256
                },
                "title": {
                 "type": "string",
                 "description": "title of the change order request associated with the item package",
                 "nullable": true,
                 "example": "COR Title"
                },
                "change_order_acronym_number": {
                 "type": "string",
                 "description": "acronym and number for the change order request associated with the item package",
                 "example": "COR #003"
                }
               }
              },
              "batch": {
               "type": "object",
               "description": "The change order batch an item package is associated with. Only returned on multi tier projects.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the change order batch associated with the item package",
                 "nullable": true,
                 "example": 341256
                },
                "title": {
                 "type": "string",
                 "description": "title of the change order batch associated with the item package",
                 "nullable": true,
                 "example": "COR Title"
                },
                "change_order_acronym_number": {
                 "type": "string",
                 "description": "acronym and number for the change order batch associated with the item package",
                 "example": "CCO #003"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/requisitions',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[commitment_id]': 'SOME_INTEGER_VALUE',\n    'filters[period_id]': 'SOME_INTEGER_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[origin_id]': 'SOME_STRING_VALUE',\n    'filters[is_last]': 'SOME_BOOLEAN_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/requisitions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcommitment_id%5D=SOME_INTEGER_VALUE&filters%5Bperiod_id%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Bis_last%5D=SOME_BOOLEAN_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/requisitions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcommitment_id%5D=SOME_INTEGER_VALUE&filters%5Bperiod_id%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Bis_last%5D=SOME_BOOLEAN_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/requisitions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcommitment_id%5D=SOME_INTEGER_VALUE&filters%5Bperiod_id%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Bis_last%5D=SOME_BOOLEAN_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update Requisitions (Subcontractor Invoices) now accepts a 'view' option",
      "description": "This endpoint now accepts an option 'view=action_policy' which if specified returns the action_policy associated with each requisition.",
      "endpoint": "GET /requisitions",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-08-31",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Support view parameter",
      "description": "This endpoint now supports and extends a parameter called 'view' which, when specified, can control the requisition data that is returned along on a successful response. Possible values are: 'default', 'action_policy', 'extended', 'items'",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-12-22",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added custom_fields to the output.",
      "description": "When enabled, the output will contain custom_fields associated with the project.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-04-11",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added detailed WBS Segment information to the extended response",
      "description": "Each Line Item returned with the extended response now contains detailed WBS Segment information",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-10-18",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Updated documentation to show the correct API response",
      "description": "Documentation now relflects the actual API response.",
      "endpoint": "GET /requisitions",
      "type": "fix",
      "breaking": false,
      "datestamp": "2022-10-18",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added line_number to the extended response",
      "description": "Each Line Item returned with the extended response now has a calculated line number",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-10-20",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the invoice",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "List Requisitions (Subcontractor Invoices) is now publicly available.",
      "description": "This endpoint is now publicly available.",
      "endpoint": "GET /requisitions",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-07-20",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added move_materials_to_previous_work_completed to the response.",
      "description": "Creation of new response field move_materials_to_previous_work_completed, that will tell if materials should be moved to previous work completed.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-04-29",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added stored materials fields to unit based items in response",
      "description": "Added new_materials_quantity, stored_materials_quantity, materials_previously_stored_quantity to the unit based items in the API response, and included stored materials retainage fields for unit based items in addition to amount based items.",
      "endpoint": "GET /requisitions",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-04-25",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added exchange rate and base currency code to the response",
      "description": "Currency fields added to the top level requisition as well as each line item.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added materials moved fields to items in response",
      "description": "Added materials_moved and materials_retainage_retained_moved to the items in the API response.",
      "endpoint": "GET /requisitions",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-08-21",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added Invoice Type to response",
      "description": "Added invoice_type to response.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-09-26",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added item packages attribute in response",
      "description": "Added item packages to response. These are collections of billings items that have either a contract or change order as their parent entity.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-05",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added filtering on is_last",
      "description": "Added an is_last filter. Setting this to true will return only the last requisition for each contract. Setting this to false will return all requisitions except the last one.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-05",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "custom_fields will always show independently of project settings.",
      "description": "All requisitions will now have the field `custom_fields` included automatically.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-13",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added previous_progress_id to requisition items",
      "description": "Added previous_progress_id to requisition items.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-05-21",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added tax_code information to requisition items",
      "description": "Added array of tax_code ids, tax_code_name, and tax_code_rate to requisition items.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-21",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added unit of measure (uom) field to requisition items",
      "description": "Added uom field to requisition items to specify the unit of measure for each line item.",
      "endpoint": "GET /requisitions",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-09-16",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added header_only view",
      "description": "Added a new `header_only` view value to the `view` query parameter. When specified, the response includes the default header fields plus `action_policy`, `tax_summary`, `accounting_method`, and \u2014 for `progressive` contracts only \u2014 `summary_text`. The `items` and `item_packages` collections are intentionally omitted. This view is intended for split header / line-items rendering, where the SOV line items are fetched separately.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-12",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "summary_text is now gated on progressive contracts in the extended view",
      "description": "The `summary_text` field is now only included in the response when the contract's invoicing method is `progressive`. This applies to both the `extended` and `header_only` views. Previously, the `extended` view always included `summary_text` regardless of invoicing method. Callers that relied on `summary_text` being present for `simplified` contracts in the `extended` view should update accordingly.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": true,
      "datestamp": "2026-05-25",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added subtiers_certified_by to the response",
      "description": "Added `subtiers_certified_by` to the response as an object containing the certifier's id, login, name, and company_name when a requisition has been certified as having no sub-tiers.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-23",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Added contract_invoicing_method to the response.",
      "description": "Creation of new response field contract_invoicing_method, that will tell if the contract invoicing method is progressive or simplified.",
      "endpoint": "GET /requisitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-07-12",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     },
     {
      "summary": "Notice of General Availability",
      "description": "This endpoint is now generally available (GA).",
      "endpoint": "GET /requisitions",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-29",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisitions-subcontractor-invoices?version=1.1#list-requisitions-subcontractor-invoices-for-project"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Requisition (Subcontractor Invoices) for Commitment",
    "description": "Create a new Requisition (Subcontractor Invoices) for the specified Commitment",
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response. The `header_only` view is intended for split header / line-items rendering on the Subcontractor Invoicing UI: it returns the same shape as `action_policy` plus `tax_summary`, `accounting_method`, and `summary_text`, while skipping `items` and `item_packages`.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended",
        "items",
        "action_policy",
        "header_only"
       ]
      }
     },
     {
      "name": "invite_id",
      "in": "query",
      "description": "Unique identifier for the invite to associate with the requisition.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "commitment_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Project ID",
          "example": 55001
         },
         "commitment_id": {
          "type": "integer",
          "description": "Commitment ID",
          "example": 66005
         },
         "requisition": {
          "title": "Requisition (Subcontractor Invoice)",
          "type": "object",
          "description": "Requisition (Subcontractor Invoice)",
          "properties": {
           "items": {
            "type": "array",
            "items": {
             "type": "object",
             "required": [
              "item_type"
             ],
             "properties": {
              "line_item_id": {
               "type": "integer",
               "description": "The line item id of a contract line item",
               "example": 1001
              },
              "detail_line_item_id": {
               "type": "integer",
               "description": "Contract Detail Item ID",
               "example": 1001
              },
              "item_type": {
               "type": "string",
               "description": "The type of the item your are updating. Required if you are updating a line item.",
               "enum": [
                "contract_item",
                "contract_detail_item",
                "change_order_item"
               ],
               "example": "contract_detail_item"
              },
              "work_completed_this_period": {
               "type": "string",
               "description": "The amount of work completed this period",
               "example": 1000
              },
              "materials_presently_stored": {
               "type": "string",
               "description": "The amount of materials presently stored. Only considered when neither new_materials nor stored_materials are in the input. Ingored for unit based line items.",
               "example": 500
              },
              "materials_presently_stored_from_previous_progress": {
               "type": "string",
               "description": "The amount of materials presently stored from the previous progress",
               "example": 250
              },
              "new_materials": {
               "type": "string",
               "description": "New materials amount, ignored for unit base line items.",
               "example": 30
              },
              "new_materials_quantity": {
               "type": "string",
               "description": "Quantity of new materials added. Only applicable to unit based line items.",
               "example": 30.1234
              },
              "stored_materials": {
               "type": "string",
               "description": "Previously stored materials amount, ignored for unit base line items.",
               "example": 50
              },
              "stored_materials_quantity": {
               "type": "number",
               "format": "float"
              },
              "work_completed_retainage_retained_this_period": {
               "type": "string",
               "description": "Work completed retainage amount retained this period (admin user only, work_completed_this_period should be non-zero to hold a retainage)",
               "example": 100
              },
              "materials_stored_retainage_currently_retained": {
               "type": "string",
               "description": "Materials stored retainage amount currently retained (Admin user, amount accounting only, materials_presently_stored should be non-zero to hold a retainage. Ignored unless \"Materials presently stored\" is manually managed in your configuration.)",
               "example": 50
              },
              "work_completed_retainage_released_this_period": {
               "type": "string",
               "description": "The amount of work completed retainage released this period",
               "example": 0
              },
              "work_completed_this_period_quantity": {
               "type": "string",
               "description": "Work completed this period quantity (unit accounting contract only)",
               "example": 10
              },
              "work_completed_retainage_percent_this_period": {
               "type": "string",
               "description": "Work completed percentage for this period (this field is only persisted if work_completed_this_period is zero or nil)",
               "example": 10
              },
              "materials_stored_retainage_percent_this_period": {
               "type": "string",
               "description": "Materials retainage percentage for this period (This field is only persisted if materials_presently_stored is zero or nil. Ignored unless \"Materials presently stored\" is manually managed in your configuration.)",
               "example": 10
              },
              "subcontractor_claimed_amount": {
               "type": "string",
               "description": "The total amount the subcontractor original claimed for this line",
               "example": 20.5
              },
              "status": {
               "type": "string",
               "description": "Approval status of the invoice line item",
               "enum": [
                "approved",
                "rejected",
                "no_action"
               ],
               "example": "rejected"
              },
              "comment": {
               "type": "string",
               "description": "Comment about the invoice line item",
               "example": "This work was not yet completed"
              }
             }
            }
           },
           "period_id": {
            "type": "integer",
            "description": "Period ID",
            "example": 20093
           },
           "requisition_start": {
            "type": "string",
            "format": "date",
            "description": "Requisition (Subcontractor Invoice) start date",
            "example": "2013-10-01"
           },
           "requisition_end": {
            "type": "string",
            "format": "date",
            "description": "Requisition (Subcontractor Invoice) end date",
            "example": "2013-10-31"
           },
           "billing_date": {
            "type": "string",
            "format": "date",
            "description": "Billing date",
            "example": "2013-10-31"
           },
           "final": {
            "type": "boolean",
            "description": "true or false value indicating whether or not this is the final invoice",
            "example": true
           },
           "invoice_number": {
            "type": "string",
            "description": "Invoice number",
            "example": "ABC-1234"
           },
           "payment_date": {
            "type": "string",
            "format": "date",
            "description": "Date requisition was paid",
            "example": "2013-11-15"
           },
           "origin_data": {
            "type": "string",
            "description": "Requisition (Subcontractor Invoice) third party data",
            "example": "XYZ-0012"
           },
           "origin_id": {
            "type": "string",
            "description": "Requisition (Subcontractor Invoice) third party ID",
            "example": "abc-123"
           },
           "status": {
            "type": "string",
            "enum": [
             "draft",
             "under_review",
             "revise_and_resubmit",
             "approved",
             "approved_as_noted",
             "pending_owner_approval"
            ],
            "description": "Status; admin can set any status, standard and billing recipient can set to under_review (submit) or draft (save)",
            "example": "under_review"
           },
           "submitted_at": {
            "type": "string",
            "format": "date",
            "description": "Date requisition was submitted",
            "example": "2013-11-02"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "An array of Prostore File IDs. The Prostore Files will be associated with the Requisition (Subcontractor Invoice) as attachments.",
            "items": {
             "type": "integer"
            },
            "example": [
             42
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "An array of Upload UUIDs. The Uploads will be associated with the Requisition (Subcontractor Invoice) as attachments.",
            "items": {
             "type": "string",
             "description": "Upload IDs",
             "example": [
              "01HZB4TFFBZWDQ92N3RJFM5J2Z",
              "01HZB4TFERXDDQ354NTB09GEA6"
             ]
            }
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Extended Requisition (Subcontractor Invoice)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 58820
          },
          "previous_requisition_id": {
           "type": "integer",
           "description": "ID for the previous requisition before this one on the same contract",
           "example": 58819
          },
          "project_id": {
           "type": "integer",
           "description": "Project ID",
           "example": 789
          },
          "billing_date": {
           "type": "string",
           "format": "date",
           "description": "Billing date",
           "example": "2013-11-20"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date req was created",
           "example": "2013-11-15T12:00:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date req was last updated",
           "example": "2013-11-15T12:00:00Z"
          },
          "commitment_id": {
           "type": "integer",
           "description": "commitment ID",
           "example": 701973
          },
          "commitment_type": {
           "type": "string",
           "description": "Commitment Type",
           "example": "WorkOrderContract"
          },
          "contract_name": {
           "type": "string",
           "description": "Contract Name",
           "example": "Contract SC-001"
          },
          "deletable": {
           "type": "boolean",
           "description": "A boolean indicating whether or not the invoice can be deleted.",
           "example": false
          },
          "final": {
           "type": "boolean",
           "description": "true or false value indicating whether or not this is the final invoice",
           "example": true,
           "nullable": true
          },
          "vendor_name": {
           "type": "string",
           "description": "Name of Vendor for Invoice",
           "example": "Ernie's Electrical"
          },
          "vendor_id": {
           "type": "integer",
           "description": "ID of Vendor for Invoice",
           "example": 8881212
          },
          "invoice_number": {
           "type": "string",
           "description": "Invoice number",
           "example": 123,
           "nullable": true
          },
          "invoice_type": {
           "type": "string",
           "description": "Invoice type (present in all views)",
           "example": "progress_and_retainage_release",
           "enum": [
            "progress",
            "retainage_release",
            "progress_and_retainage_release"
           ],
           "nullable": false
          },
          "contract_invoicing_method": {
           "type": "string",
           "description": "The invoicing method for the contract, either progressive or simplified",
           "example": "progressive",
           "enum": [
            "progressive",
            "simplified"
           ],
           "nullable": false
          },
          "origin_data": {
           "type": "string",
           "description": "Requisition (Subcontractor Invoice) third party data",
           "example": "XYZ-0012",
           "nullable": true
          },
          "origin_id": {
           "type": "string",
           "description": "Requisition (Subcontractor Invoice) third party ID",
           "example": "abc-123",
           "nullable": true
          },
          "payment_date": {
           "type": "string",
           "format": "date",
           "description": "Date requisition was paid",
           "example": "2013-11-15",
           "nullable": true
          },
          "percent_complete": {
           "type": "string",
           "description": "Percent complete",
           "example": 0
          },
          "period_id": {
           "type": "integer",
           "description": "Period ID",
           "example": 4293
          },
          "requisition_start": {
           "type": "string",
           "format": "date",
           "description": "Requisition (Subcontractor Invoice) start date",
           "example": "2013-11-01"
          },
          "requisition_end": {
           "type": "string",
           "format": "date",
           "description": "Requisition (Subcontractor Invoice) end date",
           "example": "2013-11-02"
          },
          "status": {
           "type": "string",
           "enum": [
            "draft",
            "under_review",
            "revise_and_resubmit",
            "approved",
            "approved_as_noted",
            "pending_owner_approval"
           ],
           "description": "Status",
           "example": "approved"
          },
          "erp_status": {
           "type": "string",
           "description": "Current ERP status of Requisition",
           "example": "synced"
          },
          "number": {
           "type": "integer",
           "description": "Requisition (Subcontractor Invoice) number",
           "example": 1
          },
          "submitted_at": {
           "type": "string",
           "format": "date",
           "description": "Date requisition was submitted",
           "example": "2013-11-02",
           "nullable": true
          },
          "total_claimed_amount": {
           "type": "string",
           "description": "Total Claimed Amount for the Invoice",
           "example": "100.00"
          },
          "electronic_signature_id": {
           "type": "integer",
           "description": "Electronic Signature ID",
           "example": 701973
          },
          "move_materials_to_previous_work_completed": {
           "type": "boolean",
           "description": "A boolean indicating if should move materials to previous work completed.",
           "example": false
          },
          "summary_text": {
           "type": "object",
           "description": "Requisition (Subcontractor Invoice) summary text. Included when the view query param is 'extended' or 'header_only' AND the contract's invoicing method is 'progressive'. Omitted for 'simplified' contracts regardless of view.",
           "properties": {
            "project_name": {
             "type": "string",
             "description": "Name of the project",
             "example": "Project"
            },
            "project_number": {
             "type": "string",
             "description": "Number of the project",
             "example": "100"
            },
            "to_general_contractor": {
             "type": "string",
             "description": "Name of the company the requisition is for",
             "example": "Company A"
            },
[...]
