{
 "openapi": "3.0.0",
 "info": {
  "title": "Requisition (Subcontractor Invoice) Change Histories",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Requisition (Subcontractor Invoice) Change Histories",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/requisitions/{requisition_id}/change_histories": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "requisition_id",
     "in": "path",
     "description": "Requisition (Subcontractor Invoice) ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Requisition (Subcontractor Invoice) Change Histories",
    "description": "Return a list of Requisition (Subcontractor Invoice) Change Histories",
    "tags": [
     "Requisitions (Subcontractor Invoices)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Change Histories",
         "items": {
          "type": "object",
          "description": "Invoice Change History",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 101
           },
           "column": {
            "type": "string",
            "description": "Name of the column changed",
            "example": "assignee_id"
           },
           "old_value": {
            "type": "string",
            "description": "Value of the column before change",
            "example": "The original title"
           },
           "new_value": {
            "type": "string",
            "description": "Value of the column after change",
            "example": "The updated title"
           },
           "action_by": {
            "type": "string",
            "description": "Name of the person who made the change",
            "example": "Tom Sawyer"
           },
           "action_by_id": {
            "type": "integer",
            "description": "ID of the person who made the change",
            "example": 1011
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created date",
            "example": "2018-05-08T13:21:20Z"
           },
           "ref_id": {
            "type": "integer",
            "description": "The reference ID for the change",
            "example": 5424666
           },
           "ref_type": {
            "type": "string",
            "description": "The rereference type for the change",
            "example": "Billings::Requisition"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_histories',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/requisitions/%7Brequisition_id%7D/change_histories?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_histories?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/change_histories?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Requisition (Subcontractor Invoice) Change Histories endpoint",
      "description": "This endpoint returns the change history associated with a requisition",
      "endpoint": "GET /requisitions/{requisition_id}/change_histories",
      "type": "new",
      "breaking": false,
      "datestamp": "2020-07-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "requisition-subcontractor-invoice-change-histories?version=1.0#list-requisition-subcontractor-invoice-change-histories"
     }
    ]
   },
   "x-compliance-level": "partial"
  }
 }
}