{
 "openapi": "3.0.0",
 "info": {
  "title": "Notification Profiles",
  "x-product-category": "Resource Management",
  "x-tool-category": "Resource Planning",
  "x-resource-name": "Resource Planning Notification Profiles",
  "version": "1.0",
  "x-product-lines": [
   "Resource Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/workforce-planning/v2/companies/{company_id}/notification-profiles": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Resource Planning Notification Profiles",
    "description": "Returns all of the Resource Planning Notification Profile data for the given company",
    "tags": [
     "Resource Planning"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "description": "The number of Notification Profile records to return per page.",
      "schema": {
       "type": "integer",
       "example": 10
      }
     },
     {
      "name": "starting_after",
      "in": "query",
      "required": false,
      "description": "Cursor for forward pagination. Pass the value of `pagination.next_starting_after` from the previous response to fetch the next page.",
      "schema": {
       "type": "string",
       "format": "uuid",
       "example": "0020107c-77cf-4cc8-b5bf-b5f6e1edfef6"
      }
     },
     {
      "name": "starting_before",
      "in": "query",
      "required": false,
      "description": "Cursor for reverse pagination. Pass the value of `pagination.previous_starting_before` from the previous response to fetch the prior page.",
      "schema": {
       "type": "string",
       "format": "uuid",
       "example": "7a2d8fcc-bd8e-49df-9cdb-00f55c07bea0"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Paginated response schema for Resource Planning Notification Profiles.",
         "properties": {
          "data": {
           "type": "array",
           "description": "List of Notification Profiles for the given company.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "format": "uuid",
              "description": "Unique identifier for the Notification Profile.",
              "example": "7a2d8fcc-bd8e-49df-9cdb-00f55c07bea0"
             },
             "company_id": {
              "type": "string",
              "format": "uuid",
              "description": "Unique identifier for the Company this Notification Profile belongs to.",
              "example": "eece1984-4c8d-4736-96c9-397ba86b0713"
             },
             "name": {
              "type": "string",
              "description": "Name of the Notification Profile.",
              "example": "A4"
             },
             "assigned_as_project_role": {
              "type": "boolean",
              "description": "Determines if notifications are scoped to people assigned in a project role context.",
              "example": false
             },
             "assignment_created": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when an assignment is created. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "none"
             },
             "assignment_deleted": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when an assignment is deleted. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "users"
             },
             "assignment_edited": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when an assignment is edited. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "groups"
             },
             "assignment_ending": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when an assignment is ending soon. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "projects"
             },
             "assignment_starting": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when an assignment is starting soon. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "projects"
             },
             "person_existence_changed": {
              "type": "boolean",
              "description": "Determines if a notification is sent when a person is created or deleted.",
              "example": true
             },
             "person_groups_changed": {
              "type": "boolean",
              "description": "Determines if a notification is sent when a person's group membership changes.",
              "example": false
             },
             "person_status_changed": {
              "type": "boolean",
              "description": "Determines if a notification is sent when a person's status changes (e.g., active/inactive).",
              "example": false
             },
             "person_tag_expiring": {
              "type": "boolean",
              "description": "Determines if a notification is sent when a person's tag is expiring soon.",
              "example": true
             },
             "person_tag_warning": {
              "type": "boolean",
              "description": "Determines if a notification is sent as an early warning before a person's tag expires.",
              "example": false
             },
             "project_existence_changed": {
              "type": "boolean",
              "description": "Determines if a notification is sent when a project is created or deleted.",
              "example": false
             },
             "project_groups_changed": {
              "type": "boolean",
              "description": "Determines if a notification is sent when a project's group membership changes.",
              "example": false
             },
             "project_status_changed": {
              "type": "boolean",
              "description": "Determines if a notification is sent when a project's status changes.",
              "example": false
             },
             "request_created": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when a resource request is created. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "groups"
             },
             "request_deleted": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when a resource request is deleted. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "none"
             },
             "request_edited": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when a resource request is edited. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "groups"
             },
             "request_ending": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when a resource request is ending soon. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "projects"
             },
             "request_filled": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when a resource request is filled. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "groups"
             },
             "request_starting": {
              "type": "string",
              "enum": [
               "none",
               "users",
               "groups",
               "projects"
              ],
              "description": "Notification audience when a resource request is starting soon. - `none` - No notification sent. - `users` - Notify assigned users only. - `groups` - Notify members of relevant groups. - `projects` - Notify all people on the project.",
              "example": "none"
             }
            }
           }
          },
          "pagination": {
           "type": "object",
           "description": "Pagination metadata for the Notification Profiles response.",
           "properties": {
            "limit": {
             "type": "integer",
             "description": "The number of records returned in the response.",
             "example": 10
            },
            "next_starting_after": {
             "type": "string",
             "format": "uuid",
             "nullable": true,
             "description": "The ID of the last record in the current page, used as a cursor to fetch the next page. Null when there are no further pages.",
             "example": "0020107c-77cf-4cc8-b5bf-b5f6e1edfef6"
            },
            "previous_starting_before": {
             "type": "string",
             "format": "uuid",
             "nullable": true,
             "description": "The ID of the first record in the current page, used as a cursor to fetch the previous page. Null when there are no prior pages.",
             "example": null
            },
            "total_possible": {
             "type": "integer",
             "description": "The total number of Notification Profile records available for the company.",
             "example": 38
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "string",
           "example": "Unauthorized",
           "description": "If you receive a 401 error, please ensure you are following the OAuth 2.0 guidelines outlined at https://developers.procore.com/documentation/introduction and verify you can successfully call the /me endpoint using your access token. Additionally, the user associated with that token must be added as a user in the Workforce Planning People List for the corresponding company."
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/workforce-planning/v2/companies/%7Bcompany_id%7D/notification-profiles',\n  qs: {\n    limit: '10',\n    starting_after: '0020107c-77cf-4cc8-b5bf-b5f6e1edfef6',\n    starting_before: '7a2d8fcc-bd8e-49df-9cdb-00f55c07bea0'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/workforce-planning/v2/companies/%7Bcompany_id%7D/notification-profiles?limit=10&starting_after=0020107c-77cf-4cc8-b5bf-b5f6e1edfef6&starting_before=7a2d8fcc-bd8e-49df-9cdb-00f55c07bea0\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/workforce-planning/v2/companies/%7Bcompany_id%7D/notification-profiles?limit=10&starting_after=0020107c-77cf-4cc8-b5bf-b5f6e1edfef6&starting_before=7a2d8fcc-bd8e-49df-9cdb-00f55c07bea0'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/workforce-planning/v2/companies/%7Bcompany_id%7D/notification-profiles?limit=10&starting_after=0020107c-77cf-4cc8-b5bf-b5f6e1edfef6&starting_before=7a2d8fcc-bd8e-49df-9cdb-00f55c07bea0\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}