{
 "openapi": "3.0.0",
 "info": {
  "title": "RFIs",
  "x-product-category": "Project Management",
  "x-tool-category": "RFI",
  "x-resource-name": "RFIs",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/rfis/export": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Download RFIs List",
    "description": "Downloads a PDF or CSV of the RFIs List",
    "tags": [
     "RFIs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Search Query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "export_format",
      "in": "query",
      "description": "File format for the export - 'pdf' or 'csv'.",
      "schema": {
       "type": "string",
       "enum": [
        "pdf",
        "csv"
       ]
      }
     },
     {
      "name": "table_configuration_for_export",
      "in": "query",
      "description": "Table configuration for the export that controls which columns are visible and their order in the generated PDF or CSV.\n\nWhen provided, the export will respect both the column visibility settings and the column order from the frontend table configuration.\nColumns marked as `hidden: true` will be excluded from the export, and visible columns will appear in the same order \nas specified in the columnState array.\n\nIf this parameter is not provided, the export will use default column visibility and order based on configurable field sets.\n",
      "schema": {
       "type": "object",
       "description": "Table configuration object containing column state information",
       "properties": {
        "columnState": {
         "type": "array",
         "description": "Array of column configuration objects that determines both visibility and order of columns in the export",
         "items": {
          "type": "object",
          "properties": {
           "field": {
            "type": "string",
            "description": "The field name/identifier for the column. The order of fields in the array determines the column order in the export.",
            "enum": [
             "subject",
             "received_from_login_information_id",
             "revision",
             "status",
             "position",
             "responsible_contractor_id",
             "initiated_at",
             "rfi_manager_id",
             "assignees",
             "ball_in_courts",
             "due_date",
             "time_resolved",
             "location_id",
             "schedule_impact",
             "cost_impact",
             "cost_code_id",
             "sub_job_id",
             "project_stage_id",
             "priority",
             "private"
            ]
           },
           "hidden": {
            "type": "boolean",
            "description": "Whether the column should be hidden in the export"
           }
          },
          "required": [
           "field",
           "hidden"
          ],
          "additionalProperties": true
         }
        }
       },
       "example": {
        "columnState": [
         {
          "field": "position",
          "hidden": false
         },
         {
          "field": "subject",
          "hidden": false
         },
         {
          "field": "status",
          "hidden": false
         },
         {
          "field": "assignees",
          "hidden": false
         },
         {
          "field": "due_date",
          "hidden": false
         },
         {
          "field": "initiated_at",
          "hidden": false
         },
         {
          "field": "priority",
          "hidden": false
         },
         {
          "field": "responsible_contractor_id",
          "hidden": true
         },
         {
          "field": "ball_in_courts",
          "hidden": false
         },
         {
          "field": "location_id",
          "hidden": true
         },
         {
          "field": "private",
          "hidden": true
         }
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "string",
         "description": "CSV Format (if export_format=csv)",
         "example": "#,Created By,Initiated At,Assigned,Due Date,Subject,Responsible Contractor,Received From,Cost Impact,Cost Impact Value,Schedule Impact,Schedule Impact Value,Drawing Number,Reference,Closed Date,Cost Code,Location,Closed?,Ball In Court,Latest Assignee Response Date,Private,\"\",\"\"\n61,\"The Contractor, Carl \",2017-02-16,\"The Contractor, Carl\",2017-02-19,An Interesting Subject,,,\"\",,\"\",,\"\",\"\",\"\",N/A,,false,\"The Contractor, Carl\",02/16/17,true,,"
        }
       }
      }
     },
     "202": {
      "description": "Accepted"
     },
     "400": {
      "description": "Bad Request - returned when an unsupported `export_format` is provided (only `pdf` and `csv` are accepted).",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/export',\n  qs: {\n    'filters[query]': 'SOME_STRING_VALUE',\n    export_format: 'SOME_STRING_VALUE',\n    columnState: '[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/rfis/export?filters%5Bquery%5D=SOME_STRING_VALUE&export_format=SOME_STRING_VALUE&columnState=%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/export?filters%5Bquery%5D=SOME_STRING_VALUE&export_format=SOME_STRING_VALUE&columnState=%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/export?filters%5Bquery%5D=SOME_STRING_VALUE&export_format=SOME_STRING_VALUE&columnState=%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D%2C%5Bobject%20Object%5D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Improved error response for invalid export_format on RFI list export",
      "description": "The RFIs list export endpoint now returns a 400 Bad Request with a clear validation message when an unsupported `export_format` is provided. Only `csv` and `pdf` are accepted. Previously, unsupported values caused a 500 Internal Server Error.",
      "endpoint": "GET /projects/{project_id}/rfis/export",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-22",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfis?version=1.0#download-rfis-list"
     },
     {
      "summary": "Documented table_configuration_for_export on the RFI export endpoint",
      "description": "The RFI export documentation now describes the `table_configuration_for_export` parameter, which controls which columns appear in the generated PDF or CSV and in what order. When omitted, the export falls back to default column visibility and ordering.",
      "endpoint": "GET /projects/{project_id}/rfis/export",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-30",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfis?version=1.1#download-rfis-list"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/rfis/{id}/advance_ball_in_court": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "RFI ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Advance Ball in Court",
    "description": "Advances the ball in court to the specified ball in court.\nThe RFI Manager can move ball in court between the RFI Manager and the Assignee.\nThe Assignee can move the ball in court back to the RFI Manager, if the Assignee has responded.",
    "tags": [
     "RFIs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "created_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "link": {
             "type": "string",
             "format": "url",
             "description": "Web link to resource",
             "example": "https://app.procore.com/123456/project/rfi/show/123456"
            },
            "location_id": {
             "type": "integer",
             "description": "ID of the associated Location",
             "example": 999
            },
            "specification_section_id": {
             "type": "integer",
             "description": "ID of the associated Specification Section",
             "example": 999
            },
            "questions": {
             "type": "array",
             "description": "RFI Questions",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 999
               },
               "body": {
                "type": "string",
                "description": "Body",
                "example": "<p>Are the items listed on Schedule C acceptable?</p>"
               },
               "errors": {
                "type": "array",
                "description": "Errors",
                "items": {
                 "type": "object",
                 "properties": {
                  "errors": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 999
            },
            "assignee": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "assignees": {
             "type": "array",
             "description": "RFI Assignees",
             "items": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "locale": {
                  "type": "string",
                  "description": "User locale",
                  "example": "en"
                 },
                 "response_required": {
                  "type": "boolean",
                  "description": "Designate whether or not the assignee is required to respond",
                  "example": true
                 }
                }
               }
              ]
             }
            },
            "ball_in_court": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "ball_in_courts": {
             "type": "array",
             "description": "Ball In Courts",
             "items": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 }
                }
               }
              ]
             }
            },
            "cost_code": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            "cost_impact": {
             "type": "object",
             "properties": {
              "status": {
               "type": "string",
               "description": "Cost impact status",
               "example": "yes_known",
               "enum": [
                "yes_known",
                "yes_unknown",
                "no_impact",
                "tbd",
                "n_a"
               ]
              },
              "value": {
               "type": "number",
               "format": "float",
               "description": "Cost impact value in dollars",
               "example": 12039.55
              }
             }
            },
            "created_at": {
             "type": "string",
             "description": "Date created",
             "format": "date-time",
             "example": "2016-08-23T15:23:57Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Deleted status (this is only shown on deleted records)",
             "example": true
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Time deleted (this is only shown on deleted records)",
             "example": "2016-08-23T15:23:57Z"
            },
            "due_date": {
             "oneOf": [
              {
               "type": "string",
               "format": "date"
              },
              {
               "type": "string",
               "format": "date-time"
              }
             ],
             "description": "Due Date",
             "example": "2017-01-18"
            },
            "initiated_at": {
             "type": "string",
             "description": "Date initiated",
             "format": "date-time",
             "example": "2016-08-23T15:23:57Z"
            },
            "location": {
             "type": "object",
             "title": "Location",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Location ID",
               "example": 15504
              },
              "name": {
               "type": "string",
               "description": "Location name",
               "example": "1space>1 space"
              },
              "node_name": {
               "type": "string",
               "description": "Location node name",
               "example": "1 space"
              },
              "parent_id": {
               "type": "integer",
               "description": "Location parent id",
               "example": 788866
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of Location creation",
               "example": "2016-08-01T23:33:54Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Location",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "full_number": {
             "type": "string",
             "description": "Full Number",
             "example": "C-1477"
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": 1477
            },
            "prefix": {
             "type": "string",
             "description": "Prefix",
             "example": "C"
            },
            "private": {
             "type": "boolean",
             "description": "Private Status",
             "example": true
            },
            "project_stage": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "default_stage": {
               "type": "boolean",
               "description": "Default Stage",
               "example": true
              },
              "dependent_projects": {
               "type": "integer",
               "description": "Dependent Projects count",
               "example": 0
              },
              "formatted_name": {
               "type": "string",
               "description": "Formatted Name",
               "example": "Course of Construction"
              },
              "formatted_parent_name": {
               "type": "string",
               "description": "Formatted Parent Name",
               "example": "Course of Construction"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Course of Construction"
              },
              "parent_id": {
               "type": "integer",
               "description": "Construction Volume Stage ID. Returns null if prefix is linked to a project stage that is the parent.",
               "example": 12345
              },
              "procore_category": {
               "type": "boolean",
               "description": "Indicates whether the project stage the prefix is linked to is a Construction Volume default stage.",
               "example": false
              }
             }
            },
            "received_from": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "reference": {
             "type": "string",
             "description": "Reference",
             "example": "Schedule C"
            },
            "responsible_contractor": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            "rfi_manager": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "schedule_impact": {
             "type": "object",
             "properties": {
              "status": {
               "type": "string",
               "description": "Schedule impact status",
               "example": "yes_known",
               "enum": [
                "yes_known",
                "yes_unknown",
                "no_impact",
                "tbd",
                "n_a"
               ]
              },
              "value": {
               "type": "integer",
               "description": "Schedule impact value",
               "example": 14
              }
             }
            },
            "status": {
             "type": "string",
             "description": "Status",
             "example": "open",
             "enum": [
              "open",
              "closed",
              "draft",
              "closed_with_revision",
              "closed_draft"
             ]
            },
            "translated_status": {
             "type": "string",
             "description": "Translated RFI status",
             "example": "Abierto"
            },
            "sub_job": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 3483483
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Floor 2"
              },
              "code": {
               "type": "string",
               "description": "Unique code in the scope of a Project",
               "example": 18
              }
             }
            },
            "subject": {
             "type": "string",
             "description": "Subject",
             "example": "Specifications [99 14.44B]"
            },
            "revision": {
             "type": "string",
             "description": "Revision Number",
             "example": "5"
            },
            "current_revision": {
             "type": "boolean",
             "description": "Designate whether or not this RFI is the latest revision",
             "example": true
            },
            "has_revisions": {
             "type": "boolean",
             "description": "Designate whether or not this RFI has other revisions",
             "example": true
            },
            "source_rfi_header_id": {
             "type": "integer",
             "description": "The ID of The Root RFI Revision",
             "example": 12345
            },
            "time_resolved": {
             "type": "string",
             "format": "date-time",
             "description": "Time RFI was closed",
             "example": "2017-01-12T17:09:15Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated at",
             "example": "2012-10-24T21:39:40Z"
            },
            "connect_export_origin": {
             "nullable": true,
             "description": "Export origin information for RFIs received via cross-account collaboration. Null for RFIs not received via export.",
             "type": "object",
             "properties": {
              "source_provider_name": {
               "type": "string",
               "description": "The originating company name (cross-company export) or project name (same-company export).",
               "example": "SC Subcontractors"
              },
              "rfi_number": {
               "type": "string",
               "description": "The originating RFI number. Returns \"Draft\" if the source RFI was a draft at export time.",
               "example": "RFI-042"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/%7Bid%7D/advance_ball_in_court',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"PATCH\", \"/rest/v1.1/projects/%7Bproject_id%7D/rfis/%7Bid%7D/advance_ball_in_court\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/%7Bid%7D/advance_ball_in_court \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/%7Bid%7D/advance_ball_in_court\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/rfis/{id}/forward_for_review": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "RFI ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Forward For Review",
    "description": "Assignee can forward the RFI to a forwardee who becomes a new ball in court.",
    "tags": [
     "RFIs"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "rfi"
        ],
        "properties": {
         "rfi": {
          "type": "object",
          "properties": {
           "forwardee_ids": {
            "type": "array",
            "description": "An array of IDs of the Forwardees of the RFI\n*Only existing assignees can set this field when ball in court is in Assignees' court\n**Can only forward to one forwardee",
            "items": {
             "type": "integer"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "created_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "link": {
             "type": "string",
             "format": "url",
             "description": "Web link to resource",
             "example": "https://app.procore.com/123456/project/rfi/show/123456"
            },
            "location_id": {
             "type": "integer",
             "description": "ID of the associated Location",
             "example": 999
            },
            "specification_section_id": {
             "type": "integer",
             "description": "ID of the associated Specification Section",
             "example": 999
            },
            "questions": {
             "type": "array",
             "description": "RFI Questions",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 999
               },
               "body": {
                "type": "string",
                "description": "Body",
                "example": "<p>Are the items listed on Schedule C acceptable?</p>"
               },
               "errors": {
                "type": "array",
                "description": "Errors",
                "items": {
                 "type": "object",
                 "properties": {
                  "errors": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 999
            },
            "assignee": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "assignees": {
             "type": "array",
             "description": "RFI Assignees",
             "items": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "locale": {
                  "type": "string",
                  "description": "User locale",
                  "example": "en"
                 },
                 "response_required": {
                  "type": "boolean",
                  "description": "Designate whether or not the assignee is required to respond",
                  "example": true
                 }
                }
               }
              ]
             }
            },
            "ball_in_court": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "ball_in_courts": {
             "type": "array",
             "description": "Ball In Courts",
             "items": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 }
                }
               }
              ]
             }
            },
            "cost_code": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            "cost_impact": {
             "type": "object",
             "properties": {
              "status": {
               "type": "string",
               "description": "Cost impact status",
               "example": "yes_known",
               "enum": [
                "yes_known",
                "yes_unknown",
                "no_impact",
                "tbd",
                "n_a"
               ]
              },
              "value": {
               "type": "number",
               "format": "float",
               "description": "Cost impact value in dollars",
               "example": 12039.55
              }
             }
            },
            "created_at": {
             "type": "string",
             "description": "Date created",
             "format": "date-time",
             "example": "2016-08-23T15:23:57Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Deleted status (this is only shown on deleted records)",
             "example": true
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Time deleted (this is only shown on deleted records)",
             "example": "2016-08-23T15:23:57Z"
            },
            "due_date": {
             "oneOf": [
              {
               "type": "string",
               "format": "date"
              },
              {
               "type": "string",
               "format": "date-time"
              }
             ],
             "description": "Due Date",
             "example": "2017-01-18"
            },
            "initiated_at": {
             "type": "string",
             "description": "Date initiated",
             "format": "date-time",
             "example": "2016-08-23T15:23:57Z"
            },
            "location": {
             "type": "object",
             "title": "Location",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Location ID",
               "example": 15504
              },
              "name": {
               "type": "string",
               "description": "Location name",
               "example": "1space>1 space"
              },
              "node_name": {
               "type": "string",
               "description": "Location node name",
               "example": "1 space"
              },
              "parent_id": {
               "type": "integer",
               "description": "Location parent id",
               "example": 788866
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of Location creation",
               "example": "2016-08-01T23:33:54Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Location",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "full_number": {
             "type": "string",
             "description": "Full Number",
             "example": "C-1477"
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": 1477
            },
            "prefix": {
             "type": "string",
             "description": "Prefix",
             "example": "C"
            },
            "private": {
             "type": "boolean",
             "description": "Private Status",
             "example": true
            },
            "project_stage": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "default_stage": {
               "type": "boolean",
               "description": "Default Stage",
               "example": true
              },
              "dependent_projects": {
               "type": "integer",
               "description": "Dependent Projects count",
               "example": 0
              },
              "formatted_name": {
               "type": "string",
               "description": "Formatted Name",
               "example": "Course of Construction"
              },
              "formatted_parent_name": {
               "type": "string",
               "description": "Formatted Parent Name",
               "example": "Course of Construction"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Course of Construction"
              },
              "parent_id": {
               "type": "integer",
               "description": "Construction Volume Stage ID. Returns null if prefix is linked to a project stage that is the parent.",
               "example": 12345
              },
              "procore_category": {
               "type": "boolean",
               "description": "Indicates whether the project stage the prefix is linked to is a Construction Volume default stage.",
               "example": false
              }
             }
            },
            "received_from": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "reference": {
             "type": "string",
             "description": "Reference",
             "example": "Schedule C"
            },
            "responsible_contractor": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            "rfi_manager": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "schedule_impact": {
             "type": "object",
             "properties": {
              "status": {
               "type": "string",
               "description": "Schedule impact status",
               "example": "yes_known",
               "enum": [
                "yes_known",
                "yes_unknown",
                "no_impact",
                "tbd",
                "n_a"
               ]
              },
              "value": {
               "type": "integer",
               "description": "Schedule impact value",
               "example": 14
              }
             }
            },
            "status": {
             "type": "string",
             "description": "Status",
             "example": "open",
             "enum": [
              "open",
              "closed",
              "draft",
              "closed_with_revision",
              "closed_draft"
             ]
            },
            "translated_status": {
             "type": "string",
             "description": "Translated RFI status",
             "example": "Abierto"
            },
            "sub_job": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 3483483
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Floor 2"
              },
              "code": {
               "type": "string",
               "description": "Unique code in the scope of a Project",
               "example": 18
              }
             }
            },
            "subject": {
             "type": "string",
             "description": "Subject",
             "example": "Specifications [99 14.44B]"
            },
            "revision": {
             "type": "string",
             "description": "Revision Number",
             "example": "5"
            },
            "current_revision": {
             "type": "boolean",
             "description": "Designate whether or not this RFI is the latest revision",
             "example": true
            },
            "has_revisions": {
             "type": "boolean",
             "description": "Designate whether or not this RFI has other revisions",
             "example": true
            },
            "source_rfi_header_id": {
             "type": "integer",
             "description": "The ID of The Root RFI Revision",
             "example": 12345
            },
            "time_resolved": {
             "type": "string",
             "format": "date-time",
             "description": "Time RFI was closed",
             "example": "2017-01-12T17:09:15Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated at",
             "example": "2012-10-24T21:39:40Z"
            },
            "connect_export_origin": {
             "nullable": true,
             "description": "Export origin information for RFIs received via cross-account collaboration. Null for RFIs not received via export.",
             "type": "object",
             "properties": {
              "source_provider_name": {
               "type": "string",
               "description": "The originating company name (cross-company export) or project name (same-company export).",
               "example": "SC Subcontractors"
              },
              "rfi_number": {
               "type": "string",
               "description": "The originating RFI number. Returns \"Draft\" if the source RFI was a draft at export time.",
               "example": "RFI-042"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/%7Bid%7D/forward_for_review',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {rfi: {forwardee_ids: [0]}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"rfi\\\":{\\\"forwardee_ids\\\":[0]}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.1/projects/%7Bproject_id%7D/rfis/%7Bid%7D/forward_for_review\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/%7Bid%7D/forward_for_review \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"rfi\":{\"forwardee_ids\":[0]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/rfis/%7Bid%7D/forward_for_review\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"rfi\\\":{\\\"forwardee_ids\\\":[0]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/rfis": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List RFIs",
    "description": "Returns all RFIs in a specified Project.\n\nUse the `serializer_view` query parameter to request alternate list item response shapes for existing web or mobile clients.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "RFIs"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified RFI ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Return item(s) with the specified RFI status or statuses.",
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "enum": [
          "open",
          "closed",
          "draft",
          "closed_with_revision",
          "closed_draft"
         ]
        },
        {
         "type": "array",
         "items": {
          "type": "string",
          "enum": [
           "open",
           "closed",
           "draft",
           "closed_with_revision",
           "closed_draft"
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[assigned_id]",
      "in": "query",
      "description": "Return item(s) with the specified Assigned ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[responsible_contractor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Responsible Contractor ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[cost_code_id]",
      "in": "query",
      "description": "Return item(s) with the specified Cost Code ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[received_from_login_information_id]",
      "in": "query",
      "description": "Return item(s) with the specified Received From Login Information ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[ball_in_court_id]",
      "in": "query",
      "description": "Return item(s) where the specified User ID or IDs are Ball in Court. ID values may be sent as integers or numeric query-string values.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Return item(s) with the specified Location ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "example": 45
        },
        {
         "type": "string",
         "format": "integer",
         "example": "45"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer",
            "example": 45
           },
           {
            "type": "string",
            "format": "integer",
            "example": "45"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[for_location_id_with_sublocations]",
      "in": "query",
      "description": "Return item(s) with the specified Location ID or IDs, including their sublocations. ID values may be sent as integers or numeric query-string values.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[initiated_at]",
      "in": "query",
      "description": "Return item(s) initiated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "title": "range",
       "example": "2026-07-01T00:00:00Z...2026-07-31T23:59:59Z"
      }
     },
     {
      "name": "filters[rfi_manager_id]",
      "in": "query",
      "description": "Return item(s) with the specified RFI Manager ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[number]",
      "in": "query",
      "description": "Return item(s) with the specified RFI number or full number.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "string"
        },
        {
         "type": "array",
         "items": {
          "type": "string"
         }
        }
       ]
      }
     },
     {
      "name": "filters[prefix_stage_id]",
      "in": "query",
      "description": "Return item(s) with the specified RFI Prefix Stage ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[current_revision]",
      "in": "query",
      "description": "When true, excludes RFIs that are closed with a newer revision.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "boolean"
        },
        {
         "type": "array",
         "items": {
          "type": "boolean"
         }
        }
       ]
      }
     },
     {
      "name": "filters[sub_job_id]",
      "in": "query",
      "description": "Return item(s) with the specified Sub Job ID or IDs. ID values may be sent as integers or numeric query-string values.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer"
        },
        {
         "type": "string",
         "format": "integer"
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "integer"
           },
           {
            "type": "string",
            "format": "integer"
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[priority]",
      "in": "query",
      "description": "Return item(s) with the specified RFI priority or priorities.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "enum": [
          "low",
          "medium",
          "high",
          "urgent"
         ]
        },
        {
         "type": "integer",
         "enum": [
          0,
          1,
          2,
          3
         ]
        },
        {
         "type": "string",
         "enum": [
          "0",
          "1",
          "2",
          "3"
         ]
        },
        {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "string",
            "enum": [
             "low",
             "medium",
             "high",
             "urgent"
            ]
           },
           {
            "type": "integer",
            "enum": [
             0,
             1,
             2,
             3
            ]
           },
           {
            "type": "string",
            "enum": [
             "0",
             "1",
             "2",
             "3"
            ]
           }
          ]
         }
        }
       ]
      }
     },
     {
      "name": "filters[linked_to_connected_rfis]",
      "in": "query",
      "description": "Legacy alias of `filters[linked_to_external_rfis]`, which is the preferred parameter name. Returns RFIs linked to an external (connected) RFI when `true`, and RFIs with no such link when `false`. Sending both with conflicting values returns an empty result set.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[linked_to_external_rfis]",
      "in": "query",
      "description": "Returns RFIs linked to an external (connected) RFI when `true`, and RFIs with no such link when `false`. This is the preferred parameter name; `filters[linked_to_connected_rfis]` is a legacy alias that resolves to the same filter. Sending both with conflicting values returns an empty result set.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[overdue]",
      "in": "query",
      "description": "Returns only overdue RFIs. The filter applies whenever the parameter is present and the value is not evaluated, so `filters[overdue]=false` returns the same overdue results as `true`. Omit the parameter to include RFIs regardless of due date.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "oneOf": [
        {
         "type": "boolean"
        },
        {
         "type": "array",
         "items": {
          "type": "boolean"
         }
        }
       ]
      }
     },
     {
      "name": "serializer_view",
      "in": "query",
      "description": "Controls the RFI list item response shape. The default response schema shown\nfor this endpoint documents the standard list item shape; the values below\nreturn alternate shapes used by existing clients.\n\n- `ids_only` - Returns an array of RFI IDs only. Filters and pagination apply\n  as usual, but `search`, `q`, and `sort[attribute]` are ignored for this\n  view; results are always ordered by RFI ID descending.\n- `base_web_index` - Returns compact web index objects containing only the RFI\n  ID, full RFI number, and subject.\n- `web_index` - Returns web index objects with list display fields, full\n  object associations for project stage, cost code, location, sub job,\n  responsible contractor, user fields, assignees, ball-in-court users, custom\n  fields, requester edit permissions, linked external RFIs, and connected RFI\n  origin data.\n- `flatten_v0` - Returns flattened mobile-compatible objects with related\n  resource IDs instead of several full objects, question and answer data,\n  assignees, ball-in-court users, distribution list users, linked external\n  RFIs, deletion metadata, and connected RFI origin data.\n- Default (not specified) - Returns the standard RFI list item shape shown in\n  the response schema.\n\nUnrecognized values are not rejected. Any value outside the list above returns\nthe default RFI list item shape, so a misspelled view returns a successful\nresponse in the wrong shape.\n",
      "schema": {
       "type": "string",
       "enum": [
        "ids_only",
        "base_web_index",
        "web_index",
        "flatten_v0"
       ]
      },
      "required": false
     },
     {
      "name": "as_datetimes",
      "in": "query",
      "description": "When true, returns date fields as datetime format",
      "schema": {
       "type": "boolean",
       "default": false
      },
      "required": false
     },
     {
      "name": "search",
      "in": "query",
      "description": "Search for RFIs by subject or number. This parameter will return all RFIs that match the search term.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "q",
      "in": "query",
      "description": "Alias for `search`. Search for RFIs by subject or number.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort[attribute]",
      "in": "query",
      "description": "Field to sort the RFI list by.",
      "schema": {
       "type": "string",
       "enum": [
        "assigned_id",
        "ball_in_court_id",
        "cost_code_id",
        "cost_impact",
        "created_by_id",
        "date_created",
        "drawing_number",
        "due_date",
        "due_date_variance",
        "initiated_at",
        "location_id",
        "number",
        "position",
        "priority",
        "received_from_login_information_id",
        "reference",
        "responsible_contractor_id",
        "schedule_impact",
        "specification_section_id",
        "status",
        "subject",
        "time_resolved",
        "rfi_manager_id"
       ]
      }
     },
     {
      "name": "sort[direction]",
      "in": "query",
      "description": "Sort direction. Only applies when `sort[attribute]` is also set.",
      "schema": {
       "type": "string",
       "enum": [
        "asc",
        "desc"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "ids_only",
           "description": "When `serializer_view=ids_only`",
           "type": "array",
           "items": {
            "type": "integer"
           }
          },
          {
           "title": "default",
           "description": "When `serializer_view` is omitted",
           "type": "array",
           "items": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "created_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               },
               "link": {
                "type": "string",
                "format": "url",
                "description": "Web link to resource",
                "example": "https://app.procore.com/123456/project/rfi/show/123456"
               },
               "location_id": {
                "type": "integer",
                "description": "ID of the associated Location",
                "example": 999
               },
               "specification_section_id": {
                "type": "integer",
                "description": "ID of the associated Specification Section",
                "example": 999
               },
               "questions": {
                "type": "array",
                "description": "RFI Questions",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 999
                  },
                  "body": {
                   "type": "string",
                   "description": "Body",
                   "example": "<p>Are the items listed on Schedule C acceptable?</p>"
                  },
                  "errors": {
                   "type": "array",
                   "description": "Errors",
                   "items": {
                    "type": "object",
                    "properties": {
                     "errors": {
                      "type": "string"
                     }
                    }
                   }
                  }
                 }
                }
               },
               "custom_fields": {
                "type": "object",
                "properties": {
                 "custom_field_%{custom_field_string_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "string"
                   },
                   "value": {
                    "type": "string",
                    "description": "The value of the custom field.",
                    "example": "custom field value"
                   }
                  }
                 },
                 "custom_field_%{custom_field_decimal_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "decimal"
                   },
                   "value": {
                    "type": "number",
                    "description": "The value of the custom field.",
                    "example": 2.2
                   }
                  }
                 },
                 "custom_field_%{custom_field_boolean_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "boolean"
                   },
                   "value": {
                    "type": "boolean",
                    "description": "The value of the custom field.",
                    "example": true
                   }
                  }
                 },
                 "custom_field_%{custom_field_lov_entry_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "lov_entry"
                   },
                   "value": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "The unique identifier of the list of values (LOV) entry.",
                      "example": 1
                     },
                     "label": {
                      "type": "string",
                      "description": "Label of the list of values (LOV) entry.",
                      "example": "Open"
                     }
                    }
                   }
                  }
                 },
                 "custom_field_%{custom_field_lov_entries_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "lov_entries"
                   },
                   "value": {
                    "type": "array",
                    "items": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "The unique identifier of the list of values (LOV) entry.",
                       "example": 2
                      },
                      "label": {
                       "type": "string",
                       "description": "The label of the list of values (LOV) entry.",
                       "example": "Open"
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 999
               },
               "assignee": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               },
               "assignees": {
                "type": "array",
                "description": "RFI Assignees",
                "items": {
                 "allOf": [
                  {
                   "type": "object",
                   "properties": {
                    "login": {
                     "type": "string",
                     "description": "Email",
                     "example": "carl.contractor@example.com"
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "example": 161072
                    },
                    "name": {
                     "type": "string",
                     "example": "Carl the Contractor"
                    },
                    "locale": {
                     "type": "string",
                     "description": "User locale",
                     "example": "en"
                    },
                    "response_required": {
                     "type": "boolean",
                     "description": "Designate whether or not the assignee is required to respond",
                     "example": true
                    }
                   }
                  }
                 ]
                }
               },
               "ball_in_court": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               },
               "ball_in_courts": {
                "type": "array",
                "description": "Ball In Courts",
                "items": {
                 "allOf": [
                  {
                   "type": "object",
                   "properties": {
                    "login": {
                     "type": "string",
                     "description": "Email",
                     "example": "carl.contractor@example.com"
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "example": 161072
                    },
                    "name": {
                     "type": "string",
                     "example": "Carl the Contractor"
                    }
                   }
                  }
                 ]
                }
               },
               "cost_code": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               "cost_impact": {
                "type": "object",
                "properties": {
                 "status": {
                  "type": "string",
                  "description": "Cost impact status",
                  "example": "yes_known",
                  "enum": [
                   "yes_known",
                   "yes_unknown",
                   "no_impact",
                   "tbd",
                   "n_a"
                  ]
                 },
                 "value": {
                  "type": "number",
                  "format": "float",
                  "description": "Cost impact value in dollars",
                  "example": 12039.55
                 }
                }
               },
               "created_at": {
                "type": "string",
                "description": "Date created",
                "format": "date-time",
                "example": "2016-08-23T15:23:57Z"
               },
               "deleted": {
                "type": "boolean",
                "description": "Deleted status (this is only shown on deleted records)",
                "example": true
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time deleted (this is only shown on deleted records)",
                "example": "2016-08-23T15:23:57Z"
               },
               "due_date": {
                "oneOf": [
                 {
                  "type": "string",
                  "format": "date"
                 },
                 {
                  "type": "string",
                  "format": "date-time"
                 }
                ],
                "description": "Due Date",
                "example": "2017-01-18"
               },
               "initiated_at": {
                "type": "string",
                "description": "Date initiated",
                "format": "date-time",
                "example": "2016-08-23T15:23:57Z"
               },
               "location": {
                "type": "object",
                "title": "Location",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Location ID",
                  "example": 15504
                 },
                 "name": {
                  "type": "string",
                  "description": "Location name",
                  "example": "1space>1 space"
                 },
                 "node_name": {
                  "type": "string",
[...]
