{
 "openapi": "3.0.0",
 "info": {
  "title": "RFQs",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "RFQs",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/rfqs/{rfq_id}/quotes": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "rfq_id",
     "in": "path",
     "description": "RFQ ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List RFQ Quotes",
    "description": "Return a list of all Quotes in a specified RFQ.",
    "tags": [
     "RFQs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "Contract ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "title": "RFQ Quote",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 105445
           },
           "commitment_quote_number": {
            "type": "string",
            "description": "Commitment quote number",
            "example": 2234
           },
           "cost": {
            "type": "number",
            "format": "float",
            "description": "Cost",
            "example": "4500.0"
           },
           "schedule_impact": {
            "type": "integer",
            "description": "Schedule impact",
            "example": 2
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Need to destroy some of the roofing to install this staircase."
           },
           "request_for_quote_id": {
            "type": "integer",
            "description": "RFQ ID",
            "example": 136264
           },
           "attachments_count": {
            "type": "integer",
            "description": "Attachments count",
            "example": 1
           },
           "import_origin_id": {
            "type": "string",
            "description": "Import origin ID",
            "example": "QWA44H"
           },
           "created_by_id": {
            "type": "integer",
            "description": "Created by ID \u2014 DEPRECATED, please use \"created_by\" instead",
            "example": 5136213
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2016-10-21T21:39:41Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deleted at",
            "example": "2016-10-23T21:44:45Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2016-10-22T21:41:42Z"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Array of prostore file ids",
            "items": {
             "type": "integer"
            },
            "example": [
             2334,
             776843,
             22456
            ]
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "filename.ext"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    contract_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/rfqs/%7Brfq_id%7D/quotes?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments are now included in the LIST response for RFQ Quotes",
      "description": "Updated the LIST response to contain attachments associated to the RFQ Quote",
      "endpoint": "GET /rfqs/{rfq_id}/quotes",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfqs?version=1.0#list-rfq-quotes"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create RFQ Quote",
    "description": "Create a new Quote in a specified RFQ.",
    "tags": [
     "RFQs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id",
         "contract_id",
         "rfq_quote"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project."
         },
         "contract_id": {
          "type": "integer",
          "description": "Contract ID"
         },
         "rfq_quote": {
          "title": "RFQ Quote",
          "type": "object",
          "properties": {
           "commitment_quote_number": {
            "type": "string",
            "description": "Commitment quote number",
            "example": 45
           },
           "cost": {
            "type": "number",
            "format": "float",
            "description": "Cost",
            "example": 3653
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Need to rip out and reinstall windows. Keep the painter out of the area."
           },
           "schedule_impact": {
            "type": "integer",
            "description": "Schedule impact",
            "example": 145
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "RFQ Quote",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 105445
          },
          "commitment_quote_number": {
           "type": "string",
           "description": "Commitment quote number",
           "example": 2234
          },
          "cost": {
           "type": "number",
           "format": "float",
           "description": "Cost",
           "example": "4500.0"
          },
          "schedule_impact": {
           "type": "integer",
           "description": "Schedule impact",
           "example": 2
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Need to destroy some of the roofing to install this staircase."
          },
          "request_for_quote_id": {
           "type": "integer",
           "description": "RFQ ID",
           "example": 136264
          },
          "attachments_count": {
           "type": "integer",
           "description": "Attachments count",
           "example": 1
          },
          "import_origin_id": {
           "type": "string",
           "description": "Import origin ID",
           "example": "QWA44H"
          },
          "created_by_id": {
           "type": "integer",
           "description": "Created by ID \u2014 DEPRECATED, please use \"created_by\" instead",
           "example": 5136213
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2016-10-21T21:39:41Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2016-10-23T21:44:45Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2016-10-22T21:41:42Z"
          },
          "prostore_file_ids": {
           "type": "array",
           "description": "Array of prostore file ids",
           "items": {
            "type": "integer"
           },
           "example": [
            2334,
            776843,
            22456
           ]
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "filename.ext"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 0,\n    contract_id: 0,\n    rfq_quote: {\n      commitment_quote_number: 45,\n      cost: 3653,\n      description: 'Need to rip out and reinstall windows. Keep the painter out of the area.',\n      schedule_impact: 145\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":0,\\\"contract_id\\\":0,\\\"rfq_quote\\\":{\\\"commitment_quote_number\\\":45,\\\"cost\\\":3653,\\\"description\\\":\\\"Need to rip out and reinstall windows. Keep the painter out of the area.\\\",\\\"schedule_impact\\\":145}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/rfqs/%7Brfq_id%7D/quotes\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":0,\"contract_id\":0,\"rfq_quote\":{\"commitment_quote_number\":45,\"cost\":3653,\"description\":\"Need to rip out and reinstall windows. Keep the painter out of the area.\",\"schedule_impact\":145}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes\"),\n    Content = new StringContent(\"{\\\"project_id\\\":0,\\\"contract_id\\\":0,\\\"rfq_quote\\\":{\\\"commitment_quote_number\\\":45,\\\"cost\\\":3653,\\\"description\\\":\\\"Need to rip out and reinstall windows. Keep the painter out of the area.\\\",\\\"schedule_impact\\\":145}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments are now included in the CREATE response for RFQ Quotes",
      "description": "Updated the CREATE response to contain attachments associated to the RFQ Quote",
      "endpoint": "POST /rfqs/{rfq_id}/quotes",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfqs?version=1.0#create-rfq-quote"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/rfqs/{rfq_id}/quotes/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "rfq_id",
     "in": "path",
     "description": "RFQ ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "RFQ Quote ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show RFQ Quote",
    "description": "Return detailed information about a specified Quote in a specified RFQ.",
    "tags": [
     "RFQs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "Contract ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "RFQ Quote",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 105445
          },
          "commitment_quote_number": {
           "type": "string",
           "description": "Commitment quote number",
           "example": 2234
          },
          "cost": {
           "type": "number",
           "format": "float",
           "description": "Cost",
           "example": "4500.0"
          },
          "schedule_impact": {
           "type": "integer",
           "description": "Schedule impact",
           "example": 2
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Need to destroy some of the roofing to install this staircase."
          },
          "request_for_quote_id": {
           "type": "integer",
           "description": "RFQ ID",
           "example": 136264
          },
          "attachments_count": {
           "type": "integer",
           "description": "Attachments count",
           "example": 1
          },
          "import_origin_id": {
           "type": "string",
           "description": "Import origin ID",
           "example": "QWA44H"
          },
          "created_by_id": {
           "type": "integer",
           "description": "Created by ID \u2014 DEPRECATED, please use \"created_by\" instead",
           "example": 5136213
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2016-10-21T21:39:41Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2016-10-23T21:44:45Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2016-10-22T21:41:42Z"
          },
          "prostore_file_ids": {
           "type": "array",
           "description": "Array of prostore file ids",
           "items": {
            "type": "integer"
           },
           "example": [
            2334,
            776843,
            22456
           ]
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "filename.ext"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', contract_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/rfqs/%7Brfq_id%7D/quotes/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments are now included in the SHOW response for RFQ Quotes",
      "description": "Updated the SHOW response to contain attachments associated to the RFQ Quote",
      "endpoint": "GET /rfqs/{rfq_id}/quotes/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfqs?version=1.0#show-rfq-quote"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update RFQ Quote",
    "description": "Update a specified Quote in a specified RFQ.",
    "tags": [
     "RFQs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id",
         "contract_id",
         "rfq_quote"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project."
         },
         "contract_id": {
          "type": "integer",
          "description": "Contract ID"
         },
         "rfq_quote": {
          "title": "RFQ Quote",
          "type": "object",
          "properties": {
           "commitment_quote_number": {
            "type": "string",
            "description": "Commitment quote number",
            "example": 45
           },
           "cost": {
            "type": "number",
            "format": "float",
            "description": "Cost",
            "example": 3653
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Need to rip out and reinstall windows. Keep the painter out of the area."
           },
           "schedule_impact": {
            "type": "integer",
            "description": "Schedule impact",
            "example": 145
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "RFQ Quote",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 105445
          },
          "commitment_quote_number": {
           "type": "string",
           "description": "Commitment quote number",
           "example": 2234
          },
          "cost": {
           "type": "number",
           "format": "float",
           "description": "Cost",
           "example": "4500.0"
          },
          "schedule_impact": {
           "type": "integer",
           "description": "Schedule impact",
           "example": 2
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Need to destroy some of the roofing to install this staircase."
          },
          "request_for_quote_id": {
           "type": "integer",
           "description": "RFQ ID",
           "example": 136264
          },
          "attachments_count": {
           "type": "integer",
           "description": "Attachments count",
           "example": 1
          },
          "import_origin_id": {
           "type": "string",
           "description": "Import origin ID",
           "example": "QWA44H"
          },
          "created_by_id": {
           "type": "integer",
           "description": "Created by ID \u2014 DEPRECATED, please use \"created_by\" instead",
           "example": 5136213
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2016-10-21T21:39:41Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2016-10-23T21:44:45Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2016-10-22T21:41:42Z"
          },
          "prostore_file_ids": {
           "type": "array",
           "description": "Array of prostore file ids",
           "items": {
            "type": "integer"
           },
           "example": [
            2334,
            776843,
            22456
           ]
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "filename.ext"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 0,\n    contract_id: 0,\n    rfq_quote: {\n      commitment_quote_number: 45,\n      cost: 3653,\n      description: 'Need to rip out and reinstall windows. Keep the painter out of the area.',\n      schedule_impact: 145\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":0,\\\"contract_id\\\":0,\\\"rfq_quote\\\":{\\\"commitment_quote_number\\\":45,\\\"cost\\\":3653,\\\"description\\\":\\\"Need to rip out and reinstall windows. Keep the painter out of the area.\\\",\\\"schedule_impact\\\":145}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/rfqs/%7Brfq_id%7D/quotes/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":0,\"contract_id\":0,\"rfq_quote\":{\"commitment_quote_number\":45,\"cost\":3653,\"description\":\"Need to rip out and reinstall windows. Keep the painter out of the area.\",\"schedule_impact\":145}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/quotes/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":0,\\\"contract_id\\\":0,\\\"rfq_quote\\\":{\\\"commitment_quote_number\\\":45,\\\"cost\\\":3653,\\\"description\\\":\\\"Need to rip out and reinstall windows. Keep the painter out of the area.\\\",\\\"schedule_impact\\\":145}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments are now included in the UPDATE response for RFQ Quotes",
      "description": "Updated the UPDATE response to contain attachments associated to the RFQ Quote",
      "endpoint": "PATCH /rfqs/{rfq_id}/quotes/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfqs?version=1.0#update-rfq-quote"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/rfqs/{rfq_id}/responses": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "rfq_id",
     "in": "path",
     "description": "RFQ ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List RFQ Responses",
    "description": "Return a list of all Responses in a specified RFQ.",
    "tags": [
     "RFQs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "Contract ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "title": "RFQ Response",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 105
           },
           "comment": {
            "type": "string",
            "description": "Comment in response to the latest quote",
            "example": "This quote needs to be revised. See attached files."
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2016-10-22T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deleted at",
            "example": "2016-10-30T21:39:40Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2016-10-26T21:39:40Z"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore file IDs",
            "example": [
             3453247,
             6543893,
             3476145
            ],
            "items": {
             "type": "integer"
            }
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "filename.ext"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    contract_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/rfqs/%7Brfq_id%7D/responses?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments are now included in the LIST response for RFQ Responses",
      "description": "Updated the LIST response to contain attachments associated to the RFQ Response",
      "endpoint": "GET /rfqs/{rfq_id}/responses",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfqs?version=1.0#list-rfq-responses"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create RFQ Response",
    "description": "Create a new Response in a specified RFQ.",
    "tags": [
     "RFQs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id",
         "contract_id",
         "rfq_response"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 256754
         },
         "contract_id": {
          "type": "integer",
          "description": "Contract ID",
          "example": 392745
         },
         "rfq_response": {
          "type": "object",
          "title": "RFQ Response",
          "properties": {
           "comment": {
            "type": "string",
            "description": "Comment in response to the latest quote",
            "example": "This quote needs to be revised. See attached files."
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore file IDs",
            "example": [
             3453247,
             6543893,
             3476145
            ],
            "items": {
             "type": "integer"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "RFQ Response",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 105
          },
          "comment": {
           "type": "string",
           "description": "Comment in response to the latest quote",
           "example": "This quote needs to be revised. See attached files."
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2016-10-22T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2016-10-30T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2016-10-26T21:39:40Z"
          },
          "prostore_file_ids": {
           "type": "array",
           "description": "Prostore file IDs",
           "example": [
            3453247,
            6543893,
            3476145
           ],
           "items": {
            "type": "integer"
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "filename.ext"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 256754,\n    contract_id: 392745,\n    rfq_response: {\n      comment: 'This quote needs to be revised. See attached files.',\n      prostore_file_ids: [3453247, 6543893, 3476145]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":256754,\\\"contract_id\\\":392745,\\\"rfq_response\\\":{\\\"comment\\\":\\\"This quote needs to be revised. See attached files.\\\",\\\"prostore_file_ids\\\":[3453247,6543893,3476145]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/rfqs/%7Brfq_id%7D/responses\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":256754,\"contract_id\":392745,\"rfq_response\":{\"comment\":\"This quote needs to be revised. See attached files.\",\"prostore_file_ids\":[3453247,6543893,3476145]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses\"),\n    Content = new StringContent(\"{\\\"project_id\\\":256754,\\\"contract_id\\\":392745,\\\"rfq_response\\\":{\\\"comment\\\":\\\"This quote needs to be revised. See attached files.\\\",\\\"prostore_file_ids\\\":[3453247,6543893,3476145]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments are now included in the CREATE response for RFQ Responses",
      "description": "Updated the CREATE response to contain attachments associated to the RFQ Response",
      "endpoint": "POST /rfqs/{rfq_id}/responses",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfqs?version=1.0#create-rfq-response"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/rfqs/{rfq_id}/responses/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "rfq_id",
     "in": "path",
     "description": "RFQ ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show RFQ Response",
    "description": "Return detailed information about a specified Response in a specified RFQ.",
    "tags": [
     "RFQs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "Contract ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "RFQ Response",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 105
          },
          "comment": {
           "type": "string",
           "description": "Comment in response to the latest quote",
           "example": "This quote needs to be revised. See attached files."
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2016-10-22T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2016-10-30T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2016-10-26T21:39:40Z"
          },
          "prostore_file_ids": {
           "type": "array",
           "description": "Prostore file IDs",
           "example": [
            3453247,
            6543893,
            3476145
           ],
           "items": {
            "type": "integer"
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "filename.ext"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', contract_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/rfqs/%7Brfq_id%7D/responses/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments are now included in the SHOW response for RFQ Responses",
      "description": "Updated the SHOW response to contain attachments associated to the RFQ Response",
      "endpoint": "GET /rfqs/{rfq_id}/responses/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfqs?version=1.0#show-rfq-response"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update RFQ Response",
    "description": "Update a specified Response in a specified RFQ.",
    "tags": [
     "RFQs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id",
         "contract_id",
         "rfq_response"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 256754
         },
         "contract_id": {
          "type": "integer",
          "description": "Contract ID",
          "example": 392745
         },
         "rfq_response": {
          "type": "object",
          "title": "RFQ Response",
          "properties": {
           "comment": {
            "type": "string",
            "description": "Comment in response to the latest quote",
            "example": "This quote needs to be revised. See attached files."
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore file IDs",
            "example": [
             3453247,
             6543893,
             3476145
            ],
            "items": {
             "type": "integer"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "RFQ Response",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 105
          },
          "comment": {
           "type": "string",
           "description": "Comment in response to the latest quote",
           "example": "This quote needs to be revised. See attached files."
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2016-10-22T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2016-10-30T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2016-10-26T21:39:40Z"
          },
          "prostore_file_ids": {
           "type": "array",
           "description": "Prostore file IDs",
           "example": [
            3453247,
            6543893,
            3476145
           ],
           "items": {
            "type": "integer"
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "filename.ext"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 256754,\n    contract_id: 392745,\n    rfq_response: {\n      comment: 'This quote needs to be revised. See attached files.',\n      prostore_file_ids: [3453247, 6543893, 3476145]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":256754,\\\"contract_id\\\":392745,\\\"rfq_response\\\":{\\\"comment\\\":\\\"This quote needs to be revised. See attached files.\\\",\\\"prostore_file_ids\\\":[3453247,6543893,3476145]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/rfqs/%7Brfq_id%7D/responses/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":256754,\"contract_id\":392745,\"rfq_response\":{\"comment\":\"This quote needs to be revised. See attached files.\",\"prostore_file_ids\":[3453247,6543893,3476145]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/rfqs/%7Brfq_id%7D/responses/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":256754,\\\"contract_id\\\":392745,\\\"rfq_response\\\":{\\\"comment\\\":\\\"This quote needs to be revised. See attached files.\\\",\\\"prostore_file_ids\\\":[3453247,6543893,3476145]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments are now included in the UPDATE response for RFQ Responses",
      "description": "Updated the UPDATE response to contain attachments associated to the RFQ Response",
      "endpoint": "PATCH /rfqs/{rfq_id}/responses/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "rfqs?version=1.0#update-rfq-response"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/rfqs": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List RFQs",
    "description": "Return a list of all RFQs in a specified Project and Contract.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "RFQs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "Contract ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Returns item(s) with the specified value for RFQ status.",
      "schema": {
       "type": "string",
       "enum": [
        "out_for_pricing",
        "revise_and_resubmit",
        "under_review",
        "pending_final_approval",
        "closed",
        "withdrawn"
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[commitment_contract_id]",
      "in": "query",
      "description": "Return item(s) with the specified Commitment Contract ID.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "title": "RFQ",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 1199
           },
           "commitment_contract_id": {
            "type": "integer",
            "description": "Commitment Contract ID",
            "example": 418232
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2016-06-30T20:41:58Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deleted at",
            "example": "2016-08-30T18:11:43Z"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Please see attached documentation for Bulletin 3 and provide pricing within 1 week. If you don't get back to me, I'll assume you have no cost impact."
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "description": "Due date",
            "example": "2016-10-13"
           },
           "estimated_amount": {
            "type": "number",
            "format": "float",
            "description": "Estimated amount",
            "example": "4302.0"
           },
           "estimated_schedule_impact": {
            "type": "integer",
            "description": "Estimated schedule impact in days",
            "example": 2
           },
           "estimated_status": {
            "type": "string",
            "description": "Estimated status",
            "example": "rom",
            "enum": [
             "rom",
             "final"
            ]
           },
           "intent_to_quote": {
            "type": "boolean",
            "description": "Intent to quote status",
            "example": false
           },
           "number": {
            "type": "string",
            "description": "Number",
            "example": "013"
           },
           "original_quote": {
            "type": "number",
            "format": "float",
            "description": "Original quote",
            "example": "4500.0"
           },
           "position": {
            "type": "integer",
            "description": "Position",
            "example": 13
           },
           "private": {
            "type": "boolean",
            "description": "If true, visible to admins only; otherwise visible to those with access to the parent contract.",
            "example": true
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore File IDs",
            "example": [
             3423484,
             6983730,
             2736492
            ],
            "items": {
             "type": "integer"
            }
           },
           "status": {
            "type": "string",
            "description": "Status",
            "example": "under_review",
            "enum": [
             "out_for_pricing",
             "revise_and_resubmit",
             "under_review",
             "pending_final_approval",
             "closed",
             "withdrawn"
            ]
           },
           "title": {
            "type": "string",
            "description": "Title",
            "example": "Field Bulletin #3 - Steel staircase on roof"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2016-08-30T18:11:43Z"
           },
           "specification_section": {
            "type": "object",
            "description": "Specification Section",
            "properties": {
             "specification_section_id": {
              "type": "integer",
              "description": "ID",
              "example": 32379
             },
             "spec_section_description": {
              "type": "string",
              "description": "Description",
              "example": "Steel Structure"
             },
             "spec_section_number": {
              "type": "string",
              "description": "Number",
              "example": 236400
             }
            }
           },
           "quotes": {
            "type": "array",
            "description": "Quotes",
            "items": {
             "type": "object",
             "title": "RFQ Quote",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 105445
              },
              "commitment_quote_number": {
               "type": "string",
               "description": "Commitment quote number",
               "example": 2234
              },
              "cost": {
               "type": "number",
               "format": "float",
               "description": "Cost",
               "example": "4500.0"
              },
              "schedule_impact": {
               "type": "integer",
               "description": "Schedule impact",
               "example": 2
              },
              "description": {
               "type": "string",
               "description": "Description",
               "example": "Need to destroy some of the roofing to install this staircase."
              },
              "request_for_quote_id": {
               "type": "integer",
               "description": "RFQ ID",
               "example": 136264
              },
              "attachments_count": {
               "type": "integer",
               "description": "Attachments count",
               "example": 1
              },
              "import_origin_id": {
               "type": "string",
               "description": "Import origin ID",
               "example": "QWA44H"
              },
              "created_by_id": {
               "type": "integer",
               "description": "Created by ID \u2014 DEPRECATED, please use \"created_by\" instead",
               "example": 5136213
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2016-10-21T21:39:41Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2016-10-23T21:44:45Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2016-10-22T21:41:42Z"
              },
              "prostore_file_ids": {
               "type": "array",
               "description": "Array of prostore file ids",
               "items": {
                "type": "integer"
               },
               "example": [
                2334,
                776843,
                22456
               ]
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
[...]
