{
 "openapi": "3.0.0",
 "info": {
  "title": "Roles",
  "x-product-category": "Company Admin",
  "x-tool-category": "Company Settings",
  "x-resource-name": "Roles",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/roles": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Roles",
    "description": "Return a list of roles for a company.",
    "tags": [
     "Roles"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 100
      }
     },
     {
      "name": "filters[users_only]",
      "in": "query",
      "description": "If true, returns only project roles of type contact.",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Roles",
           "items": {
            "title": "Role",
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID",
              "example": "12345"
             },
             "add_to_project_team": {
              "type": "boolean",
              "default": true
             },
             "archetype": {
              "type": "string",
              "example": "owner"
             },
             "deletable": {
              "type": "boolean",
              "example": true,
              "readOnly": true
             },
             "display_on_company_home": {
              "type": "boolean",
              "example": true
             },
             "name": {
              "type": "string",
              "example": "Owner"
             },
             "type": {
              "type": "string",
              "example": "contact"
             },
             "position": {
              "type": "integer",
              "example": 0
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[users_only]': 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/roles?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Busers_only%5D=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Busers_only%5D=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Busers_only%5D=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introducing v2.0 Get List Company Roles endpoint",
      "description": "Introduction of API endpoint for List Company Roles.",
      "endpoint": "GET /companies/{company_id}/roles",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-08-21",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=2.0#list-company-roles"
     },
     {
      "summary": "Added position field in response body, company roles ordered by position for v2.0 Get List Company Roles endpoint",
      "description": "Added position field in response body, company roles ordered by position for v2.0 Get List Company Roles endpoint.",
      "endpoint": "GET /companies/{company_id}/roles",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-17",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=2.0#list-company-roles"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "POST Company Role",
    "description": "Create Company Role",
    "tags": [
     "Roles"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "project_role": {
          "type": "object",
          "description": "Role Object",
          "properties": {
           "id": {
            "type": "string",
            "description": "ID",
            "example": "12345"
           },
           "add_to_project_team": {
            "type": "boolean",
            "default": true
           },
           "archetype": {
            "type": "string",
            "example": "owner"
           },
           "display_on_company_home": {
            "type": "boolean",
            "example": true
           },
           "name": {
            "type": "string",
            "example": "Owner"
           },
           "type": {
            "type": "string",
            "example": "contact"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Role",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID",
             "example": "12345"
            },
            "add_to_project_team": {
             "type": "boolean",
             "default": true
            },
            "archetype": {
             "type": "string",
             "example": "owner"
            },
            "deletable": {
             "type": "boolean",
             "example": true,
             "readOnly": true
            },
            "display_on_company_home": {
             "type": "boolean",
             "example": true
            },
            "name": {
             "type": "string",
             "example": "Owner"
            },
            "type": {
             "type": "string",
             "example": "contact"
            },
            "position": {
             "type": "integer",
             "example": 0
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_role: {\n      id: '12345',\n      add_to_project_team: true,\n      archetype: 'owner',\n      display_on_company_home: true,\n      name: 'Owner',\n      type: 'contact'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_role\\\":{\\\"id\\\":\\\"12345\\\",\\\"add_to_project_team\\\":true,\\\"archetype\\\":\\\"owner\\\",\\\"display_on_company_home\\\":true,\\\"name\\\":\\\"Owner\\\",\\\"type\\\":\\\"contact\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/roles\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_role\":{\"id\":\"12345\",\"add_to_project_team\":true,\"archetype\":\"owner\",\"display_on_company_home\":true,\"name\":\"Owner\",\"type\":\"contact\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles\"),\n    Content = new StringContent(\"{\\\"project_role\\\":{\\\"id\\\":\\\"12345\\\",\\\"add_to_project_team\\\":true,\\\"archetype\\\":\\\"owner\\\",\\\"display_on_company_home\\\":true,\\\"name\\\":\\\"Owner\\\",\\\"type\\\":\\\"contact\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introducing v2.0 Post Company Role endpoint",
      "description": "Introduction of API endpoint to create Company Role.",
      "endpoint": "POST /companies/{company_id}/roles",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-08-21",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=2.0#post-company-role"
     },
     {
      "summary": "Added position field in response body for v2.0 Post Company Role endpoint",
      "description": "Added position field in response body for v2.0 Post Company Role endpoint.",
      "endpoint": "POST /companies/{company_id}/roles",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-17",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=2.0#post-company-role"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/roles/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the resource.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "PATCH Company Role",
    "description": "Update Company Role",
    "tags": [
     "Roles"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "project_role": {
          "type": "object",
          "description": "Role Object",
          "properties": {
           "id": {
            "type": "string",
            "description": "ID",
            "example": "12345"
           },
           "add_to_project_team": {
            "type": "boolean",
            "default": true
           },
           "archetype": {
            "type": "string",
            "example": "owner"
           },
           "display_on_company_home": {
            "type": "boolean",
            "example": true
           },
           "name": {
            "type": "string",
            "example": "Owner"
           },
           "type": {
            "type": "string",
            "example": "contact"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Role",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID",
             "example": "12345"
            },
            "add_to_project_team": {
             "type": "boolean",
             "default": true
            },
            "archetype": {
             "type": "string",
             "example": "owner"
            },
            "deletable": {
             "type": "boolean",
             "example": true,
             "readOnly": true
            },
            "display_on_company_home": {
             "type": "boolean",
             "example": true
            },
            "name": {
             "type": "string",
             "example": "Owner"
            },
            "type": {
             "type": "string",
             "example": "contact"
            },
            "position": {
             "type": "integer",
             "example": 0
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_role: {\n      id: '12345',\n      add_to_project_team: true,\n      archetype: 'owner',\n      display_on_company_home: true,\n      name: 'Owner',\n      type: 'contact'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_role\\\":{\\\"id\\\":\\\"12345\\\",\\\"add_to_project_team\\\":true,\\\"archetype\\\":\\\"owner\\\",\\\"display_on_company_home\\\":true,\\\"name\\\":\\\"Owner\\\",\\\"type\\\":\\\"contact\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/roles/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_role\":{\"id\":\"12345\",\"add_to_project_team\":true,\"archetype\":\"owner\",\"display_on_company_home\":true,\"name\":\"Owner\",\"type\":\"contact\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_role\\\":{\\\"id\\\":\\\"12345\\\",\\\"add_to_project_team\\\":true,\\\"archetype\\\":\\\"owner\\\",\\\"display_on_company_home\\\":true,\\\"name\\\":\\\"Owner\\\",\\\"type\\\":\\\"contact\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introducing v2.0 Patch Company Role endpoint",
      "description": "Introduction of API endpoint to update Company Role.",
      "endpoint": "PATCH /companies/{company_id}/roles/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-08-21",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=2.0#patch-company-role"
     },
     {
      "summary": "Added position field in response body for v2.0 Patch Company Role endpoint",
      "description": "Added position field in response body for v2.0 Patch Company Role endpoint.",
      "endpoint": "PATCH /companies/{company_id}/roles/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-17",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=2.0#patch-company-role"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "DELETE Company Role",
    "description": "Delete Company Role",
    "tags": [
     "Roles"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/roles/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introducing v2.0 Delete Company Role endpoint",
      "description": "Introduction of API endpoint to delete Company Role.",
      "endpoint": "DELETE /companies/{company_id}/roles/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-08-21",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=2.0#delete-company-role"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/roles/reorder": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Reorder Company Role",
    "description": "Reorder Company Role",
    "tags": [
     "Roles"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "order"
        ],
        "properties": {
         "order": {
          "type": "array",
          "description": "Array of roles id",
          "items": {
           "type": "string"
          },
          "example": [
           "0",
           "1",
           "2"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/reorder',\n  headers: {'content-type': 'application/json'},\n  body: {order: ['0', '1', '2']},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"order\\\":[\\\"0\\\",\\\"1\\\",\\\"2\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/roles/reorder\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/reorder \\\n  --header 'content-type: application/json' \\\n  --data '{\"order\":[\"0\",\"1\",\"2\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/roles/reorder\"),\n    Content = new StringContent(\"{\\\"order\\\":[\\\"0\\\",\\\"1\\\",\\\"2\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introducing v2.0 Reorder Company Roles endpoint",
      "description": "Introduction of API endpoint to reorder company roles.",
      "endpoint": "POST /companies/{company_id}/roles/reorder",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-09-17",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=2.0#reorder-company-role"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/roles": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Roles",
    "description": "Return a list of roles for a company.",
    "tags": [
     "Roles"
    ],
    "parameters": [
     {
      "name": "filters[users_only]",
      "in": "query",
      "description": "If true, returns only project roles of type user.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Roles",
         "items": {
          "title": "Role",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Role ID"
           },
           "name": {
            "type": "string",
            "description": "Role name"
           }
          },
          "example": {
           "id": 4,
           "name": "Owner"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/roles',\n  qs: {'filters[users_only]': 'SOME_BOOLEAN_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/roles?filters%5Busers_only%5D=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/roles?filters%5Busers_only%5D=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/roles?filters%5Busers_only%5D=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added users_only filter to Roles list endpoint",
      "description": "Allow filtering roles by users only.",
      "endpoint": "GET /companies/{company_id}/roles",
      "type": "new",
      "breaking": false,
      "datestamp": "2020-09-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "roles?version=1.0#list-company-roles"
     }
    ],
    "x-superseded": true
   },
   "x-compliance-level": "partial"
  }
 }
}