{
 "openapi": "3.1.0",
 "info": {
  "title": "Schedule Import",
  "version": "2.0",
  "x-product-category": "Project Management",
  "x-resource-name": "Schedule Import",
  "x-tool-category": "Scheduling",
  "x-product-lines": [
   "schedule-management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/schedules/{schedule_id}/import": {
   "put": {
    "tags": [
     "schedule-import-controller"
    ],
    "summary": "Initiate schedule import",
    "description": "Upload a schedule file to import.",
    "operationId": "initiateImport",
    "parameters": [
     {
      "name": "locale",
      "in": "header",
      "description": "Optional. Locale for the import report (e.g. en, fr-FR, ja-JP). Determines the language of validation errors and warnings in the generated report. Must be the same locale used when fetching logs via the logs endpoint.",
      "required": false,
      "schema": {
       "type": "string"
      },
      "example": "en"
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier for the project",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "5678"
     },
     {
      "name": "schedule_id",
      "in": "path",
      "description": "Unique identifier for the schedule",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "file": {
          "type": "string",
          "format": "binary",
          "description": "Schedule file to import. Supported formats: .mpp, .ppx, .xer."
         }
        },
        "required": [
         "file"
        ]
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Import accepted; poll status_url for progress",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "job_id": {
             "type": "string",
             "description": "Import job id",
             "example": "123"
            },
            "status": {
             "type": "string",
             "description": "Current status",
             "enum": [
              "queued",
              "processing",
              "completed",
              "failed",
              "none"
             ],
             "example": "processing"
            },
            "status_url": {
             "type": "string",
             "description": "URL to poll for status",
             "example": "https://api.procore.com/rest/v2.0/..."
            },
            "finished_at": {
             "type": "string",
             "format": "date-time",
             "description": "When the import job finished in UTC (ISO 8601)",
             "example": "2024-01-15T10:30:45Z"
            },
            "errors": {
             "description": "Present when status is failed (with optional detailed_log_url if logs exist), or when status is completed with warnings (warning message + detailed_log_url). Omitted on success with no logs.",
             "type": "object",
             "properties": {
              "message": {
               "type": "string",
               "description": "Error or warning message"
              },
              "detailed_log_url": {
               "type": "string",
               "description": "URL to fetch detailed log. Omitted when there are no logs (e.g. failed with no logs)."
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "409": {
      "description": "A conflicting operation is already in progress for this schedule",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string"
            },
            "message": {
             "type": "string"
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string"
               },
               "message": {
                "type": "string"
               },
               "source": {
                "type": "string"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "413": {
      "description": "File exceeds maximum allowed size",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string"
            },
            "message": {
             "type": "string"
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string"
               },
               "message": {
                "type": "string"
               },
               "source": {
                "type": "string"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "The request was well-formed but was unable to be followed due to semantic errors."
     }
    },
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/projects/5678/schedules/1234/import',\n  headers: {\n    locale: 'en',\n    'content-type': 'multipart/form-data; boundary=---011000010111000001101001'\n  },\n  formData: {file: 'string'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"file\\\"\\r\\n\\r\\nstring\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'locale': \"en\",\n    'content-type': \"multipart/form-data; boundary=---011000010111000001101001\"\n    }\n\nconn.request(\"PUT\", \"/rest/v2.0/companies/1234/projects/5678/schedules/1234/import\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v2.0/companies/1234/projects/5678/schedules/1234/import \\\n  --header 'content-type: multipart/form-data' \\\n  --header 'locale: en' \\\n  --form file=string"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/projects/5678/schedules/1234/import\"),\n    Headers =\n    {\n        { \"locale\", \"en\" },\n    },\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"string\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"file\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}