{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Settings",
  "x-product-category": "Project Management",
  "x-tool-category": "Schedule (Legacy)",
  "x-resource-name": "Schedule Settings",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/schedule/settings": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Project Schedule Settings",
    "description": "Return the Schedule tool settings for the given project.",
    "tags": [
     "Schedule",
     "Settings"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Schedule Project Settings",
         "properties": {
          "project_id": {
           "type": "integer",
           "description": "Project",
           "example": 1
          },
          "company_id": {
           "type": "integer",
           "description": "Company",
           "example": 1
          },
          "primavera_schedule_id": {
           "type": "string",
           "description": "Primavera schedule",
           "nullable": true,
           "example": "1"
          },
          "schedule_type": {
           "type": "string",
           "description": "Schedule type",
           "nullable": true,
           "example": "Microsoft Project"
          },
          "schedule_file_pattern": {
           "type": "string",
           "description": "Schedule file pattern",
           "nullable": true,
           "example": "*.mpp"
          },
          "project_integration": {
           "type": "boolean",
           "description": "Project integration",
           "nullable": true,
           "example": false
          },
          "display_task_names_with_full_outline_path": {
           "type": "boolean",
           "description": "Display task names with full outline path",
           "nullable": true,
           "example": false
          },
          "schedule_show_resources_on_calendar": {
           "type": "boolean",
           "description": "Schedule show resources on calendar",
           "nullable": true,
           "example": false
          },
          "schedule_allow_task_updates": {
           "type": "boolean",
           "description": "Schedule allow task updates",
           "example": false
          },
          "schedule_task_auto_formatting": {
           "type": "boolean",
           "description": "Schedule task auto formatting",
           "example": false
          },
          "create_calendar_item_enabled": {
           "type": "boolean",
           "description": "Create calendar item enabled",
           "example": false
          },
          "calendar_people_filters_enabled": {
           "type": "boolean",
           "description": "Calendar people filters enabled",
           "example": false
          },
          "schedule_use_project_admin_working_days": {
           "type": "boolean",
           "description": "Schedule use project admin working days",
           "example": false
          },
          "email_settings": {
           "type": "object",
           "description": "Email settings",
           "properties": {
            "project_schedule_email_setting_id": {
             "type": "integer",
             "description": "Project schedule email setting",
             "example": 1
            },
            "send_weekly": {
             "type": "boolean",
             "description": "Send weekly",
             "example": false
            },
            "day_of_week": {
             "type": "integer",
             "description": "Day of week",
             "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6
             ],
             "example": 1
            },
            "hour_to_send": {
             "type": "integer",
             "description": "Hour to send",
             "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15,
              16,
              17,
              18,
              19,
              20,
              21,
              22,
              23
             ],
             "example": 1
            },
            "weeks_to_show": {
             "type": "integer",
             "description": "Weeks to show",
             "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8
             ],
             "example": 1
            },
            "last_sent_at": {
             "type": "string",
             "description": "Last sent at",
             "nullable": true,
             "format": "date-time",
             "example": "2023-03-03T21:25:24Z"
            },
            "next_scheduled_at": {
             "type": "string",
             "description": "Next scheduled at",
             "nullable": true,
             "format": "date-time",
             "example": "2023-03-03T21:25:24Z"
            },
            "lookahead_send_weekly": {
             "type": "boolean",
             "description": "Lookahead send weekly",
             "example": false
            },
            "lookahead_day_of_week": {
             "type": "integer",
             "description": "Lookahead day of week",
             "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6
             ],
             "example": 1
            },
            "lookahead_hour_to_send": {
             "type": "integer",
             "description": "Lookahead hour to send",
             "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15,
              16,
              17,
              18,
              19,
              20,
              21,
              22,
              23
             ],
             "example": 1
            },
            "lookahead_last_sent_at": {
             "type": "string",
             "description": "Lookahead last sent at",
             "nullable": true,
             "format": "date-time",
             "example": "2023-03-03T21:25:24Z"
            },
            "lookahead_next_scheduled_at": {
             "type": "string",
             "description": "Lookahead next scheduled at",
             "nullable": true,
             "format": "date-time",
             "example": "2023-03-03T21:25:24Z"
            },
            "resource_send_weekly": {
             "type": "boolean",
             "description": "Resource send weekly",
             "example": false
            },
            "resource_day_of_week": {
             "type": "integer",
             "description": "Resource day of week",
             "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6
             ],
             "example": 1
            },
            "resource_hour_to_send": {
             "type": "integer",
             "description": "Resource hour to send",
             "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15,
              16,
              17,
              18,
              19,
              20,
              21,
              22,
              23
             ],
             "example": 1
            },
            "resource_weeks_to_show": {
             "type": "integer",
             "description": "Resource weeks to show",
             "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8
             ],
             "example": 1
            },
            "resource_last_sent_at": {
             "type": "string",
             "description": "Resource last sent at",
             "nullable": true,
             "format": "date-time",
             "example": "2023-03-03T21:25:24Z"
            },
            "resource_next_scheduled_at": {
             "type": "string",
             "description": "Resource next scheduled at",
             "nullable": true,
             "format": "date-time",
             "example": "2023-03-03T21:25:24Z"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Endpoint not found.",
      "content": {
       "application/json": {
        "schema": {
         "properties": {
          "error": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/settings',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/schedule/settings\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/settings \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/settings\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 endpoint",
      "description": "Added Rest v1.0 endpoint providing access to schedule settings data",
      "endpoint": "GET /projects/{project_id}/schedule/settings",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-03-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "schedule-settings?version=1.0#show-project-schedule-settings"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}