{
 "openapi": "3.0.0",
 "info": {
  "title": "Schedule Type",
  "x-product-category": "Project Management",
  "x-tool-category": "Schedule (Legacy)",
  "x-resource-name": "Schedule Type",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/schedule_type": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show the schedule integration type for a project",
    "description": "Return information about the schedule integration configuration for the current project.\n\n#### Schedule Types\n\n| Type                                                 | Key                           |\n|------------------------------------------------------|-------------------------------|\n| File-based schedule integration via web browser      | \"Microsoft Project\"           |\n| File-based schedule integration via Procore Drive    | \"Microsoft Project 2010\"      |\n| File-based schedule integration via Procore Documents| \"Microsoft Project Documents\" |\n| Primavera P6 database integration via Procore Drive  | \"Primavera P6\"                |\n\nNote that the schedule types listed as \"Microsoft Project\", \"Microsoft Project 2010\", and \"Microsoft Project Documents\" are functionally identical.\nIn all cases Procore can consume any supported schedule file type and extract data from it, not just Microsoft Project.\nSchedule files can be upoaded either via Procore Drive, via the Procore Documents tool, or via the Procore Schedule tool,\nregardless of which of these three types is selected. Where Primavera P6 database integration via Procore Drive is in use, the `p6_id`\nattribute returned by this API indicates which P6 project Procore Drive is extracting data from.\n\nThis endpoint has been deprecated. Instead, use [/rest/v1/project/{project_id}/schedule)",
    "x-deprecated-at": "2021-03-31",
    "deprecated": true,
    "tags": [
     "Schedule Type"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "key": {
           "type": "string",
           "enum": [
            "Microsoft Project",
            "Microsoft Project 2010",
            "Microsoft Project Documents",
            "Primavera P6"
           ],
           "description": "Schedule type key",
           "example": "Microsoft Project"
          },
          "p6_id": {
           "type": "string",
           "description": "Schedule type Primavera P6 Identifier",
           "example": "NRG00940"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/schedule_type',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/schedule_type?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/schedule_type?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/schedule_type?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Schedule Types endpoint is deprecated",
      "description": "This endpoint has been deprecated. Instead, use [/rest/v1/project/{project_id}/schedule)",
      "endpoint": "GET /schedule_type",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2021-03-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "schedule-type?version=1.0#show-the-schedule-integration-type-for-a-project"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update schedule integration type",
    "description": "Update the schedule integration type for a project.\n\n#### Schedule Types\n\n| Type                                                 | Key                           |\n|------------------------------------------------------|-------------------------------|\n| File-based schedule integration via web browser      | \"Microsoft Project\"           |\n| File-based schedule integration via Procore Drive    | \"Microsoft Project 2010\"      |\n| File-based schedule integration via Procore Documents| \"Microsoft Project Documents\" |\n| Primavera P6 database integration via Procore Drive  | \"Primavera P6\"                |\n\nNote that the schedule types listed as \"Microsoft Project\", \"Microsoft Project 2010\", and \"Microsoft Project Documents\" are functionally identical.\nIn all cases Procore can consume any supported schedule file type and extract data from it, not just Microsoft Project.\nSchedule files can be upoaded either via Procore Drive, via the Procore Documents tool, or via the Procore Schedule tool,\nregardless of which of these three types is selected. Where Primavera P6 database integration via Procore Drive is in use, the `p6_id`\nattribute returned by this API indicates which P6 project Procore Drive is extracting data from.\n\nThis endpoint has been deprecated. Instead, use [/rest/v1/project/{project_id}/schedule)",
    "x-deprecated-at": "2021-03-31",
    "deprecated": true,
    "tags": [
     "Schedule Type"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "schedule_type"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "The ID of the Project the Schedule Type belongs to"
         },
         "schedule_type": {
          "title": "Schedule Type",
          "type": "object",
          "description": "Schedule Type object",
          "required": [
           "key"
          ],
          "properties": {
           "key": {
            "type": "string",
            "enum": [
             "Microsoft Project",
             "Microsoft Project 2010",
             "Microsoft Project Documents",
             "Primavera P6"
            ],
            "description": "The Key of the Schedule Type"
           },
           "p6_id": {
            "type": "string",
            "description": "The Primavera P6 Identifier of the Schedule Type"
           }
          }
         }
        },
        "example": {
         "project_id": 513526,
         "schedule_type": {
          "key": "Primavera P6",
          "p6_id": "123456abc"
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "key": {
           "type": "string",
           "enum": [
            "Microsoft Project",
            "Microsoft Project 2010",
            "Microsoft Project Documents",
            "Primavera P6"
           ],
           "description": "Schedule type key",
           "example": "Microsoft Project"
          },
          "p6_id": {
           "type": "string",
           "description": "Schedule type Primavera P6 Identifier",
           "example": "NRG00940"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/schedule_type',\n  headers: {'content-type': 'application/json'},\n  body: {project_id: 513526, schedule_type: {key: 'Primavera P6', p6_id: '123456abc'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":513526,\\\"schedule_type\\\":{\\\"key\\\":\\\"Primavera P6\\\",\\\"p6_id\\\":\\\"123456abc\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/schedule_type\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/schedule_type \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":513526,\"schedule_type\":{\"key\":\"Primavera P6\",\"p6_id\":\"123456abc\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/schedule_type\"),\n    Content = new StringContent(\"{\\\"project_id\\\":513526,\\\"schedule_type\\\":{\\\"key\\\":\\\"Primavera P6\\\",\\\"p6_id\\\":\\\"123456abc\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Schedule Types endpoint is deprecated",
      "description": "This endpoint has been deprecated. Instead, use [/rest/v1/project/{project_id}/schedule)",
      "endpoint": "PATCH /schedule_type",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2021-03-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "schedule-type?version=1.0#update-schedule-integration-type"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}