{
 "openapi": "3.0.0",
 "info": {
  "title": "Segment Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Work Breakdown Structure",
  "x-resource-name": "Segment Items",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "segment_id",
     "in": "path",
     "description": "ID of the WBS Segment to scope this request to (e.g., the cost_code or line_item_type segment). Retrieve valid segment IDs from segments[].id in the GET patterns response.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Segment Items",
    "description": "List Segment Items for a specific segment",
    "tags": [
     "Segment Items"
    ],
    "parameters": [
     {
      "name": "segment_item_list_id",
      "in": "query",
      "description": "Used to filter legacy segment items by list. Required for Cost Codes.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "only_active_items",
      "in": "query",
      "description": "When true, returns only active segment items (status=active). Defaults to false (returns all items including inactive).",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "include_action_policy",
      "in": "query",
      "description": "When true, includes an action_policy object on each segment item indicating which operations (create, update, delete) are permitted for the current user and ERP integration state.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Work breakdown structure segment items",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
            "example": 456
           },
           "code": {
            "type": "string",
            "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
            "example": "01-222"
           },
           "name": {
            "type": "string",
            "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
            "example": "Lighting"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this segment item was created, in ISO 8601 format.",
            "example": "2016-06-30T20:41:58Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this segment item was last updated, in ISO 8601 format.",
            "example": "2016-08-30T18:11:43Z"
           },
           "parent_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the parent segment item in a tiered segment hierarchy. Null for root-level items or items in a flat-structure segment.",
            "example": 123
           },
           "path_ids": {
            "type": "array",
            "description": "Ordered list of IDs from the root ancestor down to (and including) this segment item. Use to reconstruct the full hierarchy path.",
            "items": {
             "type": "integer"
            },
            "example": [
             123,
             456
            ]
           },
           "path_code": {
            "type": "string",
            "description": "Full path code for this segment item representing the leaf code in its hierarchy (e.g., '01-222').",
            "example": "a"
           },
           "is_parent": {
            "type": "boolean",
            "description": "Whether this segment item has child items in a tiered segment structure. Always false for flat-structure segments.",
            "example": false
           },
           "path_codes": {
            "type": "array",
            "description": "Ordered list of code strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
            "items": {
             "type": "string"
            },
            "example": [
             "01 - Requirements",
             "01-222 - Lighting"
            ]
           },
           "path_names": {
            "type": "array",
            "description": "Ordered list of name strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
            "items": {
             "type": "string"
            },
            "example": [
             "01 - Requirements",
             "01-222 - Lighting"
            ]
           },
           "in_use": {
            "type": "boolean",
            "description": "Whether this segment item is currently referenced by at least one entity (e.g., a budget line item or WBS code).",
            "example": true
           },
           "segment": {
            "type": "object",
            "description": "The WBS segment definition that this segment item belongs to.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique ID of the WBS segment definition.",
              "example": 3
             },
             "name": {
              "type": "string",
              "description": "Display name of the segment (e.g., 'Cost Code', 'Sub Job').",
              "example": "Cost Code"
             },
             "type": {
              "type": "string",
              "enum": [
               "cost_code",
               "line_item_type",
               "sub_job",
               "custom",
               "attribute"
              ],
              "description": "Category of this segment. One of: 'cost_code', 'line_item_type', 'sub_job', 'custom', 'attribute'. Determines which domain entity backs the segment items.",
              "example": "cost_code"
             },
             "position": {
              "type": "integer",
              "description": "Display order of this segment within the WBS pattern. Lower numbers appear first when reading the flat_code left to right.",
              "example": 1
             },
             "delimiter": {
              "type": "string",
              "description": "Character used to separate this segment's value from adjacent segments in the flat_code (e.g., '.').",
              "example": "."
             },
             "required": {
              "type": "boolean",
              "description": "Whether this segment must have a value for a WBS code to be valid.",
              "example": true
             },
             "segment_items_count": {
              "type": "integer",
              "description": "Total number of segment items defined for this segment.",
              "example": 2
             },
             "project_can_modify_origin_project": {
              "type": "boolean",
              "description": "Whether project-level users can modify segment items that originated from this project.",
              "example": true
             },
             "project_can_delete_origin_company": {
              "type": "boolean",
              "description": "Whether project-level users can delete segment items that originated from the company level.",
              "example": true
             },
             "structure": {
              "type": "string",
              "enum": [
               "tiered",
               "flat"
              ],
              "description": "Hierarchy structure of the segment. 'flat' means items have no parent-child relationship; 'tiered' means items can be nested with parent_id references.",
              "example": "tiered"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when this segment definition was created, in ISO 8601 format.",
              "example": "2016-06-30T20:41:58Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when this segment definition was last updated, in ISO 8601 format.",
              "example": "2016-08-30T18:11:43Z"
             },
             "wbs_pattern_id": {
              "type": "integer",
              "description": "ID of the WBS pattern this segment belongs to.",
              "example": 4567
             }
            },
            "example": {
             "id": 3,
             "name": "Cost Code",
             "type": "cost_code",
             "position": 1,
             "delimiter": ".",
             "required": true,
             "segment_items_count": 2,
             "project_can_modify_origin_project": true,
             "project_can_delete_origin_company": true,
             "structure": "tiered",
             "created_at": "2016-06-30T20:41:58Z",
             "updated_at": "2016-08-30T18:11:43Z",
             "wbs_pattern_id": 4567
            }
           },
           "status": {
            "type": "string",
            "enum": [
             "active",
             "inactive"
            ],
            "description": "Lifecycle status of the segment item. One of: 'active' (available for selection when creating WBS codes), 'inactive' (not available for new WBS codes).",
            "example": "active"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items',\n  qs: {\n    segment_item_list_id: 'SOME_INTEGER_VALUE',\n    only_active_items: 'SOME_BOOLEAN_VALUE',\n    include_action_policy: 'SOME_BOOLEAN_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items?segment_item_list_id=SOME_INTEGER_VALUE&only_active_items=SOME_BOOLEAN_VALUE&include_action_policy=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items?segment_item_list_id=SOME_INTEGER_VALUE&only_active_items=SOME_BOOLEAN_VALUE&include_action_policy=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items?segment_item_list_id=SOME_INTEGER_VALUE&only_active_items=SOME_BOOLEAN_VALUE&include_action_policy=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add fields to segment item attributes",
      "description": "Added created_at and updated_at to segment item attributes",
      "endpoint": "GET /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items",
      "breaking": false,
      "type": "refinement",
      "datestamp": "2023-01-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#list-company-segment-items"
     },
     {
      "summary": "Add fields to segment attributes",
      "description": "Added created_at, updated_at, and wbs_pattern_id to segment attributes",
      "endpoint": "GET /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items",
      "breaking": false,
      "type": "refinement",
      "datestamp": "2023-01-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#list-company-segment-items"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Segment Item",
    "description": "Create a Company Segment Item.",
    "tags": [
     "Segment Items"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "code",
         "name"
        ],
        "properties": {
         "code": {
          "type": "string",
          "description": "Short alphanumeric code for this segment item (e.g., '300'). For tiered segments, provide the leaf-level code only \u2014 not the full path code including parent prefixes.",
          "example": "300"
         },
         "name": {
          "type": "string",
          "description": "Display name of this segment item (e.g., 'Concrete'). Shown in the WBS picker when building a WBS code.",
          "example": "Concrete"
         },
         "segment_item_list_id": {
          "type": "integer",
          "description": "ID of the Segment Item List (Standard Cost Code List) to associate this item with. Required for cost_code segments; optional for other segment types. Retrieve valid list IDs from GET .../segments/{segment_id}/lists.",
          "example": 12345
         },
         "parent_id": {
          "type": "integer",
          "description": "ID of the parent segment item for tiered segments. Omit to create a root-level item. Not applicable for flat-structure segments.",
          "example": 34
         },
         "status": {
          "type": "string",
          "enum": [
           "active",
           "inactive"
          ],
          "description": "Initial lifecycle status of the segment item. One of: 'active' (available for selection), 'inactive' (hidden from the WBS picker). Defaults to 'active' when omitted.",
          "example": "active"
         },
         "default_uom_id": {
          "type": "integer",
          "nullable": true,
          "description": "ID of the default unit of measure. Applies to line_item_type segment items only (company scope); ignored for other segment types.",
          "example": 5
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
           "example": 456
          },
          "code": {
           "type": "string",
           "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
           "example": "01-222"
          },
          "name": {
           "type": "string",
           "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
           "example": "Lighting"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this segment item was created, in ISO 8601 format.",
           "example": "2016-06-30T20:41:58Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this segment item was last updated, in ISO 8601 format.",
           "example": "2016-08-30T18:11:43Z"
          },
          "parent_id": {
           "type": "integer",
           "nullable": true,
           "description": "ID of the parent segment item in a tiered segment hierarchy. Null for root-level items or items in a flat-structure segment.",
           "example": 123
          },
          "path_ids": {
           "type": "array",
           "description": "Ordered list of IDs from the root ancestor down to (and including) this segment item. Use to reconstruct the full hierarchy path.",
           "items": {
            "type": "integer"
           },
           "example": [
            123,
            456
           ]
          },
          "path_code": {
           "type": "string",
           "description": "Full path code for this segment item representing the leaf code in its hierarchy (e.g., '01-222').",
           "example": "a"
          },
          "is_parent": {
           "type": "boolean",
           "description": "Whether this segment item has child items in a tiered segment structure. Always false for flat-structure segments.",
           "example": false
          },
          "path_codes": {
           "type": "array",
           "description": "Ordered list of code strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
           "items": {
            "type": "string"
           },
           "example": [
            "01 - Requirements",
            "01-222 - Lighting"
           ]
          },
          "path_names": {
           "type": "array",
           "description": "Ordered list of name strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
           "items": {
            "type": "string"
           },
           "example": [
            "01 - Requirements",
            "01-222 - Lighting"
           ]
          },
          "in_use": {
           "type": "boolean",
           "description": "Whether this segment item is currently referenced by at least one entity (e.g., a budget line item or WBS code).",
           "example": true
          },
          "segment": {
           "type": "object",
           "description": "The WBS segment definition that this segment item belongs to.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique ID of the WBS segment definition.",
             "example": 3
            },
            "name": {
             "type": "string",
             "description": "Display name of the segment (e.g., 'Cost Code', 'Sub Job').",
             "example": "Cost Code"
            },
            "type": {
             "type": "string",
             "enum": [
              "cost_code",
              "line_item_type",
              "sub_job",
              "custom",
              "attribute"
             ],
             "description": "Category of this segment. One of: 'cost_code', 'line_item_type', 'sub_job', 'custom', 'attribute'. Determines which domain entity backs the segment items.",
             "example": "cost_code"
            },
            "position": {
             "type": "integer",
             "description": "Display order of this segment within the WBS pattern. Lower numbers appear first when reading the flat_code left to right.",
             "example": 1
            },
            "delimiter": {
             "type": "string",
             "description": "Character used to separate this segment's value from adjacent segments in the flat_code (e.g., '.').",
             "example": "."
            },
            "required": {
             "type": "boolean",
             "description": "Whether this segment must have a value for a WBS code to be valid.",
             "example": true
            },
            "segment_items_count": {
             "type": "integer",
             "description": "Total number of segment items defined for this segment.",
             "example": 2
            },
            "project_can_modify_origin_project": {
             "type": "boolean",
             "description": "Whether project-level users can modify segment items that originated from this project.",
             "example": true
            },
            "project_can_delete_origin_company": {
             "type": "boolean",
             "description": "Whether project-level users can delete segment items that originated from the company level.",
             "example": true
            },
            "structure": {
             "type": "string",
             "enum": [
              "tiered",
              "flat"
             ],
             "description": "Hierarchy structure of the segment. 'flat' means items have no parent-child relationship; 'tiered' means items can be nested with parent_id references.",
             "example": "tiered"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this segment definition was created, in ISO 8601 format.",
             "example": "2016-06-30T20:41:58Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this segment definition was last updated, in ISO 8601 format.",
             "example": "2016-08-30T18:11:43Z"
            },
            "wbs_pattern_id": {
             "type": "integer",
             "description": "ID of the WBS pattern this segment belongs to.",
             "example": 4567
            }
           },
           "example": {
            "id": 3,
            "name": "Cost Code",
            "type": "cost_code",
            "position": 1,
            "delimiter": ".",
            "required": true,
            "segment_items_count": 2,
            "project_can_modify_origin_project": true,
            "project_can_delete_origin_company": true,
            "structure": "tiered",
            "created_at": "2016-06-30T20:41:58Z",
            "updated_at": "2016-08-30T18:11:43Z",
            "wbs_pattern_id": 4567
           }
          },
          "status": {
           "type": "string",
           "enum": [
            "active",
            "inactive"
           ],
           "description": "Lifecycle status of the segment item. One of: 'active' (available for selection when creating WBS codes), 'inactive' (not available for new WBS codes).",
           "example": "active"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items',\n  headers: {'content-type': 'application/json'},\n  body: {\n    code: '300',\n    name: 'Concrete',\n    segment_item_list_id: 12345,\n    parent_id: 34,\n    status: 'active',\n    default_uom_id: 5\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"code\\\":\\\"300\\\",\\\"name\\\":\\\"Concrete\\\",\\\"segment_item_list_id\\\":12345,\\\"parent_id\\\":34,\\\"status\\\":\\\"active\\\",\\\"default_uom_id\\\":5}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items \\\n  --header 'content-type: application/json' \\\n  --data '{\"code\":\"300\",\"name\":\"Concrete\",\"segment_item_list_id\":12345,\"parent_id\":34,\"status\":\"active\",\"default_uom_id\":5}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items\"),\n    Content = new StringContent(\"{\\\"code\\\":\\\"300\\\",\\\"name\\\":\\\"Concrete\\\",\\\"segment_item_list_id\\\":12345,\\\"parent_id\\\":34,\\\"status\\\":\\\"active\\\",\\\"default_uom_id\\\":5}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add fields to segment item attributes",
      "description": "Added created_at and updated_at to segment item attributes",
      "endpoint": "POST /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items",
      "breaking": false,
      "type": "refinement",
      "datestamp": "2023-01-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#create-company-segment-item"
     },
     {
      "summary": "Add fields to segment attributes",
      "description": "Added created_at, updated_at, and wbs_pattern_id to segment attributes",
      "endpoint": "POST /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items",
      "breaking": false,
      "type": "refinement",
      "datestamp": "2023-01-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#create-company-segment-item"
     },
     {
      "summary": "Added default_uom_id field to Create Company Segment Item",
      "description": "The request body now accepts an optional default_uom_id field to set the default Unit of Measure for a Cost type (line item type) segment item. Part of the Units of Measure Validation beta.",
      "endpoint": "POST /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items",
      "breaking": false,
      "type": "feature",
      "datestamp": "2026-07-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#create-company-segment-item"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/update_all": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "segment_id",
     "in": "path",
     "description": "ID of the WBS Segment to scope this request to (e.g., the cost_code or line_item_type segment). Retrieve valid segment IDs from segments[].id in the GET patterns response.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update All Company Segment Items",
    "description": "Update All Segment Items with the same attributes. The endpoint handles updating status (deactivating or reactivating) for segment items and their children, including cost types when the cost type deactivation feature is enabled. Deactivating the default cost type (Other) or the last remaining active cost type is not allowed.\nFor bulk status changes on the **Cost types** (line item types) segment, `attributes` must contain **only** `status`. Any other property in `attributes` results in **400 Bad Request** with an error message. Other segment types may define their own allowed `attributes` keys.",
    "tags": [
     "Segment Items"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "ids",
         "attributes"
        ],
        "properties": {
         "ids": {
          "description": "List of segment item IDs. The API will find and update the children of the provided IDs.",
          "type": "array",
          "items": {
           "type": "integer"
          },
          "example": [
           23,
           24
          ]
         },
         "attributes": {
          "type": "object",
          "description": "Fields to apply to every selected segment item. For bulk **Cost types** status updates (when cost type deactivation is enabled), send **only** `status`; extra keys are rejected with **400 Bad Request**.",
          "properties": {
           "status": {
            "type": "string",
            "enum": [
             "active",
             "inactive"
            ],
            "description": "Lifecycle status to apply to all selected segment items. One of: 'active' (re-activates items), 'inactive' (deactivates items and their descendants, hiding them from the WBS picker).",
            "example": "inactive"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request \u2014 for example when `attributes` includes properties other than `status` on a company **Cost types** bulk status update.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/update_all',\n  headers: {'content-type': 'application/json'},\n  body: {ids: [23, 24], attributes: {status: 'inactive'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"ids\\\":[23,24],\\\"attributes\\\":{\\\"status\\\":\\\"inactive\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/update_all\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/update_all \\\n  --header 'content-type: application/json' \\\n  --data '{\"ids\":[23,24],\"attributes\":{\"status\":\"inactive\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/update_all\"),\n    Content = new StringContent(\"{\\\"ids\\\":[23,24],\\\"attributes\\\":{\\\"status\\\":\\\"inactive\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Support bulk activating/deactivating cost types via update_all",
      "description": "The update_all endpoint supports cost types (line item types) for bulk status changes\nwhen the cost type deactivation feature is enabled. The `attributes` object must\ncontain only `status`; additional properties return **400 Bad Request** with an error\nmessage. The same validation rules apply as single-item updates: the default cost type\n(Other) and the last remaining active cost type cannot be deactivated.",
      "endpoint": "PATCH /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/update_all",
      "breaking": false,
      "type": "feature",
      "datestamp": "2026-04-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#update-all-company-segment-items"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/bulk_destroy": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "segment_id",
     "in": "path",
     "description": "ID of the WBS Segment to scope this request to (e.g., the cost_code or line_item_type segment). Retrieve valid segment IDs from segments[].id in the GET patterns response.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Delete Company Segment Items",
    "description": "Bulk Delete Company Segment Items",
    "tags": [
     "Segment Items"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "segment_item_ids"
        ],
        "properties": {
         "segment_item_ids": {
          "description": "Array of segment item IDs to delete. Retrieve valid IDs from the index endpoint.",
          "type": "array",
          "items": {
           "type": "integer"
          },
          "example": [
           23,
           24
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "207": {
      "description": "Multi-Status",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Response of a bulk action",
         "properties": {
          "successes": {
           "type": "array",
           "description": "IDs that succeeded",
           "items": {
            "type": "integer",
            "example": 123
           }
          },
          "failures": {
           "type": "array",
           "description": "List of failures",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 456
             },
             "error": {
              "type": "string",
              "description": "Error message",
              "example": "Is in use"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/bulk_destroy',\n  headers: {'content-type': 'application/json'},\n  body: {segment_item_ids: [23, 24]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"segment_item_ids\\\":[23,24]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/bulk_destroy\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/bulk_destroy \\\n  --header 'content-type: application/json' \\\n  --data '{\"segment_item_ids\":[23,24]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/bulk_destroy\"),\n    Content = new StringContent(\"{\\\"segment_item_ids\\\":[23,24]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List successes and failures",
      "description": "Change response to 207 and list segment items that were and were not successfully deleted",
      "endpoint": "DELETE /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/bulk_destroy",
      "type": "feature",
      "breaking": true,
      "datestamp": "2022-02-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#bulk-delete-company-segment-items"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "segment_id",
     "in": "path",
     "description": "ID of the WBS Segment to scope this request to (e.g., the cost_code or line_item_type segment). Retrieve valid segment IDs from segments[].id in the GET patterns response.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Segment Item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Segment Item",
    "description": "Return details on a specific Company Segment Item.",
    "tags": [
     "Segment Items"
    ],
    "parameters": [
     {
      "name": "standard_cost_code_list_id",
      "in": "query",
      "description": "ID of the Standard Cost Code List to scope this request to. Required for cost_code segments \u2014 omitting it will result in an error for those segments. Retrieve valid list IDs from GET /rest/v1.0/companies/{company_id}/work_breakdown_structure/segments/{segment_id}/lists.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
           "example": 456
          },
          "code": {
           "type": "string",
           "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
           "example": "01-222"
          },
          "name": {
           "type": "string",
           "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
           "example": "Lighting"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this segment item was created, in ISO 8601 format.",
           "example": "2016-06-30T20:41:58Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this segment item was last updated, in ISO 8601 format.",
           "example": "2016-08-30T18:11:43Z"
          },
          "parent_id": {
           "type": "integer",
           "nullable": true,
           "description": "ID of the parent segment item in a tiered segment hierarchy. Null for root-level items or items in a flat-structure segment.",
           "example": 123
          },
          "path_ids": {
           "type": "array",
           "description": "Ordered list of IDs from the root ancestor down to (and including) this segment item. Use to reconstruct the full hierarchy path.",
           "items": {
            "type": "integer"
           },
           "example": [
            123,
            456
           ]
          },
          "path_code": {
           "type": "string",
           "description": "Full path code for this segment item representing the leaf code in its hierarchy (e.g., '01-222').",
           "example": "a"
          },
          "is_parent": {
           "type": "boolean",
           "description": "Whether this segment item has child items in a tiered segment structure. Always false for flat-structure segments.",
           "example": false
          },
          "path_codes": {
           "type": "array",
           "description": "Ordered list of code strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
           "items": {
            "type": "string"
           },
           "example": [
            "01 - Requirements",
            "01-222 - Lighting"
           ]
          },
          "path_names": {
           "type": "array",
           "description": "Ordered list of name strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
           "items": {
            "type": "string"
           },
           "example": [
            "01 - Requirements",
            "01-222 - Lighting"
           ]
          },
          "in_use": {
           "type": "boolean",
           "description": "Whether this segment item is currently referenced by at least one entity (e.g., a budget line item or WBS code).",
           "example": true
          },
          "segment": {
           "type": "object",
           "description": "The WBS segment definition that this segment item belongs to.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique ID of the WBS segment definition.",
             "example": 3
            },
            "name": {
             "type": "string",
             "description": "Display name of the segment (e.g., 'Cost Code', 'Sub Job').",
             "example": "Cost Code"
            },
            "type": {
             "type": "string",
             "enum": [
              "cost_code",
              "line_item_type",
              "sub_job",
              "custom",
              "attribute"
             ],
             "description": "Category of this segment. One of: 'cost_code', 'line_item_type', 'sub_job', 'custom', 'attribute'. Determines which domain entity backs the segment items.",
             "example": "cost_code"
            },
            "position": {
             "type": "integer",
             "description": "Display order of this segment within the WBS pattern. Lower numbers appear first when reading the flat_code left to right.",
             "example": 1
            },
            "delimiter": {
             "type": "string",
             "description": "Character used to separate this segment's value from adjacent segments in the flat_code (e.g., '.').",
             "example": "."
            },
            "required": {
             "type": "boolean",
             "description": "Whether this segment must have a value for a WBS code to be valid.",
             "example": true
            },
            "segment_items_count": {
             "type": "integer",
             "description": "Total number of segment items defined for this segment.",
             "example": 2
            },
            "project_can_modify_origin_project": {
             "type": "boolean",
             "description": "Whether project-level users can modify segment items that originated from this project.",
             "example": true
            },
            "project_can_delete_origin_company": {
             "type": "boolean",
             "description": "Whether project-level users can delete segment items that originated from the company level.",
             "example": true
            },
            "structure": {
             "type": "string",
             "enum": [
              "tiered",
              "flat"
             ],
             "description": "Hierarchy structure of the segment. 'flat' means items have no parent-child relationship; 'tiered' means items can be nested with parent_id references.",
             "example": "tiered"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this segment definition was created, in ISO 8601 format.",
             "example": "2016-06-30T20:41:58Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this segment definition was last updated, in ISO 8601 format.",
             "example": "2016-08-30T18:11:43Z"
            },
            "wbs_pattern_id": {
             "type": "integer",
             "description": "ID of the WBS pattern this segment belongs to.",
             "example": 4567
            }
           },
           "example": {
            "id": 3,
            "name": "Cost Code",
            "type": "cost_code",
            "position": 1,
            "delimiter": ".",
            "required": true,
            "segment_items_count": 2,
            "project_can_modify_origin_project": true,
            "project_can_delete_origin_company": true,
            "structure": "tiered",
            "created_at": "2016-06-30T20:41:58Z",
            "updated_at": "2016-08-30T18:11:43Z",
            "wbs_pattern_id": 4567
           }
          },
          "status": {
           "type": "string",
           "enum": [
            "active",
            "inactive"
           ],
           "description": "Lifecycle status of the segment item. One of: 'active' (available for selection when creating WBS codes), 'inactive' (not available for new WBS codes).",
           "example": "active"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D',\n  qs: {standard_cost_code_list_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D?standard_cost_code_list_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D?standard_cost_code_list_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D?standard_cost_code_list_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add fields to segment item attributes",
      "description": "Added created_at and updated_at to segment item attributes",
      "endpoint": "GET /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}",
      "breaking": false,
      "type": "refinement",
      "datestamp": "2023-01-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#show-company-segment-item"
     },
     {
      "summary": "Add fields to segment attributes",
      "description": "Added created_at, updated_at, and wbs_pattern_id to segment attributes",
      "endpoint": "GET /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}",
      "breaking": false,
      "type": "refinement",
      "datestamp": "2023-01-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#show-company-segment-item"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Company Segment Item",
    "description": "Update a specific Company Segment Item. For cost types (line item types), the status attribute can be used to activate or deactivate the cost type when the cost type deactivation feature is enabled. Deactivating the default cost type (Other) or the last remaining active cost type will return a 422 error.",
    "tags": [
     "Segment Item"
    ],
    "parameters": [
     {
      "name": "standard_cost_code_list_id",
      "in": "query",
      "description": "ID of the Standard Cost Code List to scope this request to. Required for cost_code segments \u2014 omitting it will result in an error for those segments. Retrieve valid list IDs from GET /rest/v1.0/companies/{company_id}/work_breakdown_structure/segments/{segment_id}/lists.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "code": {
          "type": "string",
          "description": "Short alphanumeric code for this segment item (e.g., '300'). For tiered segments, provide the leaf-level code only \u2014 not the full path code including parent prefixes.",
          "example": "300"
         },
         "name": {
          "type": "string",
          "description": "Display name of this segment item (e.g., 'Concrete'). Shown in the WBS picker when building a WBS code.",
          "example": "Concrete"
         },
         "status": {
          "type": "string",
          "enum": [
           "active",
           "inactive"
          ],
          "description": "Lifecycle status of the segment item. One of: 'active' (available for selection when building WBS codes), 'inactive' (hidden from the WBS picker but retained for historical records).",
          "example": "active"
         },
         "parent_id": {
          "type": "integer",
          "nullable": true,
          "description": "ID of the new parent segment item for tiered segments. Set to null to move the item to the root level.",
          "example": 34
         },
         "default_uom_id": {
          "type": "integer",
          "nullable": true,
          "description": "ID of the default unit of measure. Applies to line_item_type segment items only (company scope); ignored for other segment types.",
          "example": 5
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
           "example": 456
          },
          "code": {
           "type": "string",
           "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
           "example": "01-222"
          },
          "name": {
           "type": "string",
           "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
           "example": "Lighting"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this segment item was created, in ISO 8601 format.",
           "example": "2016-06-30T20:41:58Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this segment item was last updated, in ISO 8601 format.",
           "example": "2016-08-30T18:11:43Z"
          },
          "parent_id": {
           "type": "integer",
           "nullable": true,
           "description": "ID of the parent segment item in a tiered segment hierarchy. Null for root-level items or items in a flat-structure segment.",
           "example": 123
          },
          "path_ids": {
           "type": "array",
           "description": "Ordered list of IDs from the root ancestor down to (and including) this segment item. Use to reconstruct the full hierarchy path.",
           "items": {
            "type": "integer"
           },
           "example": [
            123,
            456
           ]
          },
          "path_code": {
           "type": "string",
           "description": "Full path code for this segment item representing the leaf code in its hierarchy (e.g., '01-222').",
           "example": "a"
          },
          "is_parent": {
           "type": "boolean",
           "description": "Whether this segment item has child items in a tiered segment structure. Always false for flat-structure segments.",
           "example": false
          },
          "path_codes": {
           "type": "array",
           "description": "Ordered list of code strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
           "items": {
            "type": "string"
           },
           "example": [
            "01 - Requirements",
            "01-222 - Lighting"
           ]
          },
          "path_names": {
           "type": "array",
           "description": "Ordered list of name strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
           "items": {
            "type": "string"
           },
           "example": [
            "01 - Requirements",
            "01-222 - Lighting"
           ]
          },
          "in_use": {
           "type": "boolean",
           "description": "Whether this segment item is currently referenced by at least one entity (e.g., a budget line item or WBS code).",
           "example": true
          },
          "segment": {
           "type": "object",
           "description": "The WBS segment definition that this segment item belongs to.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique ID of the WBS segment definition.",
             "example": 3
            },
            "name": {
             "type": "string",
             "description": "Display name of the segment (e.g., 'Cost Code', 'Sub Job').",
             "example": "Cost Code"
            },
            "type": {
             "type": "string",
             "enum": [
              "cost_code",
              "line_item_type",
              "sub_job",
              "custom",
              "attribute"
             ],
             "description": "Category of this segment. One of: 'cost_code', 'line_item_type', 'sub_job', 'custom', 'attribute'. Determines which domain entity backs the segment items.",
             "example": "cost_code"
            },
            "position": {
             "type": "integer",
             "description": "Display order of this segment within the WBS pattern. Lower numbers appear first when reading the flat_code left to right.",
             "example": 1
            },
            "delimiter": {
             "type": "string",
             "description": "Character used to separate this segment's value from adjacent segments in the flat_code (e.g., '.').",
             "example": "."
            },
            "required": {
             "type": "boolean",
             "description": "Whether this segment must have a value for a WBS code to be valid.",
             "example": true
            },
            "segment_items_count": {
             "type": "integer",
             "description": "Total number of segment items defined for this segment.",
             "example": 2
            },
            "project_can_modify_origin_project": {
             "type": "boolean",
             "description": "Whether project-level users can modify segment items that originated from this project.",
             "example": true
            },
            "project_can_delete_origin_company": {
             "type": "boolean",
             "description": "Whether project-level users can delete segment items that originated from the company level.",
             "example": true
            },
            "structure": {
             "type": "string",
             "enum": [
              "tiered",
              "flat"
             ],
             "description": "Hierarchy structure of the segment. 'flat' means items have no parent-child relationship; 'tiered' means items can be nested with parent_id references.",
             "example": "tiered"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this segment definition was created, in ISO 8601 format.",
             "example": "2016-06-30T20:41:58Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this segment definition was last updated, in ISO 8601 format.",
             "example": "2016-08-30T18:11:43Z"
            },
            "wbs_pattern_id": {
             "type": "integer",
             "description": "ID of the WBS pattern this segment belongs to.",
             "example": 4567
            }
           },
           "example": {
            "id": 3,
            "name": "Cost Code",
            "type": "cost_code",
            "position": 1,
            "delimiter": ".",
            "required": true,
            "segment_items_count": 2,
            "project_can_modify_origin_project": true,
            "project_can_delete_origin_company": true,
            "structure": "tiered",
            "created_at": "2016-06-30T20:41:58Z",
            "updated_at": "2016-08-30T18:11:43Z",
            "wbs_pattern_id": 4567
           }
          },
          "status": {
           "type": "string",
           "enum": [
            "active",
            "inactive"
           ],
           "description": "Lifecycle status of the segment item. One of: 'active' (available for selection when creating WBS codes), 'inactive' (not available for new WBS codes).",
           "example": "active"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D',\n  qs: {standard_cost_code_list_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    code: '300',\n    name: 'Concrete',\n    status: 'active',\n    parent_id: 34,\n    default_uom_id: 5\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"code\\\":\\\"300\\\",\\\"name\\\":\\\"Concrete\\\",\\\"status\\\":\\\"active\\\",\\\"parent_id\\\":34,\\\"default_uom_id\\\":5}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D?standard_cost_code_list_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D?standard_cost_code_list_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"code\":\"300\",\"name\":\"Concrete\",\"status\":\"active\",\"parent_id\":34,\"default_uom_id\":5}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D?standard_cost_code_list_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"code\\\":\\\"300\\\",\\\"name\\\":\\\"Concrete\\\",\\\"status\\\":\\\"active\\\",\\\"parent_id\\\":34,\\\"default_uom_id\\\":5}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add fields to segment item attributes",
      "description": "Added created_at and updated_at to segment item attributes",
      "endpoint": "PATCH /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}",
      "breaking": false,
      "type": "refinement",
      "datestamp": "2023-01-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#update-company-segment-item"
     },
     {
      "summary": "Add fields to segment attributes",
      "description": "Added created_at, updated_at, and wbs_pattern_id to segment attributes",
      "endpoint": "PATCH /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}",
      "breaking": false,
      "type": "refinement",
      "datestamp": "2023-01-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#update-company-segment-item"
     },
     {
      "summary": "Improve error responses",
      "description": "Support better error messages for requests that are not permitted based on the segment item's business rules",
      "endpoint": "PATCH /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2021-05-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#update-company-segment-item"
     },
     {
      "summary": "Support activating/deactivating cost types via status attribute",
      "description": "Cost types (line item types) can now be activated or deactivated using the status attribute\nwhen the cost type deactivation feature is enabled. Deactivating the default cost type (Other)\nor the last remaining active cost type is not allowed and returns a 422 error.",
      "endpoint": "PATCH /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}",
      "breaking": false,
      "type": "feature",
      "datestamp": "2026-03-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#update-company-segment-item"
     },
     {
      "summary": "Added default_uom_id field to Update Company Segment Item",
      "description": "The request body now accepts an optional default_uom_id field to set the default Unit of Measure for a Cost type (line item type) segment item. Part of the Units of Measure Validation beta.",
      "endpoint": "PATCH /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}",
      "breaking": false,
      "type": "feature",
      "datestamp": "2026-07-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#update-company-segment-item"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Company Segment Item",
    "description": "Delete a specific Company Segment Item.",
    "tags": [
     "Segment Items"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_breakdown_structure/segments/%7Bsegment_id%7D/segment_items/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Return 422 error message when delete is not permitted",
      "description": "When deleting records the API should return status 422 :unprocessable_entity responses when the action is not permitted",
      "endpoint": "DELETE /companies/{company_id}/work_breakdown_structure/segments/{segment_id}/segment_items/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2021-06-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "segment-items?version=1.0#delete-company-segment-item"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/work_breakdown_structure/segments/{segment_id}/segment_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "segment_id",
     "in": "path",
     "description": "ID of the WBS Segment to scope this request to (e.g., the cost_code or line_item_type segment). Retrieve valid segment IDs from segments[].id in the GET patterns response.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Segment Items",
    "description": "List Segment Items for a specific segment",
    "tags": [
     "Segment Items"
    ],
    "parameters": [
     {
      "name": "legacy_sub_job_id",
      "in": "query",
      "description": "Used to filter legacy cost codes by sub job. Default will filter by project.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "legacy_cost_code_id",
      "in": "query",
      "description": "ERP-specific filter: ID of the legacy cost code record from the connected ERP system. Only applicable for ERP-integrated projects. Ignored for non-ERP-integrated projects.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "include_action_policy",
      "in": "query",
      "description": "When true, includes an action_policy object on each segment item indicating which operations (create, update, delete) are permitted for the current user and ERP integration state.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "only_active_items",
      "in": "query",
      "description": "When true, returns only active segment items (status=active). Defaults to false (returns all items including inactive).",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "with_descendant_counts",
      "in": "query",
      "description": "When true, includes a count of descendant segment items on each parent item in the response. Useful for rendering tiered segment trees without loading all children upfront.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "include_sub_job_cost_codes",
      "in": "query",
      "description": "When true, includes cost codes that are associated with sub jobs in the response. Only relevant for cost_code segments on projects that have sub jobs enabled.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "with_sub_job_cost_codes_count",
      "description": "Used to include the count of cost codes that can be used to create wbs codes for each sub job. ONLY supported by sub jobs.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Work breakdown structure segment items",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
            "example": 456
           },
           "code": {
            "type": "string",
            "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
            "example": "01-222"
           },
           "name": {
            "type": "string",
            "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
            "example": "Lighting"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this segment item was created, in ISO 8601 format.",
            "example": "2016-06-30T20:41:58Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
[...]
