{
 "openapi": "3.1.0",
 "info": {
  "title": "Specification Uploads",
  "x-product-category": "Project Management",
  "x-tool-category": "Specifications",
  "x-resource-name": "Specification Uploads",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/specification_uploads/{specification_upload_id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "specification_upload_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the specification upload.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Specification Upload",
    "description": "Delete an existing Specification Upload in the specified Project.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "specification_area_id",
      "in": "query",
      "required": false,
      "description": "Unique identifier for the specification area.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden - User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found - Specification Upload does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_uploads/%7Bspecification_upload_id%7D',\n  qs: {specification_area_id: 'SOME_STRING_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_uploads/%7Bspecification_upload_id%7D?specification_area_id=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_uploads/%7Bspecification_upload_id%7D?specification_area_id=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_uploads/%7Bspecification_upload_id%7D?specification_area_id=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added delete specification_uploads endpoint",
      "description": "Delete Specification Uploads",
      "endpoint": "DELETE /companies/{company_id}/projects/{project_id}/specification_uploads/{specification_upload_id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-01",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-uploads?version=2.0#delete-specification-upload"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/projects/{project_id}/specification_uploads": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Specification Uploads",
    "description": "List the Specification Uploads in a Project",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Return item(s) with the specified status.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[specification_set_id]",
      "in": "query",
      "description": "Return items with the specified set ID.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer"
           },
           "issued_date": {
            "type": "string",
            "nullable": true,
            "example": "2020-10-20"
           },
           "received_date": {
            "type": "string",
            "nullable": true,
            "example": "2021-10-20"
           },
           "status": {
            "type": "string",
            "example": "ready_for_review"
           },
           "spec_format": {
            "type": "string",
            "enum": [
             "CSI",
             "NCS",
             "no_format"
            ],
            "example": "CSI"
           },
           "specification_set_id": {
            "type": "integer",
            "example": 21
           },
           "locale": {
            "nullable": true,
            "description": "Language used for parsing text",
            "type": "string",
            "example": "es-419"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Company or project is not valid, user is not an active contact, company does not have an ERP connection",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User has insufficient access",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_uploads',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[specification_set_id]': 'SOME_ARRAY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/specification_uploads?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bspecification_set_id%5D=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_uploads?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bspecification_set_id%5D=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_uploads?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bspecification_set_id%5D=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added specification_uploads endpoint",
      "description": "List the Specification Uploads in a Project",
      "endpoint": "GET /projects/{project_id}/specification_uploads",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-01-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-uploads?version=1.0#list-specification-uploads"
     },
     {
      "summary": "Added locale to specification_uploads response",
      "description": "Specification Uploads will include the locale in the response",
      "endpoint": "GET /projects/{project_id}/specification_uploads",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-06-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-uploads?version=1.0#list-specification-uploads"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "description": "The ID of the project to upload to",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create specification upload",
    "description": "Upload Specifications that will be pending review",
    "tags": [
     "Specifications"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "specification_set_id",
         "spec_format"
        ],
        "properties": {
         "specification_set_id": {
          "type": "integer",
          "description": "The ID of the specification set to upload to",
          "example": 1144
         },
         "specification_section_id": {
          "type": "integer",
          "description": "The ID of a Specification Section to apply to all pages in the attached file.\nIf present, the upload will not require review unless the Specification Section is deleted during processing.",
          "example": 3001
         },
         "default_revision": {
          "type": "string",
          "description": "A default revision designation to be applied to Specification Section Revisions generated from this upload",
          "example": "1"
         },
         "files": {
          "type": "array",
          "description": "One or more files in PDF format to include in the upload (limited to one if specification_section_id is set).\n*To upload drawings you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with `files[]` as files.\n*Required only if upload_uuids is empty",
          "items": {
           "type": "string",
           "example": "See body parameters description."
          }
         },
         "upload_uuids": {
          "type": "array",
          "description": "Array of uploaded files UUIDs.\n*Required only if files is empty",
          "items": {
           "type": "string",
           "example": "1ZE258W9K804SAJJZX19JVAB3R"
          }
         },
         "issued_date": {
          "type": "string",
          "description": "The date when the specifications were issued by the design team",
          "example": "2015-02-17"
         },
         "received_date": {
          "type": "string",
          "description": "The date when the specifications were received by the GC",
          "example": "2015-03-17"
         },
         "ignore_number": {
          "type": "string",
          "description": "Numbers that resemble a spec section number can make it difficult to accurately split up and auto-label the spec sections. This field contains a number flagged to be ignored by the OCR technology and therefore not read as a spec section number, which should improve upload results",
          "example": "072100"
         },
         "spec_format": {
          "type": "string",
          "description": "Specification format to apply to the upload.",
          "enum": [
           "CSI",
           "NCS",
           "no_format"
          ],
          "example": "CSI"
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer"
           },
           "issued_date": {
            "type": "string",
            "nullable": true,
            "example": "2020-10-20"
           },
           "received_date": {
            "type": "string",
            "nullable": true,
            "example": "2021-10-20"
           },
           "status": {
            "type": "string",
            "example": "ready_for_review"
           },
           "spec_format": {
            "type": "string",
            "enum": [
             "CSI",
             "NCS",
             "no_format"
            ],
            "example": "CSI"
           },
           "specification_set_id": {
            "type": "integer",
            "example": 21
           },
           "locale": {
            "nullable": true,
            "description": "Language used for parsing text",
            "type": "string",
            "example": "es-419"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Invalid upload",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "object",
           "properties": {
            "field_name": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Company or project is not valid, user is not an active contact, company does not have an ERP connection",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User has insufficient access",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Invalid specification set ID",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_uploads',\n  headers: {'content-type': 'application/json'},\n  body: {\n    specification_set_id: 1144,\n    specification_section_id: 3001,\n    default_revision: '1',\n    files: ['See body parameters description.'],\n    upload_uuids: ['1ZE258W9K804SAJJZX19JVAB3R'],\n    issued_date: '2015-02-17',\n    received_date: '2015-03-17',\n    ignore_number: '072100',\n    spec_format: 'CSI'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"specification_set_id\\\":1144,\\\"specification_section_id\\\":3001,\\\"default_revision\\\":\\\"1\\\",\\\"files\\\":[\\\"See body parameters description.\\\"],\\\"upload_uuids\\\":[\\\"1ZE258W9K804SAJJZX19JVAB3R\\\"],\\\"issued_date\\\":\\\"2015-02-17\\\",\\\"received_date\\\":\\\"2015-03-17\\\",\\\"ignore_number\\\":\\\"072100\\\",\\\"spec_format\\\":\\\"CSI\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/specification_uploads\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_uploads \\\n  --header 'content-type: application/json' \\\n  --data '{\"specification_set_id\":1144,\"specification_section_id\":3001,\"default_revision\":\"1\",\"files\":[\"See body parameters description.\"],\"upload_uuids\":[\"1ZE258W9K804SAJJZX19JVAB3R\"],\"issued_date\":\"2015-02-17\",\"received_date\":\"2015-03-17\",\"ignore_number\":\"072100\",\"spec_format\":\"CSI\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_uploads\"),\n    Content = new StringContent(\"{\\\"specification_set_id\\\":1144,\\\"specification_section_id\\\":3001,\\\"default_revision\\\":\\\"1\\\",\\\"files\\\":[\\\"See body parameters description.\\\"],\\\"upload_uuids\\\":[\\\"1ZE258W9K804SAJJZX19JVAB3R\\\"],\\\"issued_date\\\":\\\"2015-02-17\\\",\\\"received_date\\\":\\\"2015-03-17\\\",\\\"ignore_number\\\":\\\"072100\\\",\\\"spec_format\\\":\\\"CSI\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added create specification_uploads endpoint",
      "description": "Upload Specifications that will be pending review",
      "endpoint": "POST /projects/{project_id}/specification_uploads",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-01-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-uploads?version=1.0#create-specification-upload"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}