{
 "openapi": "3.1.0",
 "info": {
  "title": "Specification Sections",
  "x-product-category": "Project Management",
  "x-tool-category": "Specifications",
  "x-resource-name": "Specification Sections",
  "version": "2.1",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_areas/{specification_area_id}/specification_sections": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "specification_area_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the specification area.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Specification Sections for a Project",
    "description": "This endpoint returns a paginated list of Specification Sections for a Project.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filter_set_id",
      "in": "query",
      "required": false,
      "description": "Filter by specification set ID. Use `none` for sections without a set.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter_division_id",
      "in": "query",
      "required": false,
      "description": "Filter by a single specification section division ID.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "search_string",
      "in": "query",
      "required": false,
      "description": "Search string to filter sections by number, description, division, set, or revision.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[division_ids]",
      "in": "query",
      "required": false,
      "description": "List of Unique identifier for the specification division(s).",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "example": 23
       }
      }
     },
     {
      "name": "exclude_ids",
      "in": "query",
      "required": false,
      "description": "Exclude records by ids from the response",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "viewable_document_id_required",
      "in": "query",
      "required": false,
      "description": "When `true`, only return sections whose current revision has a viewable document (i.e. `viewable_document_id` is populated). Defaults to `false`, which returns sections regardless.",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "string"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Specification Sections",
         "description": "Specification Sections collection Response",
         "properties": {
          "data": {
           "description": "List of specifications sections for current project",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Specification Section",
            "properties": {
             "id": {
              "type": "string",
              "description": "Specification Section ID",
              "example": "123"
             },
             "current_revision_id": {
              "type": "string",
              "example": "396",
              "description": "Id of the Section Revision"
             },
             "description": {
              "type": "string",
              "description": "Specification Section Description as free form text",
              "example": "Section 01 represents the first floor of the building"
             },
             "number": {
              "type": "string",
              "description": "Number of Specification Section",
              "example": "08 45 11"
             },
             "specification_area_id": {
              "type": "string",
              "example": "4",
              "description": "Id of the Section Area"
             },
             "specification_section_division_id": {
              "type": "string",
              "description": "Id of the Section Division",
              "example": "54"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the specification section was created.",
              "example": "2017-08-24T22:12:22Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_areas/%7Bspecification_area_id%7D/specification_sections',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    filter_set_id: 'SOME_STRING_VALUE',\n    filter_division_id: 'SOME_STRING_VALUE',\n    search_string: 'SOME_STRING_VALUE',\n    'filters[division_ids]': 'SOME_ARRAY_VALUE',\n    exclude_ids: 'SOME_ARRAY_VALUE',\n    viewable_document_id_required: 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_areas/%7Bspecification_area_id%7D/specification_sections?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filter_set_id=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&search_string=SOME_STRING_VALUE&filters%5Bdivision_ids%5D=SOME_ARRAY_VALUE&exclude_ids=SOME_ARRAY_VALUE&viewable_document_id_required=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_areas/%7Bspecification_area_id%7D/specification_sections?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filter_set_id=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&search_string=SOME_STRING_VALUE&filters%5Bdivision_ids%5D=SOME_ARRAY_VALUE&exclude_ids=SOME_ARRAY_VALUE&viewable_document_id_required=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_areas/%7Bspecification_area_id%7D/specification_sections?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filter_set_id=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&search_string=SOME_STRING_VALUE&filters%5Bdivision_ids%5D=SOME_ARRAY_VALUE&exclude_ids=SOME_ARRAY_VALUE&viewable_document_id_required=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added specification_sections list endpoint v2.1 with specification by area",
      "description": "List of Specification Sections for specification area in a project",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_areas/{specification_area_id}/specification_sections",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#list-specification-sections-for-a-project"
     },
     {
      "summary": "Added filters for specification_sections list endpoint v2.1",
      "description": "Added specification set and divisions filters for Specification Sections for specification area in a project",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_areas/{specification_area_id}/specification_sections",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-22",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#list-specification-sections-for-a-project"
     },
     {
      "summary": "Added new query param to GET v2.1 endpoint",
      "description": "Added 'exclude_ids' query param to the GET /specification_sections v.2.1 endpoint",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_areas/{specification_area_id}/specification_sections",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-08",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#list-specification-sections-for-a-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_sections": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a Specification Section",
    "description": "This endpoint creates a specification section.",
    "tags": [
     "Specifications"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "specification_section"
        ],
        "properties": {
         "specification_area_id": {
          "type": "string",
          "description": "Required when Specifications by Area is enabled."
         },
         "specification_section": {
          "type": "object",
          "required": [
           "number",
           "description",
           "specification_section_division_id"
          ],
          "properties": {
           "number": {
            "type": "string",
            "description": "Section number identifier."
           },
           "description": {
            "type": "string",
            "description": "Human-readable description of the specification section."
           },
           "specification_section_division_id": {
            "type": "string",
            "description": "ID of the specification section division this section belongs to."
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "SpecificationSectionRevision",
         "description": "A version of a Specification Section. Each time a Specification Section is revised, the newly uploaded version is a new revision of that section.",
         "properties": {
          "data": {
           "description": "List of specification section revisions",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Specification Revision",
            "properties": {
             "id": {
              "type": "string",
              "example": "347",
              "description": "Unique identifier of the specification section revision."
             },
             "description": {
              "type": "string",
              "example": "CONTRACT MODIFICATION PROCEDURES",
              "description": "The description of this revision's SpecificationSection"
             },
             "division": {
              "type": "object",
              "title": "SpecificationSectionDivision",
              "description": "Represents a construction division, which is used to group specification sections. Each SpecificationSectionDivision can contain many SpecificationSections.",
              "properties": {
               "id": {
                "type": "string",
                "example": "4"
               },
               "description": {
                "type": "string",
                "example": "General Requirements"
               },
               "number": {
                "type": "string",
                "example": "01"
               }
              }
             },
             "issued_date": {
              "type": "string",
              "format": "date",
              "example": "2023-09-06",
              "description": "The date when the SpecificationRevision was issued by the architect"
             },
             "number": {
              "type": "string",
              "example": "012600",
              "description": "The number of this revision's SpecificationSection"
             },
             "received_date": {
              "type": "string",
              "format": "date",
              "example": "2018-11-15",
              "description": "The date when the SpecificationRevision was received by the project"
             },
             "revision": {
              "type": "string",
              "format": "4",
              "description": "The revision number of the SpecificationSectionRevision"
             },
             "set": {
              "type": "object",
              "title": "SpecificationSet",
              "properties": {
               "id": {
                "type": "string",
                "example": "8"
               },
               "name": {
                "type": "string",
                "example": "Test Spec Set"
               }
              }
             },
             "specification_area_id": {
              "type": "string",
              "example": "100120",
              "description": "ID of the specification area the section belongs to."
             },
             "specification_section_id": {
              "type": "string",
              "example": "100120",
              "description": "ID of the specification section this revision belongs to."
             },
             "updated_at": {
              "type": "string",
              "description": "Updated at",
              "example": "2017-08-24T22:12:22Z"
             },
             "url": {
              "type": "string",
              "description": "Address of SpecificationRevision PDF. This can be blank if the Specification Section was created manually without an upload, and no revisions have been uploaded yet."
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the specification section revision was created.",
              "example": "2017-08-24T22:12:22Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - validation failed or required parameters are missing",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections',\n  headers: {'content-type': 'application/json'},\n  body: {\n    specification_area_id: 'string',\n    specification_section: {\n      number: 'string',\n      description: 'string',\n      specification_section_division_id: 'string'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"specification_area_id\\\":\\\"string\\\",\\\"specification_section\\\":{\\\"number\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"specification_section_division_id\\\":\\\"string\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections \\\n  --header 'content-type: application/json' \\\n  --data '{\"specification_area_id\":\"string\",\"specification_section\":{\"number\":\"string\",\"description\":\"string\",\"specification_section_division_id\":\"string\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections\"),\n    Content = new StringContent(\"{\\\"specification_area_id\\\":\\\"string\\\",\\\"specification_section\\\":{\\\"number\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"specification_section_division_id\\\":\\\"string\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added specification_sections create endpoint",
      "description": "Added specification_sections create endpoint\nTo create a specification section, add the following endpoint:",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/specification_sections",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-22",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#create-a-specification-section"
     }
    ]
   },
   "x-compliance-level": "full",
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Specification Sections for a Project",
    "description": "This endpoint returns a paginated list of Specification Sections for a Project.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "specification_area_id",
      "in": "query",
      "required": false,
      "description": "Unique identifier for the specification area.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter_set_id",
      "in": "query",
      "required": false,
      "description": "Filter by specification set ID. Use `none` for sections without a set.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter_division_id",
      "in": "query",
      "required": false,
      "description": "Filter by a single specification section division ID.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "search_string",
      "in": "query",
      "required": false,
      "description": "Search string to filter sections by number, description, division, set, or revision.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[division_ids]",
      "in": "query",
      "required": false,
      "description": "List of Unique identifier for the specification division(s).",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "example": 23
       }
      }
     },
     {
      "name": "viewable_document_id_required",
      "in": "query",
      "required": false,
      "description": "When `true`, only return sections whose current revision has a viewable document (i.e. `viewable_document_id` is populated). Defaults to `false`, which returns sections regardless.",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "string"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "SpecificationSectionRevision",
         "description": "A version of a Specification Section. Each time a Specification Section is revised, the newly uploaded version is a new revision of that section.",
         "properties": {
          "data": {
           "description": "List of specification section revisions",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Specification Revision",
            "properties": {
             "id": {
              "type": "string",
              "example": "347",
              "description": "Unique identifier of the specification section revision."
             },
             "description": {
              "type": "string",
              "example": "CONTRACT MODIFICATION PROCEDURES",
              "description": "The description of this revision's SpecificationSection"
             },
             "division": {
              "type": "object",
              "title": "SpecificationSectionDivision",
              "description": "Represents a construction division, which is used to group specification sections. Each SpecificationSectionDivision can contain many SpecificationSections.",
              "properties": {
               "id": {
                "type": "string",
                "example": "4"
               },
               "description": {
                "type": "string",
                "example": "General Requirements"
               },
               "number": {
                "type": "string",
                "example": "01"
               }
              }
             },
             "issued_date": {
              "type": "string",
              "format": "date",
              "example": "2023-09-06",
              "description": "The date when the SpecificationRevision was issued by the architect"
             },
             "number": {
              "type": "string",
              "example": "012600",
              "description": "The number of this revision's SpecificationSection"
             },
             "received_date": {
              "type": "string",
              "format": "date",
              "example": "2018-11-15",
              "description": "The date when the SpecificationRevision was received by the project"
             },
             "revision": {
              "type": "string",
              "format": "4",
              "description": "The revision number of the SpecificationSectionRevision"
             },
             "set": {
              "type": "object",
              "title": "SpecificationSet",
              "properties": {
               "id": {
                "type": "string",
                "example": "8"
               },
               "name": {
                "type": "string",
                "example": "Test Spec Set"
               }
              }
             },
             "specification_area_id": {
              "type": "string",
              "example": "100120",
              "description": "ID of the specification area the section belongs to."
             },
             "specification_section_id": {
              "type": "string",
              "example": "100120",
              "description": "ID of the specification section this revision belongs to."
             },
             "updated_at": {
              "type": "string",
              "description": "Updated at",
              "example": "2017-08-24T22:12:22Z"
             },
             "url": {
              "type": "string",
              "description": "Address of SpecificationRevision PDF. This can be blank if the Specification Section was created manually without an upload, and no revisions have been uploaded yet."
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the specification section revision was created.",
              "example": "2017-08-24T22:12:22Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    specification_area_id: 'SOME_STRING_VALUE',\n    filter_set_id: 'SOME_STRING_VALUE',\n    filter_division_id: 'SOME_STRING_VALUE',\n    search_string: 'SOME_STRING_VALUE',\n    'filters[division_ids]': 'SOME_ARRAY_VALUE',\n    viewable_document_id_required: 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&specification_area_id=SOME_STRING_VALUE&filter_set_id=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&search_string=SOME_STRING_VALUE&filters%5Bdivision_ids%5D=SOME_ARRAY_VALUE&viewable_document_id_required=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&specification_area_id=SOME_STRING_VALUE&filter_set_id=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&search_string=SOME_STRING_VALUE&filters%5Bdivision_ids%5D=SOME_ARRAY_VALUE&viewable_document_id_required=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&specification_area_id=SOME_STRING_VALUE&filter_set_id=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&search_string=SOME_STRING_VALUE&filters%5Bdivision_ids%5D=SOME_ARRAY_VALUE&viewable_document_id_required=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added specification_sections list endpoint v2.1",
      "description": "List of Specification Sections for project",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_sections",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#list-specification-sections-for-a-project"
     },
     {
      "summary": "Added filters for specification_sections list endpoint v2.1",
      "description": "Added specification set and divisions filters for Specification Sections for specification area in a project",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_sections",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-22",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#list-specification-sections-for-a-project"
     }
    ]
   }
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_sections/client_configs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Client Configuration for Specification Sections",
    "description": "This endpoint returns client configuration for the specification sections tool.",
    "tags": [
     "Specifications"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "procore": {
             "type": "object",
             "properties": {
              "environment": {
               "type": "object",
               "properties": {
                "company": {
                 "type": "object",
                 "description": "Company information"
                },
                "project": {
                 "type": "object",
                 "description": "Project information"
                },
                "domain": {
                 "type": "object",
                 "description": "Domain information"
                },
                "user": {
                 "type": "object",
                 "description": "User information"
                }
               }
              },
              "entitlements": {
               "type": "object",
               "properties": {
                "procore_project_specifications_submittal_creation_agent": {
                 "type": "boolean",
                 "example": true
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/client_configs'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/client_configs\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/client_configs"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/client_configs\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added an API to fetch client configs",
      "description": "Added an API to fetch client configs for the specifications section.\nThe response will contain the following fields:\n- procore\n  - environment\n    - company\n    - project\n    - domain\n    - user\nand many more...",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_sections/client_configs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-09",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#get-client-configuration-for-specification-sections"
     },
     {
      "summary": "Added entitlements to client configs response",
      "description": "Added procore_project_specifications_submittal_creation_agent under the entitlements property\nin the specification sections client configs response.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_sections/client_configs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-28",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#get-client-configuration-for-specification-sections"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_sections/flags_and_permissions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Permissions and Feature Flags for Specification Sections",
    "description": "This endpoint returns permissions and feature flags for the specification sections tool.",
    "tags": [
     "Specifications"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "permissions": {
             "type": "object",
             "properties": {
              "canUseDocumentsTool": {
               "type": "boolean",
               "description": "Whether user can use documents tool"
              },
              "canSeeDocusign": {
               "type": "boolean",
               "description": "Whether user can see DocuSign integration"
              },
              "canUploadSpecifications": {
               "type": "boolean",
               "description": "Whether user can upload specifications"
              },
              "canCreateSpecifications": {
               "type": "boolean",
               "description": "Whether user can create specifications"
              },
              "canShowUploads": {
               "type": "boolean",
               "description": "Whether user can show specification uploads"
              },
              "canDeletePendingSpecificationUploads": {
               "type": "boolean",
               "description": "Whether user can delete pending specification uploads"
              },
              "canReviewSpecifications": {
               "type": "boolean",
               "description": "Whether user can review uploaded specifications"
              },
              "canOpenCurrentSpecBook": {
               "type": "boolean",
               "description": "Whether user can open current spec book"
              },
              "hasDownloadAccess": {
               "type": "boolean",
               "description": "Whether user has download access"
              },
              "canForwardViaEmail": {
               "type": "boolean",
               "description": "Whether user can forward via email"
              },
              "canEditSpecifications": {
               "type": "boolean",
               "description": "Whether user can edit specifications"
              },
              "canDeleteSpecifications": {
               "type": "boolean",
               "description": "Whether user can delete specifications"
              },
              "canViewSubmittalDraftRequests": {
               "type": "boolean",
               "description": "Whether user can view submittal draft requests"
              },
              "canCreateSubmittal": {
               "type": "boolean",
               "description": "Whether user can create submittal"
              },
              "canManuallyCreateDivisions": {
               "type": "boolean",
               "description": "Whether user can manually create divisions"
              },
              "canCreateSpecificationSets": {
               "type": "boolean",
               "description": "Whether user can create specification sets"
              },
              "canManuallyCreateSpecSections": {
               "type": "boolean",
               "description": "Whether user can manually create specification sections"
              },
              "isAdmin": {
               "type": "boolean",
               "description": "Whether user is admin"
              },
              "canConfigureSpecifications": {
               "type": "boolean",
               "description": "Whether user can access the Specifications configuration page"
              },
              "canDownloadSpecifications": {
               "type": "boolean",
               "description": "Whether user can download specifications"
              },
              "canViewDownloadLog": {
               "type": "boolean",
               "description": "Whether user can view specification revision download logs"
              },
              "canViewDeletedSpecifications": {
               "type": "boolean",
               "description": "Whether user can view deleted specifications"
              },
              "canEditRelatedItem": {
               "type": "boolean",
               "description": "Whether user can edit related items"
              },
              "canViewChangeHistory": {
               "type": "boolean",
               "description": "Whether user can view specification change history"
              }
             }
            },
            "feature_flags": {
             "type": "object",
             "properties": {
              "cfsEnabled": {
               "type": "boolean",
               "description": "Whether CFS is enabled"
              },
              "centrifugoEnabled": {
               "type": "boolean",
               "description": "Whether Centrifugo is enabled"
              },
              "dwfProcessingEnabled": {
               "type": "boolean",
               "description": "Whether DWF processing is enabled"
              },
              "submittalsFromSpecsMfeEnabled": {
               "type": "boolean",
               "description": "Whether submittals from specs MFE is enabled"
              },
              "customFieldsSpecificationSectionRevisionEnabled": {
               "type": "boolean",
               "description": "Whether custom fields for specification section revision is enabled"
              },
              "specificationsBulkDownloadModalEnabled": {
               "type": "boolean",
               "description": "Whether bulk download modal is enabled"
              },
              "specificationsMfeEnabled": {
               "type": "boolean",
               "description": "Whether the Specifications MFE is enabled"
              },
              "specificationsSettingsMfeEnabled": {
               "type": "boolean",
               "description": "Whether the Specifications settings MFE is enabled"
              },
              "specificationsLandingMfeEnabled": {
               "type": "boolean",
               "description": "Whether the Specifications landing MFE is enabled"
              },
              "specificationsAllRevisionsMfeEnabled": {
               "type": "boolean",
               "description": "Whether the Specifications all revisions MFE is enabled"
              },
              "specificationsRecycleBinMfeEnabled": {
               "type": "boolean",
               "description": "Whether the Specifications recycle bin MFE is enabled"
              },
              "specificationsAreaMfeEnabled": {
               "type": "boolean",
               "description": "Whether the Specifications area MFE is enabled"
              },
              "specificationsMfeInfoPageEnabled": {
               "type": "boolean",
               "description": "Whether the Specifications info page MFE is enabled"
              },
              "specificationsAreaTransferRedirectEnabled": {
               "type": "boolean",
               "description": "Whether specification area transfer redirects are enabled"
              },
              "specExpAdvancedOpts": {
               "type": "boolean",
               "description": "Whether the experimental Upload Specification advanced options (e.g., Project Title field) are enabled. Sourced from the LaunchDarkly flag `spec_exp_advanced_opts`."
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/flags_and_permissions'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/flags_and_permissions\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/flags_and_permissions"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/flags_and_permissions\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added an API fetch permissions and flags",
      "description": "Added an API to fetch permissions and flags for the specifications section.\nThe response will contain the following fields:\n- canUseDocumentsTool\n- canSeeDocusign\n- canUploadSpecifications\n- canCreateSpecifications\n- canOpenCurrentSpecBook\n- hasDownloadAccess\nand many more...",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_sections/flags_and_permissions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-09",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#get-permissions-and-feature-flags-for-specification-sections"
     },
     {
      "summary": "Added specExpAdvancedOpts feature flag to flags_and_permissions",
      "description": "The flags_and_permissions endpoint now includes the `specExpAdvancedOpts` boolean\nproperty in its `feature_flags` object. The value reflects the LaunchDarkly flag\n`spec_exp_advanced_opts`, which gates the experimental Upload Specification advanced\noptions (including the Project Title field) in the Specifications UI MFE. The change\nis purely additive and does not affect any existing fields.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_sections/flags_and_permissions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-22",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#get-permissions-and-feature-flags-for-specification-sections"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_sections/divisions_and_sets": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get divisions and sets options for specification sections for a Project",
    "description": "This endpoint returns divisions and sets options for specification sections for a Project.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "string"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Specification Sections Divisions and Sets",
         "description": "Specification Sections Divisions and Sets collection Response",
         "properties": {
          "data": {
           "description": "Divisions and sets options for specification sections for current project",
           "type": "object",
           "properties": {
            "division_options": {
             "type": "object",
             "description": "Divisions options",
             "properties": {
              "all_divisions": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Specification Section Division",
                "properties": {
                 "value": {
                  "type": "string",
                  "description": "Specification Section Division ID",
                  "example": "1"
                 },
                 "label": {
                  "type": "string",
                  "description": "Specification Section Division Name",
                  "example": "Section 01 represents the first floor of the building"
                 }
                }
               }
              },
              "selected_division": {
               "type": "object",
               "description": "Selected division",
               "properties": {
                "value": {
                 "type": "string",
                 "description": "Specification Section Division ID",
                 "example": "123"
                },
                "label": {
                 "type": "string",
                 "description": "Specification Section Division Name",
                 "example": "Section 01 represents the first floor of the building"
                }
               }
              }
             }
            },
            "sets_options": {
             "type": "object",
             "description": "Sets options",
             "properties": {
              "all_sets": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Specification Section Set",
                "properties": {
                 "value": {
                  "type": "string",
                  "description": "Specification Section Set ID",
                  "example": "1"
                 },
                 "label": {
                  "type": "string",
                  "description": "Specification Section Set Name",
                  "example": "Section 01 represents the first floor of the building"
                 }
                }
               }
              },
              "selected_set": {
               "type": "object",
               "description": "Selected set",
               "properties": {
                "value": {
                 "type": "string",
                 "description": "Specification Section Set ID",
                 "example": "123"
                },
                "label": {
                 "type": "string",
                 "description": "Specification Section Set Name",
                 "example": "Section 01 represents the first floor of the building"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/divisions_and_sets',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/divisions_and_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/divisions_and_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/divisions_and_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added divisions and sets options to specification_sections list endpoint",
      "description": "Added divisions and sets options to specification_sections list endpoint\nTo get divisions and sets options, add the following endpoint:",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_sections/divisions_and_sets",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-16",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#get-divisions-and-sets-options-for-specification-sections-for-a-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_sections/unreviewed_uploads": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get unreviewed uploads for specification sections for a Project",
    "description": "This endpoint returns unreviewed uploads for specification sections for a Project.",
    "tags": [
     "Specifications"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Specification Sections Unreviewed Uploads",
         "description": "Specification Sections Unreviewed Uploads collection Response",
         "properties": {
          "data": {
           "description": "Unreviewed uploads for specification sections for current project",
           "type": "object",
           "properties": {
            "uploads": {
             "type": "array",
             "items": {
              "type": "object",
              "description": "Unreviewed upload for specification section, submittal draft request, or specification area transfer",
              "properties": {
               "created_at": {
                "type": "string",
                "description": "Unreviewed upload created at",
                "example": "2025-07-17T07:13:47Z"
               },
               "state": {
                "type": "string",
                "description": "Unreviewed upload state",
                "example": "review"
               },
               "id": {
                "type": "string",
                "description": "Unreviewed upload ID",
                "example": "69"
               },
               "status": {
                "type": "string",
                "description": "Unreviewed upload status",
                "example": "ready_for_review"
               },
               "type": {
                "type": "string",
                "description": "Unreviewed upload type",
                "example": "specification_area_transfer"
               },
               "review_url": {
                "type": "string",
                "description": "Unreviewed upload review url",
                "example": "/8/project/specification_areas/7/specification_area_transfers/69/review"
               },
               "created_by": {
                "type": "string",
                "description": "Unreviewed upload created by",
                "example": "Contact"
               },
               "file": {
                "type": "object",
                "description": "Unreviewed upload file",
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "Unreviewed upload file name",
                  "example": "Transfer from Area 01"
                 },
                 "size": {
                  "type": "string",
                  "description": "Unreviewed upload file size",
                  "example": "4"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/unreviewed_uploads'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/unreviewed_uploads\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/unreviewed_uploads"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_sections/unreviewed_uploads\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added unreviewed uploads to specification_sections list endpoint",
      "description": "Added unreviewed uploads to specification_sections list endpoint\nTo get unreviewed uploads, add the following endpoint:",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_sections/unreviewed_uploads",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-17",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-sections?version=2.1#get-unreviewed-uploads-for-specification-sections-for-a-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_sections/deletion_log": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get list of deleted specification sections for a Project",
    "description": "This endpoint returns deleted specification sections for a Project.",
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filter_set_id",
      "in": "query",
      "required": false,
      "description": "Filter by specification set ID. Use 'none' for sections without a set.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter_division_id",
      "in": "query",
      "required": false,
      "description": "Filter by a single specification section division ID.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter_division_ids",
      "in": "query",
      "required": false,
      "description": "Filter by multiple specification section division IDs.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "search_string",
      "in": "query",
      "required": false,
      "description": "Search string to filter sections by number, description, division description, set name, or revision.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "exclude_ids",
      "in": "query",
      "required": false,
      "description": "Array of specification section revision IDs to exclude from results.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "tags": [
     "Specifications"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "string"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Specification Sections Deletion Log",
         "description": "Specification Sections deletion log collection Response",
         "properties": {
          "data": {
           "description": "deleted specification sections for a project",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Deleted Specification Section",
            "properties": {
             "id": {
              "type": "string",
              "description": "Specification Section Revision ID",
              "example": "123"
             },
             "revision": {
              "type": "string",
              "example": "396",
              "description": "Revision number of the deleted Section Revision"
             },
             "description": {
              "type": "string",
              "description": "Specification Section Description as free form text",
              "example": "Section 01 represents the first floor of the building"
             },
             "number": {
              "type": "string",
              "description": "Number of Specification Section",
              "example": "08 45 11"
             },
             "specification_area_id": {
              "type": "string",
              "example": "4",
              "description": "Id of the Section Area"
             },
             "specification_section_id": {
              "type": "string",
              "description": "Id of the Specification Section",
              "example": "54"
             },
             "deleted_at": {
              "type": "string",
              "description": "Date of deletion of the Specification Section Revision",
              "example": "2025-04-21T05:13:46Z"
             },
             "updated_at": {
              "type": "string",
              "description": "Date of last update on the Specification Section Revision",
              "example": "2025-04-21T05:13:46Z"
             },
             "issued_date": {
              "type": "string",
              "description": "Date of issue of the Specification Section Revision",
              "example": "2025-02-02"
             },
             "received_date": {
              "type": "string",
              "description": "Date of receiving of the Specification Section Revision",
              "example": "2025-02-02"
             },
             "deleted_by": {
              "type": "object",
              "description": "User who deleted the Specification Section Revision",
              "properties": {
               "id": {
                "type": "string",
                "description": "User ID",
                "example": "3"
               },
               "login": {
                "type": "string",
                "description": "User login",
                "example": "marcia@example.com"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "Marcia Carrera"
               }
              }
             },
             "set": {
              "type": "object",
              "description": "Set to which the deleted Specification Section Revision belongs",
              "properties": {
               "id": {
                "type": "string",
                "description": "Set ID",
                "example": "1"
               },
               "date": {
                "type": "string",
                "description": "Date of the set",
                "example": "2025-02-02"
               },
               "deletable": {
                "type": "boolean",
                "description": "Whether the set is deletable",
                "example": false
               },
               "name": {
                "type": "string",
                "description": "Name of the set",
                "example": "set 1"
               },
               "position": {
                "type": "integer",
                "description": "Position of the set in the list",
                "example": 1
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
[...]
