{
 "openapi": "3.0.0",
 "info": {
  "title": "Specification Section Terms",
  "x-product-category": "Project Management",
  "x-tool-category": "Specifications",
  "x-resource-name": "Specification Section Terms",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/specification_section_terms": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List specification section terms",
    "description": "Returns extracted text terms and page numbers for a collection of Specification Sections.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "specification_section_ids",
      "in": "query",
      "description": "Specification Sections to fetch extracted terms for. Limited to 100 sections per call; clients should paginate larger collections.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of specification section documents with associated terms",
         "nullable": true,
         "items": {
          "type": "object",
          "title": "SpecificationSectionTermSet",
          "description": "Specification Section",
          "properties": {
           "specification_section_id": {
            "type": "integer",
            "description": "Specification Section ID",
            "example": 123
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Specification Section terms updated at",
            "example": "2025-11-12T12:00:00Z"
           },
           "terms": {
            "type": "array",
            "description": "Array of searchable pages with extracted text",
            "items": {
             "type": "object",
             "properties": {
              "page_number": {
               "type": "integer",
               "description": "Page number",
               "example": 1
              },
              "text": {
               "type": "string",
               "description": "Extracted text from the page",
               "example": "This is sample text extracted from the specification page."
              }
             }
            },
            "example": [
             {
              "page_number": 1,
              "text": "Introduction to project specifications"
             },
             {
              "page_number": 2,
              "text": "Detailed requirements and materials list"
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "BadRequest\n\nThis is most likely caused by supplying too many section ids.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/specification_section_terms',\n  qs: {specification_section_ids: 'SOME_ARRAY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/specification_section_terms?specification_section_ids=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/specification_section_terms?specification_section_ids=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/specification_section_terms?specification_section_ids=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added more details in responses if no search terms found.",
      "description": "Returns the requested specification sections id instead of empty array if no search terms found.",
      "endpoint": "GET /projects/{project_id}/specification_section_terms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-14",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-terms?version=1.1#list-specification-section-terms"
     },
     {
      "summary": "Updated MAX_ID_COUNT limit to 50 for consistency with DrawingRevisionTerms",
      "description": "Changed the maximum number of specification_section_ids per request from 100 to 50 \nto match the DrawingRevisionTerms endpoint and prevent excessive Elasticsearch operations.",
      "endpoint": "GET /projects/{project_id}/specification_section_terms",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-11-14",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-terms?version=1.0#list-specification-section-terms"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/projects/{project_id}/specification_section_terms": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List specification section terms",
    "description": "Returns extracted text terms and page numbers for a collection of Specification Sections.\n\nSpecification Sections which do not have any recorded term data will be omitted from the response.\nAn empty term collection for a specification section indicates that the section has been processed, but that\nno terms were found.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "specification_section_ids",
      "in": "query",
      "description": "Specification Sections to fetch extracted terms for. Limited to 100 sections per call; clients should paginate larger collections.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of specification section documents with associated terms",
         "nullable": true,
         "items": {
          "type": "object",
          "title": "SpecificationSectionTermSet",
          "description": "Specification Section",
          "properties": {
           "specification_section_id": {
            "type": "integer",
            "description": "Specification Section ID",
            "example": 123
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Specification Section terms updated at",
            "example": "2025-11-12T12:00:00Z"
           },
           "terms": {
            "type": "array",
            "description": "Array of searchable pages with extracted text",
            "items": {
             "type": "object",
             "properties": {
              "page_number": {
               "type": "integer",
               "description": "Page number",
               "example": 1
              },
              "text": {
               "type": "string",
               "description": "Extracted text from the page",
               "example": "This is sample text extracted from the specification page."
              }
             }
            },
            "example": [
             {
              "page_number": 1,
              "text": "Introduction to project specifications"
             },
             {
              "page_number": 2,
              "text": "Detailed requirements and materials list"
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "BadRequest\n\nThis is most likely caused by supplying too many section ids.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_section_terms',\n  qs: {specification_section_ids: 'SOME_ARRAY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/specification_section_terms?specification_section_ids=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_section_terms?specification_section_ids=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/specification_section_terms?specification_section_ids=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added specification_section_terms endpoint",
      "description": "Returns extracted text terms and page numbers for a collection of Specification Sections.",
      "endpoint": "GET /projects/{project_id}/specification_section_terms",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-11-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-terms?version=1.0#list-specification-section-terms"
     },
     {
      "summary": "Updated MAX_ID_COUNT limit to 50 for consistency with DrawingRevisionTerms",
      "description": "Changed the maximum number of specification_section_ids per request from 100 to 50 \nto match the DrawingRevisionTerms endpoint and prevent excessive Elasticsearch operations.",
      "endpoint": "GET /projects/{project_id}/specification_section_terms",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-11-14",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-terms?version=1.0#list-specification-section-terms"
     }
    ],
    "x-superseded": true
   },
   "x-compliance-level": "partial"
  }
 }
}