{
 "openapi": "3.0.0",
 "info": {
  "title": "Specification Section Revisions",
  "x-product-category": "Project Management",
  "x-tool-category": "Specifications",
  "x-resource-name": "Specification Section Revisions",
  "version": "2.1",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_section_revisions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Specification Sections Revisions for a Project",
    "description": "This endpoint returns a paginated list of Specification Sections Revisions for a Project. This version (2.1) uses improved pagination with a default of 100 items per page and a maximum of 1000 items per page.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "search_string",
      "in": "query",
      "description": "Search string to filter specification sections",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter_division_id",
      "in": "query",
      "description": "Filter by specification section division ID",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "with_prostore_url",
      "in": "query",
      "description": "When true, includes a `prostore_url` field on each nested `specification_section_revisions` entry containing the download URL for the associated Procore Store document file. Null when the revision has no associated file.",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "string"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "divisions": {
             "type": "array",
             "items": {
              "type": "object",
              "title": "SpecificationSectionAllRevision",
              "description": "A comprehensive response containing specification sections with their associated sets, and revisions. This schema represents the nested structure returned by the specification section revisions endpoint.",
              "properties": {
               "data": {
                "type": "array",
                "description": "Array of specification sections with their associated sets, and revisions",
                "items": {
                 "type": "object",
                 "title": "SpecificationSectionDivisionWithSections",
                 "description": "A specification section division containing its sections",
                 "properties": {
                  "id": {
                   "type": "string",
                   "example": "2206",
                   "description": "The unique identifier of the specification section"
                  },
                  "current_revision": {
                   "type": "object",
                   "title": "SpecificationSectionRevision",
                   "description": "The current revision of this specification section",
                   "properties": {
                    "id": {
                     "type": "string",
                     "example": "2582",
                     "description": "The unique identifier of the revision"
                    },
                    "revision": {
                     "type": "string",
                     "example": "0",
                     "description": "The revision number"
                    }
                   }
                  },
                  "current_revision_id": {
                   "type": "string",
                   "example": "2582",
                   "description": "The ID of the current revision"
                  },
                  "description": {
                   "type": "string",
                   "example": "Default Section",
                   "description": "The description of the specification section"
                  },
                  "number": {
                   "type": "string",
                   "example": "0000",
                   "description": "The section number"
                  },
                  "specification_area_id": {
                   "type": "string",
                   "nullable": true,
                   "description": "The specification area ID"
                  },
                  "specification_section_division_id": {
                   "type": "string",
                   "example": "2970",
                   "description": "The specification section division ID"
                  },
                  "section_obsolete": {
                   "type": "boolean",
                   "example": false,
                   "description": "Indicates if the section is obsolete"
                  },
                  "specification_sets": {
                   "type": "array",
                   "description": "Array of specification sets with their revisions",
                   "items": {
                    "type": "object",
                    "title": "SpecificationSetWithRevisions",
                    "description": "A specification set containing its revisions",
                    "properties": {
                     "id": {
                      "type": "string",
                      "example": "3047",
                      "description": "The unique identifier of the specification set"
                     },
                     "name": {
                      "type": "string",
                      "example": "Vortex Specs",
                      "description": "The name of the specification set"
                     },
                     "specification_section_revisions": {
                      "type": "array",
                      "description": "Array of revisions within this specification set",
                      "items": {
                       "type": "object",
                       "title": "SpecificationSectionRevision",
                       "description": "A specification section revision",
                       "properties": {
                        "id": {
                         "type": "string",
                         "example": "2582",
                         "description": "The unique identifier of the revision"
                        },
                        "revision": {
                         "type": "string",
                         "example": "0",
                         "description": "The revision number"
                        },
                        "prostore_url": {
                         "type": "string",
                         "format": "uri",
                         "example": "https://example.test/prostore/files/specification_section_revision_2582.pdf?companyId=123&projectId=456&sig=example-signature",
                         "nullable": true,
                         "description": "The download URL for the specification document file stored in Procore Store (prostore). Only present in the response when the `with_prostore_url` query parameter is `true`. Null when the revision has no associated prostore file."
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              }
             },
             "description": "Array of specification section divisions with their associated sections, sets, and revisions"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    search_string: 'SOME_STRING_VALUE',\n    filter_division_id: 'SOME_STRING_VALUE',\n    with_prostore_url: 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&search_string=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&with_prostore_url=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&search_string=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&with_prostore_url=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&search_string=SOME_STRING_VALUE&filter_division_id=SOME_STRING_VALUE&with_prostore_url=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added specification_section_revisions list endpoint v2.1",
      "description": "List of Specification Section Revisions for project",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-19",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#list-specification-sections-revisions-for-a-project"
     },
     {
      "summary": "Add optional with_prostore_url parameter to specification section revisions list (v2.1)",
      "description": "`GET /companies/{company_id}/projects/{project_id}/specification_section_revisions` now accepts\noptional query parameter `with_prostore_url=true` to include `prostore_url` on nested\n`specification_sets[*].specification_section_revisions[*]` entries.\nWhen omitted (or false), `prostore_url` is not included.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-03",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#list-specification-sections-revisions-for-a-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/change_history": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the specification section revision.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Change History of Specification Section Revision",
    "description": "This endpoint returns the change history of a specification section revision.",
    "tags": [
     "Specifications",
     "Change History"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "sort",
      "in": "query",
      "required": false,
      "description": "Sort by `created_at` ascending when provided; otherwise results are newest first.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "message": {
             "type": "string",
             "description": "The message of the change history",
             "example": "Change history sent successfully"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D/change_history',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D/change_history?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D/change_history?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D/change_history?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "added change history endpoint for specification section revisions",
      "description": "List of change history for a Specification Section Revisions",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/change_history",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-25",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#change-history-of-specification-section-revision"
     },
     {
      "summary": "added sort parameter to change history endpoint for specification section revisions",
      "description": "Sort change history by created_at.\nTo sort by created_at, add the following query parameter:\n`?sort=created_at`\nTo sort by created_at in descending order, add the following query parameter:\n`?sort=-created_at`",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/change_history",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-12",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#change-history-of-specification-section-revision"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_section_revisions/create_zip_download": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Download zip of Specification Section Revisions",
    "description": "This endpoint sends an url to download zip of a collection of specification section revisions.",
    "tags": [
     "Specifications"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "specification_section_revision_ids"
        ],
        "properties": {
         "specification_section_revision_ids": {
          "type": "array",
          "items": {
           "type": "string"
          }
         },
         "has_public_markup": {
          "type": "boolean",
          "description": "Optional flag. When true, the API attempts to generate and include a merged public-markup PDF download in the resulting email flow. When false or omitted, only the standard merged PDF flow is used.",
          "default": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "url": {
             "type": "string",
             "description": "the url of zip created for revisions",
             "example": "https://example.com/download.zip"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/create_zip_download',\n  headers: {'content-type': 'application/json'},\n  body: {specification_section_revision_ids: ['string'], has_public_markup: false},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"specification_section_revision_ids\\\":[\\\"string\\\"],\\\"has_public_markup\\\":false}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/create_zip_download\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/create_zip_download \\\n  --header 'content-type: application/json' \\\n  --data '{\"specification_section_revision_ids\":[\"string\"],\"has_public_markup\":false}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/create_zip_download\"),\n    Content = new StringContent(\"{\\\"specification_section_revision_ids\\\":[\\\"string\\\"],\\\"has_public_markup\\\":false}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added specification_section_revisions download zip endpoint v2.1",
      "description": "Download zip of Specification Section Revisions for project",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/specification_section_revisions/create_zip_download",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-19",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#download-zip-of-specification-section-revisions"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_section_revisions/single_pdf_download": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Download single pdf of Specification Section Revisions",
    "description": "This endpoint sends an email with a single pdf for collection of specification section revisions.",
    "tags": [
     "Specifications"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "specification_section_revision_ids"
        ],
        "properties": {
         "specification_section_revision_ids": {
          "type": "array",
          "items": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "message": {
             "type": "string",
             "description": "success message",
             "example": "Your download is being generated. It will be emailed to you when it is ready."
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/single_pdf_download',\n  headers: {'content-type': 'application/json'},\n  body: {specification_section_revision_ids: ['string']},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"specification_section_revision_ids\\\":[\\\"string\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/single_pdf_download\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/single_pdf_download \\\n  --header 'content-type: application/json' \\\n  --data '{\"specification_section_revision_ids\":[\"string\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/single_pdf_download\"),\n    Content = new StringContent(\"{\\\"specification_section_revision_ids\\\":[\\\"string\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added specification_section_revisions download single pdf endpoint v2.1",
      "description": "Download single pdf of Specification Section Revisions for project",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/specification_section_revisions/single_pdf_download",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-20",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#download-single-pdf-of-specification-section-revisions"
     },
     {
      "summary": "Add optional has_public_markup flag to single PDF download endpoint (v2.1)",
      "description": "`POST /companies/{company_id}/projects/{project_id}/specification_section_revisions/single_pdf_download`\nnow accepts optional boolean field `has_public_markup`.\n\nWhen `has_public_markup=true`, the API attempts to generate a merged public-markup\nPDF alongside the standard merged PDF and uses the markup-aware delivery flow.\nWhen omitted or false, existing behavior is unchanged.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/specification_section_revisions/single_pdf_download",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-12",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#download-single-pdf-of-specification-section-revisions"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/download_log": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the specification section revision.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Download Log of Specification Section Revision",
    "description": "This endpoint returns the download log of a specification section revision. Access is granted to Admin users and to non-admin users who have the `can_view_download_log` granular permission.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "string"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "Download ID",
              "example": "12345"
             },
             "download_method": {
              "type": "string",
              "description": "Download method info",
              "example": "via Procore"
             },
             "downloaded_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "User ID",
                "example": "12345"
               },
               "name": {
                "type": "string",
                "description": "User Name",
                "example": "Test User"
               },
               "login": {
                "type": "string",
                "description": "User login information",
                "example": "testuser@example.com"
               }
              }
             },
             "created_at": {
              "type": "string",
              "description": "Download datetime",
              "example": "2025-07-17T07:13:47Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D/download_log',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D/download_log?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D/download_log?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D/download_log?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "added download log endpoint for specification section revisions",
      "description": "List of download logs for a Specification Section Revisions",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/download_log",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-25",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#download-log-of-specification-section-revision"
     },
     {
      "summary": "added sort parameter to download log endpoint for specification section revisions",
      "description": "Sort download log by created_at.\nTo sort by created_at, add the following query parameter:\n`?sort=created_at`\nTo sort by created_at in descending order, add the following query parameter:\n`?sort=-created_at`",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/download_log",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-01-29",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#download-log-of-specification-section-revision"
     },
     {
      "summary": "Renamed specification revision download log labels for Unified Viewer (v2.1)",
      "description": "Specification revision download events now use Unified Viewer naming in download logs.\nThe `download_method` label for newly created events can now be:\n- `downloaded with visible markup` (previously `Download Current Viewing`)\n- `downloaded with markup` (previously `Download with Markup`)\nExisting legacy event values continue to render correctly.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/download_log",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-16",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#download-log-of-specification-section-revision"
     },
     {
      "summary": "Restrict download log access via dedicated granular permission (v2.1)",
      "description": "`GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/download_log`\nnow authorizes access using a dedicated granular permission: `can_view_download_log`.\n\nAccess behavior:\n- Admin users can access download log data.\n- Non-admin users can access download log data only when explicitly granted\n  `can_view_download_log`.\n- Non-admin users without this granular permission receive `403 Forbidden`.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/download_log",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-07-21",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#download-log-of-specification-section-revision"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the specification section revision.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Specification Section Revision",
    "description": "This endpoint returns the specification section revision.",
    "tags": [
     "Specifications"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "string"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "SpecificationSectionRevision",
         "description": "A version of a Specification Section. This schema represent a selected version of a specification section and also all the versions of the specification section.",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "selected_revision": {
             "type": "object",
             "title": "SpecificationSectionRevision",
             "description": "The selected revision of the specification section",
             "properties": {
              "id": {
               "type": "string",
               "example": "347",
               "description": "The unique identifier of the selected revision"
              },
              "division": {
               "type": "object",
               "title": "SpecificationSectionDivision",
               "description": "Represents a construction division, which is used to group specification sections. Each SpecificationSectionDivision can contain many SpecificationSections.",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "4"
                },
                "description": {
                 "type": "string",
                 "example": "General Requirements"
                },
                "number": {
                 "type": "string",
                 "example": "01"
                }
               }
              },
              "issued_date": {
               "type": "string",
               "format": "date",
               "example": "2023-09-06",
               "description": "The date when the SpecificationRevision was issued by the architect"
              },
              "received_date": {
               "type": "string",
               "format": "date",
               "example": "2018-11-15",
               "description": "The date when the SpecificationRevision was received by the project"
              },
              "revision": {
               "type": "string",
               "format": "4",
               "description": "The revision number of the SpecificationSectionRevision"
              },
              "number": {
               "type": "string",
               "example": "01"
              },
              "description": {
               "type": "string",
               "example": "General Requirements"
              },
              "set": {
               "type": "object",
               "title": "SpecificationSet",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "8"
                },
                "name": {
                 "type": "string",
                 "example": "Test Spec Set"
                }
               }
              },
              "specification_section_id": {
               "type": "string",
               "example": "100120"
              },
              "updated_at": {
               "type": "string",
               "description": "Updated at",
               "example": "2017-08-24T22:12:22Z"
              },
              "specification_area_id": {
               "type": "string",
               "example": "100120"
              },
              "specification_area_name": {
               "type": "string",
               "nullable": true,
               "example": "Area A",
               "description": "Name of the associated specification area. `null` when the specification section does not belong to an area."
              },
              "long_description": {
               "type": "string",
               "example": "01 11 13 - Summary of Work",
               "description": "Human-readable section label in the format `<number> - <description>`."
              },
              "url": {
               "type": "string",
               "example": "https://pz01-procore-512b1432.na-east-01-tugboat.procoretech-qa.com/fas/api/v5/files/us-east-1/pro-core.com-staging/f8b43d8b-f576-4b78-bc24-112661858ec6_staging_merged.pdf?companyId=200&projectId=7584&sig=902d1800d5b9b2fdc1b9a7ef97ed4dec797cab97313a2ddfa4e98b00e7e37d77"
              },
              "viewable_document_id": {
               "type": "string",
               "example": "100120"
              },
              "section_obsolete": {
               "type": "boolean",
               "example": false
              },
              "size": {
               "type": "integer",
               "format": "int64",
               "nullable": true,
               "example": 1048576,
               "description": "Size in bytes of the associated prostore_file. `null` if the revision has no associated prostore_file."
              },
              "content_type": {
               "type": "string",
               "nullable": true,
               "example": "application/pdf",
               "description": "MIME content type of the associated prostore_file. `null` if the revision has no associated prostore_file."
              },
              "s3_key": {
               "type": "string",
               "nullable": true,
               "example": "a1b2c3d4-e5f6-7890-abcd-1234567890ef",
               "description": "S3 object key for the associated prostore_file. `null` if the revision has no associated prostore_file."
              },
              "confirmed_by": {
               "type": "object",
               "title": "LoginInformation",
               "description": "The user who confirmed the specification section revision",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "100120"
                },
                "name": {
                 "type": "string",
                 "example": "John Doe"
                },
                "login": {
                 "type": "string",
                 "example": "john.doe@example.com"
                }
               }
              }
             }
            },
            "all_revisions": {
             "type": "array",
             "title": "SpecificationSectionRevision",
             "description": "All revisions of the specification section",
             "items": {
              "type": "object",
              "description": "Revisions of the specification section",
              "properties": {
               "id": {
                "type": "string",
                "example": "347"
               },
               "issued_date": {
                "type": "string",
                "format": "date",
                "example": "2023-09-06",
                "description": "The date when the SpecificationRevision was issued by the architect"
               },
               "received_date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-15",
                "description": "The date when the SpecificationRevision was received by the project"
               },
               "revision": {
                "type": "string",
                "format": "4",
                "description": "The revision number of the SpecificationSectionRevision"
               },
               "set": {
                "type": "object",
                "title": "SpecificationSet",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "8"
                 },
                 "name": {
                  "type": "string",
                  "example": "Test Spec Set"
                 }
                }
               },
               "specification_section_id": {
                "type": "string",
                "example": "100120"
               },
               "updated_at": {
                "type": "string",
                "description": "Updated at",
                "example": "2017-08-24T22:12:22Z"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "added show endpoint for specification section revisions",
      "description": "Show a Specification Section Revision",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-26",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#show-specification-section-revision"
     },
     {
      "summary": "Added prostore file metadata to current_revision payload (v2.1)",
      "description": "`GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}` now\nincludes three additional fields on the `current_revision` payload, sourced from the associated\n`prostore_file`:\n  - `size` \u2014 size in bytes of the prostore file (integer, nullable)\n  - `content_type` \u2014 MIME content type of the prostore file (string, nullable)\n  - `s3_key` \u2014 S3 object key of the prostore file (string, nullable)\nAll three fields are `null` when the revision has no associated `prostore_file`.\nThese fields are intentionally NOT included on `all_revisions[*]` entries.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#show-specification-section-revision"
     },
     {
      "summary": "Add prostore_file_id and specification_viewer view to specification section revision show (v2.1)",
      "description": "`GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}` now exposes\n`prostore_file_id` (the underlying `ProstoreFile` id, or `null`) inside `data.current_revision`, allowing\nclients to fetch the backing file without an additional round-trip.\n\nThe endpoint also accepts an optional `view=specification_viewer` query parameter. When provided,\n`data.all_revisions` is returned as an empty array; `data.current_revision` is unchanged. This is intended\nfor the Unified Viewer integration, which does not need the revision history list and benefits from the\nreduced payload. Omitting `view` preserves the existing response shape.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-12",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#show-specification-section-revision"
     },
     {
      "summary": "Add specification area name and long description to show response (v2.1)",
      "description": "`GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}` now\nincludes two additional fields on `data.current_revision`:\n  - `specification_area_name` \u2014 the associated specification area name, or `null`\n    when the section has no specification area.\n  - `long_description` \u2014 a human-readable section label in the format\n    `<number> - <description>`.\n`all_revisions` entries are unchanged.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-15",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#show-specification-section-revision"
     },
     {
      "summary": "Scope spec area name and long description to specification_viewer show view (v2.1)",
      "description": "`GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}`\nnow returns `specification_area_name` and `long_description` on `data.current_revision`\nonly when the request includes `view=specification_viewer`.\n\nThe default show response (without `view=specification_viewer`) is unchanged and\ndoes not include these two fields.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-15",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#show-specification-section-revision"
     },
     {
      "summary": "Scope prostore file metadata to specification_viewer show view (v2.1)",
      "description": "`GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}`\nnow returns `size`, `content_type`, and `s3_key` on `data.current_revision` only when the\nrequest includes `view=specification_viewer`.\n\nPreviously (since the 2026-05-18 change) these three fields were returned on\n`data.current_revision` for every `show` request. The default show response (without\n`view=specification_viewer`) no longer includes them. `data.all_revisions` entries remain\nunaffected (they never included these fields).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-17",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#show-specification-section-revision"
     }
    ]
   },
   "put": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Specification Section Revision",
    "description": "Updates a specification section revision. The request body must include `specification_section`\nand `specification_section_revision` objects (see schema).\n\n**HTTP methods:** Both `PUT` and `PATCH` are supported with the same request body.\n\n**Success:** Returns `200 OK` with the updated revision.\n\n**Validation errors:** Returns `422 Unprocessable Entity` when attribute validation fails\n(for example duplicate number and description, invalid division or specification set, or invalid\nrevision). The response uses `error.code` `UNPROCESSABLE_ENTITY`, a summary `error.message`,\nand `error.details` with `reason_code` `VALIDATION_ERROR` and a `failures` object whose keys are\nAPI field names and whose values are arrays of validation message strings.\n\n**Not found:** Returns `404 Not Found` when the specification section revision id does not exist\nfor the project\u2014not for validation failures on the payload.",
    "tags": [
     "Specifications"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "A request to edit a specification section revision.",
        "properties": {
         "specification_section": {
          "description": "The description of the specification section",
          "type": "object",
          "properties": {
           "description": {
            "type": "string",
            "description": "The description of the specification section",
            "example": "PAYMENT PROCEDURES testing"
           },
           "number": {
            "type": "string",
            "description": "The number of the specification section",
            "example": "012900"
           },
           "specification_section_division_id": {
            "type": "string",
            "description": "The specification section division id of the specification section",
            "example": "20"
           },
           "obsolete": {
            "type": "boolean",
            "description": "The obsolete status of the specification section",
            "example": false
           }
          }
         },
         "specification_section_revision": {
          "type": "object",
          "properties": {
           "issued_date": {
            "type": "string",
            "description": "The issued date of the specification section revision",
            "example": "2022-12-01"
           },
           "received_date": {
            "type": "string",
            "description": "The received date of the specification section revision",
            "example": "2022-12-01"
           },
           "revision": {
            "type": "string",
            "description": "The revision of the specification section revision",
            "example": "1000"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "SpecificationSectionRevision",
         "description": "A version of a Specification Section. Each time a Specification Section is revised, the newly uploaded version is a new revision of that section.",
         "properties": {
          "data": {
           "description": "List of specification section revisions",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Specification Revision",
            "properties": {
             "id": {
              "type": "string",
              "example": "347",
              "description": "Unique identifier of the specification section revision."
             },
             "description": {
              "type": "string",
              "example": "CONTRACT MODIFICATION PROCEDURES",
              "description": "The description of this revision's SpecificationSection"
             },
             "division": {
              "type": "object",
              "title": "SpecificationSectionDivision",
              "description": "Represents a construction division, which is used to group specification sections. Each SpecificationSectionDivision can contain many SpecificationSections.",
              "properties": {
               "id": {
                "type": "string",
                "example": "4"
               },
               "description": {
                "type": "string",
                "example": "General Requirements"
               },
               "number": {
                "type": "string",
                "example": "01"
               }
              }
             },
             "issued_date": {
              "type": "string",
              "format": "date",
              "example": "2023-09-06",
              "description": "The date when the SpecificationRevision was issued by the architect"
             },
             "number": {
              "type": "string",
              "example": "012600",
              "description": "The number of this revision's SpecificationSection"
             },
             "received_date": {
              "type": "string",
              "format": "date",
              "example": "2018-11-15",
              "description": "The date when the SpecificationRevision was received by the project"
             },
             "revision": {
              "type": "string",
              "format": "4",
              "description": "The revision number of the SpecificationSectionRevision"
             },
             "set": {
              "type": "object",
              "title": "SpecificationSet",
              "properties": {
               "id": {
                "type": "string",
                "example": "8"
               },
               "name": {
                "type": "string",
                "example": "Test Spec Set"
               }
              }
             },
             "specification_area_id": {
              "type": "string",
              "example": "100120",
              "description": "ID of the specification area the section belongs to."
             },
             "specification_section_id": {
              "type": "string",
              "example": "100120",
              "description": "ID of the specification section this revision belongs to."
             },
             "updated_at": {
              "type": "string",
              "description": "Updated at",
              "example": "2017-08-24T22:12:22Z"
             },
             "url": {
              "type": "string",
              "description": "Address of SpecificationRevision PDF. This can be blank if the Specification Section was created manually without an upload, and no revisions have been uploaded yet."
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the specification section revision was created.",
              "example": "2017-08-24T22:12:22Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found \u2014 the specification section revision id does not exist for this project",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity \u2014 validation failed for one or more fields in the request body",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status semantics in screaming snake case",
             "example": "UNPROCESSABLE_ENTITY"
            },
            "message": {
             "type": "string",
             "description": "Summary error message for the response",
             "example": "Validation failed"
            },
            "details": {
             "type": "array",
             "description": "Non-empty list of detail objects; validation responses include a single entry with per-field failures",
             "minItems": 1,
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message",
               "failures"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Machine-readable classification for this detail entry",
                "example": "VALIDATION_ERROR"
               },
               "message": {
                "type": "string",
                "description": "Human-readable summary for this detail entry",
                "example": "One or more fields have validation errors"
               },
               "failures": {
                "type": "object",
                "description": "Map of API field names (matching request/model attributes) to arrays of validation message strings. Common keys include `number`, `description`, `specification_section_division_id`, `specification_set_id`, `issued_date`, `received_date`, `revision`, and `obsolete` when applicable.\n",
                "additionalProperties": {
                 "type": "array",
                 "items": {
                  "type": "string"
                 }
                },
                "example": {
                 "number": [
                  "Must Be Unique"
                 ],
                 "description": [
                  "and Number must be unique."
                 ]
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    specification_section: {\n      description: 'PAYMENT PROCEDURES testing',\n      number: '012900',\n      specification_section_division_id: '20',\n      obsolete: false\n    },\n    specification_section_revision: {issued_date: '2022-12-01', received_date: '2022-12-01', revision: '1000'}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"specification_section\\\":{\\\"description\\\":\\\"PAYMENT PROCEDURES testing\\\",\\\"number\\\":\\\"012900\\\",\\\"specification_section_division_id\\\":\\\"20\\\",\\\"obsolete\\\":false},\\\"specification_section_revision\\\":{\\\"issued_date\\\":\\\"2022-12-01\\\",\\\"received_date\\\":\\\"2022-12-01\\\",\\\"revision\\\":\\\"1000\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"specification_section\":{\"description\":\"PAYMENT PROCEDURES testing\",\"number\":\"012900\",\"specification_section_division_id\":\"20\",\"obsolete\":false},\"specification_section_revision\":{\"issued_date\":\"2022-12-01\",\"received_date\":\"2022-12-01\",\"revision\":\"1000\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"specification_section\\\":{\\\"description\\\":\\\"PAYMENT PROCEDURES testing\\\",\\\"number\\\":\\\"012900\\\",\\\"specification_section_division_id\\\":\\\"20\\\",\\\"obsolete\\\":false},\\\"specification_section_revision\\\":{\\\"issued_date\\\":\\\"2022-12-01\\\",\\\"received_date\\\":\\\"2022-12-01\\\",\\\"revision\\\":\\\"1000\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "added update endpoint for specification section revisions",
      "description": "Update a Specification Section Revision",
      "endpoint": "PUT /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-25",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#update-specification-section-revision"
     },
     {
      "summary": "Structured field validation errors for specification section revision update (v2.1)",
      "description": "`PUT` and `PATCH` `/companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}` now return\n**422 Unprocessable Entity** when validation fails (for example duplicate number/description, invalid division or\nspecification set, or invalid revision fields). The response body uses `error.code` **UNPROCESSABLE_ENTITY**, a\nsummary `error.message`, and a non-empty `error.details` array whose first item has `reason_code` **VALIDATION_ERROR**\nand a `failures` object: API field name \u2192 array of validation message strings (e.g. `number`, `description`,\n`specification_section_division_id`, `specification_set_id`, `issued_date`, `received_date`, `revision`, `obsolete`).\n\n**Breaking change:** Clients that treated **404 NOT_FOUND** with a concatenated `error.message` and empty `details`\nas validation errors must instead handle **422** and read per-field messages from `details[0].failures`.\n**404** is only returned when the revision id does not exist for the project.",
      "endpoint": "PUT /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "feature",
      "breaking": true,
      "datestamp": "2026-04-06",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#update-specification-section-revision"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Destroy Specification Section Revision",
    "description": "This endpoint destroys a specification section revision.",
    "tags": [
     "Specifications"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "message": {
             "type": "string",
             "description": "Message indicating the successful deletion of the specification section revision",
             "example": "Specification section revision deleted successfully"
            },
            "current_revision_id": {
             "type": "string",
             "description": "ID of the current revision of the specification section",
             "example": "12345"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/specification_section_revisions/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "added destroy endpoint for specification section revisions",
      "description": "Destroy a Specification Section Revision",
      "endpoint": "DELETE /companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-17",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "specification-section-revisions?version=2.1#destroy-specification-section-revision"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/specification_section_revisions/{id}/download": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the specification section revision.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Download Specification Section Revision",
    "description": "This endpoint returns the specification section revision download.",
    "tags": [
     "Specifications"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "SpecificationSectionRevisionDownload",
         "description": "Represents a specification section revision download.",
         "properties": {
          "data": {
           "description": "Specification section revision download",
           "type": "object",
           "properties": {
            "download_url": {
             "type": "string",
             "description": "URL of the specification section revision download",
             "example": "https://s3.amazonaws.com/pro-core.com/prostore/specification_section_revision_download.pdf"
            },
            "message": {
             "type": "string",
             "description": "Message of the specification section revision download",
             "example": "PDFs downloaded"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
[...]
