{
 "openapi": "3.0.0",
 "info": {
  "title": "Sub Jobs",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Work Breakdown Structure",
  "x-resource-name": "Sub Jobs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/sub_jobs": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Sub Jobs",
    "description": "Return a list of all Sub Jobs in a specified Project.",
    "tags": [
     "Sub Jobs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "properties": {
             "origin_id": {
              "type": "string",
              "nullable": true,
              "description": "Third-party unique identifier assigned by an ERP or external integration system. Null when the sub job has not been synced with an external system. Use to correlate sub jobs with records in an integrated ERP.",
              "example": "ERP-SUB-001"
             },
             "origin_code": {
              "type": "string",
              "nullable": true,
              "description": "Third-party code assigned by an ERP or external integration system, distinct from origin_id. Null when the sub job has not been synced externally or when the integration does not use a separate code field.",
              "example": "SJ-CODE-42"
             },
             "origin_data": {
              "type": "string",
              "nullable": true,
              "description": "Arbitrary JSON string containing additional third-party data associated with this sub job by an external integration. Null when not synced externally. Parse as JSON to access individual fields.",
              "example": "{\"data_field\":{\"is_important\":true}}"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 timestamp of when this sub job was created. Use to sort or filter sub jobs by creation date.",
              "example": "2017-08-14T21:39:40Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 timestamp of when this sub job was last modified. Use to detect whether cached sub job data needs to be refreshed.",
              "example": "2017-08-15T21:39:40Z"
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this sub job. Use as the {id} path parameter in GET/PATCH/DELETE /rest/v1.0/sub_jobs/{id}.",
              "example": 3483483
             },
             "name": {
              "type": "string",
              "description": "Display name of the sub job shown in the UI and budget code pickers (e.g. \"Floor 2\", \"Phase 1 - Foundation\").",
              "example": "Floor 2"
             },
             "code": {
              "type": "string",
              "nullable": true,
              "description": "Short alphanumeric code identifying the sub job within the project. Unique per project (scoped to project_id). Null when no code has been assigned. Use as a compact identifier in budget code strings.",
              "example": "18"
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/sub_jobs',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/sub_jobs?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/sub_jobs?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/sub_jobs?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Sub Job",
    "description": "Create a new Sub Job.",
    "tags": [
     "Sub Jobs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Sub Job Body",
        "type": "object",
        "required": [
         "sub_job"
        ],
        "properties": {
         "sub_job": {
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Display name for the sub job shown in the UI and budget code pickers (e.g. \"Floor 2\", \"Phase 1 - Foundation\").",
            "example": "Floor 2"
           },
           "code": {
            "type": "string",
            "description": "Short alphanumeric code identifying the sub job within the project. Must be unique per project; omit or leave blank if no code is needed.",
            "example": "18"
           },
           "origin_id": {
            "type": "string",
            "description": "Third-party unique identifier from an ERP or external integration. Used to associate this sub job with a record in an integrated system."
           },
           "origin_data": {
            "type": "string",
            "description": "Arbitrary JSON string containing additional third-party data from an external integration. Store ERP-specific metadata here as a serialized JSON object.",
            "example": "{\"data_field\":{\"is_important\":true}}"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "origin_id": {
             "type": "string",
             "nullable": true,
             "description": "Third-party unique identifier assigned by an ERP or external integration system. Null when the sub job has not been synced with an external system. Use to correlate sub jobs with records in an integrated ERP.",
             "example": "ERP-SUB-001"
            },
            "origin_code": {
             "type": "string",
             "nullable": true,
             "description": "Third-party code assigned by an ERP or external integration system, distinct from origin_id. Null when the sub job has not been synced externally or when the integration does not use a separate code field.",
             "example": "SJ-CODE-42"
            },
            "origin_data": {
             "type": "string",
             "nullable": true,
             "description": "Arbitrary JSON string containing additional third-party data associated with this sub job by an external integration. Null when not synced externally. Parse as JSON to access individual fields.",
             "example": "{\"data_field\":{\"is_important\":true}}"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "ISO 8601 timestamp of when this sub job was created. Use to sort or filter sub jobs by creation date.",
             "example": "2017-08-14T21:39:40Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "ISO 8601 timestamp of when this sub job was last modified. Use to detect whether cached sub job data needs to be refreshed.",
             "example": "2017-08-15T21:39:40Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this sub job. Use as the {id} path parameter in GET/PATCH/DELETE /rest/v1.0/sub_jobs/{id}.",
             "example": 3483483
            },
            "name": {
             "type": "string",
             "description": "Display name of the sub job shown in the UI and budget code pickers (e.g. \"Floor 2\", \"Phase 1 - Foundation\").",
             "example": "Floor 2"
            },
            "code": {
             "type": "string",
             "nullable": true,
             "description": "Short alphanumeric code identifying the sub job within the project. Unique per project (scoped to project_id). Null when no code has been assigned. Use as a compact identifier in budget code strings.",
             "example": "18"
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Can not create Sub Job due to errors.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/sub_jobs',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    sub_job: {\n      name: 'Floor 2',\n      code: '18',\n      origin_id: 'string',\n      origin_data: '{\"data_field\":{\"is_important\":true}}'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"sub_job\\\":{\\\"name\\\":\\\"Floor 2\\\",\\\"code\\\":\\\"18\\\",\\\"origin_id\\\":\\\"string\\\",\\\"origin_data\\\":\\\"{\\\\\\\"data_field\\\\\\\":{\\\\\\\"is_important\\\\\\\":true}}\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/sub_jobs?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/sub_jobs?project_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sub_job\":{\"name\":\"Floor 2\",\"code\":\"18\",\"origin_id\":\"string\",\"origin_data\":\"{\\\"data_field\\\":{\\\"is_important\\\":true}}\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/sub_jobs?project_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"sub_job\\\":{\\\"name\\\":\\\"Floor 2\\\",\\\"code\\\":\\\"18\\\",\\\"origin_id\\\":\\\"string\\\",\\\"origin_data\\\":\\\"{\\\\\\\"data_field\\\\\\\":{\\\\\\\"is_important\\\\\\\":true}}\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/sub_jobs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique integer ID of the sub job to operate on. Retrieve valid IDs from the id field in GET /rest/v1.0/sub_jobs responses.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Sub Job",
    "description": "Return a specified Sub Jobs in a specified Project.",
    "tags": [
     "Sub Jobs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "origin_id": {
             "type": "string",
             "nullable": true,
             "description": "Third-party unique identifier assigned by an ERP or external integration system. Null when the sub job has not been synced with an external system. Use to correlate sub jobs with records in an integrated ERP.",
             "example": "ERP-SUB-001"
            },
            "origin_code": {
             "type": "string",
             "nullable": true,
             "description": "Third-party code assigned by an ERP or external integration system, distinct from origin_id. Null when the sub job has not been synced externally or when the integration does not use a separate code field.",
             "example": "SJ-CODE-42"
            },
            "origin_data": {
             "type": "string",
             "nullable": true,
             "description": "Arbitrary JSON string containing additional third-party data associated with this sub job by an external integration. Null when not synced externally. Parse as JSON to access individual fields.",
             "example": "{\"data_field\":{\"is_important\":true}}"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "ISO 8601 timestamp of when this sub job was created. Use to sort or filter sub jobs by creation date.",
             "example": "2017-08-14T21:39:40Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "ISO 8601 timestamp of when this sub job was last modified. Use to detect whether cached sub job data needs to be refreshed.",
             "example": "2017-08-15T21:39:40Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this sub job. Use as the {id} path parameter in GET/PATCH/DELETE /rest/v1.0/sub_jobs/{id}.",
             "example": 3483483
            },
            "name": {
             "type": "string",
             "description": "Display name of the sub job shown in the UI and budget code pickers (e.g. \"Floor 2\", \"Phase 1 - Foundation\").",
             "example": "Floor 2"
            },
            "code": {
             "type": "string",
             "nullable": true,
             "description": "Short alphanumeric code identifying the sub job within the project. Unique per project (scoped to project_id). Null when no code has been assigned. Use as a compact identifier in budget code strings.",
             "example": "18"
            }
           }
          }
         ]
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Sub Job",
    "description": "Update a specified Sub Job.",
    "tags": [
     "Sub Jobs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Sub Job Body",
        "type": "object",
        "required": [
         "sub_job"
        ],
        "properties": {
         "sub_job": {
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Display name for the sub job shown in the UI and budget code pickers (e.g. \"Floor 2\", \"Phase 1 - Foundation\").",
            "example": "Floor 2"
           },
           "code": {
            "type": "string",
            "description": "Short alphanumeric code identifying the sub job within the project. Must be unique per project; omit or leave blank if no code is needed.",
            "example": "18"
           },
           "origin_id": {
            "type": "string",
            "description": "Third-party unique identifier from an ERP or external integration. Used to associate this sub job with a record in an integrated system."
           },
           "origin_data": {
            "type": "string",
            "description": "Arbitrary JSON string containing additional third-party data from an external integration. Store ERP-specific metadata here as a serialized JSON object.",
            "example": "{\"data_field\":{\"is_important\":true}}"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "origin_id": {
             "type": "string",
             "nullable": true,
             "description": "Third-party unique identifier assigned by an ERP or external integration system. Null when the sub job has not been synced with an external system. Use to correlate sub jobs with records in an integrated ERP.",
             "example": "ERP-SUB-001"
            },
            "origin_code": {
             "type": "string",
             "nullable": true,
             "description": "Third-party code assigned by an ERP or external integration system, distinct from origin_id. Null when the sub job has not been synced externally or when the integration does not use a separate code field.",
             "example": "SJ-CODE-42"
            },
            "origin_data": {
             "type": "string",
             "nullable": true,
             "description": "Arbitrary JSON string containing additional third-party data associated with this sub job by an external integration. Null when not synced externally. Parse as JSON to access individual fields.",
             "example": "{\"data_field\":{\"is_important\":true}}"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "ISO 8601 timestamp of when this sub job was created. Use to sort or filter sub jobs by creation date.",
             "example": "2017-08-14T21:39:40Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "ISO 8601 timestamp of when this sub job was last modified. Use to detect whether cached sub job data needs to be refreshed.",
             "example": "2017-08-15T21:39:40Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this sub job. Use as the {id} path parameter in GET/PATCH/DELETE /rest/v1.0/sub_jobs/{id}.",
             "example": 3483483
            },
            "name": {
             "type": "string",
             "description": "Display name of the sub job shown in the UI and budget code pickers (e.g. \"Floor 2\", \"Phase 1 - Foundation\").",
             "example": "Floor 2"
            },
            "code": {
             "type": "string",
             "nullable": true,
             "description": "Short alphanumeric code identifying the sub job within the project. Unique per project (scoped to project_id). Null when no code has been assigned. Use as a compact identifier in budget code strings.",
             "example": "18"
            }
           }
          }
         ]
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    sub_job: {\n      name: 'Floor 2',\n      code: '18',\n      origin_id: 'string',\n      origin_data: '{\"data_field\":{\"is_important\":true}}'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"sub_job\\\":{\\\"name\\\":\\\"Floor 2\\\",\\\"code\\\":\\\"18\\\",\\\"origin_id\\\":\\\"string\\\",\\\"origin_data\\\":\\\"{\\\\\\\"data_field\\\\\\\":{\\\\\\\"is_important\\\\\\\":true}}\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sub_job\":{\"name\":\"Floor 2\",\"code\":\"18\",\"origin_id\":\"string\",\"origin_data\":\"{\\\"data_field\\\":{\\\"is_important\\\":true}}\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"sub_job\\\":{\\\"name\\\":\\\"Floor 2\\\",\\\"code\\\":\\\"18\\\",\\\"origin_id\\\":\\\"string\\\",\\\"origin_data\\\":\\\"{\\\\\\\"data_field\\\\\\\":{\\\\\\\"is_important\\\\\\\":true}}\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-deprecated-at": "2022-03-31",
    "deprecated": true,
    "summary": "Delete Sub Job",
    "description": "Delete a specified Sub Job.\nDeprecation Note: Please find the replacement endpoint in the Work Breakdown Structure documents. This endpoint will be replaced with the Delete Project Segment Item Endpoint.",
    "tags": [
     "Sub Jobs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/sub_jobs/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Deprecate Delete Sub Job",
      "description": "This endpoint deprecated. `https://developers.procore.com/reference/rest/v1/segment-items?version=1.0#delete-project-segment-item`\ncan be used as a replacement.",
      "endpoint": "DELETE /sub_jobs/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-03-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "sub-jobs?version=1.0#delete-sub-job"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/sub_jobs/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Sub Jobs",
    "tags": [
     "Sub Jobs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Sub Job Sync Body",
        "type": "object",
        "required": [
         "updates"
        ],
        "properties": {
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Procore integer ID of the sub job to update. Use the id field from GET /rest/v1.0/sub_jobs. Omit to create a new sub job during sync.",
             "example": 13513
            },
            "name": {
             "type": "string",
             "description": "Display name for the sub job (e.g. \"Floor 2\", \"Phase 1 - Foundation\").",
             "example": "Floor 2"
            },
            "code": {
             "type": "string",
             "description": "Short alphanumeric code for the sub job, unique within the project.",
             "example": "18"
            },
            "origin_id": {
             "type": "string",
             "description": "Third-party unique identifier from an ERP or external integration used to match this sub job to an external record."
            },
            "origin_data": {
             "type": "string",
             "description": "Arbitrary JSON string containing additional third-party data from an external integration.",
             "example": "{\"data_field\":{\"is_important\":true}}"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "description": "Array of sub job objects that were successfully created or updated during the sync. Each object conforms to the sub_job schema.",
           "items": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "origin_id": {
                "type": "string",
                "nullable": true,
                "description": "Third-party unique identifier assigned by an ERP or external integration system. Null when the sub job has not been synced with an external system. Use to correlate sub jobs with records in an integrated ERP.",
                "example": "ERP-SUB-001"
               },
               "origin_code": {
                "type": "string",
                "nullable": true,
                "description": "Third-party code assigned by an ERP or external integration system, distinct from origin_id. Null when the sub job has not been synced externally or when the integration does not use a separate code field.",
                "example": "SJ-CODE-42"
               },
               "origin_data": {
                "type": "string",
                "nullable": true,
                "description": "Arbitrary JSON string containing additional third-party data associated with this sub job by an external integration. Null when not synced externally. Parse as JSON to access individual fields.",
                "example": "{\"data_field\":{\"is_important\":true}}"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp of when this sub job was created. Use to sort or filter sub jobs by creation date.",
                "example": "2017-08-14T21:39:40Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp of when this sub job was last modified. Use to detect whether cached sub job data needs to be refreshed.",
                "example": "2017-08-15T21:39:40Z"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique integer identifier for this sub job. Use as the {id} path parameter in GET/PATCH/DELETE /rest/v1.0/sub_jobs/{id}.",
                "example": 3483483
               },
               "name": {
                "type": "string",
                "description": "Display name of the sub job shown in the UI and budget code pickers (e.g. \"Floor 2\", \"Phase 1 - Foundation\").",
                "example": "Floor 2"
               },
               "code": {
                "type": "string",
                "nullable": true,
                "description": "Short alphanumeric code identifying the sub job within the project. Unique per project (scoped to project_id). Null when no code has been assigned. Use as a compact identifier in budget code strings.",
                "example": "18"
               }
              }
             }
            ]
           }
          },
          "errors": {
           "type": "array",
           "description": "Array of error objects for sub jobs that failed to sync. Each object contains the sub job id, and an errors map keyed by attribute name listing validation messages.",
           "items": {
            "type": "object"
           },
           "example": [
            {
             "id": 3,
             "errors": {
              "id": [
               "Entity with this ID not found"
              ]
             }
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/sub_jobs/sync',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    updates: [\n      {\n        id: 13513,\n        name: 'Floor 2',\n        code: '18',\n        origin_id: 'string',\n        origin_data: '{\"data_field\":{\"is_important\":true}}'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"updates\\\":[{\\\"id\\\":13513,\\\"name\\\":\\\"Floor 2\\\",\\\"code\\\":\\\"18\\\",\\\"origin_id\\\":\\\"string\\\",\\\"origin_data\\\":\\\"{\\\\\\\"data_field\\\\\\\":{\\\\\\\"is_important\\\\\\\":true}}\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/sub_jobs/sync?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/sub_jobs/sync?project_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"updates\":[{\"id\":13513,\"name\":\"Floor 2\",\"code\":\"18\",\"origin_id\":\"string\",\"origin_data\":\"{\\\"data_field\\\":{\\\"is_important\\\":true}}\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/sub_jobs/sync?project_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"updates\\\":[{\\\"id\\\":13513,\\\"name\\\":\\\"Floor 2\\\",\\\"code\\\":\\\"18\\\",\\\"origin_id\\\":\\\"string\\\",\\\"origin_data\\\":\\\"{\\\\\\\"data_field\\\\\\\":{\\\\\\\"is_important\\\\\\\":true}}\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}