{
 "openapi": "3.0.0",
 "info": {
  "title": "Submittal Packages",
  "x-product-category": "Project Management",
  "x-tool-category": "Submittals",
  "x-resource-name": "Submittal Packages",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/submittal_packages": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Submittal Packages on a project",
    "description": "Return a list of all Submittal Packages from a specified Project.",
    "tags": [
     "Submittal Packages"
    ],
    "parameters": [
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Submittal Packages listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "properties": {
             "attachments_count": {
              "type": "integer",
              "description": "Number of files attached to the Submittal Package.",
              "example": 2
             },
             "created_by": {
              "type": "object",
              "description": "User who created the Submittal Package.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the user.",
                "example": 161072
               },
               "name": {
                "type": "string",
                "description": "Display name of the user.",
                "example": "Carl the Contractor"
               },
               "locale": {
                "type": "string",
                "description": "Locale of the user (for example, en).",
                "example": "en"
               },
               "login": {
                "type": "string",
                "description": "Email address of the user.",
                "example": "carl.contractor@example.com"
               }
              }
             },
             "description": {
              "type": "string",
              "description": "Plain-text description of the Submittal Package (HTML markup removed).",
              "example": "All items for Metal Fabrication"
             },
             "specification_section_id": {
              "type": "integer",
              "nullable": true,
              "description": "Identifier of the specification section associated with the package. Null when the package is not tied to a section.",
              "example": 212630
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of the last update to the Submittal Package, in ISO 8601 format.",
              "example": "2016-08-01T23:33:54Z"
             },
             "attachments": {
              "type": "array",
              "description": "Files attached to the Submittal Package.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the attachment.",
                 "example": 5324
                },
                "url": {
                 "type": "string",
                 "description": "Download URL for the attachment.",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "File name of the attachment.",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             },
             "submittal_ids": {
              "type": "array",
              "description": "IDs of the Submittal Logs that belong to this package.",
              "items": {
               "type": "integer",
               "example": 1742583
              }
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the Submittal Package. Use as the `{id}` path parameter to retrieve or update this package.",
              "example": 161072
             },
             "number": {
              "type": "string",
              "description": "User-facing alphanumeric identifier of the package.",
              "example": "TBZ-44500"
             },
             "title": {
              "type": "string",
              "description": "Title of the Submittal Package.",
              "example": "Windows"
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/submittal_packages',\n  qs: {\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/submittal_packages?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/submittal_packages?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/submittal_packages?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Change default sort order for Submittal Packages to use title",
      "description": "Submittal packages they will be returned sorted by title instead of number.",
      "endpoint": "GET /projects/{project_id}/submittal_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-05-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "submittal-packages?version=1.0#list-submittal-packages-on-a-project"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}