{
 "openapi": "3.0.0",
 "info": {
  "title": "Submittal Approvers",
  "x-product-category": "Project Management",
  "x-tool-category": "Submittals",
  "x-resource-name": "Submittal Approvers",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/submittal_approvers/{id}": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Submittal Approver",
    "description": "Update Submittal Approver for the specified Submittal",
    "tags": [
     "Submittals"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Submittal Approver ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "send_emails",
      "in": "query",
      "description": "Designates whether or not emails will be sent (default false)",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "submittal_id",
      "in": "query",
      "required": true,
      "description": "Submittal ID",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "submittal_approver": {
          "type": "object",
          "required": [
           "submittal_response_id"
          ],
          "properties": {
           "attachments_to_upload": {
            "type": "array",
            "description": "Submittal Approver's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments_to_upload[]` as files.",
            "items": {
             "type": "string"
            }
           },
           "attachment_ids": {
            "type": "array",
            "description": "Submittal Approver's Attachment IDs.\nThe Attachments specified here will be saved as attachments through the request.",
            "items": {
             "type": "integer"
            }
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "comment": {
            "type": "string",
            "description": "Reviewer comment to record alongside the response."
           },
           "submittal_response_id": {
            "type": "integer",
            "description": "ID of the Submittal Response to record for this approver (the review outcome, e.g. Approved / Revise & Resubmit). Must be a response available to the approver."
           },
           "sent_date": {
            "example": "2019-4-17",
            "description": "Date the submittal was sent to the approver. Only settable by users who can respond on behalf of the approver (admins).",
            "type": "string"
           },
           "returned_date": {
            "example": "2019-4-17",
            "description": "Date the approver returned their response. Only settable by users who can respond on behalf of the approver (admins).",
            "type": "string"
           },
           "forward_to": {
            "type": "object",
            "description": "Params used only when forwarding for review. Designates who the new reviewer is and what their due date is",
            "required": [
             "user_id"
            ],
            "properties": {
             "user_id": {
              "type": "integer",
              "description": "User ID of the new reviewer",
              "example": 161072
             },
             "due_date": {
              "type": "string",
              "format": "date",
              "description": "Due Date of the new reviewer",
              "example": "2019-09-20"
             }
            }
           },
           "associated_attachments": {
            "type": "array",
            "description": "Submital Approver's Attachments to be carried forward.\nThe Attachments specified here will be carried forward to the next person in the workflow.",
            "items": {
             "type": "object",
             "required": [
              "attachment_id",
              "attachment_source_id",
              "attachment_source_type"
             ],
             "properties": {
              "attachment_id": {
               "type": "integer",
               "description": "Attachment ID"
              },
              "attachment_source_id": {
               "type": "integer",
               "description": "ID of the resource the Attachment originally belongs to"
              },
              "attachment_source_type": {
               "type": "string",
               "description": "Type of the resource the Attachment originally belongs to"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Submittal Approver updated successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Submittal Approver. Use as the {id} path parameter to PATCH /rest/v1.0/submittal_approvers/{id}."
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "snapshot.png"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          },
          "comment": {
           "type": "string",
           "description": "Submittal Approver's comment"
          },
          "returned_date": {
           "type": "string",
           "format": "date",
           "description": "The date the Submittal Approver responded to the Submittal"
          },
          "sent_date": {
           "type": "string",
           "format": "date",
           "description": "The date the Submittal was sent to the Submittal Approver"
          },
          "days_to_respond": {
           "type": "integer",
           "description": "The number of days the Submittal Approver has to respond"
          },
          "submittal_response_id": {
           "type": "integer",
           "description": "The Submittal Response ID of the Submittal Approver"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Invalid Submittal Response for the specified Submittal Approver",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to update Submittal Approver",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Submittal Approver not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating Submittal Approver",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/submittal_approvers/%7Bid%7D',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    send_emails: 'SOME_BOOLEAN_VALUE',\n    submittal_id: 'SOME_INTEGER_VALUE'\n  },\n  headers: {'content-type': 'application/json'},\n  body: {\n    submittal_approver: {\n      attachments_to_upload: ['string'],\n      attachment_ids: [0],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      comment: 'string',\n      submittal_response_id: 0,\n      sent_date: '2019-4-17',\n      returned_date: '2019-4-17',\n      forward_to: {user_id: 161072, due_date: '2019-09-20'},\n      associated_attachments: [{attachment_id: 0, attachment_source_id: 0, attachment_source_type: 'string'}]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"submittal_approver\\\":{\\\"attachments_to_upload\\\":[\\\"string\\\"],\\\"attachment_ids\\\":[0],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"comment\\\":\\\"string\\\",\\\"submittal_response_id\\\":0,\\\"sent_date\\\":\\\"2019-4-17\\\",\\\"returned_date\\\":\\\"2019-4-17\\\",\\\"forward_to\\\":{\\\"user_id\\\":161072,\\\"due_date\\\":\\\"2019-09-20\\\"},\\\"associated_attachments\\\":[{\\\"attachment_id\\\":0,\\\"attachment_source_id\\\":0,\\\"attachment_source_type\\\":\\\"string\\\"}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/submittal_approvers/%7Bid%7D?project_id=SOME_INTEGER_VALUE&send_emails=SOME_BOOLEAN_VALUE&submittal_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/submittal_approvers/%7Bid%7D?project_id=SOME_INTEGER_VALUE&send_emails=SOME_BOOLEAN_VALUE&submittal_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"submittal_approver\":{\"attachments_to_upload\":[\"string\"],\"attachment_ids\":[0],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"comment\":\"string\",\"submittal_response_id\":0,\"sent_date\":\"2019-4-17\",\"returned_date\":\"2019-4-17\",\"forward_to\":{\"user_id\":161072,\"due_date\":\"2019-09-20\"},\"associated_attachments\":[{\"attachment_id\":0,\"attachment_source_id\":0,\"attachment_source_type\":\"string\"}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/submittal_approvers/%7Bid%7D?project_id=SOME_INTEGER_VALUE&send_emails=SOME_BOOLEAN_VALUE&submittal_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"submittal_approver\\\":{\\\"attachments_to_upload\\\":[\\\"string\\\"],\\\"attachment_ids\\\":[0],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"comment\\\":\\\"string\\\",\\\"submittal_response_id\\\":0,\\\"sent_date\\\":\\\"2019-4-17\\\",\\\"returned_date\\\":\\\"2019-4-17\\\",\\\"forward_to\\\":{\\\"user_id\\\":161072,\\\"due_date\\\":\\\"2019-09-20\\\"},\\\"associated_attachments\\\":[{\\\"attachment_id\\\":0,\\\"attachment_source_id\\\":0,\\\"attachment_source_type\\\":\\\"string\\\"}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add upload_ids as a new parameter for Submittal Approvers",
      "description": "Add upload_ids as a new parameter for Submittal Approvers PATCH endpoint",
      "endpoint": "PATCH /submittal_approvers/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "submittal-approvers?version=1.0#update-submittal-approver"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}