{
 "openapi": "3.0.0",
 "info": {
  "title": "Submittal Logs",
  "x-product-category": "Project Management",
  "x-tool-category": "Submittals",
  "x-resource-name": "Submittal Logs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/submittal_logs": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Submittals",
    "description": "This is a deprecated endpoint. Please use /submittals endpoint.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "x-deprecated-at": "2017-11-17",
    "deprecated": true,
    "tags": [
     "submittal_logs"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[approved_id]",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[ball_in_court]",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[date_range]",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[due_by]",
      "in": "query",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[end_date]",
      "in": "query",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[include_sublocations]",
      "in": "query",
      "description": "Use together with `filters[location_id]`\n",
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Location ID. Returns item(s) with the specified Location ID or a range of Location IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 45
       }
      }
     },
     {
      "name": "filters[only_current_revision]",
      "in": "query",
      "schema": {
       "type": "integer",
       "enum": [
        1
       ]
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[received_from_id]",
      "in": "query",
      "description": "Received From ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[response]",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[responsible_contractor_id]",
      "in": "query",
      "description": "Array of Responsible Contractor IDs. A single Responsible Contractor ID is also accepted.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[spec_division]",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[spec_section_id]",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[start_date]",
      "in": "query",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Returns item(s) matching the specified status value.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[submittal_type]",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[submittal_package_id]",
      "in": "query",
      "description": "Array of Submittal Package IDs. Returns item(s) associated with the specified Submittal Package IDs. A single integer value is also accepted.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "required": [
           "id",
           "number",
           "status"
          ],
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Submittal Log. Use as the `{id}` path parameter to retrieve a single Submittal Log.",
            "example": 252579
           },
           "title": {
            "type": "string",
            "description": "Title of the Submittal Log.",
            "example": "Steel D8 Beam"
           },
           "number": {
            "type": "string",
            "description": "User-facing Submittal Log number (may be alphanumeric).",
            "example": "49"
           },
           "revision": {
            "type": "string",
            "description": "Revision label of the Submittal Log.",
            "example": "0"
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "description": "Date the Submittal Log response is due, in ISO 8601 (YYYY-MM-DD) format.",
            "example": "2013-04-15"
           },
           "attachment_count": {
            "type": "integer",
            "description": "Number of files attached to the Submittal Log.",
            "example": 1
           },
           "status": {
            "type": "string",
            "description": "Current status label of the Submittal Log (for example, Open or Closed).",
            "example": "Closed"
           },
           "closed": {
            "type": "boolean",
            "description": "True when the Submittal Log is in a closed status.",
            "example": true
           },
           "specification_section": {
            "type": "object",
            "description": "Specification section the Submittal Log belongs to. Omitted when the log is not associated with a section.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the specification section.",
              "example": 212630
             },
             "description": {
              "type": "string",
              "description": "Description of the specification section.",
              "example": "Metal Fabrications"
             },
             "section": {
              "type": "string",
              "description": "Specification section number.",
              "example": "55000"
             }
            }
           },
           "package": {
            "type": "object",
            "description": "Submittal Package the log belongs to. Omitted when the log is not part of a package.",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique identifier of the Submittal Package.",
              "example": 90210
             },
             "title": {
              "type": "string",
              "description": "Title of the Submittal Package.",
              "example": "Somebody's Package"
             }
            }
           },
           "ball_in_court": {
            "type": "array",
            "description": "Users currently responsible for acting on the Submittal Log (the \"ball in court\").",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the user.",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email address of the user.",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Display name of the user.",
               "example": "Carl Contractor"
              }
             }
            }
           },
           "responses": {
            "type": "array",
            "description": "Distributed responses recorded for the Submittal Log. Present only when the log is closed and has a distributed submittal.",
            "items": {
             "type": "object",
             "properties": {
              "response": {
               "type": "string",
               "description": "Localized response label.",
               "example": "Closed Submittal Response"
              }
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "description": "Physical location associated with the Submittal Log. Omitted when no location is set.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Full location name, including parent locations.",
              "example": "1space>1 space"
             },
             "node_name": {
              "type": "string",
              "description": "Name of this location node, without parent locations.",
              "example": "1 space"
             },
             "parent_id": {
              "type": "integer",
              "description": "ID of the parent location, if any.",
              "example": 788866
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized access",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/submittal_logs',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    'filters[approved_id]': 'SOME_STRING_VALUE',\n    'filters[ball_in_court]': 'SOME_STRING_VALUE',\n    'filters[date_range]': 'SOME_STRING_VALUE',\n    'filters[due_by]': 'SOME_STRING_VALUE',\n    'filters[end_date]': 'SOME_STRING_VALUE',\n    'filters[include_sublocations]': 'SOME_BOOLEAN_VALUE',\n    'filters[location_id]': 'SOME_ARRAY_VALUE',\n    'filters[only_current_revision]': 'SOME_INTEGER_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[received_from_id]': 'SOME_INTEGER_VALUE',\n    'filters[response]': 'SOME_STRING_VALUE',\n    'filters[responsible_contractor_id]': 'SOME_ARRAY_VALUE',\n    'filters[spec_division]': 'SOME_STRING_VALUE',\n    'filters[spec_section_id]': 'SOME_STRING_VALUE',\n    'filters[start_date]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_ARRAY_VALUE',\n    'filters[submittal_type]': 'SOME_STRING_VALUE',\n    'filters[submittal_package_id]': 'SOME_ARRAY_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/submittal_logs?project_id=SOME_INTEGER_VALUE&filters%5Bapproved_id%5D=SOME_STRING_VALUE&filters%5Bball_in_court%5D=SOME_STRING_VALUE&filters%5Bdate_range%5D=SOME_STRING_VALUE&filters%5Bdue_by%5D=SOME_STRING_VALUE&filters%5Bend_date%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bonly_current_revision%5D=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_INTEGER_VALUE&filters%5Bresponse%5D=SOME_STRING_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_ARRAY_VALUE&filters%5Bspec_division%5D=SOME_STRING_VALUE&filters%5Bspec_section_id%5D=SOME_STRING_VALUE&filters%5Bstart_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_type%5D=SOME_STRING_VALUE&filters%5Bsubmittal_package_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/submittal_logs?project_id=SOME_INTEGER_VALUE&filters%5Bapproved_id%5D=SOME_STRING_VALUE&filters%5Bball_in_court%5D=SOME_STRING_VALUE&filters%5Bdate_range%5D=SOME_STRING_VALUE&filters%5Bdue_by%5D=SOME_STRING_VALUE&filters%5Bend_date%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bonly_current_revision%5D=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_INTEGER_VALUE&filters%5Bresponse%5D=SOME_STRING_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_ARRAY_VALUE&filters%5Bspec_division%5D=SOME_STRING_VALUE&filters%5Bspec_section_id%5D=SOME_STRING_VALUE&filters%5Bstart_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_type%5D=SOME_STRING_VALUE&filters%5Bsubmittal_package_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/submittal_logs?project_id=SOME_INTEGER_VALUE&filters%5Bapproved_id%5D=SOME_STRING_VALUE&filters%5Bball_in_court%5D=SOME_STRING_VALUE&filters%5Bdate_range%5D=SOME_STRING_VALUE&filters%5Bdue_by%5D=SOME_STRING_VALUE&filters%5Bend_date%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bonly_current_revision%5D=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_INTEGER_VALUE&filters%5Bresponse%5D=SOME_STRING_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_ARRAY_VALUE&filters%5Bspec_division%5D=SOME_STRING_VALUE&filters%5Bspec_section_id%5D=SOME_STRING_VALUE&filters%5Bstart_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_type%5D=SOME_STRING_VALUE&filters%5Bsubmittal_package_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List Submittals is Deprecated",
      "description": "This is a deprecated endpoint. Please use [/projects/{project_id}/submittals](/reference/rest/v1/submittals#list-submittals-on-a-project) endpoint.",
      "endpoint": "GET /submittal_logs",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2017-11-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "submittal-logs?version=1.0#list-submittals"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/submittal_logs/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Submittal",
    "description": "This is a deprecated endpoint. Please use /submittals/{id} endpoint.",
    "x-deprecated-at": "2017-11-17",
    "deprecated": true,
    "tags": [
     "submittal_logs"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of Submittal",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Submittal Log. Use as the `{id}` path parameter to retrieve this Submittal Log.",
           "example": 610071
          },
          "title": {
           "type": "string",
           "description": "Title of the Submittal Log.",
           "example": "Smiths - Teardown & Assembly Bldg"
          },
          "number": {
           "type": "string",
           "description": "User-facing Submittal Log number (may be alphanumeric).",
           "example": "118"
          },
          "formatted_number": {
           "type": "string",
           "deprecated": true,
           "description": "Deprecated. Combined specification-section and number label. No longer returned by this endpoint; use `number` instead.",
           "example": "55000-118"
          },
          "revision": {
           "type": "string",
           "description": "Revision label of the Submittal Log.",
           "example": "0"
          },
          "private": {
           "type": "boolean",
           "description": "True when the Submittal Log is marked private.",
           "example": false
          },
          "received_date": {
           "type": "string",
           "format": "date",
           "description": "Date the submittal was received, in ISO 8601 (YYYY-MM-DD) format.",
           "example": "2014-06-09"
          },
          "issue_date": {
           "type": "string",
           "format": "date",
           "description": "Date the submittal was issued, in ISO 8601 (YYYY-MM-DD) format.",
           "example": "2014-06-02"
          },
          "submit_by": {
           "type": "string",
           "format": "date",
           "description": "Date the submittal must be submitted by, in ISO 8601 (YYYY-MM-DD) format.",
           "example": "2014-06-11"
          },
          "due_date": {
           "type": "string",
           "format": "date",
           "description": "Date the response is due, in ISO 8601 (YYYY-MM-DD) format.",
           "example": "2014-07-22"
          },
          "type": {
           "type": "string",
           "description": "Submittal type label (for example, Product Information).",
           "example": "Product Information"
          },
          "description": {
           "type": "string",
           "description": "Plain-text description of the Submittal Log (HTML markup removed).",
           "example": "For your review and approval. Paul Revere 555-555-5555"
          },
          "status": {
           "type": "string",
           "description": "Current status label of the Submittal Log.",
           "example": "Open"
          },
          "closed": {
           "type": "boolean",
           "description": "True when the Submittal Log is in a closed status.",
           "example": false
          },
          "created_by": {
           "type": "object",
           "description": "User who created the Submittal Log.",
           "properties": {
            "name": {
             "type": "string",
             "description": "Display name of the user.",
             "example": "Paul Revere"
            },
            "login": {
             "type": "string",
             "format": "email",
             "description": "Email address of the user.",
             "example": "paulrevere@example.com"
            },
            "login_id": {
             "type": "integer",
             "description": "Unique identifier of the user.",
             "example": 39023
            }
           }
          },
          "received_from": {
           "type": "object",
           "description": "User the submittal was received from. Omitted when no sender is recorded.",
           "properties": {
            "name": {
             "type": "string",
             "description": "Display name of the user.",
             "example": "Frank Sinatra"
            },
            "login": {
             "type": "string",
             "format": "email",
             "description": "Email address of the user.",
             "example": "frankie@example.com"
            },
            "login_id": {
             "type": "integer",
             "description": "Unique identifier of the user.",
             "example": 88402
            }
           }
          },
          "approvers": {
           "type": "array",
           "description": "Approvers assigned to the Submittal Log, including their response and any returned attachments.",
           "items": {
            "type": "object",
            "properties": {
             "login_information": {
              "type": "object",
              "description": "The approver's user information.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the user.",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email address of the user.",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Display name of the user.",
                "example": "Carl Contractor"
               }
              }
             },
             "id": {
              "type": "integer",
              "description": "Unique identifier of the approver record.",
              "example": 939302
             },
             "response": {
              "type": "string",
              "description": "The approver's response label.",
              "example": "Approved as Noted"
             },
             "sent_date": {
              "type": "string",
              "format": "date",
              "description": "Date the submittal was sent to the approver, in ISO 8601 format.",
              "example": "2014-05-10"
             },
             "returned_date": {
              "type": "string",
              "format": "date",
              "description": "Date the approver returned the submittal, in ISO 8601 format.",
              "example": "2014-05-12"
             },
             "due_date": {
              "type": "string",
              "format": "date",
              "description": "Date the approver's response is due, in ISO 8601 format.",
              "example": "2014-05-12"
             },
             "days_to_respond": {
              "type": "integer",
              "description": "Number of days allotted for the approver to respond.",
              "example": 2
             },
             "comment": {
              "type": "string",
              "description": "Comment left by the approver with their response.",
              "example": "See attached drawing for wall dimensions."
             },
             "distributed": {
              "type": "array",
              "description": "IDs of users the approver's response was distributed to.",
              "items": {
               "type": "integer",
               "example": 153532
              }
             },
             "attachments": {
              "type": "array",
              "description": "Files returned by the approver with their response.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the attachment.",
                 "example": 5324
                },
                "url": {
                 "type": "string",
                 "description": "Download URL for the attachment.",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "File name of the attachment.",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             }
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Users on the Submittal Log's distribution list.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the user.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email address of the user.",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Display name of the user.",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "ball_in_court": {
           "type": "array",
           "description": "Users currently responsible for acting on the Submittal Log (the \"ball in court\").",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the user.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email address of the user.",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Display name of the user.",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "description": "Physical location associated with the Submittal Log.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Full location name, including parent locations.",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Name of this location node, without parent locations.",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "ID of the parent location, if any.",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "specification_section": {
           "type": "object",
           "description": "Specification section the Submittal Log belongs to. Omitted when the log is not associated with a section.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the specification section.",
             "example": 212630
            },
            "description": {
             "type": "string",
             "description": "Description of the specification section.",
             "example": "Metal Fabrications"
            },
            "section": {
             "type": "string",
             "description": "Specification section number.",
             "example": "55000"
            },
            "current_revision_id": {
             "type": "integer",
             "description": "Identifier of the specification section's current revision, if versioned.",
             "example": 445128
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Files attached directly to the Submittal Log.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the attachment.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attachment.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "File name of the attachment.",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "distribution_info": {
           "type": "object",
           "description": "Details of the most recent distribution of the Submittal Log. Omitted when the log has not been distributed.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the distribution record.",
             "example": 122765
            },
            "message": {
             "type": "string",
             "description": "Message included with the distribution.",
             "example": ""
            },
            "distributed_date": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the submittal was distributed, in ISO 8601 format.",
             "example": "2014-04-20T20:08:09Z"
            },
            "distributed_by": {
             "type": "object",
             "description": "User who performed the distribution.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the user.",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email address of the user.",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Display name of the user.",
               "example": "Carl Contractor"
              }
             }
            },
            "distributed_to": {
             "type": "array",
             "description": "Users the submittal was distributed to.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the user.",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email address of the user.",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Display name of the user.",
                "example": "Carl Contractor"
               }
              }
             }
            },
            "final_attachments": {
             "type": "array",
             "description": "Final attachments included with the distribution.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the attachment.",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Download URL for the attachment.",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "File name of the attachment.",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            }
           }
          },
          "submittal_package": {
           "type": "object",
           "description": "Submittal Package the log belongs to. Omitted when the log is not part of a package.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the Submittal Package.",
             "example": 90210
            },
            "title": {
             "type": "string",
             "description": "Title of the Submittal Package.",
             "example": "Somebody's Package"
            },
            "created_by": {
             "type": "object",
             "description": "User who created the Submittal Package.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the user.",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email address of the user.",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Display name of the user.",
               "example": "Carl Contractor"
              }
             }
            },
            "description": {
             "type": "string",
             "description": "Plain-text description of the Submittal Package (HTML markup removed).",
             "example": ""
            },
            "attachments": {
             "type": "array",
             "description": "Files attached to the Submittal Package.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the attachment.",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Download URL for the attachment.",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "File name of the attachment.",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized access",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/submittal_logs/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/submittal_logs/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/submittal_logs/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/submittal_logs/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show Submittal is Deprecated",
      "description": "This is a deprecated endpoint. Please use [/projects/{project_id}/submittals/{id}](/reference/rest/v1/submittals#show-submittal) endpoint.",
      "endpoint": "GET /submittal_logs/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2017-11-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "submittal-logs?version=1.0#show-submittal"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}