{
 "openapi": "3.0.0",
 "info": {
  "title": "Submittals",
  "x-product-category": "Project Management",
  "x-tool-category": "Submittals",
  "x-resource-name": "Submittals",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/submittals": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Return a list of all Submittals.",
    "description": "Return a list of all Submittals.",
    "tags": [
     "Submittals"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[anticipated_delivery_date]",
      "in": "query",
      "description": "Array of dates (date range). Returns item(s) with their anticipated delivery date within the specified dates. A single date is also accepted. style: form",
      "explode": false,
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "format": "date"
       }
      }
     },
     {
      "name": "filters[ball_in_court_id]",
      "in": "query",
      "description": "User ID. Return item(s) where the specified User ID is the Ball in Court.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[ball_in_court_company_id]",
      "in": "query",
      "description": "Company ID. Return item(s) where the specified Company ID is the Ball in Court.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[closed_at]",
      "in": "query",
      "description": "Return item(s) that are due within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "required": false,
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[received_from_id]",
      "in": "query",
      "description": "Received From ID",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[responsible_contractor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Responsible Contractor ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[specification_section_id]",
      "in": "query",
      "description": "Array of Specification Section IDs. A single Specification Section ID is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[approver_id]",
      "in": "query",
      "description": "Array of User IDs. Return item(s) where the specified User IDs are in the approver list. A single integer is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[current_revision]",
      "in": "query",
      "description": "Default false. If true, only current revisions are shown. If false, all submittals are shown, regardless of whether or not it is the current revision.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "boolean"
       }
      }
     },
     {
      "name": "filters[division]",
      "in": "query",
      "description": "Array of Divisions to filter on. A Division is the first two digits from the Specification Section Number. A single Division is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Array of Location IDs. A single Location ID is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[submittal_manager_id]",
      "in": "query",
      "description": "Array of Submittal Manager IDs. A single Submittal Manager ID is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[submittal_package_id]",
      "in": "query",
      "description": "Array of Submittal Package IDs. Returns item(s) associated with the specified Submittal Package IDs. A single integer value is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[response_id]",
      "in": "query",
      "description": "Array of Response IDs. A single Response ID is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[sent_date]",
      "in": "query",
      "description": "Array of dates (date range). Returns item(s) where an approver's sent date falls within the specified dates. A single date is also accepted. Use \"NULL\" to filter for submittals with no sent date. style: form",
      "explode": false,
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "format": "date"
       }
      }
     },
     {
      "name": "filters[workflow_step]",
      "in": "query",
      "description": "Array of workflow step numbers. Returns submittal(s) currently on one of the given steps. A single step number is also accepted. Use \"NULL\" to filter for submittals with no workflow step.",
      "style": "form",
      "explode": false,
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[status_id]",
      "in": "query",
      "description": "Array of Status IDs. A single Status ID is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Array of Submittal Types. A single Submittal Type is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[unpackaged]",
      "in": "query",
      "description": "Parseable to boolean value, filters out unpackaged Submittals.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "boolean"
       }
      }
     },
     {
      "name": "filters[number]",
      "in": "query",
      "description": "Array of Numbers. A single Number is also accepted.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[has_operation_errors]",
      "in": "query",
      "description": "Parseable to boolean value, filters Submittals based on whether they have operation errors from bulk operations.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "boolean"
       }
      }
     },
     {
      "name": "filters[operation_errors_by_operation_id]",
      "in": "query",
      "description": "Filters Submittals that have operation errors associated with specific operation ID(s). Accepts single or multiple operation IDs.",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Structure to sort submittal rows",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "specification_section",
        "number",
        "title",
        "type",
        "status",
        "responsible_contractor",
        "submit_by",
        "received_from",
        "received_date",
        "due_date",
        "due_date_days",
        "workflow_step_days_late",
        "distributed_at",
        "submittal_package",
        "anticipated_delivery_date",
        "attachments_count",
        "planned_internal_review_completed_date",
        "planned_return_date",
        "planned_submit_by_date",
        "sent_date",
        "submittal_manager"
       ]
      }
     },
     {
      "name": "show_attachments",
      "in": "query",
      "description": "Determine the AttachmentVisible tag value(depend on configurable field set).",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "minimal_submittal_package",
      "in": "query",
      "required": false,
      "description": "When `true`, each submittal's `submittal_package` in the response includes only `id`, `number`, `title`, and `created_by` for smaller payloads and faster responses. Omit or set to `false` for the full package object.",
      "schema": {
       "type": "boolean",
       "example": true
      }
     },
     {
      "name": "filters",
      "in": "query",
      "required": false,
      "style": "deepObject",
      "explode": true,
      "description": "Dynamic configured custom-field filters. Use a `custom_field_{definition_id}` key, for example `filters[custom_field_123]=true` or `filters[custom_field_456][]=789`. Values may be strings or arrays of strings. Use `NULL` to match submittals without a value where supported.",
      "schema": {
       "type": "object",
       "additionalProperties": {
        "oneOf": [
         {
          "type": "string"
         },
         {
          "type": "array",
          "items": {
           "type": "string"
          }
         }
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Submittals",
         "properties": {
          "data": {
           "type": "object",
           "description": "Data",
           "properties": {
            "id": {
             "type": "string",
             "description": "Id",
             "example": "55321441"
            },
            "actual_delivery_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The Actual Delivery Date of the Submittal\n*This field can only be set if the project has submittal delivery information enabled"
            },
            "bic_due_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The Ball-in-Court Due Date of the Submittal. For DSP projects, this comes from the submittal plan. For non-DSP projects with workflows, this is calculated from current step approvers."
            },
            "confirmed_delivery_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The Confirmed Delivery Date of the Submittal\n*This field can only be set if the project has submittal delivery information enabled"
            },
            "closed_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2022-08-19T17:00:00Z",
             "description": "Timestamp when the submittal was closed."
            },
            "cost_code_id": {
             "type": "string",
             "description": "The ID of the Cost Code of the Submittal\n*This field can only be set by admins"
            },
            "current_step_approvers": {
             "type": "array",
             "description": "List of approvers for the current workflow step. For completed workflows, this shows approvers from the final step. Empty for submittals without workflows.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "The ID of the approver",
                "example": "12345"
               },
               "response_required": {
                "type": "boolean",
                "description": "Whether a response is required from this approver"
               },
               "user": {
                "type": "object",
                "description": "The user information for the approver",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "The user ID",
                  "example": "67890"
                 },
                 "name": {
                  "type": "string",
                  "description": "The user's display name"
                 }
                }
               }
              }
             }
            },
            "current_step_returned_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The latest returned date from current step approvers who have answered. For completed workflows, this shows the date from the final step."
            },
            "current_step_sent_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The earliest sent date to current step approvers. For completed workflows, this shows the date from the final step."
            },
            "custom_textarea_1": {
             "type": "string",
             "description": "*This field can only be set by admins"
            },
            "custom_textfield_1": {
             "type": "string",
             "description": "*This field can only be set by admins"
            },
            "description": {
             "type": "string",
             "description": "The Description of the Submittal"
            },
            "design_team_review_time": {
             "type": "integer",
             "description": "The Design Team Review Time of the Submittal (in days)\n*This field can only be set if the project has schedule calculations enabled"
            },
            "distribution_member_ids": {
             "type": "array",
             "items": {
              "type": "integer"
             },
             "description": "The IDs of the Distribution Members of the Submittal"
            },
            "due_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The Due Date of the Submittal\n*This field is not available to be set if sequential approvers is enabled"
            },
            "due_date_days": {
             "type": "integer",
             "nullable": true,
             "description": "The number of calendar days between today (in the project's local timezone) and the submittal's due date. Negative values indicate the due date has passed. Returns null when no due date is set. For DSP-enabled projects this value is sourced from the submittal plan; for non-DSP projects it is derived from the persisted due_date field.",
             "example": -3
            },
            "has_responded_approver": {
             "type": "boolean",
             "description": "Whether the Submittal has at least one approver that has responded, i.e. at least one approver has a returned date set."
            },
            "internal_review_time": {
             "type": "integer",
             "description": "The Internal Review Time of the Submtital (in days)\n*This field can only be set if the project has schedule calculations enabled"
            },
            "issue_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The Issue Date of the Submittal\n*This field can only be set by admins"
            },
            "lead_time": {
             "type": "integer",
             "description": "The Lead Time of the Submittal (in days)\n*This field can only be set by admins or if the project has schedule calculations enabled"
            },
            "location_id": {
             "type": "string",
             "description": "The Location of the Submittal"
            },
            "number": {
             "type": "string",
             "description": "The Number of the Submittal"
            },
            "private": {
             "type": "boolean",
             "description": "Whether the Submittal is Private or not"
            },
            "received_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The Received Date of the Submittal\n*This field can only be set by admins"
            },
            "received_from_id": {
             "type": "string",
             "description": "The Received From of the Submittal"
            },
            "response_considered": {
             "type": "string",
             "nullable": true,
             "description": "The response category of the latest completed workflow response (e.g. 'approved', 'void'). Null when no approver has responded."
            },
            "required_on_site_date": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The Required On Site Date of the Submittal\n*This field can only be set by admins or if the project has schedule calculations enabled"
            },
            "responsible_contractor_id": {
             "type": "string",
             "description": "The Responsible Contractor of the Submittal"
            },
            "revision": {
             "type": "string",
             "description": "The Revision of the Submittal"
            },
            "scheduled_task_key": {
             "type": "string",
             "description": "The key of the Scheduled Task of the Submittal. Note that use of this parameter is deprecated. Please use `scheduled_task_id` instead.\n*This field can only be set if the project has submittal delivery information enabled and the user has permissions to view the calendar tool"
            },
            "scheduled_task_id": {
             "type": "string",
             "description": "The ID of the Scheduled Task of the Submittal\n*This field can only be set if the project has submittal delivery information enabled and the user has permissions to view the calendar tool"
            },
            "specification_section_id": {
             "type": "string",
             "description": "The ID of the Specification Section of the Submittal"
            },
            "status_id": {
             "type": "string",
             "description": "The ID of the Submittal Status of the Submittal\n*This field can only be set by admins"
            },
            "sub_job_id": {
             "type": "string",
             "description": "The ID of the Sub Job of the Submittal"
            },
            "submit_by": {
             "type": "string",
             "format": "date",
             "example": "2022-08-19",
             "description": "The Submit By Date of the Submittal\n*This field can only be set by admins"
            },
            "submittal_manager_id": {
             "type": "string",
             "description": "The ID of the Submittal Manager of the Submittal\n*This field can only be set by admins"
            },
            "submittal_package_id": {
             "type": "string",
             "description": "The ID of the Submittal Package of the Submittal\n*This field can only be set by admins"
            },
            "title": {
             "type": "string",
             "description": "The Title of the Submittal"
            },
            "type": {
             "type": "string",
             "description": "The Submittal Type of the Submittal"
            },
            "workflow_approval_status_key": {
             "type": "string",
             "enum": [
              "rejected",
              "approved",
              "pending",
              "not_started"
             ],
             "description": "The approval state of the Submittal workflow. 'rejected' when the latest completed response is rejected, revise and resubmit, or void; 'approved' when the workflow is complete; 'pending' when at least one approver has responded; and 'not_started' otherwise."
            },
            "workflow_step": {
             "type": "object",
             "description": "Current workflow step information. Shows step progress and optional days late indicator. Null for submittals without workflows.",
             "properties": {
              "current_step": {
               "type": "integer",
               "description": "The current workflow step number (1-based)"
              },
              "total_steps": {
               "type": "integer",
               "description": "The total number of steps in the workflow"
              },
              "days_late": {
               "type": "integer",
               "description": "Number of days the current step is late (only included if positive). Based on the earliest due date of pending approvers in the current step."
              }
             },
             "example": {
              "current_step": 2,
              "total_steps": 3,
              "days_late": 5
             }
            },
            "permissions": {
             "type": "object",
             "description": "Row-level permissions for submittal list actions and inline editing.",
             "properties": {
              "can_edit": {
               "type": "boolean",
               "description": "Whether the current user can open the edit action for this submittal."
              },
              "can_inline_update": {
               "type": "boolean",
               "description": "Whether the current user can update generic inline-editable fields."
              },
              "can_update_status": {
               "type": "boolean",
               "description": "Whether the current user can update this submittal's status inline."
              },
              "can_update_submit_by": {
               "type": "boolean",
               "description": "Whether the current user can update this submittal's submit by date inline."
              },
              "can_update_workflow_dates": {
               "type": "boolean",
               "description": "Whether the current user can update workflow sent and returned dates inline."
              },
              "can_view_buffer_time_and_variance": {
               "type": "boolean",
               "description": "Whether the current user can view buffer time and variance for this submittal."
              }
             }
            },
            "custom_field_%{custom_field_definition_id}": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": "1"
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": "2"
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/submittals',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[anticipated_delivery_date]': 'SOME_ARRAY_VALUE',\n    'filters[ball_in_court_id]': 'SOME_STRING_VALUE',\n    'filters[ball_in_court_company_id]': 'SOME_STRING_VALUE',\n    'filters[closed_at]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[received_from_id]': 'SOME_ARRAY_VALUE',\n    'filters[responsible_contractor_id]': 'SOME_STRING_VALUE',\n    'filters[specification_section_id]': 'SOME_ARRAY_VALUE',\n    'filters[approver_id]': 'SOME_ARRAY_VALUE',\n    'filters[current_revision]': 'SOME_ARRAY_VALUE',\n    'filters[division]': 'SOME_ARRAY_VALUE',\n    'filters[location_id]': 'SOME_ARRAY_VALUE',\n    'filters[submittal_manager_id]': 'SOME_ARRAY_VALUE',\n    'filters[submittal_package_id]': 'SOME_ARRAY_VALUE',\n    'filters[response_id]': 'SOME_ARRAY_VALUE',\n    'filters[sent_date]': 'SOME_ARRAY_VALUE',\n    'filters[workflow_step]': 'SOME_ARRAY_VALUE',\n    'filters[status_id]': 'SOME_ARRAY_VALUE',\n    'filters[type]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[unpackaged]': 'SOME_ARRAY_VALUE',\n    'filters[number]': 'SOME_ARRAY_VALUE',\n    'filters[has_operation_errors]': 'SOME_ARRAY_VALUE',\n    'filters[operation_errors_by_operation_id]': 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    show_attachments: 'SOME_BOOLEAN_VALUE',\n    minimal_submittal_package: 'true',\n    filters: 'SOME_OBJECT_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/submittals?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Banticipated_delivery_date%5D=SOME_ARRAY_VALUE&filters%5Bball_in_court_id%5D=SOME_STRING_VALUE&filters%5Bball_in_court_company_id%5D=SOME_STRING_VALUE&filters%5Bclosed_at%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_ARRAY_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_STRING_VALUE&filters%5Bspecification_section_id%5D=SOME_ARRAY_VALUE&filters%5Bapprover_id%5D=SOME_ARRAY_VALUE&filters%5Bcurrent_revision%5D=SOME_ARRAY_VALUE&filters%5Bdivision%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_manager_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_package_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_id%5D=SOME_ARRAY_VALUE&filters%5Bsent_date%5D=SOME_ARRAY_VALUE&filters%5Bworkflow_step%5D=SOME_ARRAY_VALUE&filters%5Bstatus_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bunpackaged%5D=SOME_ARRAY_VALUE&filters%5Bnumber%5D=SOME_ARRAY_VALUE&filters%5Bhas_operation_errors%5D=SOME_ARRAY_VALUE&filters%5Boperation_errors_by_operation_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&show_attachments=SOME_BOOLEAN_VALUE&minimal_submittal_package=true&filters=SOME_OBJECT_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/submittals?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Banticipated_delivery_date%5D=SOME_ARRAY_VALUE&filters%5Bball_in_court_id%5D=SOME_STRING_VALUE&filters%5Bball_in_court_company_id%5D=SOME_STRING_VALUE&filters%5Bclosed_at%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_ARRAY_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_STRING_VALUE&filters%5Bspecification_section_id%5D=SOME_ARRAY_VALUE&filters%5Bapprover_id%5D=SOME_ARRAY_VALUE&filters%5Bcurrent_revision%5D=SOME_ARRAY_VALUE&filters%5Bdivision%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_manager_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_package_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_id%5D=SOME_ARRAY_VALUE&filters%5Bsent_date%5D=SOME_ARRAY_VALUE&filters%5Bworkflow_step%5D=SOME_ARRAY_VALUE&filters%5Bstatus_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bunpackaged%5D=SOME_ARRAY_VALUE&filters%5Bnumber%5D=SOME_ARRAY_VALUE&filters%5Bhas_operation_errors%5D=SOME_ARRAY_VALUE&filters%5Boperation_errors_by_operation_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&show_attachments=SOME_BOOLEAN_VALUE&minimal_submittal_package=true&filters=SOME_OBJECT_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/submittals?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Banticipated_delivery_date%5D=SOME_ARRAY_VALUE&filters%5Bball_in_court_id%5D=SOME_STRING_VALUE&filters%5Bball_in_court_company_id%5D=SOME_STRING_VALUE&filters%5Bclosed_at%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_ARRAY_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_STRING_VALUE&filters%5Bspecification_section_id%5D=SOME_ARRAY_VALUE&filters%5Bapprover_id%5D=SOME_ARRAY_VALUE&filters%5Bcurrent_revision%5D=SOME_ARRAY_VALUE&filters%5Bdivision%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_manager_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_package_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_id%5D=SOME_ARRAY_VALUE&filters%5Bsent_date%5D=SOME_ARRAY_VALUE&filters%5Bworkflow_step%5D=SOME_ARRAY_VALUE&filters%5Bstatus_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bunpackaged%5D=SOME_ARRAY_VALUE&filters%5Bnumber%5D=SOME_ARRAY_VALUE&filters%5Bhas_operation_errors%5D=SOME_ARRAY_VALUE&filters%5Boperation_errors_by_operation_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&show_attachments=SOME_BOOLEAN_VALUE&minimal_submittal_package=true&filters=SOME_OBJECT_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Derive workflow_approval_status_key rejected from the latest completed response",
      "description": "`workflow_approval_status_key` now returns `rejected` when the latest completed workflow response is rejected, revise and resubmit, or void, including when the reject-workflow project setting is off. Completed Void / Revise and Resubmit workflows no longer serialize as `approved`.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "fix",
      "breaking": false,
      "datestamp": "2026-08-20",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Added buffer time display permission to V2 submittals list",
      "description": "Adds `permissions.can_view_buffer_time_and_variance` to the V2 submittals list response so clients can gate buffer time and variance from backend-owned item permissions.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-08-18",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add custom field filtering to the submittals list API",
      "description": "Adds support for filtering the submittals list with dynamic `filters[custom_field_{definition_id}]` parameters. Supported configured custom fields include booleans, numbers, datetimes, references, and multi-value references. Filters also support \"NULL\" where applicable.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-07-31",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add workflow approval status fields to the V2 submittals list API",
      "description": "Added `workflow_approval_status_key` (rejected, approved, pending, or not_started) and `response_considered` (the response category of the latest completed workflow response, null when no approver has responded) to the submittals list api.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-30",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add due_date_days and workflow_step_days_late sort options to submittals list API",
      "description": "Add two new sort options to the submittals list API. `due_date_days` sorts by the signed number of days between the submittal's due date and today (overdue submittals sort as negative, upcoming ones as positive), grouping non-closed submittals first, then closed, then those without a due date. `workflow_step_days_late` sorts by how many days the current workflow step is past due, placing submittals that are not late at the bottom. Prefix the sort value with a minus for descending order (e.g. sort=-due_date_days).\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-07-16",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add workflow_step filter to submittals list API",
      "description": "Add a workflow_step filter to the submittals list API to narrow submittals to the workflow step they are currently on. Accepts an array of step numbers (a single step number is also accepted) and \"NULL\" to filter for submittals with no workflow step.\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-06-30",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Added row action permissions to List Submittals endpoint",
      "description": "Adds per-row `permissions.can_edit` to support backend-owned edit action visibility in list clients.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-10",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Added inline edit permissions to List Submittals endpoint",
      "description": "Adds per-row `permissions` flags for inline-editable list fields.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-14",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Introduce GET Submittals Endpoint",
      "description": "Return a list of all Submittals from a specified Project.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-02-28",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Added workflow step information fields to Submittals listing",
      "description": "Added new fields to display current workflow step information: `workflow_step` (with current step, total steps, and optional days late), `current_step_approvers` (approvers for current step only), `current_step_sent_date`, `current_step_returned_date`, and unified `bic_due_date` for both DSP and non-DSP projects. Enhanced approver objects with `response_required` and `user` fields.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-26",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add anticipated_delivery_date date filter and sort to submittals list API",
      "description": "Add anticipated delivery date filter and sort to submittals list API. This filter and sort feature is currently in beta and may not function as expected in all cases.\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-05-20",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Submittal status IDs are changed to be unique per company",
      "description": "The `filters[status_id]` parameter now uses different status IDs than before. Status IDs are unique per company. To get the correct status IDs for your company, use the GET /rest/v1.0/companies/{company_id}/submittal_statuses endpoint.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2025-11-06",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add closed_at to Submittals v2 list response",
      "description": "Adds `closed_at` (timestamp when the submittal was closed) to the Submittals v2 list response body.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-01-26",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "V2 List Submittals no longer includes is_rejected, updated_at, open_date, attachments, and related fields",
      "description": "The following attributes have been removed from the List Submittals response (GET /rest/v2.0/companies/{company_id}/projects/{project_id}/submittals) to improve performance. This is a breaking change for consumers that rely on these fields in the list response. Use the Show Submittal endpoint (GET .../submittals/{id}) for full details including these attributes.\nRemoved attributes: `is_rejected`, `rejected_submittal_log_approver_id`, `source_submittal_log_id`, `updated_at`, `open_date`, `attachments` (array). The `attachments_count` attribute is unchanged and remains in the list response.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2026-02-09",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add schedule_v2_activity_id and sent_date filters to submittals list API",
      "description": "Add filters to submittals list API: schedule_v2_activity_id (filter by linked Schedule V2 activities via Related Items) and sent_date (filter by approver sent date).\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-13",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add six new sort options to submittals list API",
      "description": "Add sort capability for submittal_manager (by manager name), attachments_count, planned_return_date, planned_internal_review_completed_date, planned_submit_by_date, and sent_date (by approver sent date). Prefix sort value with minus for descending (e.g. sort=-submittal_manager).\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-15",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add minimal_submittal_package query parameter to List Submittals v2",
      "description": "The List Submittals endpoint accepts an optional query parameter `minimal_submittal_package`. When set to `true`, each submittal's `submittal_package` in the response includes only `id`, `number`, `title`, and `created_by`, reducing payload size for list views. Omit the parameter or set it to `false` for the full `submittal_package` object.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-04-08",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add has_workflow to v2 list response; approvers opt-out via drop_approvers",
      "description": "Adds a `has_workflow` boolean to the v2 Submittals list response, true when the submittal has any approvers. Clients that pass `drop_approvers=true` opt in to a slimmer payload where the `approvers` array is omitted (subject to server-side enablement). Clients that do not pass the parameter continue to receive `approvers` unchanged. Full approver details remain available on the Show endpoint (GET /companies/{company_id}/projects/{project_id}/submittals/{id}).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-11",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Reintroduce is reject field on the V2 submittals list API",
      "description": "Added the is rejected field to the submittals list api\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-12",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Introduce associated attachments count on the V2 submittals list API",
      "description": "Added a new associated attachments count field to the submittals list api that returns both the count of  attachments on the submittal as well as any attachments added by an approver.\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-02",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add associated attachments filter on the V2 submittals list API",
      "description": "Added a new associated attachments count field to the submittals list api that filters on both the count of  attachments on the submittal as well as any attachments added by an approver.\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-03",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Added estimated workflow completion date to the Submittal response",
      "description": "Added an estimated_workflow_completion_date field to the submittal plan data in the Submittal response \u2014 the projected date the submittal's workflow completes. It surfaces on the submittal show, list, and bulk-shared-review responses.\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-29",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add custom field sorting to submittals list API",
      "description": "Bring custom fields to parity with standard fields when sorting the submittals list. Sorting by a custom field orders submittals by that field's value and consistently places submittals with no value at the bottom of the list.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-06-29",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add has_responded_approver to the V2 submittals list API",
      "description": "Added a new `has_responded_approver` boolean field to the submittals list api. It is true when the submittal has at least one approver with a returned date, indicating an approver has responded.\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-25",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add null_aware_location_id_with_sublocations filter to submittals list API",
      "description": "Add a `null_aware_location_id_with_sublocations` filter to the submittals list API. Accepts an array of location ids and expands each to include all of its sublocations. Unlike `location_id_with_sublocations`, it also accepts \"NULL\" to filter for submittals with no location.\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-03",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     },
     {
      "summary": "Add Due Date Days field to the submittals List API",
      "description": "Added a new field that calculates the difference between the due date and the today's date , this field already existed for DSP Projects now it is rendered for the default view as well.\n",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/submittals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-20",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "submittals?version=2.0#return-a-list-of-all-submittals"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/submittals": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Submittal",
    "description": "Create a new Submittal associated with the specified Project.",
    "tags": [
     "Submittals"
    ],
    "parameters": [
     {
      "name": "send_emails",
      "in": "query",
      "description": "Designates whether or not emails will be sent (default false)",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "submittal": {
          "type": "object",
          "required": [
           "number"
          ],
          "properties": {
           "actual_delivery_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Actual Delivery Date of the Submittal\n*This field can only be set if the project has submittal delivery information enabled"
           },
           "confirmed_delivery_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Confirmed Delivery Date of the Submittal\n*This field can only be set if the project has submittal delivery information enabled"
           },
           "cost_code_id": {
            "type": "integer",
            "description": "The ID of the Cost Code of the Submittal\n*This field can only be set by admins"
           },
           "buffer_time": {
            "type": "integer",
            "example": 14,
            "description": "The buffer working days for the dynamic submittal plan calculation *This field is only available to be set if Dynamic Submittal Plan is enabled"
           },
           "custom_textarea_1": {
            "type": "string",
            "description": "Value for the project's custom submittal textarea field (label configured in Submittals Settings).\n*This field can only be set by admins"
           },
           "custom_textfield_1": {
            "type": "string",
            "description": "Value for the project's custom submittal text field (label configured in Submittals Settings).\n*This field can only be set by admins"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Submittal"
           },
           "design_team_review_time": {
            "type": "integer",
            "description": "The Design Team Review Time of the Submittal (in days)\n*This field can only be set if the project has schedule calculations enabled"
           },
           "distribution_member_ids": {
            "type": "array",
            "items": {
             "type": "integer"
            },
            "description": "The IDs of the Distribution Members of the Submittal"
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Due Date of the Submittal\n*This field is not available to be set if sequential approvers is enabled"
           },
           "for_record_only": {
            "type": "boolean",
            "example": true,
            "description": "The field that controls if the dynamic submittal plan is for record only or not *This field is only available to be set if Dynamic Submittal Plan is enabled"
           },
           "internal_review_time": {
            "type": "integer",
            "description": "The Internal Review Time of the Submtital (in days)\n*This field can only be set if the project has schedule calculations enabled"
           },
           "issue_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Issue Date of the Submittal\n*This field can only be set by admins"
           },
           "lead_time": {
            "type": "integer",
            "description": "The Lead Time of the Submittal (in days)\n*This field can only be set by admins or if the project has schedule calculations enabled"
           },
           "location_id": {
            "type": "integer",
            "description": "The Location of the Submittal"
           },
           "number": {
            "type": "string",
            "description": "The Number of the Submittal"
           },
           "private": {
            "type": "boolean",
            "description": "Whether the Submittal is Private or not"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "An array of Prostore File IDs. The Prostore Files will be associated with the Submittal as attachments.",
            "items": {
             "type": "integer"
            },
            "example": [
             42
            ]
           },
           "received_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Received Date of the Submittal\n*This field can only be set by admins"
           },
           "received_from_id": {
            "type": "integer",
            "description": "The Received From of the Submittal"
           },
           "required_on_site_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Required On Site Date of the Submittal\n*This field can only be set by admins or if the project has schedule calculations enabled"
           },
           "responsible_contractor_id": {
            "type": "integer",
            "description": "The Responsible Contractor of the Submittal\n*This field is required when received_from_id is present and the field is visible in the project's field configuration"
           },
           "revision": {
            "type": "string",
            "description": "The Revision of the Submittal"
           },
           "scheduled_task_key": {
            "type": "string",
            "description": "The key of the Scheduled Task of the Submittal. Note that use of this parameter is deprecated. Please use `scheduled_task_id` instead.\n*This field can only be set if the project has submittal delivery information enabled and the user has permissions to view the calendar tool"
           },
           "scheduled_task_id": {
            "type": "integer",
            "description": "The ID of the Scheduled Task of the Submittal\n*This field can only be set if the project has submittal delivery information enabled and the user has permissions to view the calendar tool"
           },
           "source_submittal_log_id": {
            "type": "integer",
            "description": "The ID of the Source Submittal.\n*By setting this field, the submittal will be created as a revision of source submittal."
           },
           "source_submittal_revision_id": {
            "type": "integer",
            "description": "The ID of the Submittal Log revision to copy revision attributes from when creating a new revision; `source_submittal_log_id` must be set when using this parameter. *This field only applies when creating a submittal as a revision of an existing submittal and is not supported on submittal update via PATCH."
           },
           "specification_section_id": {
            "type": "integer",
            "description": "The ID of the Specification Section of the Submittal"
           },
           "status_id": {
            "type": "integer",
            "description": "The ID of the Submittal Status of the Submittal\n*This field can only be set by admins"
           },
           "sub_job_id": {
            "type": "integer",
            "description": "The ID of the Sub Job of the Submittal"
           },
           "submit_by": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Submit By Date of the Submittal\n*This field can only be set by admins"
           },
           "submittal_manager_id": {
            "type": "integer",
            "description": "The ID of the Submittal Manager of the Submittal\n*This field can only be set by admins"
           },
           "submittal_package_id": {
            "type": "integer",
            "description": "The ID of the Submittal Package of the Submittal\n*This field can only be set by admins"
           },
           "title": {
            "type": "string",
            "description": "The Title of the Submittal"
           },
           "type": {
            "type": "string",
            "description": "The Submittal Type of the Submittal"
           },
           "submittal_workflow_template_id": {
            "type": "integer",
            "description": "The ID of a Submittal Workflow Template to apply to the submittal's approval workflow."
           },
           "prepare_time": {
            "type": "integer",
            "description": "The prepare time, in working days, for the dynamic submittal plan calculation. *This field is only available to be set if Dynamic Submittal Plan is enabled"
           },
           "lead_time_format": {
            "type": "string",
            "enum": [
             "days",
             "weeks"
            ],
            "description": "The unit format used to interpret the lead time value."
           },
           "formatted_lead_time": {
            "type": "string",
            "description": "Human-readable lead time string, interpreted together with `lead_time_format`."
           },
           "submit_by_date_overridden": {
            "type": "boolean",
            "description": "Whether the Submit By date was manually overridden rather than calculated from the schedule."
           },
           "is_rejected": {
            "type": "boolean",
            "description": "Whether the Submittal is marked as rejected. *This field applies to submittal update only."
           },
           "rejected_submittal_log_approver_id": {
            "type": "integer",
            "description": "The ID of the approver whose response rejected the Submittal. *This field applies to submittal update only."
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "submittal": {
          "type": "object",
          "required": [
           "number"
          ],
          "properties": {
           "actual_delivery_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Actual Delivery Date of the Submittal\n*This field can only be set if the project has submittal delivery information enabled"
           },
           "attachments": {
            "type": "array",
            "description": "Submittal attachments. To upload attachments you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string",
             "example": "foobar.pdf"
            }
           },
           "confirmed_delivery_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Confirmed Delivery Date of the Submittal\n*This field can only be set if the project has submittal delivery information enabled"
           },
           "cost_code_id": {
            "type": "integer",
            "description": "The ID of the Cost Code of the Submittal\n*This field can only be set by admins"
           },
           "buffer_time": {
            "type": "integer",
            "example": 14,
            "description": "The buffer working days for the dynamic submittal plan calculation *This field is only available to be set if Dynamic Submittal Plan is enabled"
           },
           "for_record_only": {
            "type": "boolean",
            "example": true,
            "description": "The field that controls if the dynamic submittal plan is for record only or not *This field is only available to be set if Dynamic Submittal Plan is enabled"
           },
           "custom_textarea_1": {
            "type": "string",
            "description": "Value for the project's custom submittal textarea field (label configured in Submittals Settings).\n*This field can only be set by admins"
           },
           "custom_textfield_1": {
            "type": "string",
            "description": "Value for the project's custom submittal text field (label configured in Submittals Settings).\n*This field can only be set by admins"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Submittal"
           },
           "design_team_review_time": {
            "type": "integer",
            "description": "The Design Team Review Time of the Submittal (in days)\n*This field can only be set if the project has schedule calculations enabled"
           },
           "distribution_member_ids": {
            "type": "array",
            "items": {
             "type": "integer"
            },
            "description": "The IDs of the Distribution Members of the Submittal"
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Due Date of the Submittal\n*This field is not available to be set if sequential approvers is enabled"
           },
           "internal_review_time": {
            "type": "integer",
            "description": "The Internal Review Time of the Submtital (in days)\n*This field can only be set if the project has schedule calculations enabled"
           },
           "issue_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Issue Date of the Submittal\n*This field can only be set by admins"
           },
           "lead_time": {
            "type": "integer",
            "description": "The Lead Time of the Submittal (in days)\n*This field can only be set by admins or if the project has schedule calculations enabled"
           },
           "location_id": {
            "type": "integer",
            "description": "The Location of the Submittal"
           },
           "number": {
            "type": "string",
            "description": "The Number of the Submittal"
           },
           "private": {
            "type": "boolean",
            "description": "Whether the Submittal is Private or not"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "An array of Prostore File IDs. The Prostore Files will be associated with the Submittal as attachments.",
            "items": {
             "type": "integer"
            },
            "example": [
             42
            ]
           },
           "received_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Received Date of the Submittal\n*This field can only be set by admins"
           },
           "received_from_id": {
            "type": "integer",
            "description": "The Received From of the Submittal"
           },
           "required_on_site_date": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Required On Site Date of the Submittal\n*This field can only be set by admins or if the project has schedule calculations enabled"
           },
           "responsible_contractor_id": {
            "type": "integer",
            "description": "The Responsible Contractor of the Submittal\n*This field is required when received_from_id is present and the field is visible in the project's field configuration"
           },
           "revision": {
            "type": "string",
            "description": "The Revision of the Submittal"
           },
           "scheduled_task_key": {
            "type": "string",
            "description": "The key of the Scheduled Task of the Submittal. Note that use of this parameter is deprecated. Please use `scheduled_task_id` instead.\n*This field can only be set if the project has submittal delivery information enabled and the user has permissions to view the calendar tool"
           },
           "scheduled_task_id": {
            "type": "integer",
            "description": "The ID of the Scheduled Task of the Submittal\n*This field can only be set if the project has submittal delivery information enabled and the user has permissions to view the calendar tool"
           },
           "source_submittal_log_id": {
            "type": "integer",
            "description": "The ID of the Source Submittal.\n*By setting this field, the submittal will be created as a revision of source submittal."
           },
           "specification_section_id": {
            "type": "integer",
            "description": "The ID of the Specification Section of the Submittal"
           },
           "status_id": {
            "type": "integer",
            "description": "The ID of the Submittal Status of the Submittal\n*This field can only be set by admins"
           },
           "sub_job_id": {
            "type": "integer",
            "description": "The ID of the Sub Job of the Submittal"
           },
           "submit_by": {
            "type": "string",
            "format": "date",
            "example": "2022-08-19",
            "description": "The Submit By Date of the Submittal\n*This field can only be set by admins"
           },
           "submittal_manager_id": {
            "type": "integer",
            "description": "The ID of the Submittal Manager of the Submittal\n*This field can only be set by admins"
           },
           "submittal_package_id": {
            "type": "integer",
            "description": "The ID of the Submittal Package of the Submittal\n*This field can only be set by admins"
           },
           "title": {
            "type": "string",
            "description": "The Title of the Submittal"
           },
           "type": {
            "type": "string",
            "description": "The Submittal Type of the Submittal"
           },
           "submittal_workflow_template_id": {
            "type": "integer",
            "description": "The ID of a Submittal Workflow Template to apply to the submittal's approval workflow."
           },
           "prepare_time": {
            "type": "integer",
            "description": "The prepare time, in working days, for the dynamic submittal plan calculation. *This field is only available to be set if Dynamic Submittal Plan is enabled"
           },
           "lead_time_format": {
            "type": "string",
            "enum": [
             "days",
             "weeks"
            ],
            "description": "The unit format used to interpret the lead time value."
           },
           "formatted_lead_time": {
            "type": "string",
            "description": "Human-readable lead time string, interpreted together with `lead_time_format`."
           },
           "submit_by_date_overridden": {
            "type": "boolean",
            "description": "Whether the Submit By date was manually overridden rather than calculated from the schedule."
           },
           "is_rejected": {
            "type": "boolean",
            "description": "Whether the Submittal is marked as rejected. *This field applies to submittal update only."
           },
           "rejected_submittal_log_approver_id": {
            "type": "integer",
            "description": "The ID of the approver whose response rejected the Submittal. *This field applies to submittal update only."
           },
           "workflow_data": {
            "type": "array",
            "description": "The Submittal Workflow Data",
            "example": "[[{\"login_information_id\":0,\"approver_type\":\"Approver\",\"days_to_respond\":5,\"due_date\":\"2026-01-01\",\"response_required\":0}]]",
            "items": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "login_information_id": {
                "type": "integer",
                "description": "The id of the user in the workflow"
               },
               "approver_type": {
                "type": "string",
                "description": "The role of the user in the workflow",
                "enum": [
                 "Submitter",
                 "Approver"
                ]
               },
               "days_to_respond": {
                "type": "integer",
                "description": "The amount of days to respond to workflow item.\n*Please use either days_to_respond or due_date (days_to_respond takes precedence over due_date)"
               },
               "due_date": {
                "type": "string",
                "format": "date",
                "description": "The due date for the user's response."
               },
               "response_required": {
                "type": "boolean",
                "description": "Designate whether or not the approver is required to respond"
               }
              }
             }
            }
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Submittal created successfully",
      "content": {
       "application/json": {
        "schema": {
         "description": "Includes all fields, detailed approver info, distribution history, and custom fields.",
         "allOf": [
          {
           "type": "object",
           "properties": {
            "actual_delivery_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "example": "2015-03-14"
            },
            "attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "confirmed_delivery_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "example": "2012-01-01"
            },
            "cost_code": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "example": "2012-10-23T21:39:40Z"
            },
            "custom_textarea_1": {
             "type": "string",
             "nullable": true,
             "description": "Value of the project's custom submittal textarea field. Null when unset. The field label is configured in Submittals Settings."
            },
            "custom_textfield_1": {
             "type": "string",
             "nullable": true,
             "description": "Value of the project's custom submittal text field. Null when unset. The field label is configured in Submittals Settings."
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "example": "2012-10-23T21:39:40Z",
             "description": "*This field only displays on deleted items"
            },
            "description": {
             "type": "string",
             "example": "Thermal Insulation submittal"
            },
            "rich_text_description": {
             "type": "string",
             "description": "HTML-formatted (rich text) version of the submittal description. Complements the plain-text `description`.",
             "example": "<p>Thermal Insulation submittal</p>"
            },
            "design_team_review_time": {
             "type": "integer",
             "nullable": true,
             "example": 7
            },
            "distribution_members": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            },
            "internal_review_time": {
             "type": "integer",
             "nullable": true,
             "example": 14
            },
            "lead_time": {
             "type": "integer",
             "nullable": true,
             "example": 5
            },
            "required_on_site_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "example": "2016-11-28"
            },
            "scheduled_task": {
             "type": "object",
             "nullable": true,
             "title": "Task",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Task ID",
               "example": 1359235
              },
              "name": {
               "type": "string",
               "description": "Task name",
               "example": "INTERIOR"
              },
              "key": {
               "type": "string",
               "description": "A deprecated value which was originally used to uniquely identify tasks.\nThis value will be removed in a later version of the API.",
               "example": "101429|40e65ab5-07a5-4cb3-88c0-bc691c3902e0"
              }
             }
            },
            "source_submittal_log_id": {
             "type": "integer",
             "example": 5
            },
            "distributed_submittals": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 122765
               },
               "message": {
                "type": "string",
                "example": ""
               },
               "sent_at": {
                "type": "string",
                "format": "date-time",
                "example": "2014-04-20T20:08:09Z"
               },
               "distributed_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               },
               "distributed_to": {
                "type": "array",
                "items": {
                 "allOf": [
                  {
                   "type": "object",
                   "properties": {
                    "login": {
                     "type": "string",
                     "description": "Email",
                     "example": "carl.contractor@example.com"
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "example": 161072
                    },
                    "name": {
                     "type": "string",
                     "example": "Carl the Contractor"
                    }
                   }
                  }
                 ]
                }
               },
               "final_attachments": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 5324
                  },
                  "url": {
                   "type": "string",
                   "description": "URL",
                   "example": "http://www.example.com/"
                  },
                  "filename": {
                   "type": "string",
                   "description": "Filename",
                   "example": "january_receipt_copy.jpg"
                  }
                 }
                }
               },
               "selected_approver_ids": {
                "type": "array",
                "description": "List of Submittal Approver IDs for approvers selected to be distributed",
                "items": {
                 "type": "integer"
                }
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "approvers": {
             "type": "array",
[...]
