{
 "openapi": "3.0.0",
 "info": {
  "title": "Task Items",
  "x-product-category": "Core",
  "x-tool-category": "Tasks",
  "x-resource-name": "Task Items",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/task_items/send_unsent": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Send unsent Task Items",
    "description": "Sends email notifications for unsent Task Items.",
    "tags": [
     "Task Items"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Task Items that were sent out",
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/task_items/send_unsent',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"POST\", \"/rest/v1.0/task_items/send_unsent?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/task_items/send_unsent?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/task_items/send_unsent?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Multiple Assignees",
      "description": "Returns new assignees array.",
      "endpoint": "POST /task_items/send_unsent",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-06-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#send-unsent-task-items"
     },
     {
      "summary": "Added Distribution Members",
      "description": "Distribution members are now returned in the success response for each task item.",
      "endpoint": "POST /task_items/send_unsent",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#send-unsent-task-items"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/task_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "query",
     "description": "Unique identifier for the project.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List task items",
    "description": "Returns a list of task items on a given project",
    "tags": [
     "Task Items"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[assigned_id]",
      "in": "query",
      "description": "Assigned ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[due_date]",
      "in": "query",
      "description": "Returns item(s) due within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Returns item(s) matching the specified status value.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[task_item_category_id]",
      "in": "query",
      "description": "Returns item(s) matching the specified Task Item Category ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return item(s) with the specified sort.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "number",
        "title",
        "assignee",
        "due_date",
        "status",
        "category"
       ]
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Serialization view for each task item in the list. When omitted, defaults to `normal`.\n\n- **`ids_only`** \u2014 JSON array of task item IDs (integers) only; pagination headers still apply.\n- **`compact`** \u2014 `id` and `title` only.\n- **`normal`** \u2014 standard list shape (default).\n- **`extended`** \u2014 additional fields (e.g. origin, attachments, `created_by`).\n",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ids_only",
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "ids_only",
           "description": "When `view=ids_only` \u2014 integer IDs only",
           "type": "array",
           "items": {
            "type": "integer"
           }
          },
          {
           "title": "compact",
           "description": "When `view=compact`",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Compact serialization view",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Task item ID"
             },
             "title": {
              "type": "string",
              "description": "Title"
             }
            }
           }
          },
          {
           "title": "normal",
           "description": "When `view=normal` or omitted (default)",
           "type": "array",
           "items": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "number": {
                "type": "string",
                "description": "Number",
                "example": "1B"
               },
               "date_notified": {
                "type": "string",
                "format": "date",
                "description": "Date when the notification was sent",
                "example": "2019-08-25"
               },
               "description": {
                "type": "string",
                "description": "Description",
                "example": "Perform full audit to determine safety compliance in 7G"
               },
               "due_date": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time due",
                "example": "2016-10-25T17:53:35Z",
                "nullable": true
               },
               "status": {
                "type": "string",
                "description": "Status",
                "example": "initiated",
                "enum": [
                 "initiated",
                 "in_progress",
                 "ready_for_review",
                 "closed",
                 "void"
                ]
               },
               "private": {
                "type": "boolean"
               },
               "task_item_category": {
                "nullable": true,
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "name": {
                    "type": "string",
                    "description": "Name given to the task item category",
                    "example": "Miscellaneous"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 987
                   }
                  }
                 }
                ]
               },
               "assignee": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               },
               "assignees": {
                "type": "array",
                "items": {
                 "type": "object",
                 "description": "Normal view of task item assignee",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  },
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  },
                  "date_notified": {
                   "type": "string",
                   "format": "date",
                   "description": "Date when the notification was sent for each assignee",
                   "example": "2019-08-25"
                  }
                 }
                }
               },
               "distribution_members": {
                "type": "array",
                "items": {
                 "type": "object",
                 "description": "Normal view of task item distribution member",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  },
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  },
                  "date_notified": {
                   "type": "string",
                   "format": "date",
                   "description": "Date when the notification was sent for each distribution member",
                   "example": "2019-08-25"
                  }
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 999
               },
               "title": {
                "type": "string",
                "description": "Title",
                "example": "Safety audit of sector 7G"
               }
              }
             }
            ]
           }
          },
          {
           "title": "extended",
           "description": "When `view=extended`",
           "type": "array",
           "items": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time created"
               },
               "created_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time updated"
               },
               "attachments": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 5324
                  },
                  "url": {
                   "type": "string",
                   "description": "URL",
                   "example": "http://www.example.com/"
                  },
                  "filename": {
                   "type": "string",
                   "description": "Filename",
                   "example": "january_receipt_copy.jpg"
                  }
                 }
                }
               },
               "origin_procore_item": {
                "type": "object",
                "nullable": true,
                "description": "Present when the task item is linked to an origin Procore item.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Origin item ID",
                  "example": 1001
                 },
                 "type": {
                  "type": "string",
                  "description": "Origin model class name",
                  "example": "MeetingTopic"
                 },
                 "name": {
                  "type": "string",
                  "description": "Origin item display name",
                  "example": "Action Items"
                 },
                 "reentry_url": {
                  "type": "string",
                  "nullable": true,
                  "description": "URL to open the origin item; null if not visible to the user",
                  "example": "https://app.procore.com/projects/123456/meetings/789/topics/1001"
                 },
                 "parent": {
                  "type": "object",
                  "nullable": true,
                  "description": "Parent Procore item of the origin; null when the origin has no parent.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Parent item ID",
                    "example": 789
                   },
                   "type": {
                    "type": "string",
                    "description": "Parent model class name",
                    "example": "Meeting"
                   }
                  }
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "number": {
                "type": "string",
                "description": "Number",
                "example": "1B"
               },
               "date_notified": {
                "type": "string",
                "format": "date",
                "description": "Date when the notification was sent",
                "example": "2019-08-25"
               },
               "description": {
                "type": "string",
                "description": "Description",
                "example": "Perform full audit to determine safety compliance in 7G"
               },
               "due_date": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time due",
                "example": "2016-10-25T17:53:35Z",
                "nullable": true
               },
               "status": {
                "type": "string",
                "description": "Status",
                "example": "initiated",
                "enum": [
                 "initiated",
                 "in_progress",
                 "ready_for_review",
                 "closed",
                 "void"
                ]
               },
               "private": {
                "type": "boolean"
               },
               "task_item_category": {
                "nullable": true,
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "name": {
                    "type": "string",
                    "description": "Name given to the task item category",
                    "example": "Miscellaneous"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 987
                   }
                  }
                 }
                ]
               },
               "assignee": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               },
               "assignees": {
                "type": "array",
                "items": {
                 "type": "object",
                 "description": "Normal view of task item assignee",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  },
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  },
                  "date_notified": {
                   "type": "string",
                   "format": "date",
                   "description": "Date when the notification was sent for each assignee",
                   "example": "2019-08-25"
                  }
                 }
                }
               },
               "distribution_members": {
                "type": "array",
                "items": {
                 "type": "object",
                 "description": "Normal view of task item distribution member",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  },
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  },
                  "date_notified": {
                   "type": "string",
                   "format": "date",
                   "description": "Date when the notification was sent for each distribution member",
                   "example": "2019-08-25"
                  }
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 999
               },
               "title": {
                "type": "string",
                "description": "Title",
                "example": "Safety audit of sector 7G"
               }
              }
             }
            ]
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/task_items',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[assigned_id]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[due_date]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_ARRAY_VALUE',\n    'filters[task_item_category_id]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/task_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bassigned_id%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Btask_item_category_id%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/task_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bassigned_id%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Btask_item_category_id%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/task_items?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bassigned_id%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Btask_item_category_id%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Multiple Assignees",
      "description": "Returns new assignees array.",
      "endpoint": "GET /task_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-06-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#list-task-items"
     },
     {
      "summary": "Added Distribution Members",
      "description": "Distribution members are now returned in the success response for each task item.",
      "endpoint": "GET /task_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#list-task-items"
     },
     {
      "summary": "Added origin_procore_item to extended Task Item responses",
      "description": "Extended Task Item responses include `origin_procore_item` when the task\nitem is linked to an origin Procore item. The origin payload includes\n`parent` with the parent Procore item ID and type when available.\n",
      "endpoint": "GET /task_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#list-task-items"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create task item",
    "description": "Creates a task item on a given project",
    "tags": [
     "Task Items"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Serialization view for the created task item in the response. Defaults to **`extended`** when omitted.\n",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "task_item"
        ],
        "properties": {
         "task_item": {
          "type": "object",
          "properties": {
           "title": {
            "type": "string",
            "description": "Title",
            "example": "Safety audit of sector 7G"
           },
           "number": {
            "type": "string",
            "description": "Number",
            "example": "1B"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Perform full audit to determine safety compliance in 7G"
           },
           "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time due"
           },
           "status": {
            "type": "string",
            "description": "Status",
            "enum": [
             "initiated",
             "in_progress",
             "ready_for_review",
             "closed",
             "void"
            ]
           },
           "task_item_category_id": {
            "type": "integer",
            "description": "The task item category to associate with the task item."
           },
           "private": {
            "type": "boolean",
            "description": "Privacy flag"
           },
           "assigned_id": {
            "type": "integer",
            "description": "Assignee ID"
           },
           "assignee_ids": {
            "type": "array",
            "description": "Assignee IDs",
            "items": {
             "type": "integer"
            }
           },
           "distribution_member_ids": {
            "type": "array",
            "description": "Distribution Member IDs",
            "items": {
             "type": "integer"
            }
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore File IDs",
            "items": {
             "type": "integer"
            }
           },
           "attachments": {
            "type": "array",
            "description": "Task Item attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "Compact serialization view",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Task item ID"
            },
            "title": {
             "type": "string",
             "description": "Title"
            }
           },
           "title": "compact"
          },
          {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "number": {
               "type": "string",
               "description": "Number",
               "example": "1B"
              },
              "date_notified": {
               "type": "string",
               "format": "date",
               "description": "Date when the notification was sent",
               "example": "2019-08-25"
              },
              "description": {
               "type": "string",
               "description": "Description",
               "example": "Perform full audit to determine safety compliance in 7G"
              },
              "due_date": {
               "type": "string",
               "format": "date-time",
               "description": "Date and time due",
               "example": "2016-10-25T17:53:35Z",
               "nullable": true
              },
              "status": {
               "type": "string",
               "description": "Status",
               "example": "initiated",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "private": {
               "type": "boolean"
              },
              "task_item_category": {
               "nullable": true,
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Name given to the task item category",
                   "example": "Miscellaneous"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 987
                  }
                 }
                }
               ]
              },
              "assignee": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  }
                 }
                }
               ]
              },
              "assignees": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item assignee",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each assignee",
                  "example": "2019-08-25"
                 }
                }
               }
              },
              "distribution_members": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item distribution member",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each distribution member",
                  "example": "2019-08-25"
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 999
              },
              "title": {
               "type": "string",
               "description": "Title",
               "example": "Safety audit of sector 7G"
              }
             }
            }
           ],
           "title": "normal",
           "description": "When `view=normal`"
          },
          {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Time created"
              },
              "created_by": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  }
                 }
                }
               ]
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Time updated"
              },
              "attachments": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 }
                }
               }
              },
              "origin_procore_item": {
               "type": "object",
               "nullable": true,
               "description": "Present when the task item is linked to an origin Procore item.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Origin item ID",
                 "example": 1001
                },
                "type": {
                 "type": "string",
                 "description": "Origin model class name",
                 "example": "MeetingTopic"
                },
                "name": {
                 "type": "string",
                 "description": "Origin item display name",
                 "example": "Action Items"
                },
                "reentry_url": {
                 "type": "string",
                 "nullable": true,
                 "description": "URL to open the origin item; null if not visible to the user",
                 "example": "https://app.procore.com/projects/123456/meetings/789/topics/1001"
                },
                "parent": {
                 "type": "object",
                 "nullable": true,
                 "description": "Parent Procore item of the origin; null when the origin has no parent.",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Parent item ID",
                   "example": 789
                  },
                  "type": {
                   "type": "string",
                   "description": "Parent model class name",
                   "example": "Meeting"
                  }
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "number": {
               "type": "string",
               "description": "Number",
               "example": "1B"
              },
              "date_notified": {
               "type": "string",
               "format": "date",
               "description": "Date when the notification was sent",
               "example": "2019-08-25"
              },
              "description": {
               "type": "string",
               "description": "Description",
               "example": "Perform full audit to determine safety compliance in 7G"
              },
              "due_date": {
               "type": "string",
               "format": "date-time",
               "description": "Date and time due",
               "example": "2016-10-25T17:53:35Z",
               "nullable": true
              },
              "status": {
               "type": "string",
               "description": "Status",
               "example": "initiated",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "private": {
               "type": "boolean"
              },
              "task_item_category": {
               "nullable": true,
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Name given to the task item category",
                   "example": "Miscellaneous"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 987
                  }
                 }
                }
               ]
              },
              "assignee": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  }
                 }
                }
               ]
              },
              "assignees": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item assignee",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each assignee",
                  "example": "2019-08-25"
                 }
                }
               }
              },
              "distribution_members": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item distribution member",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each distribution member",
                  "example": "2019-08-25"
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 999
              },
              "title": {
               "type": "string",
               "description": "Title",
               "example": "Safety audit of sector 7G"
              }
             }
            }
           ],
           "title": "extended",
           "description": "When `view=extended` or omitted (default)"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/task_items',\n  qs: {project_id: 'SOME_INTEGER_VALUE', view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    task_item: {\n      title: 'Safety audit of sector 7G',\n      number: '1B',\n      description: 'Perform full audit to determine safety compliance in 7G',\n      due_date: '2019-08-24T14:15:22Z',\n      status: 'initiated',\n      task_item_category_id: 0,\n      private: true,\n      assigned_id: 0,\n      assignee_ids: [0],\n      distribution_member_ids: [0],\n      prostore_file_ids: [0],\n      attachments: ['string'],\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"task_item\\\":{\\\"title\\\":\\\"Safety audit of sector 7G\\\",\\\"number\\\":\\\"1B\\\",\\\"description\\\":\\\"Perform full audit to determine safety compliance in 7G\\\",\\\"due_date\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"status\\\":\\\"initiated\\\",\\\"task_item_category_id\\\":0,\\\"private\\\":true,\\\"assigned_id\\\":0,\\\"assignee_ids\\\":[0],\\\"distribution_member_ids\\\":[0],\\\"prostore_file_ids\\\":[0],\\\"attachments\\\":[\\\"string\\\"],\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/task_items?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/task_items?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"task_item\":{\"title\":\"Safety audit of sector 7G\",\"number\":\"1B\",\"description\":\"Perform full audit to determine safety compliance in 7G\",\"due_date\":\"2019-08-24T14:15:22Z\",\"status\":\"initiated\",\"task_item_category_id\":0,\"private\":true,\"assigned_id\":0,\"assignee_ids\":[0],\"distribution_member_ids\":[0],\"prostore_file_ids\":[0],\"attachments\":[\"string\"],\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/task_items?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"task_item\\\":{\\\"title\\\":\\\"Safety audit of sector 7G\\\",\\\"number\\\":\\\"1B\\\",\\\"description\\\":\\\"Perform full audit to determine safety compliance in 7G\\\",\\\"due_date\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"status\\\":\\\"initiated\\\",\\\"task_item_category_id\\\":0,\\\"private\\\":true,\\\"assigned_id\\\":0,\\\"assignee_ids\\\":[0],\\\"distribution_member_ids\\\":[0],\\\"prostore_file_ids\\\":[0],\\\"attachments\\\":[\\\"string\\\"],\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Attachments by Reference to Task Item.",
      "description": "Add attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /task_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-08-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#create-task-item"
     },
     {
      "summary": "Multiple Assignees",
      "description": "The request body can now include an 'assignee_ids' key, which should be an array of assignee IDs. \nThis new feature allows multiple assignees to be added at once. \nPlease note, if the 'assignee_ids' key is present, the 'assigned_id' key will be ignored.",
      "endpoint": "POST /task_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-06-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#create-task-item"
     },
     {
      "summary": "Added Distribution Members",
      "description": "Create Task Item endpoint now receives an optional 'task_item[distribution_member_ids]' field to assign distribution members to the task item being created.\nDistribution members are now returned in the success response.",
      "endpoint": "POST /task_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#create-task-item"
     },
     {
      "summary": "Added origin_procore_item to extended Task Item responses",
      "description": "Extended Task Item responses include `origin_procore_item` when the task\nitem is linked to an origin Procore item. The origin payload includes\n`parent` with the parent Procore item ID and type when available.\n",
      "endpoint": "POST /task_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#create-task-item"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/task_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "query",
     "description": "Unique identifier for the project.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Task Item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "view",
     "in": "query",
     "description": "Serialization view for the task item. When omitted, defaults to **`extended`** for this API version.\n\n- **`compact`** \u2014 `id` and `title` only.\n- **`normal`** \u2014 standard shape without extended-only fields.\n- **`extended`** \u2014 full detail including origin, attachments, and `created_by` (default).\n",
     "required": false,
     "schema": {
      "type": "string",
      "enum": [
       "compact",
       "normal",
       "extended"
      ]
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show task item",
    "description": "Show detailed information for a specific task item",
    "tags": [
     "Task items"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "Compact serialization view",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Task item ID"
            },
            "title": {
             "type": "string",
             "description": "Title"
            }
           },
           "title": "compact"
          },
          {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "number": {
               "type": "string",
               "description": "Number",
               "example": "1B"
              },
              "date_notified": {
               "type": "string",
               "format": "date",
               "description": "Date when the notification was sent",
               "example": "2019-08-25"
              },
              "description": {
               "type": "string",
               "description": "Description",
               "example": "Perform full audit to determine safety compliance in 7G"
              },
              "due_date": {
               "type": "string",
               "format": "date-time",
               "description": "Date and time due",
               "example": "2016-10-25T17:53:35Z",
               "nullable": true
              },
              "status": {
               "type": "string",
               "description": "Status",
               "example": "initiated",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "private": {
               "type": "boolean"
              },
              "task_item_category": {
               "nullable": true,
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Name given to the task item category",
                   "example": "Miscellaneous"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 987
                  }
                 }
                }
               ]
              },
              "assignee": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  }
                 }
                }
               ]
              },
              "assignees": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item assignee",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each assignee",
                  "example": "2019-08-25"
                 }
                }
               }
              },
              "distribution_members": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item distribution member",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each distribution member",
                  "example": "2019-08-25"
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 999
              },
              "title": {
               "type": "string",
               "description": "Title",
               "example": "Safety audit of sector 7G"
              }
             }
            }
           ],
           "title": "normal",
           "description": "When `view=normal`"
          },
          {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Time created"
              },
              "created_by": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  }
                 }
                }
               ]
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Time updated"
              },
              "attachments": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 }
                }
               }
              },
              "origin_procore_item": {
               "type": "object",
               "nullable": true,
               "description": "Present when the task item is linked to an origin Procore item.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Origin item ID",
                 "example": 1001
                },
                "type": {
                 "type": "string",
                 "description": "Origin model class name",
                 "example": "MeetingTopic"
                },
                "name": {
                 "type": "string",
                 "description": "Origin item display name",
                 "example": "Action Items"
                },
                "reentry_url": {
                 "type": "string",
                 "nullable": true,
                 "description": "URL to open the origin item; null if not visible to the user",
                 "example": "https://app.procore.com/projects/123456/meetings/789/topics/1001"
                },
                "parent": {
                 "type": "object",
                 "nullable": true,
                 "description": "Parent Procore item of the origin; null when the origin has no parent.",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Parent item ID",
                   "example": 789
                  },
                  "type": {
                   "type": "string",
                   "description": "Parent model class name",
                   "example": "Meeting"
                  }
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "number": {
               "type": "string",
               "description": "Number",
               "example": "1B"
              },
              "date_notified": {
               "type": "string",
               "format": "date",
               "description": "Date when the notification was sent",
               "example": "2019-08-25"
              },
              "description": {
               "type": "string",
               "description": "Description",
               "example": "Perform full audit to determine safety compliance in 7G"
              },
              "due_date": {
               "type": "string",
               "format": "date-time",
               "description": "Date and time due",
               "example": "2016-10-25T17:53:35Z",
               "nullable": true
              },
              "status": {
               "type": "string",
               "description": "Status",
               "example": "initiated",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "private": {
               "type": "boolean"
              },
              "task_item_category": {
               "nullable": true,
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Name given to the task item category",
                   "example": "Miscellaneous"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 987
                  }
                 }
                }
               ]
              },
              "assignee": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  }
                 }
                }
               ]
              },
              "assignees": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item assignee",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each assignee",
                  "example": "2019-08-25"
                 }
                }
               }
              },
              "distribution_members": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item distribution member",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each distribution member",
                  "example": "2019-08-25"
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 999
              },
              "title": {
               "type": "string",
               "description": "Title",
               "example": "Safety audit of sector 7G"
              }
             }
            }
           ],
           "title": "extended",
           "description": "When `view=extended` or omitted (default)"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/task_items/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/task_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/task_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/task_items/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Multiple Assignees",
      "description": "Returns new assignees array.",
      "endpoint": "GET /task_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-06-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#show-task-item"
     },
     {
      "summary": "Added Distribution Members",
      "description": "Distribution members are now returned in the success response for each task item.",
      "endpoint": "GET /task_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#show-task-item"
     },
     {
      "summary": "Added origin_procore_item to extended Task Item responses",
      "description": "Extended Task Item responses include `origin_procore_item` when the task\nitem is linked to an origin Procore item. The origin payload includes\n`parent` with the parent Procore item ID and type when available.\n",
      "endpoint": "GET /task_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-items?version=1.0#show-task-item"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update task item",
    "description": "Update a task item's attributes",
    "tags": [
     "Task items"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Serialization view for the updated task item in the response. Defaults to **`extended`** when omitted.\n",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "task_item"
        ],
        "properties": {
         "task_item": {
          "type": "object",
          "properties": {
           "title": {
            "type": "string",
            "description": "Title",
            "example": "Safety audit of sector 7G"
           },
           "number": {
            "type": "string",
            "description": "Number",
            "example": "1B"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Perform full audit to determine safety compliance in 7G"
           },
           "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time due"
           },
           "status": {
            "type": "string",
            "description": "Status",
            "enum": [
             "initiated",
             "in_progress",
             "ready_for_review",
             "closed",
             "void"
            ]
           },
           "task_item_category_id": {
            "type": "integer",
            "description": "The task item category to associate with the task item."
           },
           "private": {
            "type": "boolean",
            "description": "Privacy flag"
           },
           "assigned_id": {
            "type": "integer",
            "description": "Assignee ID"
           },
           "assignee_ids": {
            "type": "array",
            "description": "Assignee IDs",
            "items": {
             "type": "integer"
            }
           },
           "distribution_member_ids": {
            "type": "array",
            "description": "Distribution Member IDs",
            "items": {
             "type": "integer"
            }
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore File IDs",
            "items": {
             "type": "integer"
            }
           },
           "attachments": {
            "type": "array",
            "description": "Task Item attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "Compact serialization view",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Task item ID"
            },
            "title": {
             "type": "string",
             "description": "Title"
            }
           },
           "title": "compact"
          },
          {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "number": {
               "type": "string",
               "description": "Number",
               "example": "1B"
              },
              "date_notified": {
               "type": "string",
               "format": "date",
               "description": "Date when the notification was sent",
               "example": "2019-08-25"
              },
              "description": {
               "type": "string",
               "description": "Description",
               "example": "Perform full audit to determine safety compliance in 7G"
              },
              "due_date": {
               "type": "string",
               "format": "date-time",
               "description": "Date and time due",
               "example": "2016-10-25T17:53:35Z",
               "nullable": true
              },
              "status": {
               "type": "string",
               "description": "Status",
               "example": "initiated",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "private": {
               "type": "boolean"
              },
              "task_item_category": {
               "nullable": true,
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Name given to the task item category",
                   "example": "Miscellaneous"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 987
                  }
                 }
                }
               ]
              },
              "assignee": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  }
                 }
                }
               ]
              },
              "assignees": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item assignee",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each assignee",
                  "example": "2019-08-25"
                 }
                }
               }
              },
              "distribution_members": {
               "type": "array",
               "items": {
                "type": "object",
                "description": "Normal view of task item distribution member",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 },
                 "date_notified": {
                  "type": "string",
                  "format": "date",
                  "description": "Date when the notification was sent for each distribution member",
                  "example": "2019-08-25"
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 999
              },
              "title": {
               "type": "string",
               "description": "Title",
               "example": "Safety audit of sector 7G"
              }
             }
            }
           ],
           "title": "normal",
           "description": "When `view=normal`"
          },
          {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Time created"
              },
              "created_by": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 161072
                  },
                  "name": {
                   "type": "string",
                   "example": "Carl the Contractor"
                  }
                 }
                }
               ]
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Time updated"
              },
              "attachments": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 }
                }
               }
[...]
