{
 "openapi": "3.0.0",
 "info": {
  "title": "Task Item Categories",
  "x-product-category": "Core",
  "x-tool-category": "Tasks",
  "x-resource-name": "Task Item Categories",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/task_item_categories": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List task item categories",
    "description": "Returns a list of task item categories associated with the company",
    "tags": [
     "Task Items",
     "Task Item Categories",
     "Company Admin"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Serialization view. Defaults to **`normal`**.\n\n- **`ids_only`** \u2014 JSON array of category IDs (integers); pagination headers apply.\n- **`compact`** / **`normal`** \u2014 `id` and friendly `name`.\n- **`extended`** \u2014 adds `created_at` and `updated_at`.\n",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ids_only",
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK \u2014 shape depends on `view` (see parameter). Default is an array of categories (**normal**).\n",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "ids_only",
           "description": "When `view=ids_only`",
           "type": "array",
           "items": {
            "type": "integer"
           }
          },
          {
           "title": "compact_or_normal",
           "description": "When `view=compact` or `view=normal` or omitted",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Information about task items categories associated with company",
            "properties": {
             "id": {
              "type": "integer",
              "format": "int64",
              "description": "Unique integer ID",
              "example": 2827
             },
             "name": {
              "type": "string",
              "description": "User given name of category",
              "example": "Electrical"
             }
            }
           }
          },
          {
           "title": "extended",
           "description": "When `view=extended`",
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Friendly category name"
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time"
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "User does not have required permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_categories',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_categories?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_categories?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_categories?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 endpoint",
      "description": "Added Rest v1.0 endpoint",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/task_item_categories",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-01-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-item-categories?version=1.0#list-task-item-categories"
     },
     {
      "summary": "Sort by name by default",
      "description": "Sort by name by default",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/task_item_categories",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-item-categories?version=1.0#list-task-item-categories"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}