{
 "openapi": "3.0.0",
 "info": {
  "title": "Tasks",
  "x-product-category": "Project Management",
  "x-tool-category": "Schedule (Legacy)",
  "x-resource-name": "Tasks",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/tasks": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List tasks",
    "description": "List existing tasks for the specified Project.",
    "tags": [
     "Tasks"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "The compact view contains id, name, key, formatted_name, and task_name.\nThe normal view contains the response shown below.\nThe default view is normal.",
      "example": "normal",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal"
       ]
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[row_number]",
      "in": "query",
      "required": false,
      "description": "Returns Tasks with a row_number matching the given value. This endpoint supports single values of row_number,  a range of row_numbers (filters[row_number]=4...7) as well as multiple values  (filters[row_number][]=5&filters[row_number][]=6). Exclude the filter to fetch all Tasks.\n",
      "example": 5,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "title": "Task",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this task.",
            "example": 1359235
           },
           "name": {
            "type": "string",
            "description": "Task name as the user sees it in Procore. Depending on the project settings this may include the full outline path",
            "example": "INTERIOR"
           },
           "task_name": {
            "type": "string",
            "description": "Task name. This will always contain just the task name, and will not include the full outline path.",
            "example": "INTERIOR"
           },
           "key": {
            "type": "string",
            "description": "A deprecated value which was originally used to uniquely identify tasks.\nThis value will be removed in a later version of the API.",
            "example": "101429|40e65ab5-07a5-4cb3-88c0-bc691c3902e0"
           },
           "start_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Task start timestamp in ISO 8601 UTC format.",
            "example": "2015-03-06T13:00:00Z"
           },
           "finish_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Task finish timestamp in ISO 8601 UTC format.",
            "example": "2015-03-08T22:00:00Z"
           },
           "percentage": {
            "type": "integer",
            "description": "Percent complete value for this task.",
            "example": 80
           },
           "color": {
            "type": "string",
            "description": "The RGB color value, expressed in hex digits for the color used when\ndisplaying the task in Procore. The color varies depending on whether\nthe task is on the critical path, complete, unstarted or in progress.",
            "example": "#6070A0"
           },
           "parent_id": {
            "type": "integer",
            "description": "ID of the parent task.",
            "example": 802241
           },
           "pending": {
            "type": "boolean",
            "description": "True if one or more change requests are pending for this task.",
            "example": false
           },
           "activity_id": {
            "type": "string",
            "description": "The external unique identifier for this task. Note that due to an\noversight in the original API, the value returned for this attribute\nwill be the `source_uid` value supplied when creating a task.",
            "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
           },
           "schedule_activity_id": {
            "type": "string",
            "description": "For tasks imported from external systems which have the concept of\nan \"Activity ID\" (for example Primavera P6), this attribute is\nused to hold the Activity ID value. Note that due to an oversight\nduring the creation of this API, this is the value supplied\nin the `activity_id` attribute. This will be corrected in a later\nversion of the API.",
            "example": "EM12865"
           },
           "resource_name": {
            "type": "string",
            "description": "Names of any resources assigned to this task.",
            "example": "Resource 1, Resource 2, Resource 3"
           },
           "critical_path": {
            "type": "boolean",
            "description": "True if this task is on the critical path.",
            "example": false
           },
           "milestone": {
            "type": "boolean",
            "description": "True if this task is a milestone.",
            "example": false
           },
           "actual_start": {
            "type": "string",
            "format": "date-time",
            "description": "Actual start timestamp for this task in ISO 8601 UTC format.",
            "example": "2015-03-08T00:00:00Z"
           },
           "actual_finish": {
            "type": "string",
            "format": "date-time",
            "description": "Actual finish timestamp for this task in ISO 8601 UTC format.",
            "example": "2015-03-09T00:00:00Z"
           },
           "row_number": {
            "type": "integer",
            "description": "The row number of a task defines the sequence in which tasks are normally\nexpected to be displayed.",
            "example": 2
           },
           "has_children": {
            "type": "boolean",
            "description": "True if this is a summary task, i.e. this task has child tasks.",
            "example": false
           },
           "full_outline_path": {
            "type": "string",
            "description": "Task full outline path",
            "example": "INTERIOR"
           },
           "source_uid": {
            "type": "string",
            "description": "The unique identifier for this task from the external system which\nowns the schedule data.",
            "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
           },
           "wbs": {
            "type": "string",
            "description": "Work Breakdown Structure (WBS) number for this task.",
            "example": "1.1"
           },
           "schedule_duration": {
            "type": "number",
            "format": "float",
            "description": "The duration of this task in days as defined by the external system\nwhich owns the schedule data.",
            "example": 3
           },
           "resource_ids": {
            "type": "array",
            "description": "The resources assigned to this task, represented as an array of\nresource ID values.",
            "items": {
             "type": "integer"
            },
            "example": [
             1,
             2,
             3
            ]
           },
           "notes": {
            "type": "string",
            "description": "Arbitrary notes about this task.",
            "example": "Some notes"
           },
           "baseline_start": {
            "type": "string",
            "format": "date-time",
            "description": "The baseline start timestamp for this task in ISO 8601 UTC format.",
            "example": "2015-03-08T00:00:00Z"
           },
           "baseline_finish": {
            "type": "string",
            "format": "date-time",
            "description": "The baseline finish timestamp for this task in ISO 8601 UTC format.",
            "example": "2015-03-09T00:00:00Z"
           },
           "start_variance": {
            "type": "number",
            "format": "float",
            "description": "The start variance in days for this task.",
            "example": 1.5
           },
           "finish_variance": {
            "type": "number",
            "format": "float",
            "description": "The finish variance in days for this task.",
            "example": -2.5
           },
           "manually_edited": {
            "type": "boolean",
            "description": "Set to true if the task has been created or modified in Procore, false\nif the task was imported from an external schedule and has not been\nmodified in Procore.",
            "example": false
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date/time the Task was created in ISO 8601 UTC format.",
            "example": "2015-03-05T11:00:00Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date/time the Task was last updated in ISO 8601 UTC format.",
            "example": "2015-03-06T13:00:00Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "updated_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/tasks',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'normal',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[row_number]': '5',\n    'filters[query]': 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/tasks?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=normal&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Brow_number%5D=5&filters%5Bquery%5D=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/tasks?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=normal&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Brow_number%5D=5&filters%5Bquery%5D=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tasks?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=normal&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Brow_number%5D=5&filters%5Bquery%5D=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added filtering by updated_at",
      "description": "Added the ability to filter a list of tasks by the `updated_at` timestamp",
      "endpoint": "GET /tasks",
      "type": "feature",
      "breaking": false,
      "datestamp": "2020-12-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tasks?version=1.0#list-tasks"
     },
     {
      "summary": "Added filtering by row_number",
      "description": "Added the ability to retrieve list of tasks that match one or more row_number(s).",
      "endpoint": "GET /tasks",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-03-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tasks?version=1.0#list-tasks"
     },
     {
      "summary": "Added manually_edited attribute",
      "description": "Added an attribute to indicate if the task has been created or modified in Procore.",
      "endpoint": "GET /tasks",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-06-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tasks?version=1.0#list-tasks"
     },
     {
      "summary": "Added filtering by query",
      "description": "Added the ability to retrieve the list of tasks that match the text query.",
      "endpoint": "GET /tasks",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-09-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tasks?version=1.0#list-tasks"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create task",
    "description": "Create a new Task associated with the specified Project.",
    "tags": [
     "Tasks"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "task"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "ID of the project this task belongs to.",
          "example": 101429
         },
         "task": {
          "title": "Task",
          "type": "object",
          "description": "Task object.",
          "properties": {
           "name": {
            "type": "string",
            "description": "Task name.",
            "example": "INTERIOR"
           },
           "start": {
            "type": "string",
            "format": "date-time",
            "description": "Task start timestamp.",
            "example": "2015-03-06T13:00:00Z"
           },
           "finish": {
            "type": "string",
            "format": "date-time",
            "description": "Task finish timestamp.",
            "example": "2015-03-08T22:00:00Z"
           },
           "actual_start": {
            "type": "string",
            "format": "date-time",
            "description": "Actual start timestamp for this task.",
            "example": "2015-03-08T00:00:00Z"
           },
           "actual_finish": {
            "type": "string",
            "format": "date-time",
            "description": "Actual finish timestamp for this task.",
            "example": "2015-03-09T00:00:00Z"
           },
           "percentage": {
            "type": "integer",
            "description": "Percent complete value for this task.",
            "example": 80
           },
           "critical_path": {
            "type": "boolean",
            "description": "True if this task is on the critical path.",
            "example": false
           },
           "milestone": {
            "type": "boolean",
            "description": "True if this task is a milestone.",
            "example": false
           },
           "row_number": {
            "type": "integer",
            "description": "The row number of a task defines the sequence in which tasks are normally\nexpected to be displayed.",
            "example": 2
           },
           "has_children": {
            "type": "boolean",
            "description": "Flag set to true if this is a summary task, i.e. this task has child tasks.",
            "example": false
           },
           "source_uid": {
            "type": "string",
            "description": "The unique identifier for this task from the external system which owns the schedule data.",
            "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
           },
           "parent_id": {
            "type": "integer",
            "description": "ID of the parent task.",
            "example": 802241
           },
           "full_outline_path": {
            "type": "string",
            "description": "Task full outline path.",
            "example": "INTERIOR"
           },
           "activity_id": {
            "type": "string",
            "description": "For tasks imported from external systems which have the concept of\nan \"Activity ID\" (for example Primavera P6), this attribute is\nused to hold the Activity ID value. Note that due to an oversight\nduring the creation of this API, the value supplied here will be\nrendered as the `schedule_activity_id` attribute in the response\nbody. This will be corrected in a later version of the API.",
            "example": "EM12865"
           },
           "wbs": {
            "type": "string",
            "description": "Work Breakdown Structure (WBS) number for this task.",
            "example": "1.1"
           },
           "schedule_duration": {
            "type": "number",
            "format": "float",
            "description": "The duration of this task in days as defined by the external system\nwhich owns the schedule data.",
            "example": 3
           },
           "resource_ids": {
            "type": "array",
            "description": "Resources assigned to this task, represented as an array of resource ID values.",
            "items": {
             "type": "integer"
            },
            "example": [
             1,
             2,
             3
            ]
           },
           "notes": {
            "type": "string",
            "description": "Arbitrary notes about this task.",
            "example": "Some notes"
           },
           "baseline_start": {
            "type": "string",
            "format": "date-time",
            "description": "The baseline start timestamp for this task.",
            "example": "2015-03-08T00:00:00Z"
           },
           "baseline_finish": {
            "type": "string",
            "format": "date-time",
            "description": "The baseline finish timestamp for this task.",
            "example": "2015-03-09T00:00:00Z"
           },
           "start_variance": {
            "type": "number",
            "format": "float",
            "description": "The start variance in days for this task, as calculated by the external system which owns the schedule data.",
            "example": 1.5
           },
           "finish_variance": {
            "type": "number",
            "format": "float",
            "description": "The finish variance in days for this task, as calculated by the external system which owns the schedule data.",
            "example": -2.5
           },
           "manually_edited": {
            "type": "boolean",
            "description": "Set to true if the task has been created or modified in Procore, false\nif the task was imported from an external schedule and has not been\nmodified in Procore.",
            "example": false
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Task",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this task.",
           "example": 1359235
          },
          "name": {
           "type": "string",
           "description": "Task name as the user sees it in Procore. Depending on the project settings this may include the full outline path",
           "example": "INTERIOR"
          },
          "task_name": {
           "type": "string",
           "description": "Task name. This will always contain just the task name, and will not include the full outline path.",
           "example": "INTERIOR"
          },
          "key": {
           "type": "string",
           "description": "A deprecated value which was originally used to uniquely identify tasks.\nThis value will be removed in a later version of the API.",
           "example": "101429|40e65ab5-07a5-4cb3-88c0-bc691c3902e0"
          },
          "start_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Task start timestamp in ISO 8601 UTC format.",
           "example": "2015-03-06T13:00:00Z"
          },
          "finish_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Task finish timestamp in ISO 8601 UTC format.",
           "example": "2015-03-08T22:00:00Z"
          },
          "percentage": {
           "type": "integer",
           "description": "Percent complete value for this task.",
           "example": 80
          },
          "color": {
           "type": "string",
           "description": "The RGB color value, expressed in hex digits for the color used when\ndisplaying the task in Procore. The color varies depending on whether\nthe task is on the critical path, complete, unstarted or in progress.",
           "example": "#6070A0"
          },
          "parent_id": {
           "type": "integer",
           "description": "ID of the parent task.",
           "example": 802241
          },
          "pending": {
           "type": "boolean",
           "description": "True if one or more change requests are pending for this task.",
           "example": false
          },
          "activity_id": {
           "type": "string",
           "description": "The external unique identifier for this task. Note that due to an\noversight in the original API, the value returned for this attribute\nwill be the `source_uid` value supplied when creating a task.",
           "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
          },
          "schedule_activity_id": {
           "type": "string",
           "description": "For tasks imported from external systems which have the concept of\nan \"Activity ID\" (for example Primavera P6), this attribute is\nused to hold the Activity ID value. Note that due to an oversight\nduring the creation of this API, this is the value supplied\nin the `activity_id` attribute. This will be corrected in a later\nversion of the API.",
           "example": "EM12865"
          },
          "resource_name": {
           "type": "string",
           "description": "Names of any resources assigned to this task.",
           "example": "Resource 1, Resource 2, Resource 3"
          },
          "critical_path": {
           "type": "boolean",
           "description": "True if this task is on the critical path.",
           "example": false
          },
          "milestone": {
           "type": "boolean",
           "description": "True if this task is a milestone.",
           "example": false
          },
          "actual_start": {
           "type": "string",
           "format": "date-time",
           "description": "Actual start timestamp for this task in ISO 8601 UTC format.",
           "example": "2015-03-08T00:00:00Z"
          },
          "actual_finish": {
           "type": "string",
           "format": "date-time",
           "description": "Actual finish timestamp for this task in ISO 8601 UTC format.",
           "example": "2015-03-09T00:00:00Z"
          },
          "row_number": {
           "type": "integer",
           "description": "The row number of a task defines the sequence in which tasks are normally\nexpected to be displayed.",
           "example": 2
          },
          "has_children": {
           "type": "boolean",
           "description": "True if this is a summary task, i.e. this task has child tasks.",
           "example": false
          },
          "full_outline_path": {
           "type": "string",
           "description": "Task full outline path",
           "example": "INTERIOR"
          },
          "source_uid": {
           "type": "string",
           "description": "The unique identifier for this task from the external system which\nowns the schedule data.",
           "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
          },
          "wbs": {
           "type": "string",
           "description": "Work Breakdown Structure (WBS) number for this task.",
           "example": "1.1"
          },
          "schedule_duration": {
           "type": "number",
           "format": "float",
           "description": "The duration of this task in days as defined by the external system\nwhich owns the schedule data.",
           "example": 3
          },
          "resource_ids": {
           "type": "array",
           "description": "The resources assigned to this task, represented as an array of\nresource ID values.",
           "items": {
            "type": "integer"
           },
           "example": [
            1,
            2,
            3
           ]
          },
          "notes": {
           "type": "string",
           "description": "Arbitrary notes about this task.",
           "example": "Some notes"
          },
          "baseline_start": {
           "type": "string",
           "format": "date-time",
           "description": "The baseline start timestamp for this task in ISO 8601 UTC format.",
           "example": "2015-03-08T00:00:00Z"
          },
          "baseline_finish": {
           "type": "string",
           "format": "date-time",
           "description": "The baseline finish timestamp for this task in ISO 8601 UTC format.",
           "example": "2015-03-09T00:00:00Z"
          },
          "start_variance": {
           "type": "number",
           "format": "float",
           "description": "The start variance in days for this task.",
           "example": 1.5
          },
          "finish_variance": {
           "type": "number",
           "format": "float",
           "description": "The finish variance in days for this task.",
           "example": -2.5
          },
          "manually_edited": {
           "type": "boolean",
           "description": "Set to true if the task has been created or modified in Procore, false\nif the task was imported from an external schedule and has not been\nmodified in Procore.",
           "example": false
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the Task was created in ISO 8601 UTC format.",
           "example": "2015-03-05T11:00:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the Task was last updated in ISO 8601 UTC format.",
           "example": "2015-03-06T13:00:00Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "updated_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/tasks',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    project_id: 101429,\n    task: {\n      name: 'INTERIOR',\n      start: '2015-03-06T13:00:00Z',\n      finish: '2015-03-08T22:00:00Z',\n      actual_start: '2015-03-08T00:00:00Z',\n      actual_finish: '2015-03-09T00:00:00Z',\n      percentage: 80,\n      critical_path: false,\n      milestone: false,\n      row_number: 2,\n      has_children: false,\n      source_uid: '0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305',\n      parent_id: 802241,\n      full_outline_path: 'INTERIOR',\n      activity_id: 'EM12865',\n      wbs: '1.1',\n      schedule_duration: 3,\n      resource_ids: [1, 2, 3],\n      notes: 'Some notes',\n      baseline_start: '2015-03-08T00:00:00Z',\n      baseline_finish: '2015-03-09T00:00:00Z',\n      start_variance: 1.5,\n      finish_variance: -2.5,\n      manually_edited: false\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":101429,\\\"task\\\":{\\\"name\\\":\\\"INTERIOR\\\",\\\"start\\\":\\\"2015-03-06T13:00:00Z\\\",\\\"finish\\\":\\\"2015-03-08T22:00:00Z\\\",\\\"actual_start\\\":\\\"2015-03-08T00:00:00Z\\\",\\\"actual_finish\\\":\\\"2015-03-09T00:00:00Z\\\",\\\"percentage\\\":80,\\\"critical_path\\\":false,\\\"milestone\\\":false,\\\"row_number\\\":2,\\\"has_children\\\":false,\\\"source_uid\\\":\\\"0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305\\\",\\\"parent_id\\\":802241,\\\"full_outline_path\\\":\\\"INTERIOR\\\",\\\"activity_id\\\":\\\"EM12865\\\",\\\"wbs\\\":\\\"1.1\\\",\\\"schedule_duration\\\":3,\\\"resource_ids\\\":[1,2,3],\\\"notes\\\":\\\"Some notes\\\",\\\"baseline_start\\\":\\\"2015-03-08T00:00:00Z\\\",\\\"baseline_finish\\\":\\\"2015-03-09T00:00:00Z\\\",\\\"start_variance\\\":1.5,\\\"finish_variance\\\":-2.5,\\\"manually_edited\\\":false}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/tasks\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/tasks \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":101429,\"task\":{\"name\":\"INTERIOR\",\"start\":\"2015-03-06T13:00:00Z\",\"finish\":\"2015-03-08T22:00:00Z\",\"actual_start\":\"2015-03-08T00:00:00Z\",\"actual_finish\":\"2015-03-09T00:00:00Z\",\"percentage\":80,\"critical_path\":false,\"milestone\":false,\"row_number\":2,\"has_children\":false,\"source_uid\":\"0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305\",\"parent_id\":802241,\"full_outline_path\":\"INTERIOR\",\"activity_id\":\"EM12865\",\"wbs\":\"1.1\",\"schedule_duration\":3,\"resource_ids\":[1,2,3],\"notes\":\"Some notes\",\"baseline_start\":\"2015-03-08T00:00:00Z\",\"baseline_finish\":\"2015-03-09T00:00:00Z\",\"start_variance\":1.5,\"finish_variance\":-2.5,\"manually_edited\":false}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tasks\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":101429,\\\"task\\\":{\\\"name\\\":\\\"INTERIOR\\\",\\\"start\\\":\\\"2015-03-06T13:00:00Z\\\",\\\"finish\\\":\\\"2015-03-08T22:00:00Z\\\",\\\"actual_start\\\":\\\"2015-03-08T00:00:00Z\\\",\\\"actual_finish\\\":\\\"2015-03-09T00:00:00Z\\\",\\\"percentage\\\":80,\\\"critical_path\\\":false,\\\"milestone\\\":false,\\\"row_number\\\":2,\\\"has_children\\\":false,\\\"source_uid\\\":\\\"0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305\\\",\\\"parent_id\\\":802241,\\\"full_outline_path\\\":\\\"INTERIOR\\\",\\\"activity_id\\\":\\\"EM12865\\\",\\\"wbs\\\":\\\"1.1\\\",\\\"schedule_duration\\\":3,\\\"resource_ids\\\":[1,2,3],\\\"notes\\\":\\\"Some notes\\\",\\\"baseline_start\\\":\\\"2015-03-08T00:00:00Z\\\",\\\"baseline_finish\\\":\\\"2015-03-09T00:00:00Z\\\",\\\"start_variance\\\":1.5,\\\"finish_variance\\\":-2.5,\\\"manually_edited\\\":false}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/tasks/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync tasks",
    "description": "This endpoint creates or updates a batch of tasks.",
    "tags": [
     "Tasks"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id",
         "updates"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "The ID of the Project the Tasks belongs to",
          "example": 101429
         },
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "description": "Task name.",
             "example": "INTERIOR"
            },
            "start": {
             "type": "string",
             "format": "date-time",
             "description": "Task start timestamp.",
             "example": "2015-03-06T13:00:00Z"
            },
            "finish": {
             "type": "string",
             "format": "date-time",
             "description": "Task finish timestamp.",
             "example": "2015-03-08T22:00:00Z"
            },
            "actual_start": {
             "type": "string",
             "format": "date-time",
             "description": "Actual start timestamp for this task.",
             "example": "2015-03-08T00:00:00Z"
            },
            "actual_finish": {
             "type": "string",
             "format": "date-time",
             "description": "Actual finish timestamp for this task.",
             "example": "2015-03-09T00:00:00Z"
            },
            "percentage": {
             "type": "integer",
             "description": "Percent complete value for this task.",
             "example": 80
            },
            "critical_path": {
             "type": "boolean",
             "description": "True if this task is on the critical path.",
             "example": false
            },
            "milestone": {
             "type": "boolean",
             "description": "True if this task is a milestone.",
             "example": false
            },
            "row_number": {
             "type": "integer",
             "description": "The row number of a task defines the sequence in which tasks are normally\nexpected to be displayed.",
             "example": 2
            },
            "has_children": {
             "type": "boolean",
             "description": "Flag set to true if this is a summary task, i.e. this task has child tasks.",
             "example": false
            },
            "source_uid": {
             "type": "string",
             "description": "The unique identifier for this task from the external system which owns the schedule data.",
             "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
            },
            "parent_id": {
             "type": "integer",
             "description": "ID of the parent task.",
             "example": 802241
            },
            "full_outline_path": {
             "type": "string",
             "description": "Task full outline path.",
             "example": "INTERIOR"
            },
            "activity_id": {
             "type": "string",
             "description": "For tasks imported from external systems which have the concept of\nan \"Activity ID\" (for example Primavera P6), this attribute is\nused to hold the Activity ID value. Note that due to an oversight\nduring the creation of this API, the value supplied here will be\nrendered as the `schedule_activity_id` attribute in the response\nbody. This will be corrected in a later version of the API.",
             "example": "EM12865"
            },
            "wbs": {
             "type": "string",
             "description": "Work Breakdown Structure (WBS) number for this task.",
             "example": "1.1"
            },
            "schedule_duration": {
             "type": "number",
             "format": "float",
             "description": "The duration of this task in days as defined by the external system\nwhich owns the schedule data.",
             "example": 3
            },
            "resource_ids": {
             "type": "array",
             "description": "Resources assigned to this task, represented as an array of resource ID values.",
             "items": {
              "type": "integer"
             },
             "example": [
              1,
              2,
              3
             ]
            },
            "notes": {
             "type": "string",
             "description": "Arbitrary notes about this task.",
             "example": "Some notes"
            },
            "baseline_start": {
             "type": "string",
             "format": "date-time",
             "description": "The baseline start timestamp for this task.",
             "example": "2015-03-08T00:00:00Z"
            },
            "baseline_finish": {
             "type": "string",
             "format": "date-time",
             "description": "The baseline finish timestamp for this task.",
             "example": "2015-03-09T00:00:00Z"
            },
            "start_variance": {
             "type": "number",
             "format": "float",
             "description": "The start variance in days for this task, as calculated by the external system which owns the schedule data.",
             "example": 1.5
            },
            "finish_variance": {
             "type": "number",
             "format": "float",
             "description": "The finish variance in days for this task, as calculated by the external system which owns the schedule data.",
             "example": -2.5
            },
            "manually_edited": {
             "type": "boolean",
             "description": "Set to true if the task has been created or modified in Procore, false\nif the task was imported from an external schedule and has not been\nmodified in Procore.",
             "example": false
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Array of tasks",
      "content": {
       "application/json": {
        "schema": {
         "title": "arrayOfTasks",
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "Task",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this task.",
              "example": 1359235
             },
             "name": {
              "type": "string",
              "description": "Task name as the user sees it in Procore. Depending on the project settings this may include the full outline path",
              "example": "INTERIOR"
             },
             "task_name": {
              "type": "string",
              "description": "Task name. This will always contain just the task name, and will not include the full outline path.",
              "example": "INTERIOR"
             },
             "key": {
              "type": "string",
              "description": "A deprecated value which was originally used to uniquely identify tasks.\nThis value will be removed in a later version of the API.",
              "example": "101429|40e65ab5-07a5-4cb3-88c0-bc691c3902e0"
             },
             "start_datetime": {
              "type": "string",
              "format": "date-time",
              "description": "Task start timestamp in ISO 8601 UTC format.",
              "example": "2015-03-06T13:00:00Z"
             },
             "finish_datetime": {
              "type": "string",
              "format": "date-time",
              "description": "Task finish timestamp in ISO 8601 UTC format.",
              "example": "2015-03-08T22:00:00Z"
             },
             "percentage": {
              "type": "integer",
              "description": "Percent complete value for this task.",
              "example": 80
             },
             "color": {
              "type": "string",
              "description": "The RGB color value, expressed in hex digits for the color used when\ndisplaying the task in Procore. The color varies depending on whether\nthe task is on the critical path, complete, unstarted or in progress.",
              "example": "#6070A0"
             },
             "parent_id": {
              "type": "integer",
              "description": "ID of the parent task.",
              "example": 802241
             },
             "pending": {
              "type": "boolean",
              "description": "True if one or more change requests are pending for this task.",
              "example": false
             },
             "activity_id": {
              "type": "string",
              "description": "The external unique identifier for this task. Note that due to an\noversight in the original API, the value returned for this attribute\nwill be the `source_uid` value supplied when creating a task.",
              "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
             },
             "schedule_activity_id": {
              "type": "string",
              "description": "For tasks imported from external systems which have the concept of\nan \"Activity ID\" (for example Primavera P6), this attribute is\nused to hold the Activity ID value. Note that due to an oversight\nduring the creation of this API, this is the value supplied\nin the `activity_id` attribute. This will be corrected in a later\nversion of the API.",
              "example": "EM12865"
             },
             "resource_name": {
              "type": "string",
              "description": "Names of any resources assigned to this task.",
              "example": "Resource 1, Resource 2, Resource 3"
             },
             "critical_path": {
              "type": "boolean",
              "description": "True if this task is on the critical path.",
              "example": false
             },
             "milestone": {
              "type": "boolean",
              "description": "True if this task is a milestone.",
              "example": false
             },
             "actual_start": {
              "type": "string",
              "format": "date-time",
              "description": "Actual start timestamp for this task in ISO 8601 UTC format.",
              "example": "2015-03-08T00:00:00Z"
             },
             "actual_finish": {
              "type": "string",
              "format": "date-time",
              "description": "Actual finish timestamp for this task in ISO 8601 UTC format.",
              "example": "2015-03-09T00:00:00Z"
             },
             "row_number": {
              "type": "integer",
              "description": "The row number of a task defines the sequence in which tasks are normally\nexpected to be displayed.",
              "example": 2
             },
             "has_children": {
              "type": "boolean",
              "description": "True if this is a summary task, i.e. this task has child tasks.",
              "example": false
             },
             "full_outline_path": {
              "type": "string",
              "description": "Task full outline path",
              "example": "INTERIOR"
             },
             "source_uid": {
              "type": "string",
              "description": "The unique identifier for this task from the external system which\nowns the schedule data.",
              "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
             },
             "wbs": {
              "type": "string",
              "description": "Work Breakdown Structure (WBS) number for this task.",
              "example": "1.1"
             },
             "schedule_duration": {
              "type": "number",
              "format": "float",
              "description": "The duration of this task in days as defined by the external system\nwhich owns the schedule data.",
              "example": 3
             },
             "resource_ids": {
              "type": "array",
              "description": "The resources assigned to this task, represented as an array of\nresource ID values.",
              "items": {
               "type": "integer"
              },
              "example": [
               1,
               2,
               3
              ]
             },
             "notes": {
              "type": "string",
              "description": "Arbitrary notes about this task.",
              "example": "Some notes"
             },
             "baseline_start": {
              "type": "string",
              "format": "date-time",
              "description": "The baseline start timestamp for this task in ISO 8601 UTC format.",
              "example": "2015-03-08T00:00:00Z"
             },
             "baseline_finish": {
              "type": "string",
              "format": "date-time",
              "description": "The baseline finish timestamp for this task in ISO 8601 UTC format.",
              "example": "2015-03-09T00:00:00Z"
             },
             "start_variance": {
              "type": "number",
              "format": "float",
              "description": "The start variance in days for this task.",
              "example": 1.5
             },
             "finish_variance": {
              "type": "number",
              "format": "float",
              "description": "The finish variance in days for this task.",
              "example": -2.5
             },
             "manually_edited": {
              "type": "boolean",
              "description": "Set to true if the task has been created or modified in Procore, false\nif the task was imported from an external schedule and has not been\nmodified in Procore.",
              "example": false
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time the Task was created in ISO 8601 UTC format.",
              "example": "2015-03-05T11:00:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time the Task was last updated in ISO 8601 UTC format.",
              "example": "2015-03-06T13:00:00Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "updated_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "type": "object",
              "title": "Task",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for this task.",
                "example": 1359235
               },
               "name": {
                "type": "string",
                "description": "Task name as the user sees it in Procore. Depending on the project settings this may include the full outline path",
                "example": "INTERIOR"
               },
               "task_name": {
                "type": "string",
                "description": "Task name. This will always contain just the task name, and will not include the full outline path.",
                "example": "INTERIOR"
               },
               "key": {
                "type": "string",
                "description": "A deprecated value which was originally used to uniquely identify tasks.\nThis value will be removed in a later version of the API.",
                "example": "101429|40e65ab5-07a5-4cb3-88c0-bc691c3902e0"
               },
               "start_datetime": {
                "type": "string",
                "format": "date-time",
                "description": "Task start timestamp in ISO 8601 UTC format.",
                "example": "2015-03-06T13:00:00Z"
               },
               "finish_datetime": {
                "type": "string",
                "format": "date-time",
                "description": "Task finish timestamp in ISO 8601 UTC format.",
                "example": "2015-03-08T22:00:00Z"
               },
               "percentage": {
                "type": "integer",
                "description": "Percent complete value for this task.",
                "example": 80
               },
               "color": {
                "type": "string",
                "description": "The RGB color value, expressed in hex digits for the color used when\ndisplaying the task in Procore. The color varies depending on whether\nthe task is on the critical path, complete, unstarted or in progress.",
                "example": "#6070A0"
               },
               "parent_id": {
                "type": "integer",
                "description": "ID of the parent task.",
                "example": 802241
               },
               "pending": {
                "type": "boolean",
                "description": "True if one or more change requests are pending for this task.",
                "example": false
               },
               "activity_id": {
                "type": "string",
                "description": "The external unique identifier for this task. Note that due to an\noversight in the original API, the value returned for this attribute\nwill be the `source_uid` value supplied when creating a task.",
                "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
               },
               "schedule_activity_id": {
                "type": "string",
                "description": "For tasks imported from external systems which have the concept of\nan \"Activity ID\" (for example Primavera P6), this attribute is\nused to hold the Activity ID value. Note that due to an oversight\nduring the creation of this API, this is the value supplied\nin the `activity_id` attribute. This will be corrected in a later\nversion of the API.",
                "example": "EM12865"
               },
               "resource_name": {
                "type": "string",
                "description": "Names of any resources assigned to this task.",
                "example": "Resource 1, Resource 2, Resource 3"
               },
               "critical_path": {
                "type": "boolean",
                "description": "True if this task is on the critical path.",
                "example": false
               },
               "milestone": {
                "type": "boolean",
                "description": "True if this task is a milestone.",
                "example": false
               },
               "actual_start": {
                "type": "string",
                "format": "date-time",
                "description": "Actual start timestamp for this task in ISO 8601 UTC format.",
                "example": "2015-03-08T00:00:00Z"
               },
               "actual_finish": {
                "type": "string",
                "format": "date-time",
                "description": "Actual finish timestamp for this task in ISO 8601 UTC format.",
                "example": "2015-03-09T00:00:00Z"
               },
               "row_number": {
                "type": "integer",
                "description": "The row number of a task defines the sequence in which tasks are normally\nexpected to be displayed.",
                "example": 2
               },
               "has_children": {
                "type": "boolean",
                "description": "True if this is a summary task, i.e. this task has child tasks.",
                "example": false
               },
               "full_outline_path": {
                "type": "string",
                "description": "Task full outline path",
                "example": "INTERIOR"
               },
               "source_uid": {
                "type": "string",
                "description": "The unique identifier for this task from the external system which\nowns the schedule data.",
                "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
               },
               "wbs": {
                "type": "string",
                "description": "Work Breakdown Structure (WBS) number for this task.",
                "example": "1.1"
               },
               "schedule_duration": {
                "type": "number",
                "format": "float",
                "description": "The duration of this task in days as defined by the external system\nwhich owns the schedule data.",
                "example": 3
               },
               "resource_ids": {
                "type": "array",
                "description": "The resources assigned to this task, represented as an array of\nresource ID values.",
                "items": {
                 "type": "integer"
                },
                "example": [
                 1,
                 2,
                 3
                ]
               },
               "notes": {
                "type": "string",
                "description": "Arbitrary notes about this task.",
                "example": "Some notes"
               },
               "baseline_start": {
                "type": "string",
                "format": "date-time",
                "description": "The baseline start timestamp for this task in ISO 8601 UTC format.",
                "example": "2015-03-08T00:00:00Z"
               },
               "baseline_finish": {
                "type": "string",
                "format": "date-time",
                "description": "The baseline finish timestamp for this task in ISO 8601 UTC format.",
                "example": "2015-03-09T00:00:00Z"
               },
               "start_variance": {
                "type": "number",
                "format": "float",
                "description": "The start variance in days for this task.",
                "example": 1.5
               },
               "finish_variance": {
                "type": "number",
                "format": "float",
                "description": "The finish variance in days for this task.",
                "example": -2.5
               },
               "manually_edited": {
                "type": "boolean",
                "description": "Set to true if the task has been created or modified in Procore, false\nif the task was imported from an external schedule and has not been\nmodified in Procore.",
                "example": false
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the Task was created in ISO 8601 UTC format.",
                "example": "2015-03-05T11:00:00Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the Task was last updated in ISO 8601 UTC format.",
                "example": "2015-03-06T13:00:00Z"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "updated_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/tasks/sync',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    project_id: 101429,\n    updates: [\n      {\n        name: 'INTERIOR',\n        start: '2015-03-06T13:00:00Z',\n        finish: '2015-03-08T22:00:00Z',\n        actual_start: '2015-03-08T00:00:00Z',\n        actual_finish: '2015-03-09T00:00:00Z',\n        percentage: 80,\n        critical_path: false,\n        milestone: false,\n        row_number: 2,\n        has_children: false,\n        source_uid: '0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305',\n        parent_id: 802241,\n        full_outline_path: 'INTERIOR',\n        activity_id: 'EM12865',\n        wbs: '1.1',\n        schedule_duration: 3,\n        resource_ids: [1, 2, 3],\n        notes: 'Some notes',\n        baseline_start: '2015-03-08T00:00:00Z',\n        baseline_finish: '2015-03-09T00:00:00Z',\n        start_variance: 1.5,\n        finish_variance: -2.5,\n        manually_edited: false\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":101429,\\\"updates\\\":[{\\\"name\\\":\\\"INTERIOR\\\",\\\"start\\\":\\\"2015-03-06T13:00:00Z\\\",\\\"finish\\\":\\\"2015-03-08T22:00:00Z\\\",\\\"actual_start\\\":\\\"2015-03-08T00:00:00Z\\\",\\\"actual_finish\\\":\\\"2015-03-09T00:00:00Z\\\",\\\"percentage\\\":80,\\\"critical_path\\\":false,\\\"milestone\\\":false,\\\"row_number\\\":2,\\\"has_children\\\":false,\\\"source_uid\\\":\\\"0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305\\\",\\\"parent_id\\\":802241,\\\"full_outline_path\\\":\\\"INTERIOR\\\",\\\"activity_id\\\":\\\"EM12865\\\",\\\"wbs\\\":\\\"1.1\\\",\\\"schedule_duration\\\":3,\\\"resource_ids\\\":[1,2,3],\\\"notes\\\":\\\"Some notes\\\",\\\"baseline_start\\\":\\\"2015-03-08T00:00:00Z\\\",\\\"baseline_finish\\\":\\\"2015-03-09T00:00:00Z\\\",\\\"start_variance\\\":1.5,\\\"finish_variance\\\":-2.5,\\\"manually_edited\\\":false}]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/tasks/sync?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/tasks/sync?project_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":101429,\"updates\":[{\"name\":\"INTERIOR\",\"start\":\"2015-03-06T13:00:00Z\",\"finish\":\"2015-03-08T22:00:00Z\",\"actual_start\":\"2015-03-08T00:00:00Z\",\"actual_finish\":\"2015-03-09T00:00:00Z\",\"percentage\":80,\"critical_path\":false,\"milestone\":false,\"row_number\":2,\"has_children\":false,\"source_uid\":\"0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305\",\"parent_id\":802241,\"full_outline_path\":\"INTERIOR\",\"activity_id\":\"EM12865\",\"wbs\":\"1.1\",\"schedule_duration\":3,\"resource_ids\":[1,2,3],\"notes\":\"Some notes\",\"baseline_start\":\"2015-03-08T00:00:00Z\",\"baseline_finish\":\"2015-03-09T00:00:00Z\",\"start_variance\":1.5,\"finish_variance\":-2.5,\"manually_edited\":false}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tasks/sync?project_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":101429,\\\"updates\\\":[{\\\"name\\\":\\\"INTERIOR\\\",\\\"start\\\":\\\"2015-03-06T13:00:00Z\\\",\\\"finish\\\":\\\"2015-03-08T22:00:00Z\\\",\\\"actual_start\\\":\\\"2015-03-08T00:00:00Z\\\",\\\"actual_finish\\\":\\\"2015-03-09T00:00:00Z\\\",\\\"percentage\\\":80,\\\"critical_path\\\":false,\\\"milestone\\\":false,\\\"row_number\\\":2,\\\"has_children\\\":false,\\\"source_uid\\\":\\\"0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305\\\",\\\"parent_id\\\":802241,\\\"full_outline_path\\\":\\\"INTERIOR\\\",\\\"activity_id\\\":\\\"EM12865\\\",\\\"wbs\\\":\\\"1.1\\\",\\\"schedule_duration\\\":3,\\\"resource_ids\\\":[1,2,3],\\\"notes\\\":\\\"Some notes\\\",\\\"baseline_start\\\":\\\"2015-03-08T00:00:00Z\\\",\\\"baseline_finish\\\":\\\"2015-03-09T00:00:00Z\\\",\\\"start_variance\\\":1.5,\\\"finish_variance\\\":-2.5,\\\"manually_edited\\\":false}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/tasks/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the task",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show task",
    "description": "Show detail on the specified Task.",
    "tags": [
     "Tasks"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Task",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this task.",
           "example": 1359235
          },
          "name": {
           "type": "string",
           "description": "Task name as the user sees it in Procore. Depending on the project settings this may include the full outline path",
           "example": "INTERIOR"
          },
          "task_name": {
           "type": "string",
           "description": "Task name. This will always contain just the task name, and will not include the full outline path.",
           "example": "INTERIOR"
          },
          "key": {
           "type": "string",
           "description": "A deprecated value which was originally used to uniquely identify tasks.\nThis value will be removed in a later version of the API.",
           "example": "101429|40e65ab5-07a5-4cb3-88c0-bc691c3902e0"
          },
          "start_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Task start timestamp in ISO 8601 UTC format.",
           "example": "2015-03-06T13:00:00Z"
          },
          "finish_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Task finish timestamp in ISO 8601 UTC format.",
           "example": "2015-03-08T22:00:00Z"
          },
          "percentage": {
           "type": "integer",
           "description": "Percent complete value for this task.",
           "example": 80
          },
          "color": {
           "type": "string",
           "description": "The RGB color value, expressed in hex digits for the color used when\ndisplaying the task in Procore. The color varies depending on whether\nthe task is on the critical path, complete, unstarted or in progress.",
           "example": "#6070A0"
          },
          "parent_id": {
           "type": "integer",
           "description": "ID of the parent task.",
           "example": 802241
          },
          "pending": {
           "type": "boolean",
           "description": "True if one or more change requests are pending for this task.",
           "example": false
          },
          "activity_id": {
           "type": "string",
           "description": "The external unique identifier for this task. Note that due to an\noversight in the original API, the value returned for this attribute\nwill be the `source_uid` value supplied when creating a task.",
           "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
          },
          "schedule_activity_id": {
           "type": "string",
           "description": "For tasks imported from external systems which have the concept of\nan \"Activity ID\" (for example Primavera P6), this attribute is\nused to hold the Activity ID value. Note that due to an oversight\nduring the creation of this API, this is the value supplied\nin the `activity_id` attribute. This will be corrected in a later\nversion of the API.",
           "example": "EM12865"
          },
          "resource_name": {
           "type": "string",
           "description": "Names of any resources assigned to this task.",
           "example": "Resource 1, Resource 2, Resource 3"
          },
          "critical_path": {
           "type": "boolean",
           "description": "True if this task is on the critical path.",
           "example": false
          },
          "milestone": {
           "type": "boolean",
           "description": "True if this task is a milestone.",
           "example": false
          },
          "actual_start": {
           "type": "string",
           "format": "date-time",
           "description": "Actual start timestamp for this task in ISO 8601 UTC format.",
           "example": "2015-03-08T00:00:00Z"
          },
          "actual_finish": {
           "type": "string",
           "format": "date-time",
           "description": "Actual finish timestamp for this task in ISO 8601 UTC format.",
           "example": "2015-03-09T00:00:00Z"
          },
          "row_number": {
           "type": "integer",
           "description": "The row number of a task defines the sequence in which tasks are normally\nexpected to be displayed.",
           "example": 2
          },
          "has_children": {
           "type": "boolean",
           "description": "True if this is a summary task, i.e. this task has child tasks.",
           "example": false
          },
          "full_outline_path": {
           "type": "string",
           "description": "Task full outline path",
           "example": "INTERIOR"
          },
          "source_uid": {
           "type": "string",
           "description": "The unique identifier for this task from the external system which\nowns the schedule data.",
           "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
          },
          "wbs": {
           "type": "string",
           "description": "Work Breakdown Structure (WBS) number for this task.",
           "example": "1.1"
          },
          "schedule_duration": {
           "type": "number",
           "format": "float",
           "description": "The duration of this task in days as defined by the external system\nwhich owns the schedule data.",
           "example": 3
          },
          "resource_ids": {
           "type": "array",
           "description": "The resources assigned to this task, represented as an array of\nresource ID values.",
           "items": {
            "type": "integer"
           },
           "example": [
            1,
            2,
            3
           ]
          },
          "notes": {
           "type": "string",
           "description": "Arbitrary notes about this task.",
           "example": "Some notes"
          },
          "baseline_start": {
           "type": "string",
           "format": "date-time",
           "description": "The baseline start timestamp for this task in ISO 8601 UTC format.",
           "example": "2015-03-08T00:00:00Z"
          },
          "baseline_finish": {
           "type": "string",
           "format": "date-time",
           "description": "The baseline finish timestamp for this task in ISO 8601 UTC format.",
           "example": "2015-03-09T00:00:00Z"
          },
          "start_variance": {
           "type": "number",
           "format": "float",
           "description": "The start variance in days for this task.",
           "example": 1.5
          },
          "finish_variance": {
           "type": "number",
           "format": "float",
           "description": "The finish variance in days for this task.",
           "example": -2.5
          },
          "manually_edited": {
           "type": "boolean",
           "description": "Set to true if the task has been created or modified in Procore, false\nif the task was imported from an external schedule and has not been\nmodified in Procore.",
           "example": false
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the Task was created in ISO 8601 UTC format.",
           "example": "2015-03-05T11:00:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the Task was last updated in ISO 8601 UTC format.",
           "example": "2015-03-06T13:00:00Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "updated_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/tasks/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/tasks/%7Bid%7D?project_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/tasks/%7Bid%7D?project_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tasks/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update task",
    "description": "Update the specified Task.",
    "tags": [
     "Tasks"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "task"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "ID of the project this task belongs to.",
          "example": 101429
         },
         "task": {
          "title": "Task",
          "type": "object",
          "description": "Task object.",
          "properties": {
           "name": {
            "type": "string",
            "description": "Task name.",
            "example": "INTERIOR"
           },
           "start": {
            "type": "string",
            "format": "date-time",
            "description": "Task start timestamp.",
            "example": "2015-03-06T13:00:00Z"
           },
           "finish": {
            "type": "string",
            "format": "date-time",
            "description": "Task finish timestamp.",
            "example": "2015-03-08T22:00:00Z"
           },
           "actual_start": {
            "type": "string",
            "format": "date-time",
            "description": "Actual start timestamp for this task.",
            "example": "2015-03-08T00:00:00Z"
           },
           "actual_finish": {
            "type": "string",
            "format": "date-time",
            "description": "Actual finish timestamp for this task.",
            "example": "2015-03-09T00:00:00Z"
           },
           "percentage": {
            "type": "integer",
            "description": "Percent complete value for this task.",
            "example": 80
           },
           "critical_path": {
            "type": "boolean",
            "description": "True if this task is on the critical path.",
            "example": false
           },
           "milestone": {
            "type": "boolean",
            "description": "True if this task is a milestone.",
            "example": false
           },
           "row_number": {
            "type": "integer",
            "description": "The row number of a task defines the sequence in which tasks are normally\nexpected to be displayed.",
            "example": 2
           },
           "has_children": {
            "type": "boolean",
            "description": "Flag set to true if this is a summary task, i.e. this task has child tasks.",
            "example": false
           },
           "source_uid": {
            "type": "string",
            "description": "The unique identifier for this task from the external system which owns the schedule data.",
            "example": "0687b2f6-dc92-40c7-a8c8-a3c1f3ac9305"
           },
           "parent_id": {
            "type": "integer",
            "description": "ID of the parent task.",
            "example": 802241
           },
           "full_outline_path": {
            "type": "string",
            "description": "Task full outline path.",
            "example": "INTERIOR"
           },
           "activity_id": {
            "type": "string",
            "description": "For tasks imported from external systems which have the concept of\nan \"Activity ID\" (for example Primavera P6), this attribute is\nused to hold the Activity ID value. Note that due to an oversight\nduring the creation of this API, the value supplied here will be\nrendered as the `schedule_activity_id` attribute in the response\nbody. This will be corrected in a later version of the API.",
            "example": "EM12865"
           },
           "wbs": {
            "type": "string",
            "description": "Work Breakdown Structure (WBS) number for this task.",
            "example": "1.1"
           },
           "schedule_duration": {
            "type": "number",
            "format": "float",
            "description": "The duration of this task in days as defined by the external system\nwhich owns the schedule data.",
            "example": 3
           },
           "resource_ids": {
            "type": "array",
            "description": "Resources assigned to this task, represented as an array of resource ID values.",
            "items": {
             "type": "integer"
            },
            "example": [
             1,
             2,
             3
            ]
           },
           "notes": {
            "type": "string",
            "description": "Arbitrary notes about this task.",
            "example": "Some notes"
           },
           "baseline_start": {
            "type": "string",
            "format": "date-time",
            "description": "The baseline start timestamp for this task.",
            "example": "2015-03-08T00:00:00Z"
           },
           "baseline_finish": {
            "type": "string",
            "format": "date-time",
            "description": "The baseline finish timestamp for this task.",
            "example": "2015-03-09T00:00:00Z"
           },
           "start_variance": {
            "type": "number",
            "format": "float",
            "description": "The start variance in days for this task, as calculated by the external system which owns the schedule data.",
            "example": 1.5
           },
           "finish_variance": {
            "type": "number",
            "format": "float",
            "description": "The finish variance in days for this task, as calculated by the external system which owns the schedule data.",
            "example": -2.5
           },
           "manually_edited": {
            "type": "boolean",
            "description": "Set to true if the task has been created or modified in Procore, false\nif the task was imported from an external schedule and has not been\nmodified in Procore.",
            "example": false
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Task",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this task.",
           "example": 1359235
          },
          "name": {
           "type": "string",
           "description": "Task name as the user sees it in Procore. Depending on the project settings this may include the full outline path",
           "example": "INTERIOR"
          },
          "task_name": {
           "type": "string",
           "description": "Task name. This will always contain just the task name, and will not include the full outline path.",
           "example": "INTERIOR"
          },
          "key": {
           "type": "string",
           "description": "A deprecated value which was originally used to uniquely identify tasks.\nThis value will be removed in a later version of the API.",
           "example": "101429|40e65ab5-07a5-4cb3-88c0-bc691c3902e0"
          },
          "start_datetime": {
           "type": "string",
           "format": "date-time",
[...]
