{
 "openapi": "3.0.0",
 "info": {
  "title": "Task Item Comments",
  "x-product-category": "Core",
  "x-tool-category": "Tasks",
  "x-resource-name": "Task Item Comments",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/task_item_comments": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Task Item Comments",
    "description": "Returns a list of comments associated with the project. Can be filtered by task_item_id and/or created_by_id.",
    "tags": [
     "Task Items",
     "Task Item Comments"
    ],
    "parameters": [
     {
      "name": "filters[task_item_id]",
      "in": "query",
      "description": "Filter by task_item_id to return comments for only that task_item",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Serialization view for each comment. Defaults to **`normal`** when omitted.\n\n- **`compact`** \u2014 core fields including `task_item_id` (no nested `created_by` / attachments metadata).\n- **`normal`** \u2014 includes `created_by` and attachments (default).\n- **`extended`** \u2014 includes nested `task_item` (compact); omits `task_item_id`.\n",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "compact",
           "description": "When `view=compact`",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Compact view \u2014 core fields without nested associations",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique ID of the comment"
             },
             "comment": {
              "type": "string",
              "description": "The message of the comment"
             },
             "status": {
              "type": "string",
              "description": "The status of the task item at the time this comment was created or updated",
              "enum": [
               "initiated",
               "in_progress",
               "ready_for_review",
               "closed",
               "void"
              ]
             },
             "task_item_id": {
              "type": "integer",
              "description": "The task item id associated with the comment"
             },
             "created_by_id": {
              "type": "integer",
              "description": "Login ID of the user who created the comment"
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time"
             }
            }
           }
          },
          {
           "title": "normal",
           "description": "When `view=normal` or omitted",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Normal view of task item comment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique ID of the comment",
              "example": 6732
             },
             "comment": {
              "type": "string",
              "description": "The actual message of the comment",
              "example": "This comment just needs signoff"
             },
             "status": {
              "type": "string",
              "description": "The status of the task item at the time this comment was created",
              "example": "in_progress",
              "enum": [
               "initiated",
               "in_progress",
               "ready_for_review",
               "closed",
               "void"
              ]
             },
             "attachments": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the login information.",
                "example": 513
               },
               "name": {
                "type": "string",
                "description": "The name that is associated with the login information.",
                "example": "Jane Doe"
               },
               "login": {
                "type": "string",
                "description": "The email address that is associated with the login information.",
                "example": "test.user@example.com"
               }
              }
             },
             "task_item_id": {
              "type": "integer",
              "description": "The task item id associated with the comment",
              "example": 626
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "The UTC datetime for the creation of the resource in ISO 8601 format.",
              "example": "2019-09-14T16:20:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "The UTC datetime for the last update of the resource in ISO 8601 format.",
              "example": "2019-09-14T16:20:00Z"
             }
            }
           }
          },
          {
           "title": "extended",
           "description": "When `view=extended`",
           "type": "array",
           "items": {
            "type": "object",
            "description": "Extended view \u2014 includes `task_item` (compact) and omits `task_item_id` in favor of the nested task item.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique ID of the comment"
             },
             "comment": {
              "type": "string"
             },
             "status": {
              "type": "string",
              "enum": [
               "initiated",
               "in_progress",
               "ready_for_review",
               "closed",
               "void"
              ]
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer"
               },
               "name": {
                "type": "string"
               },
               "login": {
                "type": "string"
               }
              }
             },
             "attachments": {
              "type": "object",
              "description": "Attachment metadata (shape matches normal view)"
             },
             "task_item": {
              "type": "object",
              "description": "Compact serialization view",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Task item ID"
               },
               "title": {
                "type": "string",
                "description": "Title"
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "User does not have the required permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments',\n  qs: {\n    'filters[task_item_id]': 'SOME_INTEGER_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments?filters%5Btask_item_id%5D=SOME_INTEGER_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments?filters%5Btask_item_id%5D=SOME_INTEGER_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments?filters%5Btask_item_id%5D=SOME_INTEGER_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 endpoint",
      "description": "Added Rest v1.0 endpoint",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/task_item_comments",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-01-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-item-comments?version=1.0#list-task-item-comments"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a task item comment",
    "description": "Create a new task item comment for a given task_item_id and created_by_id",
    "tags": [
     "Task Items",
     "Task Item Comments"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "task_item_comment": {
          "type": "object",
          "required": [
           "task_item_id"
          ],
          "properties": {
           "comment": {
            "type": "string",
            "description": "The message of the comment",
            "example": "Clean up area 4"
           },
           "status": {
            "type": "string",
            "description": "The status of the task item at the time the comment is created.\nStandard users who are assigned to the task item cannot change the status to closed or void.",
            "example": "in_progress",
            "enum": [
             "initiated",
             "in_progress",
             "ready_for_review",
             "closed",
             "void"
            ]
           },
           "task_item_id": {
            "type": "integer",
            "description": "The task_item associated with the comment",
            "example": 731
           },
           "attachments": {
            "type": "array",
            "description": "Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Serialization view for the created comment (default **normal**).",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "compact",
           "description": "When `view=compact`",
           "allOf": [
            {
             "type": "object",
             "description": "Compact view \u2014 core fields without nested associations",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique ID of the comment"
              },
              "comment": {
               "type": "string",
               "description": "The message of the comment"
              },
              "status": {
               "type": "string",
               "description": "The status of the task item at the time this comment was created or updated",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "task_item_id": {
               "type": "integer",
               "description": "The task item id associated with the comment"
              },
              "created_by_id": {
               "type": "integer",
               "description": "Login ID of the user who created the comment"
              },
              "created_at": {
               "type": "string",
               "format": "date-time"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time"
              }
             }
            }
           ]
          },
          {
           "title": "normal",
           "description": "When `view=normal` or omitted",
           "allOf": [
            {
             "type": "object",
             "description": "Normal view of task item comment",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique ID of the comment",
               "example": 6732
              },
              "comment": {
               "type": "string",
               "description": "The actual message of the comment",
               "example": "This comment just needs signoff"
              },
              "status": {
               "type": "string",
               "description": "The status of the task item at the time this comment was created",
               "example": "in_progress",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "attachments": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 5324
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                }
               }
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the login information.",
                 "example": 513
                },
                "name": {
                 "type": "string",
                 "description": "The name that is associated with the login information.",
                 "example": "Jane Doe"
                },
                "login": {
                 "type": "string",
                 "description": "The email address that is associated with the login information.",
                 "example": "test.user@example.com"
                }
               }
              },
              "task_item_id": {
               "type": "integer",
               "description": "The task item id associated with the comment",
               "example": 626
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "The UTC datetime for the creation of the resource in ISO 8601 format.",
               "example": "2019-09-14T16:20:00Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "The UTC datetime for the last update of the resource in ISO 8601 format.",
               "example": "2019-09-14T16:20:00Z"
              }
             }
            }
           ]
          },
          {
           "title": "extended",
           "description": "When `view=extended`",
           "allOf": [
            {
             "type": "object",
             "description": "Extended view \u2014 includes `task_item` (compact) and omits `task_item_id` in favor of the nested task item.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique ID of the comment"
              },
              "comment": {
               "type": "string"
              },
              "status": {
               "type": "string",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "created_at": {
               "type": "string",
               "format": "date-time"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string"
                },
                "login": {
                 "type": "string"
                }
               }
              },
              "attachments": {
               "type": "object",
               "description": "Attachment metadata (shape matches normal view)"
              },
              "task_item": {
               "type": "object",
               "description": "Compact serialization view",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Task item ID"
                },
                "title": {
                 "type": "string",
                 "description": "Title"
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "User does not have the required permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Invalid input",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    task_item_comment: {\n      comment: 'Clean up area 4',\n      status: 'in_progress',\n      task_item_id: 731,\n      attachments: ['string'],\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"task_item_comment\\\":{\\\"comment\\\":\\\"Clean up area 4\\\",\\\"status\\\":\\\"in_progress\\\",\\\"task_item_id\\\":731,\\\"attachments\\\":[\\\"string\\\"],\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments?view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"task_item_comment\":{\"comment\":\"Clean up area 4\",\"status\":\"in_progress\",\"task_item_id\":731,\"attachments\":[\"string\"],\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments?view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"task_item_comment\\\":{\\\"comment\\\":\\\"Clean up area 4\\\",\\\"status\\\":\\\"in_progress\\\",\\\"task_item_id\\\":731,\\\"attachments\\\":[\\\"string\\\"],\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Attachments by Reference to Task Item Comment.",
      "description": "Add attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/task_item_comments",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-10-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-item-comments?version=1.0#create-a-task-item-comment"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/task_item_comments/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Task Item Comment ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a task item comment",
    "description": "Updates the task item comment with ID supplied in path. Returns the updated comment.",
    "tags": [
     "Task Items",
     "Task Item Comments"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Serialization view for the updated comment (default **normal**).",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "task_item_comment": {
          "type": "object",
          "properties": {
           "comment": {
            "type": "string",
            "description": "The message of the comment",
            "example": "Clean up area 4"
           },
           "status": {
            "type": "string",
            "description": "The status of the task item at the time of the comment.\nStandard users who are assigned to a task item cannot change the status to closed or void.",
            "example": "in_progress",
            "enum": [
             "initiated",
             "in_progress",
             "ready_for_review",
             "closed",
             "void"
            ]
           },
           "attachments": {
            "type": "array",
            "description": "Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "compact",
           "description": "When `view=compact`",
           "allOf": [
            {
             "type": "object",
             "description": "Compact view \u2014 core fields without nested associations",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique ID of the comment"
              },
              "comment": {
               "type": "string",
               "description": "The message of the comment"
              },
              "status": {
               "type": "string",
               "description": "The status of the task item at the time this comment was created or updated",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "task_item_id": {
               "type": "integer",
               "description": "The task item id associated with the comment"
              },
              "created_by_id": {
               "type": "integer",
               "description": "Login ID of the user who created the comment"
              },
              "created_at": {
               "type": "string",
               "format": "date-time"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time"
              }
             }
            }
           ]
          },
          {
           "title": "normal",
           "description": "When `view=normal` or omitted",
           "allOf": [
            {
             "type": "object",
             "description": "Normal view of task item comment",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique ID of the comment",
               "example": 6732
              },
              "comment": {
               "type": "string",
               "description": "The actual message of the comment",
               "example": "This comment just needs signoff"
              },
              "status": {
               "type": "string",
               "description": "The status of the task item at the time this comment was created",
               "example": "in_progress",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "attachments": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 5324
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                }
               }
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the login information.",
                 "example": 513
                },
                "name": {
                 "type": "string",
                 "description": "The name that is associated with the login information.",
                 "example": "Jane Doe"
                },
                "login": {
                 "type": "string",
                 "description": "The email address that is associated with the login information.",
                 "example": "test.user@example.com"
                }
               }
              },
              "task_item_id": {
               "type": "integer",
               "description": "The task item id associated with the comment",
               "example": 626
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "The UTC datetime for the creation of the resource in ISO 8601 format.",
               "example": "2019-09-14T16:20:00Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "The UTC datetime for the last update of the resource in ISO 8601 format.",
               "example": "2019-09-14T16:20:00Z"
              }
             }
            }
           ]
          },
          {
           "title": "extended",
           "description": "When `view=extended`",
           "allOf": [
            {
             "type": "object",
             "description": "Extended view \u2014 includes `task_item` (compact) and omits `task_item_id` in favor of the nested task item.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique ID of the comment"
              },
              "comment": {
               "type": "string"
              },
              "status": {
               "type": "string",
               "enum": [
                "initiated",
                "in_progress",
                "ready_for_review",
                "closed",
                "void"
               ]
              },
              "created_at": {
               "type": "string",
               "format": "date-time"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string"
                },
                "login": {
                 "type": "string"
                }
               }
              },
              "attachments": {
               "type": "object",
               "description": "Attachment metadata (shape matches normal view)"
              },
              "task_item": {
               "type": "object",
               "description": "Compact serialization view",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Task item ID"
                },
                "title": {
                 "type": "string",
                 "description": "Title"
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    task_item_comment: {\n      comment: 'Clean up area 4',\n      status: 'in_progress',\n      attachments: ['string'],\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"task_item_comment\\\":{\\\"comment\\\":\\\"Clean up area 4\\\",\\\"status\\\":\\\"in_progress\\\",\\\"attachments\\\":[\\\"string\\\"],\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments/%7Bid%7D?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments/%7Bid%7D?view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"task_item_comment\":{\"comment\":\"Clean up area 4\",\"status\":\"in_progress\",\"attachments\":[\"string\"],\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments/%7Bid%7D?view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"task_item_comment\\\":{\\\"comment\\\":\\\"Clean up area 4\\\",\\\"status\\\":\\\"in_progress\\\",\\\"attachments\\\":[\\\"string\\\"],\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update Task Item Comment Attachments by Reference",
      "description": "Update the UPDATE request so attachments by image, drawing revision, file version, form, and direct upload ids are additive.\n  - Will not replace existing attachments",
      "endpoint": "PATCH /companies/{company_id}/projects/{project_id}/task_item_comments/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-10-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "task-item-comments?version=1.0#update-a-task-item-comment"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete a task item comment",
    "description": "Deletes the task item comment with ID supplied in path. Returns **200 OK** with an empty body on success.",
    "tags": [
     "Task Items",
     "Task Item Comments"
    ],
    "responses": {
     "200": {
      "description": "OK \u2014 empty response body"
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/task_item_comments/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}