{
 "openapi": "3.0.0",
 "info": {
  "title": "Task Codes",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Task Codes (Field Productivity)",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/task_codes": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List Project WBS Task codes",
    "description": "All Work Breakdown Structure task codes for a given project, sorted by flat code. NOTE, this endpoint is currently in the experimental stage and is subject to change.",
    "tags": [
     "WBS Task Codes"
    ],
    "parameters": [
     {
      "name": "type",
      "in": "query",
      "required": false,
      "description": "Type of task codes to return",
      "schema": {
       "type": "string",
       "enum": [
        "labor (default)",
        "equipment",
        "all (returns both labor and equipment task codes in a single request)"
       ]
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "serializer_view",
      "in": "query",
      "description": "Controls which Task Code blueprint is used to serialize the data. This defaults to `task_code_entity`, but `id_only` is also valid. Errors may be generated if requesting a serializer view that is not compatible with WbsCodeWithLegacy entities.  serializer_view takes precedence over view.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Controls which Task Code blueprint is used to serialize the data. This defaults to `task_code_entity`, but `id_only` is also valid. Errors may be generated if requesting a serializer view that is not compatible with WbsCodeWithLegacy entities.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters",
      "in": "query",
      "required": false,
      "description": "Filters for wbs task codes",
      "schema": {
       "type": "object",
       "properties": {
        "id": {
         "description": "filter by Wbs Task Code IDs",
         "type": "array",
         "items": {
          "type": "integer"
         }
        },
        "updated_at": {
         "type": "string",
         "description": "filter by updated_at",
         "example": "2012-10-24T21:39:40Z"
        },
        "budgeted": {
         "type": "boolean",
         "description": "filter to show only task_codes whose cost_code['budgeted'] field matches"
        }
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of task codes",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "description": "primary key",
            "type": "integer",
            "example": 1234
           },
           "budgeted": {
            "description": "whether the task code is budgeted or not",
            "type": "boolean",
            "example": true
           },
           "cost_code": {
            "description": "associated cost code",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Primary key of the cost code",
              "example": 1234
             },
             "biller": {
              "type": "string",
              "description": "Biller",
              "example": "Campus"
             },
             "biller_id": {
              "type": "string",
              "description": "Biller ID",
              "example": "12345",
              "nullable": true
             },
             "biller_type": {
              "type": "string",
              "enum": [
               "Project",
               "SubJob",
               ""
              ],
              "description": "Biller type",
              "example": "Project"
             },
             "biller_origin_id": {
              "type": "string",
              "description": "Biller Origin Id",
              "example": "98765",
              "nullable": true
             },
             "budgeted": {
              "type": "boolean",
              "description": "Budgeted",
              "example": false
             },
             "code": {
              "type": "string",
              "description": "Cost code, not including parent prefix",
              "example": "300",
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at",
              "example": "2018-06-11T15:56:25Z",
              "nullable": true
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Deleted at",
              "example": "2018-06-11T15:56:25Z",
              "nullable": true
             },
             "full_code": {
              "type": "string",
              "description": "Full Cost code, including parent prefixes",
              "example": "02-300"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Earthwork"
             },
             "origin_data": {
              "type": "string",
              "description": "Cost Code third party data",
              "example": "OD-129947",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "description": "Cost Code third party id",
              "example": "9874484",
              "nullable": true
             },
             "parent": {
              "type": "object",
              "description": "Parent",
              "properties": {
               "id": {
                "type": "string",
                "description": "Parent ID",
                "example": "2345",
                "nullable": true
               }
              }
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1,
              "nullable": true
             },
             "sortable_code": {
              "type": "string",
              "description": "Sortable code (this property is deprecated - see full_code)",
              "example": "02-300"
             },
             "standard_cost_code_id": {
              "type": "string",
              "description": "Standard Cost Code ID",
              "example": "122334",
              "nullable": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated at",
              "example": "2015-05-15T00:00:00Z",
              "nullable": true
             },
             "line_item_types": {
              "type": "array",
              "description": "Line Item Types",
              "items": {
               "type": "object",
               "title": "LineItemType",
               "description": "Line Item Type",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Unique identifier for the Line Item Type",
                 "example": "12345"
                },
                "name": {
                 "type": "string",
                 "description": "Name for the Line Item Type",
                 "example": "Equipment"
                },
                "code": {
                 "type": "string",
                 "description": "Code for the Line Item Type",
                 "example": "LB"
                },
                "base_type": {
                 "type": "string",
                 "enum": [
                  "equipment",
                  "materials",
                  "commitment",
                  "owner_cost",
                  "professional_services",
                  "other"
                 ],
                 "description": "Base type",
                 "example": "materials"
                },
                "origin_data": {
                 "type": "string",
                 "description": "Origin data",
                 "example": "OD-2398273424"
                },
                "origin_id": {
                 "type": "string",
                 "description": "Origin ID",
                 "example": "ABC123",
                 "nullable": true
                }
               }
              }
             }
            }
           },
           "description": {
            "description": "description of task code",
            "type": "string",
            "example": "remove brush from jobsite"
           },
           "flat_code": {
            "description": "flat code for task code",
            "type": "string",
            "example": "02-411"
           },
           "flat_name": {
            "description": "flat name of task code",
            "type": "string",
            "example": "Brush Removal"
           },
           "production_quantity_code_id": {
            "description": "primary key of associated production quantity wbs code",
            "type": "integer",
            "example": 1235
           },
           "segment_items": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 456
              },
              "code": {
               "type": "string",
               "description": "Code",
               "example": "01-222"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Lighting"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2016-06-30T20:41:58Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2016-08-30T18:11:43Z"
              },
              "parent_id": {
               "type": "integer",
               "nullable": true,
               "description": "Parent ID",
               "example": 123
              },
              "path_ids": {
               "type": "array",
               "description": "Path variable IDs",
               "items": {
                "type": "integer"
               },
               "example": [
                123,
                456
               ]
              },
              "path_code": {
               "type": "string",
               "description": "Path Variable Code",
               "example": "a"
              },
              "is_parent": {
               "type": "boolean",
               "example": false
              },
              "path_codes": {
               "type": "array",
               "description": "Path variable codes",
               "items": {
                "type": "string"
               },
               "example": [
                "01 - Requirements",
                "01-222 - Lighting"
               ]
              },
              "path_names": {
               "type": "array",
               "description": "Path variable names",
               "items": {
                "type": "string"
               },
               "example": [
                "01 - Requirements",
                "01-222 - Lighting"
               ]
              },
              "in_use": {
               "type": "boolean",
               "description": "Whether or not this item is tagged on an entity",
               "example": true
              },
              "segment": {
               "type": "object",
               "description": "Segment attributes",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 3
                },
                "name": {
                 "type": "string",
                 "example": "Cost Code"
                },
                "type": {
                 "type": "string",
                 "example": "cost_code"
                },
                "position": {
                 "type": "integer",
                 "example": 1
                },
                "delimiter": {
                 "type": "string",
                 "example": "."
                },
                "required": {
                 "type": "boolean",
                 "example": true
                },
                "segment_items_count": {
                 "type": "integer",
                 "example": 2
                },
                "project_can_modify_origin_project": {
                 "type": "boolean",
                 "example": true
                },
                "project_can_delete_origin_company": {
                 "type": "boolean",
                 "example": true
                },
                "structure": {
                 "type": "string",
                 "enum": [
                  "tiered",
                  "flat"
                 ],
                 "example": "tiered"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2016-06-30T20:41:58Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2016-08-30T18:11:43Z"
                },
                "wbs_pattern_id": {
                 "type": "integer",
                 "description": "ID of the associated WBS Pattern",
                 "example": 4567
                }
               },
               "example": {
                "id": 3,
                "name": "Cost Code",
                "type": "cost_code",
                "position": 1,
                "delimiter": ".",
                "required": true,
                "segment_items_count": 2,
                "project_can_modify_origin_project": true,
                "project_can_delete_origin_company": true,
                "structure": "tiered",
                "created_at": "2016-06-30T20:41:58Z",
                "updated_at": "2016-08-30T18:11:43Z",
                "wbs_pattern_id": 4567
               }
              },
              "status": {
               "type": "string",
               "description": "Segment item status",
               "example": "active"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/task_codes',\n  qs: {\n    type: 'SOME_STRING_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    serializer_view: 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE',\n    filters: 'SOME_OBJECT_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/task_codes?type=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&serializer_view=SOME_STRING_VALUE&view=SOME_STRING_VALUE&filters=SOME_OBJECT_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/task_codes?type=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&serializer_view=SOME_STRING_VALUE&view=SOME_STRING_VALUE&filters=SOME_OBJECT_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/task_codes?type=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&serializer_view=SOME_STRING_VALUE&view=SOME_STRING_VALUE&filters=SOME_OBJECT_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Changed type filtering parameters",
      "description": "Deprecated equipment_only parameter in favor of type=equipment or type=all",
      "endpoint": "GET /projects/{project_id}/task_codes",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-05-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "task-codes-field-productivity?version=1.0#list-project-wbs-task-codes"
     },
     {
      "summary": "Added Task Codes index endpoint",
      "description": "Changed the URL from /projects/{project_id}/work_breakdown_structure/task_codes to /rest/v1.0/projects/{project_id}/task_codes",
      "endpoint": "GET /projects/{project_id}/task_codes",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-11-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "task-codes-field-productivity?version=1.0#list-project-wbs-task-codes"
     },
     {
      "summary": "Task codes are now sorted by flat code",
      "description": "Task codes are now sorted according to their flat code.",
      "endpoint": "GET /projects/{project_id}/task_codes",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-06-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "task-codes-field-productivity?version=1.0#list-project-wbs-task-codes"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}