{
 "openapi": "3.0.0",
 "info": {
  "title": "Tax Codes",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Tax",
  "x-resource-name": "Tax Codes",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/tax_codes": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "query",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Tax Codes",
    "description": "Return a list of all Tax Codes for a given Company\n\nWhen tax suport is enabled in Procore you can associate line items\nwith a specific Tax Code. The Tax Code (sometimes known as a Tax Group)\ndetermines the tax rate to be applied to the line item for each Tax Type\ndefined in Procore (Note that presently Procore only supports a single\nTax Type per company).\n\nYou may define as many Tax Codes as required. Through the web interface, a\nProcore admin user may identify one of these tax codes as the default\nvalue to be shown when creating new line items.",
    "tags": [
     "Tax"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Expect number of items in response. min: 1, max: 100",
      "required": false,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "The ID of the Tax Code",
            "example": 123
           },
           "code": {
            "type": "string",
            "description": "The Tax Code",
            "example": "GST@10%"
           },
           "description": {
            "type": "string",
            "description": "Description of the Tax Code",
            "example": "Goods and Services Tax"
           },
           "origin_data": {
            "type": "string",
            "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
            "example": "{ parent_ids: [1,2] }"
           },
           "origin_id": {
            "type": "string",
            "description": "The Third-party ID of the Tax Code",
            "example": "1VT-33778-013"
           },
           "rate1": {
            "type": "number",
            "format": "float",
            "description": "Rate to apply for first Tax Type",
            "example": 10
           },
           "archived": {
            "type": "boolean",
            "description": "Set to true if this tax code has been archived",
            "example": false
           },
           "default_tax_code": {
            "type": "boolean",
            "description": "Set to true if this tax code is default tax code",
            "example": false
           },
           "display_in_budget": {
            "type": "boolean",
            "description": "Whether this tax code should be displayed in budget views. Defaults to false.",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/tax_codes',\n  qs: {\n    company_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/tax_codes?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/tax_codes?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_codes?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Return default_tax_code value for the tax codes",
      "description": "Return default_tax_code value for the tax codes",
      "endpoint": "GET /tax_codes",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tax-codes?version=1.0#list-tax-codes"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Tax Code",
    "description": "Creates a Tax Code for a given Company",
    "tags": [
     "Tax"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "tax_code"
        ],
        "properties": {
         "tax_code": {
          "type": "object",
          "required": [
           "code"
          ],
          "properties": {
           "code": {
            "type": "string",
            "description": "The Tax Code",
            "example": "GST@10%"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Tax Code",
            "example": "Goods and Services Tax"
           },
           "origin_data": {
            "type": "string",
            "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
            "example": "{ parent_ids: [1,2] }"
           },
           "origin_id": {
            "type": "string",
            "description": "The Third-party ID of the Tax Code",
            "example": "1VT-33778-013"
           },
           "rate1": {
            "type": "number",
            "format": "float",
            "description": "Rate to apply for first Tax Type",
            "example": 10
           },
           "archived": {
            "type": "boolean",
            "description": "Set to true if this tax code has been archived",
            "example": false
           },
           "default_tax_code": {
            "type": "boolean",
            "description": "Set to true if this tax code is default tax code",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "The ID of the Tax Code",
           "example": 123
          },
          "code": {
           "type": "string",
           "description": "The Tax Code",
           "example": "GST@10%"
          },
          "description": {
           "type": "string",
           "description": "Description of the Tax Code",
           "example": "Goods and Services Tax"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
           "example": "{ parent_ids: [1,2] }"
          },
          "origin_id": {
           "type": "string",
           "description": "The Third-party ID of the Tax Code",
           "example": "1VT-33778-013"
          },
          "rate1": {
           "type": "number",
           "format": "float",
           "description": "Rate to apply for first Tax Type",
           "example": 10
          },
          "archived": {
           "type": "boolean",
           "description": "Set to true if this tax code has been archived",
           "example": false
          },
          "default_tax_code": {
           "type": "boolean",
           "description": "Set to true if this tax code is default tax code",
           "example": false
          },
          "display_in_budget": {
           "type": "boolean",
           "description": "Whether this tax code should be displayed in budget views. Defaults to false.",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "object",
           "properties": {
            "field_name": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/tax_codes',\n  qs: {company_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    tax_code: {\n      code: 'GST@10%',\n      description: 'Goods and Services Tax',\n      origin_data: '{ parent_ids: [1,2] }',\n      origin_id: '1VT-33778-013',\n      rate1: 10,\n      archived: false,\n      default_tax_code: false\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"tax_code\\\":{\\\"code\\\":\\\"GST@10%\\\",\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\",\\\"rate1\\\":10,\\\"archived\\\":false,\\\"default_tax_code\\\":false}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/tax_codes?company_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/tax_codes?company_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"tax_code\":{\"code\":\"GST@10%\",\"description\":\"Goods and Services Tax\",\"origin_data\":\"{ parent_ids: [1,2] }\",\"origin_id\":\"1VT-33778-013\",\"rate1\":10,\"archived\":false,\"default_tax_code\":false}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_codes?company_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"tax_code\\\":{\\\"code\\\":\\\"GST@10%\\\",\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\",\\\"rate1\\\":10,\\\"archived\\\":false,\\\"default_tax_code\\\":false}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add default_tax_code to tax code request body params",
      "description": "Add default_tax_code to tax code request body params, also add default_tax_code to tax code response body",
      "endpoint": "POST /tax_codes",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tax-codes?version=1.0#create-tax-code"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/tax_codes/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "The Tax Code ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "company_id",
     "in": "query",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Tax Code",
    "description": "Show detailed information for a specific Tax Code",
    "tags": [
     "Tax"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "The ID of the Tax Code",
           "example": 123
          },
          "code": {
           "type": "string",
           "description": "The Tax Code",
           "example": "GST@10%"
          },
          "description": {
           "type": "string",
           "description": "Description of the Tax Code",
           "example": "Goods and Services Tax"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
           "example": "{ parent_ids: [1,2] }"
          },
          "origin_id": {
           "type": "string",
           "description": "The Third-party ID of the Tax Code",
           "example": "1VT-33778-013"
          },
          "rate1": {
           "type": "number",
           "format": "float",
           "description": "Rate to apply for first Tax Type",
           "example": 10
          },
          "archived": {
           "type": "boolean",
           "description": "Set to true if this tax code has been archived",
           "example": false
          },
          "default_tax_code": {
           "type": "boolean",
           "description": "Set to true if this tax code is default tax code",
           "example": false
          },
          "display_in_budget": {
           "type": "boolean",
           "description": "Whether this tax code should be displayed in budget views. Defaults to false.",
           "example": false
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/tax_codes/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/tax_codes/%7Bid%7D?company_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/tax_codes/%7Bid%7D?company_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_codes/%7Bid%7D?company_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Return default_tax_code value for the tax code",
      "description": "Return default_tax_code value for the tax code",
      "endpoint": "GET /tax_codes/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tax-codes?version=1.0#show-tax-code"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Tax Code",
    "description": "Update a Tax Code's attributes",
    "tags": [
     "Tax"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "tax_code"
        ],
        "properties": {
         "tax_code": {
          "type": "object",
          "properties": {
           "code": {
            "type": "string",
            "description": "The Tax Code",
            "example": "GST@10%"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Tax Code",
            "example": "Goods and Services Tax"
           },
           "origin_data": {
            "type": "string",
            "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
            "example": "{ parent_ids: [1,2] }"
           },
           "origin_id": {
            "type": "string",
            "description": "The Third-party ID of the Tax Code",
            "example": "1VT-33778-013"
           },
           "rate1": {
            "type": "number",
            "format": "float",
            "description": "Rate to apply for first Tax Type",
            "example": 10
           },
           "archived": {
            "type": "boolean",
            "description": "Set to true if this tax code has been archived",
            "example": false
           },
           "default_tax_code": {
            "type": "boolean",
            "description": "Set to true if this tax code is default tax code",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "The ID of the Tax Code",
           "example": 123
          },
          "code": {
           "type": "string",
           "description": "The Tax Code",
           "example": "GST@10%"
          },
          "description": {
           "type": "string",
           "description": "Description of the Tax Code",
           "example": "Goods and Services Tax"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
           "example": "{ parent_ids: [1,2] }"
          },
          "origin_id": {
           "type": "string",
           "description": "The Third-party ID of the Tax Code",
           "example": "1VT-33778-013"
          },
          "rate1": {
           "type": "number",
           "format": "float",
           "description": "Rate to apply for first Tax Type",
           "example": 10
          },
          "archived": {
           "type": "boolean",
           "description": "Set to true if this tax code has been archived",
           "example": false
          },
          "default_tax_code": {
           "type": "boolean",
           "description": "Set to true if this tax code is default tax code",
           "example": false
          },
          "display_in_budget": {
           "type": "boolean",
           "description": "Whether this tax code should be displayed in budget views. Defaults to false.",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "object",
           "properties": {
            "field_name": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/tax_codes/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    tax_code: {\n      code: 'GST@10%',\n      description: 'Goods and Services Tax',\n      origin_data: '{ parent_ids: [1,2] }',\n      origin_id: '1VT-33778-013',\n      rate1: 10,\n      archived: false,\n      default_tax_code: false\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"tax_code\\\":{\\\"code\\\":\\\"GST@10%\\\",\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\",\\\"rate1\\\":10,\\\"archived\\\":false,\\\"default_tax_code\\\":false}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/tax_codes/%7Bid%7D?company_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/tax_codes/%7Bid%7D?company_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"tax_code\":{\"code\":\"GST@10%\",\"description\":\"Goods and Services Tax\",\"origin_data\":\"{ parent_ids: [1,2] }\",\"origin_id\":\"1VT-33778-013\",\"rate1\":10,\"archived\":false,\"default_tax_code\":false}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_codes/%7Bid%7D?company_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"tax_code\\\":{\\\"code\\\":\\\"GST@10%\\\",\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\",\\\"rate1\\\":10,\\\"archived\\\":false,\\\"default_tax_code\\\":false}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add default_tax_code to tax code request body params",
      "description": "Add default_tax_code to tax code request body params, also add default_tax_code to tax code response body",
      "endpoint": "PATCH /tax_codes/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tax-codes?version=1.0#update-tax-code"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/tax_codes/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Tax Codes",
    "description": "This endpoint creates or updates a batch of Tax Codes",
    "tags": [
     "Tax"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "updates"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "Company ID"
         },
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Tax Code. REQUIRED if 'origin_id' is not provided.",
             "example": 123
            },
            "code": {
             "type": "string",
             "description": "The Tax Code",
             "example": "GST@10%"
            },
            "description": {
             "type": "string",
             "description": "The Description of the Tax Code",
             "example": "Goods and Services Tax"
            },
            "origin_data": {
             "type": "string",
             "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
             "example": "{ parent_ids: [1,2] }"
            },
            "origin_id": {
             "type": "string",
             "description": "The Third-party ID of the Tax Code. REQUIRED on update if 'id' is not provided.",
             "example": "1VT-33778-013"
            },
            "rate1": {
             "type": "number",
             "format": "float",
             "description": "Rate to apply for first Tax Type",
             "example": 10
            },
            "archived": {
             "type": "boolean",
             "description": "Set to true if this tax code has been archived",
             "example": false
            },
            "default_tax_code": {
             "type": "boolean",
             "description": "Set to true if this tax code is default tax code",
             "example": false
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "The ID of the Tax Code",
              "example": 123
             },
             "code": {
              "type": "string",
              "description": "The Tax Code",
              "example": "GST@10%"
             },
             "description": {
              "type": "string",
              "description": "Description of the Tax Code",
              "example": "Goods and Services Tax"
             },
             "origin_data": {
              "type": "string",
              "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
              "example": "{ parent_ids: [1,2] }"
             },
             "origin_id": {
              "type": "string",
              "description": "The Third-party ID of the Tax Code",
              "example": "1VT-33778-013"
             },
             "rate1": {
              "type": "number",
              "format": "float",
              "description": "Rate to apply for first Tax Type",
              "example": 10
             },
             "archived": {
              "type": "boolean",
              "description": "Set to true if this tax code has been archived",
              "example": false
             },
             "default_tax_code": {
              "type": "boolean",
              "description": "Set to true if this tax code is default tax code",
              "example": false
             },
             "display_in_budget": {
              "type": "boolean",
              "description": "Whether this tax code should be displayed in budget views. Defaults to false.",
              "example": false
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "The ID of the Tax Code",
                "example": 123
               },
               "code": {
                "type": "string",
                "description": "The Tax Code",
                "example": "GST@10%"
               },
               "description": {
                "type": "string",
                "description": "Description of the Tax Code",
                "example": "Goods and Services Tax"
               },
               "origin_data": {
                "type": "string",
                "description": "Additional Third-party Metadata for the Tax Code. Note: This is a free-form text field.",
                "example": "{ parent_ids: [1,2] }"
               },
               "origin_id": {
                "type": "string",
                "description": "The Third-party ID of the Tax Code",
                "example": "1VT-33778-013"
               },
               "rate1": {
                "type": "number",
                "format": "float",
                "description": "Rate to apply for first Tax Type",
                "example": 10
               },
               "archived": {
                "type": "boolean",
                "description": "Set to true if this tax code has been archived",
                "example": false
               },
               "default_tax_code": {
                "type": "boolean",
                "description": "Set to true if this tax code is default tax code",
                "example": false
               },
               "display_in_budget": {
                "type": "boolean",
                "description": "Whether this tax code should be displayed in budget views. Defaults to false.",
                "example": false
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/tax_codes/sync',\n  headers: {'content-type': 'application/json'},\n  body: {\n    company_id: 0,\n    updates: [\n      {\n        id: 123,\n        code: 'GST@10%',\n        description: 'Goods and Services Tax',\n        origin_data: '{ parent_ids: [1,2] }',\n        origin_id: '1VT-33778-013',\n        rate1: 10,\n        archived: false,\n        default_tax_code: false\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"company_id\\\":0,\\\"updates\\\":[{\\\"id\\\":123,\\\"code\\\":\\\"GST@10%\\\",\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\",\\\"rate1\\\":10,\\\"archived\\\":false,\\\"default_tax_code\\\":false}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/tax_codes/sync\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/tax_codes/sync \\\n  --header 'content-type: application/json' \\\n  --data '{\"company_id\":0,\"updates\":[{\"id\":123,\"code\":\"GST@10%\",\"description\":\"Goods and Services Tax\",\"origin_data\":\"{ parent_ids: [1,2] }\",\"origin_id\":\"1VT-33778-013\",\"rate1\":10,\"archived\":false,\"default_tax_code\":false}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_codes/sync\"),\n    Content = new StringContent(\"{\\\"company_id\\\":0,\\\"updates\\\":[{\\\"id\\\":123,\\\"code\\\":\\\"GST@10%\\\",\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\",\\\"rate1\\\":10,\\\"archived\\\":false,\\\"default_tax_code\\\":false}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Return default_tax_code value for the tax codes",
      "description": "Return default_tax_code value for the tax codes",
      "endpoint": "PATCH /tax_codes/sync",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "tax-codes?version=1.0#sync-tax-codes"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}