{
 "openapi": "3.0.0",
 "info": {
  "title": "Tax Types",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Tax",
  "x-resource-name": "Tax Types",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/tax_types": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "query",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Tax Types",
    "description": "Return a list of all Tax Types for a given Company\n\nA Tax Type represents a \"value added tax\" or \"goods and services tax\"\nwhich needs to be accounted for on a commitment or an invoice generated\nby Procore. In many places there will just be a single tax to deal with,\nfor example in Australia it will be GST, in the UK it will be VAT.\nOther countries may require that multiple taxes are displayed,\nfor example in Canada an invoice may be required to include both GST and PST.\n\nProcore currently only supports the definition of one tax type per company.\n\nTax support can be enabled at the company level by an admin user though the\nweb interface. Once enabled at the company level, tax support can also be\nenabled or disabled at the project level. When tax support is enabled at\nthe company level, it is disabled for existing projects, but by default\nwill be enabled for new projects. An admin user can change these settings\nthrough the web interface.",
    "tags": [
     "Tax"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "The ID of the Tax Type",
            "example": 123
           },
           "description": {
            "type": "string",
            "description": "Description of the Tax Type",
            "example": "Goods and Services Tax"
           },
           "name": {
            "type": "string",
            "description": "The Name of the Tax Type",
            "example": "GST"
           },
           "origin_data": {
            "type": "string",
            "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
            "example": "{ parent_ids: [1,2] }"
           },
           "origin_id": {
            "type": "string",
            "description": "The Third-party ID of the Tax Type",
            "example": "1VT-33778-013"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/tax_types',\n  qs: {\n    company_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/tax_types?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/tax_types?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_types?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Tax Type",
    "description": "Creates a Tax Type on a given Company",
    "tags": [
     "Tax"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "tax_type"
        ],
        "properties": {
         "tax_type": {
          "type": "object",
          "required": [
           "name"
          ],
          "properties": {
           "description": {
            "type": "string",
            "description": "The Description of the Tax Type",
            "example": "Goods and Services Tax"
           },
           "name": {
            "type": "string",
            "description": "The Name of the Tax Type",
            "example": "GST"
           },
           "origin_data": {
            "type": "string",
            "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
            "example": "{ parent_ids: [1,2] }"
           },
           "origin_id": {
            "type": "string",
            "description": "The Third-party ID of the Tax Type",
            "example": "1VT-33778-013"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "The ID of the Tax Type",
           "example": 123
          },
          "description": {
           "type": "string",
           "description": "Description of the Tax Type",
           "example": "Goods and Services Tax"
          },
          "name": {
           "type": "string",
           "description": "The Name of the Tax Type",
           "example": "GST"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
           "example": "{ parent_ids: [1,2] }"
          },
          "origin_id": {
           "type": "string",
           "description": "The Third-party ID of the Tax Type",
           "example": "1VT-33778-013"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "object",
           "properties": {
            "field_name": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/tax_types',\n  qs: {company_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    tax_type: {\n      description: 'Goods and Services Tax',\n      name: 'GST',\n      origin_data: '{ parent_ids: [1,2] }',\n      origin_id: '1VT-33778-013'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"tax_type\\\":{\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"name\\\":\\\"GST\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/tax_types?company_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/tax_types?company_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"tax_type\":{\"description\":\"Goods and Services Tax\",\"name\":\"GST\",\"origin_data\":\"{ parent_ids: [1,2] }\",\"origin_id\":\"1VT-33778-013\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_types?company_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"tax_type\\\":{\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"name\\\":\\\"GST\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/tax_types/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "The Tax Type ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "company_id",
     "in": "query",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Tax Type",
    "description": "Show detailed information for a specific Tax Type",
    "tags": [
     "Tax"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "The ID of the Tax Type",
           "example": 123
          },
          "description": {
           "type": "string",
           "description": "Description of the Tax Type",
           "example": "Goods and Services Tax"
          },
          "name": {
           "type": "string",
           "description": "The Name of the Tax Type",
           "example": "GST"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
           "example": "{ parent_ids: [1,2] }"
          },
          "origin_id": {
           "type": "string",
           "description": "The Third-party ID of the Tax Type",
           "example": "1VT-33778-013"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Tax Type",
    "description": "Update a Tax Type's attributes",
    "tags": [
     "Tax"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "tax_type"
        ],
        "properties": {
         "tax_type": {
          "type": "object",
          "properties": {
           "description": {
            "type": "string",
            "description": "The Description of the Tax Type",
            "example": "Goods and Services Tax"
           },
           "name": {
            "type": "string",
            "description": "The Name of the Tax Type",
            "example": "GST"
           },
           "origin_data": {
            "type": "string",
            "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
            "example": "{ parent_ids: [1,2] }"
           },
           "origin_id": {
            "type": "string",
            "description": "The Third-party ID of the Tax Type",
            "example": "1VT-33778-013"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "The ID of the Tax Type",
           "example": 123
          },
          "description": {
           "type": "string",
           "description": "Description of the Tax Type",
           "example": "Goods and Services Tax"
          },
          "name": {
           "type": "string",
           "description": "The Name of the Tax Type",
           "example": "GST"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
           "example": "{ parent_ids: [1,2] }"
          },
          "origin_id": {
           "type": "string",
           "description": "The Third-party ID of the Tax Type",
           "example": "1VT-33778-013"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "object",
           "properties": {
            "field_name": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    tax_type: {\n      description: 'Goods and Services Tax',\n      name: 'GST',\n      origin_data: '{ parent_ids: [1,2] }',\n      origin_id: '1VT-33778-013'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"tax_type\\\":{\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"name\\\":\\\"GST\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"tax_type\":{\"description\":\"Goods and Services Tax\",\"name\":\"GST\",\"origin_data\":\"{ parent_ids: [1,2] }\",\"origin_id\":\"1VT-33778-013\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"tax_type\\\":{\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"name\\\":\\\"GST\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Tax Type",
    "description": "Delete a Tax Type",
    "tags": [
     "Tax"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/tax_types/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Tax Types",
    "description": "This endpoint creates or updates a batch of Tax Types",
    "tags": [
     "Tax"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "updates"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "Company ID"
         },
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Tax Type. REQUIRED if 'origin_id' is not provided.",
             "example": 123
            },
            "description": {
             "type": "string",
             "description": "The Description of the Tax Type",
             "example": "Goods and Services Tax"
            },
            "name": {
             "type": "string",
             "description": "The Name of the Tax Type",
             "example": "GST"
            },
            "origin_data": {
             "type": "string",
             "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
             "example": "{ parent_ids: [1,2] }"
            },
            "origin_id": {
             "type": "string",
             "description": "The Third-party ID of the Tax Type. REQUIRED on update if 'id' is not provided.",
             "example": "1VT-33778-013"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "The ID of the Tax Type",
              "example": 123
             },
             "description": {
              "type": "string",
              "description": "Description of the Tax Type",
              "example": "Goods and Services Tax"
             },
             "name": {
              "type": "string",
              "description": "The Name of the Tax Type",
              "example": "GST"
             },
             "origin_data": {
              "type": "string",
              "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
              "example": "{ parent_ids: [1,2] }"
             },
             "origin_id": {
              "type": "string",
              "description": "The Third-party ID of the Tax Type",
              "example": "1VT-33778-013"
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "The ID of the Tax Type",
                "example": 123
               },
               "description": {
                "type": "string",
                "description": "Description of the Tax Type",
                "example": "Goods and Services Tax"
               },
               "name": {
                "type": "string",
                "description": "The Name of the Tax Type",
                "example": "GST"
               },
               "origin_data": {
                "type": "string",
                "description": "Additional Third-party Metadata for the Tax Type. Note: This is a free-form text field.",
                "example": "{ parent_ids: [1,2] }"
               },
               "origin_id": {
                "type": "string",
                "description": "The Third-party ID of the Tax Type",
                "example": "1VT-33778-013"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/tax_types/sync',\n  headers: {'content-type': 'application/json'},\n  body: {\n    company_id: 0,\n    updates: [\n      {\n        id: 123,\n        description: 'Goods and Services Tax',\n        name: 'GST',\n        origin_data: '{ parent_ids: [1,2] }',\n        origin_id: '1VT-33778-013'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"company_id\\\":0,\\\"updates\\\":[{\\\"id\\\":123,\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"name\\\":\\\"GST\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/tax_types/sync\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/tax_types/sync \\\n  --header 'content-type: application/json' \\\n  --data '{\"company_id\":0,\"updates\":[{\"id\":123,\"description\":\"Goods and Services Tax\",\"name\":\"GST\",\"origin_data\":\"{ parent_ids: [1,2] }\",\"origin_id\":\"1VT-33778-013\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/tax_types/sync\"),\n    Content = new StringContent(\"{\\\"company_id\\\":0,\\\"updates\\\":[{\\\"id\\\":123,\\\"description\\\":\\\"Goods and Services Tax\\\",\\\"name\\\":\\\"GST\\\",\\\"origin_data\\\":\\\"{ parent_ids: [1,2] }\\\",\\\"origin_id\\\":\\\"1VT-33778-013\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}