{
 "openapi": "3.1.0",
 "info": {
  "title": "Telematics",
  "version": "2.1",
  "x-product-category": "Resource Management",
  "x-resource-name": "Telematics",
  "x-tool-category": "Telematics",
  "x-product-lines": [
   "equipment-register"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.1/companies/{company_id}/telematics/aemp": {
   "post": {
    "tags": [
     "Telematics"
    ],
    "summary": "Save AEMP 2.0 telematics data ",
    "description": "Api allow to post AEMP 2.0 telematics data with equipment creation and identifier mapping creation",
    "operationId": "receiveAempDataForEquipmentSync_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The ID of the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "example": {
         "Fleet": {
          "snapshotTime": "2025-01-16T12:00:00Z",
          "Equipment": [
           {
            "EquipmentHeader": {
             "UnitInstallDateTime": "2024-01-01T08:00:00Z",
             "OEMName": "Manufacturer",
             "Model": "Model-X",
             "EquipmentID": "EQ12345",
             "SerialNumber": "SN123456789012345",
             "PIN": "PIN1234567890123"
            },
            "AverageLoadFactorLast24": {
             "Percent": 75.25,
             "datetime": "2025-01-15T12:00:00Z"
            },
            "Location": {
             "Latitude": -33.867487,
             "Longitude": 151.20699,
             "Altitude": 45.5,
             "AltitudeUnits": "metre",
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeActiveRegenerationHours": {
             "Hour": 120.5,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeIdleHours": {
             "Hour": 200,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeIdleNonOperatingHours": {
             "Hour": 50,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeLoadCount": {
             "Count": 500,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeOperatingHours": {
             "Hour": 1000.5,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativePowerTakeOffHours": {
             "Hour": 300,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativePayloadTotals": {
             "PayloadUnits": "kilogram",
             "Payload": 1500.5,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "DEFRemaining": {
             "Percent": 85.75,
             "DEFTankCapacityUnits": "litre",
             "DEFTankCapacity": 50,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "Distance": {
             "OdometerUnits": "kilometre",
             "Odometer": 25000.5,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "EngineStatus": {
             "EngineNumber": "EN12345",
             "Running": true,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "FuelUsed": {
             "FuelUnits": "litre",
             "FuelConsumed": 500,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "FuelUsedLast24": {
             "FuelUnits": "litre",
             "FuelConsumed": 50,
             "datetime": "2025-01-15T12:00:00Z"
            },
            "FuelRemaining": {
             "Percent": 30.25,
             "FuelTankCapacityUnits": "litre",
             "FuelTankCapacity": 100,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "MaximumSpeedLast24": {
             "SpeedUnits": "kilometres per hour",
             "Speed": 120.5,
             "datetime": "2025-01-15T12:00:00Z"
            }
           }
          ]
         }
        },
        "type": "object",
        "properties": {
         "snapshotTime": {
          "type": "string",
          "example": "2025-01-15T12:00:00Z",
          "xml": {
           "attribute": true
          }
         },
         "Equipment": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "EquipmentHeader": {
             "type": "object",
             "properties": {
              "UnitInstallDateTime": {
               "type": "string",
               "example": "2024-01-01T08:00:00Z"
              },
              "OEMName": {
               "type": "string",
               "example": "Manufacturer"
              },
              "Model": {
               "type": "string",
               "example": "Model-X"
              },
              "EquipmentID": {
               "type": "string",
               "example": "SN123456789012345"
              },
              "SerialNumber": {
               "type": "string",
               "example": "SN123456789012345"
              },
              "PIN": {
               "type": "string",
               "example": "PIN1234567890123"
              }
             },
             "required": [
              "EquipmentID",
              "Model",
              "OEMName",
              "PIN",
              "SerialNumber",
              "UnitInstallDateTime"
             ]
            },
            "AverageLoadFactorLast24": {
             "type": "object",
             "properties": {
              "Percent": {
               "type": "number",
               "format": "double",
               "example": 75.25
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Percent",
              "datetime"
             ]
            },
            "Location": {
             "type": "object",
             "properties": {
              "Latitude": {
               "type": "number",
               "format": "double",
               "example": -33.86543
              },
              "Longitude": {
               "type": "number",
               "format": "double",
               "example": 151.203849
              },
              "Altitude": {
               "type": "number",
               "format": "double",
               "example": 45.5
              },
              "AltitudeUnits": {
               "type": "string",
               "example": "metre"
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Altitude",
              "AltitudeUnits",
              "Latitude",
              "Longitude",
              "datetime"
             ]
            },
            "CumulativeActiveRegenerationHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativeIdleHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativeIdleNonOperatingHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativeLoadCount": {
             "type": "object",
             "properties": {
              "Count": {
               "type": "integer",
               "format": "int32",
               "example": 500
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Count",
              "datetime"
             ]
            },
            "CumulativeOperatingHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativePowerTakeOffHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativePayloadTotals": {
             "type": "object",
             "properties": {
              "PayloadUnits": {
               "type": "string",
               "example": "kilogram"
              },
              "Payload": {
               "type": "number",
               "format": "double",
               "example": 1500.5
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Payload",
              "PayloadUnits",
              "datetime"
             ]
            },
            "DEFRemaining": {
             "type": "object",
             "properties": {
              "Percent": {
               "type": "number",
               "format": "double",
               "example": 85.75
              },
              "DEFTankCapacityUnits": {
               "type": "string",
               "example": "litre"
              },
              "DEFTankCapacity": {
               "type": "number",
               "format": "double",
               "example": 50
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Percent",
              "datetime"
             ]
            },
            "Distance": {
             "type": "object",
             "properties": {
              "OdometerUnits": {
               "type": "string",
               "example": "kilometre"
              },
              "Odometer": {
               "type": "number",
               "format": "double",
               "example": 500.4
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Odometer",
              "OdometerUnits",
              "datetime"
             ]
            },
            "EngineStatus": {
             "type": "object",
             "properties": {
              "EngineNumber": {
               "type": "string",
               "example": "EN12345"
              },
              "Running": {
               "type": "boolean",
               "example": true
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "EngineNumber",
              "Running",
              "datetime"
             ]
            },
            "FuelUsed": {
             "type": "object",
             "properties": {
              "FuelUnits": {
               "type": "string",
               "example": "litre"
              },
              "FuelConsumed": {
               "type": "number",
               "format": "double",
               "example": 50
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "FuelConsumed",
              "FuelUnits",
              "datetime"
             ]
            },
            "FuelUsedLast24": {
             "type": "object",
             "properties": {
              "FuelUnits": {
               "type": "string",
               "example": "litre"
              },
              "FuelConsumed": {
               "type": "number",
               "format": "double",
               "example": 50
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "FuelConsumed",
              "FuelUnits",
              "datetime"
             ]
            },
            "FuelRemaining": {
             "type": "object",
             "properties": {
              "Percent": {
               "type": "number",
               "format": "double",
               "example": 50.4
              },
              "FuelTankCapacityUnits": {
               "type": "string",
               "example": "litre"
              },
              "FuelTankCapacity": {
               "type": "number",
               "format": "double",
               "example": 100
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Percent",
              "datetime"
             ]
            },
            "MaximumSpeedLast24": {
             "type": "object",
             "properties": {
              "SpeedUnits": {
               "type": "string",
               "example": "kilometres per hour"
              },
              "Speed": {
               "type": "number",
               "format": "double",
               "example": 120.5
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Speed",
              "SpeedUnits",
              "datetime"
             ]
            }
           },
           "required": [
            "EquipmentHeader"
           ]
          }
         }
        },
        "required": [
         "Equipment",
         "snapshotTime"
        ],
        "xml": {
         "name": "Fleet"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Request processed successfully."
     },
     "301": {
      "description": "Redirection occurred."
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "422": {
      "description": "The request was well-formed but was unable to be followed due to semantic errors."
     },
     "500": {
      "description": "Internal server error."
     }
    },
    "x-rate-limit-enabled": false,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.1/companies/1234/telematics/aemp',\n  headers: {'content-type': 'application/json'},\n  body: {\n    Fleet: {\n      snapshotTime: '2025-01-16T12:00:00Z',\n      Equipment: [\n        {\n          EquipmentHeader: {\n            UnitInstallDateTime: '2024-01-01T08:00:00Z',\n            OEMName: 'Manufacturer',\n            Model: 'Model-X',\n            EquipmentID: 'EQ12345',\n            SerialNumber: 'SN123456789012345',\n            PIN: 'PIN1234567890123'\n          },\n          AverageLoadFactorLast24: {Percent: 75.25, datetime: '2025-01-15T12:00:00Z'},\n          Location: {\n            Latitude: -33.867487,\n            Longitude: 151.20699,\n            Altitude: 45.5,\n            AltitudeUnits: 'metre',\n            datetime: '2025-01-16T12:00:00Z'\n          },\n          CumulativeActiveRegenerationHours: {Hour: 120.5, datetime: '2025-01-16T12:00:00Z'},\n          CumulativeIdleHours: {Hour: 200, datetime: '2025-01-16T12:00:00Z'},\n          CumulativeIdleNonOperatingHours: {Hour: 50, datetime: '2025-01-16T12:00:00Z'},\n          CumulativeLoadCount: {Count: 500, datetime: '2025-01-16T12:00:00Z'},\n          CumulativeOperatingHours: {Hour: 1000.5, datetime: '2025-01-16T12:00:00Z'},\n          CumulativePowerTakeOffHours: {Hour: 300, datetime: '2025-01-16T12:00:00Z'},\n          CumulativePayloadTotals: {PayloadUnits: 'kilogram', Payload: 1500.5, datetime: '2025-01-16T12:00:00Z'},\n          DEFRemaining: {\n            Percent: 85.75,\n            DEFTankCapacityUnits: 'litre',\n            DEFTankCapacity: 50,\n            datetime: '2025-01-16T12:00:00Z'\n          },\n          Distance: {\n            OdometerUnits: 'kilometre',\n            Odometer: 25000.5,\n            datetime: '2025-01-16T12:00:00Z'\n          },\n          EngineStatus: {EngineNumber: 'EN12345', Running: true, datetime: '2025-01-16T12:00:00Z'},\n          FuelUsed: {FuelUnits: 'litre', FuelConsumed: 500, datetime: '2025-01-16T12:00:00Z'},\n          FuelUsedLast24: {FuelUnits: 'litre', FuelConsumed: 50, datetime: '2025-01-15T12:00:00Z'},\n          FuelRemaining: {\n            Percent: 30.25,\n            FuelTankCapacityUnits: 'litre',\n            FuelTankCapacity: 100,\n            datetime: '2025-01-16T12:00:00Z'\n          },\n          MaximumSpeedLast24: {\n            SpeedUnits: 'kilometres per hour',\n            Speed: 120.5,\n            datetime: '2025-01-15T12:00:00Z'\n          }\n        }\n      ]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"Fleet\\\":{\\\"snapshotTime\\\":\\\"2025-01-16T12:00:00Z\\\",\\\"Equipment\\\":[{\\\"EquipmentHeader\\\":{\\\"UnitInstallDateTime\\\":\\\"2024-01-01T08:00:00Z\\\",\\\"OEMName\\\":\\\"Manufacturer\\\",\\\"Model\\\":\\\"Model-X\\\",\\\"EquipmentID\\\":\\\"EQ12345\\\",\\\"SerialNumber\\\":\\\"SN123456789012345\\\",\\\"PIN\\\":\\\"PIN1234567890123\\\"},\\\"AverageLoadFactorLast24\\\":{\\\"Percent\\\":75.25,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"},\\\"Location\\\":{\\\"Latitude\\\":-33.867487,\\\"Longitude\\\":151.20699,\\\"Altitude\\\":45.5,\\\"AltitudeUnits\\\":\\\"metre\\\",\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeActiveRegenerationHours\\\":{\\\"Hour\\\":120.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeIdleHours\\\":{\\\"Hour\\\":200,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeIdleNonOperatingHours\\\":{\\\"Hour\\\":50,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeLoadCount\\\":{\\\"Count\\\":500,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeOperatingHours\\\":{\\\"Hour\\\":1000.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativePowerTakeOffHours\\\":{\\\"Hour\\\":300,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativePayloadTotals\\\":{\\\"PayloadUnits\\\":\\\"kilogram\\\",\\\"Payload\\\":1500.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"DEFRemaining\\\":{\\\"Percent\\\":85.75,\\\"DEFTankCapacityUnits\\\":\\\"litre\\\",\\\"DEFTankCapacity\\\":50,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"Distance\\\":{\\\"OdometerUnits\\\":\\\"kilometre\\\",\\\"Odometer\\\":25000.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"EngineStatus\\\":{\\\"EngineNumber\\\":\\\"EN12345\\\",\\\"Running\\\":true,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"FuelUsed\\\":{\\\"FuelUnits\\\":\\\"litre\\\",\\\"FuelConsumed\\\":500,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"FuelUsedLast24\\\":{\\\"FuelUnits\\\":\\\"litre\\\",\\\"FuelConsumed\\\":50,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"},\\\"FuelRemaining\\\":{\\\"Percent\\\":30.25,\\\"FuelTankCapacityUnits\\\":\\\"litre\\\",\\\"FuelTankCapacity\\\":100,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"MaximumSpeedLast24\\\":{\\\"SpeedUnits\\\":\\\"kilometres per hour\\\",\\\"Speed\\\":120.5,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"}}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.1/companies/1234/telematics/aemp\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.1/companies/1234/telematics/aemp \\\n  --header 'content-type: application/json' \\\n  --data '{\"Fleet\":{\"snapshotTime\":\"2025-01-16T12:00:00Z\",\"Equipment\":[{\"EquipmentHeader\":{\"UnitInstallDateTime\":\"2024-01-01T08:00:00Z\",\"OEMName\":\"Manufacturer\",\"Model\":\"Model-X\",\"EquipmentID\":\"EQ12345\",\"SerialNumber\":\"SN123456789012345\",\"PIN\":\"PIN1234567890123\"},\"AverageLoadFactorLast24\":{\"Percent\":75.25,\"datetime\":\"2025-01-15T12:00:00Z\"},\"Location\":{\"Latitude\":-33.867487,\"Longitude\":151.20699,\"Altitude\":45.5,\"AltitudeUnits\":\"metre\",\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeActiveRegenerationHours\":{\"Hour\":120.5,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeIdleHours\":{\"Hour\":200,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeIdleNonOperatingHours\":{\"Hour\":50,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeLoadCount\":{\"Count\":500,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeOperatingHours\":{\"Hour\":1000.5,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativePowerTakeOffHours\":{\"Hour\":300,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativePayloadTotals\":{\"PayloadUnits\":\"kilogram\",\"Payload\":1500.5,\"datetime\":\"2025-01-16T12:00:00Z\"},\"DEFRemaining\":{\"Percent\":85.75,\"DEFTankCapacityUnits\":\"litre\",\"DEFTankCapacity\":50,\"datetime\":\"2025-01-16T12:00:00Z\"},\"Distance\":{\"OdometerUnits\":\"kilometre\",\"Odometer\":25000.5,\"datetime\":\"2025-01-16T12:00:00Z\"},\"EngineStatus\":{\"EngineNumber\":\"EN12345\",\"Running\":true,\"datetime\":\"2025-01-16T12:00:00Z\"},\"FuelUsed\":{\"FuelUnits\":\"litre\",\"FuelConsumed\":500,\"datetime\":\"2025-01-16T12:00:00Z\"},\"FuelUsedLast24\":{\"FuelUnits\":\"litre\",\"FuelConsumed\":50,\"datetime\":\"2025-01-15T12:00:00Z\"},\"FuelRemaining\":{\"Percent\":30.25,\"FuelTankCapacityUnits\":\"litre\",\"FuelTankCapacity\":100,\"datetime\":\"2025-01-16T12:00:00Z\"},\"MaximumSpeedLast24\":{\"SpeedUnits\":\"kilometres per hour\",\"Speed\":120.5,\"datetime\":\"2025-01-15T12:00:00Z\"}}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/1234/telematics/aemp\"),\n    Content = new StringContent(\"{\\\"Fleet\\\":{\\\"snapshotTime\\\":\\\"2025-01-16T12:00:00Z\\\",\\\"Equipment\\\":[{\\\"EquipmentHeader\\\":{\\\"UnitInstallDateTime\\\":\\\"2024-01-01T08:00:00Z\\\",\\\"OEMName\\\":\\\"Manufacturer\\\",\\\"Model\\\":\\\"Model-X\\\",\\\"EquipmentID\\\":\\\"EQ12345\\\",\\\"SerialNumber\\\":\\\"SN123456789012345\\\",\\\"PIN\\\":\\\"PIN1234567890123\\\"},\\\"AverageLoadFactorLast24\\\":{\\\"Percent\\\":75.25,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"},\\\"Location\\\":{\\\"Latitude\\\":-33.867487,\\\"Longitude\\\":151.20699,\\\"Altitude\\\":45.5,\\\"AltitudeUnits\\\":\\\"metre\\\",\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeActiveRegenerationHours\\\":{\\\"Hour\\\":120.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeIdleHours\\\":{\\\"Hour\\\":200,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeIdleNonOperatingHours\\\":{\\\"Hour\\\":50,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeLoadCount\\\":{\\\"Count\\\":500,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeOperatingHours\\\":{\\\"Hour\\\":1000.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativePowerTakeOffHours\\\":{\\\"Hour\\\":300,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativePayloadTotals\\\":{\\\"PayloadUnits\\\":\\\"kilogram\\\",\\\"Payload\\\":1500.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"DEFRemaining\\\":{\\\"Percent\\\":85.75,\\\"DEFTankCapacityUnits\\\":\\\"litre\\\",\\\"DEFTankCapacity\\\":50,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"Distance\\\":{\\\"OdometerUnits\\\":\\\"kilometre\\\",\\\"Odometer\\\":25000.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"EngineStatus\\\":{\\\"EngineNumber\\\":\\\"EN12345\\\",\\\"Running\\\":true,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"FuelUsed\\\":{\\\"FuelUnits\\\":\\\"litre\\\",\\\"FuelConsumed\\\":500,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"FuelUsedLast24\\\":{\\\"FuelUnits\\\":\\\"litre\\\",\\\"FuelConsumed\\\":50,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"},\\\"FuelRemaining\\\":{\\\"Percent\\\":30.25,\\\"FuelTankCapacityUnits\\\":\\\"litre\\\",\\\"FuelTankCapacity\\\":100,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"MaximumSpeedLast24\\\":{\\\"SpeedUnits\\\":\\\"kilometres per hour\\\",\\\"Speed\\\":120.5,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"}}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/telematics/stats": {
   "post": {
    "tags": [
     "Telematics"
    ],
    "summary": "Save telematics stats data",
    "description": "Api allow to post telematic diagnostic data",
    "operationId": "saveDiagnosticsData",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The ID of the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "header": {
          "type": "object",
          "properties": {
           "resource_id": {
            "type": "string",
            "description": "Unique identifier assigned to resources (equipment/labour/material) in Procore. This field is optional if oem_id is provided.",
            "example": "01JFZBBYQK7H9Z0RNCTM58WDFY"
           },
           "resource_type": {
            "type": "string",
            "description": "Resource type against which you want to send data (equipment/labour/material) in Procore. Default value is equipment",
            "enum": [
             "EQUIPMENT",
             "LABOUR",
             "MATERIAL"
            ],
            "example": "EQUIPMENT"
           },
           "oem_name": {
            "type": "string",
            "description": "Equipment Make",
            "example": "CAT"
           },
           "oem_id": {
            "type": "string",
            "description": "Unique equipment identifier can be VIN, Serial#. This field is optional if target_id is provided.",
            "example": "QK7H9Z0RNCTM58SN01"
           },
           "model": {
            "type": "string",
            "description": "Equipment Model",
            "example": 306
           },
           "pin": {
            "type": "string",
            "description": "OEM ISO Number, can be same as oem_id as per AEMP 2.0 standard.",
            "example": "QK7H9Z0RNCTM58SN01"
           }
          }
         },
         "location": {
          "type": "object",
          "properties": {
           "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude",
            "example": 45.781
           },
           "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude",
            "example": -108.503
           },
           "altitude": {
            "type": "number",
            "format": "double",
            "description": "Altitude",
            "example": 189
           },
           "altitude_unit": {
            "type": "string",
            "description": "Altitude unit",
            "example": "meters"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "location date- time (ISO 8601 format)",
            "example": "2021-08-10T10:00:00Z"
           },
           "properties": {
            "type": "array",
            "description": "Properties are key value pair which is used to capture any additional information",
            "items": {
             "type": "object",
             "properties": {
              "key": {
               "type": "string",
               "example": "Address"
              },
              "value": {
               "type": "string",
               "example": 625
              }
             }
            }
           }
          }
         },
         "diagnostics": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "description": "diagnostic key",
             "example": "distance"
            },
            "name": {
             "type": "string",
             "description": "diagnostic name",
             "example": "Distance"
            },
            "value": {
             "type": "string",
             "description": "location coordinates format (longitude, latitude)",
             "example": 1500
            },
            "unit": {
             "type": "string",
             "description": "Units are acceptable as per AEMP 2.0(ISO 15143-3 standard)",
             "example": "km"
            },
            "datetime": {
             "type": "string",
             "format": "date-time",
             "description": "diagnostic time (ISO 8601 format)",
             "example": "2021-08-10T10:00:00Z"
            },
            "properties": {
             "type": "array",
             "description": "Properties are key value pair which is used to capture any additional information",
             "items": {
              "type": "object",
              "properties": {
               "key": {
                "type": "string",
                "example": "Address"
               },
               "value": {
                "type": "string",
                "example": 625
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Request processed successfully."
     },
     "301": {
      "description": "Redirection occurred."
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "422": {
      "description": "The request was well-formed but was unable to be followed due to semantic errors."
     },
     "500": {
      "description": "Internal server error."
     },
     "default": {
      "description": "default response"
     }
    },
    "x-rate-limit-enabled": false,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/telematics/stats',\n  headers: {'content-type': 'application/json'},\n  body: {\n    header: {\n      resource_id: '01JFZBBYQK7H9Z0RNCTM58WDFY',\n      resource_type: 'EQUIPMENT',\n      oem_name: 'CAT',\n      oem_id: 'QK7H9Z0RNCTM58SN01',\n      model: 306,\n      pin: 'QK7H9Z0RNCTM58SN01'\n    },\n    location: {\n      latitude: 45.781,\n      longitude: -108.503,\n      altitude: 189,\n      altitude_unit: 'meters',\n      datetime: '2021-08-10T10:00:00Z',\n      properties: [{key: 'Address', value: 625}]\n    },\n    diagnostics: [\n      {\n        key: 'distance',\n        name: 'Distance',\n        value: 1500,\n        unit: 'km',\n        datetime: '2021-08-10T10:00:00Z',\n        properties: [{key: 'Address', value: 625}]\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"header\\\":{\\\"resource_id\\\":\\\"01JFZBBYQK7H9Z0RNCTM58WDFY\\\",\\\"resource_type\\\":\\\"EQUIPMENT\\\",\\\"oem_name\\\":\\\"CAT\\\",\\\"oem_id\\\":\\\"QK7H9Z0RNCTM58SN01\\\",\\\"model\\\":306,\\\"pin\\\":\\\"QK7H9Z0RNCTM58SN01\\\"},\\\"location\\\":{\\\"latitude\\\":45.781,\\\"longitude\\\":-108.503,\\\"altitude\\\":189,\\\"altitude_unit\\\":\\\"meters\\\",\\\"datetime\\\":\\\"2021-08-10T10:00:00Z\\\",\\\"properties\\\":[{\\\"key\\\":\\\"Address\\\",\\\"value\\\":625}]},\\\"diagnostics\\\":[{\\\"key\\\":\\\"distance\\\",\\\"name\\\":\\\"Distance\\\",\\\"value\\\":1500,\\\"unit\\\":\\\"km\\\",\\\"datetime\\\":\\\"2021-08-10T10:00:00Z\\\",\\\"properties\\\":[{\\\"key\\\":\\\"Address\\\",\\\"value\\\":625}]}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/1234/telematics/stats\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/1234/telematics/stats \\\n  --header 'content-type: application/json' \\\n  --data '{\"header\":{\"resource_id\":\"01JFZBBYQK7H9Z0RNCTM58WDFY\",\"resource_type\":\"EQUIPMENT\",\"oem_name\":\"CAT\",\"oem_id\":\"QK7H9Z0RNCTM58SN01\",\"model\":306,\"pin\":\"QK7H9Z0RNCTM58SN01\"},\"location\":{\"latitude\":45.781,\"longitude\":-108.503,\"altitude\":189,\"altitude_unit\":\"meters\",\"datetime\":\"2021-08-10T10:00:00Z\",\"properties\":[{\"key\":\"Address\",\"value\":625}]},\"diagnostics\":[{\"key\":\"distance\",\"name\":\"Distance\",\"value\":1500,\"unit\":\"km\",\"datetime\":\"2021-08-10T10:00:00Z\",\"properties\":[{\"key\":\"Address\",\"value\":625}]}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/telematics/stats\"),\n    Content = new StringContent(\"{\\\"header\\\":{\\\"resource_id\\\":\\\"01JFZBBYQK7H9Z0RNCTM58WDFY\\\",\\\"resource_type\\\":\\\"EQUIPMENT\\\",\\\"oem_name\\\":\\\"CAT\\\",\\\"oem_id\\\":\\\"QK7H9Z0RNCTM58SN01\\\",\\\"model\\\":306,\\\"pin\\\":\\\"QK7H9Z0RNCTM58SN01\\\"},\\\"location\\\":{\\\"latitude\\\":45.781,\\\"longitude\\\":-108.503,\\\"altitude\\\":189,\\\"altitude_unit\\\":\\\"meters\\\",\\\"datetime\\\":\\\"2021-08-10T10:00:00Z\\\",\\\"properties\\\":[{\\\"key\\\":\\\"Address\\\",\\\"value\\\":625}]},\\\"diagnostics\\\":[{\\\"key\\\":\\\"distance\\\",\\\"name\\\":\\\"Distance\\\",\\\"value\\\":1500,\\\"unit\\\":\\\"km\\\",\\\"datetime\\\":\\\"2021-08-10T10:00:00Z\\\",\\\"properties\\\":[{\\\"key\\\":\\\"Address\\\",\\\"value\\\":625}]}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/telematics/aemp": {
   "post": {
    "tags": [
     "Telematics"
    ],
    "summary": "Save AEMP 2.0 telematics data",
    "description": "Api allow to post AEMP 2.0 telematics data",
    "operationId": "receiveAempData_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The ID of the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "example": {
         "Fleet": {
          "snapshotTime": "2025-01-16T12:00:00Z",
          "Equipment": [
           {
            "EquipmentHeader": {
             "UnitInstallDateTime": "2024-01-01T08:00:00Z",
             "OEMName": "Manufacturer",
             "Model": "Model-X",
             "EquipmentID": "EQ12345",
             "SerialNumber": "SN123456789012345",
             "PIN": "PIN1234567890123"
            },
            "AverageLoadFactorLast24": {
             "Percent": 75.25,
             "datetime": "2025-01-15T12:00:00Z"
            },
            "Location": {
             "Latitude": -33.867487,
             "Longitude": 151.20699,
             "Altitude": 45.5,
             "AltitudeUnits": "metre",
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeActiveRegenerationHours": {
             "Hour": 120.5,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeIdleHours": {
             "Hour": 200,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeIdleNonOperatingHours": {
             "Hour": 50,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeLoadCount": {
             "Count": 500,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativeOperatingHours": {
             "Hour": 1000.5,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativePowerTakeOffHours": {
             "Hour": 300,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "CumulativePayloadTotals": {
             "PayloadUnits": "kilogram",
             "Payload": 1500.5,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "DEFRemaining": {
             "Percent": 85.75,
             "DEFTankCapacityUnits": "litre",
             "DEFTankCapacity": 50,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "Distance": {
             "OdometerUnits": "kilometre",
             "Odometer": 25000.5,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "EngineStatus": {
             "EngineNumber": "EN12345",
             "Running": true,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "FuelUsed": {
             "FuelUnits": "litre",
             "FuelConsumed": 500,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "FuelUsedLast24": {
             "FuelUnits": "litre",
             "FuelConsumed": 50,
             "datetime": "2025-01-15T12:00:00Z"
            },
            "FuelRemaining": {
             "Percent": 30.25,
             "FuelTankCapacityUnits": "litre",
             "FuelTankCapacity": 100,
             "datetime": "2025-01-16T12:00:00Z"
            },
            "MaximumSpeedLast24": {
             "SpeedUnits": "kilometres per hour",
             "Speed": 120.5,
             "datetime": "2025-01-15T12:00:00Z"
            }
           }
          ]
         }
        },
        "type": "object",
        "properties": {
         "snapshotTime": {
          "type": "string",
          "example": "2025-01-15T12:00:00Z",
          "xml": {
           "attribute": true
          }
         },
         "Equipment": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "EquipmentHeader": {
             "type": "object",
             "properties": {
              "UnitInstallDateTime": {
               "type": "string",
               "example": "2024-01-01T08:00:00Z"
              },
              "OEMName": {
               "type": "string",
               "example": "Manufacturer"
              },
              "Model": {
               "type": "string",
               "example": "Model-X"
              },
              "EquipmentID": {
               "type": "string",
               "example": "SN123456789012345"
              },
              "SerialNumber": {
               "type": "string",
               "example": "SN123456789012345"
              },
              "PIN": {
               "type": "string",
               "example": "PIN1234567890123"
              }
             },
             "required": [
              "EquipmentID",
              "Model",
              "OEMName",
              "PIN",
              "SerialNumber",
              "UnitInstallDateTime"
             ]
            },
            "AverageLoadFactorLast24": {
             "type": "object",
             "properties": {
              "Percent": {
               "type": "number",
               "format": "double",
               "example": 75.25
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Percent",
              "datetime"
             ]
            },
            "Location": {
             "type": "object",
             "properties": {
              "Latitude": {
               "type": "number",
               "format": "double",
               "example": -33.86543
              },
              "Longitude": {
               "type": "number",
               "format": "double",
               "example": 151.203849
              },
              "Altitude": {
               "type": "number",
               "format": "double",
               "example": 45.5
              },
              "AltitudeUnits": {
               "type": "string",
               "example": "metre"
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Altitude",
              "AltitudeUnits",
              "Latitude",
              "Longitude",
              "datetime"
             ]
            },
            "CumulativeActiveRegenerationHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativeIdleHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativeIdleNonOperatingHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativeLoadCount": {
             "type": "object",
             "properties": {
              "Count": {
               "type": "integer",
               "format": "int32",
               "example": 500
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Count",
              "datetime"
             ]
            },
            "CumulativeOperatingHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativePowerTakeOffHours": {
             "type": "object",
             "properties": {
              "Hour": {
               "type": "number",
               "format": "double",
               "example": 12
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Hour",
              "datetime"
             ]
            },
            "CumulativePayloadTotals": {
             "type": "object",
             "properties": {
              "PayloadUnits": {
               "type": "string",
               "example": "kilogram"
              },
              "Payload": {
               "type": "number",
               "format": "double",
               "example": 1500.5
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Payload",
              "PayloadUnits",
              "datetime"
             ]
            },
            "DEFRemaining": {
             "type": "object",
             "properties": {
              "Percent": {
               "type": "number",
               "format": "double",
               "example": 85.75
              },
              "DEFTankCapacityUnits": {
               "type": "string",
               "example": "litre"
              },
              "DEFTankCapacity": {
               "type": "number",
               "format": "double",
               "example": 50
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Percent",
              "datetime"
             ]
            },
            "Distance": {
             "type": "object",
             "properties": {
              "OdometerUnits": {
               "type": "string",
               "example": "kilometre"
              },
              "Odometer": {
               "type": "number",
               "format": "double",
               "example": 500.4
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Odometer",
              "OdometerUnits",
              "datetime"
             ]
            },
            "EngineStatus": {
             "type": "object",
             "properties": {
              "EngineNumber": {
               "type": "string",
               "example": "EN12345"
              },
              "Running": {
               "type": "boolean",
               "example": true
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "EngineNumber",
              "Running",
              "datetime"
             ]
            },
            "FuelUsed": {
             "type": "object",
             "properties": {
              "FuelUnits": {
               "type": "string",
               "example": "litre"
              },
              "FuelConsumed": {
               "type": "number",
               "format": "double",
               "example": 50
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "FuelConsumed",
              "FuelUnits",
              "datetime"
             ]
            },
            "FuelUsedLast24": {
             "type": "object",
             "properties": {
              "FuelUnits": {
               "type": "string",
               "example": "litre"
              },
              "FuelConsumed": {
               "type": "number",
               "format": "double",
               "example": 50
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "FuelConsumed",
              "FuelUnits",
              "datetime"
             ]
            },
            "FuelRemaining": {
             "type": "object",
             "properties": {
              "Percent": {
               "type": "number",
               "format": "double",
               "example": 50.4
              },
              "FuelTankCapacityUnits": {
               "type": "string",
               "example": "litre"
              },
              "FuelTankCapacity": {
               "type": "number",
               "format": "double",
               "example": 100
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Percent",
              "datetime"
             ]
            },
            "MaximumSpeedLast24": {
             "type": "object",
             "properties": {
              "SpeedUnits": {
               "type": "string",
               "example": "kilometres per hour"
              },
              "Speed": {
               "type": "number",
               "format": "double",
               "example": 120.5
              },
              "datetime": {
               "type": "string",
               "example": "2025-01-15T12:00:00Z"
              }
             },
             "required": [
              "Speed",
              "SpeedUnits",
              "datetime"
             ]
            }
           },
           "required": [
            "EquipmentHeader"
           ]
          }
         }
        },
        "required": [
         "Equipment",
         "snapshotTime"
        ],
        "xml": {
         "name": "Fleet"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Request processed successfully."
     },
     "301": {
      "description": "Redirection occurred."
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "422": {
      "description": "The request was well-formed but was unable to be followed due to semantic errors."
     },
     "500": {
      "description": "Internal server error."
     }
    },
    "x-rate-limit-enabled": false,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/telematics/aemp',\n  headers: {'content-type': 'application/json'},\n  body: {\n    Fleet: {\n      snapshotTime: '2025-01-16T12:00:00Z',\n      Equipment: [\n        {\n          EquipmentHeader: {\n            UnitInstallDateTime: '2024-01-01T08:00:00Z',\n            OEMName: 'Manufacturer',\n            Model: 'Model-X',\n            EquipmentID: 'EQ12345',\n            SerialNumber: 'SN123456789012345',\n            PIN: 'PIN1234567890123'\n          },\n          AverageLoadFactorLast24: {Percent: 75.25, datetime: '2025-01-15T12:00:00Z'},\n          Location: {\n            Latitude: -33.867487,\n            Longitude: 151.20699,\n            Altitude: 45.5,\n            AltitudeUnits: 'metre',\n            datetime: '2025-01-16T12:00:00Z'\n          },\n          CumulativeActiveRegenerationHours: {Hour: 120.5, datetime: '2025-01-16T12:00:00Z'},\n          CumulativeIdleHours: {Hour: 200, datetime: '2025-01-16T12:00:00Z'},\n          CumulativeIdleNonOperatingHours: {Hour: 50, datetime: '2025-01-16T12:00:00Z'},\n          CumulativeLoadCount: {Count: 500, datetime: '2025-01-16T12:00:00Z'},\n          CumulativeOperatingHours: {Hour: 1000.5, datetime: '2025-01-16T12:00:00Z'},\n          CumulativePowerTakeOffHours: {Hour: 300, datetime: '2025-01-16T12:00:00Z'},\n          CumulativePayloadTotals: {PayloadUnits: 'kilogram', Payload: 1500.5, datetime: '2025-01-16T12:00:00Z'},\n          DEFRemaining: {\n            Percent: 85.75,\n            DEFTankCapacityUnits: 'litre',\n            DEFTankCapacity: 50,\n            datetime: '2025-01-16T12:00:00Z'\n          },\n          Distance: {\n            OdometerUnits: 'kilometre',\n            Odometer: 25000.5,\n            datetime: '2025-01-16T12:00:00Z'\n          },\n          EngineStatus: {EngineNumber: 'EN12345', Running: true, datetime: '2025-01-16T12:00:00Z'},\n          FuelUsed: {FuelUnits: 'litre', FuelConsumed: 500, datetime: '2025-01-16T12:00:00Z'},\n          FuelUsedLast24: {FuelUnits: 'litre', FuelConsumed: 50, datetime: '2025-01-15T12:00:00Z'},\n          FuelRemaining: {\n            Percent: 30.25,\n            FuelTankCapacityUnits: 'litre',\n            FuelTankCapacity: 100,\n            datetime: '2025-01-16T12:00:00Z'\n          },\n          MaximumSpeedLast24: {\n            SpeedUnits: 'kilometres per hour',\n            Speed: 120.5,\n            datetime: '2025-01-15T12:00:00Z'\n          }\n        }\n      ]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"Fleet\\\":{\\\"snapshotTime\\\":\\\"2025-01-16T12:00:00Z\\\",\\\"Equipment\\\":[{\\\"EquipmentHeader\\\":{\\\"UnitInstallDateTime\\\":\\\"2024-01-01T08:00:00Z\\\",\\\"OEMName\\\":\\\"Manufacturer\\\",\\\"Model\\\":\\\"Model-X\\\",\\\"EquipmentID\\\":\\\"EQ12345\\\",\\\"SerialNumber\\\":\\\"SN123456789012345\\\",\\\"PIN\\\":\\\"PIN1234567890123\\\"},\\\"AverageLoadFactorLast24\\\":{\\\"Percent\\\":75.25,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"},\\\"Location\\\":{\\\"Latitude\\\":-33.867487,\\\"Longitude\\\":151.20699,\\\"Altitude\\\":45.5,\\\"AltitudeUnits\\\":\\\"metre\\\",\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeActiveRegenerationHours\\\":{\\\"Hour\\\":120.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeIdleHours\\\":{\\\"Hour\\\":200,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeIdleNonOperatingHours\\\":{\\\"Hour\\\":50,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeLoadCount\\\":{\\\"Count\\\":500,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeOperatingHours\\\":{\\\"Hour\\\":1000.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativePowerTakeOffHours\\\":{\\\"Hour\\\":300,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativePayloadTotals\\\":{\\\"PayloadUnits\\\":\\\"kilogram\\\",\\\"Payload\\\":1500.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"DEFRemaining\\\":{\\\"Percent\\\":85.75,\\\"DEFTankCapacityUnits\\\":\\\"litre\\\",\\\"DEFTankCapacity\\\":50,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"Distance\\\":{\\\"OdometerUnits\\\":\\\"kilometre\\\",\\\"Odometer\\\":25000.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"EngineStatus\\\":{\\\"EngineNumber\\\":\\\"EN12345\\\",\\\"Running\\\":true,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"FuelUsed\\\":{\\\"FuelUnits\\\":\\\"litre\\\",\\\"FuelConsumed\\\":500,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"FuelUsedLast24\\\":{\\\"FuelUnits\\\":\\\"litre\\\",\\\"FuelConsumed\\\":50,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"},\\\"FuelRemaining\\\":{\\\"Percent\\\":30.25,\\\"FuelTankCapacityUnits\\\":\\\"litre\\\",\\\"FuelTankCapacity\\\":100,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"MaximumSpeedLast24\\\":{\\\"SpeedUnits\\\":\\\"kilometres per hour\\\",\\\"Speed\\\":120.5,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"}}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/1234/telematics/aemp\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/1234/telematics/aemp \\\n  --header 'content-type: application/json' \\\n  --data '{\"Fleet\":{\"snapshotTime\":\"2025-01-16T12:00:00Z\",\"Equipment\":[{\"EquipmentHeader\":{\"UnitInstallDateTime\":\"2024-01-01T08:00:00Z\",\"OEMName\":\"Manufacturer\",\"Model\":\"Model-X\",\"EquipmentID\":\"EQ12345\",\"SerialNumber\":\"SN123456789012345\",\"PIN\":\"PIN1234567890123\"},\"AverageLoadFactorLast24\":{\"Percent\":75.25,\"datetime\":\"2025-01-15T12:00:00Z\"},\"Location\":{\"Latitude\":-33.867487,\"Longitude\":151.20699,\"Altitude\":45.5,\"AltitudeUnits\":\"metre\",\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeActiveRegenerationHours\":{\"Hour\":120.5,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeIdleHours\":{\"Hour\":200,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeIdleNonOperatingHours\":{\"Hour\":50,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeLoadCount\":{\"Count\":500,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativeOperatingHours\":{\"Hour\":1000.5,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativePowerTakeOffHours\":{\"Hour\":300,\"datetime\":\"2025-01-16T12:00:00Z\"},\"CumulativePayloadTotals\":{\"PayloadUnits\":\"kilogram\",\"Payload\":1500.5,\"datetime\":\"2025-01-16T12:00:00Z\"},\"DEFRemaining\":{\"Percent\":85.75,\"DEFTankCapacityUnits\":\"litre\",\"DEFTankCapacity\":50,\"datetime\":\"2025-01-16T12:00:00Z\"},\"Distance\":{\"OdometerUnits\":\"kilometre\",\"Odometer\":25000.5,\"datetime\":\"2025-01-16T12:00:00Z\"},\"EngineStatus\":{\"EngineNumber\":\"EN12345\",\"Running\":true,\"datetime\":\"2025-01-16T12:00:00Z\"},\"FuelUsed\":{\"FuelUnits\":\"litre\",\"FuelConsumed\":500,\"datetime\":\"2025-01-16T12:00:00Z\"},\"FuelUsedLast24\":{\"FuelUnits\":\"litre\",\"FuelConsumed\":50,\"datetime\":\"2025-01-15T12:00:00Z\"},\"FuelRemaining\":{\"Percent\":30.25,\"FuelTankCapacityUnits\":\"litre\",\"FuelTankCapacity\":100,\"datetime\":\"2025-01-16T12:00:00Z\"},\"MaximumSpeedLast24\":{\"SpeedUnits\":\"kilometres per hour\",\"Speed\":120.5,\"datetime\":\"2025-01-15T12:00:00Z\"}}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/telematics/aemp\"),\n    Content = new StringContent(\"{\\\"Fleet\\\":{\\\"snapshotTime\\\":\\\"2025-01-16T12:00:00Z\\\",\\\"Equipment\\\":[{\\\"EquipmentHeader\\\":{\\\"UnitInstallDateTime\\\":\\\"2024-01-01T08:00:00Z\\\",\\\"OEMName\\\":\\\"Manufacturer\\\",\\\"Model\\\":\\\"Model-X\\\",\\\"EquipmentID\\\":\\\"EQ12345\\\",\\\"SerialNumber\\\":\\\"SN123456789012345\\\",\\\"PIN\\\":\\\"PIN1234567890123\\\"},\\\"AverageLoadFactorLast24\\\":{\\\"Percent\\\":75.25,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"},\\\"Location\\\":{\\\"Latitude\\\":-33.867487,\\\"Longitude\\\":151.20699,\\\"Altitude\\\":45.5,\\\"AltitudeUnits\\\":\\\"metre\\\",\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeActiveRegenerationHours\\\":{\\\"Hour\\\":120.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeIdleHours\\\":{\\\"Hour\\\":200,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeIdleNonOperatingHours\\\":{\\\"Hour\\\":50,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeLoadCount\\\":{\\\"Count\\\":500,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativeOperatingHours\\\":{\\\"Hour\\\":1000.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativePowerTakeOffHours\\\":{\\\"Hour\\\":300,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"CumulativePayloadTotals\\\":{\\\"PayloadUnits\\\":\\\"kilogram\\\",\\\"Payload\\\":1500.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"DEFRemaining\\\":{\\\"Percent\\\":85.75,\\\"DEFTankCapacityUnits\\\":\\\"litre\\\",\\\"DEFTankCapacity\\\":50,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"Distance\\\":{\\\"OdometerUnits\\\":\\\"kilometre\\\",\\\"Odometer\\\":25000.5,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"EngineStatus\\\":{\\\"EngineNumber\\\":\\\"EN12345\\\",\\\"Running\\\":true,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"FuelUsed\\\":{\\\"FuelUnits\\\":\\\"litre\\\",\\\"FuelConsumed\\\":500,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"FuelUsedLast24\\\":{\\\"FuelUnits\\\":\\\"litre\\\",\\\"FuelConsumed\\\":50,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"},\\\"FuelRemaining\\\":{\\\"Percent\\\":30.25,\\\"FuelTankCapacityUnits\\\":\\\"litre\\\",\\\"FuelTankCapacity\\\":100,\\\"datetime\\\":\\\"2025-01-16T12:00:00Z\\\"},\\\"MaximumSpeedLast24\\\":{\\\"SpeedUnits\\\":\\\"kilometres per hour\\\",\\\"Speed\\\":120.5,\\\"datetime\\\":\\\"2025-01-15T12:00:00Z\\\"}}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}