{
 "openapi": "3.0.0",
 "info": {
  "title": "Time And Material Notification",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Time and Material Notification",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/time_and_material_notifications": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a new Time And Material Notification",
    "description": "Create a new Time And Material Notification associated with the specified project",
    "tags": [
     "Time and Material Notification"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and Material Notification Body",
        "type": "object",
        "required": [
         "time_and_material_notification"
        ],
        "properties": {
         "time_and_material_notification": {
          "title": "TimeAndMaterialNotification",
          "type": "object",
          "description": "Time and Material Notification Object",
          "properties": {
           "creation": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           },
           "customer_signed": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           },
           "company_signed": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           },
           "closed": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           },
           "group_equipment_totals_by": {
            "type": "string",
            "description": "Grouping configurations for T&M Equipment push to Change Management",
            "example": "per_ticket"
           },
           "notify_dl_on_customer_signed": {
            "type": "boolean",
            "example": true
           },
           "notify_dl_on_company_signed": {
            "type": "boolean",
            "example": true
           },
           "notify_dl_on_creation": {
            "type": "boolean",
            "example": true
           },
           "notify_dl_on_closed": {
            "type": "boolean",
            "example": true
           },
           "group_labor_totals_by": {
            "type": "string",
            "description": "Grouping configurations for T&M Labor push to Change Management",
            "example": "per_ticket"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Time And Material Notification Created Succesfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Notification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1200
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the T&M ticket was logged for",
           "example": 1456
          },
          "company_id": {
           "type": "integer",
           "description": "ID of the company the T&M ticket was logged for",
           "example": 1590
          },
          "creation": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "customer_signed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "company_signed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "closed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "group_equipment_totals_by": {
           "type": "string",
           "description": "Grouping configurations for T&M Equipment push to Change Management",
           "example": "per_ticket"
          },
          "group_labor_totals_by": {
           "type": "string",
           "description": "Grouping configurations for T&M Labor push to Change Management",
           "example": "per_ticket"
          },
          "notify_dl_on_customer_signed": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_company_signed": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_creation": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_closed": {
           "type": "boolean",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was created",
           "example": "2019-12-10T22:10:33Z"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error Creating a Time And Material Notification",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_notification: {\n      creation: [95861],\n      customer_signed: [95861],\n      company_signed: [95861],\n      closed: [95861],\n      group_equipment_totals_by: 'per_ticket',\n      notify_dl_on_customer_signed: true,\n      notify_dl_on_company_signed: true,\n      notify_dl_on_creation: true,\n      notify_dl_on_closed: true,\n      group_labor_totals_by: 'per_ticket'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_notification\\\":{\\\"creation\\\":[95861],\\\"customer_signed\\\":[95861],\\\"company_signed\\\":[95861],\\\"closed\\\":[95861],\\\"group_equipment_totals_by\\\":\\\"per_ticket\\\",\\\"notify_dl_on_customer_signed\\\":true,\\\"notify_dl_on_company_signed\\\":true,\\\"notify_dl_on_creation\\\":true,\\\"notify_dl_on_closed\\\":true,\\\"group_labor_totals_by\\\":\\\"per_ticket\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_notification\":{\"creation\":[95861],\"customer_signed\":[95861],\"company_signed\":[95861],\"closed\":[95861],\"group_equipment_totals_by\":\"per_ticket\",\"notify_dl_on_customer_signed\":true,\"notify_dl_on_company_signed\":true,\"notify_dl_on_creation\":true,\"notify_dl_on_closed\":true,\"group_labor_totals_by\":\"per_ticket\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"time_and_material_notification\\\":{\\\"creation\\\":[95861],\\\"customer_signed\\\":[95861],\\\"company_signed\\\":[95861],\\\"closed\\\":[95861],\\\"group_equipment_totals_by\\\":\\\"per_ticket\\\",\\\"notify_dl_on_customer_signed\\\":true,\\\"notify_dl_on_company_signed\\\":true,\\\"notify_dl_on_creation\\\":true,\\\"notify_dl_on_closed\\\":true,\\\"group_labor_totals_by\\\":\\\"per_ticket\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Time And Material Notification",
    "description": "Return Time And Material Notification detailed information.",
    "tags": [
     "Time And Material Notification"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Notification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1200
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the T&M ticket was logged for",
           "example": 1456
          },
          "company_id": {
           "type": "integer",
           "description": "ID of the company the T&M ticket was logged for",
           "example": 1590
          },
          "creation": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "customer_signed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "company_signed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "closed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "group_equipment_totals_by": {
           "type": "string",
           "description": "Grouping configurations for T&M Equipment push to Change Management",
           "example": "per_ticket"
          },
          "group_labor_totals_by": {
           "type": "string",
           "description": "Grouping configurations for T&M Labor push to Change Management",
           "example": "per_ticket"
          },
          "notify_dl_on_customer_signed": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_company_signed": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_creation": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_closed": {
           "type": "boolean",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was created",
           "example": "2019-12-10T22:10:33Z"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a Time And Material Notification",
    "description": "Updating a Time And Material Notification associated with the specified project",
    "tags": [
     "Time And Material Notification"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and Material Notification Body",
        "type": "object",
        "required": [
         "time_and_material_notification"
        ],
        "properties": {
         "time_and_material_notification": {
          "title": "TimeAndMaterialNotification",
          "type": "object",
          "description": "Time and Material Notification Object",
          "properties": {
           "creation": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           },
           "customer_signed": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           },
           "company_signed": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           },
           "closed": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           },
           "group_equipment_totals_by": {
            "type": "string",
            "description": "Grouping configurations for T&M Equipment push to Change Management",
            "example": "per_ticket"
           },
           "notify_dl_on_customer_signed": {
            "type": "boolean",
            "example": true
           },
           "notify_dl_on_company_signed": {
            "type": "boolean",
            "example": true
           },
           "notify_dl_on_creation": {
            "type": "boolean",
            "example": true
           },
           "notify_dl_on_closed": {
            "type": "boolean",
            "example": true
           },
           "group_labor_totals_by": {
            "type": "string",
            "description": "Grouping configurations for T&M Labor push to Change Management",
            "example": "per_ticket"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Time And Material Notification updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Notification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1200
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the T&M ticket was logged for",
           "example": 1456
          },
          "company_id": {
           "type": "integer",
           "description": "ID of the company the T&M ticket was logged for",
           "example": 1590
          },
          "creation": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "customer_signed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "company_signed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "closed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "group_equipment_totals_by": {
           "type": "string",
           "description": "Grouping configurations for T&M Equipment push to Change Management",
           "example": "per_ticket"
          },
          "group_labor_totals_by": {
           "type": "string",
           "description": "Grouping configurations for T&M Labor push to Change Management",
           "example": "per_ticket"
          },
          "notify_dl_on_customer_signed": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_company_signed": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_creation": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_closed": {
           "type": "boolean",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was created",
           "example": "2019-12-10T22:10:33Z"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating a Time And Material Notification",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_notification: {\n      creation: [95861],\n      customer_signed: [95861],\n      company_signed: [95861],\n      closed: [95861],\n      group_equipment_totals_by: 'per_ticket',\n      notify_dl_on_customer_signed: true,\n      notify_dl_on_company_signed: true,\n      notify_dl_on_creation: true,\n      notify_dl_on_closed: true,\n      group_labor_totals_by: 'per_ticket'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_notification\\\":{\\\"creation\\\":[95861],\\\"customer_signed\\\":[95861],\\\"company_signed\\\":[95861],\\\"closed\\\":[95861],\\\"group_equipment_totals_by\\\":\\\"per_ticket\\\",\\\"notify_dl_on_customer_signed\\\":true,\\\"notify_dl_on_company_signed\\\":true,\\\"notify_dl_on_creation\\\":true,\\\"notify_dl_on_closed\\\":true,\\\"group_labor_totals_by\\\":\\\"per_ticket\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_notification\":{\"creation\":[95861],\"customer_signed\":[95861],\"company_signed\":[95861],\"closed\":[95861],\"group_equipment_totals_by\":\"per_ticket\",\"notify_dl_on_customer_signed\":true,\"notify_dl_on_company_signed\":true,\"notify_dl_on_creation\":true,\"notify_dl_on_closed\":true,\"group_labor_totals_by\":\"per_ticket\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"time_and_material_notification\\\":{\\\"creation\\\":[95861],\\\"customer_signed\\\":[95861],\\\"company_signed\\\":[95861],\\\"closed\\\":[95861],\\\"group_equipment_totals_by\\\":\\\"per_ticket\\\",\\\"notify_dl_on_customer_signed\\\":true,\\\"notify_dl_on_company_signed\\\":true,\\\"notify_dl_on_creation\\\":true,\\\"notify_dl_on_closed\\\":true,\\\"group_labor_totals_by\\\":\\\"per_ticket\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete a Time And Material Notification",
    "description": "Deleting a Time And Material Notification associated with the specified project",
    "tags": [
     "Time And Material Notification"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Time And Material Notification deleted",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Notification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1200
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the T&M ticket was logged for",
           "example": 1456
          },
          "company_id": {
           "type": "integer",
           "description": "ID of the company the T&M ticket was logged for",
           "example": 1590
          },
          "creation": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "customer_signed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "company_signed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "closed": {
           "type": "array",
           "items": {
            "type": "integer",
            "example": 95861
           }
          },
          "group_equipment_totals_by": {
           "type": "string",
           "description": "Grouping configurations for T&M Equipment push to Change Management",
           "example": "per_ticket"
          },
          "group_labor_totals_by": {
           "type": "string",
           "description": "Grouping configurations for T&M Labor push to Change Management",
           "example": "per_ticket"
          },
          "notify_dl_on_customer_signed": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_company_signed": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_creation": {
           "type": "boolean",
           "example": true
          },
          "notify_dl_on_closed": {
           "type": "boolean",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was created",
           "example": "2019-12-10T22:10:33Z"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_notifications\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}