{
 "openapi": "3.0.0",
 "info": {
  "title": "Time And Material Entry",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Time and Material Entry",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/time_and_material_entries": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List all Time And Material Entry",
    "description": "Return a list of all Time And Material Entry associated with the specified project",
    "tags": [
     "Time and Material Entry"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time And Material Entry",
         "items": {
          "type": "object",
          "description": "Time and Material Entry",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 1200
           },
           "name": {
            "type": "string",
            "description": "The title of T&M ticket",
            "example": "Remove all pipes"
           },
           "reference_number": {
            "type": "string",
            "description": "The refrence number associate with T&M ticket",
            "example": "ABCDE789"
           },
           "description": {
            "type": "string",
            "description": "The description of job",
            "example": "We focused on removing all damaged pipe"
           },
           "status": {
            "type": "integer",
            "description": "Current status of T&M ticket",
            "example": "draft"
           },
           "private": {
            "type": "boolean",
            "description": "If the T&M ticket is private",
            "example": false
           },
           "number": {
            "type": "integer",
            "description": "Unique number for the T&M ticket"
           },
           "company_signee_party": {
            "description": "Company signee party",
            "type": "object",
            "title": "extended view",
            "properties": {
             "employee_id": {
              "type": "string",
              "description": "Employee ID for the Party Person",
              "example": "123456789",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "Party Person first name",
              "example": "Leah"
             },
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Party Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "Employee status for the Party Person",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "Party Person last name",
              "example": "Russell"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "work_classification": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 57869
               },
               "name": {
                "type": "string",
                "description": "The name of the classification",
                "example": "Driver"
               }
              }
             }
            }
           },
           "company_signature": {
            "description": "Company signature",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "signature_text": {
              "type": "string",
              "description": "Acknowedgement text the signature was signed against.",
              "example": "I acknowledge these hours are correct."
             },
             "file_name": {
              "type": "string",
              "description": "File Name",
              "example": "signature_2018_09_16.jpg"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "medium_thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "large_thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at date",
              "example": "2024-03-15T06:13:10Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "customer_signature": {
            "description": "Customer signature",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "signature_text": {
              "type": "string",
              "description": "Acknowedgement text the signature was signed against.",
              "example": "I acknowledge these hours are correct."
             },
             "file_name": {
              "type": "string",
              "description": "File Name",
              "example": "signature_2018_09_16.jpg"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "medium_thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "large_thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at date",
              "example": "2024-03-15T06:13:10Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "customer_signee_party": {
            "description": "Customer signee party",
            "type": "object",
            "title": "extended view",
            "properties": {
             "employee_id": {
              "type": "string",
              "description": "Employee ID for the Party Person",
              "example": "123456789",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "Party Person first name",
              "example": "Leah"
             },
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Party Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "Employee status for the Party Person",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "Party Person last name",
              "example": "Russell"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "work_classification": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 57869
               },
               "name": {
                "type": "string",
                "description": "The name of the classification",
                "example": "Driver"
               }
              }
             }
            }
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the T&M ticket was logged for",
            "example": 1456
           },
           "company_id": {
            "type": "integer",
            "description": "ID of the company the T&M ticket was logged for",
            "example": 1590
           },
           "location_id": {
            "type": "integer",
            "description": "ID of the location the T&M ticket was logged for",
            "example": 4567
           },
           "customer_id": {
            "type": "integer",
            "description": "ID of the costomer who asked for T&M ticket",
            "example": 567
           },
           "work_performed_on_date": {
            "type": "string",
            "description": "Date work performed on",
            "example": "2019-12-10T22:10:33Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the T&M ticket was updated",
            "example": "2019-12-10T22:10:33Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the T&M ticket was created",
            "example": "2019-12-10T22:10:33Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the T&M ticket was deleted",
            "example": "2019-07-14T10:09:56Z"
           },
           "created_by_id": {
            "type": "integer",
            "description": "The user ID the T&M ticket was created with",
            "example": 7
           },
           "time_and_material_entry_attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "description": "Time and Material Entry Attachment",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 1200
              },
              "attachment_id": {
               "type": "integer",
               "description": "ID of the associated prostore file",
               "example": 1233
              },
              "content_type": {
               "type": "string",
               "description": "Content type",
               "example": "image/jpeg"
              },
              "presentation_url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/presentation_url"
              },
              "url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/thumbnail_url"
              },
              "filename": {
               "type": "string",
               "description": "Filename of Time and Material Entry Attachment",
               "example": "Example Filename"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a new Time And Material Entry",
    "description": "Create a new Time And Material Entry associated with the specified project",
    "tags": [
     "Time and Material Entry"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and Material Entry Body",
        "type": "object",
        "required": [
         "time_and_material_entry"
        ],
        "properties": {
         "time_and_material_entry": {
          "title": "TimeAndMaterialEntry",
          "type": "object",
          "description": "Time and Material Entry Object",
          "properties": {
           "name": {
            "type": "string",
            "description": "The title of T&M ticket",
            "example": "Remove all pipes"
           },
           "reference_number": {
            "type": "string",
            "description": "The refrence number associate with T&M ticket",
            "example": "ABCDE789"
           },
           "description": {
            "type": "string",
            "description": "The description of job",
            "example": "We focused on removing all damaged pipe"
           },
           "status": {
            "type": "string",
            "description": "Current status of T&M ticket",
            "example": "draft"
           },
           "private": {
            "type": "boolean",
            "description": "If the T&M ticket is private",
            "example": false
           },
           "number": {
            "type": "integer",
            "description": "Unique number for the T&M ticket",
            "example": 56
           },
           "customer_signature_id": {
            "type": "integer",
            "description": "The ID associate with customer's signature",
            "example": 7
           },
           "company_signature_id": {
            "type": "integer",
            "description": "The ID associate with company's signature",
            "example": 3
           },
           "company_signee_party_id": {
            "type": "integer",
            "description": "The ID associate with company's signature party",
            "example": 7
           },
           "customer_signee_party_id": {
            "type": "integer",
            "description": "The ID associate with customer's signature party",
            "example": 3
           },
           "work_performed_on_date": {
            "type": "string",
            "description": "Date work performed on",
            "example": "2019-12-10T22:10:33Z"
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "The specified array of upload ids is saved as Time And Material Entry Attachments.",
            "items": {
             "type": "string",
             "example": "1ZE146W9K804SAJJZX19JVAD0R"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Time And Material Entry Created Successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Entry",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1200
          },
          "name": {
           "type": "string",
           "description": "The title of T&M ticket",
           "example": "Remove all pipes"
          },
          "reference_number": {
           "type": "string",
           "description": "The refrence number associate with T&M ticket",
           "example": "ABCDE789"
          },
          "description": {
           "type": "string",
           "description": "The description of job",
           "example": "We focused on removing all damaged pipe"
          },
          "status": {
           "type": "integer",
           "description": "Current status of T&M ticket",
           "example": "draft"
          },
          "private": {
           "type": "boolean",
           "description": "If the T&M ticket is private",
           "example": false
          },
          "number": {
           "type": "integer",
           "description": "Unique number for the T&M ticket"
          },
          "company_signee_party": {
           "description": "Company signee party",
           "type": "object",
           "title": "extended view",
           "properties": {
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Party Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Party Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Party Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Party Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Party Person last name",
             "example": "Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            }
           }
          },
          "company_signature": {
           "description": "Company signature",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "signature_text": {
             "type": "string",
             "description": "Acknowedgement text the signature was signed against.",
             "example": "I acknowledge these hours are correct."
            },
            "file_name": {
             "type": "string",
             "description": "File Name",
             "example": "signature_2018_09_16.jpg"
            },
            "url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "medium_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "large_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at date",
             "example": "2024-03-15T06:13:10Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "customer_signature": {
           "description": "Customer signature",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "signature_text": {
             "type": "string",
             "description": "Acknowedgement text the signature was signed against.",
             "example": "I acknowledge these hours are correct."
            },
            "file_name": {
             "type": "string",
             "description": "File Name",
             "example": "signature_2018_09_16.jpg"
            },
            "url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "medium_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "large_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at date",
             "example": "2024-03-15T06:13:10Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "customer_signee_party": {
           "description": "Customer signee party",
           "type": "object",
           "title": "extended view",
           "properties": {
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Party Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Party Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Party Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Party Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Party Person last name",
             "example": "Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            }
           }
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the T&M ticket was logged for",
           "example": 1456
          },
          "company_id": {
           "type": "integer",
           "description": "ID of the company the T&M ticket was logged for",
           "example": 1590
          },
          "location_id": {
           "type": "integer",
           "description": "ID of the location the T&M ticket was logged for",
           "example": 4567
          },
          "customer_id": {
           "type": "integer",
           "description": "ID of the costomer who asked for T&M ticket",
           "example": 567
          },
          "work_performed_on_date": {
           "type": "string",
           "description": "Date work performed on",
           "example": "2019-12-10T22:10:33Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was created",
           "example": "2019-12-10T22:10:33Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was deleted",
           "example": "2019-07-14T10:09:56Z"
          },
          "created_by_id": {
           "type": "integer",
           "description": "The user ID the T&M ticket was created with",
           "example": 7
          },
          "time_and_material_entry_attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Time and Material Entry Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1200
             },
             "attachment_id": {
              "type": "integer",
              "description": "ID of the associated prostore file",
              "example": 1233
             },
             "content_type": {
              "type": "string",
              "description": "Content type",
              "example": "image/jpeg"
             },
             "presentation_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/presentation_url"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/thumbnail_url"
             },
             "filename": {
              "type": "string",
              "description": "Filename of Time and Material Entry Attachment",
              "example": "Example Filename"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error Creating a Time And Material Entry",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_entry: {\n      name: 'Remove all pipes',\n      reference_number: 'ABCDE789',\n      description: 'We focused on removing all damaged pipe',\n      status: 'draft',\n      private: false,\n      number: 56,\n      customer_signature_id: 7,\n      company_signature_id: 3,\n      company_signee_party_id: 7,\n      customer_signee_party_id: 3,\n      work_performed_on_date: '2019-12-10T22:10:33Z',\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['1ZE146W9K804SAJJZX19JVAD0R']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_entry\\\":{\\\"name\\\":\\\"Remove all pipes\\\",\\\"reference_number\\\":\\\"ABCDE789\\\",\\\"description\\\":\\\"We focused on removing all damaged pipe\\\",\\\"status\\\":\\\"draft\\\",\\\"private\\\":false,\\\"number\\\":56,\\\"customer_signature_id\\\":7,\\\"company_signature_id\\\":3,\\\"company_signee_party_id\\\":7,\\\"customer_signee_party_id\\\":3,\\\"work_performed_on_date\\\":\\\"2019-12-10T22:10:33Z\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_entry\":{\"name\":\"Remove all pipes\",\"reference_number\":\"ABCDE789\",\"description\":\"We focused on removing all damaged pipe\",\"status\":\"draft\",\"private\":false,\"number\":56,\"customer_signature_id\":7,\"company_signature_id\":3,\"company_signee_party_id\":7,\"customer_signee_party_id\":3,\"work_performed_on_date\":\"2019-12-10T22:10:33Z\",\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"1ZE146W9K804SAJJZX19JVAD0R\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"time_and_material_entry\\\":{\\\"name\\\":\\\"Remove all pipes\\\",\\\"reference_number\\\":\\\"ABCDE789\\\",\\\"description\\\":\\\"We focused on removing all damaged pipe\\\",\\\"status\\\":\\\"draft\\\",\\\"private\\\":false,\\\"number\\\":56,\\\"customer_signature_id\\\":7,\\\"company_signature_id\\\":3,\\\"company_signee_party_id\\\":7,\\\"customer_signee_party_id\\\":3,\\\"work_performed_on_date\\\":\\\"2019-12-10T22:10:33Z\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Attachments by Reference",
      "description": "Add new attachments by image, drawing revision, file version, or form.",
      "endpoint": "POST /projects/{project_id}/time_and_material_entries",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-08-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-entry?version=1.0#create-a-new-time-and-material-entry"
     },
     {
      "summary": "Add upload_ids as a new parameter for Time And Material Entries",
      "description": "Add upload_id as a new parameter for Time And Material Entries POST endpoint",
      "endpoint": "POST /projects/{project_id}/time_and_material_entries",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-entry?version=1.0#create-a-new-time-and-material-entry"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_entries/bulk_update": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Multiple Time And Material Entries",
    "description": "Multiple Time And Material Entries Updated",
    "tags": [
     "Time And Material Entry"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and Material Entry Bulk Update Body",
        "type": "object",
        "required": [
         "time_and_material_entry"
        ],
        "properties": {
         "time_and_material_entry": {
          "title": "TimeAndMaterialEntry",
          "type": "object",
          "description": "Time and Material Entry Object",
          "properties": {
           "time_and_material_entry_ids": {
            "type": "array",
            "description": "ID's of the Time And Material Entry Objects to be updated",
            "items": {
             "type": "integer",
             "description": "Time And Material Entry Object ID",
             "example": 1200
            }
           },
           "change_event_id": {
            "type": "integer",
            "description": "Associated Change Event ID",
            "example": 65
           },
           "update_change_event_attachment": {
            "type": "boolean",
            "description": "Will the attachments need to be updated"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Returns the updated Time And Materil Entries",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time And Material Entry",
         "items": {
          "type": "object",
          "description": "Time and Material Entry",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 1200
           },
           "name": {
            "type": "string",
            "description": "The title of T&M ticket",
            "example": "Remove all pipes"
           },
           "reference_number": {
            "type": "string",
            "description": "The refrence number associate with T&M ticket",
            "example": "ABCDE789"
           },
           "description": {
            "type": "string",
            "description": "The description of job",
            "example": "We focused on removing all damaged pipe"
           },
           "status": {
            "type": "integer",
            "description": "Current status of T&M ticket",
            "example": "draft"
           },
           "private": {
            "type": "boolean",
            "description": "If the T&M ticket is private",
            "example": false
           },
           "number": {
            "type": "integer",
            "description": "Unique number for the T&M ticket"
           },
           "company_signee_party": {
            "description": "Company signee party",
            "type": "object",
            "title": "extended view",
            "properties": {
             "employee_id": {
              "type": "string",
              "description": "Employee ID for the Party Person",
              "example": "123456789",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "Party Person first name",
              "example": "Leah"
             },
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Party Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "Employee status for the Party Person",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "Party Person last name",
              "example": "Russell"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "work_classification": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 57869
               },
               "name": {
                "type": "string",
                "description": "The name of the classification",
                "example": "Driver"
               }
              }
             }
            }
           },
           "company_signature": {
            "description": "Company signature",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "signature_text": {
              "type": "string",
              "description": "Acknowedgement text the signature was signed against.",
              "example": "I acknowledge these hours are correct."
             },
             "file_name": {
              "type": "string",
              "description": "File Name",
              "example": "signature_2018_09_16.jpg"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "medium_thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "large_thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at date",
              "example": "2024-03-15T06:13:10Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "customer_signature": {
            "description": "Customer signature",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "signature_text": {
              "type": "string",
              "description": "Acknowedgement text the signature was signed against.",
              "example": "I acknowledge these hours are correct."
             },
             "file_name": {
              "type": "string",
              "description": "File Name",
              "example": "signature_2018_09_16.jpg"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "medium_thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "large_thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at date",
              "example": "2024-03-15T06:13:10Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "customer_signee_party": {
            "description": "Customer signee party",
            "type": "object",
            "title": "extended view",
            "properties": {
             "employee_id": {
              "type": "string",
              "description": "Employee ID for the Party Person",
              "example": "123456789",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "Party Person first name",
              "example": "Leah"
             },
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Party Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "Employee status for the Party Person",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "Party Person last name",
              "example": "Russell"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "work_classification": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 57869
               },
               "name": {
                "type": "string",
                "description": "The name of the classification",
                "example": "Driver"
               }
              }
             }
            }
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the T&M ticket was logged for",
            "example": 1456
           },
           "company_id": {
            "type": "integer",
            "description": "ID of the company the T&M ticket was logged for",
            "example": 1590
           },
           "location_id": {
            "type": "integer",
            "description": "ID of the location the T&M ticket was logged for",
            "example": 4567
           },
           "customer_id": {
            "type": "integer",
            "description": "ID of the costomer who asked for T&M ticket",
            "example": 567
           },
           "work_performed_on_date": {
            "type": "string",
            "description": "Date work performed on",
            "example": "2019-12-10T22:10:33Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the T&M ticket was updated",
            "example": "2019-12-10T22:10:33Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the T&M ticket was created",
            "example": "2019-12-10T22:10:33Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the T&M ticket was deleted",
            "example": "2019-07-14T10:09:56Z"
           },
           "created_by_id": {
            "type": "integer",
            "description": "The user ID the T&M ticket was created with",
            "example": 7
           },
           "time_and_material_entry_attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "description": "Time and Material Entry Attachment",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 1200
              },
              "attachment_id": {
               "type": "integer",
               "description": "ID of the associated prostore file",
               "example": 1233
              },
              "content_type": {
               "type": "string",
               "description": "Content type",
               "example": "image/jpeg"
              },
              "presentation_url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/presentation_url"
              },
              "url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/thumbnail_url"
              },
              "filename": {
               "type": "string",
               "description": "Filename of Time and Material Entry Attachment",
               "example": "Example Filename"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating Time And Material Entries",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/bulk_update',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_entry: {\n      time_and_material_entry_ids: [1200],\n      change_event_id: 65,\n      update_change_event_attachment: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_entry\\\":{\\\"time_and_material_entry_ids\\\":[1200],\\\"change_event_id\\\":65,\\\"update_change_event_attachment\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/bulk_update?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/bulk_update?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_entry\":{\"time_and_material_entry_ids\":[1200],\"change_event_id\":65,\"update_change_event_attachment\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/bulk_update?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"time_and_material_entry\\\":{\\\"time_and_material_entry_ids\\\":[1200],\\\"change_event_id\\\":65,\\\"update_change_event_attachment\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_entries/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Time And Material Entry",
    "description": "Return Time And Material Entry detailed information.",
    "tags": [
     "Time And Material Entry"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Entry",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1200
          },
          "name": {
           "type": "string",
           "description": "The title of T&M ticket",
           "example": "Remove all pipes"
          },
          "reference_number": {
           "type": "string",
           "description": "The refrence number associate with T&M ticket",
           "example": "ABCDE789"
          },
          "description": {
           "type": "string",
           "description": "The description of job",
           "example": "We focused on removing all damaged pipe"
          },
          "status": {
           "type": "integer",
           "description": "Current status of T&M ticket",
           "example": "draft"
          },
          "private": {
           "type": "boolean",
           "description": "If the T&M ticket is private",
           "example": false
          },
          "number": {
           "type": "integer",
           "description": "Unique number for the T&M ticket"
          },
          "company_signee_party": {
           "description": "Company signee party",
           "type": "object",
           "title": "extended view",
           "properties": {
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Party Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Party Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Party Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Party Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Party Person last name",
             "example": "Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            }
           }
          },
          "company_signature": {
           "description": "Company signature",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "signature_text": {
             "type": "string",
             "description": "Acknowedgement text the signature was signed against.",
             "example": "I acknowledge these hours are correct."
            },
            "file_name": {
             "type": "string",
             "description": "File Name",
             "example": "signature_2018_09_16.jpg"
            },
            "url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "medium_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "large_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at date",
             "example": "2024-03-15T06:13:10Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "customer_signature": {
           "description": "Customer signature",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "signature_text": {
             "type": "string",
             "description": "Acknowedgement text the signature was signed against.",
             "example": "I acknowledge these hours are correct."
            },
            "file_name": {
             "type": "string",
             "description": "File Name",
             "example": "signature_2018_09_16.jpg"
            },
            "url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "medium_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "large_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at date",
             "example": "2024-03-15T06:13:10Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "customer_signee_party": {
           "description": "Customer signee party",
           "type": "object",
           "title": "extended view",
           "properties": {
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Party Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Party Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Party Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Party Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Party Person last name",
             "example": "Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            }
           }
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the T&M ticket was logged for",
           "example": 1456
          },
          "company_id": {
           "type": "integer",
           "description": "ID of the company the T&M ticket was logged for",
           "example": 1590
          },
          "location_id": {
           "type": "integer",
           "description": "ID of the location the T&M ticket was logged for",
           "example": 4567
          },
          "customer_id": {
           "type": "integer",
           "description": "ID of the costomer who asked for T&M ticket",
           "example": 567
          },
          "work_performed_on_date": {
           "type": "string",
           "description": "Date work performed on",
           "example": "2019-12-10T22:10:33Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was created",
           "example": "2019-12-10T22:10:33Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was deleted",
           "example": "2019-07-14T10:09:56Z"
          },
          "created_by_id": {
           "type": "integer",
           "description": "The user ID the T&M ticket was created with",
           "example": 7
          },
          "time_and_material_entry_attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Time and Material Entry Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1200
             },
             "attachment_id": {
              "type": "integer",
              "description": "ID of the associated prostore file",
              "example": 1233
             },
             "content_type": {
              "type": "string",
              "description": "Content type",
              "example": "image/jpeg"
             },
             "presentation_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/presentation_url"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/thumbnail_url"
             },
             "filename": {
              "type": "string",
              "description": "Filename of Time and Material Entry Attachment",
              "example": "Example Filename"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a Time And Material Entry",
    "description": "Updating a Time And Material Entry associated with the specified project",
    "tags": [
     "Time And Material Entry"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Time And Material Entry",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and Material Entry Body",
        "type": "object",
        "required": [
         "time_and_material_entry"
        ],
        "properties": {
         "time_and_material_entry": {
          "title": "TimeAndMaterialEntry",
          "type": "object",
          "description": "Time and Material Entry Object",
          "properties": {
           "name": {
            "type": "string",
            "description": "The title of T&M ticket",
            "example": "Remove all pipes"
           },
           "reference_number": {
            "type": "string",
            "description": "The refrence number associate with T&M ticket",
            "example": "ABCDE789"
           },
           "description": {
            "type": "string",
            "description": "The description of job",
            "example": "We focused on removing all damaged pipe"
           },
           "status": {
            "type": "string",
            "description": "Current status of T&M ticket",
            "example": "draft"
           },
           "private": {
            "type": "boolean",
            "description": "If the T&M ticket is private",
            "example": false
           },
           "number": {
            "type": "integer",
            "description": "Unique number for the T&M ticket",
            "example": 56
           },
           "customer_signature_id": {
            "type": "integer",
            "description": "The ID associate with customer's signature",
            "example": 7
           },
           "company_signature_id": {
            "type": "integer",
            "description": "The ID associate with company's signature",
            "example": 3
           },
           "company_signee_party_id": {
            "type": "integer",
            "description": "The ID associate with company's signature party",
            "example": 7
           },
           "customer_signee_party_id": {
            "type": "integer",
            "description": "The ID associate with customer's signature party",
            "example": 3
           },
           "work_performed_on_date": {
            "type": "string",
            "description": "Date work performed on",
            "example": "2019-12-10T22:10:33Z"
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "The specified array of upload ids is saved as Time And Material Entry Attachments.",
            "items": {
             "type": "string",
             "example": "1ZE146W9K804SAJJZX19JVAD0R"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Time And Material Entry updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Entry",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1200
          },
          "name": {
           "type": "string",
           "description": "The title of T&M ticket",
           "example": "Remove all pipes"
          },
          "reference_number": {
           "type": "string",
           "description": "The refrence number associate with T&M ticket",
           "example": "ABCDE789"
          },
          "description": {
           "type": "string",
           "description": "The description of job",
           "example": "We focused on removing all damaged pipe"
          },
          "status": {
           "type": "integer",
           "description": "Current status of T&M ticket",
           "example": "draft"
          },
          "private": {
           "type": "boolean",
           "description": "If the T&M ticket is private",
           "example": false
          },
          "number": {
           "type": "integer",
           "description": "Unique number for the T&M ticket"
          },
          "company_signee_party": {
           "description": "Company signee party",
           "type": "object",
           "title": "extended view",
           "properties": {
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Party Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Party Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Party Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Party Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Party Person last name",
             "example": "Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            }
           }
          },
          "company_signature": {
           "description": "Company signature",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "signature_text": {
             "type": "string",
             "description": "Acknowedgement text the signature was signed against.",
             "example": "I acknowledge these hours are correct."
            },
            "file_name": {
             "type": "string",
             "description": "File Name",
             "example": "signature_2018_09_16.jpg"
            },
            "url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "medium_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "large_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at date",
             "example": "2024-03-15T06:13:10Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "customer_signature": {
           "description": "Customer signature",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "signature_text": {
             "type": "string",
             "description": "Acknowedgement text the signature was signed against.",
             "example": "I acknowledge these hours are correct."
            },
            "file_name": {
             "type": "string",
             "description": "File Name",
             "example": "signature_2018_09_16.jpg"
            },
            "url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "medium_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "large_thumbnail_url": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at date",
             "example": "2024-03-15T06:13:10Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "customer_signee_party": {
           "description": "Customer signee party",
           "type": "object",
           "title": "extended view",
           "properties": {
            "employee_id": {
             "type": "string",
             "description": "Employee ID for the Party Person",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "Party Person first name",
             "example": "Leah"
            },
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Party Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "Employee status for the Party Person",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "Party Person last name",
             "example": "Russell"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if this Party Person represents a User. NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "work_classification": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 57869
              },
              "name": {
               "type": "string",
               "description": "The name of the classification",
               "example": "Driver"
              }
             }
            }
           }
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the T&M ticket was logged for",
           "example": 1456
          },
          "company_id": {
           "type": "integer",
           "description": "ID of the company the T&M ticket was logged for",
           "example": 1590
          },
          "location_id": {
           "type": "integer",
           "description": "ID of the location the T&M ticket was logged for",
           "example": 4567
          },
          "customer_id": {
           "type": "integer",
           "description": "ID of the costomer who asked for T&M ticket",
           "example": 567
          },
          "work_performed_on_date": {
           "type": "string",
           "description": "Date work performed on",
           "example": "2019-12-10T22:10:33Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was created",
           "example": "2019-12-10T22:10:33Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the T&M ticket was deleted",
           "example": "2019-07-14T10:09:56Z"
          },
          "created_by_id": {
           "type": "integer",
           "description": "The user ID the T&M ticket was created with",
           "example": 7
          },
          "time_and_material_entry_attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Time and Material Entry Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1200
             },
             "attachment_id": {
              "type": "integer",
              "description": "ID of the associated prostore file",
              "example": 1233
             },
             "content_type": {
              "type": "string",
              "description": "Content type",
              "example": "image/jpeg"
             },
             "presentation_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/presentation_url"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/thumbnail_url"
             },
             "filename": {
              "type": "string",
              "description": "Filename of Time and Material Entry Attachment",
              "example": "Example Filename"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating a Time And Material Entry",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
[...]
