{
 "openapi": "3.0.0",
 "info": {
  "title": "Timecard Entries",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Timecard Entries",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity",
   "PM Essentials",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/timecard_entries": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List timecard entries (Company)",
    "description": "Return a list of all Timecard Entries, serialized according to the MyTime field set",
    "tags": [
     "Timecards (Company)"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[party_id]",
      "in": "query",
      "description": "Return item(s) with the specified Party ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[in_progress_only]",
      "in": "query",
      "required": false,
      "description": "Return work in progress item(s).",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[include_in_progress]",
      "in": "query",
      "required": false,
      "description": "Return available and work in progress item(s).",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[deleted_at]",
      "in": "query",
      "description": "Return item(s) that were deleted within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "description": "The beginning of the date range for entries. (YYYY-MM-DD)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "The ending of the date range for entries. (YYYY-MM-DD)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "start_time_in",
      "in": "query",
      "description": "The beginning of the time_in range for entries (YYYY-MM-DDTHH:MM:SSZ). \"Z\" represents the timezone offset (i.e. -08:00, -0800). Optionally you may pass the literal \"Z\" which also means \"UTC\".",
      "schema": {
       "type": "string",
       "format": "time"
      }
     },
     {
      "name": "end_time_in",
      "in": "query",
      "description": "The ending of the time_in range for entries (YYYY-MM-DDTHH:MM:SSZ). \"Z\" represents the timezone offset (i.e. -08:00, -0800). Optionally you may pass the literal \"Z\" which also means \"UTC\".",
      "schema": {
       "type": "string",
       "format": "time"
      }
     },
     {
      "name": "use_filter_tz",
      "in": "query",
      "description": "When passed as \"true\" the timezone from start_time_in or end_time_in will be used for all timestamps in the response. Otherwise they'll use UTC.",
      "schema": {
       "type": "string",
       "enum": [
        "true"
       ]
      }
     },
     {
      "name": "serializer_view",
      "in": "query",
      "description": "Changes what fields are included in the response.",
      "schema": {
       "type": "string",
       "enum": [
        "ids_only",
        "compact_with_date_range"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of timecard entries.  NOTE the timecards entries will be serialized according to the MyTime field set, not the Timesheet field set.",
         "items": {
          "allOf": [
           {
            "type": "object",
            "title": "TimecardEntry",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Timecard entry id",
              "example": 1
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at",
              "example": "2012-10-23T21:39:40Z"
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Timecard entry date",
              "example": "2015-05-12"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Deleted at",
              "example": "2017-07-29T21:39:40Z"
             },
             "description": {
              "type": "string",
              "description": "Timecard entry description",
              "example": "Description"
             },
             "billable": {
              "type": "boolean",
              "description": "Timecard entry billable status",
              "example": true
             },
             "in_progress": {
              "type": "boolean",
              "description": "Timecard entry in progress state",
              "example": false
             },
             "hours": {
              "type": "string",
              "description": "Timecard entry hours",
              "example": "5.0"
             },
             "time_in": {
              "type": "string",
              "format": "date-time",
              "description": "Timecard entry time in",
              "example": "2019-05-12T08:26:28Z"
             },
             "time_out": {
              "type": "string",
              "format": "date-time",
              "description": "Timecard entry time out",
              "example": "2019-05-12T17:26:28Z"
             },
             "lunch_time": {
              "type": "string",
              "description": "Timecard entry lunch time in minutes",
              "example": "30"
             },
             "approval_status": {
              "type": "string",
              "description": "Timecard entry approval status",
              "example": "pending"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timecard entry updated at",
              "example": "2019-05-12T21:26:28Z"
             },
             "timecard_type": {
              "type": "string",
              "description": "Timecard entry time type",
              "example": "Regular Time"
             },
             "origin_id": {
              "type": "integer",
              "description": "ID of related external data",
              "example": 23423
             },
             "origin_data": {
              "type": "string",
              "description": "Value of related external data",
              "example": "{'example':'related data'}"
             },
             "timesheet": {
              "type": "object",
              "title": "Timesheet",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created at",
                "example": "2012-10-23T21:39:40Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Updated at",
                "example": "2012-10-24T21:39:40Z"
               },
               "date": {
                "type": "string",
                "format": "date",
                "description": "Timesheet date",
                "example": "2015-05-12"
               },
               "number": {
                "type": "integer",
                "description": "Timesheet number",
                "example": 1
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "name": {
                "type": "string",
                "description": "Timesheet name",
                "example": "2015-05-12 - 01"
               },
               "status": {
                "type": "string",
                "description": "The approval status of the Timesheet",
                "example": "pending"
               }
              }
             },
             "cost_code": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 12345
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Earthwork"
               }
              }
             },
             "sub_job": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 3483483
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Floor 2"
               },
               "code": {
                "type": "string",
                "description": "Unique code in the scope of a Project",
                "example": 18
               }
              }
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "login_information": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "timecard_time_type": {
              "type": "object",
              "title": "TimecardTimeType",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Time type id",
                "example": 1
               },
               "abbreviated_time_type": {
                "type": "string",
                "description": "Time type abbreviated",
                "example": "REG"
               },
               "company_id": {
                "type": "integer",
                "description": "Time type company id",
                "example": 15125
               },
               "global": {
                "type": "boolean",
                "description": "Time type global status",
                "example": false
               },
               "time_type": {
                "type": "string",
                "description": "Time type",
                "example": "Another Time"
               }
              }
             },
             "party": {
              "type": "object",
              "title": "Party",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Timecard entry id",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "Party Name",
                "example": "Dolores Umbridge"
               }
              }
             },
             "crew": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer"
               },
               "name": {
                "type": "string"
               }
              }
             },
             "procore_signature": {
              "title": "Timesheets Signature",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "signature_text": {
                "type": "string",
                "description": "Acknowedgement text the signature was signed against.",
                "example": "I acknowledge these hours are correct."
               },
               "file_name": {
                "type": "string",
                "description": "File Name",
                "example": "signature_2018_09_16.jpg"
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "medium_thumbnail_url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "large_thumbnail_url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             "project": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the project.",
                "example": 99
               },
               "name": {
                "type": "string",
                "description": "Project Display Name (could include Project Number)",
                "example": "More Mesa Renovation"
               }
              }
             },
             "clock_in": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer"
               }
              }
             },
             "clock_out": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer"
               }
              }
             },
             "line_item_type_id": {
              "type": "integer",
              "description": "The ID of the Line Item Type of the Timecard Entry",
              "example": 13
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field.",
                  "example": "custom field value"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "number",
                  "description": "The value of the custom field.",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field.",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 1
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": 2
                    },
                    "label": {
                     "type": "string",
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "automatically_split_timecard_entries": {
              "description": "Timecard entries returned with associated object as part of overtime_management",
              "type": "array",
              "items": {
               "type": "object",
               "title": "TimecardEntry",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Timecard entry id",
                 "example": 1
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2012-10-23T21:39:40Z"
                },
                "date": {
                 "type": "string",
                 "format": "date",
                 "description": "Timecard entry date",
                 "example": "2015-05-12"
                },
                "deleted_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Deleted at",
                 "example": "2017-07-29T21:39:40Z"
                },
                "description": {
                 "type": "string",
                 "description": "Timecard entry description",
                 "example": "Description"
                },
                "billable": {
                 "type": "boolean",
                 "description": "Timecard entry billable status",
                 "example": true
                },
                "in_progress": {
                 "type": "boolean",
                 "description": "Timecard entry in progress state",
                 "example": false
                },
                "hours": {
                 "type": "string",
                 "description": "Timecard entry hours",
                 "example": "5.0"
                },
                "time_in": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timecard entry time in",
                 "example": "2019-05-12T08:26:28Z"
                },
                "time_out": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timecard entry time out",
                 "example": "2019-05-12T17:26:28Z"
                },
                "lunch_time": {
                 "type": "string",
                 "description": "Timecard entry lunch time in minutes",
                 "example": "30"
                },
                "approval_status": {
                 "type": "string",
                 "description": "Timecard entry approval status",
                 "example": "pending"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timecard entry updated at",
                 "example": "2019-05-12T21:26:28Z"
                },
                "timecard_type": {
                 "type": "string",
                 "description": "Timecard entry time type",
                 "example": "Regular Time"
                },
                "origin_id": {
                 "type": "integer",
                 "description": "ID of related external data",
                 "example": 23423
                },
                "origin_data": {
                 "type": "string",
                 "description": "Value of related external data",
                 "example": "{'example':'related data'}"
                },
                "timesheet": {
                 "type": "object",
                 "title": "Timesheet",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 1
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created at",
                   "example": "2012-10-23T21:39:40Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated at",
                   "example": "2012-10-24T21:39:40Z"
                  },
                  "date": {
                   "type": "string",
                   "format": "date",
                   "description": "Timesheet date",
                   "example": "2015-05-12"
                  },
                  "number": {
                   "type": "integer",
                   "description": "Timesheet number",
                   "example": 1
                  },
                  "created_by": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "ID",
                     "example": 160586
                    },
                    "login": {
                     "type": "string",
                     "description": "Email",
                     "example": "carl.contractor@example.com"
                    },
                    "name": {
                     "type": "string",
                     "description": "Name",
                     "example": "Carl Contractor"
                    }
                   }
                  },
                  "name": {
                   "type": "string",
                   "description": "Timesheet name",
                   "example": "2015-05-12 - 01"
                  },
                  "status": {
                   "type": "string",
                   "description": "The approval status of the Timesheet",
                   "example": "pending"
                  }
                 }
                },
                "cost_code": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 12345
                  },
                  "name": {
                   "type": "string",
                   "description": "Name",
                   "example": "Earthwork"
                  }
                 }
                },
                "sub_job": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 3483483
                  },
                  "name": {
                   "type": "string",
                   "description": "Name",
                   "example": "Floor 2"
                  },
                  "code": {
                   "type": "string",
                   "description": "Unique code in the scope of a Project",
                   "example": 18
                  }
                 }
                },
                "created_by": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 160586
                  },
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  },
                  "name": {
                   "type": "string",
                   "description": "Name",
                   "example": "Carl Contractor"
                  }
                 }
                },
                "login_information": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 160586
                  },
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  },
                  "name": {
                   "type": "string",
                   "description": "Name",
                   "example": "Carl Contractor"
                  }
                 }
                },
                "timecard_time_type": {
                 "type": "object",
                 "title": "TimecardTimeType",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Time type id",
                   "example": 1
                  },
                  "abbreviated_time_type": {
                   "type": "string",
                   "description": "Time type abbreviated",
                   "example": "REG"
                  },
                  "company_id": {
                   "type": "integer",
                   "description": "Time type company id",
                   "example": 15125
                  },
                  "global": {
                   "type": "boolean",
                   "description": "Time type global status",
                   "example": false
                  },
                  "time_type": {
                   "type": "string",
                   "description": "Time type",
                   "example": "Another Time"
                  }
                 }
                },
                "party": {
                 "type": "object",
                 "title": "Party",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Timecard entry id",
                   "example": 1
                  },
                  "name": {
                   "type": "string",
                   "description": "Party Name",
                   "example": "Dolores Umbridge"
                  }
                 }
                },
                "crew": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  },
                  "name": {
                   "type": "string"
                  }
                 }
                },
                "procore_signature": {
                 "title": "Timesheets Signature",
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 5324
                  },
                  "signature_text": {
                   "type": "string",
                   "description": "Acknowedgement text the signature was signed against.",
                   "example": "I acknowledge these hours are correct."
                  },
                  "file_name": {
                   "type": "string",
                   "description": "File Name",
                   "example": "signature_2018_09_16.jpg"
                  },
                  "url": {
                   "type": "string",
                   "description": "URL",
                   "example": "http://www.example.com/"
                  },
                  "medium_thumbnail_url": {
                   "type": "string",
                   "description": "URL",
                   "example": "http://www.example.com/"
                  },
                  "large_thumbnail_url": {
                   "type": "string",
                   "description": "URL",
                   "example": "http://www.example.com/"
                  },
                  "created_by": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "ID",
                     "example": 160586
                    },
                    "login": {
                     "type": "string",
                     "description": "Email",
                     "example": "carl.contractor@example.com"
                    },
                    "name": {
                     "type": "string",
                     "description": "Name",
                     "example": "Carl Contractor"
                    }
                   }
                  }
                 }
                },
                "project": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique identifier for the project.",
                   "example": 99
                  },
                  "name": {
                   "type": "string",
                   "description": "Project Display Name (could include Project Number)",
                   "example": "More Mesa Renovation"
                  }
                 }
                },
                "clock_in": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  }
                 }
                },
                "clock_out": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  }
                 }
                },
                "line_item_type_id": {
                 "type": "integer",
                 "description": "The ID of the Line Item Type of the Timecard Entry",
                 "example": 13
                },
                "custom_fields": {
                 "type": "object",
                 "properties": {
                  "custom_field_%{custom_field_string_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "string"
                    },
                    "value": {
                     "type": "string",
                     "description": "The value of the custom field.",
                     "example": "custom field value"
                    }
                   }
                  },
                  "custom_field_%{custom_field_decimal_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "decimal"
                    },
                    "value": {
                     "type": "number",
                     "description": "The value of the custom field.",
                     "example": 2.2
                    }
                   }
                  },
                  "custom_field_%{custom_field_boolean_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "boolean"
                    },
                    "value": {
                     "type": "boolean",
                     "description": "The value of the custom field.",
                     "example": true
                    }
                   }
                  },
                  "custom_field_%{custom_field_lov_entry_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "lov_entry"
                    },
                    "value": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "The unique identifier of the list of values (LOV) entry.",
                       "example": 1
                      },
                      "label": {
                       "type": "string",
                       "description": "Label of the list of values (LOV) entry.",
                       "example": "Open"
                      }
                     }
                    }
                   }
                  },
                  "custom_field_%{custom_field_lov_entries_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "lov_entries"
                    },
                    "value": {
                     "type": "array",
                     "items": {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "integer",
                        "description": "The unique identifier of the list of values (LOV) entry.",
                        "example": 2
                       },
                       "label": {
                        "type": "string",
                        "description": "The label of the list of values (LOV) entry.",
                        "example": "Open"
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_entries',\n  qs: {\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[party_id]': 'SOME_ARRAY_VALUE',\n    'filters[in_progress_only]': 'SOME_BOOLEAN_VALUE',\n    'filters[include_in_progress]': 'SOME_BOOLEAN_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[deleted_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    start_time_in: 'SOME_STRING_VALUE',\n    end_time_in: 'SOME_STRING_VALUE',\n    use_filter_tz: 'SOME_STRING_VALUE',\n    serializer_view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/timecard_entries?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bparty_id%5D=SOME_ARRAY_VALUE&filters%5Bin_progress_only%5D=SOME_BOOLEAN_VALUE&filters%5Binclude_in_progress%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&start_time_in=SOME_STRING_VALUE&end_time_in=SOME_STRING_VALUE&use_filter_tz=SOME_STRING_VALUE&serializer_view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_entries?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bparty_id%5D=SOME_ARRAY_VALUE&filters%5Bin_progress_only%5D=SOME_BOOLEAN_VALUE&filters%5Binclude_in_progress%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&start_time_in=SOME_STRING_VALUE&end_time_in=SOME_STRING_VALUE&use_filter_tz=SOME_STRING_VALUE&serializer_view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_entries?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bparty_id%5D=SOME_ARRAY_VALUE&filters%5Bin_progress_only%5D=SOME_BOOLEAN_VALUE&filters%5Binclude_in_progress%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&start_time_in=SOME_STRING_VALUE&end_time_in=SOME_STRING_VALUE&use_filter_tz=SOME_STRING_VALUE&serializer_view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create timecard entry (Company)",
    "description": "Create a new Timecard Entry.\n#### See - [Company People guide](https://developers.procore.com/reference/rest/company-people) - for additional info on\n* Getting a contact's party_id",
    "tags": [
     "Timecards (Company)"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id",
         "timecard_entry"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "The ID of the Project the Timecard Entry belongs to",
          "example": 2910
         },
         "timecard_entry": {
          "title": "TimecardEntry",
          "type": "object",
          "description": "Timecard Entry object",
          "required": [
           "date"
          ],
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "The Date of the Timecard Entry",
            "example": "2019-05-19"
           },
           "hours": {
            "type": "string",
            "description": "The Hours of the Timecard Entry",
            "example": "8.0"
           },
           "lunch_time": {
            "type": "string",
            "description": "Duration of lunch break in minutes for the Timecard Entry. Only required if Timesheet time entry is configured for Start Time and Stop Time.",
            "example": "60"
           },
           "time_in": {
            "type": "string",
            "description": "The Start Time of the Timecard Entry in ISO 8601 format. Only required if Timesheet time entry is configured for Start Time and Stop Time.",
            "example": "2019-05-19T07:08:00Z"
           },
           "time_out": {
            "type": "string",
            "description": "The Stop Time of the Timecard Entry in ISO 8601 format. Only required if Timesheet time entry is configured for Start Time and Stop Time.",
            "example": "2019-05-19T07:17:00Z"
           },
           "billable": {
            "type": "boolean",
            "description": "The Billable status of the Timecard Entry",
            "default": false
           },
           "description": {
            "type": "string",
            "description": "The Description of the Timecard Entry",
            "example": "No injuries today."
           },
           "timecard_time_type_id": {
            "type": "integer",
            "description": "The ID of the Timecard Time Type of the Timecard Entry",
            "example": 10
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Timecard Entry",
            "example": 21
           },
           "cost_code_id": {
            "type": "integer",
            "description": "The ID of the Cost Code of the Timecard Entry",
            "example": 90
           },
           "set_timecard_time_type_automatically": {
            "type": "boolean",
            "description": "Whether or not to allow the automatic overtime management system to apply the configured rules to set the timecard_time_type_id and/or split the timecard entry automatically",
            "example": true
           },
           "sub_job_id": {
            "type": "integer",
            "description": "The ID of the Sub Job of the Timecard Entry",
            "example": 11
           },
           "party_id": {
            "type": "integer",
            "description": "The ID of the Party of the Timecard Entry",
            "example": 87
           },
           "crew_id": {
            "type": "integer",
            "description": "The ID of the Crew of the Timecard Entry",
            "example": 92
           },
           "procore_signature_id": {
            "type": "integer",
            "description": "The ID of the Procore Signature of the Timecard Entry",
            "example": 980
           },
           "timesheet_id": {
            "type": "integer",
            "description": "The ID of the Timesheet of the Timecard Entry",
            "example": 41823
           },
           "clock_in_id": {
            "type": "integer",
            "description": "The ID of the clock in Gps Position of the Timecard Entry",
            "example": 345
           },
           "clock_out_id": {
            "type": "integer",
            "description": "The ID of the clock out Gps Position of the Timecard Entry",
            "example": 642
           },
           "clock_in_time": {
            "type": "string",
            "description": "The datetime a timecard clock in was punched",
            "example": "2020-03-24T04:14:06Z"
           },
           "clock_out_time": {
            "type": "string",
            "description": "The datetime a timecard clock out was punched",
            "example": "2020-03-24T05:14:22Z"
           },
           "approval_status": {
            "type": "string",
            "description": "The Approval Status of the Timecard Entry",
            "example": "approved",
            "enum": [
             "pending",
             "reviewed",
             "approved",
             "completed"
            ]
           },
           "origin_id": {
            "type": "integer",
            "description": "ID of related external data",
            "example": 23423
           },
           "origin_data": {
            "type": "string",
            "description": "Value of related external data",
            "example": "{'example':'related data'}"
           },
           "line_item_type_id": {
            "type": "integer",
            "description": "The ID of the Line Item Type of Timecard Entry",
            "example": 13
           }
          }
         }
        },
        "example": {
         "project_id": 513526,
         "timecard_entry": {
          "date": "2018-10-14",
          "description": "Description",
          "billable": true,
          "hours": "8.0",
          "lunch_time": "60",
          "time_in": "2018-10-14T07:00:00Z",
          "time_out": "2018-10-14T16:00:00Z",
          "timecard_time_type_id": 1,
          "timesheet_id": 41823,
          "cost_code_id": 12345,
          "sub_job_id": 3483483,
          "location_id": 161072,
          "procore_signature_id": 1121,
          "party_id": 2341,
          "crew_id": 1022,
          "clock_in": 4567,
          "clock_out": 1267,
          "approval_status": "approved",
          "origin_id": 23423,
          "origin_data": "{'example':'related data'}",
          "line_item_type_id": 13
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "title": "TimecardEntry",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Timecard entry id",
             "example": 1
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2012-10-23T21:39:40Z"
            },
            "date": {
             "type": "string",
             "format": "date",
             "description": "Timecard entry date",
             "example": "2015-05-12"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Deleted at",
             "example": "2017-07-29T21:39:40Z"
            },
            "description": {
             "type": "string",
             "description": "Timecard entry description",
             "example": "Description"
            },
            "billable": {
             "type": "boolean",
             "description": "Timecard entry billable status",
             "example": true
            },
            "in_progress": {
             "type": "boolean",
             "description": "Timecard entry in progress state",
             "example": false
            },
            "hours": {
             "type": "string",
             "description": "Timecard entry hours",
             "example": "5.0"
            },
            "time_in": {
             "type": "string",
             "format": "date-time",
             "description": "Timecard entry time in",
             "example": "2019-05-12T08:26:28Z"
            },
            "time_out": {
             "type": "string",
             "format": "date-time",
             "description": "Timecard entry time out",
             "example": "2019-05-12T17:26:28Z"
            },
            "lunch_time": {
             "type": "string",
             "description": "Timecard entry lunch time in minutes",
             "example": "30"
            },
            "approval_status": {
             "type": "string",
             "description": "Timecard entry approval status",
             "example": "pending"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timecard entry updated at",
             "example": "2019-05-12T21:26:28Z"
            },
            "timecard_type": {
             "type": "string",
             "description": "Timecard entry time type",
             "example": "Regular Time"
            },
            "origin_id": {
             "type": "integer",
             "description": "ID of related external data",
             "example": 23423
            },
            "origin_data": {
             "type": "string",
             "description": "Value of related external data",
             "example": "{'example':'related data'}"
            },
            "timesheet": {
             "type": "object",
             "title": "Timesheet",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 1
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2012-10-23T21:39:40Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2012-10-24T21:39:40Z"
              },
              "date": {
               "type": "string",
               "format": "date",
               "description": "Timesheet date",
               "example": "2015-05-12"
              },
              "number": {
               "type": "integer",
               "description": "Timesheet number",
               "example": 1
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              },
              "name": {
               "type": "string",
               "description": "Timesheet name",
               "example": "2015-05-12 - 01"
              },
              "status": {
               "type": "string",
               "description": "The approval status of the Timesheet",
               "example": "pending"
              }
             }
            },
            "cost_code": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            "sub_job": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 3483483
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Floor 2"
              },
              "code": {
               "type": "string",
               "description": "Unique code in the scope of a Project",
               "example": 18
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "login_information": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "timecard_time_type": {
             "type": "object",
             "title": "TimecardTimeType",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Time type id",
               "example": 1
              },
              "abbreviated_time_type": {
               "type": "string",
               "description": "Time type abbreviated",
               "example": "REG"
              },
              "company_id": {
               "type": "integer",
               "description": "Time type company id",
               "example": 15125
              },
              "global": {
               "type": "boolean",
               "description": "Time type global status",
               "example": false
              },
              "time_type": {
               "type": "string",
               "description": "Time type",
               "example": "Another Time"
              }
             }
            },
            "party": {
             "type": "object",
             "title": "Party",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Timecard entry id",
               "example": 1
              },
              "name": {
               "type": "string",
               "description": "Party Name",
               "example": "Dolores Umbridge"
              }
             }
            },
            "crew": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string"
              }
             }
            },
            "procore_signature": {
             "title": "Timesheets Signature",
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "signature_text": {
               "type": "string",
               "description": "Acknowedgement text the signature was signed against.",
               "example": "I acknowledge these hours are correct."
              },
              "file_name": {
               "type": "string",
               "description": "File Name",
               "example": "signature_2018_09_16.jpg"
              },
              "url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "medium_thumbnail_url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "large_thumbnail_url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             }
            },
            "project": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for the project.",
               "example": 99
              },
              "name": {
               "type": "string",
               "description": "Project Display Name (could include Project Number)",
               "example": "More Mesa Renovation"
              }
             }
            },
            "clock_in": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              }
             }
            },
            "clock_out": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              }
             }
            },
            "line_item_type_id": {
             "type": "integer",
             "description": "The ID of the Line Item Type of the Timecard Entry",
             "example": 13
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "automatically_split_timecard_entries": {
             "description": "Timecard entries returned with associated object as part of overtime_management",
             "type": "array",
             "items": {
              "type": "object",
              "title": "TimecardEntry",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Timecard entry id",
                "example": 1
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created at",
                "example": "2012-10-23T21:39:40Z"
               },
               "date": {
                "type": "string",
                "format": "date",
                "description": "Timecard entry date",
                "example": "2015-05-12"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Deleted at",
                "example": "2017-07-29T21:39:40Z"
               },
               "description": {
                "type": "string",
                "description": "Timecard entry description",
                "example": "Description"
               },
               "billable": {
                "type": "boolean",
                "description": "Timecard entry billable status",
                "example": true
               },
               "in_progress": {
                "type": "boolean",
                "description": "Timecard entry in progress state",
                "example": false
               },
               "hours": {
                "type": "string",
                "description": "Timecard entry hours",
                "example": "5.0"
               },
               "time_in": {
                "type": "string",
                "format": "date-time",
                "description": "Timecard entry time in",
                "example": "2019-05-12T08:26:28Z"
               },
               "time_out": {
                "type": "string",
                "format": "date-time",
                "description": "Timecard entry time out",
                "example": "2019-05-12T17:26:28Z"
               },
               "lunch_time": {
                "type": "string",
                "description": "Timecard entry lunch time in minutes",
                "example": "30"
               },
               "approval_status": {
                "type": "string",
                "description": "Timecard entry approval status",
                "example": "pending"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timecard entry updated at",
                "example": "2019-05-12T21:26:28Z"
               },
               "timecard_type": {
                "type": "string",
                "description": "Timecard entry time type",
                "example": "Regular Time"
               },
               "origin_id": {
                "type": "integer",
                "description": "ID of related external data",
                "example": 23423
               },
               "origin_data": {
                "type": "string",
                "description": "Value of related external data",
                "example": "{'example':'related data'}"
               },
               "timesheet": {
                "type": "object",
                "title": "Timesheet",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 1
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2012-10-23T21:39:40Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2012-10-24T21:39:40Z"
                 },
                 "date": {
                  "type": "string",
                  "format": "date",
                  "description": "Timesheet date",
                  "example": "2015-05-12"
                 },
                 "number": {
                  "type": "integer",
                  "description": "Timesheet number",
                  "example": 1
                 },
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 160586
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 },
                 "name": {
                  "type": "string",
                  "description": "Timesheet name",
                  "example": "2015-05-12 - 01"
                 },
                 "status": {
                  "type": "string",
                  "description": "The approval status of the Timesheet",
                  "example": "pending"
                 }
                }
               },
               "cost_code": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               "sub_job": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 3483483
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Floor 2"
                 },
                 "code": {
                  "type": "string",
                  "description": "Unique code in the scope of a Project",
                  "example": 18
                 }
                }
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "login_information": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "timecard_time_type": {
                "type": "object",
                "title": "TimecardTimeType",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Time type id",
                  "example": 1
                 },
                 "abbreviated_time_type": {
                  "type": "string",
                  "description": "Time type abbreviated",
                  "example": "REG"
                 },
                 "company_id": {
                  "type": "integer",
                  "description": "Time type company id",
                  "example": 15125
                 },
                 "global": {
                  "type": "boolean",
                  "description": "Time type global status",
                  "example": false
                 },
                 "time_type": {
                  "type": "string",
                  "description": "Time type",
                  "example": "Another Time"
                 }
                }
               },
               "party": {
                "type": "object",
                "title": "Party",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Timecard entry id",
                  "example": 1
                 },
                 "name": {
                  "type": "string",
                  "description": "Party Name",
                  "example": "Dolores Umbridge"
                 }
                }
               },
               "crew": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string"
                 }
                }
               },
               "procore_signature": {
                "title": "Timesheets Signature",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "signature_text": {
                  "type": "string",
                  "description": "Acknowedgement text the signature was signed against.",
                  "example": "I acknowledge these hours are correct."
                 },
                 "file_name": {
                  "type": "string",
                  "description": "File Name",
                  "example": "signature_2018_09_16.jpg"
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "medium_thumbnail_url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "large_thumbnail_url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 160586
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 }
                }
               },
               "project": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the project.",
                  "example": 99
                 },
                 "name": {
                  "type": "string",
                  "description": "Project Display Name (could include Project Number)",
                  "example": "More Mesa Renovation"
                 }
                }
               },
               "clock_in": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 }
                }
               },
               "clock_out": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 }
                }
               },
               "line_item_type_id": {
                "type": "integer",
                "description": "The ID of the Line Item Type of the Timecard Entry",
                "example": 13
               },
               "custom_fields": {
                "type": "object",
                "properties": {
                 "custom_field_%{custom_field_string_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "string"
                   },
                   "value": {
                    "type": "string",
                    "description": "The value of the custom field.",
                    "example": "custom field value"
                   }
                  }
                 },
                 "custom_field_%{custom_field_decimal_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "decimal"
                   },
                   "value": {
                    "type": "number",
                    "description": "The value of the custom field.",
                    "example": 2.2
                   }
                  }
                 },
                 "custom_field_%{custom_field_boolean_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "boolean"
                   },
                   "value": {
                    "type": "boolean",
                    "description": "The value of the custom field.",
                    "example": true
                   }
                  }
                 },
                 "custom_field_%{custom_field_lov_entry_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "lov_entry"
                   },
                   "value": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "The unique identifier of the list of values (LOV) entry.",
                      "example": 1
                     },
                     "label": {
                      "type": "string",
                      "description": "Label of the list of values (LOV) entry.",
                      "example": "Open"
                     }
                    }
                   }
                  }
                 },
                 "custom_field_%{custom_field_lov_entries_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "lov_entries"
                   },
                   "value": {
                    "type": "array",
                    "items": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "The unique identifier of the list of values (LOV) entry.",
                       "example": 2
                      },
                      "label": {
                       "type": "string",
                       "description": "The label of the list of values (LOV) entry.",
                       "example": "Open"
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_entries',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 513526,\n    timecard_entry: {\n      date: '2018-10-14',\n      description: 'Description',\n      billable: true,\n      hours: '8.0',\n      lunch_time: '60',\n      time_in: '2018-10-14T07:00:00Z',\n      time_out: '2018-10-14T16:00:00Z',\n      timecard_time_type_id: 1,\n      timesheet_id: 41823,\n      cost_code_id: 12345,\n      sub_job_id: 3483483,\n      location_id: 161072,\n      procore_signature_id: 1121,\n      party_id: 2341,\n      crew_id: 1022,\n      clock_in: 4567,\n      clock_out: 1267,\n      approval_status: 'approved',\n      origin_id: 23423,\n      origin_data: '{\\'example\\':\\'related data\\'}',\n      line_item_type_id: 13\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":513526,\\\"timecard_entry\\\":{\\\"date\\\":\\\"2018-10-14\\\",\\\"description\\\":\\\"Description\\\",\\\"billable\\\":true,\\\"hours\\\":\\\"8.0\\\",\\\"lunch_time\\\":\\\"60\\\",\\\"time_in\\\":\\\"2018-10-14T07:00:00Z\\\",\\\"time_out\\\":\\\"2018-10-14T16:00:00Z\\\",\\\"timecard_time_type_id\\\":1,\\\"timesheet_id\\\":41823,\\\"cost_code_id\\\":12345,\\\"sub_job_id\\\":3483483,\\\"location_id\\\":161072,\\\"procore_signature_id\\\":1121,\\\"party_id\\\":2341,\\\"crew_id\\\":1022,\\\"clock_in\\\":4567,\\\"clock_out\\\":1267,\\\"approval_status\\\":\\\"approved\\\",\\\"origin_id\\\":23423,\\\"origin_data\\\":\\\"{'example':'related data'}\\\",\\\"line_item_type_id\\\":13}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/timecard_entries\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_entries \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":513526,\"timecard_entry\":{\"date\":\"2018-10-14\",\"description\":\"Description\",\"billable\":true,\"hours\":\"8.0\",\"lunch_time\":\"60\",\"time_in\":\"2018-10-14T07:00:00Z\",\"time_out\":\"2018-10-14T16:00:00Z\",\"timecard_time_type_id\":1,\"timesheet_id\":41823,\"cost_code_id\":12345,\"sub_job_id\":3483483,\"location_id\":161072,\"procore_signature_id\":1121,\"party_id\":2341,\"crew_id\":1022,\"clock_in\":4567,\"clock_out\":1267,\"approval_status\":\"approved\",\"origin_id\":23423,\"origin_data\":\"{'\\''example'\\'':'\\''related data'\\''}\",\"line_item_type_id\":13}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_entries\"),\n    Content = new StringContent(\"{\\\"project_id\\\":513526,\\\"timecard_entry\\\":{\\\"date\\\":\\\"2018-10-14\\\",\\\"description\\\":\\\"Description\\\",\\\"billable\\\":true,\\\"hours\\\":\\\"8.0\\\",\\\"lunch_time\\\":\\\"60\\\",\\\"time_in\\\":\\\"2018-10-14T07:00:00Z\\\",\\\"time_out\\\":\\\"2018-10-14T16:00:00Z\\\",\\\"timecard_time_type_id\\\":1,\\\"timesheet_id\\\":41823,\\\"cost_code_id\\\":12345,\\\"sub_job_id\\\":3483483,\\\"location_id\\\":161072,\\\"procore_signature_id\\\":1121,\\\"party_id\\\":2341,\\\"crew_id\\\":1022,\\\"clock_in\\\":4567,\\\"clock_out\\\":1267,\\\"approval_status\\\":\\\"approved\\\",\\\"origin_id\\\":23423,\\\"origin_data\\\":\\\"{'example':'related data'}\\\",\\\"line_item_type_id\\\":13}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/timecard_entries/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the timecard entry",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show timecard entry (Company)",
    "description": "Return detailed information about a specific Timecard Entry.",
    "tags": [
     "Timecards (Company)"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "title": "TimecardEntry",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Timecard entry id",
             "example": 1
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2012-10-23T21:39:40Z"
            },
            "date": {
             "type": "string",
             "format": "date",
             "description": "Timecard entry date",
             "example": "2015-05-12"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Deleted at",
             "example": "2017-07-29T21:39:40Z"
            },
            "description": {
             "type": "string",
             "description": "Timecard entry description",
             "example": "Description"
            },
            "billable": {
             "type": "boolean",
             "description": "Timecard entry billable status",
             "example": true
            },
            "in_progress": {
             "type": "boolean",
             "description": "Timecard entry in progress state",
             "example": false
            },
            "hours": {
             "type": "string",
             "description": "Timecard entry hours",
             "example": "5.0"
            },
            "time_in": {
             "type": "string",
             "format": "date-time",
             "description": "Timecard entry time in",
             "example": "2019-05-12T08:26:28Z"
            },
            "time_out": {
             "type": "string",
             "format": "date-time",
             "description": "Timecard entry time out",
             "example": "2019-05-12T17:26:28Z"
            },
            "lunch_time": {
             "type": "string",
             "description": "Timecard entry lunch time in minutes",
             "example": "30"
            },
            "approval_status": {
             "type": "string",
             "description": "Timecard entry approval status",
             "example": "pending"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timecard entry updated at",
             "example": "2019-05-12T21:26:28Z"
            },
            "timecard_type": {
             "type": "string",
             "description": "Timecard entry time type",
             "example": "Regular Time"
            },
            "origin_id": {
             "type": "integer",
             "description": "ID of related external data",
             "example": 23423
            },
            "origin_data": {
             "type": "string",
             "description": "Value of related external data",
             "example": "{'example':'related data'}"
            },
            "timesheet": {
             "type": "object",
             "title": "Timesheet",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 1
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2012-10-23T21:39:40Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2012-10-24T21:39:40Z"
              },
              "date": {
               "type": "string",
               "format": "date",
               "description": "Timesheet date",
               "example": "2015-05-12"
              },
              "number": {
               "type": "integer",
               "description": "Timesheet number",
               "example": 1
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              },
              "name": {
               "type": "string",
               "description": "Timesheet name",
               "example": "2015-05-12 - 01"
              },
              "status": {
               "type": "string",
               "description": "The approval status of the Timesheet",
               "example": "pending"
              }
             }
            },
            "cost_code": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            "sub_job": {
             "type": "object",
             "properties": {
[...]
