{
 "openapi": "3.0.0",
 "info": {
  "title": "Time And Material Equipment Log",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Time and Material Equipment Log",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/time_and_material_equipment_logs": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List of all Time and Material Equipment Logs",
    "description": "List of all Time and Material Equipment Logs",
    "tags": [
     "Time and Material Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time And Material Equipment Logs",
         "items": {
          "type": "object",
          "description": "Time And Material Equipment Log",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 67800
           },
           "description": {
            "type": "string",
            "description": "Discription of Time And Material Equipment Log",
            "example": "This backhoe was used for the second day"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for associate Time And Material Equipment Log",
            "example": "each"
           },
           "quantity": {
            "type": "integer",
            "description": "Number of Time And Material Equipment Log used"
           },
           "idle_quantity": {
            "type": "number",
            "format": "float",
            "description": "Idle Quantity of Time And Material Equipment Log was used",
            "example": 3.5
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the Time And Material Equipment Log was logged on",
            "example": 1235
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the Time And Material Equipment Log is associated with",
            "example": 45
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was updated",
            "example": "2019-10-30T10:34:56Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was created",
            "example": "2019-10-31T12:34:52Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was deleted",
            "example": "2019-11-26T08:12:45Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a new Time And Material Equipment Log",
    "description": "Create a new Time And Material Equipment log",
    "tags": [
     "Time And Material equipment log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "title": "Time And Material Equipment Log",
        "required": [
         "time_and_material_equipment_log"
        ],
        "properties": {
         "time_and_material_equipment_log": {
          "type": "object",
          "title": "Time and Material Equipment Log Properties",
          "properties": {
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time & Material Entry Id of Time And Material Equipment Log",
            "example": 16
           },
           "description": {
            "type": "string",
            "description": "Description of Time And Material Equipment Log",
            "example": "This backhoe was used for the second day for all damaged pipes"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for Time And Material Equipment Log",
            "example": "each"
           },
           "quantity": {
            "type": "integer",
            "description": "Quantity of Time And Material Equipment Log",
            "example": "10"
           },
           "idle_quantity": {
            "type": "number",
            "format": "float",
            "description": "Idle Quantity of Time And Material Equipment Log",
            "example": 3.5
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "T&M equipment log Created Succesfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time And Material Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 67800
          },
          "description": {
           "type": "string",
           "description": "Discription of Time And Material Equipment Log",
           "example": "This backhoe was used for the second day"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure for associate Time And Material Equipment Log",
           "example": "each"
          },
          "quantity": {
           "type": "integer",
           "description": "Number of Time And Material Equipment Log used"
          },
          "idle_quantity": {
           "type": "number",
           "format": "float",
           "description": "Idle Quantity of Time And Material Equipment Log was used",
           "example": 3.5
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the Time And Material Equipment Log was logged on",
           "example": 1235
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the Time And Material Equipment Log is associated with",
           "example": 45
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was updated",
           "example": "2019-10-30T10:34:56Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was created",
           "example": "2019-10-31T12:34:52Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was deleted",
           "example": "2019-11-26T08:12:45Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating a Time And Material Equipment Log",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_equipment_log: {\n      time_and_material_entry_id: 16,\n      description: 'This backhoe was used for the second day for all damaged pipes',\n      uom: 'each',\n      quantity: '10',\n      idle_quantity: 3.5\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_equipment_log\\\":{\\\"time_and_material_entry_id\\\":16,\\\"description\\\":\\\"This backhoe was used for the second day for all damaged pipes\\\",\\\"uom\\\":\\\"each\\\",\\\"quantity\\\":\\\"10\\\",\\\"idle_quantity\\\":3.5}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_equipment_log\":{\"time_and_material_entry_id\":16,\"description\":\"This backhoe was used for the second day for all damaged pipes\",\"uom\":\"each\",\"quantity\":\"10\",\"idle_quantity\":3.5}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"time_and_material_equipment_log\\\":{\\\"time_and_material_entry_id\\\":16,\\\"description\\\":\\\"This backhoe was used for the second day for all damaged pipes\\\",\\\"uom\\\":\\\"each\\\",\\\"quantity\\\":\\\"10\\\",\\\"idle_quantity\\\":3.5}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added idle_quantity (Idle Hours) to Time and Material Equipment Logs",
      "description": "Added a new idle_quantity attribute to capture Idle Hours. It is accepted on\ncreate, update, bulk_create, and bulk_update, and is returned in the response body.",
      "endpoint": "POST /projects/{project_id}/time_and_material_equipment_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-07-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-equipment-log?version=1.0#create-a-new-time-and-material-equipment-log"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_equipment_logs/bulk_destroy": {
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Delete Time and material equipment logs",
    "description": "Bulk delete Time and material equipment logs with one request.",
    "tags": [
     "Time and material equipment log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and material equipment log Bulk Destroy Body",
        "type": "object",
        "required": [
         "time_and_material_equipment_logs"
        ],
        "properties": {
         "time_and_material_equipment_logs": {
          "title": "Time and Material equipment logs",
          "type": "object",
          "description": "Equipment log Object",
          "properties": {
           "time_and_material_equipment_logs_ids": {
            "description": "Array of time and material equipment log IDs specified for delete",
            "type": "array",
            "items": {
             "type": "integer",
             "description": "ID",
             "example": 3944
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time and material equipment logs",
         "items": {
          "type": "object",
          "description": "Time And Material Equipment Log",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 67800
           },
           "description": {
            "type": "string",
            "description": "Discription of Time And Material Equipment Log",
            "example": "This backhoe was used for the second day"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for associate Time And Material Equipment Log",
            "example": "each"
           },
           "quantity": {
            "type": "integer",
            "description": "Number of Time And Material Equipment Log used"
           },
           "idle_quantity": {
            "type": "number",
            "format": "float",
            "description": "Idle Quantity of Time And Material Equipment Log was used",
            "example": 3.5
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the Time And Material Equipment Log was logged on",
            "example": 1235
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the Time And Material Equipment Log is associated with",
            "example": 45
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was updated",
            "example": "2019-10-30T10:34:56Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was created",
            "example": "2019-10-31T12:34:52Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was deleted",
            "example": "2019-11-26T08:12:45Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_destroy',\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_equipment_logs: {time_and_material_equipment_logs_ids: [3944]}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_equipment_logs\\\":{\\\"time_and_material_equipment_logs_ids\\\":[3944]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_destroy\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_destroy \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_equipment_logs\":{\"time_and_material_equipment_logs_ids\":[3944]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_destroy\"),\n    Content = new StringContent(\"{\\\"time_and_material_equipment_logs\\\":{\\\"time_and_material_equipment_logs_ids\\\":[3944]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk delete endpoint for Time and material equipment logs",
      "description": "Added the ability to bulk delete Materials",
      "endpoint": "DELETE /projects/{project_id}/time_and_material_equipment_logs/bulk_destroy",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-equipment-log?version=1.0#bulk-delete-time-and-material-equipment-logs"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_equipment_logs/bulk_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Time and material equipment logs",
    "description": "Bulk create Time and material equipment logs with one request.",
    "tags": [
     "Time and material equipment log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and material equipment log Bulk Create Body",
        "type": "object",
        "required": [
         "time_and_material_equipment_logs"
        ],
        "properties": {
         "time_and_material_equipment_logs": {
          "type": "array",
          "description": "Array of Time and material equipment log objects",
          "items": {
           "type": "object",
           "title": "Time and Material Equipment Log Properties",
           "properties": {
            "time_and_material_entry_id": {
             "type": "integer",
             "description": "Time & Material Entry Id of Time And Material Equipment Log",
             "example": 16
            },
            "description": {
             "type": "string",
             "description": "Description of Time And Material Equipment Log",
             "example": "This backhoe was used for the second day for all damaged pipes"
            },
            "uom": {
             "type": "string",
             "description": "Unit of measure for Time And Material Equipment Log",
             "example": "each"
            },
            "quantity": {
             "type": "integer",
             "description": "Quantity of Time And Material Equipment Log",
             "example": "10"
            },
            "idle_quantity": {
             "type": "number",
             "format": "float",
             "description": "Idle Quantity of Time And Material Equipment Log",
             "example": 3.5
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time and material equipment logs",
         "items": {
          "type": "object",
          "description": "Time And Material Equipment Log",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 67800
           },
           "description": {
            "type": "string",
            "description": "Discription of Time And Material Equipment Log",
            "example": "This backhoe was used for the second day"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for associate Time And Material Equipment Log",
            "example": "each"
           },
           "quantity": {
            "type": "integer",
            "description": "Number of Time And Material Equipment Log used"
           },
           "idle_quantity": {
            "type": "number",
            "format": "float",
            "description": "Idle Quantity of Time And Material Equipment Log was used",
            "example": 3.5
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the Time And Material Equipment Log was logged on",
            "example": 1235
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the Time And Material Equipment Log is associated with",
            "example": 45
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was updated",
            "example": "2019-10-30T10:34:56Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was created",
            "example": "2019-10-31T12:34:52Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was deleted",
            "example": "2019-11-26T08:12:45Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_create',\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_equipment_logs: [\n      {\n        time_and_material_entry_id: 16,\n        description: 'This backhoe was used for the second day for all damaged pipes',\n        uom: 'each',\n        quantity: '10',\n        idle_quantity: 3.5\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_equipment_logs\\\":[{\\\"time_and_material_entry_id\\\":16,\\\"description\\\":\\\"This backhoe was used for the second day for all damaged pipes\\\",\\\"uom\\\":\\\"each\\\",\\\"quantity\\\":\\\"10\\\",\\\"idle_quantity\\\":3.5}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_create\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_create \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_equipment_logs\":[{\"time_and_material_entry_id\":16,\"description\":\"This backhoe was used for the second day for all damaged pipes\",\"uom\":\"each\",\"quantity\":\"10\",\"idle_quantity\":3.5}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_create\"),\n    Content = new StringContent(\"{\\\"time_and_material_equipment_logs\\\":[{\\\"time_and_material_entry_id\\\":16,\\\"description\\\":\\\"This backhoe was used for the second day for all damaged pipes\\\",\\\"uom\\\":\\\"each\\\",\\\"quantity\\\":\\\"10\\\",\\\"idle_quantity\\\":3.5}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk create endpoint for Project materials",
      "description": "Added the ability to bulk create Time and material equipment logs",
      "endpoint": "POST /projects/{project_id}/time_and_material_equipment_logs/bulk_create",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-equipment-log?version=1.0#bulk-create-time-and-material-equipment-logs"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_equipment_logs/bulk_update": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Update Time and Material Equipment logs",
    "description": "Bulk update Time and Material Equipment logs with one request.",
    "tags": [
     "Time and material equipment log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and material equipment log Bulk Update Body",
        "type": "object",
        "required": [
         "time_and_material_equipment_logs"
        ],
        "properties": {
         "time_and_material_equipment_logs": {
          "type": "array",
          "description": "Array of Time and material equipment log objects",
          "items": {
           "type": "object",
           "title": "Time and Material Equipment Log Properties",
           "properties": {
            "time_and_material_entry_id": {
             "type": "integer",
             "description": "Time & Material Entry Id of Time And Material Equipment Log",
             "example": 16
            },
            "description": {
             "type": "string",
             "description": "Description of Time And Material Equipment Log",
             "example": "This backhoe was used for the second day for all damaged pipes"
            },
            "uom": {
             "type": "string",
             "description": "Unit of measure for Time And Material Equipment Log",
             "example": "each"
            },
            "quantity": {
             "type": "integer",
             "description": "Quantity of Time And Material Equipment Log",
             "example": "10"
            },
            "idle_quantity": {
             "type": "number",
             "format": "float",
             "description": "Idle hours for the Time And Material Equipment Log",
             "example": 3.5
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time and material equipment logs",
         "items": {
          "type": "object",
          "description": "Time And Material Equipment Log",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 67800
           },
           "description": {
            "type": "string",
            "description": "Discription of Time And Material Equipment Log",
            "example": "This backhoe was used for the second day"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for associate Time And Material Equipment Log",
            "example": "each"
           },
           "quantity": {
            "type": "integer",
            "description": "Number of Time And Material Equipment Log used"
           },
           "idle_quantity": {
            "type": "number",
            "format": "float",
            "description": "Idle Quantity of Time And Material Equipment Log was used",
            "example": 3.5
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the Time And Material Equipment Log was logged on",
            "example": 1235
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the Time And Material Equipment Log is associated with",
            "example": 45
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was updated",
            "example": "2019-10-30T10:34:56Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was created",
            "example": "2019-10-31T12:34:52Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Time And Material Equipment Log was deleted",
            "example": "2019-11-26T08:12:45Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_equipment_logs: [\n      {\n        time_and_material_entry_id: 16,\n        description: 'This backhoe was used for the second day for all damaged pipes',\n        uom: 'each',\n        quantity: '10',\n        idle_quantity: 3.5\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_equipment_logs\\\":[{\\\"time_and_material_entry_id\\\":16,\\\"description\\\":\\\"This backhoe was used for the second day for all damaged pipes\\\",\\\"uom\\\":\\\"each\\\",\\\"quantity\\\":\\\"10\\\",\\\"idle_quantity\\\":3.5}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_equipment_logs\":[{\"time_and_material_entry_id\":16,\"description\":\"This backhoe was used for the second day for all damaged pipes\",\"uom\":\"each\",\"quantity\":\"10\",\"idle_quantity\":3.5}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/bulk_update\"),\n    Content = new StringContent(\"{\\\"time_and_material_equipment_logs\\\":[{\\\"time_and_material_entry_id\\\":16,\\\"description\\\":\\\"This backhoe was used for the second day for all damaged pipes\\\",\\\"uom\\\":\\\"each\\\",\\\"quantity\\\":\\\"10\\\",\\\"idle_quantity\\\":3.5}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk update endpoint for Project time and material equipment logs",
      "description": "Added the ability to bulk update Time and material equipment logs",
      "endpoint": "PATCH /projects/{project_id}/time_and_material_equipment_logs/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-equipment-log?version=1.0#bulk-update-time-and-material-equipment-logs"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_equipment_logs/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Time And Material Equipment Log",
    "description": "Return Time And Material Equipment Log detailed information.",
    "tags": [
     "Time And Material Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time And Material Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 67800
          },
          "description": {
           "type": "string",
           "description": "Discription of Time And Material Equipment Log",
           "example": "This backhoe was used for the second day"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure for associate Time And Material Equipment Log",
           "example": "each"
          },
          "quantity": {
           "type": "integer",
           "description": "Number of Time And Material Equipment Log used"
          },
          "idle_quantity": {
           "type": "number",
           "format": "float",
           "description": "Idle Quantity of Time And Material Equipment Log was used",
           "example": 3.5
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the Time And Material Equipment Log was logged on",
           "example": 1235
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the Time And Material Equipment Log is associated with",
           "example": 45
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was updated",
           "example": "2019-10-30T10:34:56Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was created",
           "example": "2019-10-31T12:34:52Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was deleted",
           "example": "2019-11-26T08:12:45Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a Time And Material Equipment Log",
    "description": "Updating a Time And Material Equipment Log",
    "tags": [
     "Time And Material Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Time And Material Equipment Log",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "title": "Time And Material Equipment Log",
        "required": [
         "time_and_material_equipment_log"
        ],
        "properties": {
         "time_and_material_equipment_log": {
          "type": "object",
          "title": "Time and Material Equipment Log Properties",
          "properties": {
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time & Material Entry Id of Time And Material Equipment Log",
            "example": 16
           },
           "description": {
            "type": "string",
            "description": "Description of Time And Material Equipment Log",
            "example": "This backhoe was used for the second day for all damaged pipes"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for Time And Material Equipment Log",
            "example": "each"
           },
           "quantity": {
            "type": "integer",
            "description": "Quantity of Time And Material Equipment Log",
            "example": "10"
           },
           "idle_quantity": {
            "type": "number",
            "format": "float",
            "description": "Idle Quantity of Time And Material Equipment Log",
            "example": 3.5
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "T&M equipment log  updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time And Material Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 67800
          },
          "description": {
           "type": "string",
           "description": "Discription of Time And Material Equipment Log",
           "example": "This backhoe was used for the second day"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure for associate Time And Material Equipment Log",
           "example": "each"
          },
          "quantity": {
           "type": "integer",
           "description": "Number of Time And Material Equipment Log used"
          },
          "idle_quantity": {
           "type": "number",
           "format": "float",
           "description": "Idle Quantity of Time And Material Equipment Log was used",
           "example": 3.5
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the Time And Material Equipment Log was logged on",
           "example": 1235
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the Time And Material Equipment Log is associated with",
           "example": 45
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was updated",
           "example": "2019-10-30T10:34:56Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was created",
           "example": "2019-10-31T12:34:52Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was deleted",
           "example": "2019-11-26T08:12:45Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating a Time And Material Equipment Log",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_equipment_log: {\n      time_and_material_entry_id: 16,\n      description: 'This backhoe was used for the second day for all damaged pipes',\n      uom: 'each',\n      quantity: '10',\n      idle_quantity: 3.5\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_equipment_log\\\":{\\\"time_and_material_entry_id\\\":16,\\\"description\\\":\\\"This backhoe was used for the second day for all damaged pipes\\\",\\\"uom\\\":\\\"each\\\",\\\"quantity\\\":\\\"10\\\",\\\"idle_quantity\\\":3.5}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_equipment_log\":{\"time_and_material_entry_id\":16,\"description\":\"This backhoe was used for the second day for all damaged pipes\",\"uom\":\"each\",\"quantity\":\"10\",\"idle_quantity\":3.5}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"time_and_material_equipment_log\\\":{\\\"time_and_material_entry_id\\\":16,\\\"description\\\":\\\"This backhoe was used for the second day for all damaged pipes\\\",\\\"uom\\\":\\\"each\\\",\\\"quantity\\\":\\\"10\\\",\\\"idle_quantity\\\":3.5}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete a Time And Material Equipment Log",
    "description": "Deleting a Time And Material Equipment Log",
    "tags": [
     "Time And Material Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Time And Material Equipment Log",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Time And Material Equipment Log deleted",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time And Material Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 67800
          },
          "description": {
           "type": "string",
           "description": "Discription of Time And Material Equipment Log",
           "example": "This backhoe was used for the second day"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure for associate Time And Material Equipment Log",
           "example": "each"
          },
          "quantity": {
           "type": "integer",
           "description": "Number of Time And Material Equipment Log used"
          },
          "idle_quantity": {
           "type": "number",
           "format": "float",
           "description": "Idle Quantity of Time And Material Equipment Log was used",
           "example": 3.5
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the Time And Material Equipment Log was logged on",
           "example": 1235
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the Time And Material Equipment Log is associated with",
           "example": 45
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was updated",
           "example": "2019-10-30T10:34:56Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was created",
           "example": "2019-10-31T12:34:52Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Time And Material Equipment Log was deleted",
           "example": "2019-11-26T08:12:45Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_equipment_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}