{
 "openapi": "3.0.0",
 "info": {
  "title": "Timesheet To Budget Configuration",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Timesheet To Budget Configuration",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity",
   "PM Essentials",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/timesheets/timesheet_to_budget_configuration": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show timesheet to budget configuration",
    "description": "Show timesheet to budget configuration",
    "tags": [
     "Timesheets"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "TimesheetToBudgetConfiguration",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "TimesheetToBudgetConfiguration ID",
           "example": 1
          },
          "line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type)",
           "example": 8
          },
          "erp_default_line_item_type_id": {
           "type": "integer",
           "description": "ERP Line Item Type ID (Cost Type). Company must also be ERP integrated",
           "example": 12
          },
          "equipment_default_line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type) for equipment timecards entries.",
           "example": 14
          },
          "equipment_erp_default_line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type) for equipment timecards entries. Company must also be ERP integrated",
           "example": 15
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 13
          },
          "has_backfilled": {
           "type": "boolean",
           "description": "Whether the default Line Item Type ID has been backfilled to Timecard Entries",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 TimesheetToBudgetConfiguration endpoint",
      "description": "Added a Rest v1.0 endpoint",
      "endpoint": "GET /companies/{company_id}/timesheets/timesheet_to_budget_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timesheet-to-budget-configuration?version=1.0#show-timesheet-to-budget-configuration"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create timesheet to budget configuration",
    "description": "Create timesheet to budget configuration",
    "tags": [
     "Timesheets"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "line_item_type_id",
         "erp_default_line_item_type_id"
        ],
        "properties": {
         "line_item_type_id": {
          "type": "integer",
          "description": "Line Item Type ID"
         },
         "erp_default_line_item_type_id": {
          "type": "integer",
          "description": "ERP Line Item Type ID"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "TimesheetToBudgetConfiguration",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "TimesheetToBudgetConfiguration ID",
           "example": 1
          },
          "line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type)",
           "example": 8
          },
          "erp_default_line_item_type_id": {
           "type": "integer",
           "description": "ERP Line Item Type ID (Cost Type). Company must also be ERP integrated",
           "example": 12
          },
          "equipment_default_line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type) for equipment timecards entries.",
           "example": 14
          },
          "equipment_erp_default_line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type) for equipment timecards entries. Company must also be ERP integrated",
           "example": 15
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 13
          },
          "has_backfilled": {
           "type": "boolean",
           "description": "Whether the default Line Item Type ID has been backfilled to Timecard Entries",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration',\n  headers: {'content-type': 'application/json'},\n  body: {line_item_type_id: 0, erp_default_line_item_type_id: 0},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"line_item_type_id\\\":0,\\\"erp_default_line_item_type_id\\\":0}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration \\\n  --header 'content-type: application/json' \\\n  --data '{\"line_item_type_id\":0,\"erp_default_line_item_type_id\":0}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration\"),\n    Content = new StringContent(\"{\\\"line_item_type_id\\\":0,\\\"erp_default_line_item_type_id\\\":0}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 TimesheetToBudgetConfiguration endpoint",
      "description": "Added a Rest v1.0 endpoint",
      "endpoint": "POST /companies/{company_id}/timesheets/timesheet_to_budget_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timesheet-to-budget-configuration?version=1.0#create-timesheet-to-budget-configuration"
     },
     {
      "summary": "Added equipment timecard entry related fields to create",
      "description": "Added equipment_default_line_item_type_id, and equipment_erp_default_line_item_type_id params for create action.",
      "endpoint": "POST /companies/{company_id}/timesheets/timesheet_to_budget_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-12-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timesheet-to-budget-configuration?version=1.0#create-timesheet-to-budget-configuration"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update timesheet to budget configuration",
    "description": "Update timesheet to budget configuration",
    "tags": [
     "Timesheets"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "line_item_type_id",
         "erp_default_line_item_type_id"
        ],
        "properties": {
         "apply_to_existing": {
          "type": "boolean",
          "description": "Whether the passed in Line Item Type ID should be applied to existing timecard entries (erp or not)",
          "example": true
         },
         "line_item_type_id": {
          "type": "integer",
          "description": "Line Item Type ID"
         },
         "erp_default_line_item_type_id": {
          "type": "integer",
          "description": "ERP Line Item Type ID"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "TimesheetToBudgetConfiguration",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "TimesheetToBudgetConfiguration ID",
           "example": 1
          },
          "line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type)",
           "example": 8
          },
          "erp_default_line_item_type_id": {
           "type": "integer",
           "description": "ERP Line Item Type ID (Cost Type). Company must also be ERP integrated",
           "example": 12
          },
          "equipment_default_line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type) for equipment timecards entries.",
           "example": 14
          },
          "equipment_erp_default_line_item_type_id": {
           "type": "integer",
           "description": "Line Item Type ID (Cost Type) for equipment timecards entries. Company must also be ERP integrated",
           "example": 15
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 13
          },
          "has_backfilled": {
           "type": "boolean",
           "description": "Whether the default Line Item Type ID has been backfilled to Timecard Entries",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration',\n  headers: {'content-type': 'application/json'},\n  body: {\n    apply_to_existing: true,\n    line_item_type_id: 0,\n    erp_default_line_item_type_id: 0\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"apply_to_existing\\\":true,\\\"line_item_type_id\\\":0,\\\"erp_default_line_item_type_id\\\":0}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration \\\n  --header 'content-type: application/json' \\\n  --data '{\"apply_to_existing\":true,\"line_item_type_id\":0,\"erp_default_line_item_type_id\":0}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration\"),\n    Content = new StringContent(\"{\\\"apply_to_existing\\\":true,\\\"line_item_type_id\\\":0,\\\"erp_default_line_item_type_id\\\":0}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 TimesheetToBudgetConfiguration endpoint",
      "description": "Added a Rest v1.0 endpoint",
      "endpoint": "PATCH /companies/{company_id}/timesheets/timesheet_to_budget_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timesheet-to-budget-configuration?version=1.0#update-timesheet-to-budget-configuration"
     },
     {
      "summary": "Added equipment timecard entry related fields",
      "description": "Added equipment_default_line_item_type_id, equipment_erp_default_line_item_type_id, apply_to_existing_labor, and apply_to_existing_equipment params to update action.",
      "endpoint": "PATCH /companies/{company_id}/timesheets/timesheet_to_budget_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-12-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timesheet-to-budget-configuration?version=1.0#update-timesheet-to-budget-configuration"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete timesheet to budget configuration",
    "description": "Delete timesheet to budget configuration",
    "tags": [
     "Timesheets"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timesheets/timesheet_to_budget_configuration\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 TimesheetToBudgetConfiguration endpoint",
      "description": "Added a Rest v1.0 endpoint",
      "endpoint": "DELETE /companies/{company_id}/timesheets/timesheet_to_budget_configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timesheet-to-budget-configuration?version=1.0#delete-timesheet-to-budget-configuration"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}