{
 "openapi": "3.0.0",
 "info": {
  "title": "Time And Material Timecard",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Time and Material Timecard",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/time_and_material_timecards": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Time And Material Timecards",
    "description": "Return a list of all Time And Material Timecards",
    "tags": [
     "Time And Material Timecard"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time And Material Timecards",
         "items": {
          "type": "object",
          "description": "Time And Material Timecard",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 1023
           },
           "hours_worked": {
            "type": "number",
            "format": "float",
            "description": "Quantity",
            "example": "7.5"
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 1509
           },
           "project_id": {
            "type": "integer",
            "description": "Unique identifier for the project.",
            "example": 14406
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the timecard is associated with",
            "example": 13
           },
           "timecard_time_type_id": {
            "type": "integer",
            "description": "Type ID for the timecard",
            "example": 19
           },
           "work_classification_id": {
            "type": "integer",
            "description": "Work classification id for the worker",
            "example": 10
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was updated",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was created",
            "example": "2019-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was deleted",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "login_information": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Time And Material Timecard",
    "description": "Create a new Time And Material Timecard Entry.",
    "tags": [
     "Time And Material Timecard"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "title": "Time And Material Timecard Body",
        "required": [
         "time_and_material_timecard"
        ],
        "properties": {
         "time_and_material_timecard": {
          "type": "object",
          "title": "Time and Material Timecard Properties",
          "properties": {
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time & Material Entry Id the timecard is associated with",
            "example": 13
           },
           "timecard_time_type_id": {
            "type": "integer",
            "description": "Type id for the type of timecard being created",
            "example": 13
           },
           "login_information_id": {
            "type": "integer",
            "description": "ID of the person the timecard is being created for",
            "example": 10
           },
           "work_classification_id": {
            "type": "integer",
            "description": "ID of the worker's work classification",
            "example": 10
           },
           "hours_worked": {
            "type": "number",
            "format": "float",
            "description": "Total hours worked",
            "example": "7.5"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time And Material Timecard",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1023
          },
          "hours_worked": {
           "type": "number",
           "format": "float",
           "description": "Quantity",
           "example": "7.5"
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 1509
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 14406
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the timecard is associated with",
           "example": 13
          },
          "timecard_time_type_id": {
           "type": "integer",
           "description": "Type ID for the timecard",
           "example": 19
          },
          "work_classification_id": {
           "type": "integer",
           "description": "Work classification id for the worker",
           "example": 10
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was updated",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was created",
           "example": "2019-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was deleted",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "login_information": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_timecard: {\n      time_and_material_entry_id: 13,\n      timecard_time_type_id: 13,\n      login_information_id: 10,\n      work_classification_id: 10,\n      hours_worked: '7.5'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_timecard\\\":{\\\"time_and_material_entry_id\\\":13,\\\"timecard_time_type_id\\\":13,\\\"login_information_id\\\":10,\\\"work_classification_id\\\":10,\\\"hours_worked\\\":\\\"7.5\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_timecard\":{\"time_and_material_entry_id\":13,\"timecard_time_type_id\":13,\"login_information_id\":10,\"work_classification_id\":10,\"hours_worked\":\"7.5\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"time_and_material_timecard\\\":{\\\"time_and_material_entry_id\\\":13,\\\"timecard_time_type_id\\\":13,\\\"login_information_id\\\":10,\\\"work_classification_id\\\":10,\\\"hours_worked\\\":\\\"7.5\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_timecards/bulk_destroy": {
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Delete Time and material timecards",
    "description": "Bulk delete Time and material timecards with one request.",
    "tags": [
     "Time and material timecard"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and material timecard Bulk Destroy Body",
        "type": "object",
        "required": [
         "time_and_material_timecards"
        ],
        "properties": {
         "time_and_material_timecards": {
          "title": "Time and Material timecards",
          "type": "object",
          "description": "Time and material timecard Object",
          "properties": {
           "time_and_material_timecards_ids": {
            "description": "Array of time and material timecard IDs specified for delete",
            "type": "array",
            "items": {
             "type": "integer",
             "description": "ID",
             "example": 3946
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time and material timecards",
         "items": {
          "type": "object",
          "description": "Time And Material Timecard",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 1023
           },
           "hours_worked": {
            "type": "number",
            "format": "float",
            "description": "Quantity",
            "example": "7.5"
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 1509
           },
           "project_id": {
            "type": "integer",
            "description": "Unique identifier for the project.",
            "example": 14406
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the timecard is associated with",
            "example": 13
           },
           "timecard_time_type_id": {
            "type": "integer",
            "description": "Type ID for the timecard",
            "example": 19
           },
           "work_classification_id": {
            "type": "integer",
            "description": "Work classification id for the worker",
            "example": 10
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was updated",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was created",
            "example": "2019-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was deleted",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "login_information": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_destroy',\n  headers: {'content-type': 'application/json'},\n  body: {time_and_material_timecards: {time_and_material_timecards_ids: [3946]}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_timecards\\\":{\\\"time_and_material_timecards_ids\\\":[3946]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_destroy\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_destroy \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_timecards\":{\"time_and_material_timecards_ids\":[3946]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_destroy\"),\n    Content = new StringContent(\"{\\\"time_and_material_timecards\\\":{\\\"time_and_material_timecards_ids\\\":[3946]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk delete endpoint for Project time and material timecards",
      "description": "Added the ability to bulk delete Project time and material timecards",
      "endpoint": "DELETE /projects/{project_id}/time_and_material_timecards/bulk_destroy",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-timecard?version=1.0#bulk-delete-time-and-material-timecards"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_timecards/bulk_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Time and material timecards",
    "description": "Bulk create Time and material timecards with one request.",
    "tags": [
     "Time and material timecard"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and material timecard Bulk Create Body",
        "type": "object",
        "required": [
         "time_and_material_timecards"
        ],
        "properties": {
         "time_and_material_timecards": {
          "type": "array",
          "description": "Array of Time and material timecard objects",
          "items": {
           "type": "object",
           "title": "Time and Material Timecard Properties",
           "properties": {
            "time_and_material_entry_id": {
             "type": "integer",
             "description": "Time & Material Entry Id the timecard is associated with",
             "example": 13
            },
            "timecard_time_type_id": {
             "type": "integer",
             "description": "Type id for the type of timecard being created",
             "example": 13
            },
            "login_information_id": {
             "type": "integer",
             "description": "ID of the person the timecard is being created for",
             "example": 10
            },
            "work_classification_id": {
             "type": "integer",
             "description": "ID of the worker's work classification",
             "example": 10
            },
            "hours_worked": {
             "type": "number",
             "format": "float",
             "description": "Total hours worked",
             "example": "7.5"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time and material timecards",
         "items": {
          "type": "object",
          "description": "Time And Material Timecard",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 1023
           },
           "hours_worked": {
            "type": "number",
            "format": "float",
            "description": "Quantity",
            "example": "7.5"
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 1509
           },
           "project_id": {
            "type": "integer",
            "description": "Unique identifier for the project.",
            "example": 14406
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the timecard is associated with",
            "example": 13
           },
           "timecard_time_type_id": {
            "type": "integer",
            "description": "Type ID for the timecard",
            "example": 19
           },
           "work_classification_id": {
            "type": "integer",
            "description": "Work classification id for the worker",
            "example": 10
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was updated",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was created",
            "example": "2019-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was deleted",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "login_information": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_create',\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_timecards: [\n      {\n        time_and_material_entry_id: 13,\n        timecard_time_type_id: 13,\n        login_information_id: 10,\n        work_classification_id: 10,\n        hours_worked: '7.5'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_timecards\\\":[{\\\"time_and_material_entry_id\\\":13,\\\"timecard_time_type_id\\\":13,\\\"login_information_id\\\":10,\\\"work_classification_id\\\":10,\\\"hours_worked\\\":\\\"7.5\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_create\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_create \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_timecards\":[{\"time_and_material_entry_id\":13,\"timecard_time_type_id\":13,\"login_information_id\":10,\"work_classification_id\":10,\"hours_worked\":\"7.5\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_create\"),\n    Content = new StringContent(\"{\\\"time_and_material_timecards\\\":[{\\\"time_and_material_entry_id\\\":13,\\\"timecard_time_type_id\\\":13,\\\"login_information_id\\\":10,\\\"work_classification_id\\\":10,\\\"hours_worked\\\":\\\"7.5\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk create endpoint for Project time and material timecards",
      "description": "Added the ability to bulk create Project time and material timecards",
      "endpoint": "POST /projects/{project_id}/time_and_material_timecards/bulk_create",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-timecard?version=1.0#bulk-create-time-and-material-timecards"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_timecards/bulk_update": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Update Time and material timecards",
    "description": "Bulk update Time and material timecards with one request.",
    "tags": [
     "Time and material timecard"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Time and material timecard Bulk Update Body",
        "type": "object",
        "required": [
         "time_and_material_timecards"
        ],
        "properties": {
         "time_and_material_timecards": {
          "type": "array",
          "description": "Array of Time and material timecard objects",
          "items": {
           "type": "object",
           "title": "Time and Material Timecard Properties",
           "properties": {
            "time_and_material_entry_id": {
             "type": "integer",
             "description": "Time & Material Entry Id the timecard is associated with",
             "example": 13
            },
            "timecard_time_type_id": {
             "type": "integer",
             "description": "Type id for the type of timecard being created",
             "example": 13
            },
            "login_information_id": {
             "type": "integer",
             "description": "ID of the person the timecard is being created for",
             "example": 10
            },
            "work_classification_id": {
             "type": "integer",
             "description": "ID of the worker's work classification",
             "example": 10
            },
            "hours_worked": {
             "type": "number",
             "format": "float",
             "description": "Total hours worked",
             "example": "7.5"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time and material timecards",
         "items": {
          "type": "object",
          "description": "Time And Material Timecard",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 1023
           },
           "hours_worked": {
            "type": "number",
            "format": "float",
            "description": "Quantity",
            "example": "7.5"
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 1509
           },
           "project_id": {
            "type": "integer",
            "description": "Unique identifier for the project.",
            "example": 14406
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the timecard is associated with",
            "example": 13
           },
           "timecard_time_type_id": {
            "type": "integer",
            "description": "Type ID for the timecard",
            "example": 19
           },
           "work_classification_id": {
            "type": "integer",
            "description": "Work classification id for the worker",
            "example": 10
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was updated",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was created",
            "example": "2019-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was deleted",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "login_information": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_timecards: [\n      {\n        time_and_material_entry_id: 13,\n        timecard_time_type_id: 13,\n        login_information_id: 10,\n        work_classification_id: 10,\n        hours_worked: '7.5'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_timecards\\\":[{\\\"time_and_material_entry_id\\\":13,\\\"timecard_time_type_id\\\":13,\\\"login_information_id\\\":10,\\\"work_classification_id\\\":10,\\\"hours_worked\\\":\\\"7.5\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_timecards\":[{\"time_and_material_entry_id\":13,\"timecard_time_type_id\":13,\"login_information_id\":10,\"work_classification_id\":10,\"hours_worked\":\"7.5\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/bulk_update\"),\n    Content = new StringContent(\"{\\\"time_and_material_timecards\\\":[{\\\"time_and_material_entry_id\\\":13,\\\"timecard_time_type_id\\\":13,\\\"login_information_id\\\":10,\\\"work_classification_id\\\":10,\\\"hours_worked\\\":\\\"7.5\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk update endpoint for Project time and material timecards",
      "description": "Added the ability to bulk update Project time and material timecards",
      "endpoint": "PATCH /projects/{project_id}/time_and_material_timecards/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-timecard?version=1.0#bulk-update-time-and-material-timecards"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_timecards/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Time And Material Timecard",
    "description": "Return detailed information about a specific Time And Material Timecard.",
    "tags": [
     "Time And Material Timecard"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the project to get the time and material timecards for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time And Material Timecard",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1023
          },
          "hours_worked": {
           "type": "number",
           "format": "float",
           "description": "Quantity",
           "example": "7.5"
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 1509
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 14406
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the timecard is associated with",
           "example": 13
          },
          "timecard_time_type_id": {
           "type": "integer",
           "description": "Type ID for the timecard",
           "example": 19
          },
          "work_classification_id": {
           "type": "integer",
           "description": "Work classification id for the worker",
           "example": 10
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was updated",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was created",
           "example": "2019-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was deleted",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "login_information": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Time And Material Timecard",
    "description": "Update a specified Time And Material Timecard.",
    "tags": [
     "Time And Material Timecard"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the project to get the time and material timecards for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "title": "Time And Material Timecard Body",
        "required": [
         "time_and_material_timecard"
        ],
        "properties": {
         "time_and_material_timecard": {
          "type": "object",
          "title": "Time and Material Timecard Properties",
          "properties": {
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time & Material Entry Id the timecard is associated with",
            "example": 13
           },
           "timecard_time_type_id": {
            "type": "integer",
            "description": "Type id for the type of timecard being created",
            "example": 13
           },
           "login_information_id": {
            "type": "integer",
            "description": "ID of the person the timecard is being created for",
            "example": 10
           },
           "work_classification_id": {
            "type": "integer",
            "description": "ID of the worker's work classification",
            "example": 10
           },
           "hours_worked": {
            "type": "number",
            "format": "float",
            "description": "Total hours worked",
            "example": "7.5"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time And Material Timecard",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1023
          },
          "hours_worked": {
           "type": "number",
           "format": "float",
           "description": "Quantity",
           "example": "7.5"
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 1509
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 14406
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the timecard is associated with",
           "example": 13
          },
          "timecard_time_type_id": {
           "type": "integer",
           "description": "Type ID for the timecard",
           "example": 19
          },
          "work_classification_id": {
           "type": "integer",
           "description": "Work classification id for the worker",
           "example": 10
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was updated",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was created",
           "example": "2019-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was deleted",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "login_information": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_timecard: {\n      time_and_material_entry_id: 13,\n      timecard_time_type_id: 13,\n      login_information_id: 10,\n      work_classification_id: 10,\n      hours_worked: '7.5'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_timecard\\\":{\\\"time_and_material_entry_id\\\":13,\\\"timecard_time_type_id\\\":13,\\\"login_information_id\\\":10,\\\"work_classification_id\\\":10,\\\"hours_worked\\\":\\\"7.5\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_timecard\":{\"time_and_material_entry_id\":13,\"timecard_time_type_id\":13,\"login_information_id\":10,\"work_classification_id\":10,\"hours_worked\":\"7.5\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"time_and_material_timecard\\\":{\\\"time_and_material_entry_id\\\":13,\\\"timecard_time_type_id\\\":13,\\\"login_information_id\\\":10,\\\"work_classification_id\\\":10,\\\"hours_worked\\\":\\\"7.5\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Time And Material Timecard",
    "description": "Detete a specific Time And Material Timecard.",
    "tags": [
     "Time And Material Timecard"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the project to get the time and material timecards for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time And Material Timecard",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 1023
          },
          "hours_worked": {
           "type": "number",
           "format": "float",
           "description": "Quantity",
           "example": "7.5"
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 1509
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 14406
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the timecard is associated with",
           "example": 13
          },
          "timecard_time_type_id": {
           "type": "integer",
           "description": "Type ID for the timecard",
           "example": 19
          },
          "work_classification_id": {
           "type": "integer",
           "description": "Work classification id for the worker",
           "example": 10
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was updated",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was created",
           "example": "2019-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was deleted",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "login_information": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_timecards/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}