{
 "openapi": "3.0.0",
 "info": {
  "title": "Time and Materials",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Time and Material Signature",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/time_and_material_entries/signatures": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Signatures",
    "description": "Return all Signatures detailed information.",
    "tags": [
     "Signature"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Time and Material Entry Signature",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 5324
           },
           "signature_text": {
            "type": "string",
            "description": "Acknowedgement text the signature was signed against.",
            "example": "I acknowledge these hours are correct."
           },
           "file_name": {
            "type": "string",
            "description": "File Name",
            "example": "signature_2018_09_16.jpg"
           },
           "url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           },
           "medium_thumbnail_url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           },
           "large_thumbnail_url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at date",
            "example": "2024-03-15T06:13:10Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Signatures",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Signature for Time and Material Entry",
    "description": "Create new Signature associated with the specified Project.",
    "tags": [
     "Time and Material Signature"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "TimeAndMaterialSignatureCreateBody",
        "type": "object",
        "required": [
         "signature"
        ],
        "properties": {
         "signature": {
          "type": "object",
          "required": [
           "party_id"
          ],
          "properties": {
           "data": {
            "type": "string",
            "description": "Attachment representing the Signature.\nTo upload an attachment, you must upload the entire payload as `multipart/form-data` content-type\nand specify each parameter as form-data together with `data` file."
           },
           "party_id": {
            "type": "integer",
            "description": "ID of the party the signature is attributed to"
           },
           "signature_text": {
            "type": "string",
            "description": "Acknowedgement text the signature was signed against."
           },
           "upload_id": {
            "type": "string",
            "description": "Signature Upload ID",
            "example": "01JBD3HF2SA3JZ5AR107GTWF4E"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Signature Created Succesfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Entry Signature",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 5324
          },
          "signature_text": {
           "type": "string",
           "description": "Acknowedgement text the signature was signed against.",
           "example": "I acknowledge these hours are correct."
          },
          "file_name": {
           "type": "string",
           "description": "File Name",
           "example": "signature_2018_09_16.jpg"
          },
          "url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "medium_thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "large_thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at date",
           "example": "2024-03-15T06:13:10Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to create Signatures",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating Signatures",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures',\n  headers: {'content-type': 'application/json'},\n  body: {\n    signature: {\n      data: 'string',\n      party_id: 0,\n      signature_text: 'string',\n      upload_id: '01JBD3HF2SA3JZ5AR107GTWF4E'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"signature\\\":{\\\"data\\\":\\\"string\\\",\\\"party_id\\\":0,\\\"signature_text\\\":\\\"string\\\",\\\"upload_id\\\":\\\"01JBD3HF2SA3JZ5AR107GTWF4E\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures \\\n  --header 'content-type: application/json' \\\n  --data '{\"signature\":{\"data\":\"string\",\"party_id\":0,\"signature_text\":\"string\",\"upload_id\":\"01JBD3HF2SA3JZ5AR107GTWF4E\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures\"),\n    Content = new StringContent(\"{\\\"signature\\\":{\\\"data\\\":\\\"string\\\",\\\"party_id\\\":0,\\\"signature_text\\\":\\\"string\\\",\\\"upload_id\\\":\\\"01JBD3HF2SA3JZ5AR107GTWF4E\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add upload_id as a new parameter for Time and Material Signature create endpoint",
      "description": "Add upload_id as a new parameter for Time and Material Signature create endpoint",
      "endpoint": "POST /projects/{project_id}/time_and_material_entries/signatures",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "time-and-material-signature?version=1.0#create-signature-for-time-and-material-entry"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_entries/signatures/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show A Signature",
    "description": "Return Signature detailed information.",
    "tags": [
     "Signature"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Signature ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Entry Signature",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 5324
          },
          "signature_text": {
           "type": "string",
           "description": "Acknowedgement text the signature was signed against.",
           "example": "I acknowledge these hours are correct."
          },
          "file_name": {
           "type": "string",
           "description": "File Name",
           "example": "signature_2018_09_16.jpg"
          },
          "url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "medium_thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "large_thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at date",
           "example": "2024-03-15T06:13:10Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Signatures",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Signature",
    "description": "Deletes the Signature for the corresponding ID passed",
    "tags": [
     "Signature"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Signature ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Time and Material Entry Signature",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 5324
          },
          "signature_text": {
           "type": "string",
           "description": "Acknowedgement text the signature was signed against.",
           "example": "I acknowledge these hours are correct."
          },
          "file_name": {
           "type": "string",
           "description": "File Name",
           "example": "signature_2018_09_16.jpg"
          },
          "url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "medium_thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "large_thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at date",
           "example": "2024-03-15T06:13:10Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to edit Signatures",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/time_and_material_entries/signatures/bulk_destroy": {
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Multiple Signatures",
    "description": "Deletes the Signature for the corresponding IDs passed",
    "tags": [
     "Signature"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "TimeAndMaterialSignatureBulkDestroy",
        "type": "object",
        "required": [
         "time_and_material_entry"
        ],
        "properties": {
         "time_and_material_entry": {
          "title": "TimeAndMaterialEntrySignature",
          "type": "object",
          "description": "Time and Material Entry Signature",
          "properties": {
           "time_and_material_signature_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "example": 95861
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Time And Material Signatures",
         "items": {
          "type": "object",
          "description": "Time and Material Entry Signature",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 5324
           },
           "signature_text": {
            "type": "string",
            "description": "Acknowedgement text the signature was signed against.",
            "example": "I acknowledge these hours are correct."
           },
           "file_name": {
            "type": "string",
            "description": "File Name",
            "example": "signature_2018_09_16.jpg"
           },
           "url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           },
           "medium_thumbnail_url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           },
           "large_thumbnail_url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at date",
            "example": "2024-03-15T06:13:10Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to edit Signatures",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/bulk_destroy',\n  headers: {'content-type': 'application/json'},\n  body: {time_and_material_entry: {time_and_material_signature_ids: [95861]}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_entry\\\":{\\\"time_and_material_signature_ids\\\":[95861]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/bulk_destroy\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/bulk_destroy \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_entry\":{\"time_and_material_signature_ids\":[95861]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/time_and_material_entries/signatures/bulk_destroy\"),\n    Content = new StringContent(\"{\\\"time_and_material_entry\\\":{\\\"time_and_material_signature_ids\\\":[95861]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}