{
 "openapi": "3.0.0",
 "info": {
  "title": "Timecards",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Timecards",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/timecard_time_types": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Timecard Time Types",
    "description": "Return a list of all Timecard Time Types for a specified Company.",
    "tags": [
     "Timecards (Company)"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Timecard Time Types",
         "items": {
          "type": "object",
          "title": "TimecardTimeType",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Time type id",
            "example": 1
           },
           "time_type": {
            "type": "string",
            "description": "Time type",
            "example": "Another Time"
           },
           "in_use": {
            "type": "boolean",
            "description": "True when the time type is referenced by at least one timecard entry, overtime rule, or time and material timecard. Use this to decide whether the time type is safe to delete or hide.",
            "example": false
           }
          }
         },
         "example": [
          {
           "id": 1,
           "time_type": "Regular Time"
          },
          {
           "id": 5,
           "time_type": "Double Time"
          },
          {
           "id": 6,
           "time_type": "Exempt"
          },
          {
           "id": 3,
           "time_type": "Holiday"
          },
          {
           "id": 2,
           "time_type": "Overtime"
          },
          {
           "id": 7,
           "time_type": "PTO"
          },
          {
           "id": 8,
           "time_type": "Salary"
          },
          {
           "id": 4,
           "time_type": "Vacation"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_time_types'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/timecard_time_types\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_time_types"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_time_types\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/companies/{company_id}/timecard_time_types/{id}": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Timecard Time Type",
    "description": "Return an update Timecard Time Type for a specified Company.",
    "tags": [
     "Timecards (Company)"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Timecard Time Type",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Timecard Time Type Body",
        "type": "object",
        "required": [
         "timecard_time_type"
        ],
        "properties": {
         "timecard_time_type": {
          "title": "TimeAndMaterialEntry",
          "type": "object",
          "description": "Timecard Time Type Object",
          "properties": {
           "pay_rate": {
            "type": "boolean",
            "description": "The pay_rate of the Timecard Time Type",
            "example": 1.5
           },
           "name": {
            "type": "string",
            "description": "The name of the Timecard Time Type. Cannot be edited when the Timecard Time Type has associated timecard entries.\n",
            "example": "Regular Time"
           },
           "abbreviated_time_type": {
            "type": "string",
            "description": "The abbreviation of the Timecard Time Type. Cannot be edited when the Timecard Time Type has associated timecard entries.\n",
            "example": "REG"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Timecard Time Type updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "TimecardTimeType",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Time type id",
           "example": 1
          },
          "time_type": {
           "type": "string",
           "description": "Time type",
           "example": "Another Time"
          },
          "in_use": {
           "type": "boolean",
           "description": "True when the time type is referenced by at least one timecard entry, overtime rule, or time and material timecard. Use this to decide whether the time type is safe to delete or hide.",
           "example": false
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating a Timecard Time Type",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_time_types/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    timecard_time_type: {pay_rate: 1.5, name: 'Regular Time', abbreviated_time_type: 'REG'}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"timecard_time_type\\\":{\\\"pay_rate\\\":1.5,\\\"name\\\":\\\"Regular Time\\\",\\\"abbreviated_time_type\\\":\\\"REG\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/timecard_time_types/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_time_types/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"timecard_time_type\":{\"pay_rate\":1.5,\"name\":\"Regular Time\",\"abbreviated_time_type\":\"REG\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/timecard_time_types/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"timecard_time_type\\\":{\\\"pay_rate\\\":1.5,\\\"name\\\":\\\"Regular Time\\\",\\\"abbreviated_time_type\\\":\\\"REG\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Timecard Time Types PATCH method to Rest::V1::CompanyArea::TimecardTimeTypes::V0::TimecardTimeTypes controller",
      "description": "Add Timecard Time Types PATCH method to controller.",
      "endpoint": "PATCH /companies/{company_id}/timecard_time_types/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-12-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timecards?version=1.0#update-timecard-time-type"
     },
     {
      "summary": "Accept name and abbreviated_time_type on Timecard Time Types PATCH",
      "description": "The PATCH endpoint now accepts updates to `name` and `abbreviated_time_type`. Both are rejected with a 422 when the Timecard Time Type has associated timecard entries.\n",
      "endpoint": "PATCH /companies/{company_id}/timecard_time_types/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timecards?version=1.0#update-timecard-time-type"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}