{
 "openapi": "3.0.0",
 "info": {
  "title": "Timesheets",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Timesheets",
  "version": "1.1",
  "x-product-lines": [
   "Field Productivity",
   "PM Essentials",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/project_timecard_entries": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Timecard Entry",
    "description": "Create Timecard Entry associated with the specific Project.",
    "tags": [
     "Timesheet"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "hours": {
          "type": "string",
          "description": "Total number of hours worked (excluding breaks) for the timecard entry. This property is not required if the timesheet time entry is configured for start time and stop time.",
          "example": "8.0"
         },
         "lunch_time": {
          "type": "string",
          "description": "The duration of the lunch break, in minutes, for the Timecard Entry. This property is only required if the timesheet time entry is configured for start time and stop time.",
          "example": "60"
         },
         "time_in": {
          "type": "string",
          "description": "The start time of the Timecard Entry in ISO 8601 format. This property is only required if the timesheet time entry is configured for start time and stop time.",
          "example": "2020-10-14T07:00:00Z"
         },
         "time_out": {
          "type": "string",
          "description": "The stop time of the Timecard Entry in ISO 8601 format. This property is only required if the timesheet time entry is configured for start time and stop time.",
          "example": "2018-10-14T16:00:00Z"
         },
         "billable": {
          "type": "boolean",
          "description": "The billable status of the Timecard Entry. Must be either true or false.",
          "default": false,
          "example": false
         },
         "date": {
          "type": "string",
          "format": "date",
          "description": "The date of the Timecard Entry in ISO 8601 format.",
          "example": "2020-10-14"
         },
         "description": {
          "type": "string",
          "description": "The description of the Timecard Entry.",
          "example": "This is a description."
         },
         "timecard_time_type_id": {
          "type": "integer",
          "description": "The ID of the Timecard Time Type corresponding to the Timecard Entry property.",
          "example": 1
         },
         "timesheet_id": {
          "type": "integer",
          "description": "The ID of the Timesheet corresponding to the Timecard Entry property.",
          "example": 41823
         },
         "cost_code_id": {
          "type": "integer",
          "description": "The ID of the Cost Code corresponding to the Timecard Entry property.",
          "example": 12345
         },
         "sub_job_id": {
          "type": "integer",
          "description": "The ID of the Subjob corresponding to the Timecard Entry property.",
          "example": 3483483
         },
         "location_id": {
          "type": "integer",
          "description": "The ID of the Location corresponding to the Timecard Entry property.",
          "example": 161072
         },
         "login_information_id": {
          "type": "integer",
          "description": "The ID of the Login Information corresponding to the Timecard Entry property.",
          "example": 2341
         },
         "party_id": {
          "type": "integer",
          "description": "The ID of the Party corresponding to the Timecard Entry property.",
          "example": 2341
         },
         "origin_id": {
          "type": "integer",
          "description": "The ID of the related external data.",
          "example": 23423
         },
         "origin_data": {
          "type": "string",
          "description": "The value of the related external data.",
          "example": "{'example':'related data'}"
         },
         "line_item_type_id": {
          "type": "integer",
          "description": "The ID of the line item type corresponding to the time card entry."
         },
         "custom_field_%{custom_field_definition_id}": {
          "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
          "example": "custom field value",
          "oneOf": [
           {
            "type": "string",
            "title": "string"
           },
           {
            "type": "number",
            "title": "number"
           },
           {
            "type": "boolean",
            "title": "boolean"
           },
           {
            "type": "array",
            "title": "array",
            "items": {
             "type": "integer"
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Timecard Entry created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "title": "TimecardEntry",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Timecard entry id",
             "example": 1
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2012-10-23T21:39:40Z"
            },
            "date": {
             "type": "string",
             "format": "date",
             "description": "Timecard entry date",
             "example": "2015-05-12"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Deleted at",
             "example": "2017-07-29T21:39:40Z"
            },
            "description": {
             "type": "string",
             "description": "Timecard entry description",
             "example": "Description"
            },
            "billable": {
             "type": "boolean",
             "description": "Timecard entry billable status",
             "example": true
            },
            "hours": {
             "type": "string",
             "description": "Timecard entry hours",
             "example": "5.0"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timecard entry updated at",
             "example": "2015-11-12T21:26:28Z"
            },
            "timecard_type": {
             "type": "string",
             "description": "Timecard entry time type",
             "example": "Regular Time"
            },
            "cost_code": {
             "type": "string",
             "description": "Timecard entry cost code",
             "example": "Summary"
            },
            "origin_id": {
             "type": "integer",
             "description": "ID of related external data",
             "example": 23423
            },
            "origin_data": {
             "type": "string",
             "description": "Value of related external data",
             "example": "{'example':'related data'}"
            },
            "timesheet_status": {
             "type": "string",
             "description": "Deprecated. Reference status property.",
             "example": "pending",
             "deprecated": true
            },
            "full_cost_code": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "login_information": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "timecard_time_type": {
             "type": "object",
             "title": "TimecardTimeType",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Time type id",
               "example": 1
              },
              "abbreviated_time_type": {
               "type": "string",
               "description": "Time type abbreviated",
               "example": "REG"
              },
              "company_id": {
               "type": "integer",
               "description": "Time type company id",
               "example": 15125
              },
              "global": {
               "type": "boolean",
               "description": "Time type global status",
               "example": false
              },
              "time_type": {
               "type": "string",
               "description": "Time type",
               "example": "Another Time"
              }
             }
            },
            "line_item_type_id": {
             "type": "integer",
             "description": "The ID of the Line Item Type of the Timecard Entry",
             "example": 13
            },
            "daily_log_segment_id": {
             "type": "integer",
             "description": "Daily Log Segment ID",
             "example": 123456,
             "nullable": true
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "automatically_split_timecard_entries": {
             "description": "Timecard entries returned with associated object as part of overtime_management",
             "type": "array",
             "items": {
              "type": "object",
              "title": "TimecardEntry",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Timecard entry id",
                "example": 1
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created at",
                "example": "2012-10-23T21:39:40Z"
               },
               "date": {
                "type": "string",
                "format": "date",
                "description": "Timecard entry date",
                "example": "2015-05-12"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Deleted at",
                "example": "2017-07-29T21:39:40Z"
               },
               "description": {
                "type": "string",
                "description": "Timecard entry description",
                "example": "Description"
               },
               "billable": {
                "type": "boolean",
                "description": "Timecard entry billable status",
                "example": true
               },
               "hours": {
                "type": "string",
                "description": "Timecard entry hours",
                "example": "5.0"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timecard entry updated at",
                "example": "2015-11-12T21:26:28Z"
               },
               "timecard_type": {
                "type": "string",
                "description": "Timecard entry time type",
                "example": "Regular Time"
               },
               "cost_code": {
                "type": "string",
                "description": "Timecard entry cost code",
                "example": "Summary"
               },
               "origin_id": {
                "type": "integer",
                "description": "ID of related external data",
                "example": 23423
               },
               "origin_data": {
                "type": "string",
                "description": "Value of related external data",
                "example": "{'example':'related data'}"
               },
               "timesheet_status": {
                "type": "string",
                "description": "Deprecated. Reference status property.",
                "example": "pending",
                "deprecated": true
               },
               "full_cost_code": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "login_information": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "timecard_time_type": {
                "type": "object",
                "title": "TimecardTimeType",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Time type id",
                  "example": 1
                 },
                 "abbreviated_time_type": {
                  "type": "string",
                  "description": "Time type abbreviated",
                  "example": "REG"
                 },
                 "company_id": {
                  "type": "integer",
                  "description": "Time type company id",
                  "example": 15125
                 },
                 "global": {
                  "type": "boolean",
                  "description": "Time type global status",
                  "example": false
                 },
                 "time_type": {
                  "type": "string",
                  "description": "Time type",
                  "example": "Another Time"
                 }
                }
               },
               "line_item_type_id": {
                "type": "integer",
                "description": "The ID of the Line Item Type of the Timecard Entry",
                "example": 13
               },
               "daily_log_segment_id": {
                "type": "integer",
                "description": "Daily Log Segment ID",
                "example": 123456,
                "nullable": true
               },
               "custom_fields": {
                "type": "object",
                "properties": {
                 "custom_field_%{custom_field_string_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "string"
                   },
                   "value": {
                    "type": "string",
                    "description": "The value of the custom field.",
                    "example": "custom field value"
                   }
                  }
                 },
                 "custom_field_%{custom_field_decimal_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "decimal"
                   },
                   "value": {
                    "type": "number",
                    "description": "The value of the custom field.",
                    "example": 2.2
                   }
                  }
                 },
                 "custom_field_%{custom_field_boolean_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "boolean"
                   },
                   "value": {
                    "type": "boolean",
                    "description": "The value of the custom field.",
                    "example": true
                   }
                  }
                 },
                 "custom_field_%{custom_field_lov_entry_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "lov_entry"
                   },
                   "value": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "The unique identifier of the list of values (LOV) entry.",
                      "example": 1
                     },
                     "label": {
                      "type": "string",
                      "description": "Label of the list of values (LOV) entry.",
                      "example": "Open"
                     }
                    }
                   }
                  }
                 },
                 "custom_field_%{custom_field_lov_entries_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "lov_entries"
                   },
                   "value": {
                    "type": "array",
                    "items": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "The unique identifier of the list of values (LOV) entry.",
                       "example": 2
                      },
                      "label": {
                       "type": "string",
                       "description": "The label of the list of values (LOV) entry.",
                       "example": "Open"
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Cannot create Timecard Entry",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to create Timecard Entry",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/project_timecard_entries',\n  headers: {'content-type': 'application/json'},\n  body: {\n    hours: '8.0',\n    lunch_time: '60',\n    time_in: '2020-10-14T07:00:00Z',\n    time_out: '2018-10-14T16:00:00Z',\n    billable: false,\n    date: '2020-10-14',\n    description: 'This is a description.',\n    timecard_time_type_id: 1,\n    timesheet_id: 41823,\n    cost_code_id: 12345,\n    sub_job_id: 3483483,\n    location_id: 161072,\n    login_information_id: 2341,\n    party_id: 2341,\n    origin_id: 23423,\n    origin_data: '{\\'example\\':\\'related data\\'}',\n    line_item_type_id: 0,\n    'custom_field_%{custom_field_definition_id}': 'custom field value'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"hours\\\":\\\"8.0\\\",\\\"lunch_time\\\":\\\"60\\\",\\\"time_in\\\":\\\"2020-10-14T07:00:00Z\\\",\\\"time_out\\\":\\\"2018-10-14T16:00:00Z\\\",\\\"billable\\\":false,\\\"date\\\":\\\"2020-10-14\\\",\\\"description\\\":\\\"This is a description.\\\",\\\"timecard_time_type_id\\\":1,\\\"timesheet_id\\\":41823,\\\"cost_code_id\\\":12345,\\\"sub_job_id\\\":3483483,\\\"location_id\\\":161072,\\\"login_information_id\\\":2341,\\\"party_id\\\":2341,\\\"origin_id\\\":23423,\\\"origin_data\\\":\\\"{'example':'related data'}\\\",\\\"line_item_type_id\\\":0,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.1/projects/%7Bproject_id%7D/project_timecard_entries\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/project_timecard_entries \\\n  --header 'content-type: application/json' \\\n  --data '{\"hours\":\"8.0\",\"lunch_time\":\"60\",\"time_in\":\"2020-10-14T07:00:00Z\",\"time_out\":\"2018-10-14T16:00:00Z\",\"billable\":false,\"date\":\"2020-10-14\",\"description\":\"This is a description.\",\"timecard_time_type_id\":1,\"timesheet_id\":41823,\"cost_code_id\":12345,\"sub_job_id\":3483483,\"location_id\":161072,\"login_information_id\":2341,\"party_id\":2341,\"origin_id\":23423,\"origin_data\":\"{'\\''example'\\'':'\\''related data'\\''}\",\"line_item_type_id\":0,\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/project_timecard_entries\"),\n    Content = new StringContent(\"{\\\"hours\\\":\\\"8.0\\\",\\\"lunch_time\\\":\\\"60\\\",\\\"time_in\\\":\\\"2020-10-14T07:00:00Z\\\",\\\"time_out\\\":\\\"2018-10-14T16:00:00Z\\\",\\\"billable\\\":false,\\\"date\\\":\\\"2020-10-14\\\",\\\"description\\\":\\\"This is a description.\\\",\\\"timecard_time_type_id\\\":1,\\\"timesheet_id\\\":41823,\\\"cost_code_id\\\":12345,\\\"sub_job_id\\\":3483483,\\\"location_id\\\":161072,\\\"login_information_id\\\":2341,\\\"party_id\\\":2341,\\\"origin_id\\\":23423,\\\"origin_data\\\":\\\"{'example':'related data'}\\\",\\\"line_item_type_id\\\":0,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.1 endpoint",
      "description": "Added Rest v1.1 endpoint with updated namespacing and path parameters",
      "endpoint": "POST /projects/{project_id}/project_timecard_entries",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-03-01",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timesheets?version=1.1#create-timecard-entry"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/project_timecard_entries/{id}": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Edit a Timecard Entry",
    "description": "Update Timecard Entry associated with the specific Project.",
    "tags": [
     "Timesheet"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the Timecard Entry",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "hours": {
          "type": "string",
          "description": "Total number of hours worked (excluding breaks) for the timecard entry. This property is not required if the timesheet time entry is configured for start time and stop time.",
          "example": "8.0"
         },
         "lunch_time": {
          "type": "string",
          "description": "The duration of the lunch break, in minutes, for the Timecard Entry. This property is only required if the timesheet time entry is configured for start time and stop time.",
          "example": "60"
         },
         "time_in": {
          "type": "string",
          "description": "The start time of the Timecard Entry in ISO 8601 format. This property is only required if the timesheet time entry is configured for start time and stop time.",
          "example": "2020-10-14T07:00:00Z"
         },
         "time_out": {
          "type": "string",
          "description": "The stop time of the Timecard Entry in ISO 8601 format. This property is only required if the timesheet time entry is configured for start time and stop time.",
          "example": "2018-10-14T16:00:00Z"
         },
         "billable": {
          "type": "boolean",
          "description": "The billable status of the Timecard Entry. Must be either true or false.",
          "default": false,
          "example": false
         },
         "date": {
          "type": "string",
          "format": "date",
          "description": "The date of the Timecard Entry in ISO 8601 format.",
          "example": "2020-10-14"
         },
         "description": {
          "type": "string",
          "description": "The description of the Timecard Entry.",
          "example": "This is a description."
         },
         "timecard_time_type_id": {
          "type": "integer",
          "description": "The ID of the Timecard Time Type corresponding to the Timecard Entry property.",
          "example": 1
         },
         "timesheet_id": {
          "type": "integer",
          "description": "The ID of the Timesheet corresponding to the Timecard Entry property.",
          "example": 41823
         },
         "cost_code_id": {
          "type": "integer",
          "description": "The ID of the Cost Code corresponding to the Timecard Entry property.",
          "example": 12345
         },
         "sub_job_id": {
          "type": "integer",
          "description": "The ID of the Subjob corresponding to the Timecard Entry property.",
          "example": 3483483
         },
         "location_id": {
          "type": "integer",
          "description": "The ID of the Location corresponding to the Timecard Entry property.",
          "example": 161072
         },
         "login_information_id": {
          "type": "integer",
          "description": "The ID of the Login Information corresponding to the Timecard Entry property.",
          "example": 2341
         },
         "party_id": {
          "type": "integer",
          "description": "The ID of the Party corresponding to the Timecard Entry property.",
          "example": 2341
         },
         "origin_id": {
          "type": "integer",
          "description": "The ID of the related external data.",
          "example": 23423
         },
         "origin_data": {
          "type": "string",
          "description": "The value of the related external data.",
          "example": "{'example':'related data'}"
         },
         "line_item_type_id": {
          "type": "integer",
          "description": "The ID of the line item type corresponding to the time card entry."
         },
         "custom_field_%{custom_field_definition_id}": {
          "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
          "example": "custom field value",
          "oneOf": [
           {
            "type": "string",
            "title": "string"
           },
           {
            "type": "number",
            "title": "number"
           },
           {
            "type": "boolean",
            "title": "boolean"
           },
           {
            "type": "array",
            "title": "array",
            "items": {
             "type": "integer"
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Timecard Entry updated",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "title": "TimecardEntry",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Timecard entry id",
             "example": 1
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2012-10-23T21:39:40Z"
            },
            "date": {
             "type": "string",
             "format": "date",
             "description": "Timecard entry date",
             "example": "2015-05-12"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Deleted at",
             "example": "2017-07-29T21:39:40Z"
            },
            "description": {
             "type": "string",
             "description": "Timecard entry description",
             "example": "Description"
            },
            "billable": {
             "type": "boolean",
             "description": "Timecard entry billable status",
             "example": true
            },
            "hours": {
             "type": "string",
             "description": "Timecard entry hours",
             "example": "5.0"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timecard entry updated at",
             "example": "2015-11-12T21:26:28Z"
            },
            "timecard_type": {
             "type": "string",
             "description": "Timecard entry time type",
             "example": "Regular Time"
            },
            "cost_code": {
             "type": "string",
             "description": "Timecard entry cost code",
             "example": "Summary"
            },
            "origin_id": {
             "type": "integer",
             "description": "ID of related external data",
             "example": 23423
            },
            "origin_data": {
             "type": "string",
             "description": "Value of related external data",
             "example": "{'example':'related data'}"
            },
            "timesheet_status": {
             "type": "string",
             "description": "Deprecated. Reference status property.",
             "example": "pending",
             "deprecated": true
            },
            "full_cost_code": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 12345
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "login_information": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "timecard_time_type": {
             "type": "object",
             "title": "TimecardTimeType",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Time type id",
               "example": 1
              },
              "abbreviated_time_type": {
               "type": "string",
               "description": "Time type abbreviated",
               "example": "REG"
              },
              "company_id": {
               "type": "integer",
               "description": "Time type company id",
               "example": 15125
              },
              "global": {
               "type": "boolean",
               "description": "Time type global status",
               "example": false
              },
              "time_type": {
               "type": "string",
               "description": "Time type",
               "example": "Another Time"
              }
             }
            },
            "line_item_type_id": {
             "type": "integer",
             "description": "The ID of the Line Item Type of the Timecard Entry",
             "example": 13
            },
            "daily_log_segment_id": {
             "type": "integer",
             "description": "Daily Log Segment ID",
             "example": 123456,
             "nullable": true
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "automatically_split_timecard_entries": {
             "description": "Timecard entries returned with associated object as part of overtime_management",
             "type": "array",
             "items": {
              "type": "object",
              "title": "TimecardEntry",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Timecard entry id",
                "example": 1
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created at",
                "example": "2012-10-23T21:39:40Z"
               },
               "date": {
                "type": "string",
                "format": "date",
                "description": "Timecard entry date",
                "example": "2015-05-12"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Deleted at",
                "example": "2017-07-29T21:39:40Z"
               },
               "description": {
                "type": "string",
                "description": "Timecard entry description",
                "example": "Description"
               },
               "billable": {
                "type": "boolean",
                "description": "Timecard entry billable status",
                "example": true
               },
               "hours": {
                "type": "string",
                "description": "Timecard entry hours",
                "example": "5.0"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timecard entry updated at",
                "example": "2015-11-12T21:26:28Z"
               },
               "timecard_type": {
                "type": "string",
                "description": "Timecard entry time type",
                "example": "Regular Time"
               },
               "cost_code": {
                "type": "string",
                "description": "Timecard entry cost code",
                "example": "Summary"
               },
               "origin_id": {
                "type": "integer",
                "description": "ID of related external data",
                "example": 23423
               },
               "origin_data": {
                "type": "string",
                "description": "Value of related external data",
                "example": "{'example':'related data'}"
               },
               "timesheet_status": {
                "type": "string",
                "description": "Deprecated. Reference status property.",
                "example": "pending",
                "deprecated": true
               },
               "full_cost_code": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "login_information": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "timecard_time_type": {
                "type": "object",
                "title": "TimecardTimeType",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Time type id",
                  "example": 1
                 },
                 "abbreviated_time_type": {
                  "type": "string",
                  "description": "Time type abbreviated",
                  "example": "REG"
                 },
                 "company_id": {
                  "type": "integer",
                  "description": "Time type company id",
                  "example": 15125
                 },
                 "global": {
                  "type": "boolean",
                  "description": "Time type global status",
                  "example": false
                 },
                 "time_type": {
                  "type": "string",
                  "description": "Time type",
                  "example": "Another Time"
                 }
                }
               },
               "line_item_type_id": {
                "type": "integer",
                "description": "The ID of the Line Item Type of the Timecard Entry",
                "example": 13
               },
               "daily_log_segment_id": {
                "type": "integer",
                "description": "Daily Log Segment ID",
                "example": 123456,
                "nullable": true
               },
               "custom_fields": {
                "type": "object",
                "properties": {
                 "custom_field_%{custom_field_string_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "string"
                   },
                   "value": {
                    "type": "string",
                    "description": "The value of the custom field.",
                    "example": "custom field value"
                   }
                  }
                 },
                 "custom_field_%{custom_field_decimal_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "decimal"
                   },
                   "value": {
                    "type": "number",
                    "description": "The value of the custom field.",
                    "example": 2.2
                   }
                  }
                 },
                 "custom_field_%{custom_field_boolean_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "boolean"
                   },
                   "value": {
                    "type": "boolean",
                    "description": "The value of the custom field.",
                    "example": true
                   }
                  }
                 },
                 "custom_field_%{custom_field_lov_entry_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "lov_entry"
                   },
                   "value": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "The unique identifier of the list of values (LOV) entry.",
                      "example": 1
                     },
                     "label": {
                      "type": "string",
                      "description": "Label of the list of values (LOV) entry.",
                      "example": "Open"
                     }
                    }
                   }
                  }
                 },
                 "custom_field_%{custom_field_lov_entries_definition_id}": {
                  "type": "object",
                  "properties": {
                   "data_type": {
                    "type": "string",
                    "description": "The data type of the Custom Field Definition.",
                    "example": "lov_entries"
                   },
                   "value": {
                    "type": "array",
                    "items": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "The unique identifier of the list of values (LOV) entry.",
                       "example": 2
                      },
                      "label": {
                       "type": "string",
                       "description": "The label of the list of values (LOV) entry.",
                       "example": "Open"
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Cannot update Timecard Entry",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to update Timecard Entry",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/project_timecard_entries/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    hours: '8.0',\n    lunch_time: '60',\n    time_in: '2020-10-14T07:00:00Z',\n    time_out: '2018-10-14T16:00:00Z',\n    billable: false,\n    date: '2020-10-14',\n    description: 'This is a description.',\n    timecard_time_type_id: 1,\n    timesheet_id: 41823,\n    cost_code_id: 12345,\n    sub_job_id: 3483483,\n    location_id: 161072,\n    login_information_id: 2341,\n    party_id: 2341,\n    origin_id: 23423,\n    origin_data: '{\\'example\\':\\'related data\\'}',\n    line_item_type_id: 0,\n    'custom_field_%{custom_field_definition_id}': 'custom field value'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"hours\\\":\\\"8.0\\\",\\\"lunch_time\\\":\\\"60\\\",\\\"time_in\\\":\\\"2020-10-14T07:00:00Z\\\",\\\"time_out\\\":\\\"2018-10-14T16:00:00Z\\\",\\\"billable\\\":false,\\\"date\\\":\\\"2020-10-14\\\",\\\"description\\\":\\\"This is a description.\\\",\\\"timecard_time_type_id\\\":1,\\\"timesheet_id\\\":41823,\\\"cost_code_id\\\":12345,\\\"sub_job_id\\\":3483483,\\\"location_id\\\":161072,\\\"login_information_id\\\":2341,\\\"party_id\\\":2341,\\\"origin_id\\\":23423,\\\"origin_data\\\":\\\"{'example':'related data'}\\\",\\\"line_item_type_id\\\":0,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.1/projects/%7Bproject_id%7D/project_timecard_entries/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/project_timecard_entries/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"hours\":\"8.0\",\"lunch_time\":\"60\",\"time_in\":\"2020-10-14T07:00:00Z\",\"time_out\":\"2018-10-14T16:00:00Z\",\"billable\":false,\"date\":\"2020-10-14\",\"description\":\"This is a description.\",\"timecard_time_type_id\":1,\"timesheet_id\":41823,\"cost_code_id\":12345,\"sub_job_id\":3483483,\"location_id\":161072,\"login_information_id\":2341,\"party_id\":2341,\"origin_id\":23423,\"origin_data\":\"{'\\''example'\\'':'\\''related data'\\''}\",\"line_item_type_id\":0,\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/project_timecard_entries/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"hours\\\":\\\"8.0\\\",\\\"lunch_time\\\":\\\"60\\\",\\\"time_in\\\":\\\"2020-10-14T07:00:00Z\\\",\\\"time_out\\\":\\\"2018-10-14T16:00:00Z\\\",\\\"billable\\\":false,\\\"date\\\":\\\"2020-10-14\\\",\\\"description\\\":\\\"This is a description.\\\",\\\"timecard_time_type_id\\\":1,\\\"timesheet_id\\\":41823,\\\"cost_code_id\\\":12345,\\\"sub_job_id\\\":3483483,\\\"location_id\\\":161072,\\\"login_information_id\\\":2341,\\\"party_id\\\":2341,\\\"origin_id\\\":23423,\\\"origin_data\\\":\\\"{'example':'related data'}\\\",\\\"line_item_type_id\\\":0,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.1 endpoint",
      "description": "Added Rest v1.1 endpoint with updated namespacing and path parameters",
      "endpoint": "PATCH /projects/{project_id}/project_timecard_entries/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-03-01",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "timesheets?version=1.1#edit-a-timecard-entry"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/project_timecard_entries/bulk_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk Create",
    "description": "Create multiple timecard entries in a single transaction.\n",
    "tags": [
     "Timecards (Project)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "timecard_entries"
        ],
        "properties": {
         "timecard_entries": {
          "type": "array",
          "description": "Array of timecard entries to be created in bulk (maximum 25 entries).\n",
          "minItems": 1,
          "maxItems": 25,
          "items": {
           "type": "object",
           "title": "TimecardEntry",
           "description": "Timecard entry representing time worked by a person on a specific date.",
           "required": [
            "project_id"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the timecard entry.\n",
             "example": 1,
             "readOnly": true
            },
            "project_id": {
             "type": "integer",
             "description": "The ID of the project this timecard entry belongs to.\n",
             "example": 54321
            },
            "company_id": {
             "type": "integer",
             "description": "The ID of the company this timecard entry belongs to.\n",
             "example": 12345,
             "readOnly": true
            },
            "date": {
             "type": "string",
             "format": "date",
             "description": "The date this work was performed, in YYYY-MM-DD format.\n",
             "example": "2024-01-15"
            },
            "hours": {
             "type": "string",
             "description": "Total hours worked for this timecard entry, excluding breaks. Required for hours-based timesheets. Must be numeric with a maximum of 24 hours per entry. When both time_in and time_out are provided, this value is automatically calculated from those times minus any lunch_time duration, and any supplied hours value will be ignored. If time_in and time_out are not provided, you must supply this value directly.\n",
             "example": "8.0"
            },
            "time_in": {
             "type": "string",
             "format": "date-time",
             "description": "Start time used for calculating hours worked. This is the clock_in_time after company rounding rules have been applied. This rounded time is what gets used in the actual hours calculation, not the original clock_in_time. See [Show Rounding Configuration](https://developers.procore.com/reference/rest/v1/rounding-configuration#show-rounding-configuration) to retrieve your company's rounding rules.\n",
             "example": "2024-01-15T07:00:00Z"
            },
            "time_out": {
             "type": "string",
             "format": "date-time",
             "description": "End time used for calculating hours worked. This is the clock_out_time after company rounding rules have been applied. This rounded time is what gets used in the actual hours calculation, not the original clock_out_time. See [Show Rounding Configuration](https://developers.procore.com/reference/rest/v1/rounding-configuration#show-rounding-configuration) to retrieve your company's rounding rules.\n",
             "example": "2024-01-15T16:00:00Z"
            },
            "clock_in_time": {
             "type": "string",
             "format": "date-time",
             "description": "Actual timestamp when worker clocked in via GPS or kiosk. This is the raw, unrounded time as recorded by the system. Company rounding rules are applied to this timestamp to calculate the time_in value, which is then used for hours calculations. See [Show Rounding Configuration](https://developers.procore.com/reference/rest/v1/rounding-configuration#show-rounding-configuration) to retrieve your company's rounding rules.\n",
             "example": "2024-01-15T07:00:00Z"
            },
            "clock_out_time": {
             "type": "string",
             "format": "date-time",
             "description": "Actual timestamp when worker clocked out via GPS or kiosk. This is the raw, unrounded time as recorded by the system. Company rounding rules are applied to this timestamp to calculate the time_out value, which is then used for hours calculations. See [Show Rounding Configuration](https://developers.procore.com/reference/rest/v1/rounding-configuration#show-rounding-configuration) to retrieve your company's rounding rules.\n",
             "example": "2024-01-15T16:00:00Z"
            },
            "clock_in_id": {
             "type": "integer",
             "description": "ID of GPS position record for clock-in event. Must be unique per worker within company to prevent duplicate clock-ins and cannot equal clock_out_id.\n",
             "example": 11111
            },
            "clock_out_id": {
             "type": "integer",
             "description": "ID of GPS position record for clock-out event. Must be unique per worker within company to prevent duplicate clock-outs.\n",
             "example": 11112
            },
            "lunch_time": {
             "type": "string",
             "description": "Lunch break duration in minutes. Can be provided directly by the client, or will be automatically calculated when both lunch_start_time and lunch_stop_time are provided. Cannot be greater than total work duration.\n",
             "example": "30"
            },
            "lunch_start_time": {
             "type": "string",
             "format": "date-time",
             "description": "The datetime when the lunch break started, in ISO 8601 format.\n",
             "example": "2024-01-15T12:00:00Z"
            },
            "lunch_stop_time": {
             "type": "string",
             "format": "date-time",
             "description": "The datetime when lunch break ended, in ISO 8601 format. When both lunch_start_time and lunch_stop_time are provided, the system automatically calculates and updates the lunch_time field with the duration.\n",
             "example": "2024-01-15T12:30:00Z"
            },
            "lunch_clock_in_id": {
             "type": "integer",
             "description": "ID of GPS record for lunch clock-in event. See [List GPS Positions](https://developers.procore.com/reference/rest/v1/gps-positions#list-gps-positions).\n",
             "example": 11113
            },
            "lunch_clock_out_id": {
             "type": "integer",
             "description": "ID of GPS record for lunch clock-out event. See [List GPS Positions](https://developers.procore.com/reference/rest/v1/gps-positions#list-gps-positions).\n",
             "example": 11114
            },
            "description": {
             "type": "string",
             "description": "A description of the work performed during this timecard entry.\n",
             "example": "Foundation work - Building A"
            },
            "billable": {
             "type": "boolean",
             "description": "Whether this time can be charged to the client. The API defaults to false if not specified, but the UI defaults new entries to true.\n",
             "default": false,
             "example": true
            },
            "timecard_time_type_id": {
             "type": "integer",
             "description": "The ID of the timecard time type (e.g., Regular Time, Overtime, Double Time). This directly affects hourly rate multipliers and overtime premium calculations. See [List Timecard Time Types](https://developers.procore.com/reference/rest/v1/timecard-time-types#list-timecard-time-types) to retrieve available timecard time types for your company.\n",
             "example": 1
            },
            "cost_code_id": {
             "type": "integer",
             "description": "The ID of the cost code for this work. DO NOT provide if providing a wbs_code_id, as they are mutually exclusive. This represents the traditional construction cost accounting system for tracking labor costs against budget line items. This older approach to construction cost tracking is being replaced by WBS/Task codes in modern projects but still links labor hours directly to original project budget estimates for cost control. Cannot be used with wbs_code_id as they represent different cost tracking methodologies. See [List Cost Codes](https://developers.procore.com/reference/rest/v1/cost-codes#list-cost-codes) to retrieve available cost codes for your project.\n",
             "example": 12345
            },
            "wbs_code_id": {
             "type": "integer",
             "description": "The ID of the Work Breakdown Structure (Task Code) for this timecard entry. This is the preferred modern approach over cost_code_id. In the timecard context, \"WBS code\" specifically refers to Task Codes - the modern construction project task hierarchy that represents specific construction tasks or activities rather than generic cost categories. This directly links labor time to project schedule tasks for better progress tracking and is the modern replacement for traditional cost codes, providing more granular project control. See [List Project WBS Task codes](https://developers.procore.com/reference/rest/v1/task-codes-field-productivity#list-project-wbs-task-codes) to retrieve available task codes for your project.\n",
             "example": 67890
            },
            "line_item_type_id": {
             "type": "integer",
             "description": "The ID of the line item type for this timecard entry. DO NOT provide if providing a wbs_code_id, as they are mutually exclusive. This represents construction contract line item classification for direct contract billing and change order tracking. It maps labor time to specific contract deliverables or bid line items and is used for progress billing and client invoicing based on contract structure. Works with traditional cost code systems but not with modern WBS/Task code approaches. See [List Line Item Types](https://developers.procore.com/reference/rest/v1/timesheets#list-line-item-types) to retrieve available line item types for your company.\n",
             "example": 13
            },
            "work_classification_id": {
             "type": "integer",
             "description": "The ID of the work classification that categorizes the type of work performed (e.g., Carpenter, Electrician, Laborer). This construction trade classification system tracks skilled labor types and wage rates, often aligning with union trade classifications for proper wage and benefit calculations. It enables analysis of labor mix and skill requirements across construction projects and is critical for public works projects requiring specific trade wage rates. See [List all classifications](https://developers.procore.com/reference/rest/v1/work-classification-project-level#list-all-classifications) to retrieve available work classifications for your project.\n",
             "example": 101
            },
            "party_id": {
             "type": "integer",
             "description": "The ID of the person/party who performed this work. This identifies the worker for the timecard entry and represents construction worker identification in the Procore system. Can represent employees, subcontractors, or vendors. Links time entries to specific workers for payroll processing and labor cost allocation. A single party can work across multiple projects and companies within the system. See [List Timesheet Parties](https://developers.procore.com/reference/rest/v1/timesheets#list-timesheet-parties) to retrieve available parties/workers for your company.\n",
             "example": 12345
            },
            "timesheet_id": {
             "type": "integer",
             "description": "The ID of the timesheet to associate this timecard entry with. All entries in a bulk request typically belong to the same timesheet. Construction timesheets represent a collection of time entries for a specific period, usually weekly. Timesheets go through a foreman/supervisor approval process before payroll processing, and multiple timecard entries are typically grouped under a single timesheet for batch processing. See [List Timesheets](https://developers.procore.com/reference/rest/v1/timesheets#list-timesheets) to retrieve available timesheets for your project.\n",
             "example": 54321
            },
            "location_id": {
             "type": "integer",
             "description": "The ID of the location where this work was performed. Used for job site tracking and reporting. This represents a specific construction site location within a project, such as Building A, Floor 3, or Parking Lot. Large construction projects often have multiple work locations requiring separate tracking. This enables location-specific safety reporting and emergency response procedures. See [List Project Locations](https://developers.procore.com/reference/rest/v1/locations#list-project-locations) to retrieve available locations for your project.\n",
             "example": 161072
            },
            "crew_id": {
             "type": "integer",
             "description": "The ID of the crew this timecard entry is associated with. Used for crew-based time tracking and reporting. This represents construction work crew organization for team-based labor tracking and productivity analysis. Crews are typically managed by foremen who approve timesheets and track crew productivity. This enables crew-based scheduling and resource allocation across construction projects. See [List all Project Crews](https://developers.procore.com/reference/rest/v1/crews#list-all-project-crews) to retrieve available crews for your project.\n",
             "example": 789
            },
            "approval_status": {
             "type": "string",
             "description": "Current approval status of the timecard entry.\n",
             "enum": [
              "pending",
              "approved",
              "reviewed",
              "completed"
             ],
             "default": "pending",
             "example": "pending"
            },
            "approval_date": {
             "type": "string",
             "format": "date",
             "description": "The date when this timecard entry was approved, in YYYY-MM-DD format. Only set when approval_status is 'approved'.\n",
             "example": "2024-01-16"
            },
            "approved_by_id": {
             "type": "integer",
             "description": "The ID of the user who approved this timecard entry.\n",
             "example": 12345
            },
            "set_timecard_time_type_automatically": {
             "type": "boolean",
             "description": "Automatically calculates overtime based on company rules. Only applies when completing an in-progress timecard entry or creating a non-in-progress entry. May split entry into multiple time types. A single 12-hour entry may automatically split into 8 hours regular plus 4 hours overtime. This ensures construction time entries comply with complex union overtime rules and prevailing wage requirements. The company must have overtime management enabled with configured rulesets. When true, timecard_time_type_id will be ignored and can be omitted. See [List Overtime Rulesets](https://developers.procore.com/reference/rest/v1/overtime-rulesets#list-overtime-rulesets) and [List Timecard Time Types](https://developers.procore.com/reference/rest/v1/timecard-time-types#list-timecard-time-types) for setup.\n",
             "example": false
            },
            "origin_id": {
             "type": "string",
             "example": "23423"
            },
            "origin_data": {
             "type": "string",
             "example": "{\"external_system\": \"MyERP\", \"batch_id\": \"12345\"}"
            },
            "custom_field_%{custom_field_definition_id}": {
             "type": "string",
             "description": "Custom field values where %{custom_field_definition_id} is replaced with the actual ID. These are construction-specific data fields customized per company needs, such as equipment used, weather conditions, or safety incidents. Common examples include equipment tracking, safety notes, work orders, weather conditions, union local numbers, and certification requirements. Available in MyTime and Project Timesheet contexts with different field sets based on workflow. Often used for regulatory compliance data like safety training, certifications, or environmental conditions. See [List Custom Field Definitions](https://developers.procore.com/reference/rest/v1/custom-fields#list-custom-field-definitions) with `tool_name=timesheets` filter for setup.\n",
             "example": "custom_field_123: 'Custom Value'"
            },
            "sub_job_id": {
             "type": "integer",
             "description": "The ID of the sub job this timecard entry is associated with. This is legacy - don't use if you have WBS codes. Used for more granular project cost tracking and reporting. This represents construction project subdivision for detailed cost control, such as Building A versus Building B or Phase 1 versus Phase 2. It enables separate cost tracking for different contract phases or building components and allows separate billing and progress reporting for distinct project phases or structures. Modern projects should use wbs_code_id instead for better task-based tracking. See [List Sub Jobs](https://developers.procore.com/reference/rest/v1/sub-jobs#list-sub-jobs) to retrieve available sub jobs for the project.\n",
             "example": 7890
            },
            "signed": {
             "type": "boolean",
             "description": "Whether this timecard entry has been digitally signed by the worker. This represents a digital signature requirement for construction timecard legal compliance and dispute prevention. It provides legal proof of worker acknowledgment for wage and hour dispute protection and is often required by construction union agreements for timecard validity. Digital signatures must be enabled and this field is related to procore_signature_id when digital signatures are captured. See [List Signatures](https://developers.procore.com/reference/rest/v1/signatures#list-signatures).\n",
             "example": true
            },
            "in_progress": {
             "type": "boolean",
             "description": "Whether this entry represents an active work session. In-progress timecard entries generally do not appear in API responses unless specifically requested using the include_in_progress filter.\n",
             "example": false,
             "default": false
            },
            "split_parent_id": {
             "type": "integer",
             "description": "The ID of the parent timecard entry when this entry was created by Overtime Management. This only shows up when the timecard entry is created the first time.\n",
             "example": 98765,
             "readOnly": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "When the timecard entry was created. This provides a construction timecard audit trail for legal compliance and dispute resolution, and provides evidence of when time was originally recorded for wage and hour law compliance.\n",
             "example": "2012-10-23T21:39:40Z",
             "readOnly": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "When the timecard entry was last updated. This represents construction timecard modification tracking for audit trails and change management, and is critical for resolving wage disputes and demonstrating proper record-keeping.\n",
             "example": "2015-11-12T21:26:28Z",
             "readOnly": true
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "When the timecard entry was deleted (if applicable). This represents construction timecard soft deletion for maintaining audit trails while removing erroneous entries. It preserves a record of deleted entries for regulatory compliance and audit requirements.\n",
             "example": "2017-07-29T21:39:40Z",
             "readOnly": true
            }
           }
          },
          "example": [
           {
            "date": "2024-01-15",
            "description": "Foundation work - Building A",
            "hours": "8.0",
            "billable": true,
            "timecard_time_type_id": 1,
            "party_id": 12345,
            "wbs_code_id": 67890,
            "timesheet_id": 54321,
            "work_classification_id": 101,
            "location_id": 161072,
            "set_timecard_time_type_automatically": false,
            "custom_field_123": "Equipment: Excavator"
           },
           {
            "date": "2024-01-15",
            "description": "Foundation work - Building B",
            "hours": "8.0",
            "billable": true,
            "timecard_time_type_id": 1,
            "party_id": 67890,
            "wbs_code_id": 67890,
            "timesheet_id": 54321,
            "work_classification_id": 101,
            "location_id": 161072,
            "set_timecard_time_type_automatically": false,
            "custom_field_123": "Equipment: Bulldozer"
           }
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Timecard entries created successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "timecard_entries": {
           "type": "array",
           "description": "Array of created timecard entry records",
           "items": {
            "type": "object",
            "title": "TimecardEntry",
            "description": "Timecard entry representing time worked by a person on a specific date.",
            "required": [
             "project_id"
            ],
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the timecard entry.\n",
              "example": 1,
              "readOnly": true
             },
             "project_id": {
              "type": "integer",
              "description": "The ID of the project this timecard entry belongs to.\n",
              "example": 54321
             },
             "company_id": {
              "type": "integer",
              "description": "The ID of the company this timecard entry belongs to.\n",
              "example": 12345,
              "readOnly": true
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "The date this work was performed, in YYYY-MM-DD format.\n",
              "example": "2024-01-15"
             },
             "hours": {
              "type": "string",
              "description": "Total hours worked for this timecard entry, excluding breaks. Required for hours-based timesheets. Must be numeric with a maximum of 24 hours per entry. When both time_in and time_out are provided, this value is automatically calculated from those times minus any lunch_time duration, and any supplied hours value will be ignored. If time_in and time_out are not provided, you must supply this value directly.\n",
              "example": "8.0"
             },
             "time_in": {
              "type": "string",
              "format": "date-time",
              "description": "Start time used for calculating hours worked. This is the clock_in_time after company rounding rules have been applied. This rounded time is what gets used in the actual hours calculation, not the original clock_in_time. See [Show Rounding Configuration](https://developers.procore.com/reference/rest/v1/rounding-configuration#show-rounding-configuration) to retrieve your company's rounding rules.\n",
              "example": "2024-01-15T07:00:00Z"
             },
             "time_out": {
              "type": "string",
              "format": "date-time",
              "description": "End time used for calculating hours worked. This is the clock_out_time after company rounding rules have been applied. This rounded time is what gets used in the actual hours calculation, not the original clock_out_time. See [Show Rounding Configuration](https://developers.procore.com/reference/rest/v1/rounding-configuration#show-rounding-configuration) to retrieve your company's rounding rules.\n",
              "example": "2024-01-15T16:00:00Z"
             },
             "clock_in_time": {
              "type": "string",
              "format": "date-time",
              "description": "Actual timestamp when worker clocked in via GPS or kiosk. This is the raw, unrounded time as recorded by the system. Company rounding rules are applied to this timestamp to calculate the time_in value, which is then used for hours calculations. See [Show Rounding Configuration](https://developers.procore.com/reference/rest/v1/rounding-configuration#show-rounding-configuration) to retrieve your company's rounding rules.\n",
              "example": "2024-01-15T07:00:00Z"
             },
             "clock_out_time": {
              "type": "string",
              "format": "date-time",
              "description": "Actual timestamp when worker clocked out via GPS or kiosk. This is the raw, unrounded time as recorded by the system. Company rounding rules are applied to this timestamp to calculate the time_out value, which is then used for hours calculations. See [Show Rounding Configuration](https://developers.procore.com/reference/rest/v1/rounding-configuration#show-rounding-configuration) to retrieve your company's rounding rules.\n",
              "example": "2024-01-15T16:00:00Z"
             },
             "clock_in_id": {
              "type": "integer",
              "description": "ID of GPS position record for clock-in event. Must be unique per worker within company to prevent duplicate clock-ins and cannot equal clock_out_id.\n",
              "example": 11111
             },
             "clock_out_id": {
              "type": "integer",
              "description": "ID of GPS position record for clock-out event. Must be unique per worker within company to prevent duplicate clock-outs.\n",
              "example": 11112
             },
             "lunch_time": {
              "type": "string",
              "description": "Lunch break duration in minutes. Can be provided directly by the client, or will be automatically calculated when both lunch_start_time and lunch_stop_time are provided. Cannot be greater than total work duration.\n",
              "example": "30"
             },
             "lunch_start_time": {
              "type": "string",
              "format": "date-time",
              "description": "The datetime when the lunch break started, in ISO 8601 format.\n",
              "example": "2024-01-15T12:00:00Z"
             },
             "lunch_stop_time": {
              "type": "string",
              "format": "date-time",
              "description": "The datetime when lunch break ended, in ISO 8601 format. When both lunch_start_time and lunch_stop_time are provided, the system automatically calculates and updates the lunch_time field with the duration.\n",
              "example": "2024-01-15T12:30:00Z"
             },
             "lunch_clock_in_id": {
              "type": "integer",
              "description": "ID of GPS record for lunch clock-in event. See [List GPS Positions](https://developers.procore.com/reference/rest/v1/gps-positions#list-gps-positions).\n",
              "example": 11113
             },
             "lunch_clock_out_id": {
              "type": "integer",
              "description": "ID of GPS record for lunch clock-out event. See [List GPS Positions](https://developers.procore.com/reference/rest/v1/gps-positions#list-gps-positions).\n",
              "example": 11114
             },
             "description": {
              "type": "string",
              "description": "A description of the work performed during this timecard entry.\n",
              "example": "Foundation work - Building A"
             },
             "billable": {
              "type": "boolean",
              "description": "Whether this time can be charged to the client. The API defaults to false if not specified, but the UI defaults new entries to true.\n",
              "default": false,
              "example": true
             },
             "timecard_time_type_id": {
              "type": "integer",
              "description": "The ID of the timecard time type (e.g., Regular Time, Overtime, Double Time). This directly affects hourly rate multipliers and overtime premium calculations. See [List Timecard Time Types](https://developers.procore.com/reference/rest/v1/timecard-time-types#list-timecard-time-types) to retrieve available timecard time types for your company.\n",
              "example": 1
             },
             "cost_code_id": {
              "type": "integer",
              "description": "The ID of the cost code for this work. DO NOT provide if providing a wbs_code_id, as they are mutually exclusive. This represents the traditional construction cost accounting system for tracking labor costs against budget line items. This older approach to construction cost tracking is being replaced by WBS/Task codes in modern projects but still links labor hours directly to original project budget estimates for cost control. Cannot be used with wbs_code_id as they represent different cost tracking methodologies. See [List Cost Codes](https://developers.procore.com/reference/rest/v1/cost-codes#list-cost-codes) to retrieve available cost codes for your project.\n",
              "example": 12345
             },
             "wbs_code_id": {
              "type": "integer",
              "description": "The ID of the Work Breakdown Structure (Task Code) for this timecard entry. This is the preferred modern approach over cost_code_id. In the timecard context, \"WBS code\" specifically refers to Task Codes - the modern construction project task hierarchy that represents specific construction tasks or activities rather than generic cost categories. This directly links labor time to project schedule tasks for better progress tracking and is the modern replacement for traditional cost codes, providing more granular project control. See [List Project WBS Task codes](https://developers.procore.com/reference/rest/v1/task-codes-field-productivity#list-project-wbs-task-codes) to retrieve available task codes for your project.\n",
              "example": 67890
             },
             "line_item_type_id": {
              "type": "integer",
              "description": "The ID of the line item type for this timecard entry. DO NOT provide if providing a wbs_code_id, as they are mutually exclusive. This represents construction contract line item classification for direct contract billing and change order tracking. It maps labor time to specific contract deliverables or bid line items and is used for progress billing and client invoicing based on contract structure. Works with traditional cost code systems but not with modern WBS/Task code approaches. See [List Line Item Types](https://developers.procore.com/reference/rest/v1/timesheets#list-line-item-types) to retrieve available line item types for your company.\n",
              "example": 13
             },
             "work_classification_id": {
              "type": "integer",
[...]
