{
 "openapi": "3.0.0",
 "info": {
  "title": "ToDos",
  "x-product-category": "Project Management",
  "x-tool-category": "Schedule (Legacy)",
  "x-resource-name": "ToDos",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/todos": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create todo",
    "description": "Create a ToDo Item for a specified Project.\n\nThis endpoint has been deprecated. Instead, use [/rest/v1/calendar-items)",
    "x-deprecated-at": "2021-03-31",
    "deprecated": true,
    "tags": [
     "ToDos"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "todo"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "The ID of the Project the ToDo belongs to"
         },
         "todo": {
          "title": "ToDo",
          "type": "object",
          "description": "ToDo object",
          "required": [
           "name",
           "start_datetime",
           "finish_datetime"
          ],
          "properties": {
           "assignment_id": {
            "type": "integer",
            "description": "The ID of the Assignment of the ToDo"
           },
           "color": {
            "type": "string",
            "description": "The Color of the ToDo"
           },
           "finish_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "The Finish date-time of the ToDo"
           },
           "name": {
            "type": "string",
            "description": "The Name of the ToDo"
           },
           "description": {
            "type": "string",
            "description": "The Description of the ToDo"
           },
           "percentage": {
            "type": "integer",
            "description": "The Percentage of the ToDo"
           },
           "private": {
            "type": "boolean",
            "description": "The Private status of the ToDo"
           },
           "start_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "The Start date-time of the ToDo"
           }
          }
         }
        },
        "example": {
         "project_id": 1,
         "todo": {
          "assignment_id": 1,
          "color": "#314159",
          "description": "Use some power tools to fix the drywall.",
          "finish_datetime": "2015-02-07T00:00:00Z",
          "name": "Fix drywall",
          "percentage": 99,
          "private": true,
          "start_datetime": "2015-02-06T00:00:00Z"
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ToDo",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ToDo id",
           "example": 12
          },
          "assignment": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "color": {
           "type": "string",
           "description": "ToDo color",
           "example": "#A4505D"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "description": {
           "type": "string",
           "description": "ToDo description",
           "example": "Use some power tools to fix the drywall."
          },
          "finish_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "ToDo finish date-time",
           "example": "2015-02-07T00:00:00Z"
          },
          "full_outline_path": {
           "type": "string",
           "description": "ToDo full outline path (corresponds to matching field on Tasks)",
           "example": "Fix drywall"
          },
          "milestone": {
           "type": "boolean",
           "description": "ToDo milestone status",
           "example": true
          },
          "name": {
           "type": "string",
           "description": "ToDo name",
           "example": "Fix drywall"
          },
          "percentage": {
           "type": "integer",
           "description": "ToDo percentage",
           "example": 99
          },
          "private": {
           "type": "boolean",
           "description": "ToDo private status",
           "example": false
          },
          "start_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "ToDo start date-time",
           "example": "2015-02-06T00:00:00Z"
          },
          "task_name": {
           "type": "string",
           "description": "ToDo name (corresponds to matching field on Tasks)",
           "example": "Fix Drywall"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the ToDo was last updated",
           "example": "2015-02-06T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/todos',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 1,\n    todo: {\n      assignment_id: 1,\n      color: '#314159',\n      description: 'Use some power tools to fix the drywall.',\n      finish_datetime: '2015-02-07T00:00:00Z',\n      name: 'Fix drywall',\n      percentage: 99,\n      private: true,\n      start_datetime: '2015-02-06T00:00:00Z'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":1,\\\"todo\\\":{\\\"assignment_id\\\":1,\\\"color\\\":\\\"#314159\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish_datetime\\\":\\\"2015-02-07T00:00:00Z\\\",\\\"name\\\":\\\"Fix drywall\\\",\\\"percentage\\\":99,\\\"private\\\":true,\\\"start_datetime\\\":\\\"2015-02-06T00:00:00Z\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/todos\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/todos \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":1,\"todo\":{\"assignment_id\":1,\"color\":\"#314159\",\"description\":\"Use some power tools to fix the drywall.\",\"finish_datetime\":\"2015-02-07T00:00:00Z\",\"name\":\"Fix drywall\",\"percentage\":99,\"private\":true,\"start_datetime\":\"2015-02-06T00:00:00Z\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/todos\"),\n    Content = new StringContent(\"{\\\"project_id\\\":1,\\\"todo\\\":{\\\"assignment_id\\\":1,\\\"color\\\":\\\"#314159\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish_datetime\\\":\\\"2015-02-07T00:00:00Z\\\",\\\"name\\\":\\\"Fix drywall\\\",\\\"percentage\\\":99,\\\"private\\\":true,\\\"start_datetime\\\":\\\"2015-02-06T00:00:00Z\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "ToDos endpoint is deprecated",
      "description": "This endpoint is a deprecated endpoint, please use [/rest/v1/calendar_items).",
      "endpoint": "POST /todos",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2021-03-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "todos?version=1.0#create-todo"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/todos/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync ToDos",
    "description": "This endpoint creates or updates a batch of ToDos.\n\nThis endpoint has been deprecated. Instead, use [/rest/v1/calendar-items)",
    "x-deprecated-at": "2021-03-31",
    "deprecated": true,
    "tags": [
     "ToDos"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "updates"
        ],
        "properties": {
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the ToDo item to update",
             "example": 1
            },
            "assignment_id": {
             "type": "integer",
             "description": "The ID of the Assignment of the ToDo",
             "example": 1
            },
            "color": {
             "type": "string",
             "description": "The Color of the ToDo",
             "example": "#314159"
            },
            "finish_datetime": {
             "type": "string",
             "format": "date-time",
             "description": "The Finish date-time of the ToDo",
             "example": "2015-02-07T00:00:00Z"
            },
            "name": {
             "type": "string",
             "description": "The Name of the ToDo",
             "example": "Existing Todo"
            },
            "description": {
             "type": "string",
             "description": "The Description of the ToDo",
             "example": "Use some power tools to fix the drywall."
            },
            "percentage": {
             "type": "integer",
             "description": "The Percentage of the ToDo",
             "example": 99
            },
            "private": {
             "type": "boolean",
             "description": "The Private status of the ToDo",
             "example": true
            },
            "start_datetime": {
             "type": "string",
             "format": "date-time",
             "description": "The Start date-time of the ToDo",
             "example": "2015-02-06T00:00:00Z"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Array of todos",
      "content": {
       "application/json": {
        "schema": {
         "title": "arrayOfTodos",
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "ToDo",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ToDo id",
              "example": 12
             },
             "assignment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "color": {
              "type": "string",
              "description": "ToDo color",
              "example": "#A4505D"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "description": {
              "type": "string",
              "description": "ToDo description",
              "example": "Use some power tools to fix the drywall."
             },
             "finish_datetime": {
              "type": "string",
              "format": "date-time",
              "description": "ToDo finish date-time",
              "example": "2015-02-07T00:00:00Z"
             },
             "full_outline_path": {
              "type": "string",
              "description": "ToDo full outline path (corresponds to matching field on Tasks)",
              "example": "Fix drywall"
             },
             "milestone": {
              "type": "boolean",
              "description": "ToDo milestone status",
              "example": true
             },
             "name": {
              "type": "string",
              "description": "ToDo name",
              "example": "Fix drywall"
             },
             "percentage": {
              "type": "integer",
              "description": "ToDo percentage",
              "example": 99
             },
             "private": {
              "type": "boolean",
              "description": "ToDo private status",
              "example": false
             },
             "start_datetime": {
              "type": "string",
              "format": "date-time",
              "description": "ToDo start date-time",
              "example": "2015-02-06T00:00:00Z"
             },
             "task_name": {
              "type": "string",
              "description": "ToDo name (corresponds to matching field on Tasks)",
              "example": "Fix Drywall"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time the ToDo was last updated",
              "example": "2015-02-06T00:00:00Z"
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "type": "object",
              "title": "ToDo",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ToDo id",
                "example": 12
               },
               "assignment": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "color": {
                "type": "string",
                "description": "ToDo color",
                "example": "#A4505D"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "description": {
                "type": "string",
                "description": "ToDo description",
                "example": "Use some power tools to fix the drywall."
               },
               "finish_datetime": {
                "type": "string",
                "format": "date-time",
                "description": "ToDo finish date-time",
                "example": "2015-02-07T00:00:00Z"
               },
               "full_outline_path": {
                "type": "string",
                "description": "ToDo full outline path (corresponds to matching field on Tasks)",
                "example": "Fix drywall"
               },
               "milestone": {
                "type": "boolean",
                "description": "ToDo milestone status",
                "example": true
               },
               "name": {
                "type": "string",
                "description": "ToDo name",
                "example": "Fix drywall"
               },
               "percentage": {
                "type": "integer",
                "description": "ToDo percentage",
                "example": 99
               },
               "private": {
                "type": "boolean",
                "description": "ToDo private status",
                "example": false
               },
               "start_datetime": {
                "type": "string",
                "format": "date-time",
                "description": "ToDo start date-time",
                "example": "2015-02-06T00:00:00Z"
               },
               "task_name": {
                "type": "string",
                "description": "ToDo name (corresponds to matching field on Tasks)",
                "example": "Fix Drywall"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the ToDo was last updated",
                "example": "2015-02-06T00:00:00Z"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/todos/sync',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    updates: [\n      {\n        id: 1,\n        assignment_id: 1,\n        color: '#314159',\n        finish_datetime: '2015-02-07T00:00:00Z',\n        name: 'Existing Todo',\n        description: 'Use some power tools to fix the drywall.',\n        percentage: 99,\n        private: true,\n        start_datetime: '2015-02-06T00:00:00Z'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"updates\\\":[{\\\"id\\\":1,\\\"assignment_id\\\":1,\\\"color\\\":\\\"#314159\\\",\\\"finish_datetime\\\":\\\"2015-02-07T00:00:00Z\\\",\\\"name\\\":\\\"Existing Todo\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"percentage\\\":99,\\\"private\\\":true,\\\"start_datetime\\\":\\\"2015-02-06T00:00:00Z\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/todos/sync?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/todos/sync?project_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"updates\":[{\"id\":1,\"assignment_id\":1,\"color\":\"#314159\",\"finish_datetime\":\"2015-02-07T00:00:00Z\",\"name\":\"Existing Todo\",\"description\":\"Use some power tools to fix the drywall.\",\"percentage\":99,\"private\":true,\"start_datetime\":\"2015-02-06T00:00:00Z\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/todos/sync?project_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"updates\\\":[{\\\"id\\\":1,\\\"assignment_id\\\":1,\\\"color\\\":\\\"#314159\\\",\\\"finish_datetime\\\":\\\"2015-02-07T00:00:00Z\\\",\\\"name\\\":\\\"Existing Todo\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"percentage\\\":99,\\\"private\\\":true,\\\"start_datetime\\\":\\\"2015-02-06T00:00:00Z\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "ToDos endpoint is deprecated",
      "description": "This endpoint is a deprecated endpoint, please use [/rest/v1/calendar_items).",
      "endpoint": "PATCH /todos/sync",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2021-03-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "todos?version=1.0#sync-todos"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/todos/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the todo",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show todo",
    "description": "Return detailed information about a ToDo Item in a specified Project.\n\nThis endpoint has been deprecated. Instead, use [/rest/v1/calendar-items)",
    "x-deprecated-at": "2021-03-31",
    "deprecated": true,
    "tags": [
     "ToDos"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ToDo",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ToDo id",
           "example": 12
          },
          "assignment": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "color": {
           "type": "string",
           "description": "ToDo color",
           "example": "#A4505D"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "description": {
           "type": "string",
           "description": "ToDo description",
           "example": "Use some power tools to fix the drywall."
          },
          "finish_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "ToDo finish date-time",
           "example": "2015-02-07T00:00:00Z"
          },
          "full_outline_path": {
           "type": "string",
           "description": "ToDo full outline path (corresponds to matching field on Tasks)",
           "example": "Fix drywall"
          },
          "milestone": {
           "type": "boolean",
           "description": "ToDo milestone status",
           "example": true
          },
          "name": {
           "type": "string",
           "description": "ToDo name",
           "example": "Fix drywall"
          },
          "percentage": {
           "type": "integer",
           "description": "ToDo percentage",
           "example": 99
          },
          "private": {
           "type": "boolean",
           "description": "ToDo private status",
           "example": false
          },
          "start_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "ToDo start date-time",
           "example": "2015-02-06T00:00:00Z"
          },
          "task_name": {
           "type": "string",
           "description": "ToDo name (corresponds to matching field on Tasks)",
           "example": "Fix Drywall"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the ToDo was last updated",
           "example": "2015-02-06T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/todos/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/todos/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/todos/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/todos/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "ToDos endpoint is deprecated",
      "description": "This endpoint is a deprecated endpoint, please use [/rest/v1/calendar_items).",
      "endpoint": "GET /todos/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2021-03-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "todos?version=1.0#show-todo"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update todo",
    "description": "Update a ToDo item for a specified Project.\n\nThis endpoint has been deprecated. Instead, use [/rest/v1/calendar-items)",
    "x-deprecated-at": "2021-03-31",
    "deprecated": true,
    "tags": [
     "ToDos"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "todo"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "The ID of the Project the ToDo belongs to"
         },
         "todo": {
          "title": "ToDo",
          "type": "object",
          "description": "ToDo object",
          "properties": {
           "assignment_id": {
            "type": "integer",
            "description": "The ID of the Assignment of the ToDo"
           },
           "color": {
            "type": "string",
            "description": "The Color of the ToDo"
           },
           "finish_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "The Finish date-time of the ToDo"
           },
           "name": {
            "type": "string",
            "description": "The Name of the ToDo"
           },
           "description": {
            "type": "string",
            "description": "The Description of the ToDo"
           },
           "percentage": {
            "type": "integer",
            "description": "The Percentage of the ToDo"
           },
           "private": {
            "type": "boolean",
            "description": "The Private status of the ToDo"
           },
           "start_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "The Start date-time of the ToDo"
           }
          }
         }
        },
        "example": {
         "project_id": 1,
         "todo": {
          "assignment_id": 1,
          "color": "#314159",
          "description": "Use some power tools to fix the drywall.",
          "finish_datetime": "2015-02-07T00:00:00Z",
          "name": "Fix drywall",
          "percentage": 99,
          "private": true,
          "start_datetime": "2015-02-06T00:00:00Z"
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ToDo",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ToDo id",
           "example": 12
          },
          "assignment": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "color": {
           "type": "string",
           "description": "ToDo color",
           "example": "#A4505D"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "description": {
           "type": "string",
           "description": "ToDo description",
           "example": "Use some power tools to fix the drywall."
          },
          "finish_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "ToDo finish date-time",
           "example": "2015-02-07T00:00:00Z"
          },
          "full_outline_path": {
           "type": "string",
           "description": "ToDo full outline path (corresponds to matching field on Tasks)",
           "example": "Fix drywall"
          },
          "milestone": {
           "type": "boolean",
           "description": "ToDo milestone status",
           "example": true
          },
          "name": {
           "type": "string",
           "description": "ToDo name",
           "example": "Fix drywall"
          },
          "percentage": {
           "type": "integer",
           "description": "ToDo percentage",
           "example": 99
          },
          "private": {
           "type": "boolean",
           "description": "ToDo private status",
           "example": false
          },
          "start_datetime": {
           "type": "string",
           "format": "date-time",
           "description": "ToDo start date-time",
           "example": "2015-02-06T00:00:00Z"
          },
          "task_name": {
           "type": "string",
           "description": "ToDo name (corresponds to matching field on Tasks)",
           "example": "Fix Drywall"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the ToDo was last updated",
           "example": "2015-02-06T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/todos/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 1,\n    todo: {\n      assignment_id: 1,\n      color: '#314159',\n      description: 'Use some power tools to fix the drywall.',\n      finish_datetime: '2015-02-07T00:00:00Z',\n      name: 'Fix drywall',\n      percentage: 99,\n      private: true,\n      start_datetime: '2015-02-06T00:00:00Z'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":1,\\\"todo\\\":{\\\"assignment_id\\\":1,\\\"color\\\":\\\"#314159\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish_datetime\\\":\\\"2015-02-07T00:00:00Z\\\",\\\"name\\\":\\\"Fix drywall\\\",\\\"percentage\\\":99,\\\"private\\\":true,\\\"start_datetime\\\":\\\"2015-02-06T00:00:00Z\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/todos/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/todos/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":1,\"todo\":{\"assignment_id\":1,\"color\":\"#314159\",\"description\":\"Use some power tools to fix the drywall.\",\"finish_datetime\":\"2015-02-07T00:00:00Z\",\"name\":\"Fix drywall\",\"percentage\":99,\"private\":true,\"start_datetime\":\"2015-02-06T00:00:00Z\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/todos/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":1,\\\"todo\\\":{\\\"assignment_id\\\":1,\\\"color\\\":\\\"#314159\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish_datetime\\\":\\\"2015-02-07T00:00:00Z\\\",\\\"name\\\":\\\"Fix drywall\\\",\\\"percentage\\\":99,\\\"private\\\":true,\\\"start_datetime\\\":\\\"2015-02-06T00:00:00Z\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete todo",
    "description": "Delete a specific ToDo Item in a specified Project.\n\nThis endpoint has been deprecated. Instead, use [/rest/v1/calendar-items)",
    "x-deprecated-at": "2021-03-31",
    "deprecated": true,
    "tags": [
     "ToDos"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/todos/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/todos/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/todos/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/todos/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "ToDos endpoint is deprecated",
      "description": "This endpoint is a deprecated endpoint, please use [/rest/v1/calendar_items).",
      "endpoint": "DELETE /todos/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2021-03-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "todos?version=1.0#delete-todo"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}