{
 "openapi": "3.0.0",
 "info": {
  "title": "Units of Measure",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Units of Measure",
  "x-resource-name": "Units of Measure",
  "version": "2.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/uoms/configuration": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Configuration for Uom Master List",
    "description": "Returns configuration constraints for the company's UOM master list, derived from the company's connected ERP integration (when present). Includes the maximum allowed length of UOM names on commitment line items (`character_limit`, null when no integration is connected or no limit is configured) and the integration's short display name (`erp_integration_name`, empty string when no integration is connected).",
    "tags": [
     "Unit of Measure"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Configuration constraints applied to the company's UOM master list, derived from the company's connected ERP integration. Empty/null values indicate that no integration is connected or that the integration imposes no constraint.",
         "properties": {
          "data": {
           "type": "object",
           "description": "Configuration payload for the UOM master list.",
           "properties": {
            "character_limit": {
             "type": "string",
             "nullable": true,
             "description": "Maximum number of characters allowed for a UOM name when used on commitment line items, expressed as a numeric string (e.g., `\"32\"`). Null when the ERP integration imposes no character limit, or when no integration is connected.",
             "example": "32"
            },
            "erp_integration_name": {
             "type": "string",
             "description": "Short display name of the company's connected ERP integration (e.g., `Sage 300 CRE`). Empty string when no ERP integration is connected.",
             "example": "Sage 300 CRE"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/uoms/configuration',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/uoms/configuration\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/uoms/configuration \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/uoms/configuration\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Get Uom Master List Configuration",
      "description": "Get Uom Master List Configuration",
      "endpoint": "GET /companies/{company_id}/uoms/configuration",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-10-18",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "units-of-measure?version=2.0#get-configuration-for-uom-master-list"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/uoms": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Units of Measure",
    "description": "Returns the Units of Measure (UOMs) configured for the company, grouped by UOM Category. Includes both Procore-provided standard UOMs (those with `is_standard: true`, e.g., `hours`, `sf`) and any custom UOMs defined by the company. Pass `view=ids_only` to return only the IDs. Filter by `filters[id]` (single ID or array) and `filters[updated_at]` (ISO 8601 datetime range) to narrow the result set.",
    "tags": [
     "Units of Measure"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Serialization view. When set to `ids_only`, the response body is a JSON array of integer Unit of Measure IDs (pagination headers still apply). Omit for the default view (full UOM objects grouped by category).",
      "schema": {
       "type": "string",
       "enum": [
        "ids_only"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "required": false,
      "description": "Restrict results to UOMs with one or more matching IDs. Example: `filters[id]=[101,102]`.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) within a specific updated at iso8601 datetime range",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "Units of Measure",
           "description": "Default response \u2014 array of full Unit of Measure objects.",
           "type": "array",
           "items": {
            "type": "object",
            "description": "A Unit of Measure (UOM) configured for the company. UOMs are scoped to a `uom_category` and may be Procore-provided standards or company-defined custom units.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Numeric identifier of the Unit of Measure. Use as the `{id}` path parameter on `GET`/`PATCH`/`DELETE /rest/v1.0/companies/{company_id}/uoms/{id}`.",
              "example": 101
             },
             "is_standard": {
              "type": "boolean",
              "description": "True when this UOM is one of Procore's built-in standard units (e.g., `hours`, `sf`, `ls`); standard UOMs cannot be deleted, and only `name` can be modified. False for company-defined custom UOMs.",
              "example": false
             },
             "name": {
              "type": "string",
              "description": "Display name of the UOM (e.g., `hours`, `sf`, `ls`). Returned localized for the requesting user. Unique per company.",
              "example": "ls"
             },
             "description": {
              "type": "string",
              "nullable": true,
              "description": "Human-readable label for the UOM (e.g., `Lump Sum`). Present and localized only for Procore standard UOMs; null for company-defined custom UOMs.",
              "example": "Lump Sum"
             },
             "uom_category": {
              "type": "object",
              "description": "The UOM Category this UOM belongs to.",
              "required": [
               "id",
               "name"
              ],
              "properties": {
               "id": {
                "type": "integer",
                "description": "Numeric identifier of the UOM Category. Use as the `uom_category_id` when creating or updating a Unit of Measure.",
                "example": 202
               },
               "name": {
                "type": "string",
                "description": "Name of the UOM Category. One of Procore's standard categories: `time`, `amount`, `length`, `area`, `volume`, `mass`, `other`. Returned localized for the requesting user.",
                "example": "time"
               }
              }
             }
            }
           }
          },
          {
           "title": "ids_only",
           "description": "When `view=ids_only` \u2014 array of integer UOM IDs only.",
           "type": "array",
           "items": {
            "type": "integer"
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/uoms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Unit of Measure",
    "description": "Creates a new custom Unit of Measure (UOM) for the company. Only company admins can call this endpoint. The provided `name` must be unique within the company and cannot match the name of a Procore-provided standard UOM. Returns the newly created UOM resource.",
    "tags": [
     "Units of Measure"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "uom"
        ],
        "properties": {
         "uom": {
          "title": "Unit of Measure",
          "type": "object",
          "required": [
           "name",
           "uom_category_id"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Display name of the Unit of Measure (e.g., `hours`). Must be unique within the company and cannot match a Procore-provided standard UOM name.",
            "example": "hours"
           },
           "uom_category_id": {
            "type": "integer",
            "description": "ID of the parent UOM Category from `GET /rest/v1.0/companies/{company_id}/uom_categories`.",
            "example": 202
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "A Unit of Measure (UOM) configured for the company. UOMs are scoped to a `uom_category` and may be Procore-provided standards or company-defined custom units.",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Numeric identifier of the Unit of Measure. Use as the `{id}` path parameter on `GET`/`PATCH`/`DELETE /rest/v1.0/companies/{company_id}/uoms/{id}`.",
           "example": 101
          },
          "is_standard": {
           "type": "boolean",
           "description": "True when this UOM is one of Procore's built-in standard units (e.g., `hours`, `sf`, `ls`); standard UOMs cannot be deleted, and only `name` can be modified. False for company-defined custom UOMs.",
           "example": false
          },
          "name": {
           "type": "string",
           "description": "Display name of the UOM (e.g., `hours`, `sf`, `ls`). Returned localized for the requesting user. Unique per company.",
           "example": "ls"
          },
          "description": {
           "type": "string",
           "nullable": true,
           "description": "Human-readable label for the UOM (e.g., `Lump Sum`). Present and localized only for Procore standard UOMs; null for company-defined custom UOMs.",
           "example": "Lump Sum"
          },
          "uom_category": {
           "type": "object",
           "description": "The UOM Category this UOM belongs to.",
           "required": [
            "id",
            "name"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "Numeric identifier of the UOM Category. Use as the `uom_category_id` when creating or updating a Unit of Measure.",
             "example": 202
            },
            "name": {
             "type": "string",
             "description": "Name of the UOM Category. One of Procore's standard categories: `time`, `amount`, `length`, `area`, `volume`, `mass`, `other`. Returned localized for the requesting user.",
             "example": "time"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms',\n  headers: {'content-type': 'application/json'},\n  body: {uom: {name: 'hours', uom_category_id: 202}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"uom\\\":{\\\"name\\\":\\\"hours\\\",\\\"uom_category_id\\\":202}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/uoms\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms \\\n  --header 'content-type: application/json' \\\n  --data '{\"uom\":{\"name\":\"hours\",\"uom_category_id\":202}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms\"),\n    Content = new StringContent(\"{\\\"uom\\\":{\\\"name\\\":\\\"hours\\\",\\\"uom_category_id\\\":202}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/uoms/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unit of Measure ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Unit of Measure",
    "description": "Returns a single Unit of Measure (UOM) by ID. Use the `id` returned from the List endpoint as the `{id}` path parameter.",
    "tags": [
     "Units of Measure"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "A Unit of Measure (UOM) configured for the company. UOMs are scoped to a `uom_category` and may be Procore-provided standards or company-defined custom units.",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Numeric identifier of the Unit of Measure. Use as the `{id}` path parameter on `GET`/`PATCH`/`DELETE /rest/v1.0/companies/{company_id}/uoms/{id}`.",
           "example": 101
          },
          "is_standard": {
           "type": "boolean",
           "description": "True when this UOM is one of Procore's built-in standard units (e.g., `hours`, `sf`, `ls`); standard UOMs cannot be deleted, and only `name` can be modified. False for company-defined custom UOMs.",
           "example": false
          },
          "name": {
           "type": "string",
           "description": "Display name of the UOM (e.g., `hours`, `sf`, `ls`). Returned localized for the requesting user. Unique per company.",
           "example": "ls"
          },
          "description": {
           "type": "string",
           "nullable": true,
           "description": "Human-readable label for the UOM (e.g., `Lump Sum`). Present and localized only for Procore standard UOMs; null for company-defined custom UOMs.",
           "example": "Lump Sum"
          },
          "uom_category": {
           "type": "object",
           "description": "The UOM Category this UOM belongs to.",
           "required": [
            "id",
            "name"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "Numeric identifier of the UOM Category. Use as the `uom_category_id` when creating or updating a Unit of Measure.",
             "example": 202
            },
            "name": {
             "type": "string",
             "description": "Name of the UOM Category. One of Procore's standard categories: `time`, `amount`, `length`, `area`, `volume`, `mass`, `other`. Returned localized for the requesting user.",
             "example": "time"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Fixed tags on Units of Measure v1.0 operations",
      "description": "Corrected the tags on the Create, Show, Update, Delete, and Sync operations to \"Units of Measure\".",
      "endpoint": "GET /companies/{company_id}/uoms/{id}",
      "type": "fix",
      "breaking": false,
      "datestamp": "2026-04-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "units-of-measure?version=1.0#show-unit-of-measure"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Unit of Measure",
    "description": "Updates the `name` and/or `uom_category_id` of a Unit of Measure (UOM). Only company admins can call this endpoint. For Procore-provided standard UOMs (`is_standard: true`), only `name` can be updated; `uom_category_id` changes are silently ignored. Custom UOMs support both fields.",
    "tags": [
     "Units of Measure"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "uom"
        ],
        "properties": {
         "uom": {
          "title": "Unit of Measure",
          "type": "object",
          "required": [
           "name",
           "uom_category_id"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Display name of the Unit of Measure (e.g., `hours`). Must be unique within the company and cannot match a Procore-provided standard UOM name.",
            "example": "hours"
           },
           "uom_category_id": {
            "type": "integer",
            "description": "ID of the parent UOM Category from `GET /rest/v1.0/companies/{company_id}/uom_categories`.",
            "example": 202
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "A Unit of Measure (UOM) configured for the company. UOMs are scoped to a `uom_category` and may be Procore-provided standards or company-defined custom units.",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Numeric identifier of the Unit of Measure. Use as the `{id}` path parameter on `GET`/`PATCH`/`DELETE /rest/v1.0/companies/{company_id}/uoms/{id}`.",
           "example": 101
          },
          "is_standard": {
           "type": "boolean",
           "description": "True when this UOM is one of Procore's built-in standard units (e.g., `hours`, `sf`, `ls`); standard UOMs cannot be deleted, and only `name` can be modified. False for company-defined custom UOMs.",
           "example": false
          },
          "name": {
           "type": "string",
           "description": "Display name of the UOM (e.g., `hours`, `sf`, `ls`). Returned localized for the requesting user. Unique per company.",
           "example": "ls"
          },
          "description": {
           "type": "string",
           "nullable": true,
           "description": "Human-readable label for the UOM (e.g., `Lump Sum`). Present and localized only for Procore standard UOMs; null for company-defined custom UOMs.",
           "example": "Lump Sum"
          },
          "uom_category": {
           "type": "object",
           "description": "The UOM Category this UOM belongs to.",
           "required": [
            "id",
            "name"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "Numeric identifier of the UOM Category. Use as the `uom_category_id` when creating or updating a Unit of Measure.",
             "example": 202
            },
            "name": {
             "type": "string",
             "description": "Name of the UOM Category. One of Procore's standard categories: `time`, `amount`, `length`, `area`, `volume`, `mass`, `other`. Returned localized for the requesting user.",
             "example": "time"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {uom: {name: 'hours', uom_category_id: 202}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"uom\\\":{\\\"name\\\":\\\"hours\\\",\\\"uom_category_id\\\":202}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"uom\":{\"name\":\"hours\",\"uom_category_id\":202}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"uom\\\":{\\\"name\\\":\\\"hours\\\",\\\"uom_category_id\\\":202}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Unit of Measure",
    "description": "Deletes a custom Unit of Measure (UOM). Only company admins can call this endpoint, and only custom UOMs can be deleted \u2014 attempting to delete a Procore-provided standard UOM (`is_standard: true`) returns `422 Unprocessable Entity`.",
    "tags": [
     "Units of Measure"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/uoms/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Units of Measure",
    "description": "Creates, updates, and/or deletes a batch of Units of Measure (UOMs) for the company in a single call. Each entry in `updates` is treated as a create when `id` is omitted, or as an update when `id` is supplied. IDs in `deletes` remove the matching UOMs; standard (Procore-provided) UOMs cannot be deleted via this endpoint and will be reported in the response `errors` array. Only company admins can call this endpoint. See [Using Sync Actions](/documentation/using-sync-actions) for additional information.",
    "tags": [
     "Units of Measure"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "updates"
        ],
        "properties": {
         "updates": {
          "type": "array",
          "description": "UOMs to create or update. Omit `id` to create a new custom UOM; supply `id` to update an existing UOM. For Procore-provided standard UOMs, only `name` can be updated; `uom_category_id` changes are silently ignored.",
          "items": {
           "type": "object",
           "title": "Unit of Measure to Sync",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of an existing Unit of Measure to update. Omit when creating a new UOM.",
             "example": 12
            },
            "name": {
             "type": "string",
             "description": "Display name of the UOM (e.g., `hours`, `sf`). Required when creating; optional on updates. Must be unique within the company and cannot match a Procore standard UOM name.",
             "example": "hours"
            },
            "uom_category_id": {
             "type": "integer",
             "description": "ID of the parent UOM Category from `GET /rest/v1.0/companies/{company_id}/uom_categories`. Required when creating; optional on updates.",
             "example": 202
            }
           }
          }
         },
         "deletes": {
          "type": "array",
          "description": "IDs of custom UOMs to delete. Standard (Procore-provided) UOMs cannot be deleted via this endpoint and will be reported in the response `errors` array.",
          "items": {
           "type": "integer",
           "description": "ID of a custom Unit of Measure to delete.",
           "example": 12
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Array of Units of Measure",
      "content": {
       "application/json": {
        "schema": {
         "title": "arrayOfUnitsOfMeasure",
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "A Unit of Measure (UOM) configured for the company. UOMs are scoped to a `uom_category` and may be Procore-provided standards or company-defined custom units.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Numeric identifier of the Unit of Measure. Use as the `{id}` path parameter on `GET`/`PATCH`/`DELETE /rest/v1.0/companies/{company_id}/uoms/{id}`.",
              "example": 101
             },
             "is_standard": {
              "type": "boolean",
              "description": "True when this UOM is one of Procore's built-in standard units (e.g., `hours`, `sf`, `ls`); standard UOMs cannot be deleted, and only `name` can be modified. False for company-defined custom UOMs.",
              "example": false
             },
             "name": {
              "type": "string",
              "description": "Display name of the UOM (e.g., `hours`, `sf`, `ls`). Returned localized for the requesting user. Unique per company.",
              "example": "ls"
             },
             "description": {
              "type": "string",
              "nullable": true,
              "description": "Human-readable label for the UOM (e.g., `Lump Sum`). Present and localized only for Procore standard UOMs; null for company-defined custom UOMs.",
              "example": "Lump Sum"
             },
             "uom_category": {
              "type": "object",
              "description": "The UOM Category this UOM belongs to.",
              "required": [
               "id",
               "name"
              ],
              "properties": {
               "id": {
                "type": "integer",
                "description": "Numeric identifier of the UOM Category. Use as the `uom_category_id` when creating or updating a Unit of Measure.",
                "example": 202
               },
               "name": {
                "type": "string",
                "description": "Name of the UOM Category. One of Procore's standard categories: `time`, `amount`, `length`, `area`, `volume`, `mass`, `other`. Returned localized for the requesting user.",
                "example": "time"
               }
              }
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "A single failed entry returned by `PATCH /rest/v1.0/companies/{company_id}/uoms/sync`. Contains the original UOM payload alongside an `errors` map keyed by field name explaining why the row failed validation (e.g., name conflicts, missing category, attempting to delete a standard UOM).",
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID of the Unit of Measure that failed to sync (echoed from the request).",
                "example": 101
               },
               "is_standard": {
                "type": "boolean",
                "description": "True when the failed row references a Procore-provided standard UOM. Standard UOMs cannot be deleted via sync, and `uom_category_id` cannot be changed; only `name` can be modified.",
                "example": false
               },
               "name": {
                "type": "string",
                "description": "Name from the failed UOM payload (echoed from the request).",
                "example": "ls"
               },
               "description": {
                "type": "string",
                "nullable": true,
                "description": "Human-readable label for the UOM. Present only for Procore standard UOMs; null for custom UOMs.",
                "example": "Lump Sum"
               },
               "uom_category": {
                "type": "object",
                "description": "The UOM Category associated with the failed UOM, if available.",
                "required": [
                 "id",
                 "name"
                ],
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Numeric identifier of the UOM Category.",
                  "example": 202
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the UOM Category. One of Procore's standard categories: `time`, `amount`, `length`, `area`, `volume`, `mass`, `other`.",
                  "example": "time"
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "description": "Validation errors keyed by field name. Each value is an array of human-readable error messages. The `base` key holds row-level errors not tied to a specific field (e.g., attempting to delete a Procore-provided standard UOM via the `deletes` array).",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "description": "Example error array for a single field. Replace `field_name` with the actual offending field key returned at runtime.",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/sync',\n  headers: {'content-type': 'application/json'},\n  body: {updates: [{id: 12, name: 'hours', uom_category_id: 202}], deletes: [12]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"updates\\\":[{\\\"id\\\":12,\\\"name\\\":\\\"hours\\\",\\\"uom_category_id\\\":202}],\\\"deletes\\\":[12]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/uoms/sync\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/sync \\\n  --header 'content-type: application/json' \\\n  --data '{\"updates\":[{\"id\":12,\"name\":\"hours\",\"uom_category_id\":202}],\"deletes\":[12]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/uoms/sync\"),\n    Content = new StringContent(\"{\\\"updates\\\":[{\\\"id\\\":12,\\\"name\\\":\\\"hours\\\",\\\"uom_category_id\\\":202}],\\\"deletes\\\":[12]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}