{
 "openapi": "3.0.0",
 "info": {
  "title": "Visitor Logs",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Visitor Logs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/visitor_logs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Visitor Logs",
    "description": "Returns all Visitor Logs for the current date.\n\nSee [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) for information on filtering the response using the log\\_date, start\\_date, and end\\_date parameters. Note that if none of the date parameters are provided in the call, only logs from the current date are returned.",
    "tags": [
     "Visitor Logs"
    ],
    "parameters": [
     {
      "name": "log_date",
      "in": "query",
      "description": "Date of specific logs desired in YYYY-MM-DD format",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "description": "Start date of specific logs desired in YYYY-MM-DD format (use together with end_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "End date of specific logs desired in YYYY-MM-DD format (use together with start_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "example": [
       123456
      ],
      "name": "filters[daily_log_segment_id]",
      "in": "query",
      "description": "Daily Log Segment ID filter",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "example": 333675
           },
           "begin_hour": {
            "type": "integer",
            "description": "Time of visitation - hour",
            "example": 12,
            "maximum": 23,
            "minimum": 0
           },
           "begin_minute": {
            "type": "integer",
            "description": "Time of visitation - hour",
            "example": 10,
            "maximum": 59,
            "minimum": 0
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2012-10-23T21:39:40Z"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated UTC datetime of record",
            "example": "2016-05-19T12:00:00Z"
           },
           "details": {
            "type": "string",
            "description": "Details of visit",
            "example": "Visitor Log"
           },
           "end_hour": {
            "type": "integer",
            "description": "Time that the visitation ended - hour",
            "example": 14,
            "maximum": 23,
            "minimum": 0
           },
           "end_minute": {
            "type": "integer",
            "description": "Time that the visitation ended - minute",
            "example": 30,
            "maximum": 59,
            "minimum": 0
           },
           "position": {
            "type": "integer",
            "description": "Order in which this entry was recorded for the day",
            "example": 142143
           },
           "status": {
            "type": "string",
            "description": "Is a log pending or approved",
            "example": "pending"
           },
           "subject": {
            "type": "string",
            "example": "Elizabeth Cannon (1st Choice Glass Inc.)"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2012-10-24T21:39:40Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "vendor": {
            "type": "object",
            "title": "Compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this vendor/company.",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Display name of the vendor or contractor company.",
              "example": "SID Architecture"
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field",
                "example": "custom field value"
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                "example": "phone_number"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                "example": "with_code"
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           },
           "permissions": {
            "type": "object",
            "description": "TBD",
            "properties": {
             "can_update": {
              "type": "boolean",
              "description": "Can Update",
              "example": true
             },
             "can_delete": {
              "type": "boolean",
              "description": "Can Delete",
              "example": false
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs',\n  qs: {\n    log_date: 'SOME_STRING_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[daily_log_segment_id]': '123456'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify more detailed response example for 'custom_fields' field",
      "description": "Specify more detailed response example for 'custom_fields' field",
      "endpoint": "GET /projects/{project_id}/visitor_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#list-visitor-logs"
     },
     {
      "summary": "Add vendor to response body for Visitor Logs get endpoint",
      "description": "Add vendor to response body for Visitor Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/visitor_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#list-visitor-logs"
     },
     {
      "summary": "Add location to response body for Visitor Logs get endpoint",
      "description": "Add location to response body for Visitor Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/visitor_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#list-visitor-logs"
     },
     {
      "summary": "Add daily_log_segment_id filter",
      "description": "Add daily_log_segment_id to filter parameter and response body for visitor Logs index endpoint.",
      "endpoint": "GET /projects/{project_id}/visitor_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#list-visitor-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/visitor_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#list-visitor-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Visitor Log",
    "description": "Creates a single Visitor Log in the specified Project.",
    "tags": [
     "Visitor Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "visitor_log"
        ],
        "properties": {
         "visitor_log": {
          "type": "object",
          "required": [
           "begin_hour",
           "begin_minute",
           "end_hour",
           "end_minute"
          ],
          "allOf": [
           {
            "properties": {
             "begin_hour": {
              "type": "integer",
              "description": "Time of visitation - hour",
              "example": 12,
              "maximum": 23,
              "minimum": 0
             },
             "begin_minute": {
              "type": "integer",
              "description": "Time of visitation - hour",
              "example": 10,
              "maximum": 59,
              "minimum": 0
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Format: YYYY-MM-DD Example: 2016-04-19",
              "example": "2016-05-19"
             },
             "datetime": {
              "type": "string",
              "format": "date-time",
              "description": "Datetime of record. Mutually exclusive with the date property.",
              "example": "2016-05-19T12:00:00Z"
             },
             "details": {
              "type": "string",
              "description": "Details of visit",
              "example": "Visitor Log"
             },
             "end_hour": {
              "type": "integer",
              "description": "Time that the visitation ended - hour",
              "example": 14,
              "maximum": 23,
              "minimum": 0
             },
             "end_minute": {
              "type": "integer",
              "description": "Time that the visitation ended - minute",
              "example": 30,
              "maximum": 59,
              "minimum": 0
             },
             "vendor_id": {
              "type": "integer",
              "description": "ID of the Vendor associated to the visit",
              "example": 1120327
             },
             "location_id": {
              "type": "integer",
              "description": "ID of the Location where the visitor was",
              "example": 1120327
             },
             "daily_log_segment_id": {
              "type": "integer",
              "description": "Daily Log Segment ID",
              "example": 123456,
              "nullable": true
             },
             "custom_field_%{custom_field_definition_id}": {
              "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
              "example": "custom field value",
              "oneOf": [
               {
                "type": "string",
                "title": "string"
               },
               {
                "type": "number",
                "title": "number"
               },
               {
                "type": "boolean",
                "title": "boolean"
               },
               {
                "type": "array",
                "title": "array",
                "items": {
                 "type": "integer"
                }
               }
              ]
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "example": 333675
          },
          "begin_hour": {
           "type": "integer",
           "description": "Time of visitation - hour",
           "example": 12,
           "maximum": 23,
           "minimum": 0
          },
          "begin_minute": {
           "type": "integer",
           "description": "Time of visitation - hour",
           "example": 10,
           "maximum": 59,
           "minimum": 0
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD Example: 2016-04-19",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "details": {
           "type": "string",
           "description": "Details of visit",
           "example": "Visitor Log"
          },
          "end_hour": {
           "type": "integer",
           "description": "Time that the visitation ended - hour",
           "example": 14,
           "maximum": 23,
           "minimum": 0
          },
          "end_minute": {
           "type": "integer",
           "description": "Time that the visitation ended - minute",
           "example": 30,
           "maximum": 59,
           "minimum": 0
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "status": {
           "type": "string",
           "description": "Is a log pending or approved",
           "example": "pending"
          },
          "subject": {
           "type": "string",
           "example": "Elizabeth Cannon (1st Choice Glass Inc.)"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "TBD",
           "properties": {
            "can_update": {
             "type": "boolean",
             "description": "Can Update",
             "example": true
            },
            "can_delete": {
             "type": "boolean",
             "description": "Can Delete",
             "example": false
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not create due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    visitor_log: {\n      begin_hour: 12,\n      begin_minute: 10,\n      date: '2016-05-19',\n      datetime: '2016-05-19T12:00:00Z',\n      details: 'Visitor Log',\n      end_hour: 14,\n      end_minute: 30,\n      vendor_id: 1120327,\n      location_id: 1120327,\n      daily_log_segment_id: 123456,\n      'custom_field_%{custom_field_definition_id}': 'custom field value',\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"visitor_log\\\":{\\\"begin_hour\\\":12,\\\"begin_minute\\\":10,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"details\\\":\\\"Visitor Log\\\",\\\"end_hour\\\":14,\\\"end_minute\\\":30,\\\"vendor_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"visitor_log\":{\"begin_hour\":12,\"begin_minute\":10,\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"details\":\"Visitor Log\",\"end_hour\":14,\"end_minute\":30,\"vendor_id\":1120327,\"location_id\":1120327,\"daily_log_segment_id\":123456,\"custom_field_%{custom_field_definition_id}\":\"custom field value\",\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"visitor_log\\\":{\\\"begin_hour\\\":12,\\\"begin_minute\\\":10,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"details\\\":\\\"Visitor Log\\\",\\\"end_hour\\\":14,\\\"end_minute\\\":30,\\\"vendor_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify more detailed response example for 'custom_fields' field",
      "description": "Specify more detailed response example for 'custom_fields' field",
      "endpoint": "POST /projects/{project_id}/visitor_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#create-visitor-log"
     },
     {
      "summary": "Add Attachments by Reference",
      "description": "Add new attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /projects/{project_id}/visitor_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#create-visitor-log"
     },
     {
      "summary": "Add vendor_id as parameter to request body and return vendor in response for Visitor Logs create endpoint",
      "description": "Add vendor_id as parameter to request body and return vendor in response for Visitor Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/visitor_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#create-visitor-log"
     },
     {
      "summary": "Add location_id as parameter to request body and return location in response for Visitor Logs create endpoint",
      "description": "Add location_id as parameter to request body and return location in response for Visitor Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/visitor_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#create-visitor-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for visitor Logs create endpoint",
      "description": "Add daily_log_segment_id to request body and response body for visitor Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/visitor_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#create-visitor-log"
     },
     {
      "summary": "Add attachments parameters in JSON request body schema",
      "description": "Add attachments parameters in JSON request body schema.",
      "endpoint": "POST /projects/{project_id}/visitor_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#create-visitor-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "POST /projects/{project_id}/visitor_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#create-visitor-log"
     },
     {
      "summary": "Validate log type is enabled on create",
      "description": "POST create now validates that visitor logs are enabled in the project's Daily Log configuration.\nRequests are rejected with an InvalidLog error when the log type is disabled.",
      "endpoint": "POST /projects/{project_id}/visitor_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#create-visitor-log"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/visitor_logs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Visitor Log ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Visitor Logs",
    "description": "Returns single Visitor Log.",
    "tags": [
     "Visitor Logs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "example": 333675
          },
          "begin_hour": {
           "type": "integer",
           "description": "Time of visitation - hour",
           "example": 12,
           "maximum": 23,
           "minimum": 0
          },
          "begin_minute": {
           "type": "integer",
           "description": "Time of visitation - hour",
           "example": 10,
           "maximum": 59,
           "minimum": 0
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD Example: 2016-04-19",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "details": {
           "type": "string",
           "description": "Details of visit",
           "example": "Visitor Log"
          },
          "end_hour": {
           "type": "integer",
           "description": "Time that the visitation ended - hour",
           "example": 14,
           "maximum": 23,
           "minimum": 0
          },
          "end_minute": {
           "type": "integer",
           "description": "Time that the visitation ended - minute",
           "example": 30,
           "maximum": 59,
           "minimum": 0
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "status": {
           "type": "string",
           "description": "Is a log pending or approved",
           "example": "pending"
          },
          "subject": {
           "type": "string",
           "example": "Elizabeth Cannon (1st Choice Glass Inc.)"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "TBD",
           "properties": {
            "can_update": {
             "type": "boolean",
             "description": "Can Update",
             "example": true
            },
            "can_delete": {
             "type": "boolean",
             "description": "Can Delete",
             "example": false
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify more detailed response example for 'custom_fields' field",
      "description": "Specify more detailed response example for 'custom_fields' field",
      "endpoint": "GET /projects/{project_id}/visitor_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#show-visitor-logs"
     },
     {
      "summary": "Add vendor to response body for Visitor Logs get endpoint",
      "description": "Add vendor to response body for Visitor Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/visitor_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#show-visitor-logs"
     },
     {
      "summary": "Add location to response body for Visitor Logs get endpoint",
      "description": "Add location to response body for Visitor Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/visitor_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#show-visitor-logs"
     },
     {
      "summary": "Add daily_log_segment_id to response body for visitor Logs show endpoint",
      "description": "Add daily_log_segment_id to response body for visitor Logs show endpoint.",
      "endpoint": "GET /projects/{project_id}/visitor_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#show-visitor-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/visitor_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#show-visitor-logs"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Visitor Log",
    "description": "Updates a single Visitor Log in the specified Project.",
    "tags": [
     "Visitor Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "visitor_log"
        ],
        "properties": {
         "visitor_log": {
          "type": "object",
          "allOf": [
           {
            "properties": {
             "begin_hour": {
              "type": "integer",
              "description": "Time of visitation - hour",
              "example": 12,
              "maximum": 23,
              "minimum": 0
             },
             "begin_minute": {
              "type": "integer",
              "description": "Time of visitation - hour",
              "example": 10,
              "maximum": 59,
              "minimum": 0
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Format: YYYY-MM-DD Example: 2016-04-19",
              "example": "2016-05-19"
             },
             "datetime": {
              "type": "string",
              "format": "date-time",
              "description": "Datetime of record. Mutually exclusive with the date property.",
              "example": "2016-05-19T12:00:00Z"
             },
             "details": {
              "type": "string",
              "description": "Details of visit",
              "example": "Visitor Log"
             },
             "end_hour": {
              "type": "integer",
              "description": "Time that the visitation ended - hour",
              "example": 14,
              "maximum": 23,
              "minimum": 0
             },
             "end_minute": {
              "type": "integer",
              "description": "Time that the visitation ended - minute",
              "example": 30,
              "maximum": 59,
              "minimum": 0
             },
             "vendor_id": {
              "type": "integer",
              "description": "ID of the Vendor associated to the visit",
              "example": 1120327
             },
             "location_id": {
              "type": "integer",
              "description": "ID of the Location where the visitor was",
              "example": 1120327
             },
             "daily_log_segment_id": {
              "type": "integer",
              "description": "Daily Log Segment ID",
              "example": 123456,
              "nullable": true
             },
             "custom_field_%{custom_field_definition_id}": {
              "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
              "example": "custom field value",
              "oneOf": [
               {
                "type": "string",
                "title": "string"
               },
               {
                "type": "number",
                "title": "number"
               },
               {
                "type": "boolean",
                "title": "boolean"
               },
               {
                "type": "array",
                "title": "array",
                "items": {
                 "type": "integer"
                }
               }
              ]
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "example": 333675
          },
          "begin_hour": {
           "type": "integer",
           "description": "Time of visitation - hour",
           "example": 12,
           "maximum": 23,
           "minimum": 0
          },
          "begin_minute": {
           "type": "integer",
           "description": "Time of visitation - hour",
           "example": 10,
           "maximum": 59,
           "minimum": 0
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD Example: 2016-04-19",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "details": {
           "type": "string",
           "description": "Details of visit",
           "example": "Visitor Log"
          },
          "end_hour": {
           "type": "integer",
           "description": "Time that the visitation ended - hour",
           "example": 14,
           "maximum": 23,
           "minimum": 0
          },
          "end_minute": {
           "type": "integer",
           "description": "Time that the visitation ended - minute",
           "example": 30,
           "maximum": 59,
           "minimum": 0
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "status": {
           "type": "string",
           "description": "Is a log pending or approved",
           "example": "pending"
          },
          "subject": {
           "type": "string",
           "example": "Elizabeth Cannon (1st Choice Glass Inc.)"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "TBD",
           "properties": {
            "can_update": {
             "type": "boolean",
             "description": "Can Update",
             "example": true
            },
            "can_delete": {
             "type": "boolean",
             "description": "Can Delete",
             "example": false
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not update due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    visitor_log: {\n      begin_hour: 12,\n      begin_minute: 10,\n      date: '2016-05-19',\n      datetime: '2016-05-19T12:00:00Z',\n      details: 'Visitor Log',\n      end_hour: 14,\n      end_minute: 30,\n      vendor_id: 1120327,\n      location_id: 1120327,\n      daily_log_segment_id: 123456,\n      'custom_field_%{custom_field_definition_id}': 'custom field value',\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"visitor_log\\\":{\\\"begin_hour\\\":12,\\\"begin_minute\\\":10,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"details\\\":\\\"Visitor Log\\\",\\\"end_hour\\\":14,\\\"end_minute\\\":30,\\\"vendor_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"visitor_log\":{\"begin_hour\":12,\"begin_minute\":10,\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"details\":\"Visitor Log\",\"end_hour\":14,\"end_minute\":30,\"vendor_id\":1120327,\"location_id\":1120327,\"daily_log_segment_id\":123456,\"custom_field_%{custom_field_definition_id}\":\"custom field value\",\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"visitor_log\\\":{\\\"begin_hour\\\":12,\\\"begin_minute\\\":10,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"details\\\":\\\"Visitor Log\\\",\\\"end_hour\\\":14,\\\"end_minute\\\":30,\\\"vendor_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify more detailed response example for 'custom_fields' field",
      "description": "Specify more detailed response example for 'custom_fields' field",
      "endpoint": "PATCH /projects/{project_id}/visitor_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#update-visitor-log"
     },
     {
      "summary": "Replace Attachments by Reference",
      "description": "Replace existing attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "PATCH /projects/{project_id}/visitor_logs/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#update-visitor-log"
     },
     {
      "summary": "Add vendor_id as parameter to request body and return vendor in response for Visitor Logs update endpoint",
      "description": "Add vendor_id as parameter to request body and return vendor in response for Visitor Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/visitor_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#update-visitor-log"
     },
     {
      "summary": "Add location_id as parameter to request body and return location in response for Visitor Logs update endpoint",
      "description": "Add location_id as parameter to request body and return location in response for Visitor Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/visitor_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#update-visitor-log"
     },
     {
      "summary": "Allow removing location by passing location_id as null",
      "description": "Location can be removed by passing location_id as null",
      "endpoint": "PATCH /projects/{project_id}/visitor_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#update-visitor-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for visitor Logs update endpoint",
      "description": "Add daily_log_segment_id to request body and response body for visitor Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/visitor_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#update-visitor-log"
     },
     {
      "summary": "Add attachments parameters in JSON request body schema",
      "description": "Add attachments parameters in JSON request body schema.",
      "endpoint": "PATCH /projects/{project_id}/visitor_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#update-visitor-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "PATCH /projects/{project_id}/visitor_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "visitor-logs?version=1.0#update-visitor-log"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Visitor Log",
    "description": "Delete single Visitor Log.",
    "tags": [
     "Visitor Logs"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Can not delete due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/visitor_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}