{
 "openapi": "3.0.0",
 "info": {
  "title": "Waste Logs",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Waste Logs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/waste_logs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Waste Logs",
    "description": "Returns all Waste Logs for the current date.\n\nSee [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) for information on filtering the response using the log\\_date, start\\_date, and end\\_date parameters. Note that if none of the date parameters are provided in the call, only logs from the current date are returned.",
    "tags": [
     "Waste Logs"
    ],
    "parameters": [
     {
      "name": "log_date",
      "in": "query",
      "description": "Date of specific logs desired in YYYY-MM-DD format",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "description": "Start date of specific logs desired in YYYY-MM-DD format (use together with end_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "End date of specific logs desired in YYYY-MM-DD format (use together with start_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "example": [
       123456
      ],
      "name": "filters[daily_log_segment_id]",
      "in": "query",
      "description": "Daily Log Segment ID filter",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "example": 333675
           },
           "approximate_quantity": {
            "type": "integer",
            "description": "Waste log approximate quantity",
            "example": 5
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2012-10-23T21:39:40Z"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated UTC datetime of record",
            "example": "2016-05-19T12:00:00Z"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Left over wood chips"
           },
           "disposal_location": {
            "type": "string",
            "description": "Waste disposal location",
            "example": "Dump Yard"
           },
           "material": {
            "type": "string",
            "description": "Type of waste disposed of",
            "example": "Waste material"
           },
           "method_of_disposal": {
            "type": "string",
            "description": "Method used to dispose of the waste",
            "example": "Truck"
           },
           "position": {
            "type": "integer",
            "description": "Order in which this entry was recorded for the day",
            "example": 142143
           },
           "time_hour": {
            "type": "integer",
            "description": "Time of waste disposal - hour",
            "example": 10,
            "maximum": 23,
            "minimum": 0
           },
           "time_minute": {
            "type": "integer",
            "description": "Time of waste disposal - minute",
            "example": 15,
            "maximum": 59,
            "minimum": 0
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2012-10-24T21:39:40Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "vendor": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "example": 161072
             },
             "name": {
              "type": "string",
              "example": "SID Architecture"
             }
            }
           },
           "contact": {
            "type": "object",
            "title": "Compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this vendor/company.",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Display name of the vendor or contractor company.",
              "example": "SID Architecture"
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "daily_log_segment": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 123456
             },
             "name": {
              "type": "string",
              "description": "Name of the segment",
              "example": "Morning Shift"
             },
             "description": {
              "type": "string",
              "nullable": true,
              "description": "Description of the segment",
              "example": "Work performed during the morning shift"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Timestamp when the segment was soft deleted",
              "example": "2025-01-15T10:30:00Z"
             },
             "deleted": {
              "type": "boolean",
              "description": "Indicates if the segment is deleted",
              "example": false
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Waste Log Attachments are not viewable or used on web",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs',\n  qs: {\n    log_date: 'SOME_STRING_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[vendor_id]': 'SOME_ARRAY_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[daily_log_segment_id]': '123456'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/waste_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added contact and location objects",
      "description": "Added contact and location objects to waste log responses.",
      "endpoint": "GET /projects/{project_id}/waste_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#list-waste-logs"
     },
     {
      "summary": "Added Company filter",
      "description": "Added Company filter.",
      "endpoint": "GET /projects/{project_id}/waste_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-04-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#list-waste-logs"
     },
     {
      "summary": "Add daily_log_segment_id filter",
      "description": "Add daily_log_segment_id to filter parameter and response body for waste Logs index endpoint.",
      "endpoint": "GET /projects/{project_id}/waste_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#list-waste-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/waste_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#list-waste-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Waste Log",
    "description": "Creates single Waste Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments\n\n[Project Vendor List](https://developers.procore.com/docs/list-project-vendors)",
    "tags": [
     "Waste Logs"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "waste_log"
        ],
        "properties": {
         "waste_log": {
          "type": "object",
          "required": [
           "time_hour",
           "time_minute"
          ],
          "allOf": [
           {
            "properties": {
             "approximate_quantity": {
              "type": "integer",
              "description": "Waste log approximate quantity",
              "example": 5
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Format: YYYY-MM-DD Example: 2016-04-19",
              "example": "2016-05-19"
             },
             "datetime": {
              "type": "string",
              "format": "date-time",
              "description": "Datetime of record. Mutually exclusive with the date property.",
              "example": "2016-05-19T12:00:00Z"
             },
             "description": {
              "type": "string",
              "description": "Description",
              "example": "Disposal complete"
             },
             "disposal_location": {
              "type": "string",
              "description": "Waste disposal location",
              "example": "Dump Yard"
             },
             "material": {
              "type": "string",
              "description": "Type of waste disposed of",
              "example": "Waste Material"
             },
             "method_of_disposal": {
              "type": "string",
              "description": "Method used to dispose of the waste",
              "example": "Truck"
             },
             "time_hour": {
              "type": "integer",
              "description": "Time of waste disposal - hour",
              "example": 10,
              "maximum": 23,
              "minimum": 0
             },
             "time_minute": {
              "type": "integer",
              "description": "Time of waste disposal - minute",
              "example": 15,
              "maximum": 59,
              "minimum": 0
             },
             "vendor_id": {
              "type": "integer",
              "description": "ID of the Vendor who disposed of the waste",
              "example": 1120327
             },
             "contact_id": {
              "type": "integer",
              "description": "ID of the Contact associated with the waste log",
              "example": 1120327
             },
             "location_id": {
              "type": "integer",
              "description": "ID of the Location where the waste was disposed",
              "example": 1120327
             },
             "daily_log_segment_id": {
              "type": "integer",
              "description": "Daily Log Segment ID",
              "example": 123456,
              "nullable": true
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "waste_log"
        ],
        "properties": {
         "waste_log": {
          "type": "object",
          "required": [
           "time_hour",
           "time_minute"
          ],
          "properties": {
           "approximate_quantity": {
            "type": "integer",
            "description": "Waste log approximate quantity",
            "example": 5
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Disposal complete"
           },
           "disposal_location": {
            "type": "string",
            "description": "Waste disposal location",
            "example": "Dump Yard"
           },
           "material": {
            "type": "string",
            "description": "Type of waste disposed of",
            "example": "Waste Material"
           },
           "method_of_disposal": {
            "type": "string",
            "description": "Method used to dispose of the waste",
            "example": "Truck"
           },
           "time_hour": {
            "type": "integer",
            "description": "Time of waste disposal - hour",
            "example": 10,
            "maximum": 23,
            "minimum": 0
           },
           "time_minute": {
            "type": "integer",
            "description": "Time of waste disposal - minute",
            "example": 15,
            "maximum": 59,
            "minimum": 0
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor who disposed of the waste",
            "example": 1120327
           },
           "contact_id": {
            "type": "integer",
            "description": "ID of the Contact associated with the waste log",
            "example": 1120327
           },
           "location_id": {
            "type": "integer",
            "description": "ID of the Location where the waste was disposed",
            "example": 1120327
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Waste Log Attachments are not viewable or used on web. To upload attachments you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "example": 333675
          },
          "approximate_quantity": {
           "type": "integer",
           "description": "Waste log approximate quantity",
           "example": 5
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD Example: 2016-04-19",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Left over wood chips"
          },
          "disposal_location": {
           "type": "string",
           "description": "Waste disposal location",
           "example": "Dump Yard"
          },
          "material": {
           "type": "string",
           "description": "Type of waste disposed of",
           "example": "Waste material"
          },
          "method_of_disposal": {
           "type": "string",
           "description": "Method used to dispose of the waste",
           "example": "Truck"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "time_hour": {
           "type": "integer",
           "description": "Time of waste disposal - hour",
           "example": 10,
           "maximum": 23,
           "minimum": 0
          },
          "time_minute": {
           "type": "integer",
           "description": "Time of waste disposal - minute",
           "example": 15,
           "maximum": 59,
           "minimum": 0
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "example": "SID Architecture"
            }
           }
          },
          "contact": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Waste Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not create due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs',\n  headers: {'content-type': 'application/json'},\n  body: {\n    waste_log: {\n      approximate_quantity: 5,\n      date: '2016-05-19',\n      datetime: '2016-05-19T12:00:00Z',\n      description: 'Disposal complete',\n      disposal_location: 'Dump Yard',\n      material: 'Waste Material',\n      method_of_disposal: 'Truck',\n      time_hour: 10,\n      time_minute: 15,\n      vendor_id: 1120327,\n      contact_id: 1120327,\n      location_id: 1120327,\n      daily_log_segment_id: 123456,\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"waste_log\\\":{\\\"approximate_quantity\\\":5,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"description\\\":\\\"Disposal complete\\\",\\\"disposal_location\\\":\\\"Dump Yard\\\",\\\"material\\\":\\\"Waste Material\\\",\\\"method_of_disposal\\\":\\\"Truck\\\",\\\"time_hour\\\":10,\\\"time_minute\\\":15,\\\"vendor_id\\\":1120327,\\\"contact_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/waste_logs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs \\\n  --header 'content-type: application/json' \\\n  --data '{\"waste_log\":{\"approximate_quantity\":5,\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"description\":\"Disposal complete\",\"disposal_location\":\"Dump Yard\",\"material\":\"Waste Material\",\"method_of_disposal\":\"Truck\",\"time_hour\":10,\"time_minute\":15,\"vendor_id\":1120327,\"contact_id\":1120327,\"location_id\":1120327,\"daily_log_segment_id\":123456,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs\"),\n    Content = new StringContent(\"{\\\"waste_log\\\":{\\\"approximate_quantity\\\":5,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"description\\\":\\\"Disposal complete\\\",\\\"disposal_location\\\":\\\"Dump Yard\\\",\\\"material\\\":\\\"Waste Material\\\",\\\"method_of_disposal\\\":\\\"Truck\\\",\\\"time_hour\\\":10,\\\"time_minute\\\":15,\\\"vendor_id\\\":1120327,\\\"contact_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    waste_log: '{\"approximate_quantity\":5,\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"description\":\"Disposal complete\",\"disposal_location\":\"Dump Yard\",\"material\":\"Waste Material\",\"method_of_disposal\":\"Truck\",\"time_hour\":10,\"time_minute\":15,\"vendor_id\":1120327,\"contact_id\":1120327,\"location_id\":1120327,\"daily_log_segment_id\":123456}',\n    attachments: '[\"string\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"waste_log\\\"\\r\\n\\r\\n{\\\"approximate_quantity\\\":5,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"description\\\":\\\"Disposal complete\\\",\\\"disposal_location\\\":\\\"Dump Yard\\\",\\\"material\\\":\\\"Waste Material\\\",\\\"method_of_disposal\\\":\\\"Truck\\\",\\\"time_hour\\\":10,\\\"time_minute\\\":15,\\\"vendor_id\\\":1120327,\\\"contact_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"string\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/waste_logs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'waste_log={\"approximate_quantity\":5,\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"description\":\"Disposal complete\",\"disposal_location\":\"Dump Yard\",\"material\":\"Waste Material\",\"method_of_disposal\":\"Truck\",\"time_hour\":10,\"time_minute\":15,\"vendor_id\":1120327,\"contact_id\":1120327,\"location_id\":1120327,\"daily_log_segment_id\":123456}' \\\n  --form 'attachments=[\"string\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"approximate_quantity\\\":5,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"description\\\":\\\"Disposal complete\\\",\\\"disposal_location\\\":\\\"Dump Yard\\\",\\\"material\\\":\\\"Waste Material\\\",\\\"method_of_disposal\\\":\\\"Truck\\\",\\\"time_hour\\\":10,\\\"time_minute\\\":15,\\\"vendor_id\\\":1120327,\\\"contact_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"waste_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"string\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added contact_id and location_id support",
      "description": "Added support for contact_id and location_id parameters in create and update requests, and contact and location objects in responses.",
      "endpoint": "POST /projects/{project_id}/waste_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#create-waste-log"
     },
     {
      "summary": "Add Attachments by Reference",
      "description": "Add new attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /projects/{project_id}/waste_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-04-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#create-waste-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for waste Logs create endpoint",
      "description": "Add daily_log_segment_id to request body and response body for waste Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/waste_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#create-waste-log"
     },
     {
      "summary": "Add attachments parameters in JSON request body schema",
      "description": "Add attachments parameters in JSON request body schema.",
      "endpoint": "POST /projects/{project_id}/waste_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#create-waste-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "POST /projects/{project_id}/waste_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#create-waste-log"
     },
     {
      "summary": "Validate log type is enabled on create",
      "description": "POST create now validates that waste logs are enabled in the project's Daily Log configuration.\nRequests are rejected with an InvalidLog error when the log type is disabled.",
      "endpoint": "POST /projects/{project_id}/waste_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#create-waste-log"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/waste_logs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Waste Log ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Waste Logs",
    "description": "Returns single Waste Log.",
    "tags": [
     "Waste Logs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "example": 333675
          },
          "approximate_quantity": {
           "type": "integer",
           "description": "Waste log approximate quantity",
           "example": 5
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD Example: 2016-04-19",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Left over wood chips"
          },
          "disposal_location": {
           "type": "string",
           "description": "Waste disposal location",
           "example": "Dump Yard"
          },
          "material": {
           "type": "string",
           "description": "Type of waste disposed of",
           "example": "Waste material"
          },
          "method_of_disposal": {
           "type": "string",
           "description": "Method used to dispose of the waste",
           "example": "Truck"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "time_hour": {
           "type": "integer",
           "description": "Time of waste disposal - hour",
           "example": 10,
           "maximum": 23,
           "minimum": 0
          },
          "time_minute": {
           "type": "integer",
           "description": "Time of waste disposal - minute",
           "example": 15,
           "maximum": 59,
           "minimum": 0
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "example": "SID Architecture"
            }
           }
          },
          "contact": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Waste Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added contact and location objects",
      "description": "Added contact and location objects to waste log responses.",
      "endpoint": "GET /projects/{project_id}/waste_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#show-waste-logs"
     },
     {
      "summary": "Add daily_log_segment_id to response body for waste Logs show endpoint",
      "description": "Add daily_log_segment_id to response body for waste Logs show endpoint.",
      "endpoint": "GET /projects/{project_id}/waste_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#show-waste-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/waste_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#show-waste-logs"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Waste Log",
    "description": "Update single Waste Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
    "tags": [
     "Waste Logs"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "waste_log"
        ],
        "properties": {
         "waste_log": {
          "type": "object",
          "allOf": [
           {
            "properties": {
             "approximate_quantity": {
              "type": "integer",
              "description": "Waste log approximate quantity",
              "example": 5
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Format: YYYY-MM-DD Example: 2016-04-19",
              "example": "2016-05-19"
             },
             "datetime": {
              "type": "string",
              "format": "date-time",
              "description": "Datetime of record. Mutually exclusive with the date property.",
              "example": "2016-05-19T12:00:00Z"
             },
             "description": {
              "type": "string",
              "description": "Description",
              "example": "Disposal complete"
             },
             "disposal_location": {
              "type": "string",
              "description": "Waste disposal location",
              "example": "Dump Yard"
             },
             "material": {
              "type": "string",
              "description": "Type of waste disposed of",
              "example": "Waste Material"
             },
             "method_of_disposal": {
              "type": "string",
              "description": "Method used to dispose of the waste",
              "example": "Truck"
             },
             "time_hour": {
              "type": "integer",
              "description": "Time of waste disposal - hour",
              "example": 10,
              "maximum": 23,
              "minimum": 0
             },
             "time_minute": {
              "type": "integer",
              "description": "Time of waste disposal - minute",
              "example": 15,
              "maximum": 59,
              "minimum": 0
             },
             "vendor_id": {
              "type": "integer",
              "description": "ID of the Vendor who disposed of the waste",
              "example": 1120327
             },
             "contact_id": {
              "type": "integer",
              "description": "ID of the Contact associated with the waste log",
              "example": 1120327
             },
             "location_id": {
              "type": "integer",
              "description": "ID of the Location where the waste was disposed",
              "example": 1120327
             },
             "daily_log_segment_id": {
              "type": "integer",
              "description": "Daily Log Segment ID",
              "example": 123456,
              "nullable": true
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "waste_log"
        ],
        "properties": {
         "waste_log": {
          "type": "object",
          "properties": {
           "approximate_quantity": {
            "type": "integer",
            "description": "Waste log approximate quantity",
            "example": 5
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Disposal complete"
           },
           "disposal_location": {
            "type": "string",
            "description": "Waste disposal location",
            "example": "Dump Yard"
           },
           "material": {
            "type": "string",
            "description": "Type of waste disposed of",
            "example": "Waste Material"
           },
           "method_of_disposal": {
            "type": "string",
            "description": "Method used to dispose of the waste",
            "example": "Truck"
           },
           "time_hour": {
            "type": "integer",
            "description": "Time of waste disposal - hour",
            "example": 10,
            "maximum": 23,
            "minimum": 0
           },
           "time_minute": {
            "type": "integer",
            "description": "Time of waste disposal - minute",
            "example": 15,
            "maximum": 59,
            "minimum": 0
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor who disposed of the waste",
            "example": 1120327
           },
           "contact_id": {
            "type": "integer",
            "description": "ID of the Contact associated with the waste log",
            "example": 1120327
           },
           "location_id": {
            "type": "integer",
            "description": "ID of the Location where the waste was disposed",
            "example": 1120327
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Waste Log Attachments are not viewable or used on web. To upload attachments you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "example": 333675
          },
          "approximate_quantity": {
           "type": "integer",
           "description": "Waste log approximate quantity",
           "example": 5
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD Example: 2016-04-19",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Left over wood chips"
          },
          "disposal_location": {
           "type": "string",
           "description": "Waste disposal location",
           "example": "Dump Yard"
          },
          "material": {
           "type": "string",
           "description": "Type of waste disposed of",
           "example": "Waste material"
          },
          "method_of_disposal": {
           "type": "string",
           "description": "Method used to dispose of the waste",
           "example": "Truck"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "time_hour": {
           "type": "integer",
           "description": "Time of waste disposal - hour",
           "example": 10,
           "maximum": 23,
           "minimum": 0
          },
          "time_minute": {
           "type": "integer",
           "description": "Time of waste disposal - minute",
           "example": 15,
           "maximum": 59,
           "minimum": 0
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "example": "SID Architecture"
            }
           }
          },
          "contact": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Waste Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not update due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    waste_log: {\n      approximate_quantity: 5,\n      date: '2016-05-19',\n      datetime: '2016-05-19T12:00:00Z',\n      description: 'Disposal complete',\n      disposal_location: 'Dump Yard',\n      material: 'Waste Material',\n      method_of_disposal: 'Truck',\n      time_hour: 10,\n      time_minute: 15,\n      vendor_id: 1120327,\n      contact_id: 1120327,\n      location_id: 1120327,\n      daily_log_segment_id: 123456,\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"waste_log\\\":{\\\"approximate_quantity\\\":5,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"description\\\":\\\"Disposal complete\\\",\\\"disposal_location\\\":\\\"Dump Yard\\\",\\\"material\\\":\\\"Waste Material\\\",\\\"method_of_disposal\\\":\\\"Truck\\\",\\\"time_hour\\\":10,\\\"time_minute\\\":15,\\\"vendor_id\\\":1120327,\\\"contact_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"waste_log\":{\"approximate_quantity\":5,\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"description\":\"Disposal complete\",\"disposal_location\":\"Dump Yard\",\"material\":\"Waste Material\",\"method_of_disposal\":\"Truck\",\"time_hour\":10,\"time_minute\":15,\"vendor_id\":1120327,\"contact_id\":1120327,\"location_id\":1120327,\"daily_log_segment_id\":123456,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"waste_log\\\":{\\\"approximate_quantity\\\":5,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"description\\\":\\\"Disposal complete\\\",\\\"disposal_location\\\":\\\"Dump Yard\\\",\\\"material\\\":\\\"Waste Material\\\",\\\"method_of_disposal\\\":\\\"Truck\\\",\\\"time_hour\\\":10,\\\"time_minute\\\":15,\\\"vendor_id\\\":1120327,\\\"contact_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    waste_log: '{\"approximate_quantity\":5,\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"description\":\"Disposal complete\",\"disposal_location\":\"Dump Yard\",\"material\":\"Waste Material\",\"method_of_disposal\":\"Truck\",\"time_hour\":10,\"time_minute\":15,\"vendor_id\":1120327,\"contact_id\":1120327,\"location_id\":1120327,\"daily_log_segment_id\":123456}',\n    attachments: '[\"string\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"waste_log\\\"\\r\\n\\r\\n{\\\"approximate_quantity\\\":5,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"description\\\":\\\"Disposal complete\\\",\\\"disposal_location\\\":\\\"Dump Yard\\\",\\\"material\\\":\\\"Waste Material\\\",\\\"method_of_disposal\\\":\\\"Truck\\\",\\\"time_hour\\\":10,\\\"time_minute\\\":15,\\\"vendor_id\\\":1120327,\\\"contact_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"string\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'waste_log={\"approximate_quantity\":5,\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"description\":\"Disposal complete\",\"disposal_location\":\"Dump Yard\",\"material\":\"Waste Material\",\"method_of_disposal\":\"Truck\",\"time_hour\":10,\"time_minute\":15,\"vendor_id\":1120327,\"contact_id\":1120327,\"location_id\":1120327,\"daily_log_segment_id\":123456}' \\\n  --form 'attachments=[\"string\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"approximate_quantity\\\":5,\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"description\\\":\\\"Disposal complete\\\",\\\"disposal_location\\\":\\\"Dump Yard\\\",\\\"material\\\":\\\"Waste Material\\\",\\\"method_of_disposal\\\":\\\"Truck\\\",\\\"time_hour\\\":10,\\\"time_minute\\\":15,\\\"vendor_id\\\":1120327,\\\"contact_id\\\":1120327,\\\"location_id\\\":1120327,\\\"daily_log_segment_id\\\":123456}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"waste_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"string\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added contact_id and location_id support",
      "description": "Added support for contact_id and location_id parameters in create and update requests, and contact and location objects in responses.",
      "endpoint": "PATCH /projects/{project_id}/waste_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#update-waste-log"
     },
     {
      "summary": "Replace Attachments by Reference",
      "description": "Replace existing attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "PATCH /projects/{project_id}/waste_logs/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-04-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#update-waste-log"
     },
     {
      "summary": "Update Attachments by Reference",
      "description": "Updated the UPDATE request so attachments by image, drawing revision, file version, form, and direct upload ids are additive.\n  - Will not replace existing attachments",
      "endpoint": "PATCH /projects/{project_id}/waste_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-10-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#update-waste-log"
     },
     {
      "summary": "Allow removing location by passing location_id as null",
      "description": "Location can be removed by passing location_id as null",
      "endpoint": "PATCH /projects/{project_id}/waste_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#update-waste-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for waste Logs update endpoint",
      "description": "Add daily_log_segment_id to request body and response body for waste Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/waste_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#update-waste-log"
     },
     {
      "summary": "Add attachments parameters in JSON request body schema",
      "description": "Add attachments parameters in JSON request body schema.",
      "endpoint": "PATCH /projects/{project_id}/waste_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#update-waste-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "PATCH /projects/{project_id}/waste_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "waste-logs?version=1.0#update-waste-log"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Waste Log",
    "description": "Delete single Waste Log.",
    "tags": [
     "Waste Logs"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Can not delete due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/waste_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}