{
 "openapi": "3.0.0",
 "info": {
  "title": "Weather Conditions",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Weather Conditions",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/daily_logs/weather_conditions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Accepted Weather Conditions",
    "description": "Returns accepted weather conditions for the sky, ground, temperature, calamity, and wind categories.",
    "tags": [
     "Weather Logs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Accepted weather conditions",
         "properties": {
          "sky": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "key": {
              "type": "string",
              "description": "Value used as weather state ID and stored on server",
              "enum": [
               "Clear",
               "Cloudy",
               "Overcast",
               "Fog",
               "Mist",
               "Rain",
               "Snow",
               "Ice/Sleet/Hail",
               "Smoke"
              ]
             },
             "value": {
              "type": "string",
              "description": "Weather state value localized in user's locale. Intended to be shown for user in UI.",
              "example": "D\u00e9gag\u00e9"
             }
            }
           }
          },
          "ground": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "key": {
              "type": "string",
              "description": "Value used as weather state ID and stored on server",
              "enum": [
               "Dry",
               "Wet/Muddy",
               "Flooded",
               "Snow",
               "Frozen",
               "-----",
               "High Tide",
               "Low Tide",
               "Heavy Surf/Swell"
              ]
             },
             "value": {
              "type": "string",
              "description": "Weather state value localized in user's locale. Intended to be shown for user in UI.",
              "example": "Sec"
             }
            }
           }
          },
          "calamity": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "key": {
              "type": "string",
              "description": "Value used as weather state ID and stored on server",
              "enum": [
               "Earthquake",
               "Fire",
               "Flash Flood",
               "Landslide",
               "Tornado",
               "Hurricane",
               "Snow",
               "Other"
              ]
             },
             "value": {
              "type": "string",
              "description": "Weather state value localized in user's locale. Intended to be shown for user in UI.",
              "example": "S\u00e9isme"
             }
            }
           }
          },
          "wind": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "key": {
              "type": "string",
              "description": "Value used as weather state ID and stored on server",
              "enum": [
               "Calm",
               "Light Wind",
               "High Wind"
              ]
             },
             "value": {
              "type": "string",
              "description": "Weather state value localized in user's locale. Intended to be shown for user in UI.",
              "example": "Calme"
             }
            }
           }
          },
          "temperature": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "key": {
              "type": "string",
              "description": "Value used as weather state ID and stored on server",
              "enum": [
               "Very Hot",
               "Hot",
               "Mild",
               "Cold",
               "Very Cold"
              ]
             },
             "value": {
              "type": "string",
              "description": "Weather state value localized in user's locale. Intended to be shown for user in UI.",
              "example": "Tr\u00e8s chaud"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/weather_conditions'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/weather_conditions\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/weather_conditions"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/weather_conditions\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List Accepted Weather Conditions",
      "description": "Returns accepted weather conditions for the sky, ground, temperature, calamity, and wind categories.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_conditions",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-conditions?version=1.0#list-accepted-weather-conditions"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}