{
 "openapi": "3.0.0",
 "info": {
  "title": "Weather Logs",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Weather Logs",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/daily_logs/weather_logs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Weather Logs",
    "description": "Returns all Weather Logs for the current date.\n\nSee [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) for information on filtering the response using the log\\_date, start\\_date, and end\\_date parameters. Note that if none of the date parameters are provided in the call, only logs from the current date are returned.",
    "tags": [
     "Weather Logs"
    ],
    "parameters": [
     {
      "name": "log_date",
      "in": "query",
      "description": "Date of specific logs desired. Example formats YYYY-MM-DD, YYYY/MM/DD, DD-MM-YYYY, DD/MM/YYYY",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "description": "Start date of specific logs desired. Use together with end_date to specify a date range. Example formats YYYY-MM-DD, YYYY/MM/DD, DD-MM-YYYY, DD/MM/YYYY",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "End date of specific logs desired. Use together with start_date to specify a date range. Example formats YYYY-MM-DD, YYYY/MM/DD, DD-MM-YYYY, DD/MM/YYYY",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter on log status",
      "schema": {
       "type": "string",
       "enum": [
        "all",
        "approved",
        "pending"
       ]
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "example": [
       123456
      ],
      "name": "filters[daily_log_segment_id]",
      "in": "query",
      "description": "Daily Log Segment ID filter",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Weather Log",
          "properties": {
           "id": {
            "type": "integer",
            "example": 20160101
           },
           "attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string"
              },
              "url": {
               "type": "string"
              }
             }
            }
           },
           "average": {
            "type": "string",
            "description": "Average temperature for the workday",
            "example": 50
           },
           "calamity": {
            "type": "string",
            "description": "Translated Calamity condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
            "example": "Fire"
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Weather Log Comments"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2012-10-23T21:39:40Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated UTC datetime of record",
            "example": "2016-05-19T12:00:00Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deleted at",
            "example": "2017-07-29T21:39:40Z"
           },
           "is_weather_delay": {
            "type": "string",
            "description": "Weather delay status",
            "example": 1
           },
           "ground": {
            "type": "string",
            "description": "Translated Ground condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
            "example": "Dry"
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "position": {
            "type": "integer",
            "description": "Order in which this entry was recorded for the day",
            "example": 1
           },
           "precipitation": {
            "type": "string",
            "description": "Precipitation conditions",
            "example": true
           },
           "sky": {
            "type": "string",
            "description": "Translated Sky condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
            "example": "Clear"
           },
           "temperature": {
            "type": "string",
            "description": "Translated Temperature condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
            "example": "Hot"
           },
           "time": {
            "type": "string",
            "format": "date-time",
            "description": "UTC time weather conditions were observed",
            "example": "2012-10-24T21:39:40Z"
           },
           "wind": {
            "type": "string",
            "description": "Translated Wind condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
            "example": "Calm"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2012-10-24T21:39:40Z"
           },
           "vendor": {
            "type": "object",
            "title": "Compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this vendor/company.",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Display name of the vendor or contractor company.",
              "example": "SID Architecture"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs',\n  qs: {\n    log_date: 'SOME_STRING_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[daily_log_segment_id]': '123456'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List Weather Logs",
      "description": "Returns all Weather Logs for the current date.\n\nSee [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) for information on filtering the response using the log\\_date, start\\_date, and end\\_date parameters.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#list-weather-logs"
     },
     {
      "summary": "Adds localization for weather log values in response",
      "description": "Adds localization for weather log Sky, Temperature, Wind & Ground/Sea fields in response",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2021-08-17",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#list-weather-logs"
     },
     {
      "summary": "Add location to response body for Weather Logs get endpoint",
      "description": "Add location to response body for Weather Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#list-weather-logs"
     },
     {
      "summary": "Add vendor to response body for Weather Logs get endpoint",
      "description": "Add vendor to response body for Weather Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#list-weather-logs"
     },
     {
      "summary": "Add daily_log_segment_id filter",
      "description": "Add daily_log_segment_id to filter parameter and response body for Weather Logs index endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#list-weather-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Weather Log",
    "description": "Creates single Weather Log.\n\n#### See - [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
    "tags": [
     "Weather Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "weather_log"
        ],
        "properties": {
         "weather_log": {
          "type": "object",
          "required": [
           "date"
          ],
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the Weather Log. Format: YYYY-MM-DD",
            "example": "2016-05-19"
           },
           "is_weather_delay": {
            "type": "integer",
            "description": "Weather delay status",
            "example": 1
           },
           "calamity": {
            "type": "string",
            "description": "Type of calamity the jobsite was subject to",
            "example": "Fire",
            "enum": [
             "Earthquake",
             "Fire",
             "Flash Flood",
             "Hurricane",
             "Landslide",
             "Other",
             "Snow",
             "Tornado"
            ]
           },
           "ground": {
            "type": "string",
            "description": "Ground condition",
            "example": "Dry",
            "enum": [
             "Dry",
             "Flooded",
             "Frozen",
             "Heavy Surf/Swell",
             "High Tide",
             "Low Tide",
             "Snow",
             "Wet/Muddy",
             "-----"
            ]
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Weather Log.",
            "example": 153252
           },
           "sky": {
            "type": "string",
            "description": "Sky condition",
            "example": "Clear",
            "enum": [
             "Clear",
             "Cloudy",
             "Fog",
             "Ice/Sleet/Hail",
             "Overcast",
             "Mist",
             "Rain",
             "Snow"
            ]
           },
           "temperature": {
            "type": "string",
            "description": "Weather temperature",
            "example": "Hot",
            "enum": [
             "Cold",
             "Hot",
             "Mild",
             "Very Cold",
             "Very Hot"
            ]
           },
           "wind": {
            "type": "string",
            "description": "Wind condition",
            "example": "Calm",
            "enum": [
             "Calm",
             "High Wind",
             "Light Wind"
            ]
           },
           "average": {
            "type": "string",
            "description": "Average temperature for the workday",
            "example": 50
           },
           "precipitation": {
            "type": "string",
            "description": "Precipitation conditions",
            "example": "Yes minor saturation"
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Weather Log Comments"
           },
           "time": {
            "type": "string",
            "format": "time",
            "description": "UTC time weather conditions were observed. The date of observation must match entry's date.",
            "example": "15:57:37Z"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the Weather log",
            "example": 1120327
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "weather_log"
        ],
        "properties": {
         "weather_log": {
          "type": "object",
          "required": [
           "date"
          ],
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the Weather Log. Format: YYYY-MM-DD",
            "example": "2016-05-19"
           },
           "is_weather_delay": {
            "type": "integer",
            "description": "Weather delay status",
            "example": 1
           },
           "calamity": {
            "type": "string",
            "description": "Type of calamity the jobsite was subject to",
            "example": "Fire",
            "enum": [
             "Earthquake",
             "Fire",
             "Flash Flood",
             "Hurricane",
             "Landslide",
             "Other",
             "Snow",
             "Tornado"
            ]
           },
           "ground": {
            "type": "string",
            "description": "Ground condition",
            "example": "Dry",
            "enum": [
             "Dry",
             "Flooded",
             "Frozen",
             "Heavy Surf/Swell",
             "High Tide",
             "Low Tide",
             "Snow",
             "Wet/Muddy",
             "-----"
            ]
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Weather Log.",
            "example": 153252
           },
           "sky": {
            "type": "string",
            "description": "Sky condition",
            "example": "Clear",
            "enum": [
             "Clear",
             "Cloudy",
             "Fog",
             "Ice/Sleet/Hail",
             "Overcast",
             "Mist",
             "Rain",
             "Snow"
            ]
           },
           "temperature": {
            "type": "string",
            "description": "Weather temperature",
            "example": "Hot",
            "enum": [
             "Cold",
             "Hot",
             "Mild",
             "Very Cold",
             "Very Hot"
            ]
           },
           "wind": {
            "type": "string",
            "description": "Wind condition",
            "example": "Calm",
            "enum": [
             "Calm",
             "High Wind",
             "Light Wind"
            ]
           },
           "average": {
            "type": "string",
            "description": "Average temperature for the workday",
            "example": 50
           },
           "precipitation": {
            "type": "string",
            "description": "Precipitation conditions",
            "example": "Yes minor saturation"
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Weather Log Comments"
           },
           "time": {
            "type": "string",
            "format": "time",
            "description": "UTC time weather conditions were observed. The date of observation must match entry's date.",
            "example": "15:57:37Z"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the Weather log",
            "example": 1120327
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Weather Log Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "example": "<attachment.png>",
           "description": "Look at Daily Log Guide for more info."
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Weather Log",
         "properties": {
          "id": {
           "type": "integer",
           "example": 20160101
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string"
             },
             "url": {
              "type": "string"
             }
            }
           }
          },
          "average": {
           "type": "string",
           "description": "Average temperature for the workday",
           "example": 50
          },
          "calamity": {
           "type": "string",
           "description": "Translated Calamity condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Fire"
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Weather Log Comments"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2017-07-29T21:39:40Z"
          },
          "is_weather_delay": {
           "type": "string",
           "description": "Weather delay status",
           "example": 1
          },
          "ground": {
           "type": "string",
           "description": "Translated Ground condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Dry"
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 1
          },
          "precipitation": {
           "type": "string",
           "description": "Precipitation conditions",
           "example": true
          },
          "sky": {
           "type": "string",
           "description": "Translated Sky condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Clear"
          },
          "temperature": {
           "type": "string",
           "description": "Translated Temperature condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Hot"
          },
          "time": {
           "type": "string",
           "format": "date-time",
           "description": "UTC time weather conditions were observed",
           "example": "2012-10-24T21:39:40Z"
          },
          "wind": {
           "type": "string",
           "description": "Translated Wind condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Calm"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not update due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    weather_log: {\n      date: '2016-05-19',\n      is_weather_delay: 1,\n      calamity: 'Fire',\n      ground: 'Dry',\n      location_id: 153252,\n      sky: 'Clear',\n      temperature: 'Hot',\n      wind: 'Calm',\n      average: 50,\n      precipitation: 'Yes minor saturation',\n      comments: 'Weather Log Comments',\n      time: '15:57:37Z',\n      vendor_id: 1120327,\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"weather_log\\\":{\\\"date\\\":\\\"2016-05-19\\\",\\\"is_weather_delay\\\":1,\\\"calamity\\\":\\\"Fire\\\",\\\"ground\\\":\\\"Dry\\\",\\\"location_id\\\":153252,\\\"sky\\\":\\\"Clear\\\",\\\"temperature\\\":\\\"Hot\\\",\\\"wind\\\":\\\"Calm\\\",\\\"average\\\":50,\\\"precipitation\\\":\\\"Yes minor saturation\\\",\\\"comments\\\":\\\"Weather Log Comments\\\",\\\"time\\\":\\\"15:57:37Z\\\",\\\"vendor_id\\\":1120327,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"weather_log\":{\"date\":\"2016-05-19\",\"is_weather_delay\":1,\"calamity\":\"Fire\",\"ground\":\"Dry\",\"location_id\":153252,\"sky\":\"Clear\",\"temperature\":\"Hot\",\"wind\":\"Calm\",\"average\":50,\"precipitation\":\"Yes minor saturation\",\"comments\":\"Weather Log Comments\",\"time\":\"15:57:37Z\",\"vendor_id\":1120327,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"weather_log\\\":{\\\"date\\\":\\\"2016-05-19\\\",\\\"is_weather_delay\\\":1,\\\"calamity\\\":\\\"Fire\\\",\\\"ground\\\":\\\"Dry\\\",\\\"location_id\\\":153252,\\\"sky\\\":\\\"Clear\\\",\\\"temperature\\\":\\\"Hot\\\",\\\"wind\\\":\\\"Calm\\\",\\\"average\\\":50,\\\"precipitation\\\":\\\"Yes minor saturation\\\",\\\"comments\\\":\\\"Weather Log Comments\\\",\\\"time\\\":\\\"15:57:37Z\\\",\\\"vendor_id\\\":1120327,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    weather_log: '{\"date\":\"2016-05-19\",\"is_weather_delay\":1,\"calamity\":\"Fire\",\"ground\":\"Dry\",\"location_id\":153252,\"sky\":\"Clear\",\"temperature\":\"Hot\",\"wind\":\"Calm\",\"average\":50,\"precipitation\":\"Yes minor saturation\",\"comments\":\"Weather Log Comments\",\"time\":\"15:57:37Z\",\"vendor_id\":1120327,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}',\n    attachments: '[\"<attachment.png>\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"weather_log\\\"\\r\\n\\r\\n{\\\"date\\\":\\\"2016-05-19\\\",\\\"is_weather_delay\\\":1,\\\"calamity\\\":\\\"Fire\\\",\\\"ground\\\":\\\"Dry\\\",\\\"location_id\\\":153252,\\\"sky\\\":\\\"Clear\\\",\\\"temperature\\\":\\\"Hot\\\",\\\"wind\\\":\\\"Calm\\\",\\\"average\\\":50,\\\"precipitation\\\":\\\"Yes minor saturation\\\",\\\"comments\\\":\\\"Weather Log Comments\\\",\\\"time\\\":\\\"15:57:37Z\\\",\\\"vendor_id\\\":1120327,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"<attachment.png>\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'weather_log={\"date\":\"2016-05-19\",\"is_weather_delay\":1,\"calamity\":\"Fire\",\"ground\":\"Dry\",\"location_id\":153252,\"sky\":\"Clear\",\"temperature\":\"Hot\",\"wind\":\"Calm\",\"average\":50,\"precipitation\":\"Yes minor saturation\",\"comments\":\"Weather Log Comments\",\"time\":\"15:57:37Z\",\"vendor_id\":1120327,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}' \\\n  --form 'attachments=[\"<attachment.png>\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"date\\\":\\\"2016-05-19\\\",\\\"is_weather_delay\\\":1,\\\"calamity\\\":\\\"Fire\\\",\\\"ground\\\":\\\"Dry\\\",\\\"location_id\\\":153252,\\\"sky\\\":\\\"Clear\\\",\\\"temperature\\\":\\\"Hot\\\",\\\"wind\\\":\\\"Calm\\\",\\\"average\\\":50,\\\"precipitation\\\":\\\"Yes minor saturation\\\",\\\"comments\\\":\\\"Weather Log Comments\\\",\\\"time\\\":\\\"15:57:37Z\\\",\\\"vendor_id\\\":1120327,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"weather_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"<attachment.png>\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create Weather Log",
      "description": "Creates single Weather Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
      "endpoint": "POST /projects/{project_id}/daily_logs/weather_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#create-weather-log"
     },
     {
      "summary": "Adds localization for weather log values in response",
      "description": "Adds localization for weather log Sky, Temperature, Wind & Ground/Sea fields in response",
      "endpoint": "POST /projects/{project_id}/daily_logs/weather_logs",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2021-08-17",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#create-weather-log"
     },
     {
      "summary": "Add Attachments by Reference to weather log",
      "description": "Add new attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /projects/{project_id}/daily_logs/weather_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-06-12",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#create-weather-log"
     },
     {
      "summary": "Support run_configurable_validations query parameter in the POST method",
      "description": "POST methods now support the run_configurable_validations query parameter.\n  - When this parameter is set to true, the request will bypass the Configurable Fieldset Validations (defaults to false).",
      "endpoint": "POST /projects/{project_id}/daily_logs/weather_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-12-20",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#create-weather-log"
     },
     {
      "summary": "Add location_id as parameter to request body and return location in response for Weather Logs create endpoint",
      "description": "Add location_id as parameter to request body and return location in response for Weather Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/daily_logs/weather_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#create-weather-log"
     },
     {
      "summary": "Add vendor_id as parameter to request body and return vendor in response for Weather Logs create endpoint",
      "description": "Add vendor_id as parameter to request body and return vendor in response for Weather Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/daily_logs/weather_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#create-weather-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for Weather Logs create endpoint",
      "description": "Add daily_log_segment_id to request body and response body for Weather Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/daily_logs/weather_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#create-weather-log"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/daily_logs/weather_logs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Weather Log ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Weather Log",
    "description": "Returns single Weather Log.",
    "tags": [
     "Weather Logs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Weather Log",
         "properties": {
          "id": {
           "type": "integer",
           "example": 20160101
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string"
             },
             "url": {
              "type": "string"
             }
            }
           }
          },
          "average": {
           "type": "string",
           "description": "Average temperature for the workday",
           "example": 50
          },
          "calamity": {
           "type": "string",
           "description": "Translated Calamity condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Fire"
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Weather Log Comments"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2017-07-29T21:39:40Z"
          },
          "is_weather_delay": {
           "type": "string",
           "description": "Weather delay status",
           "example": 1
          },
          "ground": {
           "type": "string",
           "description": "Translated Ground condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Dry"
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 1
          },
          "precipitation": {
           "type": "string",
           "description": "Precipitation conditions",
           "example": true
          },
          "sky": {
           "type": "string",
           "description": "Translated Sky condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Clear"
          },
          "temperature": {
           "type": "string",
           "description": "Translated Temperature condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Hot"
          },
          "time": {
           "type": "string",
           "format": "date-time",
           "description": "UTC time weather conditions were observed",
           "example": "2012-10-24T21:39:40Z"
          },
          "wind": {
           "type": "string",
           "description": "Translated Wind condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Calm"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show Weather Logs",
      "description": "Returns single Weather Log.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#show-weather-log"
     },
     {
      "summary": "Adds localization for weather log values in response",
      "description": "Adds localization for weather log Sky, Temperature, Wind & Ground/Sea fields in response",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs/{id}",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2021-08-17",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#show-weather-log"
     },
     {
      "summary": "Add location to response body for Weather Logs get endpoint",
      "description": "Add location to response body for Weather Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#show-weather-log"
     },
     {
      "summary": "Add vendor to response body for Weather Logs get endpoint",
      "description": "Add vendor to response body for Weather Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#show-weather-log"
     },
     {
      "summary": "Add daily_log_segment_id to response body for Weather Logs show endpoint",
      "description": "Add daily_log_segment_id to response body for Weather Logs show endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_logs/weather_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#show-weather-log"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Weather Log",
    "description": "Update single Weather Log.\n\n#### See - [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
    "tags": [
     "Weather Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "weather_log"
        ],
        "properties": {
         "weather_log": {
          "type": "object",
          "required": [
           "date"
          ],
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the Weather Log. Format: YYYY-MM-DD",
            "example": "2016-05-19"
           },
           "is_weather_delay": {
            "type": "integer",
            "description": "Weather delay status",
            "example": 1
           },
           "calamity": {
            "type": "string",
            "description": "Type of calamity the jobsite was subject to",
            "example": "Fire",
            "enum": [
             "Earthquake",
             "Fire",
             "Flash Flood",
             "Hurricane",
             "Landslide",
             "Other",
             "Snow",
             "Tornado"
            ]
           },
           "ground": {
            "type": "string",
            "description": "Ground condition",
            "example": "Dry",
            "enum": [
             "Dry",
             "Flooded",
             "Frozen",
             "Heavy Surf/Swell",
             "High Tide",
             "Low Tide",
             "Snow",
             "Wet/Muddy",
             "-----"
            ]
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Weather Log.",
            "example": 153252
           },
           "sky": {
            "type": "string",
            "description": "Sky condition",
            "example": "Clear",
            "enum": [
             "Clear",
             "Cloudy",
             "Fog",
             "Ice/Sleet/Hail",
             "Overcast",
             "Mist",
             "Rain",
             "Snow"
            ]
           },
           "temperature": {
            "type": "string",
            "description": "Weather temperature",
            "example": "Hot",
            "enum": [
             "Cold",
             "Hot",
             "Mild",
             "Very Cold",
             "Very Hot"
            ]
           },
           "wind": {
            "type": "string",
            "description": "Wind condition",
            "example": "Calm",
            "enum": [
             "Calm",
             "High Wind",
             "Light Wind"
            ]
           },
           "average": {
            "type": "string",
            "description": "Average temperature for the workday",
            "example": 50
           },
           "precipitation": {
            "type": "string",
            "description": "Precipitation conditions",
            "example": "Yes minor saturation"
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Weather Log Comments"
           },
           "time": {
            "type": "string",
            "format": "time",
            "description": "UTC time weather conditions were observed. The date of observation must match entry's date.",
            "example": "15:57:37Z"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the Weather log",
            "example": 1120327
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "weather_log"
        ],
        "properties": {
         "weather_log": {
          "type": "object",
          "required": [
           "date"
          ],
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the Weather Log. Format: YYYY-MM-DD",
            "example": "2016-05-19"
           },
           "is_weather_delay": {
            "type": "integer",
            "description": "Weather delay status",
            "example": 1
           },
           "calamity": {
            "type": "string",
            "description": "Type of calamity the jobsite was subject to",
            "example": "Fire",
            "enum": [
             "Earthquake",
             "Fire",
             "Flash Flood",
             "Hurricane",
             "Landslide",
             "Other",
             "Snow",
             "Tornado"
            ]
           },
           "ground": {
            "type": "string",
            "description": "Ground condition",
            "example": "Dry",
            "enum": [
             "Dry",
             "Flooded",
             "Frozen",
             "Heavy Surf/Swell",
             "High Tide",
             "Low Tide",
             "Snow",
             "Wet/Muddy",
             "-----"
            ]
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Weather Log.",
            "example": 153252
           },
           "sky": {
            "type": "string",
            "description": "Sky condition",
            "example": "Clear",
            "enum": [
             "Clear",
             "Cloudy",
             "Fog",
             "Ice/Sleet/Hail",
             "Overcast",
             "Mist",
             "Rain",
             "Snow"
            ]
           },
           "temperature": {
            "type": "string",
            "description": "Weather temperature",
            "example": "Hot",
            "enum": [
             "Cold",
             "Hot",
             "Mild",
             "Very Cold",
             "Very Hot"
            ]
           },
           "wind": {
            "type": "string",
            "description": "Wind condition",
            "example": "Calm",
            "enum": [
             "Calm",
             "High Wind",
             "Light Wind"
            ]
           },
           "average": {
            "type": "string",
            "description": "Average temperature for the workday",
            "example": 50
           },
           "precipitation": {
            "type": "string",
            "description": "Precipitation conditions",
            "example": "Yes minor saturation"
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Weather Log Comments"
           },
           "time": {
            "type": "string",
            "format": "time",
            "description": "UTC time weather conditions were observed. The date of observation must match entry's date.",
            "example": "15:57:37Z"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the Weather log",
            "example": 1120327
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Weather Log Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "example": "<attachment.png>",
           "description": "Look at Daily Log Guide for more info."
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Weather Log",
         "properties": {
          "id": {
           "type": "integer",
           "example": 20160101
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string"
             },
             "url": {
              "type": "string"
             }
            }
           }
          },
          "average": {
           "type": "string",
           "description": "Average temperature for the workday",
           "example": 50
          },
          "calamity": {
           "type": "string",
           "description": "Translated Calamity condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Fire"
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Weather Log Comments"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Format: YYYY-MM-DD",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2017-07-29T21:39:40Z"
          },
          "is_weather_delay": {
           "type": "string",
           "description": "Weather delay status",
           "example": 1
          },
          "ground": {
           "type": "string",
           "description": "Translated Ground condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Dry"
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 1
          },
          "precipitation": {
           "type": "string",
           "description": "Precipitation conditions",
           "example": true
          },
          "sky": {
           "type": "string",
           "description": "Translated Sky condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Clear"
          },
          "temperature": {
           "type": "string",
           "description": "Translated Temperature condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Hot"
          },
          "time": {
           "type": "string",
           "format": "date-time",
           "description": "UTC time weather conditions were observed",
           "example": "2012-10-24T21:39:40Z"
          },
          "wind": {
           "type": "string",
           "description": "Translated Wind condition based on user's locale. List of possible values can be retrieved using Weather Conditions API https://developers.procore.com/reference/rest/v1/weather-conditions?version=1.0",
           "example": "Calm"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not update due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    weather_log: {\n      date: '2016-05-19',\n      is_weather_delay: 1,\n      calamity: 'Fire',\n      ground: 'Dry',\n      location_id: 153252,\n      sky: 'Clear',\n      temperature: 'Hot',\n      wind: 'Calm',\n      average: 50,\n      precipitation: 'Yes minor saturation',\n      comments: 'Weather Log Comments',\n      time: '15:57:37Z',\n      vendor_id: 1120327,\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"weather_log\\\":{\\\"date\\\":\\\"2016-05-19\\\",\\\"is_weather_delay\\\":1,\\\"calamity\\\":\\\"Fire\\\",\\\"ground\\\":\\\"Dry\\\",\\\"location_id\\\":153252,\\\"sky\\\":\\\"Clear\\\",\\\"temperature\\\":\\\"Hot\\\",\\\"wind\\\":\\\"Calm\\\",\\\"average\\\":50,\\\"precipitation\\\":\\\"Yes minor saturation\\\",\\\"comments\\\":\\\"Weather Log Comments\\\",\\\"time\\\":\\\"15:57:37Z\\\",\\\"vendor_id\\\":1120327,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"weather_log\":{\"date\":\"2016-05-19\",\"is_weather_delay\":1,\"calamity\":\"Fire\",\"ground\":\"Dry\",\"location_id\":153252,\"sky\":\"Clear\",\"temperature\":\"Hot\",\"wind\":\"Calm\",\"average\":50,\"precipitation\":\"Yes minor saturation\",\"comments\":\"Weather Log Comments\",\"time\":\"15:57:37Z\",\"vendor_id\":1120327,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"weather_log\\\":{\\\"date\\\":\\\"2016-05-19\\\",\\\"is_weather_delay\\\":1,\\\"calamity\\\":\\\"Fire\\\",\\\"ground\\\":\\\"Dry\\\",\\\"location_id\\\":153252,\\\"sky\\\":\\\"Clear\\\",\\\"temperature\\\":\\\"Hot\\\",\\\"wind\\\":\\\"Calm\\\",\\\"average\\\":50,\\\"precipitation\\\":\\\"Yes minor saturation\\\",\\\"comments\\\":\\\"Weather Log Comments\\\",\\\"time\\\":\\\"15:57:37Z\\\",\\\"vendor_id\\\":1120327,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    weather_log: '{\"date\":\"2016-05-19\",\"is_weather_delay\":1,\"calamity\":\"Fire\",\"ground\":\"Dry\",\"location_id\":153252,\"sky\":\"Clear\",\"temperature\":\"Hot\",\"wind\":\"Calm\",\"average\":50,\"precipitation\":\"Yes minor saturation\",\"comments\":\"Weather Log Comments\",\"time\":\"15:57:37Z\",\"vendor_id\":1120327,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}',\n    attachments: '[\"<attachment.png>\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"weather_log\\\"\\r\\n\\r\\n{\\\"date\\\":\\\"2016-05-19\\\",\\\"is_weather_delay\\\":1,\\\"calamity\\\":\\\"Fire\\\",\\\"ground\\\":\\\"Dry\\\",\\\"location_id\\\":153252,\\\"sky\\\":\\\"Clear\\\",\\\"temperature\\\":\\\"Hot\\\",\\\"wind\\\":\\\"Calm\\\",\\\"average\\\":50,\\\"precipitation\\\":\\\"Yes minor saturation\\\",\\\"comments\\\":\\\"Weather Log Comments\\\",\\\"time\\\":\\\"15:57:37Z\\\",\\\"vendor_id\\\":1120327,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"<attachment.png>\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"PATCH\", \"/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'weather_log={\"date\":\"2016-05-19\",\"is_weather_delay\":1,\"calamity\":\"Fire\",\"ground\":\"Dry\",\"location_id\":153252,\"sky\":\"Clear\",\"temperature\":\"Hot\",\"wind\":\"Calm\",\"average\":50,\"precipitation\":\"Yes minor saturation\",\"comments\":\"Weather Log Comments\",\"time\":\"15:57:37Z\",\"vendor_id\":1120327,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}' \\\n  --form 'attachments=[\"<attachment.png>\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/daily_logs/weather_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"date\\\":\\\"2016-05-19\\\",\\\"is_weather_delay\\\":1,\\\"calamity\\\":\\\"Fire\\\",\\\"ground\\\":\\\"Dry\\\",\\\"location_id\\\":153252,\\\"sky\\\":\\\"Clear\\\",\\\"temperature\\\":\\\"Hot\\\",\\\"wind\\\":\\\"Calm\\\",\\\"average\\\":50,\\\"precipitation\\\":\\\"Yes minor saturation\\\",\\\"comments\\\":\\\"Weather Log Comments\\\",\\\"time\\\":\\\"15:57:37Z\\\",\\\"vendor_id\\\":1120327,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"weather_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"<attachment.png>\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update Weather Log",
      "description": "Update single Weather Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
      "endpoint": "PATCH /projects/{project_id}/daily_logs/weather_logs/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "weather-logs?version=1.1#update-weather-log"
     },
     {
      "summary": "Adds localization for weather log values in response",
      "description": "Adds localization for weather log Sky, Temperature, Wind & Ground/Sea fields in response",
      "endpoint": "PATCH /projects/{project_id}/daily_logs/weather_logs/{id}",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2021-08-17",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
[...]
