{
 "openapi": "3.0.0",
 "info": {
  "title": "Work Order Contracts",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Work Order Contracts",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/work_order_contracts": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List work order contracts",
    "description": "Return a list of all Work Order Contracts of a specified Project.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Commitments"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Specifies how much information to show for each work order contract. The compact view is returned by default.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "extended"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Return item(s) with the specified Work Order Contract status.",
      "schema": {
       "type": "string",
       "enum": [
        "Draft",
        "Out For Bid",
        "Out For Signature",
        "Approved",
        "Complete",
        "Terminated",
        "Void"
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[include_deleted]",
      "in": "query",
      "description": "Use 'only' for only deleted resources. Use 'with' for deleted and undeleted resources.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "only",
        "with"
       ]
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of work order contracts",
         "items": {
          "type": "object",
          "allOf": [
           {
            "type": "object",
            "description": "Work Order Contract",
            "properties": {
             "accounting_method": {
              "type": "string",
              "enum": [
               "amount",
               "unit"
              ],
              "description": "Accounting method",
              "example": "amount"
             },
             "actual_completion_date": {
              "type": "string",
              "format": "date",
              "description": "Actual completion date",
              "example": "2012-10-27"
             },
             "approval_letter_date": {
              "type": "string",
              "description": "Approval letter date",
              "example": "2012-10-23"
             },
             "approved_change_orders": {
              "type": "string",
              "description": "Approved change orders amount",
              "example": "34.4"
             },
             "contract_date": {
              "type": "string",
              "format": "date",
              "description": "Contract date",
              "example": "2012-10-23"
             },
             "contract_start_date": {
              "type": "string",
              "format": "date",
              "description": "Start date",
              "example": "2012-10-03"
             },
             "contract_estimated_completion_date": {
              "type": "string",
              "format": "date",
              "description": "Estimated completion date",
              "example": "2012-10-31"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at",
              "example": "2012-10-23T21:39:40Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Deleted at",
              "example": "2012-10-23T21:49:40Z"
             },
             "description": {
              "type": "string",
              "description": "Description",
              "example": "<p>Paving level 3 parking lot.</p>"
             },
             "draft_change_orders_amount": {
              "type": "string",
              "description": "Total of all draft change orders",
              "example": "750.0"
             },
             "exclusions": {
              "type": "string",
              "description": "Exclusions",
              "example": "<p>Stairs, Elevator platform</p>"
             },
             "executed": {
              "type": "boolean",
              "description": "Executed (or not)",
              "example": false
             },
             "execution_date": {
              "type": "string",
              "format": "date",
              "description": "Execution date",
              "example": "2012-10-23"
             },
             "grand_total": {
              "type": "string",
              "description": "Grand total",
              "example": "12000.0"
             },
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 64382
             },
             "inclusions": {
              "type": "string",
              "description": "Inclusions",
              "example": "<p>Level 3 parking lot.</p>"
             },
             "issued_on_date": {
              "type": "string",
              "format": "date",
              "description": "Issued on date",
              "example": "2012-10-23"
             },
             "letter_of_intent_date": {
              "type": "string",
              "format": "date",
              "description": "Letter of intent date",
              "example": "2012-10-23"
             },
             "number": {
              "type": "string",
              "description": "Number",
              "example": "SC-17-1990-00001"
             },
             "origin_data": {
              "type": "string",
              "description": "Origin data",
              "example": "OD-2398273423"
             },
             "origin_code": {
              "type": "string",
              "description": "Origin code",
              "example": "OC-abc123"
             },
             "origin_id": {
              "type": "string",
              "description": "Origin ID",
              "example": 459247543,
              "nullable": true
             },
             "pending_change_orders": {
              "type": "string",
              "description": "Pending change orders amount",
              "example": "1000.0"
             },
             "pending_revised_contract": {
              "type": "string",
              "description": "Pending revised contracts amount",
              "example": "2000.0"
             },
             "percentage_paid": {
              "type": "string",
              "description": "Percentage paid",
              "example": "75.5"
             },
             "private": {
              "type": "boolean",
              "description": "If true, visible to admins and whitelisted accessors; otherwise visible to those with read only access.",
              "example": false
             },
             "project": {
              "type": "object",
              "description": "Project",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 123456
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Children's Hospital"
               }
              }
             },
             "remaining_balance_outstanding": {
              "type": "string",
              "description": "Remaining outstanding balance",
              "example": "500.0"
             },
             "requisitions_are_enabled": {
              "type": "boolean",
              "description": "If true, Requisitions (Subcontractor Invoice) are enabled on the Commitment Contract",
              "example": true
             },
             "retainage_percent": {
              "type": "string",
              "description": "Retainage percent",
              "example": "10.5"
             },
             "returned_date": {
              "type": "string",
              "format": "date",
              "description": "Returned date",
              "example": "2012-10-23"
             },
             "revised_contract": {
              "type": "string",
              "description": "Revised contract amount",
              "example": "4833.55"
             },
             "signed_contract_received_date": {
              "type": "string",
              "format": "date",
              "description": "Signed contract received date",
              "example": "2012-10-25"
             },
             "show_line_items_to_non_admins": {
              "type": "boolean",
              "description": "If true and the contract is private, non admins with access to the contract will be able to view the SOV items",
              "example": true
             },
             "status": {
              "type": "string",
              "description": "Status",
              "enum": [
               "Draft",
               "Out For Bid",
               "Out For Signature",
               "Approved",
               "Complete",
               "Terminated",
               "Void"
              ],
              "example": "Draft"
             },
             "title": {
              "type": "string",
              "description": "Title",
              "example": "Concrete Paving"
             },
             "total_draw_requests_amount": {
              "type": "string",
              "description": "Total draw requests amount",
              "example": "5670.0"
             },
             "total_payments": {
              "type": "string",
              "description": "Total payments amount",
              "example": "12344.0"
             },
             "total_requisitions_amount": {
              "type": "string",
              "description": "Total requisitions (sub invoices) amount",
              "example": "5670.0"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated at",
              "example": "2015-11-04T15:18:57Z"
             },
             "vendor": {
              "type": "object",
              "description": "Vendor",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 356493
               },
               "company": {
                "type": "string",
                "description": "Company",
                "example": "Mau Mixers, LLC"
               }
              }
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "currency_configuration": {
              "type": "object",
              "allOf": [
               {
                "properties": {
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "USD",
                  "nullable": true
                 },
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "EUR",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "currency_exchange_rate": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$",
                  "nullable": true,
                  "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "1.5"
                 }
                }
               }
              ]
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/work_order_contracts',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[include_deleted]': 'SOME_STRING_VALUE',\n    'filters[origin_id]': 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/work_order_contracts?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/work_order_contracts?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/work_order_contracts?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add currency_configuration field",
      "description": "Adds the \"currency_configuration.currency_iso_code\" string field",
      "endpoint": "GET /work_order_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-28",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "work-order-contracts?version=1.0#list-work-order-contracts"
     },
     {
      "summary": "Add enable_ssov field to response",
      "description": "Adds the \"enable_ssov\" boolean field",
      "endpoint": "GET /work_order_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-10-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "work-order-contracts?version=1.0#list-work-order-contracts"
     },
     {
      "summary": "update currency_configuration object fields in the response",
      "description": "Adds \"base_currency_iso_code\" and \"currency_exchange_rate\" string fields",
      "endpoint": "GET /work_order_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-02-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "work-order-contracts?version=1.0#list-work-order-contracts"
     },
     {
      "summary": "Add vendor_id and billing_schedule_of_values_status filters",
      "description": "Adds support for filtering Work Order Contracts by \"vendor_id\" (integer) and \"billing_schedule_of_values_status\" (string) query parameters.",
      "endpoint": "GET /work_order_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "work-order-contracts?version=1.0#list-work-order-contracts"
     },
     {
      "summary": "Add executed filter",
      "description": "Adds support for filtering Work Order Contracts by \"executed\" (boolean) query parameter.",
      "endpoint": "GET /work_order_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "work-order-contracts?version=1.0#list-work-order-contracts"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create work order contract",
    "description": "Create a Work Order Contract.",
    "tags": [
     "Commitments"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "work_order_contract"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project."
         },
         "attachments": {
          "type": "array",
          "description": "Work Order Contract attachments. To upload attachments you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string"
          }
         },
         "work_order_contract": {
          "title": "Work Order Contract",
          "type": "object",
          "description": "Work Order Contract object",
          "properties": {
           "accounting_method": {
            "type": "string",
            "description": "Accounting method. If not provided on create action, defaults to Project Configuration.",
            "enum": [
             "amount",
             "unit"
            ],
            "example": "amount"
           },
           "actual_completion_date": {
            "type": "string",
            "format": "date",
            "description": "Actual completion date",
            "example": "2012-10-27"
           },
           "approval_letter_date": {
            "type": "string",
            "description": "Approval letter date",
            "example": "2012-10-23"
           },
           "contract_date": {
            "type": "string",
            "format": "date",
            "description": "Contract date",
            "example": "2012-10-23"
           },
           "contract_estimated_completion_date": {
            "type": "string",
            "format": "date",
            "description": "Estimated completion date",
            "example": "2012-10-31"
           },
           "contract_start_date": {
            "type": "string",
            "format": "date",
            "description": "Start date",
            "example": "2012-10-03"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "<p>Paving level 3 parking lot.</p>"
           },
           "exclusions": {
            "type": "string",
            "description": "Exclusions",
            "example": "<p>Stairs, Elevator platform</p>"
           },
           "executed": {
            "type": "boolean",
            "description": "Executed (or not)",
            "default": false,
            "example": false
           },
           "execution_date": {
            "type": "string",
            "format": "date",
            "description": "Execution date",
            "example": "2012-10-23"
           },
           "inclusions": {
            "type": "string",
            "description": "Inclusions",
            "example": "<p>Level 3 parking lot.</p>"
           },
           "invoice_contact_user_ids": {
            "type": "array",
            "description": "IDs of users in the project directory (see the Project Users endpoint). The users with these IDs will be added as invoice contacts if they belong to the same vendor as the contract vendor. Invoice contacts are the points of contact for subcontractor invoices.",
            "items": {
             "type": "integer",
             "example": 11349
            }
           },
           "issued_on_date": {
            "type": "string",
            "format": "date",
            "description": "Issued on date",
            "example": "2012-10-23"
           },
           "letter_of_intent_date": {
            "type": "string",
            "format": "date",
            "description": "Letter of intent date",
            "example": "2012-10-23"
           },
           "origin_code": {
            "nullable": true,
            "type": "string",
            "description": "Origin code",
            "example": "OC-abc123"
           },
           "origin_data": {
            "nullable": true,
            "type": "string",
            "description": "Origin Data",
            "example": "OD-2398273423"
           },
           "origin_id": {
            "nullable": true,
            "type": "string",
            "description": "Origin ID",
            "example": 459247543
           },
           "number": {
            "type": "string",
            "description": "Number",
            "example": "SC-17-1990-00001"
           },
           "private": {
            "type": "boolean",
            "description": "If true, visible to admins and whitelisted accessors; otherwise visible to those with read only access.",
            "example": true
           },
           "retainage_percent": {
            "type": "string",
            "description": "Retainage percent",
            "example": "10.5"
           },
           "returned_date": {
            "type": "string",
            "format": "date",
            "description": "Returned date",
            "example": "2012-10-23"
           },
           "signed_contract_received_date": {
            "type": "string",
            "format": "date",
            "description": "Signed contract received date",
            "example": "2012-10-25"
           },
           "status": {
            "type": "string",
            "description": "Status",
            "enum": [
             "Draft",
             "Out For Bid",
             "Out For Signature",
             "Approved",
             "Complete",
             "Terminated",
             "Void"
            ],
            "example": "Draft"
           },
           "title": {
            "type": "string",
            "description": "Title",
            "example": "Concrete Paving"
           },
           "vendor_id": {
            "type": "integer",
            "description": "Vendor ID",
            "example": 4398347
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "currency_exchange_rate": {
            "type": "number",
            "description": "Exchange rate from contract currency to project currency; It'll be accepted only when multicurrency phase two feature flag is enabled and user has the granular permission to edit the contract exchange rate.",
            "example": 1.5
           },
           "currency_iso_code": {
            "type": "string",
            "description": "Currency ISO code; It'll be accepted only when multicurrency phase two feature flag is enabled.",
            "example": "USD"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Work Order Contract",
         "properties": {
          "accounting_method": {
           "type": "string",
           "enum": [
            "amount",
            "unit"
           ],
           "description": "Accounting method",
           "example": "amount"
          },
          "actual_completion_date": {
           "type": "string",
           "format": "date",
           "description": "Actual completion date",
           "example": "2012-10-27"
          },
          "approval_letter_date": {
           "type": "string",
           "description": "Approval letter date",
           "example": "2013-10-23"
          },
          "approved_change_orders": {
           "type": "string",
           "description": "Approved change orders amount",
           "example": "3434.0"
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "change_order_packages": {
           "type": "array",
           "description": "Change order packages",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 458661
             },
             "contract_id": {
              "type": "integer",
              "description": "Contract ID",
              "example": 64545
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at",
              "example": "2012-10-23T21:39:40Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Deleted at",
              "example": "2017-07-29T21:39:40Z"
             },
             "due_date": {
              "type": "string",
              "format": "date",
              "description": "Due date",
              "example": "2012-11-23"
             },
             "invoiced_date": {
              "type": "string",
              "format": "date",
              "description": "Invoiced date",
              "example": "2012-10-24"
             },
             "number": {
              "type": "string",
              "description": "Number",
              "example": "002"
             },
             "origin_data": {
              "type": "string",
              "description": "Origin data",
              "example": "OD-123654789"
             },
             "origin_id": {
              "type": "string",
              "description": "Origin ID",
              "example": "654987123"
             },
             "paid_date": {
              "type": "string",
              "format": "date",
              "description": "Paid date",
              "example": "2012-11-21"
             },
             "reviewed_at": {
              "type": "string",
              "format": "date-time",
              "description": "Reviewed at",
              "example": "2012-11-23T21:39:40Z"
             },
             "title": {
              "type": "string",
              "description": "Title",
              "example": "November Changes"
             },
             "status": {
              "type": "string",
              "description": "Status",
              "example": "approved",
              "enum": [
               "draft",
               "not_pricing",
               "pricing",
               "pending",
               "revised",
               "proceeding",
               "not_proceeding",
               "no_charge",
               "approved",
               "rejected",
               "void"
              ]
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated at",
              "example": "2012-11-23T21:39:40Z"
             },
             "currency_configuration": {
              "type": "object",
              "allOf": [
               {
                "properties": {
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "USD",
                  "nullable": true
                 },
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "EUR",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "currency_exchange_rate": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$",
                  "nullable": true,
                  "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "1.5"
                 }
                }
               }
              ]
             }
            }
           }
          },
          "change_order_requests": {
           "type": "array",
           "description": "Change order requests",
           "items": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 3284756
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2016-10-23T21:39:40Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2017-07-29T21:39:40Z"
              },
              "due_date": {
               "type": "string",
               "format": "date",
               "description": "Due date",
               "example": "2016-11-23T21:39:40Z"
              },
              "invoiced_date": {
               "type": "string",
               "format": "date",
               "description": "Invoiced date",
               "example": "2017-08-22"
              },
              "number": {
               "type": "string",
               "description": "Number",
               "example": "B22"
              },
              "paid_date": {
               "type": "string",
               "format": "date",
               "description": "Paid date",
               "example": "2017-08-25"
              },
              "status": {
               "type": "string",
               "description": "Status",
               "example": "draft",
               "enum": [
                "draft",
                "not_pricing",
                "pricing",
                "pending",
                "revised",
                "proceeding",
                "not_proceeding",
                "no_charge",
                "approved",
                "rejected",
                "void"
               ]
              },
              "title": {
               "type": "string",
               "description": "Title",
               "example": "Concrete freezer slab"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2016-10-25T21:39:40Z"
              },
              "currency_configuration": {
               "type": "object",
               "allOf": [
                {
                 "properties": {
                  "base_currency_iso_code": {
                   "type": "string",
                   "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                   "example": "USD",
                   "nullable": true
                  },
                  "currency_iso_code": {
                   "type": "string",
                   "description": "Currency ISO Code configured for the financial entity",
                   "example": "EUR",
                   "nullable": true
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "currency_exchange_rate": {
                   "type": "string",
                   "pattern": "^\\d+\\.\\d+$",
                   "nullable": true,
                   "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                   "example": "1.5"
                  }
                 }
                }
               ]
              }
             }
            }
           }
          },
          "contract_date": {
           "type": "string",
           "format": "date",
           "description": "Contract date",
           "example": "2013-10-23"
          },
          "contract_start_date": {
           "type": "string",
           "format": "date",
           "description": "Start date",
           "example": "2012-10-03"
          },
          "contract_estimated_completion_date": {
           "type": "string",
           "format": "date",
           "description": "Estimated completion date",
           "example": "2012-10-31"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "created_by_id": {
           "type": "integer",
           "description": "ID of the user who created the Contract",
           "example": 5432
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2012-10-23T21:49:40Z"
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "<p>Paving level 3 parking lot.</p>"
          },
          "draft_change_orders_amount": {
           "type": "string",
           "description": "Total of all draft change orders",
           "example": "750.00"
          },
          "exclusions": {
           "type": "string",
           "description": "Exclusions",
           "example": "<p>Stairs, Elevator platform</p>"
          },
          "executed": {
           "type": "boolean",
           "description": "Executed (or not)",
           "example": false
          },
          "execution_date": {
           "type": "string",
           "format": "date",
           "description": "Execution date",
           "example": "2013-10-23"
          },
          "grand_total": {
           "type": "string",
           "description": "Grand total",
           "example": "12000.0"
          },
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 64382
          },
          "inclusions": {
           "type": "string",
           "description": "Inclusions",
           "example": "<p>Level 3 parking lot.</p>"
          },
          "invoice_contacts": {
           "type": "array",
           "description": "Invoice Contacts",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "example": 1128828
             },
             "business_phone": {
              "type": "string",
              "example": "(503)744-3200"
             },
             "business_phone_extension": {
              "type": "integer",
              "example": 1234
             },
             "email": {
              "type": "string",
              "example": "john.doe@example.com"
             },
             "fax_number": {
              "type": "string",
              "example": "813043",
              "nullable": true
             },
             "job_title": {
              "type": "string",
              "example": "Engineer",
              "nullable": true
             },
             "login_information_id": {
              "type": "integer",
              "example": ""
             },
             "mobile_phone": {
              "type": "string",
              "example": ""
             },
             "name": {
              "type": "string",
              "example": "A-1 Electric Company"
             },
             "vendor_name": {
              "type": "string",
              "example": ""
             },
             "currency_configuration": {
              "type": "object",
              "allOf": [
               {
                "properties": {
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "USD",
                  "nullable": true
                 },
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "EUR",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "currency_exchange_rate": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$",
                  "nullable": true,
                  "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "1.5"
                 }
                }
               }
              ]
             }
            }
           }
          },
          "issued_on_date": {
           "type": "string",
           "format": "date",
           "description": "Issued on date",
           "example": "2013-10-23"
          },
          "letter_of_intent_date": {
           "type": "string",
           "format": "date",
           "description": "Letter of intent date",
           "example": "2013-10-23"
          },
          "line_items": {
           "type": "array",
           "description": "Line items",
           "items": {
            "type": "object",
            "description": "Line Item",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Line Item id",
              "example": 4896147
             },
             "amount": {
              "type": "string",
              "description": "Line Item amount",
              "example": "1000.0"
             },
             "company": {
              "type": "object",
              "description": "Company",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 163215
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Procore Tech"
               }
              }
             },
             "wbs_code": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Wbs Code ID",
                "example": 999
               },
               "flat_code": {
                "type": "string",
                "description": "Wbs Code",
                "example": "01-011.CT1"
               },
               "description": {
                "type": "string",
                "description": "Wbs Code Description",
                "example": "Project Engineer.Cost Type 1"
               }
              }
             },
             "cost_code": {
              "oneOf": [
               {
                "title": "compact",
                "type": "object",
                "properties": {
                 "id": {
                  "description": "ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               {
                "type": "object",
                "title": "extended",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for this Cost Code record.",
                  "example": 12345
                 },
                 "biller": {
                  "type": "string",
                  "description": "Display name of the entity (project or sub job) that owns this cost code.",
                  "example": "Campus"
                 },
                 "biller_id": {
                  "type": "integer",
                  "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                  "example": 12345
                 },
                 "biller_type": {
                  "type": "string",
                  "enum": [
                   "Project",
                   "SubJob"
                  ],
                  "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                  "example": "Project"
                 },
                 "biller_origin_id": {
                  "type": "string",
                  "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                  "example": "98765",
                  "nullable": true
                 },
                 "budgeted": {
                  "type": "boolean",
                  "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                  "example": false
                 },
                 "code": {
                  "type": "string",
                  "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                  "example": "300"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                  "example": "2017-07-29T21:39:40Z"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost code.",
                  "example": "Earthwork"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                  "example": "OD-129947"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                  "example": "9874484"
                 },
                 "parent": {
                  "type": "object",
                  "description": "The immediate parent cost code of this record, if any.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                    "example": 2345
                   }
                  }
                 },
                 "position": {
                  "type": "integer",
                  "description": "Sort order of this cost code within its parent.",
                  "example": 1
                 },
                 "sortable_code": {
                  "type": "string",
                  "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                  "example": "02-300"
                 },
                 "standard_cost_code_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                  "example": 122334
                 },
                 "standard_cost_code_list_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                  "example": 133445,
                  "nullable": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "line_item_types": {
                  "type": "array",
                  "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                  "items": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "A line item type assigned to this cost code.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier for the Line Item Type.",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the Line Item Type.",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Short code used for CSV import of this Line Item Type.",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "labor",
                      "other"
                     ],
                     "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                     "example": "materials"
                    },
                    "origin_id": {
                     "type": "string",
                     "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                     "example": "ABC123",
                     "nullable": true
                    }
                   }
                  }
                 }
                }
               }
              ]
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at date and time",
              "example": "2016-08-01T23:33:54Z"
             },
             "description": {
              "type": "string",
              "description": "Line Item description",
              "example": "Cleanup"
             },
             "extended_type": {
              "type": "string",
              "description": "Line Item extended type",
              "enum": [
               "manual",
               "calculated"
              ],
              "example": "calculated"
             },
             "holder": {
              "type": "object",
              "description": "Holder",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 233245
               },
               "holder_type": {
                "type": "string",
                "description": "Holder type",
                "example": "WorkOrderContract"
               }
              }
             },
             "line_item_type": {
              "type": "object",
              "title": "LineItemType",
              "description": "Line Item Type",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the Line Item Type",
                "example": 12345
               },
               "name": {
                "type": "string",
                "description": "Name for the Line Item Type",
                "example": "Equipment"
               },
               "code": {
                "type": "string",
                "description": "Code for the Line Item Type",
                "example": "LB"
               },
               "base_type": {
                "type": "string",
                "enum": [
                 "equipment",
                 "materials",
                 "commitment",
                 "owner_cost",
                 "professional_services",
                 "other"
                ],
                "description": "Base type",
                "example": "materials"
               },
               "origin_data": {
                "type": "string",
                "description": "Origin data",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "Origin ID",
                "example": "ABC123",
                "nullable": true
               }
              }
             },
             "origin_data": {
              "type": "string",
              "description": "Line Item third party data",
              "example": "OD-39823232",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "description": "Line Item third party id",
              "example": 239233,
              "nullable": true
             },
             "position": {
              "type": "integer",
              "description": "Line Item position",
              "example": 1
             },
             "project": {
              "type": "object",
              "description": "Project",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 123456
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Children's Hospital"
               }
              }
             },
             "quantity": {
              "type": "string",
              "format": "float",
              "description": "Line Item quantity",
              "example": "10.0"
             },
             "tax_code_id": {
              "type": "integer",
              "description": "Tax Code ID",
              "example": 1
             },
             "total_amount": {
              "type": "string",
              "format": "float",
              "description": "Line Item total amount",
              "example": "1000.0"
             },
             "extended_amount": {
              "type": "string",
              "format": "float",
              "description": "Line Item extended amount",
              "example": "900.0"
             },
             "unit_cost": {
              "type": "string",
              "format": "float",
              "description": "Line Item unit cost",
              "example": "100.0"
             },
             "uom": {
              "type": "string",
              "description": "Line Item units of measure",
              "example": "Lbs"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated at date and time",
              "example": "2016-09-01T21:33:54Z"
             },
             "change_event_line_item": {
              "type": "object",
              "description": "Change Event Line Item",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Change Event Line Item ID",
                "example": 5
               },
               "cost_rom": {
                "type": "string",
                "format": "float",
                "description": "Change Event Line Item Cost ROM",
                "example": "100.0"
               },
               "revenue_rom": {
                "type": "string",
                "format": "float",
                "description": "Change Event Line Item Revenue ROM",
                "example": "200.0"
               },
               "event_id": {
                "type": "integer",
                "description": "Change Event ID",
                "example": 6
               },
               "cost_code": {
                "oneOf": [
                 {
                  "title": "compact",
                  "type": "object",
                  "properties": {
                   "id": {
                    "description": "ID",
                    "example": 12345,
                    "nullable": true,
                    "type": "integer"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full Cost code, including parent prefixes",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Earthwork"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "title": "extended",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique identifier for this Cost Code record.",
                    "example": 12345
                   },
                   "biller": {
                    "type": "string",
                    "description": "Display name of the entity (project or sub job) that owns this cost code.",
                    "example": "Campus"
                   },
                   "biller_id": {
                    "type": "integer",
                    "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                    "example": 12345
                   },
                   "biller_type": {
                    "type": "string",
                    "enum": [
                     "Project",
                     "SubJob"
                    ],
                    "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                    "example": "Project"
                   },
                   "biller_origin_id": {
                    "type": "string",
                    "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                    "example": "98765",
                    "nullable": true
                   },
                   "budgeted": {
                    "type": "boolean",
                    "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                    "example": false
                   },
                   "code": {
                    "type": "string",
                    "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                    "example": "300"
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "deleted_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                    "example": "2017-07-29T21:39:40Z"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the cost code.",
                    "example": "Earthwork"
                   },
                   "origin_data": {
                    "type": "string",
                    "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                    "example": "OD-129947"
                   },
                   "origin_id": {
                    "type": "string",
                    "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                    "example": "9874484"
                   },
                   "parent": {
                    "type": "object",
                    "description": "The immediate parent cost code of this record, if any.",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                      "example": 2345
                     }
                    }
                   },
                   "position": {
                    "type": "integer",
                    "description": "Sort order of this cost code within its parent.",
                    "example": 1
                   },
                   "sortable_code": {
                    "type": "string",
                    "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                    "example": "02-300"
                   },
                   "standard_cost_code_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                    "example": 122334
                   },
                   "standard_cost_code_list_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                    "example": 133445,
                    "nullable": true
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "line_item_types": {
                    "type": "array",
                    "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                    "items": {
                     "type": "object",
                     "title": "LineItemType",
                     "description": "A line item type assigned to this cost code.",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "Unique identifier for the Line Item Type.",
                       "example": 12345
                      },
                      "name": {
                       "type": "string",
                       "description": "Display name of the Line Item Type.",
                       "example": "Equipment"
                      },
                      "code": {
                       "type": "string",
                       "description": "Short code used for CSV import of this Line Item Type.",
                       "example": "LB"
                      },
                      "base_type": {
                       "type": "string",
                       "enum": [
                        "equipment",
                        "materials",
                        "commitment",
                        "owner_cost",
                        "professional_services",
                        "labor",
                        "other"
                       ],
                       "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                       "example": "materials"
                      },
                      "origin_id": {
                       "type": "string",
                       "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                       "example": "ABC123",
                       "nullable": true
                      }
                     }
                    }
                   }
                  }
                 }
                ]
               },
               "line_item_type": {
                "type": "object",
                "title": "LineItemType",
                "description": "Line Item Type",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Line Item Type",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Name for the Line Item Type",
                  "example": "Equipment"
                 },
                 "code": {
                  "type": "string",
                  "description": "Code for the Line Item Type",
                  "example": "LB"
                 },
                 "base_type": {
                  "type": "string",
                  "enum": [
                   "equipment",
                   "materials",
                   "commitment",
                   "owner_cost",
                   "professional_services",
                   "other"
                  ],
                  "description": "Base type",
                  "example": "materials"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Origin data",
                  "example": "OD-2398273424"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "Origin ID",
                  "example": "ABC123",
                  "nullable": true
                 }
                }
               },
               "currency_configuration": {
                "type": "object",
                "allOf": [
                 {
                  "properties": {
                   "base_currency_iso_code": {
                    "type": "string",
                    "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                    "example": "USD",
                    "nullable": true
                   },
                   "currency_iso_code": {
                    "type": "string",
                    "description": "Currency ISO Code configured for the financial entity",
                    "example": "EUR",
                    "nullable": true
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "currency_exchange_rate": {
                    "type": "string",
                    "pattern": "^\\d+\\.\\d+$",
                    "nullable": true,
                    "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                    "example": "1.5"
                   }
                  }
                 }
                ]
               }
              }
             },
             "currency_configuration": {
              "type": "object",
              "allOf": [
               {
                "properties": {
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "USD",
                  "nullable": true
                 },
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "EUR",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "currency_exchange_rate": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$",
                  "nullable": true,
                  "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "1.5"
                 }
                }
               }
              ]
             }
            }
           }
          },
          "number": {
           "type": "string",
           "description": "Number",
           "example": "SC-17-1990-00001"
          },
          "origin_data": {
           "type": "string",
           "description": "Origin data",
           "example": "OD-2398273423"
          },
          "origin_code": {
           "type": "string",
           "description": "Origin code",
           "example": "OC-abc123"
          },
          "origin_id": {
           "type": "string",
           "description": "Origin ID",
           "example": 459247543,
           "nullable": true
          },
          "payments_issued": {
           "type": "array",
           "description": "Payment issued",
           "items": {
            "type": "object",
            "description": "Contract Payment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1551516
             },
             "amount": {
              "type": "string",
              "description": "Payment amount",
              "example": "1000000.0"
             },
             "check_number": {
              "type": "string",
              "description": "Check number",
              "example": "ABC93759372"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at",
              "example": "2015-07-14T22:03:27Z"
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Payment date",
              "example": "2015-07-15"
             },
             "draw_request_number": {
              "type": "integer",
              "description": "Payment number of a Draw Request, Owner Invoice, or Subcontractor Invoice",
              "example": 5
             },
             "invoice_number": {
              "type": "string",
              "description": "Invoice number",
              "example": "Invoice 123"
             },
             "notes": {
              "type": "string",
              "description": "Associated notes",
              "example": "January Payment"
             },
             "payment_number": {
              "type": "integer",
              "description": "Payment number",
              "example": 5
             },
             "attachments": {
              "type": "array",
              "description": "Payment attachments",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 5324
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             },
             "origin_id": {
              "type": "string",
              "description": "Origin ID",
              "example": "abc-123"
             },
             "origin_data": {
              "type": "string",
              "description": "Origin data",
              "example": "XYZ-0012"
             },
             "currency_configuration": {
              "type": "object",
              "allOf": [
               {
                "properties": {
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "USD",
                  "nullable": true
                 },
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "EUR",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "currency_exchange_rate": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$",
                  "nullable": true,
                  "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "1.5"
                 }
                }
               }
              ]
             }
            }
           }
          },
          "pending_change_orders": {
           "type": "string",
           "description": "Pending change orders amount",
           "example": "1000.00"
          },
          "pending_revised_contract": {
           "type": "string",
           "description": "Pending revised contracts amount",
           "example": "2000.00"
          },
          "percentage_paid": {
           "type": "string",
           "description": "Percentage paid",
           "example": "75.5"
          },
          "potential_change_orders": {
           "type": "array",
           "description": "Work Order Contract potential change orders",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Potential change order id",
              "example": 570623
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Potential change order created at",
              "example": "2012-10-23T21:39:40Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Deleted at",
              "example": "2012-11-24T21:39:40Z"
             },
             "due_date": {
              "type": "string",
              "format": "date",
              "description": "Potential change order due date",
              "example": "2012-11-23"
             },
             "invoiced_date": {
              "type": "string",
              "format": "date",
              "description": "Potential change order invoiced date",
              "example": "2012-10-24"
             },
             "number": {
              "type": "string",
              "description": "Potential change order number",
              "example": "004"
             },
             "paid_date": {
              "type": "string",
              "format": "date",
              "description": "Potential change order paid date",
              "example": "2012-11-21"
             },
             "reviewed_at": {
              "type": "string",
              "format": "date-time",
              "description": "Potential change order reviewed at",
              "example": "2012-10-23T21:44:40Z"
             },
             "title": {
              "type": "string",
              "description": "Potential change order title",
              "example": "Field Bulletin #3 - Steel staircase on roof"
             },
             "status": {
              "type": "string",
              "description": "Potential change order status",
              "example": "approved",
              "enum": [
               "draft",
               "not_pricing",
               "pricing",
               "pending",
               "revised",
               "proceeding",
               "not_proceeding",
               "no_charge",
               "approved",
               "rejected",
               "void"
              ]
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Potential change order updated at",
              "example": "2012-11-23T21:39:40Z"
             },
             "currency_configuration": {
              "type": "object",
              "allOf": [
               {
                "properties": {
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "USD",
                  "nullable": true
                 },
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "EUR",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "currency_exchange_rate": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$",
                  "nullable": true,
                  "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "1.5"
                 }
                }
               }
              ]
             }
            }
           }
          },
          "private": {
           "type": "boolean",
           "description": "If true, visible to admins and whitelisted accessors; otherwise visible to those with read only access.",
           "example": false
          },
          "project": {
           "type": "object",
           "description": "Project",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Children's Hospital"
            }
           }
          },
          "remaining_balance_outstanding": {
           "type": "string",
           "description": "Remaining outstanding balance",
           "example": "500.00"
          },
          "requisitions_are_enabled": {
           "type": "boolean",
           "description": "If true, Requisitions (Subcontractor Invoice) are enabled on the Commitment Contract",
           "example": true
          },
          "retainage_percent": {
           "type": "string",
           "description": "Retainage percent",
           "example": "10.5"
          },
          "returned_date": {
           "type": "string",
           "format": "date",
           "description": "Returned date",
           "example": "2013-10-23"
          },
          "revised_contract": {
           "type": "string",
           "description": "Revised contract amount",
           "example": "4833.55"
          },
          "signed_contract_received_date": {
           "type": "string",
           "format": "date",
           "description": "Signed contract received date",
           "example": "2012-10-25"
          },
          "show_line_items_to_non_admins": {
           "type": "boolean",
           "description": "If true and the contract is private, non admins with access to the contract will be able to view the SOV items",
           "example": true
          },
          "status": {
           "type": "string",
           "description": "Status",
           "enum": [
            "Draft",
            "Out For Bid",
            "Out For Signature",
            "Approved",
            "Complete",
            "Terminated",
            "Void"
           ],
           "example": "Draft"
          },
          "title": {
           "type": "string",
           "description": "Title",
           "example": "Concrete Paving"
          },
          "total_draw_requests_amount": {
           "type": "string",
           "description": "Total draw requests amount",
           "example": "5670.0"
          },
          "total_payments": {
           "type": "string",
           "description": "Total payments amount",
           "example": "12344.0"
          },
          "total_requisitions_amount": {
           "type": "string",
           "description": "Total requisitions (sub invoices) amount",
           "example": "5670.0"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2015-11-04T15:18:57Z"
          },
          "vendor": {
           "type": "object",
           "description": "Vendor",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 356493
            },
            "company": {
             "type": "string",
             "description": "Company",
             "example": "Mau Mixers, LLC"
            },
            "origin_data": {
             "type": "string",
             "description": "Origin data",
             "example": "OD-876901523"
            },
            "origin_id": {
             "type": "string",
             "description": "Origin ID",
             "example": "0981234567"
            }
           }
          },
          "currency_configuration": {
           "type": "object",
           "allOf": [
            {
             "properties": {
              "base_currency_iso_code": {
               "type": "string",
               "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
               "example": "USD",
               "nullable": true
              },
              "currency_iso_code": {
               "type": "string",
               "description": "Currency ISO Code configured for the financial entity",
               "example": "EUR",
               "nullable": true
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "currency_exchange_rate": {
               "type": "string",
               "pattern": "^\\d+\\.\\d+$",
               "nullable": true,
               "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
               "example": "1.5"
              }
             }
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/work_order_contracts',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    project_id: 0,\n    attachments: ['string'],\n    work_order_contract: {\n      accounting_method: 'amount',\n      actual_completion_date: '2012-10-27',\n      approval_letter_date: '2012-10-23',\n      contract_date: '2012-10-23',\n      contract_estimated_completion_date: '2012-10-31',\n      contract_start_date: '2012-10-03',\n      description: '<p>Paving level 3 parking lot.</p>',\n      exclusions: '<p>Stairs, Elevator platform</p>',\n      executed: false,\n      execution_date: '2012-10-23',\n      inclusions: '<p>Level 3 parking lot.</p>',\n      invoice_contact_user_ids: [11349],\n      issued_on_date: '2012-10-23',\n      letter_of_intent_date: '2012-10-23',\n      origin_code: 'OC-abc123',\n      origin_data: 'OD-2398273423',\n      origin_id: 459247543,\n      number: 'SC-17-1990-00001',\n      private: true,\n      retainage_percent: '10.5',\n      returned_date: '2012-10-23',\n      signed_contract_received_date: '2012-10-25',\n      status: 'Draft',\n      title: 'Concrete Paving',\n      vendor_id: 4398347,\n      'custom_field_%{custom_field_definition_id}': 'custom field value',\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      currency_exchange_rate: 1.5,\n      currency_iso_code: 'USD'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
[...]
