{
 "openapi": "3.0.0",
 "info": {
  "title": "Workflow Instances (History)",
  "x-product-category": "Core",
  "x-tool-category": "Workflows",
  "x-resource-name": "Workflow Instances (History)",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the workflow instance.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "filters[activity_types][]",
     "in": "query",
     "required": false,
     "description": "Optional activity filter (`comments`, `attachments`). When present, the response only includes timeline rows that match the filter. **Future step events are not included** when this filter is used (linear templates only).",
     "schema": {
      "type": "array",
      "items": {
       "type": "string",
       "enum": [
        "comments",
        "attachments"
       ]
      }
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Workflow Instance History (Project)",
    "description": "Returns an ordered list of history events for a given project workflow instance.\n\nEach event in the `history` array has a `type` field and a `details` object. The following event types are supported:\n\n**WorkflowStarted** \u2014 emitted when the workflow begins.\n```json\n{\n  \"type\": \"WorkflowStarted\",\n  \"details\": {\n    \"started_at\": \"2024-01-15T10:00:00Z\"\n  }\n}\n```\n\n**WorkflowTerminated** \u2014 emitted when the workflow is terminated before completion.\n```json\n{\n  \"type\": \"WorkflowTerminated\",\n  \"details\": {\n    \"name\": \"Bulk Assignee Update\",\n    \"terminated_at\": \"2024-01-15T10:30:00Z\",\n    \"terminated_by\": {\n      \"id\": \"77\",\n      \"login\": \"mary@example.com\",\n      \"name\": \"Mary Thompson\"\n    },\n    \"terminate_reason\": \"Suspended\",\n    \"terminate_result\": {\n      \"details\": [\n        {\n          \"items\": [\n            {\n              \"label\": \"Status\",\n              \"text\": \"Approved\"\n            }\n          ]\n        }\n      ]\n    }\n  }\n}\n```\n\n**ResponseStep** \u2014 emitted for each response step, including who responded and what they said.\n```json\n{\n  \"type\": \"ResponseStep\",\n  \"details\": {\n    \"id\": \"1001\",\n    \"uuid\": \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\n    \"name\": \"Manager Approval\",\n    \"started_at\": \"2024-01-15T10:00:00Z\",\n    \"ended_at\": \"2024-01-15T11:00:00Z\",\n    \"due_date\": \"2024-01-16T17:00:00Z\",\n    \"decision_type\": \"first\",\n    \"required_responders_decide\": true,\n    \"responses\": [\n      {\n        \"id\": \"12345\",\n        \"response_id\": \"99901\",\n        \"login\": \"mary@example.com\",\n        \"name\": \"Mary Thompson\",\n        \"response\": \"Approved\",\n        \"response_type\": \"approve\",\n        \"role_type\": \"responder\",\n        \"required\": true,\n        \"comment\": \"Looks good to me.\",\n        \"responded_at\": \"2024-01-15T10:45:00Z\",\n        \"attachments\": [\n          {\n            \"id\": \"55501\",\n            \"name\": \"review.pdf\",\n            \"url\": \"https://example.com/review.pdf\"\n          }\n        ],\n        \"original_assignees\": [\n          {\n            \"id\": \"67890\",\n            \"name\": \"John Smith\",\n            \"login\": \"john@example.com\"\n          }\n        ]\n      }\n    ],\n    \"overall_response\": \"Approved\",\n    \"overall_response_type\": \"approve\",\n    \"overall_response_description\": \"All required approvers agreed.\",\n    \"status\": \"Approved\",\n    \"available_response_options\": null,\n    \"events\": [\n      {\n        \"type\": \"action_executed\",\n        \"title\": \"Action Executed\",\n        \"created_at\": \"2024-01-15T10:05:00Z\",\n        \"created_by\": {\n          \"id\": \"100\",\n          \"login\": \"automation@example.com\",\n          \"name\": \"Workflow System\"\n        },\n        \"icon\": \"People\",\n        \"temporary\": false,\n        \"details\": [\n          {\n            \"type\": \"custom\",\n            \"title\": \"Watermark applied\",\n            \"icon\": \"Document\",\n            \"created_by\": {\n              \"id\": \"100\",\n              \"login\": \"automation@example.com\",\n              \"name\": \"Workflow System\"\n            },\n            \"items\": [\n              {\n                \"label\": \"Document\",\n                \"text\": \"Spec v2\"\n              }\n            ],\n            \"attachments\": [\n              {\n                \"id\": \"55501\",\n                \"name\": \"review.pdf\",\n                \"url\": \"https://example.com/review.pdf\"\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    \"assignee_updates\": [\n      {\n        \"created_at\": \"2024-01-15T10:12:00Z\",\n        \"created_by\": {\n          \"id\": \"200\",\n          \"login\": \"coordinator@example.com\",\n          \"name\": \"Pat Coordinator\"\n        },\n        \"logins\": [\n          {\n            \"id\": \"12345\",\n            \"name\": \"Mary Thompson\",\n            \"login\": \"mary@example.com\",\n            \"required\": true,\n            \"role_type\": \"responder\"\n          }\n        ],\n        \"responsible_groups\": [\n          {\n            \"uuid\": \"f47ac10b-58cc-4372-a567-0e02b2c3d479\",\n            \"responses_required\": \"all\",\n            \"role_type\": \"responder\"\n          }\n        ]\n      }\n    ],\n    \"override\": {\n      \"overridden_at\": \"2024-01-15T10:50:00Z\",\n      \"overridden_by\": {\n        \"id\": \"200\",\n        \"login\": \"coordinator@example.com\",\n        \"name\": \"Pat Coordinator\"\n      },\n      \"override_reason\": \"Manual override after escalation\",\n      \"overridden_assignees\": [\n        {\n          \"id\": \"12345\",\n          \"login\": \"mary@example.com\",\n          \"name\": \"Mary Thompson\"\n        }\n      ],\n      \"attachments\": [\n        {\n          \"id\": \"55501\",\n          \"name\": \"review.pdf\",\n          \"url\": \"https://example.com/review.pdf\"\n        }\n      ]\n    },\n    \"responsible_groups\": [\n      {\n        \"uuid\": \"f47ac10b-58cc-4372-a567-0e02b2c3d479\",\n        \"name\": \"Project Manager\",\n        \"type\": \"project_role\",\n        \"responses_required\": \"one\",\n        \"role_type\": \"responder\",\n        \"login_ids\": [\"12345\"]\n      }\n    ],\n    \"additional_assignees\": [\n      {\n        \"required\": true,\n        \"role_type\": \"responder\",\n        \"invited_by\": {\n          \"id\": \"200\",\n          \"login\": \"coordinator@example.com\",\n          \"name\": \"Pat Coordinator\"\n        },\n        \"logins\": [\n          {\n            \"id\": \"50001\",\n            \"login\": \"newhire@example.com\",\n            \"name\": \"New Hire\"\n          }\n        ],\n        \"created_at\": \"2024-01-15T10:20:00Z\",\n        \"reason\": \"new_employee\",\n        \"comment\": null\n      }\n    ],\n    \"individual_assignees\": [\n      {\n        \"id\": \"50002\",\n        \"name\": \"Alex Lee\",\n        \"login\": \"alex@example.com\",\n        \"required\": true,\n        \"role_type\": \"responder\"\n      }\n    ],\n    \"notification_recipients\": [\n      {\n        \"id\": \"300\",\n        \"name\": \"Sam Observer\",\n        \"login\": \"sam@example.com\"\n      }\n    ]\n  }\n}\n```\n\n**EndStep** \u2014 emitted when the workflow reaches a terminal step (either successful completion or termination).\n```json\n{\n  \"type\": \"EndStep\",\n  \"details\": {\n    \"id\": \"2001\",\n    \"uuid\": \"b2c3d4e5-f6a7-8901-bcde-f12345678901\",\n    \"name\": \"Complete\",\n    \"started_at\": \"2024-01-15T11:00:00Z\",\n    \"ended_at\": \"2024-01-15T11:00:01Z\",\n    \"due_date\": \"2024-01-16T12:00:00Z\",\n    \"end_type\": \"success\",\n    \"status\": \"Approved\"\n  }\n}\n```\n\n**Action** \u2014 emitted for automated action steps (e.g. setting a status via a dynamic step).\n```json\n{\n  \"type\": \"Action\",\n  \"details\": {\n    \"id\": \"3001\",\n    \"uuid\": \"c3d4e5f6-a7b8-9012-cdef-123456789012\",\n    \"name\": \"Set Status\",\n    \"icon\": \"Status\",\n    \"started_at\": \"2024-01-15T11:00:00Z\",\n    \"ended_at\": \"2024-01-15T11:00:01Z\",\n    \"due_date\": null,\n    \"status\": \"in_progress\",\n    \"description\": \"Contract status updated to Approved\",\n    \"is_continuable\": true,\n    \"events\": [\n      {\n        \"type\": \"override\",\n        \"title\": \"Step Override\",\n        \"details\": [\n          {\n            \"title\": \"Override details\",\n            \"attachments\": [\n              {\n                \"id\": \"55501\",\n                \"name\": \"review.pdf\",\n                \"url\": \"https://example.com/review.pdf\"\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    \"override\": {\n      \"overridden_at\": \"2024-01-15T11:00:01Z\",\n      \"overridden_by\": {\n        \"id\": \"200\",\n        \"login\": \"coordinator@example.com\",\n        \"name\": \"Pat Coordinator\"\n      },\n      \"override_reason\": \"Force-advanced pending vendor response\",\n      \"overridden_assignees\": [\n        {\n          \"id\": \"12345\",\n          \"login\": \"mary@example.com\",\n          \"name\": \"Mary Thompson\"\n        }\n      ],\n      \"attachments\": [\n        {\n          \"id\": \"55501\",\n          \"name\": \"review.pdf\",\n          \"url\": \"https://example.com/review.pdf\"\n        }\n      ]\n    }\n  }\n}\n```\n\n**Conditional** \u2014 emitted when a conditional gateway is evaluated.\n```json\n{\n  \"type\": \"Conditional\",\n  \"details\": {\n    \"id\": \"4001\",\n    \"uuid\": \"d4e5f6a7-b8c9-0123-def0-234567890123\",\n    \"name\": \"Amount > 50?\",\n    \"evaluated_at\": \"2024-01-15T11:00:00Z\",\n    \"description\": \"Amount is greater than 50: Yes\"\n  }\n}\n```",
    "tags": [
     "Workflow Instances"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Workflow Instance History",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "object",
           "description": "Workflow instance history details",
           "required": [
            "name",
            "format",
            "status",
            "started_at",
            "ended_at",
            "blocked_reason",
            "blocked_is_retriable",
            "current_step_index",
            "history"
           ],
           "properties": {
            "name": {
             "type": "string",
             "description": "Display name of the workflow template for this instance",
             "example": "Submittal Approval"
            },
            "format": {
             "type": "string",
             "description": "Template layout format",
             "enum": [
              "diagram",
              "linear"
             ]
            },
            "status": {
             "type": "string",
             "description": "Urgency-derived status for the workflow instance, or null when urgency has not been set.",
             "nullable": true,
             "enum": [
              "blocked",
              "overdue",
              "warning",
              "in_progress",
              "complete",
              "processing",
              "terminated"
             ]
            },
            "started_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the workflow instance was started",
             "example": "2024-01-15T10:00:00Z",
             "nullable": true
            },
            "ended_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the workflow instance ended",
             "example": "2024-01-15T12:00:00Z",
             "nullable": true
            },
            "blocked_reason": {
             "type": "string",
             "description": "Human-readable reason when status is blocked",
             "nullable": true
            },
            "blocked_is_retriable": {
             "type": "boolean",
             "description": "True when a blocked instance may recover by refreshing the workflow."
            },
            "blocked_learn_more_url": {
             "type": "string",
             "description": "Optional support URL for additional guidance. Null when the instance is not blocked.",
             "nullable": true,
             "example": "https://support.procore.com/products/online/user-guide/project-level/project-overview/tutorials/manage-project-team-roles-from-the-project-overview"
            },
            "current_step_index": {
             "type": "integer",
             "description": "Zero-based index within the history array pointing to the current active step, or null when inactive",
             "example": 1,
             "nullable": true
            },
            "history": {
             "type": "array",
             "description": "Ordered list of history events for the workflow instance",
             "items": {
              "oneOf": [
               {
                "type": "object",
                "description": "Workflow started event",
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "The type of history event",
                  "example": "WorkflowStarted",
                  "enum": [
                   "WorkflowStarted"
                  ]
                 },
                 "details": {
                  "type": "object",
                  "description": "Details of the workflow started event",
                  "properties": {
                   "started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the workflow was started",
                    "example": "2024-01-15T10:00:00Z"
                   }
                  }
                 }
                }
               },
               {
                "type": "object",
                "description": "Workflow terminated event",
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "The type of history event",
                  "example": "WorkflowTerminated",
                  "enum": [
                   "WorkflowTerminated"
                  ]
                 },
                 "details": {
                  "type": "object",
                  "description": "Details of the workflow terminated event",
                  "properties": {
                   "name": {
                    "type": "string",
                    "description": "Name of the workflow instance",
                    "example": "Bulk Assignee Update"
                   },
                   "terminated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the workflow was terminated",
                    "example": "2024-01-15T10:30:00Z"
                   },
                   "terminated_by": {
                    "type": "object",
                    "description": "User who terminated the workflow instance, when available",
                    "properties": {
                     "id": {
                      "type": "string",
                      "description": "Unique identifier of the terminating user",
                      "example": "77"
                     },
                     "login": {
                      "type": "string",
                      "description": "Email/login of the terminating user",
                      "example": "mary@example.com",
                      "nullable": true
                     },
                     "name": {
                      "type": "string",
                      "description": "Full name of the terminating user",
                      "example": "Mary Thompson",
                      "nullable": true
                     }
                    }
                   },
                   "terminate_reason": {
                    "type": "string",
                    "description": "Termination reason, when provided",
                    "example": "Suspended"
                   },
                   "terminate_result": {
                    "type": "object",
                    "description": "Additional tool-specific details about the termination result, when provided",
                    "example": {
                     "details": [
                      {
                       "items": [
                        {
                         "label": "Status",
                         "text": "Approved"
                        }
                       ]
                      }
                     ]
                    }
                   }
                  }
                 }
                }
               },
               {
                "type": "object",
                "description": "Response step event",
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "The type of history event",
                  "example": "ResponseStep",
                  "enum": [
                   "ResponseStep"
                  ]
                 },
                 "details": {
                  "type": "object",
                  "description": "Details of the response step event",
                  "properties": {
                   "id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Unique identifier for this step occurrence; null for future steps."
                   },
                   "uuid": {
                    "type": "string",
                    "description": "Unique identifier for this step definition"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the workflow step",
                    "example": "Step 1"
                   },
                   "started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the step was started. Null for future steps.",
                    "example": "2024-01-15T10:00:00Z",
                    "nullable": true
                   },
                   "ended_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the step ended",
                    "example": "2024-01-15T11:00:00Z",
                    "nullable": true
                   },
                   "due_date": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Step due date; projected for future steps when applicable."
                   },
                   "decision_type": {
                    "type": "string",
                    "nullable": true,
                    "description": "How assignee responses are combined into a single step decision.",
                    "enum": [
                     "unanimous",
                     "any",
                     "first"
                    ],
                    "example": "first"
                   },
                   "required_responders_decide": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "When the decision type is unanimous: if true, the aggregated step decision is based only on assignees who must respond; if false, all submitted responses are considered."
                   },
                   "responses": {
                    "type": "array",
                    "description": "List of assignee responses for this step. For current and future steps, includes assignees who have not yet responded.",
                    "items": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "string",
                       "nullable": true,
                       "description": "Unique identifier for this assignee response"
                      },
                      "response_id": {
                       "type": "string",
                       "nullable": true,
                       "description": "Unique identifier for this response option"
                      },
                      "login": {
                       "type": "string",
                       "nullable": true,
                       "description": "Email/login of the assignee"
                      },
                      "name": {
                       "type": "string",
                       "nullable": true,
                       "description": "Full name of the assignee"
                      },
                      "response": {
                       "type": "string",
                       "nullable": true,
                       "description": "Name of the response option"
                      },
                      "response_type": {
                       "type": "string",
                       "enum": [
                        "approve",
                        "reject",
                        "return",
                        "otherwise"
                       ],
                       "description": "Type of the response option",
                       "nullable": true
                      },
                      "required": {
                       "type": "boolean",
                       "description": "Whether this assignee is required to respond"
                      },
                      "role_type": {
                       "type": "string",
                       "enum": [
                        "responder",
                        "commenter"
                       ],
                       "description": "Role of the assignee on this response row.",
                       "example": "responder"
                      },
                      "comment": {
                       "type": "string",
                       "nullable": true,
                       "description": "Optional comment associated with the response"
                      },
                      "responded_at": {
                       "type": "string",
                       "format": "date-time",
                       "nullable": true,
                       "description": "Timestamp when the response was submitted"
                      },
                      "attachments": {
                       "type": "array",
                       "description": "List of attachments associated with the response",
                       "items": {
                        "type": "object",
                        "required": [
                         "id",
                         "name",
                         "url"
                        ],
                        "properties": {
                         "id": {
                          "type": "string",
                          "description": "Unique identifier of the attachment"
                         },
                         "name": {
                          "type": "string",
                          "description": "Name of the attachment"
                         },
                         "url": {
                          "type": "string",
                          "description": "URL of the attachment"
                         }
                        }
                       }
                      },
                      "original_assignees": {
                       "type": "array",
                       "description": "Users on whose behalf this response was submitted, if applicable",
                       "items": {
                        "type": "object",
                        "properties": {
                         "id": {
                          "type": "string",
                          "description": "Unique identifier of the original assignee"
                         },
                         "name": {
                          "type": "string",
                          "description": "Full name of the original assignee",
                          "nullable": true
                         },
                         "login": {
                          "type": "string",
                          "description": "Email/login of the original assignee",
                          "nullable": true
                         }
                        }
                       }
                      }
                     }
                    }
                   },
                   "overall_response": {
                    "type": "string",
                    "description": "The overall aggregated response for the step",
                    "example": "Approved",
                    "nullable": true
                   },
                   "overall_response_type": {
                    "type": "string",
                    "description": "Type of the overall aggregated response",
                    "enum": [
                     "approve",
                     "reject",
                     "return",
                     "otherwise"
                    ],
                    "nullable": true
                   },
                   "overall_response_description": {
                    "type": "string",
                    "nullable": true,
                    "description": "Description of overall response, such as whether the responders agreed or not."
                   },
                   "status": {
                    "type": "string",
                    "description": "The item status set by the step when started",
                    "example": "Approved",
                    "nullable": true
                   },
                   "available_response_options": {
                    "type": "array",
                    "nullable": true,
                    "description": "List of response options available for this step",
                    "items": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "Unique identifier for this response option"
                      },
                      "response_type": {
                       "type": "string",
                       "enum": [
                        "approve",
                        "reject",
                        "return",
                        "otherwise"
                       ],
                       "description": "Type of the response option"
                      },
                      "name": {
                       "type": "string",
                       "description": "Name of the response option"
                      },
                      "require_reason": {
                       "type": "boolean",
                       "description": "Whether this response option requires a reason to be provided"
                      }
                     }
                    }
                   },
                   "responsible_groups": {
                    "type": "array",
                    "description": "Responsible groups associated with this step",
                    "items": {
                     "type": "object",
                     "properties": {
                      "uuid": {
                       "type": "string",
                       "description": "Unique identifier for this responsible group"
                      },
                      "name": {
                       "type": "string",
                       "description": "Name of the responsible group"
                      },
                      "type": {
                       "type": "string",
                       "enum": [
                        "item_creator",
                        "custom_role",
                        "tool_role",
                        "project_role"
                       ],
                       "description": "Type of the responsible group"
                      },
                      "responses_required": {
                       "type": "string",
                       "enum": [
                        "none",
                        "one",
                        "all"
                       ],
                       "description": "How many members of this group must respond when the group is assigned to a step"
                      },
                      "role_type": {
                       "type": "string",
                       "enum": [
                        "responder",
                        "commenter"
                       ],
                       "description": "Responsibility role of this group on the step"
                      },
                      "login_ids": {
                       "type": "array",
                       "description": "List of assignee ids for this responsible group",
                       "items": {
                        "type": "string"
                       }
                      }
                     }
                    }
                   },
                   "additional_assignees": {
                    "type": "array",
                    "description": "Additional assignees invited to this step",
                    "items": {
                     "type": "object",
                     "properties": {
                      "required": {
                       "type": "boolean",
                       "description": "Whether these additional assignees are required to respond"
                      },
                      "role_type": {
                       "type": "string",
                       "enum": [
                        "responder",
                        "commenter"
                       ],
                       "description": "Responsibility role of this invitation group on the step"
                      },
                      "invited_by": {
                       "type": "object",
                       "nullable": true,
                       "description": "User who invited these additional assignees",
                       "properties": {
                        "id": {
                         "type": "string",
                         "description": "Unique identifier of the user who invited these additional assignees"
                        },
                        "login": {
                         "type": "string",
                         "description": "Email/login of the user who invited these additional assignees"
                        },
                        "name": {
                         "type": "string",
                         "description": "Full name of the user who invited these additional assignees"
                        }
                       }
                      },
                      "logins": {
                       "type": "array",
                       "description": "List of assignees invited to this step",
                       "items": {
                        "type": "object",
                        "properties": {
                         "id": {
                          "type": "string",
                          "description": "Unique identifier of the assignee invited to this step"
                         },
                         "login": {
                          "type": "string",
                          "description": "Email/login of the assignee invited to this step"
                         },
                         "name": {
                          "type": "string",
                          "description": "Full name of the assignee invited to this step"
                         }
                        }
                       }
                      },
                      "created_at": {
                       "type": "string",
                       "format": "date-time",
                       "nullable": true,
                       "description": "Timestamp when these additional assignees were invited"
                      },
                      "reason": {
                       "type": "string",
                       "nullable": true,
                       "description": "Reason for inviting these additional assignees"
                      },
                      "comment": {
                       "type": "string",
                       "nullable": true,
                       "description": "Optional comment associated with the invitation"
                      }
                     }
                    }
                   },
                   "individual_assignees": {
                    "type": "array",
                    "description": "People assigned to this step as individual assignees (from instance preset/configuration), with a required flag and role per person. Same object shape as login rows under assignee_updates.",
                    "items": {
                     "type": "object",
                     "required": [
                      "id",
                      "name",
                      "login",
                      "required",
                      "role_type"
                     ],
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "Unique identifier of the assignee",
                       "example": "234"
                      },
                      "name": {
                       "type": "string",
                       "description": "Full name of the assignee"
                      },
                      "login": {
                       "type": "string",
                       "description": "Email/login of the assignee"
                      },
                      "required": {
                       "type": "boolean",
                       "description": "Whether this individual assignee must respond"
                      },
                      "role_type": {
                       "type": "string",
                       "enum": [
                        "responder",
                        "commenter"
                       ],
                       "description": "Role of the individual assignee on this step.",
                       "example": "responder"
                      }
                     }
                    }
                   },
                   "notification_recipients": {
                    "type": "array",
                    "description": "Users who receive notifications for this step",
                    "items": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "Unique identifier of the notification recipient",
                       "example": "22222"
                      },
                      "name": {
                       "type": "string",
                       "description": "Full name of the notification recipient",
                       "example": "Alice Green",
                       "nullable": true
                      },
                      "login": {
                       "type": "string",
                       "description": "Email/login of the notification recipient",
                       "example": "alice@example.com",
                       "nullable": true
                      }
                     }
                    }
                   },
                   "override": {
                    "description": "Override metadata when this step was manually overridden.",
                    "type": "object",
                    "nullable": true,
                    "required": [
                     "overridden_at",
                     "overridden_by",
                     "override_reason",
                     "overridden_assignees",
                     "attachments"
                    ],
                    "properties": {
                     "overridden_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the override was applied.",
                      "nullable": true
                     },
                     "overridden_by": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                       "id": {
                        "type": "string"
                       },
                       "login": {
                        "type": "string",
                        "nullable": true
                       },
                       "name": {
                        "type": "string",
                        "nullable": true
                       }
                      }
                     },
                     "override_reason": {
                      "type": "string",
                      "nullable": true,
                      "description": "Free-text reason entered when overriding this step."
                     },
                     "overridden_assignees": {
                      "type": "array",
                      "description": "Every assignee on the step at the time it was overridden.",
                      "items": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "string"
                        },
                        "login": {
                         "type": "string",
                         "nullable": true
                        },
                        "name": {
                         "type": "string",
                         "nullable": true
                        }
                       }
                      }
                     },
                     "attachments": {
                      "type": "array",
                      "description": "Files attached while overriding the step.",
                      "items": {
                       "type": "object",
                       "required": [
                        "id",
                        "name",
                        "url"
                       ],
                       "properties": {
                        "id": {
                         "type": "string"
                        },
                        "name": {
                         "type": "string",
                         "nullable": true
                        },
                        "url": {
                         "type": "string",
                         "nullable": true
                        }
                       }
                      }
                     }
                    }
                   },
                   "events": {
                    "type": "array",
                    "description": "Events that occurred during this step. For example, assignees being replaced.",
                    "items": {
                     "type": "object",
                     "description": "Event details",
                     "additionalProperties": true,
                     "properties": {
                      "type": {
                       "type": "string",
                       "description": "Unique identifier for the type of event.",
                       "example": "info"
                      },
                      "title": {
                       "type": "string",
                       "nullable": true,
                       "description": "Event title."
                      },
                      "subtitle": {
                       "type": "string",
                       "nullable": true,
                       "description": "Event subtitle."
                      },
                      "created_at": {
                       "type": "string",
                       "format": "date-time",
                       "nullable": true,
                       "description": "When this timeline event occurred."
                      },
                      "created_by": {
                       "type": "object",
                       "nullable": true,
                       "description": "User who initiated this event.",
                       "properties": {
                        "id": {
                         "type": "string"
                        },
                        "name": {
                         "type": "string",
                         "nullable": true
                        },
                        "login": {
                         "type": "string",
                         "nullable": true
                        }
                       }
                      },
                      "icon": {
                       "type": "string",
                       "nullable": true,
                       "description": "Icon identifier for clients that render the timeline."
                      },
                      "temporary": {
                       "type": "boolean",
                       "description": "Whether the event is temporary and will eventually be replaced or removed. For example, an \"in progress\" message."
                      },
                      "details": {
                       "type": "array",
                       "nullable": true,
                       "description": "Additional event-specific details.",
                       "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                         "title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Detail entry title."
                         },
                         "subtitle": {
                          "type": "string",
                          "nullable": true,
                          "description": "Detail entry subtitle. Present when the detail carries additional context, such as a temporary-replacement date range (e.g. \"Jan 01 2026 - Mar 31 2026\")."
                         },
                         "icon": {
                          "type": "string",
                          "nullable": true,
                          "description": "Icon identifier for the detail entry."
                         },
                         "type": {
                          "type": "string",
                          "nullable": true,
                          "description": "Unique identifier for the type of detail entry."
                         },
                         "created_by": {
                          "type": "object",
                          "nullable": true,
                          "description": "User who initiated this detail entry.",
                          "properties": {
                           "id": {
                            "type": "string"
                           },
                           "name": {
                            "type": "string",
                            "nullable": true
                           },
                           "login": {
                            "type": "string",
                            "nullable": true
                           }
                          }
                         },
                         "items": {
                          "type": "array",
                          "nullable": true,
                          "description": "Sub-items for this detail entry.",
                          "items": {
                           "type": "object",
                           "additionalProperties": true,
                           "properties": {
                            "label": {
                             "type": "string",
                             "nullable": true
                            },
                            "text": {
                             "type": "string",
                             "nullable": true
                            }
                           }
                          }
                         },
                         "attachments": {
                          "type": "array",
                          "nullable": true,
                          "description": "Attachments associated with this detail entry.",
                          "items": {
                           "type": "object",
                           "required": [
                            "id",
                            "name",
                            "url"
                           ],
                           "properties": {
                            "id": {
                             "type": "string",
                             "description": "Unique identifier of the attachment."
                            },
                            "name": {
                             "type": "string",
                             "nullable": true,
                             "description": "Name of the attachment."
                            },
                            "url": {
                             "type": "string",
                             "nullable": true,
                             "description": "URL of the attachment."
                            }
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    }
                   },
                   "assignee_updates": {
                    "type": "array",
                    "description": "Assignee configuration changes applied to this step.",
                    "items": {
                     "type": "object",
                     "required": [
                      "created_at",
                      "created_by",
                      "logins",
                      "responsible_groups"
                     ],
                     "properties": {
                      "created_at": {
                       "type": "string",
                       "format": "date-time",
                       "nullable": true,
                       "example": "2024-01-15T10:00:00Z"
                      },
                      "created_by": {
                       "type": "object",
                       "nullable": true,
                       "description": "User who applied the update.",
                       "properties": {
                        "id": {
                         "type": "string",
                         "example": "123"
                        },
                        "name": {
                         "type": "string",
                         "nullable": true,
                         "example": "Bob Smith"
                        },
                        "login": {
                         "type": "string",
                         "nullable": true,
                         "example": "bob@example.com"
                        }
                       }
                      },
                      "logins": {
                       "type": "array",
                       "description": "Individual assignees added by the update.",
                       "items": {
                        "type": "object",
                        "required": [
                         "id",
                         "name",
                         "login",
                         "required"
                        ],
                        "properties": {
                         "id": {
                          "type": "string",
                          "example": "234"
                         },
                         "name": {
                          "type": "string",
                          "example": "Mary Jones"
                         },
                         "login": {
                          "type": "string",
                          "example": "mary@example.com"
                         },
                         "required": {
                          "type": "boolean",
                          "description": "Whether this assignee is required to respond."
                         },
                         "role_type": {
                          "type": "string",
                          "enum": [
                           "responder",
                           "commenter"
                          ],
                          "nullable": true,
                          "description": "Role applied to this assignee by the update. Null on legacy entries that predate role designation."
                         }
                        }
                       }
                      },
                      "responsible_groups": {
                       "type": "array",
                       "description": "Responsible groups modified by the update.",
                       "items": {
                        "type": "object",
                        "required": [
                         "uuid",
                         "responses_required"
                        ],
                        "properties": {
                         "uuid": {
                          "type": "string",
                          "description": "Unique identifier for this responsible group."
                         },
                         "responses_required": {
                          "type": "string",
                          "description": "Response requirement for this responsible group after the update."
                         },
                         "role_type": {
                          "type": "string",
                          "enum": [
                           "responder",
                           "commenter"
                          ],
                          "nullable": true,
                          "description": "Role applied to this group members list by the update. Null on legacy entries that predate role designation."
                         }
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                }
               },
               {
                "type": "object",
                "description": "End step event",
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "The type of history event",
                  "example": "EndStep",
                  "enum": [
                   "EndStep"
                  ]
                 },
                 "details": {
                  "type": "object",
                  "description": "Details of the end step event",
                  "properties": {
                   "id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Unique identifier for this step occurrence; null for future steps."
                   },
                   "uuid": {
                    "type": "string",
                    "description": "Unique identifier for this step definition"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the end step",
                    "example": "Step 1"
                   },
                   "started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the end step was started. Null for future steps.",
                    "example": "2024-01-15T11:00:00Z",
                    "nullable": true
                   },
                   "ended_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the end step completed",
                    "example": "2024-01-15T11:00:01Z",
                    "nullable": true
                   },
                   "due_date": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Step due date; projected for future steps when applicable."
                   },
                   "end_type": {
                    "type": "string",
                    "description": "The manner in which the workflow ended",
                    "example": "success",
                    "enum": [
                     "success",
                     "termination"
                    ]
                   },
                   "status": {
                    "type": "string",
                    "description": "The status set by the step when started",
                    "example": "Approved",
                    "nullable": true
                   }
                  }
                 }
                }
               },
               {
                "type": "object",
                "description": "Action event",
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "The type of history event",
                  "example": "Action",
                  "enum": [
                   "Action"
                  ]
                 },
                 "details": {
                  "type": "object",
                  "description": "Details of the action event",
                  "properties": {
                   "id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Unique identifier for this step occurrence; null for future steps."
                   },
                   "uuid": {
                    "type": "string",
                    "description": "Unique identifier for this step definition"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the action step",
                    "example": "Set Status"
                   },
                   "icon": {
                    "type": "string",
                    "nullable": true,
                    "description": "Icon identifier configured for this action.",
                    "example": "SettingsIcon"
                   },
                   "started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the action was started. Null for future steps.",
                    "example": "2024-01-15T11:00:00Z",
                    "nullable": true
                   },
                   "ended_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the action completed",
                    "example": "2024-01-15T11:00:01Z",
                    "nullable": true
                   },
                   "due_date": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Step due date; projected for future steps when applicable."
                   },
                   "status": {
                    "type": "string",
                    "nullable": true,
                    "description": "Status of the action execution for this step.",
                    "enum": [
                     "success",
                     "failure",
                     "in_progress"
                    ],
                    "example": "success"
                   },
                   "description": {
                    "type": "string",
                    "description": "Description of the action result",
                    "example": "Contract status updated to Approved",
                    "nullable": true
                   },
                   "is_continuable": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Whether the action can be manually continued. Present only for the current action step; null otherwise.",
                    "example": true
                   },
                   "events": {
                    "type": "array",
                    "description": "Events that occurred during this step. For example, assignees being replaced.",
                    "items": {
                     "type": "object",
                     "description": "Event details",
                     "additionalProperties": true,
                     "properties": {
                      "type": {
                       "type": "string",
                       "description": "Unique identifier for the type of event.",
                       "example": "info"
                      },
                      "title": {
                       "type": "string",
                       "nullable": true,
                       "description": "Event title."
                      },
                      "subtitle": {
                       "type": "string",
                       "nullable": true,
                       "description": "Event subtitle."
                      },
                      "created_at": {
                       "type": "string",
                       "format": "date-time",
                       "nullable": true,
                       "description": "When this timeline event occurred."
                      },
                      "created_by": {
                       "type": "object",
                       "nullable": true,
                       "description": "User who initiated this event.",
                       "properties": {
                        "id": {
                         "type": "string"
                        },
                        "name": {
                         "type": "string",
                         "nullable": true
                        },
                        "login": {
                         "type": "string",
                         "nullable": true
                        }
                       }
                      },
                      "icon": {
                       "type": "string",
                       "nullable": true,
                       "description": "Icon identifier for clients that render the timeline."
                      },
                      "temporary": {
                       "type": "boolean",
                       "description": "Whether the event is temporary and will eventually be replaced or removed. For example, an \"in progress\" message."
                      },
                      "details": {
                       "type": "array",
                       "nullable": true,
                       "description": "Additional event-specific details.",
                       "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                         "title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Detail entry title."
                         },
                         "subtitle": {
                          "type": "string",
                          "nullable": true,
                          "description": "Detail entry subtitle. Present when the detail carries additional context, such as a temporary-replacement date range (e.g. \"Jan 01 2026 - Mar 31 2026\")."
                         },
                         "icon": {
                          "type": "string",
                          "nullable": true,
                          "description": "Icon identifier for the detail entry."
                         },
                         "type": {
                          "type": "string",
                          "nullable": true,
                          "description": "Unique identifier for the type of detail entry."
                         },
                         "created_by": {
                          "type": "object",
                          "nullable": true,
                          "description": "User who initiated this detail entry.",
                          "properties": {
                           "id": {
                            "type": "string"
                           },
                           "name": {
                            "type": "string",
                            "nullable": true
                           },
                           "login": {
                            "type": "string",
                            "nullable": true
                           }
                          }
                         },
                         "items": {
                          "type": "array",
                          "nullable": true,
                          "description": "Sub-items for this detail entry.",
                          "items": {
                           "type": "object",
                           "additionalProperties": true,
                           "properties": {
                            "label": {
                             "type": "string",
                             "nullable": true
                            },
                            "text": {
                             "type": "string",
                             "nullable": true
                            }
                           }
                          }
                         },
                         "attachments": {
                          "type": "array",
                          "nullable": true,
                          "description": "Attachments associated with this detail entry.",
                          "items": {
                           "type": "object",
                           "required": [
                            "id",
                            "name",
                            "url"
                           ],
                           "properties": {
                            "id": {
                             "type": "string",
                             "description": "Unique identifier of the attachment."
                            },
                            "name": {
                             "type": "string",
                             "nullable": true,
                             "description": "Name of the attachment."
                            },
                            "url": {
                             "type": "string",
                             "nullable": true,
                             "description": "URL of the attachment."
                            }
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    }
                   },
                   "override": {
                    "description": "Override metadata when this dynamic step was manually overridden.",
                    "type": "object",
                    "nullable": true,
                    "required": [
                     "overridden_at",
                     "overridden_by",
                     "override_reason",
                     "overridden_assignees",
                     "attachments"
                    ],
                    "properties": {
                     "overridden_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the override was applied.",
                      "nullable": true
                     },
                     "overridden_by": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                       "id": {
                        "type": "string"
                       },
                       "login": {
                        "type": "string",
                        "nullable": true
                       },
                       "name": {
                        "type": "string",
                        "nullable": true
                       }
                      }
                     },
                     "override_reason": {
                      "type": "string",
                      "nullable": true,
                      "description": "Free-text reason entered when overriding this step."
                     },
                     "overridden_assignees": {
                      "type": "array",
                      "description": "Every assignee on the step at the time it was overridden.",
                      "items": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "string"
                        },
                        "login": {
                         "type": "string",
                         "nullable": true
                        },
                        "name": {
                         "type": "string",
                         "nullable": true
                        }
                       }
                      }
                     },
                     "attachments": {
                      "type": "array",
                      "description": "Files attached while overriding the step.",
                      "items": {
                       "type": "object",
                       "required": [
                        "id",
                        "name",
                        "url"
                       ],
                       "properties": {
                        "id": {
                         "type": "string"
                        },
                        "name": {
                         "type": "string",
                         "nullable": true
                        },
                        "url": {
                         "type": "string",
                         "nullable": true
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                }
               },
               {
                "type": "object",
                "description": "Conditional event",
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "The type of history event",
                  "example": "Conditional",
                  "enum": [
                   "Conditional"
                  ]
                 },
                 "details": {
                  "type": "object",
                  "description": "Details of the conditional event",
                  "properties": {
                   "id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Unique identifier for this gateway occurrence; null for future gateways."
                   },
                   "uuid": {
                    "type": "string",
                    "description": "Unique identifier for this gateway definition"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the conditional",
                    "example": "Amount > 50?"
                   },
                   "evaluated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the conditional was evaluated. Null for future steps.",
                    "example": "2024-01-15T11:00:00Z",
                    "nullable": true
                   },
                   "description": {
                    "type": "string",
                    "description": "Human-readable description of the evaluation result",
                    "example": "Amount is greater than 50: Yes",
                    "nullable": true
                   }
                  }
                 }
                }
               }
              ]
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/workflows/instances/%7Bid%7D/history',\n  qs: {'filters[activity_types][]': 'SOME_ARRAY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/workflows/instances/%7Bid%7D/history?filters%5Bactivity_types%5D%5B%5D=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/workflows/instances/%7Bid%7D/history?filters%5Bactivity_types%5D%5B%5D=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/workflows/instances/%7Bid%7D/history?filters%5Bactivity_types%5D%5B%5D=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added blocked_learn_more_url to workflow instance history",
      "description": "Added `blocked_learn_more_url`. Contains a support URL when additional guidance is available; otherwise it is null.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-01",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Added Action-step timeline events with attachments",
      "description": "Added an `events` field on `history[*].details` for `Action`-type events in the\nworkflow instance history response, matching the existing `ResponseStep` timeline\nevent shape. Event detail attachments are now included as\n`events[*].details[*].attachments` (`id`, `name`, `url`).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-28",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Added override to Action event details in instance history",
      "description": "Added an `override` field on `history[*].details` for `Action`-type events (dynamic\nsteps: WORKFLOW, TOOL, AGENTIC) in the workflow instance history response, matching\nthe `override` field already present on `ResponseStep`-type events. Null unless the\ndynamic step was overridden.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-20",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Added overridden_assignees to override details in instance history",
      "description": "Added an `overridden_assignees` field on `history[*].details.override` in the\nworkflow instance history response. Lists every assignee on the step at the time\nit was overridden (`id`, `login`, `name`).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-11",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Added role_type to additional_assignees in instance history",
      "description": "Added a `role_type` field on each entry under `history[*].details.additional_assignees`\nin the workflow instance history response. Indicates the responsibility role of the\ninvitation group on the response step: `responder` or `commenter`. Defaults to\n`responder` when absent on legacy invitation data.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-08-10",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Added role_type to responsible_groups in instance history",
      "description": "Added a `role_type` field on each entry under `history[*].details.responsible_groups`\nin the workflow instance history response. Indicates the responsibility role of the\ngroup on the response step: `responder` or `commenter`. Defaults to `responder` when\nabsent on legacy template data.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-08-10",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Added is_continuable to action details in instance history (project)",
      "description": "Added a nullable `is_continuable` field on action history rows at\n`history[*].details.is_continuable` in the project-level workflow instance\nhistory response. The field is populated only for the current action step to\nindicate whether the action can be manually continued; otherwise it is null.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-15",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Added action status and icon fields",
      "description": "Updated Action-event details in workflow instance history responses:\n- Added `history[*].details.status` for action execution state\n- Added `history[*].details.icon` for action/dynamic-step icon metadata\nThe `status` field returns action execution state (`success`, `failure`, `in_progress`).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-13",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Documented role_type on assignee_updates in instance history",
      "description": "Documented the `role_type` field on each `history[*].details.assignee_updates[*].logins[]` and `history[*].details.assignee_updates[*].responsible_groups[]` entry in the workflow instance history response. Indicates the role applied by the update: `responder` or `commenter`. Null on legacy entries that predate role designation.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-16",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Documented role_type on responses in instance history",
      "description": "Documented the `role_type` field on each `history[*].details.responses[]` entry in the workflow instance history response. Indicates the assignee's role on the response row: `responder` or `commenter`.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-12",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Added role_type to individual_assignees in instance history",
      "description": "Added a `role_type` field on each entry under `history[*].details.individual_assignees` in the workflow instance history response. Indicates the responsibility role of the individual assignee on the step: `responder` or `commenter`.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-12",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Add attachment id in instance history responses (project)",
      "description": "Added `id` to attachment objects in response rows under\n`history[*].details.responses[*].attachments[*]` for project-level workflow\ninstance history APIs.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-26",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "Instance history payload updates (roles location and additive fields)",
      "description": "**Breaking change:** The `roles` field has been removed from each object in\n`history[*].details.responses` (per-assignee response rows). Role assignment for the step is now\nrepresented under `history[*].details.roles` on response-step events where applicable.\n\nThe instance history responses include significant additional data in the envelope and within\nhistory events; clients should treat the contract as additive for unknown fields.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2026-04-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     },
     {
      "summary": "New instance history API",
      "description": "New REST V2 API for retrieving step history for a project workflow instance. The history is currently limited to response steps and workflow start events, but may be expanded in the future.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/history",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-05",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-history?version=2.0#get-workflow-instance-history-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/workflows/instances/{id}/history": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the workflow instance.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "filters[activity_types][]",
     "in": "query",
     "required": false,
     "description": "Optional activity filter (`comments`, `attachments`). When present, the response only includes timeline rows that match the filter. **Future step events are not included** when this filter is used (linear templates only).",
     "schema": {
      "type": "array",
      "items": {
       "type": "string",
       "enum": [
        "comments",
        "attachments"
       ]
      }
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Workflow Instance History (Company)",
    "description": "Returns an ordered list of history events for a given company workflow instance.\n\nEach event in the `history` array has a `type` field and a `details` object. The following event types are supported:\n\n**WorkflowStarted** \u2014 emitted when the workflow begins.\n```json\n{\n  \"type\": \"WorkflowStarted\",\n  \"details\": {\n    \"started_at\": \"2024-01-15T10:00:00Z\"\n  }\n}\n```\n\n**WorkflowTerminated** \u2014 emitted when the workflow is terminated before completion.\n```json\n{\n  \"type\": \"WorkflowTerminated\",\n  \"details\": {\n    \"name\": \"Bulk Assignee Update\",\n    \"terminated_at\": \"2024-01-15T10:30:00Z\",\n    \"terminated_by\": {\n      \"id\": \"77\",\n      \"login\": \"mary@example.com\",\n      \"name\": \"Mary Thompson\"\n    },\n    \"terminate_reason\": \"Suspended\",\n    \"terminate_result\": {\n      \"details\": [\n        {\n          \"items\": [\n            {\n              \"label\": \"Status\",\n              \"text\": \"Approved\"\n            }\n          ]\n        }\n      ]\n    }\n  }\n}\n```\n\n**ResponseStep** \u2014 emitted for each response step, including who responded and what they said.\n```json\n{\n  \"type\": \"ResponseStep\",\n  \"details\": {\n    \"id\": \"1001\",\n    \"uuid\": \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\n    \"name\": \"Manager Approval\",\n    \"started_at\": \"2024-01-15T10:00:00Z\",\n    \"ended_at\": \"2024-01-15T11:00:00Z\",\n    \"due_date\": \"2024-01-16T17:00:00Z\",\n    \"decision_type\": \"first\",\n    \"required_responders_decide\": true,\n    \"responses\": [\n      {\n        \"id\": \"12345\",\n        \"response_id\": \"99901\",\n        \"login\": \"mary@example.com\",\n        \"name\": \"Mary Thompson\",\n        \"response\": \"Approved\",\n        \"response_type\": \"approve\",\n        \"role_type\": \"responder\",\n        \"required\": true,\n        \"comment\": \"Looks good to me.\",\n        \"responded_at\": \"2024-01-15T10:45:00Z\",\n        \"attachments\": [\n          {\n            \"id\": \"55501\",\n            \"name\": \"review.pdf\",\n            \"url\": \"https://example.com/review.pdf\"\n          }\n        ],\n        \"original_assignees\": [\n          {\n            \"id\": \"67890\",\n            \"name\": \"John Smith\",\n            \"login\": \"john@example.com\"\n          }\n        ]\n      }\n    ],\n    \"overall_response\": \"Approved\",\n    \"overall_response_type\": \"approve\",\n    \"overall_response_description\": \"All required approvers agreed.\",\n    \"status\": \"Approved\",\n    \"available_response_options\": null,\n    \"events\": [\n      {\n        \"type\": \"action_executed\",\n        \"title\": \"Action Executed\",\n        \"created_at\": \"2024-01-15T10:05:00Z\",\n        \"created_by\": {\n          \"id\": \"100\",\n          \"login\": \"automation@example.com\",\n          \"name\": \"Workflow System\"\n        },\n        \"icon\": \"People\",\n        \"temporary\": false,\n        \"details\": [\n          {\n            \"type\": \"custom\",\n            \"title\": \"Watermark applied\",\n            \"icon\": \"Document\",\n            \"created_by\": {\n              \"id\": \"100\",\n              \"login\": \"automation@example.com\",\n              \"name\": \"Workflow System\"\n            },\n            \"items\": [\n              {\n                \"label\": \"Document\",\n                \"text\": \"Spec v2\"\n              }\n            ],\n            \"attachments\": [\n              {\n                \"id\": \"55501\",\n                \"name\": \"review.pdf\",\n                \"url\": \"https://example.com/review.pdf\"\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    \"assignee_updates\": [\n      {\n        \"created_at\": \"2024-01-15T10:12:00Z\",\n        \"created_by\": {\n          \"id\": \"200\",\n          \"login\": \"coordinator@example.com\",\n          \"name\": \"Pat Coordinator\"\n        },\n        \"logins\": [\n          {\n            \"id\": \"12345\",\n            \"name\": \"Mary Thompson\",\n            \"login\": \"mary@example.com\",\n            \"required\": true,\n            \"role_type\": \"responder\"\n          }\n        ],\n        \"responsible_groups\": [\n          {\n            \"uuid\": \"f47ac10b-58cc-4372-a567-0e02b2c3d479\",\n            \"responses_required\": \"all\",\n            \"role_type\": \"responder\"\n          }\n        ]\n      }\n    ],\n    \"override\": {\n      \"overridden_at\": \"2024-01-15T10:50:00Z\",\n      \"overridden_by\": {\n        \"id\": \"200\",\n        \"login\": \"coordinator@example.com\",\n        \"name\": \"Pat Coordinator\"\n      },\n      \"override_reason\": \"Manual override after escalation\",\n      \"overridden_assignees\": [\n        {\n          \"id\": \"12345\",\n          \"login\": \"mary@example.com\",\n          \"name\": \"Mary Thompson\"\n        }\n      ],\n      \"attachments\": [\n        {\n          \"id\": \"55501\",\n          \"name\": \"review.pdf\",\n          \"url\": \"https://example.com/review.pdf\"\n        }\n      ]\n    },\n    \"responsible_groups\": [\n      {\n        \"uuid\": \"f47ac10b-58cc-4372-a567-0e02b2c3d479\",\n        \"name\": \"Project Manager\",\n        \"type\": \"project_role\",\n        \"responses_required\": \"one\",\n        \"role_type\": \"responder\",\n        \"login_ids\": [\"12345\"]\n      }\n    ],\n    \"additional_assignees\": [\n      {\n        \"required\": true,\n        \"role_type\": \"responder\",\n        \"invited_by\": {\n          \"id\": \"200\",\n          \"login\": \"coordinator@example.com\",\n          \"name\": \"Pat Coordinator\"\n        },\n        \"logins\": [\n          {\n            \"id\": \"50001\",\n            \"login\": \"newhire@example.com\",\n            \"name\": \"New Hire\"\n          }\n        ],\n        \"created_at\": \"2024-01-15T10:20:00Z\",\n        \"reason\": \"new_employee\",\n        \"comment\": null\n      }\n    ],\n    \"individual_assignees\": [\n      {\n        \"id\": \"50002\",\n        \"name\": \"Alex Lee\",\n        \"login\": \"alex@example.com\",\n        \"required\": true,\n        \"role_type\": \"responder\"\n      }\n    ],\n    \"notification_recipients\": [\n      {\n        \"id\": \"300\",\n        \"name\": \"Sam Observer\",\n        \"login\": \"sam@example.com\"\n      }\n    ]\n  }\n}\n```\n\n**EndStep** \u2014 emitted when the workflow reaches a terminal step (either successful completion or termination).\n```json\n{\n  \"type\": \"EndStep\",\n  \"details\": {\n    \"id\": \"2001\",\n    \"uuid\": \"b2c3d4e5-f6a7-8901-bcde-f12345678901\",\n    \"name\": \"Complete\",\n    \"started_at\": \"2024-01-15T11:00:00Z\",\n    \"ended_at\": \"2024-01-15T11:00:01Z\",\n    \"due_date\": \"2024-01-16T12:00:00Z\",\n    \"end_type\": \"success\",\n    \"status\": \"Approved\"\n  }\n}\n```\n\n**Action** \u2014 emitted for automated action steps (e.g. setting a status via a dynamic step).\n```json\n{\n  \"type\": \"Action\",\n  \"details\": {\n    \"id\": \"3001\",\n    \"uuid\": \"c3d4e5f6-a7b8-9012-cdef-123456789012\",\n    \"name\": \"Set Status\",\n    \"icon\": \"Status\",\n    \"started_at\": \"2024-01-15T11:00:00Z\",\n    \"ended_at\": \"2024-01-15T11:00:01Z\",\n    \"due_date\": null,\n    \"status\": \"in_progress\",\n    \"description\": \"Contract status updated to Approved\",\n    \"is_continuable\": true,\n    \"events\": [\n      {\n        \"type\": \"override\",\n        \"title\": \"Step Override\",\n        \"details\": [\n          {\n            \"title\": \"Override details\",\n            \"attachments\": [\n              {\n                \"id\": \"55501\",\n                \"name\": \"review.pdf\",\n                \"url\": \"https://example.com/review.pdf\"\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    \"override\": {\n      \"overridden_at\": \"2024-01-15T11:00:01Z\",\n      \"overridden_by\": {\n        \"id\": \"200\",\n        \"login\": \"coordinator@example.com\",\n        \"name\": \"Pat Coordinator\"\n      },\n      \"override_reason\": \"Force-advanced pending vendor response\",\n      \"overridden_assignees\": [\n        {\n          \"id\": \"12345\",\n          \"login\": \"mary@example.com\",\n          \"name\": \"Mary Thompson\"\n        }\n      ],\n      \"attachments\": [\n        {\n          \"id\": \"55501\",\n          \"name\": \"review.pdf\",\n          \"url\": \"https://example.com/review.pdf\"\n        }\n      ]\n    }\n  }\n}\n```\n\n**Conditional** \u2014 emitted when a conditional gateway is evaluated.\n```json\n{\n  \"type\": \"Conditional\",\n  \"details\": {\n    \"id\": \"4001\",\n    \"uuid\": \"d4e5f6a7-b8c9-0123-def0-234567890123\",\n    \"name\": \"Amount > 50?\",\n    \"evaluated_at\": \"2024-01-15T11:00:00Z\",\n    \"description\": \"Amount is gre
[...]
