{
 "openapi": "3.0.0",
 "info": {
  "title": "Workflow Bulk Replace Requests",
  "x-product-category": "Core",
  "x-tool-category": "Workflows",
  "x-resource-name": "Workflow Bulk Replace Requests",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/workflows/bulk_replace_requests": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Workflow Bulk Replace Request",
    "description": "Creates a new workflows bulk replace request to replace assignees across workflow instances.",
    "tags": [
     "Workflow Bulk Replace Requests"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "replacement_type",
         "old_assignee_id",
         "new_assignee_ids",
         "modify_project_roles",
         "reason"
        ],
        "properties": {
         "replacement_type": {
          "type": "string",
          "description": "Type of replacement (temporary or permanent)",
          "enum": [
           "temporary",
           "permanent"
          ]
         },
         "old_assignee_id": {
          "type": "string",
          "description": "ID of the assignee to be replaced"
         },
         "new_assignee_ids": {
          "type": "array",
          "description": "Array of IDs for new assignees",
          "items": {
           "type": "string"
          }
         },
         "new_workflow_manager_id": {
          "type": "string",
          "description": "ID of the new workflow manager (optional)"
         },
         "start_date": {
          "type": "string",
          "format": "date",
          "description": "Start date for temporary replacements"
         },
         "end_date": {
          "type": "string",
          "format": "date",
          "description": "End date for temporary replacements"
         },
         "modify_project_roles": {
          "type": "boolean",
          "description": "Whether to modify project roles during replacement"
         },
         "reason": {
          "type": "string",
          "description": "Reason for the replacement"
         },
         "project_ids": {
          "type": "array",
          "description": "Array of project IDs to limit replacement scope (optional)",
          "items": {
           "type": "string"
          }
         },
         "tools": {
          "type": "array",
          "description": "Array of tool configurations to limit replacement scope (optional)",
          "items": {
           "type": "object",
           "properties": {
            "type": {
             "type": "string",
             "description": "Tool type"
            },
            "sub_type": {
             "type": "string",
             "description": "Tool sub-type"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted - Bulk replace request created successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "bulk_replace_request_id": {
             "type": "string",
             "description": "ID of the created bulk replace request"
            },
            "operation_id": {
             "type": "string",
             "description": "ID of the background operation processing the request"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity - Validation errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests',\n  headers: {'content-type': 'application/json'},\n  body: {\n    replacement_type: 'temporary',\n    old_assignee_id: 'string',\n    new_assignee_ids: ['string'],\n    new_workflow_manager_id: 'string',\n    start_date: '2019-08-24',\n    end_date: '2019-08-24',\n    modify_project_roles: true,\n    reason: 'string',\n    project_ids: ['string'],\n    tools: [{type: 'string', sub_type: 'string'}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"replacement_type\\\":\\\"temporary\\\",\\\"old_assignee_id\\\":\\\"string\\\",\\\"new_assignee_ids\\\":[\\\"string\\\"],\\\"new_workflow_manager_id\\\":\\\"string\\\",\\\"start_date\\\":\\\"2019-08-24\\\",\\\"end_date\\\":\\\"2019-08-24\\\",\\\"modify_project_roles\\\":true,\\\"reason\\\":\\\"string\\\",\\\"project_ids\\\":[\\\"string\\\"],\\\"tools\\\":[{\\\"type\\\":\\\"string\\\",\\\"sub_type\\\":\\\"string\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests \\\n  --header 'content-type: application/json' \\\n  --data '{\"replacement_type\":\"temporary\",\"old_assignee_id\":\"string\",\"new_assignee_ids\":[\"string\"],\"new_workflow_manager_id\":\"string\",\"start_date\":\"2019-08-24\",\"end_date\":\"2019-08-24\",\"modify_project_roles\":true,\"reason\":\"string\",\"project_ids\":[\"string\"],\"tools\":[{\"type\":\"string\",\"sub_type\":\"string\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests\"),\n    Content = new StringContent(\"{\\\"replacement_type\\\":\\\"temporary\\\",\\\"old_assignee_id\\\":\\\"string\\\",\\\"new_assignee_ids\\\":[\\\"string\\\"],\\\"new_workflow_manager_id\\\":\\\"string\\\",\\\"start_date\\\":\\\"2019-08-24\\\",\\\"end_date\\\":\\\"2019-08-24\\\",\\\"modify_project_roles\\\":true,\\\"reason\\\":\\\"string\\\",\\\"project_ids\\\":[\\\"string\\\"],\\\"tools\\\":[{\\\"type\\\":\\\"string\\\",\\\"sub_type\\\":\\\"string\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added POST /bulk_replace_requests endpoint",
      "description": "NEW FEATURES:\n- Added POST /companies/{company_id}/workflows/bulk_replace_requests endpoint",
      "endpoint": "POST /companies/{company_id}/workflows/bulk_replace_requests",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-31",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-bulk-replace-requests?version=2.0#create-workflow-bulk-replace-request"
     }
    ]
   },
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Workflow Bulk Replace Requests",
    "description": "Returns a list of workflows bulk replace requests.",
    "tags": [
     "Workflow Bulk Replace Requests"
    ],
    "parameters": [
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter bulk replace requests with matching status.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "active",
         "completed",
         "expired",
         "failed",
         "processing",
         "stopped",
         "upcoming"
        ]
       }
      }
     },
     {
      "name": "filters[old_assignee_ids]",
      "in": "query",
      "description": "Filter bulk replace requests with any of the matching old assignees.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[new_assignee_ids]",
      "in": "query",
      "description": "Filter bulk replace requests with any of the matching new assignees.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_by_id]",
      "in": "query",
      "description": "Filter bulk replace requests with any of the matching updated by users.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Filter bulk replace requests by replacement type (temporary or permanent).",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "temporary",
         "permanent"
        ]
       }
      }
     },
     {
      "name": "filters[start_date]",
      "in": "query",
      "description": "Filter bulk replace requests by start date range. Format: ISO 8601 date range \"YYYY-MM-DD...YYYY-MM-DD\".",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[end_date]",
      "in": "query",
      "description": "Filter bulk replace requests by end date range. Format: ISO 8601 date range \"YYYY-MM-DD...YYYY-MM-DD\".",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort the results by specified fields. Supported fields: updated_by, status, old_assignee, updated_at, start_date, end_date, type",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Workflow Bulk Replace Requests Index",
         "properties": {
          "data": {
           "type": "array",
           "description": "List of workflow bulk replace requests",
           "items": {
            "type": "object",
            "description": "Workflow Bulk Replace Request",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID of the bulk replace request",
              "example": "257"
             },
             "status": {
              "type": "string",
              "description": "Status of the bulk replace request",
              "example": "completed"
             },
             "replacement_type": {
              "type": "string",
              "description": "Replacement Type of the bulk replace request",
              "example": "temporary"
             },
             "old_assignee": {
              "type": "object",
              "description": "The old assignee to be replaced by the bulk replace request",
              "nullable": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Login Information ID",
                "example": "1738090"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User email",
                "example": "johndoe@example.com"
               }
              }
             },
             "new_assignees": {
              "type": "array",
              "description": "List of new assignees requested to replace the old assignee",
              "items": {
               "type": "object",
               "description": "Login Information",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Login Information ID",
                 "example": "1738090"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "John Doe"
                },
                "login": {
                 "type": "string",
                 "description": "User email",
                 "example": "johndoe@example.com"
                }
               }
              }
             },
             "new_workflow_manager": {
              "type": "object",
              "description": "Login Information",
              "nullable": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Login Information ID",
                "example": "1738090"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User email",
                "example": "johndoe@example.com"
               }
              }
             },
             "start_date": {
              "type": "string",
              "format": "date",
              "description": "Date the bulk replace request will start (only applies to requests with temporary replacement_type)",
              "example": "2018-04-20"
             },
             "end_date": {
              "type": "string",
              "format": "date",
              "description": "Date the bulk replace request will end (only applies to requests with temporary replacement_type)",
              "example": "2018-04-28"
             },
             "modify_project_roles": {
              "type": "boolean",
              "description": "Whether the bulk replace request should replace the assignees for project roles",
              "example": true
             },
             "project_ids": {
              "type": "array",
              "description": "List of project ids within which the bulk replace request will be applied (empty list means all projects)",
              "items": {
               "type": "string",
               "description": "ID of a project",
               "example": "6749"
              }
             },
             "tools": {
              "type": "array",
              "description": "List of tools to which the bulk replace request will be applied (empty list means all tools)",
              "items": {
               "type": "object",
               "properties": {
                "type": {
                 "type": "string",
                 "description": "The type of tool",
                 "example": "GenericToolItem"
                },
                "sub_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "The sub type of the tool",
                 "example": "-5193"
                }
               }
              }
             },
             "stopped_at": {
              "type": "string",
              "format": "date-time",
              "description": "When the bulk replace request was stopped",
              "example": "2018-04-20T16:20:57Z",
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date created",
              "example": "2018-04-20T16:20:57Z"
             },
             "created_by": {
              "type": "object",
              "description": "Login Information",
              "nullable": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Login Information ID",
                "example": "1738090"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User email",
                "example": "johndoe@example.com"
               }
              }
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date updated",
              "example": "2018-04-20T16:20:57Z"
             },
             "updated_by": {
              "type": "object",
              "description": "Login Information",
              "nullable": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Login Information ID",
                "example": "1738090"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User email",
                "example": "johndoe@example.com"
               }
              }
             },
             "has_errors": {
              "type": "boolean",
              "description": "Whether the bulk replace request has encountered errors",
              "example": false
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests',\n  qs: {\n    'filters[status]': 'SOME_ARRAY_VALUE',\n    'filters[old_assignee_ids]': 'SOME_ARRAY_VALUE',\n    'filters[new_assignee_ids]': 'SOME_ARRAY_VALUE',\n    'filters[updated_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[type]': 'SOME_ARRAY_VALUE',\n    'filters[start_date]': 'SOME_STRING_VALUE',\n    'filters[end_date]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests?filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bold_assignee_ids%5D=SOME_ARRAY_VALUE&filters%5Bnew_assignee_ids%5D=SOME_ARRAY_VALUE&filters%5Bupdated_by_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bstart_date%5D=SOME_STRING_VALUE&filters%5Bend_date%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests?filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bold_assignee_ids%5D=SOME_ARRAY_VALUE&filters%5Bnew_assignee_ids%5D=SOME_ARRAY_VALUE&filters%5Bupdated_by_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bstart_date%5D=SOME_STRING_VALUE&filters%5Bend_date%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests?filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bold_assignee_ids%5D=SOME_ARRAY_VALUE&filters%5Bnew_assignee_ids%5D=SOME_ARRAY_VALUE&filters%5Bupdated_by_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bstart_date%5D=SOME_STRING_VALUE&filters%5Bend_date%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Enhanced filtering and sorting capabilities",
      "description": "NEW FEATURES (list behavior first shipped on the private index; `endpoint` is the public list contract):\n- Added `filters[type]` parameter to filter by replacement type (alias for replacement_type)\n- Enhanced `filters[old_assignee_ids]` parameter to support multi-select filtering (accepts arrays)\n- Enhanced `filters[updated_by_id]` parameter to support multi-select filtering (accepts arrays)\n- Added `type` as an alias for `replacement_type` in sorting for consistency\n- Added comprehensive sorting support for: updated_by_id, status, old_assignee_id, updated_at, start_date, end_date, type\n- Enhanced multi-select filtering for assignee-based parameters",
      "endpoint": "GET /companies/{company_id}/workflows/bulk_replace_requests",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-03",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-bulk-replace-requests?version=2.0#list-workflow-bulk-replace-requests"
     },
     {
      "summary": "V2 API Release",
      "description": "New REST V2 Workflows v2 resource for bulk assignee management (private index when introduced; `endpoint` is the public list used for changelog binding).",
      "endpoint": "GET /companies/{company_id}/workflows/bulk_replace_requests",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-08-12",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-bulk-replace-requests?version=2.0#list-workflow-bulk-replace-requests"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/workflows/bulk_replace_requests/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the workflow bulk replace request.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Workflow Bulk Replace Request",
    "description": "Returns a workflows bulk replace request.",
    "tags": [
     "Workflow Bulk Replace Requests"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Workflow Bulk Replace Requests Show",
         "properties": {
          "data": {
           "type": "object",
           "description": "Workflow bulk replace request",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID of the bulk replace request",
             "example": "257"
            },
            "status": {
             "type": "string",
             "description": "Status of the bulk replace request",
             "example": "completed"
            },
            "replacement_type": {
             "type": "string",
             "description": "Replacement Type of the bulk replace request",
             "example": "temporary"
            },
            "old_assignee": {
             "type": "object",
             "description": "Login Information",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "Login Information ID",
               "example": "1738090"
              },
              "name": {
               "type": "string",
               "description": "User name",
               "example": "John Doe"
              },
              "login": {
               "type": "string",
               "description": "User email",
               "example": "johndoe@example.com"
              }
             }
            },
            "new_assignees": {
             "type": "array",
             "description": "List of new assignees requested to replace the old assignee",
             "items": {
              "type": "object",
              "description": "Login Information",
              "nullable": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Login Information ID",
                "example": "1738090"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User email",
                "example": "johndoe@example.com"
               }
              }
             }
            },
            "new_workflow_manager": {
             "type": "object",
             "description": "Login Information",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "Login Information ID",
               "example": "1738090"
              },
              "name": {
               "type": "string",
               "description": "User name",
               "example": "John Doe"
              },
              "login": {
               "type": "string",
               "description": "User email",
               "example": "johndoe@example.com"
              }
             }
            },
            "start_date": {
             "type": "string",
             "format": "date",
             "description": "Date the bulk replace request will start (only applies to requests with temporary replacement_type)",
             "example": "2018-04-20"
            },
            "end_date": {
             "type": "string",
             "format": "date",
             "description": "Date the bulk replace request will end (only applies to requests with temporary replacement_type)",
             "example": "2018-04-28"
            },
            "modify_project_roles": {
             "type": "boolean",
             "description": "Whether the bulk replace request should replace the assignees for project roles",
             "example": true
            },
            "project_ids": {
             "type": "array",
             "description": "List of project ids within which the bulk replace request will be applied (empty list means all projects)",
             "items": {
              "type": "string",
              "description": "ID of a project",
              "example": "6749"
             }
            },
            "tools": {
             "type": "array",
             "description": "List of tools that share the same bulk replace request error for the same project or company",
             "items": {
              "type": "object",
              "properties": {
               "type": {
                "type": "string",
                "description": "The type of tool",
                "example": "GenericToolItem"
               },
               "sub_type": {
                "type": "string",
                "nullable": true,
                "description": "The sub type of the tool",
                "example": "-5193"
               }
              }
             }
            },
            "stopped_at": {
             "type": "string",
             "format": "date-time",
             "description": "When the bulk replace request was stopped",
             "example": "2018-04-20T16:20:57Z",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date created",
             "example": "2018-04-20T16:20:57Z"
            },
            "created_by": {
             "type": "object",
             "description": "Login Information",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "Login Information ID",
               "example": "1738090"
              },
              "name": {
               "type": "string",
               "description": "User name",
               "example": "John Doe"
              },
              "login": {
               "type": "string",
               "description": "User email",
               "example": "johndoe@example.com"
              }
             }
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date updated",
             "example": "2018-04-20T16:20:57Z"
            },
            "updated_by": {
             "type": "object",
             "description": "Login Information",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "Login Information ID",
               "example": "1738090"
              },
              "name": {
               "type": "string",
               "description": "User name",
               "example": "John Doe"
              },
              "login": {
               "type": "string",
               "description": "User email",
               "example": "johndoe@example.com"
              }
             }
            },
            "errors": {
             "type": "array",
             "description": "Errors that were occurred for the bulk replace request",
             "nullable": true,
             "items": {
              "type": "object",
              "properties": {
               "tools": {
                "type": "array",
                "description": "List of tools that share the same bulk replace request error for the same project or company",
                "items": {
                 "type": "object",
                 "properties": {
                  "type": {
                   "type": "string",
                   "description": "The type of tool",
                   "example": "GenericToolItem"
                  },
                  "sub_type": {
                   "type": "string",
                   "nullable": true,
                   "description": "The sub type of the tool",
                   "example": "-5193"
                  }
                 }
                }
               },
               "provider_name": {
                "type": "string",
                "description": "Name of the provider (company or project) on which the error occurred",
                "example": "6749"
               },
               "project_id": {
                "type": "string",
                "nullable": true,
                "description": "ID of the project on which the error occurred",
                "example": "6749"
               },
               "user_ids": {
                "type": "array",
                "items": {
                 "type": "string",
                 "description": "ID of the login information for which bulk replace request failed",
                 "example": "3496"
                }
               },
               "error_type": {
                "type": "string",
                "description": "Type of error which occurred for the bulk replace request",
                "example": "Permission issue"
               },
               "error_message": {
                "type": "string",
                "description": "Message describing the error which occurred for the bulk replace request",
                "example": "Bob, Mary, and Tom does not have permission to access the Documents tool."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added GET /bulk_replace_requests/{id} endpoint",
      "description": "NEW FEATURES:\n- Added GET /companies/{company_id}/workflows/bulk_replace_requests/{id} endpoint",
      "endpoint": "GET /companies/{company_id}/workflows/bulk_replace_requests/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-31",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-bulk-replace-requests?version=2.0#show-workflow-bulk-replace-request"
     }
    ]
   },
   "put": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Workflow Bulk Replace Request",
    "description": "Updates an existing workflows bulk replace request. This API validates the input, updates the request record in the DB, and creates a new async operation record. The request must be temporary to be updated. The replacement type and original assignee cannot be changed. This API will queue another async operation even if the update does not introduce any changes, effectively \"retrying\" a request that previously contained errors.",
    "tags": [
     "Workflow Bulk Replace Requests"
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "new_assignee_ids": {
          "type": "array",
          "description": "Array of IDs for new assignees",
          "items": {
           "type": "string"
          }
         },
         "new_workflow_manager_id": {
          "type": "string",
          "description": "ID of the new workflow manager (optional)"
         },
         "start_date": {
          "type": "string",
          "format": "date",
          "description": "Start date for temporary replacements"
         },
         "end_date": {
          "type": "string",
          "format": "date",
          "description": "End date for temporary replacements"
         },
         "modify_project_roles": {
          "type": "boolean",
          "description": "Whether to modify project roles during replacement"
         },
         "reason": {
          "type": "string",
          "description": "Reason for the replacement"
         },
         "project_ids": {
          "type": "array",
          "description": "Array of project IDs to limit replacement scope (optional)",
          "items": {
           "type": "string"
          }
         },
         "tools": {
          "type": "array",
          "description": "Array of tool configurations to limit replacement scope (optional)",
          "items": {
           "type": "object",
           "properties": {
            "type": {
             "type": "string",
             "description": "Tool type"
            },
            "sub_type": {
             "type": "string",
             "description": "Tool sub-type"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted - Bulk replace request updated successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "bulk_replace_request_id": {
             "type": "string",
             "description": "ID of the updated bulk replace request"
            },
            "operation_id": {
             "type": "string",
             "description": "ID of the background operation processing the request"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - Request is not temporary or validation failed",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found - Request does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity - Validation errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    new_assignee_ids: ['string'],\n    new_workflow_manager_id: 'string',\n    start_date: '2019-08-24',\n    end_date: '2019-08-24',\n    modify_project_roles: true,\n    reason: 'string',\n    project_ids: ['string'],\n    tools: [{type: 'string', sub_type: 'string'}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"new_assignee_ids\\\":[\\\"string\\\"],\\\"new_workflow_manager_id\\\":\\\"string\\\",\\\"start_date\\\":\\\"2019-08-24\\\",\\\"end_date\\\":\\\"2019-08-24\\\",\\\"modify_project_roles\\\":true,\\\"reason\\\":\\\"string\\\",\\\"project_ids\\\":[\\\"string\\\"],\\\"tools\\\":[{\\\"type\\\":\\\"string\\\",\\\"sub_type\\\":\\\"string\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"new_assignee_ids\":[\"string\"],\"new_workflow_manager_id\":\"string\",\"start_date\":\"2019-08-24\",\"end_date\":\"2019-08-24\",\"modify_project_roles\":true,\"reason\":\"string\",\"project_ids\":[\"string\"],\"tools\":[{\"type\":\"string\",\"sub_type\":\"string\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"new_assignee_ids\\\":[\\\"string\\\"],\\\"new_workflow_manager_id\\\":\\\"string\\\",\\\"start_date\\\":\\\"2019-08-24\\\",\\\"end_date\\\":\\\"2019-08-24\\\",\\\"modify_project_roles\\\":true,\\\"reason\\\":\\\"string\\\",\\\"project_ids\\\":[\\\"string\\\"],\\\"tools\\\":[{\\\"type\\\":\\\"string\\\",\\\"sub_type\\\":\\\"string\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added update API for bulk replace requests",
      "description": "NEW FEATURES:\n- Added PUT /companies/{company_id}/workflows/bulk_replace_requests/{id} to update existing bulk replace requests\n- Only temporary replacement requests can be updated (permanent requests cannot be modified)\n- Supports updating assignees, workflow managers, dates, project roles, reason, project scope, and tool scope\n- Allows partial updates - only provided fields will be updated\n- Supports empty request body for retry functionality (re-queues async operation)\n- Creates new async operation for each update, even if no changes are made\n- Validates that all provided assignees and workflow managers are in the company directory\n- Returns 202 Accepted with operation ID for tracking the background processing",
      "endpoint": "PUT /companies/{company_id}/workflows/bulk_replace_requests/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-09-17",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-bulk-replace-requests?version=2.0#update-workflow-bulk-replace-request"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Stop Temporary Workflow Bulk Replace Request",
    "description": "Stops an existing temporary bulk replace request.",
    "tags": [
     "Workflow Bulk Replace Requests"
    ],
    "responses": {
     "202": {
      "description": "Accepted - Stop bulk replace request queued successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "operation_id": {
             "type": "string",
             "description": "ID of the background operation processing the request"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found - Request does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added DELETE /bulk_replace_requests/{id} endpoint",
      "description": "NEW FEATURES:\n- Added DELETE /companies/{company_id}/workflows/bulk_replace_requests/{id} endpoint",
      "endpoint": "DELETE /companies/{company_id}/workflows/bulk_replace_requests/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-31",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-bulk-replace-requests?version=2.0#stop-temporary-workflow-bulk-replace-request"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/workflows/bulk_replace_requests/{id}/errors": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the workflow bulk replace request.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Download Bulk Replace Request Errors CSV",
    "description": "Downloads a CSV file containing the errors for a bulk replace request. The CSV includes project or company information, tool details, error types, and error messages.",
    "tags": [
     "Workflow Bulk Replace Requests"
    ],
    "parameters": [
     {
      "name": "Accept",
      "in": "header",
      "description": "Must be set to text/csv for CSV download",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "text/csv"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success - CSV file downloaded",
      "headers": {
       "Content-Type": {
        "description": "MIME type for CSV",
        "schema": {
         "type": "string",
         "example": "text/csv; charset=UTF-8"
        }
       },
       "Content-Disposition": {
        "description": "Attachment header with filename",
        "schema": {
         "type": "string",
         "example": "attachment; filename=\"replacement_errors_john_doe.csv\""
        }
       },
       "Content-Length": {
        "description": "Size of the CSV file in bytes",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "text/csv": {
        "schema": {
         "type": "string",
         "format": "binary"
        },
        "example": "Project or Company Name,Tool Name,Error Type,Error Message\nSample Project,Subcontractor Invoice,Permission Error,User does not have permission to assign this tool\n"
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden - User does not have bulk manage assignees permission",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found - Request does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D/errors',\n  headers: {Accept: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Accept': \"SOME_STRING_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D/errors\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D/errors \\\n  --header 'Accept: SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/bulk_replace_requests/%7Bid%7D/errors\"),\n    Headers =\n    {\n        { \"Accept\", \"SOME_STRING_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added CSV download for bulk replace request errors",
      "description": "NEW FEATURES:\n- Added GET /companies/{company_id}/workflows/bulk_replace_requests/{id}/errors to download CSV files with error details\n- CSV files include project or company information, tool details, error types, and error messages\n- Dynamic filename generation based on old assignee name (e.g., \"replacement_errors_john_doe.csv\")\n- Requires Accept: text/csv header for CSV download\n- Returns 404 Not Found if the bulk replace request is not found; if the request exists and has no errors, returns 200 with a JSON message\n- Requires company admin access and bulk manage assignees granular permission\n- CSV columns: Project or Company Name, Tool Name, Error Type, Error Message\n- Proper HTTP headers for file download (Content-Type, Content-Disposition, Cache-Control)",
      "endpoint": "GET /companies/{company_id}/workflows/bulk_replace_requests/{id}/errors",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-11-07",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-bulk-replace-requests?version=2.0#download-bulk-replace-request-errors-csv"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}