{
 "openapi": "3.0.0",
 "info": {
  "title": "Workflow Tools",
  "x-product-category": "Core",
  "x-tool-category": "Workflows",
  "x-resource-name": "Workflow Tools",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/workflows/tools": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Tools Enabled for Workflows",
    "description": "Returns a list of workflowable tools for a given company.",
    "tags": [
     "Workflow Tools"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "description": "Workflow Tools (Index)",
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "name": {
              "type": "string",
              "description": "Translated display name of the tool",
              "example": "Purchase Order"
             },
             "type": {
              "type": "string",
              "description": "Tool type",
              "example": "purchase_order"
             },
             "provider": {
              "type": "string",
              "description": "Specifies the provider of the tool, either \"Project\" or \"Company\"",
              "enum": [
               "Project",
               "Company"
              ]
             },
             "subtype": {
              "type": "string",
              "description": "Tool subtype, for 'correspondence' tool only",
              "example": "-123456789",
              "nullable": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/tools'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/workflows/tools\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/tools"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/tools\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "V2 API Release",
      "description": "Part of our new batch of V2 APIs for Workflows.",
      "endpoint": "GET /companies/{company_id}/workflows/tools",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-01-23",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-tools?version=2.0#list-tools-enabled-for-workflows"
     }
    ]
   },
   "x-compliance-level": "partial"
  }
 }
}