{
 "openapi": "3.0.0",
 "info": {
  "title": "Workflow Instances (Flow Control)",
  "x-product-category": "Core",
  "x-tool-category": "Workflows",
  "x-resource-name": "Workflow Instances (Flow Control)",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/workflows/instances/{id}/restart": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the workflow instance.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Restart a Workflow Instance (Project)",
    "description": "Terminates the current instance and restarts a new instance from the beginning. Returns the new instance information.\n\n**Idempotency:** If the instance has already been restarted (i.e., it is already terminated and an active sibling instance exists), the endpoint returns 200 OK with the previously created instance instead of creating a duplicate. This makes the operation safe to retry.",
    "tags": [
     "Workflow Instances (Flow Control)"
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "restart_mode": {
          "type": "string",
          "enum": [
           "defaults",
           "current_configuration"
          ],
          "default": "defaults",
          "description": "Controls how the new workflow instance is configured. `defaults` uses the current company/project preset configuration. `current_configuration` uses the terminated instance's configuration (assignees, steps, workflow manager, distribution list)."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Workflow Instance (Show)",
         "properties": {
          "data": {
           "type": "object",
           "description": "Workflow instance details",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the workflow instance",
             "example": "123"
            },
            "tool_type": {
             "type": "string",
             "description": "The type of the associated tool",
             "example": "purchase_order_contract"
            },
            "tool_subtype": {
             "type": "string",
             "description": "The subtype of the associated tool (used for correspondence)",
             "example": null,
             "nullable": true
            },
            "item_id": {
             "type": "string",
             "description": "The associated item's ID",
             "example": "123"
            },
            "created_at": {
             "type": "string",
             "description": "Date when the instance was created",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z"
            },
            "updated_at": {
             "type": "string",
             "description": "Date when the instance was last updated",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z"
            },
            "started_at": {
             "type": "string",
             "description": "Date when the instance was started",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z",
             "nullable": true
            },
            "ended_at": {
             "type": "string",
             "description": "Date when the instance ended",
             "format": "date-time",
             "example": "2018-05-20T16:20:57Z",
             "nullable": true
            },
            "current_step_occurrence": {
             "type": "object",
             "description": "Details of the current workflow step",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique identifier for the step occurrence",
               "example": "123"
              },
              "step_uuid": {
               "type": "string",
               "description": "UUID of the current step",
               "example": "2d931510-d99f-494a-8c67-87feb05e1594"
              },
              "name": {
               "type": "string",
               "description": "Name of the current step",
               "example": "Architectural Review"
              },
              "started_at": {
               "type": "string",
               "description": "Date when the step was started",
               "format": "date-time",
               "example": "2018-04-20T16:20:57Z"
              },
              "overdue_at": {
               "type": "string",
               "description": "Date when the step became overdue",
               "format": "date-time",
               "example": "2018-04-20T16:20:57Z"
              },
              "step_histories": {
               "description": "History of assignee replacements for this step occurrence",
               "type": "array",
               "nullable": true,
               "items": {
                "type": "object",
                "properties": {
                 "title": {
                  "type": "string",
                  "description": "Event category title",
                  "example": "Assignees Replaced"
                 },
                 "subtitle": {
                  "type": "string",
                  "description": "Event timestamp for display",
                  "example": "2024-01-15T10:30:00Z"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "ISO timestamp for sorting against other assignee updates",
                  "example": "2024-01-15T10:30:00Z"
                 },
                 "icon": {
                  "type": "string",
                  "description": "Icon identifier for the event type",
                  "example": "gray-people"
                 },
                 "details": {
                  "type": "array",
                  "description": "Array of specific replacement details",
                  "items": {
                   "type": "object",
                   "properties": {
                    "title": {
                     "type": "string",
                     "nullable": true,
                     "description": "Optional detail title",
                     "example": "A temporary replacement failed/expired"
                    },
                    "description": {
                     "type": "string",
                     "description": "Human-readable description of the change",
                     "example": "Bob replaced Sally"
                    },
                    "subtitle": {
                     "type": "string",
                     "nullable": true,
                     "description": "Optional timestamp for the detail",
                     "example": "2024-01-15T10:30:00Z"
                    },
                    "icon": {
                     "type": "string",
                     "description": "Icon identifier for the detail type",
                     "example": "dark-people"
                    },
                    "fields": {
                     "type": "array",
                     "description": "Array of labeled field information",
                     "items": {
                      "type": "object",
                      "properties": {
                       "label": {
                        "type": "string",
                        "description": "Field label for display",
                        "example": "Change made by"
                       },
                       "value": {
                        "type": "string",
                        "description": "Field value",
                        "example": "John"
                       },
                       "type": {
                        "type": "string",
                        "description": "Field type for styling",
                        "example": "normal"
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              },
              "available_response_options": {
               "type": "array",
               "description": "List of available response options for the step",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID of the response option",
                  "example": "2387"
                 },
                 "response_type": {
                  "type": "string",
                  "description": "Type of the response",
                  "example": "APPROVE"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the response option",
                  "example": "Approve"
                 }
                }
               }
              },
              "individual_assignees": {
               "type": "array",
               "description": "Individual assignees for the current step, filtered by step UUID and enriched with login information",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Login information ID of the assignee",
                  "example": "161072"
                 },
                 "required": {
                  "type": "boolean",
                  "description": "Whether the assignee's response is required",
                  "example": true
                 },
                 "role_type": {
                  "type": "string",
                  "enum": [
                   "responder",
                   "commenter"
                  ],
                  "description": "Role of the individual assignee on this step.",
                  "example": "responder"
                 },
                 "name": {
                  "type": "string",
                  "description": "Full name of the assignee",
                  "example": "Carl the Contractor",
                  "nullable": true
                 },
                 "login": {
                  "type": "string",
                  "description": "Email login of the assignee",
                  "example": "carl.contractor@example.com",
                  "nullable": true
                 }
                }
               }
              },
              "notification_recipients": {
               "type": "array",
               "description": "List of notification recipients for the current step",
               "items": {
                "type": "object",
                "description": "Workflow assignee (id, login, name, company only)",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID of the assignee",
                  "example": "1"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the assignee",
                  "example": "Jane Doe"
                 },
                 "login": {
                  "type": "string",
                  "description": "Assignee login",
                  "example": "jane.doe@example.com"
                 },
                 "company": {
                  "type": "object",
                  "description": "Company of the assignee",
                  "nullable": true,
                  "properties": {
                   "name": {
                    "type": "string",
                    "description": "Name of the company",
                    "example": "Brickworks"
                   }
                  }
                 }
                },
                "required": [
                 "id",
                 "login",
                 "name",
                 "company"
                ]
               }
              },
              "response_occurrences": {
               "type": "array",
               "description": "List of response occurrences for the step",
               "items": {
                "type": "object",
                "properties": {
                 "submitted_at": {
                  "type": "string",
                  "description": "Date when the response was submitted",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2018-04-20T16:20:57Z"
                 },
                 "selected_response_option": {
                  "type": "object",
                  "description": "The selected response option, or null if not submitted",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID of the selected response option",
                    "example": "2387"
                   },
                   "response_type": {
                    "type": "string",
                    "description": "Type of the response",
                    "example": "APPROVE"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the response option",
                    "example": "Approve"
                   }
                  }
                 },
                 "comment": {
                  "type": "string",
                  "description": "Optional comment associated with the response",
                  "nullable": true,
                  "example": "Looks good to me!"
                 },
                 "attachments": {
                  "type": "array",
                  "description": "List of attachments associated with the response",
                  "items": {
                   "type": "object",
                   "properties": {
                    "name": {
                     "type": "string",
                     "description": "Name of the attachment",
                     "example": "photo.png"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL of the attachment",
                     "format": "uri",
                     "example": "https://some_aws_bucket.com/photo.png"
                    }
                   }
                  }
                 },
                 "role_type": {
                  "type": "string",
                  "enum": [
                   "responder",
                   "commenter"
                  ],
                  "description": "Role of the assignee on this response occurrence.",
                  "example": "responder"
                 },
                 "assignee": {
                  "type": "object",
                  "description": "Details of the response assignee",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID of the assignee",
                    "example": "133"
                   },
                   "login": {
                    "type": "string",
                    "description": "Login of the assignee",
                    "example": "marcia@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the assignee",
                    "example": "Marcia Example"
                   },
                   "company": {
                    "type": "object",
                    "description": "Company of the assignee",
                    "properties": {
                     "name": {
                      "type": "string",
                      "description": "Name of the company",
                      "example": "Brickworks"
                     }
                    }
                   },
                   "required": {
                    "type": "boolean",
                    "description": "Whether the assignee's response is required",
                    "example": true
                   }
                  }
                 },
                 "original_assignees": {
                  "type": "array",
                  "description": "Users on whose behalf this response was submitted via bulk assignee management. Empty array if not a substituted response.",
                  "items": {
                   "type": "object",
                   "description": "Login Information",
                   "nullable": true,
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Login Information ID",
                     "example": "1738090"
                    },
                    "name": {
                     "type": "string",
                     "description": "User name",
                     "example": "John Doe"
                    },
                    "login": {
                     "type": "string",
                     "description": "User email",
                     "example": "johndoe@example.com"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "workflow_manager": {
             "description": "Workflow manager",
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique identifier for the workflow manager",
               "example": "161072"
              },
              "login": {
               "type": "string",
               "description": "Workflow manager login",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name of the workflow manager",
               "example": "Carl the Contractor"
              },
              "company": {
               "type": "object",
               "description": "Workflow manager's company",
               "nullable": true,
               "properties": {
                "name": {
                 "type": "string",
                 "description": "Name of the company",
                 "example": "Procore"
                }
               }
              }
             }
            },
            "responsible_group_memberships": {
             "type": "array",
             "description": "List of responsible group memberships",
             "items": {
              "type": "object",
              "properties": {
               "responsible_group_uuid": {
                "type": "string",
                "description": "UUID of the responsible group",
                "example": "89891510-d99f-494a-8c67-87feb05e1594"
               },
               "name": {
                "type": "string",
                "nullable": true,
                "description": "Name of the responsible group",
                "example": "Approvers"
               },
               "assignees": {
                "type": "array",
                "description": "List of assignees in the group",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "ID of the assignee",
                   "example": "1"
                  },
                  "name": {
                   "type": "string",
                   "description": "Name of the assignee",
                   "example": "Jane Doe"
                  },
                  "login": {
                   "type": "string",
                   "description": "Assignee login",
                   "example": "jane.doe@example.com"
                  },
                  "company_name": {
                   "type": "string",
                   "nullable": true,
                   "description": "Vendor company name for the assignee when one is associated in the requested company context",
                   "example": "Brickworks"
                  }
                 }
                }
               }
              }
             }
            },
            "all_assignees": {
             "type": "array",
             "description": "List of all current assignees across all steps of the workflow. Includes fully resolved project role assignments and accounts for temporary replacements.",
             "items": {
              "type": "object",
              "description": "Workflow assignee (id, login, name, company only)",
              "properties": {
               "id": {
                "type": "string",
                "description": "ID of the assignee",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "Name of the assignee",
                "example": "Jane Doe"
               },
               "login": {
                "type": "string",
                "description": "Assignee login",
                "example": "jane.doe@example.com"
               },
               "company": {
                "type": "object",
                "description": "Company of the assignee",
                "nullable": true,
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "Name of the company",
                  "example": "Brickworks"
                 }
                }
               }
              },
              "required": [
               "id",
               "login",
               "name",
               "company"
              ]
             }
            },
            "template_version_id": {
             "type": "string",
             "description": "ID of the template version",
             "example": "123"
            },
            "created_by": {
             "type": "object",
             "description": "User who created the workflow instance",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "ID of the user who created the workflow",
               "example": "161072"
              },
              "login": {
               "type": "string",
               "description": "Login/email of the user who created the workflow",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name of the user who created the workflow",
               "example": "Carl the Contractor"
              },
              "company": {
               "type": "object",
               "description": "Company of the user",
               "nullable": true,
               "properties": {
                "name": {
                 "type": "string",
                 "description": "Name of the company",
                 "example": "Procore"
                }
               }
              }
             }
            }
           }
          }
         },
         "required": [
          "id",
          "tool_type",
          "tool_subtype",
          "item_id",
          "created_at",
          "updated_at",
          "started_at",
          "ended_at",
          "current_step_occurrence",
          "workflow_manager",
          "responsible_group_memberships",
          "template_version_id"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/workflows/instances/%7Bid%7D/restart',\n  headers: {'content-type': 'application/json'},\n  body: {restart_mode: 'defaults'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"restart_mode\\\":\\\"defaults\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/workflows/instances/%7Bid%7D/restart\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/workflows/instances/%7Bid%7D/restart \\\n  --header 'content-type: application/json' \\\n  --data '{\"restart_mode\":\"defaults\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/workflows/instances/%7Bid%7D/restart\"),\n    Content = new StringContent(\"{\\\"restart_mode\\\":\\\"defaults\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added responsible group name to instance memberships",
      "description": "Added a nullable `name` field on each `responsible_group_memberships[]` entry in the workflow instance response.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/restart",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-flow-control?version=2.0#restart-a-workflow-instance-project"
     },
     {
      "summary": "New restart_mode parameter for workflow instance restart",
      "description": "Added an optional `restart_mode` request body parameter to the restart endpoint. Accepts two values:\n- `defaults` (default): Restarts using the current company/project preset configuration (existing behavior).\n- `current_configuration`: Restarts preserving the terminated instance's core configuration (assignees, steps, workflow manager, distribution list).\n\nWhen omitted, the parameter defaults to `defaults`, preserving full backward compatibility.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/restart",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-20",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-flow-control?version=2.0#restart-a-workflow-instance-project"
     },
     {
      "summary": "New instance restart API",
      "description": "New REST V2 API for restarting a project workflow instance.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/workflows/instances/{id}/restart",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-06-15",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-flow-control?version=2.0#restart-a-workflow-instance-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/workflows/instances/{id}/restart": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the workflow instance.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Restart a Workflow Instance (Company)",
    "description": "Terminates the current instance and restarts a new instance from the beginning. Returns the new instance information.\n\n**Idempotency:** If the instance has already been restarted (i.e., it is already terminated and an active sibling instance exists), the endpoint returns 200 OK with the previously created instance instead of creating a duplicate.",
    "tags": [
     "Workflow Instances (Flow Control)"
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "restart_mode": {
          "type": "string",
          "enum": [
           "defaults",
           "current_configuration"
          ],
          "default": "defaults",
          "description": "Controls how the new workflow instance is configured. `defaults` uses the current company/project preset configuration. `current_configuration` uses the terminated instance's configuration (assignees, steps, workflow manager, distribution list)."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Workflow Instance (Show)",
         "properties": {
          "data": {
           "type": "object",
           "description": "Workflow instance details",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the workflow instance",
             "example": "123"
            },
            "tool_type": {
             "type": "string",
             "description": "The type of the associated tool",
             "example": "purchase_order_contract"
            },
            "tool_subtype": {
             "type": "string",
             "description": "The subtype of the associated tool (used for correspondence)",
             "example": null,
             "nullable": true
            },
            "item_id": {
             "type": "string",
             "description": "The associated item's ID",
             "example": "123"
            },
            "created_at": {
             "type": "string",
             "description": "Date when the instance was created",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z"
            },
            "updated_at": {
             "type": "string",
             "description": "Date when the instance was last updated",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z"
            },
            "started_at": {
             "type": "string",
             "description": "Date when the instance was started",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z",
             "nullable": true
            },
            "ended_at": {
             "type": "string",
             "description": "Date when the instance ended",
             "format": "date-time",
             "example": "2018-05-20T16:20:57Z",
             "nullable": true
            },
            "current_step_occurrence": {
             "type": "object",
             "description": "Details of the current workflow step",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique identifier for the step occurrence",
               "example": "123"
              },
              "step_uuid": {
               "type": "string",
               "description": "UUID of the current step",
               "example": "2d931510-d99f-494a-8c67-87feb05e1594"
              },
              "name": {
               "type": "string",
               "description": "Name of the current step",
               "example": "Architectural Review"
              },
              "started_at": {
               "type": "string",
               "description": "Date when the step was started",
               "format": "date-time",
               "example": "2018-04-20T16:20:57Z"
              },
              "overdue_at": {
               "type": "string",
               "description": "Date when the step became overdue",
               "format": "date-time",
               "example": "2018-04-20T16:20:57Z"
              },
              "step_histories": {
               "description": "History of assignee replacements for this step occurrence",
               "type": "array",
               "nullable": true,
               "items": {
                "type": "object",
                "properties": {
                 "title": {
                  "type": "string",
                  "description": "Event category title",
                  "example": "Assignees Replaced"
                 },
                 "subtitle": {
                  "type": "string",
                  "description": "Event timestamp for display",
                  "example": "2024-01-15T10:30:00Z"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "ISO timestamp for sorting against other assignee updates",
                  "example": "2024-01-15T10:30:00Z"
                 },
                 "icon": {
                  "type": "string",
                  "description": "Icon identifier for the event type",
                  "example": "gray-people"
                 },
                 "details": {
                  "type": "array",
                  "description": "Array of specific replacement details",
                  "items": {
                   "type": "object",
                   "properties": {
                    "title": {
                     "type": "string",
                     "nullable": true,
                     "description": "Optional detail title",
                     "example": "A temporary replacement failed/expired"
                    },
                    "description": {
                     "type": "string",
                     "description": "Human-readable description of the change",
                     "example": "Bob replaced Sally"
                    },
                    "subtitle": {
                     "type": "string",
                     "nullable": true,
                     "description": "Optional timestamp for the detail",
                     "example": "2024-01-15T10:30:00Z"
                    },
                    "icon": {
                     "type": "string",
                     "description": "Icon identifier for the detail type",
                     "example": "dark-people"
                    },
                    "fields": {
                     "type": "array",
                     "description": "Array of labeled field information",
                     "items": {
                      "type": "object",
                      "properties": {
                       "label": {
                        "type": "string",
                        "description": "Field label for display",
                        "example": "Change made by"
                       },
                       "value": {
                        "type": "string",
                        "description": "Field value",
                        "example": "John"
                       },
                       "type": {
                        "type": "string",
                        "description": "Field type for styling",
                        "example": "normal"
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              },
              "available_response_options": {
               "type": "array",
               "description": "List of available response options for the step",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID of the response option",
                  "example": "2387"
                 },
                 "response_type": {
                  "type": "string",
                  "description": "Type of the response",
                  "example": "APPROVE"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the response option",
                  "example": "Approve"
                 }
                }
               }
              },
              "individual_assignees": {
               "type": "array",
               "description": "Individual assignees for the current step, filtered by step UUID and enriched with login information",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Login information ID of the assignee",
                  "example": "161072"
                 },
                 "required": {
                  "type": "boolean",
                  "description": "Whether the assignee's response is required",
                  "example": true
                 },
                 "role_type": {
                  "type": "string",
                  "enum": [
                   "responder",
                   "commenter"
                  ],
                  "description": "Role of the individual assignee on this step.",
                  "example": "responder"
                 },
                 "name": {
                  "type": "string",
                  "description": "Full name of the assignee",
                  "example": "Carl the Contractor",
                  "nullable": true
                 },
                 "login": {
                  "type": "string",
                  "description": "Email login of the assignee",
                  "example": "carl.contractor@example.com",
                  "nullable": true
                 }
                }
               }
              },
              "notification_recipients": {
               "type": "array",
               "description": "List of notification recipients for the current step",
               "items": {
                "type": "object",
                "description": "Workflow assignee (id, login, name, company only)",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID of the assignee",
                  "example": "1"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the assignee",
                  "example": "Jane Doe"
                 },
                 "login": {
                  "type": "string",
                  "description": "Assignee login",
                  "example": "jane.doe@example.com"
                 },
                 "company": {
                  "type": "object",
                  "description": "Company of the assignee",
                  "nullable": true,
                  "properties": {
                   "name": {
                    "type": "string",
                    "description": "Name of the company",
                    "example": "Brickworks"
                   }
                  }
                 }
                },
                "required": [
                 "id",
                 "login",
                 "name",
                 "company"
                ]
               }
              },
              "response_occurrences": {
               "type": "array",
               "description": "List of response occurrences for the step",
               "items": {
                "type": "object",
                "properties": {
                 "submitted_at": {
                  "type": "string",
                  "description": "Date when the response was submitted",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2018-04-20T16:20:57Z"
                 },
                 "selected_response_option": {
                  "type": "object",
                  "description": "The selected response option, or null if not submitted",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID of the selected response option",
                    "example": "2387"
                   },
                   "response_type": {
                    "type": "string",
                    "description": "Type of the response",
                    "example": "APPROVE"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the response option",
                    "example": "Approve"
                   }
                  }
                 },
                 "comment": {
                  "type": "string",
                  "description": "Optional comment associated with the response",
                  "nullable": true,
                  "example": "Looks good to me!"
                 },
                 "attachments": {
                  "type": "array",
                  "description": "List of attachments associated with the response",
                  "items": {
                   "type": "object",
                   "properties": {
                    "name": {
                     "type": "string",
                     "description": "Name of the attachment",
                     "example": "photo.png"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL of the attachment",
                     "format": "uri",
                     "example": "https://some_aws_bucket.com/photo.png"
                    }
                   }
                  }
                 },
                 "role_type": {
                  "type": "string",
                  "enum": [
                   "responder",
                   "commenter"
                  ],
                  "description": "Role of the assignee on this response occurrence.",
                  "example": "responder"
                 },
                 "assignee": {
                  "type": "object",
                  "description": "Details of the response assignee",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID of the assignee",
                    "example": "133"
                   },
                   "login": {
                    "type": "string",
                    "description": "Login of the assignee",
                    "example": "marcia@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the assignee",
                    "example": "Marcia Example"
                   },
                   "company": {
                    "type": "object",
                    "description": "Company of the assignee",
                    "properties": {
                     "name": {
                      "type": "string",
                      "description": "Name of the company",
                      "example": "Brickworks"
                     }
                    }
                   },
                   "required": {
                    "type": "boolean",
                    "description": "Whether the assignee's response is required",
                    "example": true
                   }
                  }
                 },
                 "original_assignees": {
                  "type": "array",
                  "description": "Users on whose behalf this response was submitted via bulk assignee management. Empty array if not a substituted response.",
                  "items": {
                   "type": "object",
                   "description": "Login Information",
                   "nullable": true,
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Login Information ID",
                     "example": "1738090"
                    },
                    "name": {
                     "type": "string",
                     "description": "User name",
                     "example": "John Doe"
                    },
                    "login": {
                     "type": "string",
                     "description": "User email",
                     "example": "johndoe@example.com"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "workflow_manager": {
             "description": "Workflow manager",
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique identifier for the workflow manager",
               "example": "161072"
              },
              "login": {
               "type": "string",
               "description": "Workflow manager login",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name of the workflow manager",
               "example": "Carl the Contractor"
              },
              "company": {
               "type": "object",
               "description": "Workflow manager's company",
               "nullable": true,
               "properties": {
                "name": {
                 "type": "string",
                 "description": "Name of the company",
                 "example": "Procore"
                }
               }
              }
             }
            },
            "responsible_group_memberships": {
             "type": "array",
             "description": "List of responsible group memberships",
             "items": {
              "type": "object",
              "properties": {
               "responsible_group_uuid": {
                "type": "string",
                "description": "UUID of the responsible group",
                "example": "89891510-d99f-494a-8c67-87feb05e1594"
               },
               "name": {
                "type": "string",
                "nullable": true,
                "description": "Name of the responsible group",
                "example": "Approvers"
               },
               "assignees": {
                "type": "array",
                "description": "List of assignees in the group",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "ID of the assignee",
                   "example": "1"
                  },
                  "name": {
                   "type": "string",
                   "description": "Name of the assignee",
                   "example": "Jane Doe"
                  },
                  "login": {
                   "type": "string",
                   "description": "Assignee login",
                   "example": "jane.doe@example.com"
                  },
                  "company_name": {
                   "type": "string",
                   "nullable": true,
                   "description": "Vendor company name for the assignee when one is associated in the requested company context",
                   "example": "Brickworks"
                  }
                 }
                }
               }
              }
             }
            },
            "all_assignees": {
             "type": "array",
             "description": "List of all current assignees across all steps of the workflow. Includes fully resolved project role assignments and accounts for temporary replacements.",
             "items": {
              "type": "object",
              "description": "Workflow assignee (id, login, name, company only)",
              "properties": {
               "id": {
                "type": "string",
                "description": "ID of the assignee",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "Name of the assignee",
                "example": "Jane Doe"
               },
               "login": {
                "type": "string",
                "description": "Assignee login",
                "example": "jane.doe@example.com"
               },
               "company": {
                "type": "object",
                "description": "Company of the assignee",
                "nullable": true,
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "Name of the company",
                  "example": "Brickworks"
                 }
                }
               }
              },
              "required": [
               "id",
               "login",
               "name",
               "company"
              ]
             }
            },
            "template_version_id": {
             "type": "string",
             "description": "ID of the template version",
             "example": "123"
            },
            "created_by": {
             "type": "object",
             "description": "User who created the workflow instance",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "ID of the user who created the workflow",
               "example": "161072"
              },
              "login": {
               "type": "string",
               "description": "Login/email of the user who created the workflow",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name of the user who created the workflow",
               "example": "Carl the Contractor"
              },
              "company": {
               "type": "object",
               "description": "Company of the user",
               "nullable": true,
               "properties": {
                "name": {
                 "type": "string",
                 "description": "Name of the company",
                 "example": "Procore"
                }
               }
              }
             }
            }
           }
          }
         },
         "required": [
          "id",
          "tool_type",
          "tool_subtype",
          "item_id",
          "created_at",
          "updated_at",
          "started_at",
          "ended_at",
          "current_step_occurrence",
          "workflow_manager",
          "responsible_group_memberships",
          "template_version_id"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/instances/%7Bid%7D/restart',\n  headers: {'content-type': 'application/json'},\n  body: {restart_mode: 'defaults'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"restart_mode\\\":\\\"defaults\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/workflows/instances/%7Bid%7D/restart\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/instances/%7Bid%7D/restart \\\n  --header 'content-type: application/json' \\\n  --data '{\"restart_mode\":\"defaults\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/workflows/instances/%7Bid%7D/restart\"),\n    Content = new StringContent(\"{\\\"restart_mode\\\":\\\"defaults\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added responsible group name to instance memberships",
      "description": "Added a nullable `name` field on each `responsible_group_memberships[]` entry in the workflow instance response.",
      "endpoint": "POST /companies/{company_id}/workflows/instances/{id}/restart",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-flow-control?version=2.0#restart-a-workflow-instance-company"
     },
     {
      "summary": "New restart_mode parameter for workflow instance restart (company)",
      "description": "Added an optional `restart_mode` request body parameter to the company-level restart endpoint. Same behavior as the project-level endpoint.",
      "endpoint": "POST /companies/{company_id}/workflows/instances/{id}/restart",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-20",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-flow-control?version=2.0#restart-a-workflow-instance-company"
     },
     {
      "summary": "New instance restart API",
      "description": "New REST V2 API for restarting a company workflow instance.",
      "endpoint": "POST /companies/{company_id}/workflows/instances/{id}/restart",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-06-15",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "workflow-instances-flow-control?version=2.0#restart-a-workflow-instance-company"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/workflows/instances/{id}/refresh": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the workflow instance.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Refresh a Workflow Instance (Project)",
    "description": "Refreshes and retries a blocked project workflow instance. Updates role assignees and retries failed steps.",
    "tags": [
     "Workflow Instances (Flow Control)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Workflow Instance (Show)",
         "properties": {
          "data": {
           "type": "object",
           "description": "Workflow instance details",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the workflow instance",
             "example": "123"
            },
            "tool_type": {
             "type": "string",
             "description": "The type of the associated tool",
             "example": "purchase_order_contract"
            },
            "tool_subtype": {
             "type": "string",
             "description": "The subtype of the associated tool (used for correspondence)",
             "example": null,
             "nullable": true
            },
            "item_id": {
             "type": "string",
             "description": "The associated item's ID",
             "example": "123"
            },
            "created_at": {
             "type": "string",
             "description": "Date when the instance was created",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z"
            },
            "updated_at": {
             "type": "string",
             "description": "Date when the instance was last updated",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z"
            },
            "started_at": {
             "type": "string",
             "description": "Date when the instance was started",
             "format": "date-time",
             "example": "2018-04-20T16:20:57Z",
             "nullable": true
            },
            "ended_at": {
             "type": "string",
             "description": "Date when the instance ended",
             "format": "date-time",
             "example": "2018-05-20T16:20:57Z",
             "nullable": true
            },
            "current_step_occurrence": {
             "type": "object",
             "description": "Details of the current workflow step",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique identifier for the step occurrence",
               "example": "123"
              },
              "step_uuid": {
               "type": "string",
               "description": "UUID of the current step",
               "example": "2d931510-d99f-494a-8c67-87feb05e1594"
              },
              "name": {
               "type": "string",
               "description": "Name of the current step",
               "example": "Architectural Review"
              },
              "started_at": {
               "type": "string",
               "description": "Date when the step was started",
               "format": "date-time",
               "example": "2018-04-20T16:20:57Z"
              },
              "overdue_at": {
               "type": "string",
               "description": "Date when the step became overdue",
               "format": "date-time",
               "example": "2018-04-20T16:20:57Z"
              },
              "step_histories": {
               "description": "History of assignee replacements for this step occurrence",
               "type": "array",
               "nullable": true,
               "items": {
                "type": "object",
                "properties": {
                 "title": {
                  "type": "string",
                  "description": "Event category title",
                  "example": "Assignees Replaced"
                 },
                 "subtitle": {
                  "type": "string",
                  "description": "Event timestamp for display",
                  "example": "2024-01-15T10:30:00Z"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "ISO timestamp for sorting against other assignee updates",
                  "example": "2024-01-15T10:30:00Z"
                 },
                 "icon": {
                  "type": "string",
                  "description": "Icon identifier for the event type",
                  "example": "gray-people"
                 },
                 "details": {
                  "type": "array",
                  "description": "Array of specific replacement details",
                  "items": {
                   "type": "object",
                   "properties": {
                    "title": {
                     "type": "string",
                     "nullable": true,
                     "description": "Optional detail title",
                     "example": "A temporary replacement failed/expired"
                    },
                    "description": {
                     "type": "string",
                     "description": "Human-readable description of the change",
                     "example": "Bob replaced Sally"
                    },
                    "subtitle": {
                     "type": "string",
                     "nullable": true,
                     "description": "Optional timestamp for the detail",
                     "example": "2024-01-15T10:30:00Z"
                    },
                    "icon": {
                     "type": "string",
                     "description": "Icon identifier for the detail type",
                     "example": "dark-people"
                    },
                    "fields": {
                     "type": "array",
                     "description": "Array of labeled field information",
                     "items": {
                      "type": "object",
                      "properties": {
                       "label": {
                        "type": "string",
                        "description": "Field label for display",
                        "example": "Change made by"
                       },
                       "value": {
                        "type": "string",
                        "description": "Field value",
                        "example": "John"
                       },
                       "type": {
                        "type": "string",
                        "description": "Field type for styling",
                        "example": "normal"
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              },
              "available_response_options": {
               "type": "array",
               "description": "List of available response options for the step",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID of the response option",
                  "example": "2387"
                 },
                 "response_type": {
                  "type": "string",
                  "description": "Type of the response",
                  "example": "APPROVE"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the response option",
                  "example": "Approve"
                 }
                }
               }
              },
              "individual_assignees": {
               "type": "array",
               "description": "Individual assignees for the current step, filtered by step UUID and enriched with login information",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Login information ID of the assignee",
                  "example": "161072"
                 },
                 "required": {
                  "type": "boolean",
                  "description": "Whether the assignee's response is required",
                  "example": true
                 },
                 "role_type": {
                  "type": "string",
                  "enum": [
                   "responder",
                   "commenter"
                  ],
                  "description": "Role of the individual assignee on this step.",
                  "example": "responder"
                 },
                 "name": {
                  "type": "string",
                  "description": "Full name of the assignee",
                  "example": "Carl the Contractor",
                  "nullable": true
                 },
                 "login": {
                  "type": "string",
                  "description": "Email login of the assignee",
                  "example": "carl.contractor@example.com",
                  "nullable": true
                 }
                }
               }
              },
              "notification_recipients": {
               "type": "array",
               "description": "List of notification recipients for the current step",
               "items": {
                "type": "object",
                "description": "Workflow assignee (id, login, name, company only)",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID of the assignee",
                  "example": "1"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the assignee",
                  "example": "Jane Doe"
                 },
                 "login": {
                  "type": "string",
                  "description": "Assignee login",
                  "example": "jane.doe@example.com"
                 },
                 "company": {
                  "type": "object",
                  "description": "Company of the assignee",
                  "nullable": true,
                  "properties": {
                   "name": {
                    "type": "string",
                    "description": "Name of the company",
                    "example": "Brickworks"
                   }
                  }
                 }
                },
                "required": [
                 "id",
                 "login",
                 "name",
                 "company"
                ]
               }
              },
              "response_occurrences": {
               "type": "array",
               "description": "List of response occurrences for the step",
               "items": {
                "type": "object",
                "properties": {
                 "submitted_at": {
                  "type": "string",
                  "description": "Date when the response was submitted",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2018-04-20T16:20:57Z"
                 },
                 "selected_response_option": {
                  "type": "object",
                  "description": "The selected response option, or null if not submitted",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID of the selected response option",
                    "example": "2387"
                   },
                   "response_type": {
                    "type": "string",
                    "description": "Type of the response",
                    "example": "APPROVE"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the response option",
                    "example": "Approve"
                   }
                  }
                 },
                 "comment": {
                  "type": "string",
                  "description": "Optional comment associated with the response",
                  "nullable": true,
                  "example": "Looks good to me!"
                 },
                 "attachments": {
                  "type": "array",
                  "description": "List of attachments associated with the response",
                  "items": {
                   "type": "object",
                   "properties": {
                    "name": {
                     "type": "string",
                     "description": "Name of the attachment",
                     "example": "photo.png"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL of the attachment",
                     "format": "uri",
                     "example": "https://some_aws_bucket.com/photo.png"
                    }
                   }
                  }
                 },
                 "role_type": {
                  "type": "string",
                  "enum": [
                   "responder",
                   "commenter"
                  ],
                  "description": "Role of the assignee on this response occurrence.",
                  "example": "responder"
                 },
                 "assignee": {
                  "type": "object",
                  "description": "Details of the response assignee",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID of the assignee",
                    "example": "133"
                   },
                   "login": {
                    "type": "string",
                    "description": "Login of the assignee",
                    "example": "marcia@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the assignee",
                    "example": "Marcia Example"
                   },
                   "company": {
                    "type": "object",
                    "description": "Company of the assignee",
                    "properties": {
                     "name": {
                      "type": "string",
                      "description": "Name of the company",
                      "example": "Brickworks"
                     }
                    }
                   },
                   "required": {
                    "type": "boolean",
                    "description": "Whether the assignee's response is required",
                    "example": true
                   }
                  }
                 },
                 "original_assignees": {
                  "type": "array",
                  "description": "Users on whose behalf this response was submitted via bulk assignee management. Empty array if not a substituted response.",
                  "items": {
                   "type": "object",
                   "description": "Login Information",
                   "nullable": true,
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Login Information ID",
                     "example": "1738090"
                    },
                    "name": {
                     "type": "string",
                     "description": "User name",
                     "example": "John Doe"
                    },
                    "login": {
                     "type": "string",
                     "description": "User email",
                     "example": "johndoe@example.com"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "workflow_manager": {
             "description": "Workflow manager",
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique identifier for the workflow manager",
               "example": "161072"
              },
              "login": {
               "type": "string",
               "description": "Workflow manager login",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name of the workflow manager",
               "example": "Carl the Contractor"
              },
              "company": {
               "type": "object",
               "description": "Workflow manager's company",
               "nullable": true,
               "properties": {
                "name": {
                 "type": "string",
                 "description": "Name of the company",
                 "example": "Procore"
                }
               }
              }
             }
            },
            "responsible_group_memberships": {
             "type": "array",
             "description": "List of responsible group memberships",
             "items": {
              "type": "object",
              "properties": {
               "responsible_group_uuid": {
                "type": "string",
                "description": "UUID of the responsible group",
                "example": "89891510-d99f-494a-8c67-87feb05e1594"
               },
               "name": {
                "type": "string",
                "nullable": true,
                "description": "Name of the responsible group",
                "example": "Approvers"
               },
               "assignees": {
                "type": "array",
                "description": "List of assignees in the group",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "ID of the assignee",
                   "example": "1"
                  },
                  "name": {
                   "type": "string",
                   "description": "Name of the assignee",
                   "example": "Jane Doe"
                  },
                  "login": {
                   "type": "string",
                   "description": "Assignee login",
                   "example": "jane.doe@example.com"
                  },
                  "company_name": {
                   "type": "string",
                   "nullable": true,
                   "description": "Vendor company name for the assignee when one is associated in the requested company context",
                   "example": "Brickworks"
                  }
                 }
                }
               }
              }
             }
            },
            "all_assignees": {
             "type": "array",
             "description": "List of all current assignees across all steps of the workflow. Includes fully resolved project role assignments and accounts for temporary replacements.",
             "items": {
              "type": "object",
              "description": "Workflow assignee (id, login, name, company only)",
              "properties": {
               "id": {
                "type": "string",
                "description": "ID of the assignee",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "Name of the assignee",
                "example": "Jane Doe"
               },
               "login": {
                "type": "string",
                "description": "Assignee login",
                "example": "jane.doe@example.com"
               },
               "company": {
                "type": "object",
                "description": "Company of the assignee",
                "nullable": true,
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "Name of the company",
                  "example": "Brickworks"
                 }
                }
               }
              },
              "required": [
               "id",
               "login",
               "name",
               "company"
              ]
             }
            },
            "template_version_id": {
             "type": "string",
             "description": "ID of the template version",
             "example": "123"
            },
            "created_by": {
             "type": "object",
             "description": "User who created the workflow instance",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "ID of the user who created the workflow",
               "example": "161072"
              },
              "login": {
               "type": "string",
               "description": "Login/email of the user who created the workflow",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name of the user who created the workflow",
               "example": "Carl the Contractor"
              },
              "company": {
               "type": "object",
               "description": "Company of the user",
               "nullable": true,
               "properties": {
                "name": {
                 "type": "string",
                 "description": "Name of the company",
                 "example": "Procore"
                }
               }
              }
             }
            }
           }
          }
         },
         "required": [
          "id",
          "tool_type",
          "tool_subtype",
          "item_id",
          "created_at",
          "updated_at",
          "started_at",
          "ended_at",
          "current_step_occurrence",
          "workflow_manager",
          "responsible_group_memberships",
          "template_version_id"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
[...]
