{
 "openapi": "3.0.0",
 "info": {
  "title": "Work Classification - Company Level",
  "x-product-category": "Company Admin",
  "x-tool-category": "Company Settings",
  "x-resource-name": "Work Classification - Company Level",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/work_classifications": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List all Classification",
    "description": "Return a list of all Classification with details for a specified company.",
    "tags": [
     "Work Classification"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "serializer_view",
      "in": "query",
      "description": "The data set that should be returned from the serializer. Default view is normal.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "extended",
        "ids_only",
        "normal"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Classification",
         "items": {
          "type": "object",
          "description": "Work Classification",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 57869
           },
           "name": {
            "type": "string",
            "description": "The name of the classification",
            "example": "Driver"
           },
           "abbreviation": {
            "type": "string",
            "description": "The shortened form of classification",
            "example": "DR1"
           },
           "company_id": {
            "type": "integer",
            "description": "The comapny ID the classification was created with",
            "example": 1
           },
           "deletable": {
            "type": "boolean",
            "description": "Indicates if the classification can be deleted",
            "example": true,
            "readOnly": true
           },
           "company_visible": {
            "type": "boolean",
            "description": "Is the classification visible as a company classification",
            "example": false
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the classification was updated",
            "example": "2019-12-10T22:10:33Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the classification was created",
            "example": "2019-12-10T22:10:33Z"
           },
           "created_by_id": {
            "type": "integer",
            "description": "The user ID the classification was created with",
            "example": 7
           },
           "project_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Project ids the classification has belongs to",
             "example": [
              2,
              4,
              56,
              78
             ]
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    serializer_view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&serializer_view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&serializer_view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&serializer_view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Classification",
    "description": "Create a new Classification associated with the specified company.",
    "tags": [
     "Work Classification"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Work Classification Body",
        "type": "object",
        "required": [
         "work_classification"
        ],
        "properties": {
         "work_classification": {
          "title": "WorkClassification",
          "type": "object",
          "description": "Work Classification Object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the classification",
            "example": "Driver"
           },
           "abbreviation": {
            "type": "string",
            "description": "The shortened form of classification",
            "example": "DR1"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Classification Created Succesfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Work Classification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 57869
          },
          "name": {
           "type": "string",
           "description": "The name of the classification",
           "example": "Driver"
          },
          "abbreviation": {
           "type": "string",
           "description": "The shortened form of classification",
           "example": "DR1"
          },
          "company_id": {
           "type": "integer",
           "description": "The comapny ID the classification was created with",
           "example": 1
          },
          "deletable": {
           "type": "boolean",
           "description": "Indicates if the classification can be deleted",
           "example": true,
           "readOnly": true
          },
          "company_visible": {
           "type": "boolean",
           "description": "Is the classification visible as a company classification",
           "example": false
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the classification was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the classification was created",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_by_id": {
           "type": "integer",
           "description": "The user ID the classification was created with",
           "example": 7
          },
          "project_ids": {
           "type": "array",
           "items": {
            "type": "integer",
            "description": "Project ids the classification has belongs to",
            "example": [
             2,
             4,
             56,
             78
            ]
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating a Classification",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications',\n  headers: {'content-type': 'application/json'},\n  body: {work_classification: {name: 'Driver', abbreviation: 'DR1'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"work_classification\\\":{\\\"name\\\":\\\"Driver\\\",\\\"abbreviation\\\":\\\"DR1\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications \\\n  --header 'content-type: application/json' \\\n  --data '{\"work_classification\":{\"name\":\"Driver\",\"abbreviation\":\"DR1\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications\"),\n    Content = new StringContent(\"{\\\"work_classification\\\":{\\\"name\\\":\\\"Driver\\\",\\\"abbreviation\\\":\\\"DR1\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/work_classifications/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Classification",
    "description": "Return Classification detailed information.",
    "tags": [
     "Work Classification"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Work Classification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 57869
          },
          "name": {
           "type": "string",
           "description": "The name of the classification",
           "example": "Driver"
          },
          "abbreviation": {
           "type": "string",
           "description": "The shortened form of classification",
           "example": "DR1"
          },
          "company_id": {
           "type": "integer",
           "description": "The comapny ID the classification was created with",
           "example": 1
          },
          "deletable": {
           "type": "boolean",
           "description": "Indicates if the classification can be deleted",
           "example": true,
           "readOnly": true
          },
          "company_visible": {
           "type": "boolean",
           "description": "Is the classification visible as a company classification",
           "example": false
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the classification was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the classification was created",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_by_id": {
           "type": "integer",
           "description": "The user ID the classification was created with",
           "example": 7
          },
          "project_ids": {
           "type": "array",
           "items": {
            "type": "integer",
            "description": "Project ids the classification has belongs to",
            "example": [
             2,
             4,
             56,
             78
            ]
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Classification",
    "description": "Updating a Classification",
    "tags": [
     "Work Classification"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Classification",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Work Classification Body",
        "type": "object",
        "required": [
         "work_classification"
        ],
        "properties": {
         "work_classification": {
          "title": "WorkClassification",
          "type": "object",
          "description": "Work Classification Object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the classification",
            "example": "Driver"
           },
           "abbreviation": {
            "type": "string",
            "description": "The shortened form of classification",
            "example": "DR1"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Classification updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Work Classification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 57869
          },
          "name": {
           "type": "string",
           "description": "The name of the classification",
           "example": "Driver"
          },
          "abbreviation": {
           "type": "string",
           "description": "The shortened form of classification",
           "example": "DR1"
          },
          "company_id": {
           "type": "integer",
           "description": "The comapny ID the classification was created with",
           "example": 1
          },
          "deletable": {
           "type": "boolean",
           "description": "Indicates if the classification can be deleted",
           "example": true,
           "readOnly": true
          },
          "company_visible": {
           "type": "boolean",
           "description": "Is the classification visible as a company classification",
           "example": false
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the classification was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the classification was created",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_by_id": {
           "type": "integer",
           "description": "The user ID the classification was created with",
           "example": 7
          },
          "project_ids": {
           "type": "array",
           "items": {
            "type": "integer",
            "description": "Project ids the classification has belongs to",
            "example": [
             2,
             4,
             56,
             78
            ]
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating a Classification",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {work_classification: {name: 'Driver', abbreviation: 'DR1'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"work_classification\\\":{\\\"name\\\":\\\"Driver\\\",\\\"abbreviation\\\":\\\"DR1\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"work_classification\":{\"name\":\"Driver\",\"abbreviation\":\"DR1\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"work_classification\\\":{\\\"name\\\":\\\"Driver\\\",\\\"abbreviation\\\":\\\"DR1\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Classification",
    "description": "Deleting a Classification",
    "tags": [
     "Work Classification"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Classification",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Work Classification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 57869
          },
          "name": {
           "type": "string",
           "description": "The name of the classification",
           "example": "Driver"
          },
          "abbreviation": {
           "type": "string",
           "description": "The shortened form of classification",
           "example": "DR1"
          },
          "company_id": {
           "type": "integer",
           "description": "The comapny ID the classification was created with",
           "example": 1
          },
          "deletable": {
           "type": "boolean",
           "description": "Indicates if the classification can be deleted",
           "example": true,
           "readOnly": true
          },
          "company_visible": {
           "type": "boolean",
           "description": "Is the classification visible as a company classification",
           "example": false
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the classification was updated",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the classification was created",
           "example": "2019-12-10T22:10:33Z"
          },
          "created_by_id": {
           "type": "integer",
           "description": "The user ID the classification was created with",
           "example": 7
          },
          "project_ids": {
           "type": "array",
           "items": {
            "type": "integer",
            "description": "Project ids the classification has belongs to",
            "example": [
             2,
             4,
             56,
             78
            ]
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/work_classifications/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}